<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.drafts-utilities</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>0F3BB1D5-25E5-4DDC-BB38-4C261621555B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79405FF0-A2F1-462E-8A8F-AC1F83CC4C1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10BEA201-3D46-4F89-ADB1-10704261A8C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08BA2565-9B60-4A1C-BC0E-7BCD74ADF899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22EE3D97-E411-483F-A1E1-4CF4765B46F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD67A894-ED1C-4DAA-84B7-113B91E18326</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Append</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F193D53-A438-48E3-AA84-18737E10DC34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39D867E1-D394-4E7F-877D-8EB2EF9A0271</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7120E8F-EA62-493E-A579-D2AF02810768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>439E285A-5910-4060-8D7A-1470424F6D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E65BE4E1-C446-4840-A1D2-0033CA73F1EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4838A2F3-53D2-43E5-9852-C92E421CCD26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3FDBE13-E7E8-4D2A-B488-31005068420C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E5B84C8-6F38-4660-BF59-079EE3D12150</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C046315C-70E4-48A1-A057-62723A1FA39D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FDFE4FA-1CAE-492D-8B90-963E3A9E09F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDA1F410-54D5-4017-B8AC-9FCF2D0ED98B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BE83D79-01AE-4F6B-98CE-C100A926316F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FDFE4FA-1CAE-492D-8B90-963E3A9E09F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D7A3430-BB1E-45FC-B14A-D1A9EC523D6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E5B84C8-6F38-4660-BF59-079EE3D12150</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74B62267-C649-4561-93C7-DCBDD98B8D63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8204D79D-4995-48A5-965C-F3DB3E7D0E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79405FF0-A2F1-462E-8A8F-AC1F83CC4C1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07FA7C90-3407-4EC9-A790-9846DCDE2A4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B4F8DF4-D76C-419E-A643-E2667687215E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44ACF59E-80E4-46E2-99C3-E424AAF3B5D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F193D53-A438-48E3-AA84-18737E10DC34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77E992B5-E489-4B56-A178-7C1CB761F733</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9CB86CF0-AB9E-4F11-B023-41E4E2A44AC9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79405FF0-A2F1-462E-8A8F-AC1F83CC4C1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>803872F9-9E6E-40EE-BCCE-C0A71698B224</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2BDE635-2747-44A5-A4B5-4E7551E8E371</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2947FAB-D8BF-4629-854B-015F5A11E9E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAD44650-CAFD-4C9E-84D9-6710E38A751C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B54825E1-4FFA-41D2-9B3E-D83891E612C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>439E285A-5910-4060-8D7A-1470424F6D2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B970369A-B4DB-46EE-8725-1BF669D561C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42389168-DDFE-4158-93B7-8AD8E3B7564E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAD44650-CAFD-4C9E-84D9-6710E38A751C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65FBA979-932F-4451-886B-E14284E89A1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD67A894-ED1C-4DAA-84B7-113B91E18326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BE83D79-01AE-4F6B-98CE-C100A926316F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E65BE4E1-C446-4840-A1D2-0033CA73F1EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3D6E3BB-81DF-431C-A6F1-175075F74679</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5CD04E3-5A08-4191-9DAA-FB7C95953587</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8479954D-12AF-484E-94BC-FA244E2ECF27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6A1C8B1-4191-4F60-966D-38C835B0142A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79405FF0-A2F1-462E-8A8F-AC1F83CC4C1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDA1F410-54D5-4017-B8AC-9FCF2D0ED98B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>803872F9-9E6E-40EE-BCCE-C0A71698B224</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>OCR, Search, and other Utilities</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Drafts Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH

temp_image="$alfred_workflow_cache""/temp_ocr_snapshot.png"
mkdir -p "$alfred_workflow_cache"
screencapture -i "$temp_image"

tesseract "$temp_image" stdout -l $ocr_languages 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>drafts_ocr.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>439E285A-5910-4060-8D7A-1470424F6D2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Drafts" to make new draft with properties {content: "{query}", tags: {"OCR"}}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E65BE4E1-C446-4840-A1D2-0033CA73F1EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📸 OCR Text saved in Drafts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E3D6E3BB-81DF-431C-A6F1-175075F74679</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B54825E1-4FFA-41D2-9B3E-D83891E612C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>drafts://append?uuid={var:uuid}&amp;text=- {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDA1F410-54D5-4017-B8AC-9FCF2D0ED98B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:text}'</string>
				<key>title</key>
				<string>✅ Text appended</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A2BDE635-2747-44A5-A4B5-4E7551E8E371</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Drafts.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>803872F9-9E6E-40EE-BCCE-C0A71698B224</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Text to Append: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6BE83D79-01AE-4F6B-98CE-C100A926316F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FDFE4FA-1CAE-492D-8B90-963E3A9E09F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>uuid</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD67A894-ED1C-4DAA-84B7-113B91E18326</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading matching drafts...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>find_draft.py</string>
				<key>subtext</key>
				<string>Search for draft in inbox with following content</string>
				<key>title</key>
				<string>Search Draft Inbox</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22EE3D97-E411-483F-A1E1-4CF4765B46F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>drafts://open?uuid={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>77E992B5-E489-4B56-A178-7C1CB761F733</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr</string>
				<key>subtext</key>
				<string>for "{query}"</string>
				<key>text</key>
				<string>Search Installed Actions...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5CD04E3-5A08-4191-9DAA-FB7C95953587</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>drafts://x-callback-url/actionSearch?query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8479954D-12AF-484E-94BC-FA244E2ECF27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F6A1C8B1-4191-4F60-966D-38C835B0142A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^\w{8}-\w{4}-\w{4}-\w{4}-\w{12}$</string>
						<key>outputlabel</key>
						<string>open UUID</string>
						<key>uid</key>
						<string>9CB86CF0-AB9E-4F11-B023-41E4E2A44AC9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>new draft</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7F193D53-A438-48E3-AA84-18737E10DC34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Draft created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07FA7C90-3407-4EC9-A790-9846DCDE2A4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>save-to-drafts_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79405FF0-A2F1-462E-8A8F-AC1F83CC4C1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr</string>
				<key>subtext</key>
				<string>for "{query}"</string>
				<key>text</key>
				<string>Search Action Directory...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10BEA201-3D46-4F89-ADB1-10704261A8C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://actions.getdrafts.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>08BA2565-9B60-4A1C-BC0E-7BCD74ADF899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Save to Drafts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>0F3BB1D5-25E5-4DDC-BB38-4C261621555B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Drafts"
		click menu item "Archive" of menu of menu item "Basic" of menu "Actions" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3FDBE13-E7E8-4D2A-B488-31005068420C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://forums.getdrafts.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42389168-DDFE-4158-93B7-8AD8E3B7564E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>51</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>⌫</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4838A2F3-53D2-43E5-9852-C92E421CCD26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr</string>
				<key>subtext</key>
				<string>for "{query}"</string>
				<key>text</key>
				<string>Search Forum...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B970369A-B4DB-46EE-8725-1BF669D561C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>74B62267-C649-4561-93C7-DCBDD98B8D63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C046315C-70E4-48A1-A057-62723A1FA39D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Drafts"
		set frontmost to true
		click menu item "Manage Actions..." of menu "Actions" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8204D79D-4995-48A5-965C-F3DB3E7D0E46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting list information from online repo...</string>
				<key>script</key>
				<string>curl https://raw.githubusercontent.com/sylumer/drafts-links/main/scripting.json </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a link</string>
				<key>title</key>
				<string>Scripting Reference</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D7A3430-BB1E-45FC-B14A-D1A9EC523D6D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*\|\|(.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4E5B84C8-6F38-4660-BF59-079EE3D12150</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>39D867E1-D394-4E7F-877D-8EB2EF9A0271</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting list information from online repo...</string>
				<key>script</key>
				<string>curl https://raw.githubusercontent.com/sylumer/drafts-links/main/docs.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a link</string>
				<key>title</key>
				<string>Documentation</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2947FAB-D8BF-4629-854B-015F5A11E9E8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Drafts" to	click menu item "Quick Search" of menu of menu item "Find" of menu "Edit" of menu bar 1
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7120E8F-EA62-493E-A579-D2AF02810768</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>65FBA979-932F-4451-886B-E14284E89A1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*\|\|(.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>BAD44650-CAFD-4C9E-84D9-6710E38A751C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p "qref_templatetags.html"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>44ACF59E-80E4-46E2-99C3-E424AAF3B5D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>dr templatetags</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show Template Tag Cheatsheet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7B4F8DF4-D76C-419E-A643-E2667687215E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>OCR requires Tesseract

Saving to Drafts requires Brave Browser (or changing the Browser in the Script)

---

Credits: Drafts search and script reference search are based on the fantastic [Doctor Drafts](https://doctordrafts.thoughtasylum.com/).

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>07FA7C90-3407-4EC9-A790-9846DCDE2A4D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>08BA2565-9B60-4A1C-BC0E-7BCD74ADF899</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>0F3BB1D5-25E5-4DDC-BB38-4C261621555B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>10BEA201-3D46-4F89-ADB1-10704261A8C7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Search Action Directory</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>22EE3D97-E411-483F-A1E1-4CF4765B46F0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Search Draft</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>39D867E1-D394-4E7F-877D-8EB2EF9A0271</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Quick Switcher</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>42389168-DDFE-4158-93B7-8AD8E3B7564E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>439E285A-5910-4060-8D7A-1470424F6D2F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>needs tesseract &amp; tesseract-lang</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>44ACF59E-80E4-46E2-99C3-E424AAF3B5D8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>1005</real>
		</dict>
		<key>4838A2F3-53D2-43E5-9852-C92E421CCD26</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>archive</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>4E5B84C8-6F38-4660-BF59-079EE3D12150</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>4FDFE4FA-1CAE-492D-8B90-963E3A9E09F2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>65FBA979-932F-4451-886B-E14284E89A1E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>6BE83D79-01AE-4F6B-98CE-C100A926316F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>6D7A3430-BB1E-45FC-B14A-D1A9EC523D6D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Search Script Reference</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>74B62267-C649-4561-93C7-DCBDD98B8D63</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open "manage actions"</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>77E992B5-E489-4B56-A178-7C1CB761F733</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>open Draft</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>79405FF0-A2F1-462E-8A8F-AC1F83CC4C1A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>7B4F8DF4-D76C-419E-A643-E2667687215E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Cheat Sheet Placeholders</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>1005</real>
		</dict>
		<key>7F193D53-A438-48E3-AA84-18737E10DC34</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>803872F9-9E6E-40EE-BCCE-C0A71698B224</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>hide</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8204D79D-4995-48A5-965C-F3DB3E7D0E46</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>8479954D-12AF-484E-94BC-FA244E2ECF27</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>A2BDE635-2747-44A5-A4B5-4E7551E8E371</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A7120E8F-EA62-493E-A579-D2AF02810768</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>B2947FAB-D8BF-4629-854B-015F5A11E9E8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Search Documentation</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>B54825E1-4FFA-41D2-9B3E-D83891E612C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Screenshot to OCR to Drafts &amp; Clipboard

Recommended Hotkey: ⇧⌘2</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B970369A-B4DB-46EE-8725-1BF669D561C5</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Search Forum</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>BAD44650-CAFD-4C9E-84D9-6710E38A751C</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>C046315C-70E4-48A1-A057-62723A1FA39D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>C3FDBE13-E7E8-4D2A-B488-31005068420C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>DD67A894-ED1C-4DAA-84B7-113B91E18326</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>E3D6E3BB-81DF-431C-A6F1-175075F74679</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E65BE4E1-C446-4840-A1D2-0033CA73F1EB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Create Draft</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F5CD04E3-5A08-4191-9DAA-FB7C95953587</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Search Installed Actions</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>F6A1C8B1-4191-4F60-966D-38C835B0142A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Save Selection to Drafts, or Brave Tab</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>FDA1F410-54D5-4017-B8AC-9FCF2D0ED98B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>append to Draft</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ocr_languages</key>
		<string>eng+deu</string>
		<key>tagToExcludeFromSearch</key>
		<string>tasklist</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>tagToExcludeFromSearch</string>
	</array>
	<key>version</key>
	<string>0.8</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
