<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.browser-tweaks</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C56343EE-3B55-46B4-928B-53277D5E63E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64E7E716-0427-41F0-844C-90D39ACC9152</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73794C72-64EA-441F-BE9A-67FB5F1A885C</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Open local folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7B82F1A-97F8-490C-B4A4-5589FA869579</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Chrome Web Store URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>692B8788-C546-49E7-B8EC-A569E3DD97B0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open in Chrome Webstore</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>692B8788-C546-49E7-B8EC-A569E3DD97B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B420E59A-1B4A-418D-B29E-35104387F051</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE014993-DDE8-4A34-A31A-CEB9AC1C3E62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C56343EE-3B55-46B4-928B-53277D5E63E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFFDBA22-CF65-4C1A-BE4E-FE0B1FFC3E6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C65CD77E-C2B3-4063-B045-C1954E7FE033</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCE7F564-6403-4269-AE2A-CC28F9795807</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC0956CC-9233-46F1-B5C4-05798BC54EDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE014993-DDE8-4A34-A31A-CEB9AC1C3E62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31853D4F-3AE9-42E3-B553-89F48EFF2F96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2A235ABB-A752-4BA6-8E00-11B868895742</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9D522271-342F-4100-BA21-67CFB786FBCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Open extension settings or special pages of Chrome (or any other Chromium-based browser)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chromium Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>73794C72-64EA-441F-BE9A-67FB5F1A885C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/installed-browser-extensions.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Installed Chrome Extensions</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64E7E716-0427-41F0-844C-90D39ACC9152</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C56343EE-3B55-46B4-928B-53277D5E63E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string>Current Browser Tab</string>
				<key>text</key>
				<string>Switch to Safari</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F170814-90DD-485E-A861-757A4FD92606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BFFDBA22-CF65-4C1A-BE4E-FE0B1FFC3E6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B7B82F1A-97F8-490C-B4A4-5589FA869579</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://archive.is/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>31853D4F-3AE9-42E3-B553-89F48EFF2F96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>692B8788-C546-49E7-B8EC-A569E3DD97B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string>cat ./scripts/chrome-internal-pages.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>installed-browser-extensions.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Chrome Internal Pages</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C65CD77E-C2B3-4063-B045-C1954E7FE033</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://spaywall.com/news/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2A235ABB-A752-4BA6-8E00-11B868895742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paywall</string>
				<key>subtext</key>
				<string>Current Browser Tab</string>
				<key>text</key>
				<string>Skip Paywall</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B420E59A-1B4A-418D-B29E-35104387F051</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CE014993-DDE8-4A34-A31A-CEB9AC1C3E62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.smry.ai/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9D522271-342F-4100-BA21-67CFB786FBCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paywall</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Re-Install bypass-paywall</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CCE7F564-6403-4269-AE2A-CC28F9795807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/install-bypass-paywall.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC0956CC-9233-46F1-B5C4-05798BC54EDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Switch to Safari</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>2A235ABB-A752-4BA6-8E00-11B868895742</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>31853D4F-3AE9-42E3-B553-89F48EFF2F96</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>64E7E716-0427-41F0-844C-90D39ACC9152</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>chrome extension search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>692B8788-C546-49E7-B8EC-A569E3DD97B0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>73794C72-64EA-441F-BE9A-67FB5F1A885C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>9D522271-342F-4100-BA21-67CFB786FBCA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>B420E59A-1B4A-418D-B29E-35104387F051</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>try to skip paywall</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>B7B82F1A-97F8-490C-B4A4-5589FA869579</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>BC0956CC-9233-46F1-B5C4-05798BC54EDE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>BFFDBA22-CF65-4C1A-BE4E-FE0B1FFC3E6B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>C56343EE-3B55-46B4-928B-53277D5E63E8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>C65CD77E-C2B3-4063-B045-C1954E7FE033</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>chrome internal page search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>CCE7F564-6403-4269-AE2A-CC28F9795807</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>install bypass paywall</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>CE014993-DDE8-4A34-A31A-CEB9AC1C3E62</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>BraveSoftware/Brave-Browser</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Brave Browser</string>
						<string>BraveSoftware/Brave-Browser</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Browser</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser_defaults_path</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
