<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.folded-paper.menu-bar-search</string>
	<key>connections</key>
	<dict>
		<key>25DA0D72-264A-4CD8-9A6A-9FFD4B652DF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DFF277-2C74-48D3-B685-F304268DF007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>892B9EF8-E33C-4D32-BBEB-591DFBEFFFEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25DA0D72-264A-4CD8-9A6A-9FFD4B652DF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8DFF277-2C74-48D3-B685-F304268DF007</key>
		<array/>
		<key>CD061C82-1321-458D-B46E-3603B3DB27E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE6777D4-DFB9-460C-897D-EB6C45E6A769</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>Search through menu options for front-most application</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Menu Bar Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>892B9EF8-E33C-4D32-BBEB-591DFBEFFFEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./menu -click "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8DFF277-2C74-48D3-B685-F304268DF007</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>m</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./menu \
-cache 2 \
-max-children "$maxItemsPerMenu" \
-max-depth "$maxSubMenusToSearch" \
-show-disabled "$showDisabledItems" \
-show-apple-menu "$showAppleMenuItems" \
-async \
-recache "$recacheOnStartup" \
-query "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Menu Bar Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25DA0D72-264A-4CD8-9A6A-9FFD4B652DF1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ms</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./menu -show-folders</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Menu search folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD061C82-1321-458D-B46E-3603B3DB27E0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>CE6777D4-DFB9-460C-897D-EB6C45E6A769</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Menu Bar Search

Quickly search menu bar items of the front most application.

Based on modifications done by ctwise, which is based almost entirely on menu bar search workflow by Jeroen van der Neut.

## Usage

Type `m` in Alfred to list menu bar items for front most application
You can filter menu items by name, or do a fuzzy search.

E.g

- `m new tab` will match the menu item **New Tab**
- `m cw` will match the menu item **Close Window**


## Change log

- 1.0 - Initial Release
- 1.1 - Added Fuzzy Text Matching for Menus

  If you have a menu item `New Tab`, then typing `m nt` in Alfred will match `New Tab`, since `n` and `t` matches the first letters of the menu text.

- 1.1.1 - Changed run behaviour to terminate previous script, this makes the experience slightly more faster
- 1.2 - Completely native menu clicking, removed reliance on AppleScript
  - 1.2.1 - Performance improvements when generating menus using direct JSON encoding
  - 1.2.2 - More performance improvements while filtering menu items
- 1.3 - Added `-async` flag to allow threaded scanning and populating of menus
- 1.4 - Added `-cache` setting to enable menu result caching and also set a timeout for cache invalidation
  - 1.4.1 - Invalidate cache (if present) after actioning a menu press
  - 1.4.2 - Slide the cache invalidation window forward in case we get invalidated by a near miss
  - 1.4.3 - Speed improvements to caching, text search and fuzzy matching
  - 1.4.4 - Added `-no-apple-menu` flag that will skip the apple menu items
  - 1.4.5 - Tuned fuzzy matcher, allows non-continuous anchor token search
- 1.5 - Faster caching using protocol buffers
  - 1.5.1 - Reduced file creation for cache storage
  - 1.5.2 - Better support for command line apps that create menu bar owning applications
  - 1.5.3 - Protocol buffer everything - microscopic speed improvements, but hey...

  - 1.5.4 - Added various environment variables to fine tune menu listings
  - 1.5.5 - Tweaked ranking of search results for better menu listings

- 1.6 - added per app customization settings, `-show-apple-menu` flag
- 1.7 - universal build for M1 and Intel
- 1.8 - fixed universal build
- 1.9 - changed to user configuration, and signed executable (exported using Alfred 5)
- 2.0 - Alfred workflow gallery support! With added shortcut search, brand new configuration settings, tweaks to caching behaviour, brand new icons</string>
	<key>uidata</key>
	<dict>
		<key>25DA0D72-264A-4CD8-9A6A-9FFD4B652DF1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>892B9EF8-E33C-4D32-BBEB-591DFBEFFFEC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Thanks for downloading! 

I highly recommend you set a hotkey for this so that it's even easier to trigger it.

I personally set it to double-tapping the ⌘ (command) key.</string>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>C8DFF277-2C74-48D3-B685-F304268DF007</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>CD061C82-1321-458D-B46E-3603B3DB27E0</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>CE6777D4-DFB9-460C-897D-EB6C45E6A769</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>40</string>
				<key>placeholder</key>
				<string>Enter a postive integer, defaults to 40</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This configuration controls how many menu items should be loaded at every level of the menu hierarchy. 

Limiting this will speed up getting results, but you can tweak this in case you need to fetch more results.

Some applications, e.g. internet browsers, may offer a "History" menu of all web pages accessed, which may contain a lot of sub-menu items. Loading all of them will make the workflow slow, and we limit to the first few, as specified using this configuration.</string>
			<key>label</key>
			<string>Maximum items per menu</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>maxItemsPerMenu</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10</string>
				<key>placeholder</key>
				<string>Enter a postive integer, defaults to 10</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>How deep should we search for menu items.

The depth of a menu item is determined by how many menu entries you need to select to reach that menu item. E.g. If you have a menu structure like "File → Export → Export to PDF", the "Export to PDF" is at a depth of 2, since that option has two menu items in its path:  "File" and "Export".

Limiting the depth allows for the menus to be loaded quicker.</string>
			<key>label</key>
			<string>Maximum sub menu depth</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>maxSubMenusToSearch</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show in search results</string>
			</dict>
			<key>description</key>
			<string>If enabled, disabled menu items will be displayed. Selecting them may not perform any valid action in the focused app.</string>
			<key>label</key>
			<string>Disabled menu items</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showDisabledItems</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show in search results</string>
			</dict>
			<key>description</key>
			<string>Determines if menu items from the Apple menu be included in the search results. By default, we only include the app-specific menu items.</string>
			<key>label</key>
			<string>Apple  menu items</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showAppleMenuItems</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Refresh on every new search</string>
			</dict>
			<key>description</key>
			<string>When enabled, we will refresh all cached menu items for the current app when starting a new search.

If disabled, the previous cached menu items are loaded (if they exist).

Keeping this enabled incurs a slight delay for new searches, but ensures you will always have menu items that are the latest.

Recommended to keep this enabled always.</string>
			<key>label</key>
			<string>Cached menu items</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>recacheOnStartup</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/BenziAhamed/Menu-Bar-Search</string>
</dict>
</plist>
