<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	asGY1NWPgAEISAgg2sEzaPPzD0d7sDEdmidJ9tFDfQ0mx59+964pwToVh+7Lo2rPJkPU
	CeJqeerObhV/ipD6SNDCHr0D919b0LOlNTAIJjVV+50MXE6BT2Ic+Wgz4XAPwul7XpFJ
	Ltrq/2QfYNWT2OJn9ZeZtirX9/ylhzA1T9k=
	</data>
</dict>
</plist>
