<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.steam-companion</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>05C4C60C-B10E-458D-AC84-D9FB7F295D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB91449-3925-4942-B516-80A92E4819BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F024FB6-9D47-4A64-A807-FD42D1F697AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF59A4CC-06C0-46C8-A983-CFD5C0DBF0AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>130F4FF4-2518-4EA9-8490-CF4B5EFD7434</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F024FB6-9D47-4A64-A807-FD42D1F697AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BB84FD8-A5C0-45D1-93FA-934D88611360</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73EA22AF-FBE2-456B-BD49-B7FFF56A8494</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>49DDF83E-D711-4230-828B-95FE19AFC74D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E702FA46-8829-45A0-A1C5-E15ACDA51E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D93C6F9-3F7A-420C-9925-5E608637E77F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97DF2F1F-128F-4AAD-B07C-C24C29DB1FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>265C0DBA-B4ED-4C16-A7DC-BA7614D793A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30AE3F4A-D25D-4B99-8C17-D14923BE9FB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D4B614B-7170-4B16-9B24-11F91FE6B24A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB91449-3925-4942-B516-80A92E4819BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F5A0881-383A-40BB-B4F2-6C35477F16F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8EF59E3-EDD8-4DD3-94C8-7F39D5A558E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>68543536-838A-4226-A3CB-A7B18505F69F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D4B614B-7170-4B16-9B24-11F91FE6B24A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E93A0397-7F0B-449D-A51E-44AC6D8556ED</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5E2CE02-114E-44F4-B7F2-55FAA41C6D5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5060B8D0-A9F0-4FC7-9838-48360EE60DA0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED6135B3-C7DF-4145-B892-4F3C5BAC1A68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>451F1455-C85A-42AC-82B0-6ADC75EF5E1F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C16515C-9FA0-4C17-964C-2F8982773727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30AE3F4A-D25D-4B99-8C17-D14923BE9FB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96E55537-7FAD-4324-8A90-3B621BF0AA9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C16515C-9FA0-4C17-964C-2F8982773727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>265C0DBA-B4ED-4C16-A7DC-BA7614D793A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F0217AE-6A9E-4DDA-97C1-9D86DCA77B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>130F4FF4-2518-4EA9-8490-CF4B5EFD7434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EB83EDB-2478-4B1E-AAD4-BA993B3B8FDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB91449-3925-4942-B516-80A92E4819BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73EA22AF-FBE2-456B-BD49-B7FFF56A8494</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EC0740E-6D07-4BED-9068-D9BED0F9501E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EC0740E-6D07-4BED-9068-D9BED0F9501E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9115C57D-A6FD-489D-8207-12678F202CA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AF4D8D1-A5FB-4E39-B0BB-2DEE3DC8A775</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CCA0473-2BF0-4783-9CE0-69BD10FFC23F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9115C57D-A6FD-489D-8207-12678F202CA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF214C23-479E-434A-B3AB-DA1806D01BAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96E55537-7FAD-4324-8A90-3B621BF0AA9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F0217AE-6A9E-4DDA-97C1-9D86DCA77B59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97DF2F1F-128F-4AAD-B07C-C24C29DB1FD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05C4C60C-B10E-458D-AC84-D9FB7F295D35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98B412EA-EC82-4B28-B15D-CB8E9A5DE045</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EB83EDB-2478-4B1E-AAD4-BA993B3B8FDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CCA0473-2BF0-4783-9CE0-69BD10FFC23F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F5A0881-383A-40BB-B4F2-6C35477F16F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5E2CE02-114E-44F4-B7F2-55FAA41C6D5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB91449-3925-4942-B516-80A92E4819BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4C3B9D0-9DDC-472E-89C6-462FACD938A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1C0E12A-84DE-45BB-95B9-FD0D6C82FC5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8EF59E3-EDD8-4DD3-94C8-7F39D5A558E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98B412EA-EC82-4B28-B15D-CB8E9A5DE045</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF59A4CC-06C0-46C8-A983-CFD5C0DBF0AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F18A605F-5A47-4E70-9271-304B8C698020</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF214C23-479E-434A-B3AB-DA1806D01BAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AF4D8D1-A5FB-4E39-B0BB-2DEE3DC8A775</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D98BBE17-7312-4453-9184-90252F6D560F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4C3B9D0-9DDC-472E-89C6-462FACD938A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E1C0E12A-84DE-45BB-95B9-FD0D6C82FC5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BB84FD8-A5C0-45D1-93FA-934D88611360</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E702FA46-8829-45A0-A1C5-E15ACDA51E2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EC0740E-6D07-4BED-9068-D9BED0F9501E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED6135B3-C7DF-4145-B892-4F3C5BAC1A68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB91449-3925-4942-B516-80A92E4819BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F18A605F-5A47-4E70-9271-304B8C698020</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D93C6F9-3F7A-420C-9925-5E608637E77F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Launches games directly, creates aliases, uninstalls games, searches the Steam Store, and more</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Steam Companion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>98B412EA-EC82-4B28-B15D-CB8E9A5DE045</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>steam://run/{var:game_id}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5EB83EDB-2478-4B1E-AAD4-BA993B3B8FDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Launching "{var:game_name}"...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B8EF59E3-EDD8-4DD3-94C8-7F39D5A558E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># get Steam user ID
user_id=`sed -n 3p ~/Library/Application\ Support/Steam/config/loginusers.vdf | cut -d '"' -f 2`

# get list of games in library of that user, by scrapping the public profile
curl "https://steamcommunity.com/profiles/$user_id/games/?tab=all" | grep -o -e 'appid[^\\]*logo' | cut -d '"' -f 2,5 | tr -d '":' | tr -s '\n' ';'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73EA22AF-FBE2-456B-BD49-B7FFF56A8494</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>input = "{query}";
var games = input.split(";");

let game_array = []; //array for elements of script filter

games.forEach(element =&gt; { //foreach item in list
  temp = element.split(","); //split name and id of the game
  game_id = "Steam ID: " + temp[0];
  game_name = temp[1];
  game_array.push ({ // Add to empty array
    'title': game_name, 
    'subtitle': game_id, 
    'arg': element 
  }) 
});

JSON.stringify({ 'items': game_array })// Transform it into JSON Alfred understands</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EC0740E-6D07-4BED-9068-D9BED0F9501E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>steam://install/{var:game_id}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2D4B614B-7170-4B16-9B24-11F91FE6B24A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{"items": [

  {
    "uid": "1",
    "title": "Launch...",
    "subtitle": "search games for '{query}'",
    "arg": "launch;{query}",
    "icon": {
			"path": "launch.png"
		}
  },
  {
    "uid": "2",
    "title": "Uninstall...",
    "subtitle": "search installs for '{query}'",
    "arg": "uninstall;{query}",
    "icon": {
			"path": "uninstall.png"
		}
  },
  {
    "uid": "3",
    "title": "Create Alias for...",
    "subtitle": "search installed games for '{query}'",
    "arg": "alias;{query}",
    "icon": {
			"path": "shortcut.png"
		}
  },
  {
    "uid": "10",
    "title": "Install Game from Library...",
    "subtitle": "search public library for '{query}'",
    "arg": "install;{query}",
    "icon": {
			"path": "install.png"
		}
  }
] }
EOB</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Launching Steam Companion...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D98BBE17-7312-4453-9184-90252F6D560F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>search steam library</string>
						<key>uid</key>
						<string>49DDF83E-D711-4230-828B-95FE19AFC74D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>search local installs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1BB84FD8-A5C0-45D1-93FA-934D88611360</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>input</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>B4C3B9D0-9DDC-472E-89C6-462FACD938A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:input1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{var:input1}</string>
					<key>searchstring</key>
					<string>{var:input2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E1C0E12A-84DE-45BB-95B9-FD0D6C82FC5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/chrisgrieser/alfred-steam-companion/main/info.plist'
readonly workflow_url='chrisgrieser/alfred-steam-companion'
readonly download_type='github_release'
readonly frequency_check='1'


# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EB91449-3925-4942-B516-80A92E4819BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># get list of games installed on the local machine
echo | ( IFS=$'\n'; for D in ~/Library/Application\ Support/Steam $(egrep '^[^"]*"[0-9]+"' ~/Library/Application\ Support/Steam/steamapps/libraryfolders.vdf | cut -d\" -f4); do for F in "$D"/steamapps/appmanifest_*.acf; do printf "%s,%s;" $(grep '"appid"' "$F" | cut -d\" -f4) $(grep '"name"' "$F" | cut -d\" -f4); done; done )

# based on https://www.reddit.com/r/wine_gaming/comments/g207h4/steam_appids_and_how_to_get_them_easily_with_bash/fnip538/?context=3</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E702FA46-8829-45A0-A1C5-E15ACDA51E2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>launch</string>
						<key>outputlabel</key>
						<string>launch</string>
						<key>uid</key>
						<string>68543536-838A-4226-A3CB-A7B18505F69F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>install</string>
						<key>outputlabel</key>
						<string>install</string>
						<key>uid</key>
						<string>E93A0397-7F0B-449D-A51E-44AC6D8556ED</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>uninstall</string>
						<key>outputlabel</key>
						<string>uninstall</string>
						<key>uid</key>
						<string>5060B8D0-A9F0-4FC7-9838-48360EE60DA0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>validate</string>
						<key>outputlabel</key>
						<string>validate</string>
						<key>uid</key>
						<string>451F1455-C85A-42AC-82B0-6ADC75EF5E1F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>create alias</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2F5A0881-383A-40BB-B4F2-6C35477F16F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>steam://uninstall/{var:game_id}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5E2CE02-114E-44F4-B7F2-55FAA41C6D5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>echo -n $games</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Scanning Machine for Steam Games...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CF214C23-479E-434A-B3AB-DA1806D01BAB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:searchstring}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>games</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9115C57D-A6FD-489D-8207-12678F202CA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>game_id</key>
					<string>{var:split1}</string>
					<key>game_name</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9CCA0473-2BF0-4783-9CE0-69BD10FFC23F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>8AF4D8D1-A5FB-4E39-B0BB-2DEE3DC8A775</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>steam://validate/{var:game_id}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ED6135B3-C7DF-4145-B892-4F3C5BAC1A68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>\/$</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>96E55537-7FAD-4324-8A90-3B621BF0AA9F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osacompile -o {query} ~'/Library/Application Support/Alfred/Workflow Data/de.chris-grieser.steam-companion/temp.scpt'

echo {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F024FB6-9D47-4A64-A807-FD42D1F697AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>You can look here whether the app for "{var:game_name}" has an icon you can copy for the created alias.</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>97DF2F1F-128F-4AAD-B07C-C24C29DB1FD7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>in '{var:path_for_aliases}'</string>
				<key>title</key>
				<string>✅ Alias for "{var:game_name}" created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F18A605F-5A47-4E70-9271-304B8C698020</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>BF59A4CC-06C0-46C8-A983-CFD5C0DBF0AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>temp.scpt</string>
				<key>filetext</key>
				<string>open location "steam://run/{var:game_id}"

-- look for app id here https://steamdb.info/

</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>3C16515C-9FA0-4C17-964C-2F8982773727</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>1D93C6F9-3F7A-420C-9925-5E608637E77F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support/Steam/steamapps/common/{var:game_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>05C4C60C-B10E-458D-AC84-D9FB7F295D35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:path_for_aliases}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>265C0DBA-B4ED-4C16-A7DC-BA7614D793A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}/{var:game_name}.app'</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3F0217AE-6A9E-4DDA-97C1-9D86DCA77B59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>\/$</string>
				<key>replacestring</key>
				<string>~/Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>30AE3F4A-D25D-4B99-8C17-D14923BE9FB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>'~</string>
				<key>replacestring</key>
				<string>~'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>130F4FF4-2518-4EA9-8490-CF4B5EFD7434</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Steam Companion (Alfred Workflow)

### Workflow for Alfred that enables various interactions with Steam
- launches a game, directly without opening the game library
- installs a game from the library
- uninstalls a game
- creates an alias (shortcut) for a game *(creating an alias by right-clicking the game in the Steam library does not work in the current Steam version, so this is basically a workaround)*
- searches the Steam Store – in the App or the default Browser
- launches your wishlist
- validates game files
- activates product
- launch Steam in Big Picture (+ there is a remote trigger for this)
- automatic updates of this workflow
- ...

---

### [Download the Latest Release](https://github.com/chrisgrieser/alfred-steam-companion/releases/latest)

*made by [Chris Grieser](https://chris-grieser.de/)*

---

![gif showcasing of the workflow](https://i.imgur.com/DzjU6iA.gif)

---
### Release Notes

version 1.4
buy-keyword to switch from Steam Store in Browser to Steam

version 1.4
- external trigger for big picture mode

version 1.3
- switch from Steam Store page in the browser to Steam App. useful, as buying in the browser and selecting "install game on my machine" does not work properly.

version 1.2.2
- performance improvement by adapting the OneUpdater implementation.
- fixed OneUpdater not working properly in 1.2

version 1.2:
- search Steam library for a game to install (only works on public profiles)

version 1.1: 
- launch in Big Picture
- validation of local game files
- activate product
- option to set the outputpath for Aliase
- restructuring of workflow, uses a script-filter instead of multiple keywords for easier search
- individual icons for all the options

version 1.0: 
- Initial release</string>
	<key>uidata</key>
	<dict>
		<key>05C4C60C-B10E-458D-AC84-D9FB7F295D35</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>0F024FB6-9D47-4A64-A807-FD42D1F697AA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>130F4FF4-2518-4EA9-8490-CF4B5EFD7434</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>845</integer>
		</dict>
		<key>1BB84FD8-A5C0-45D1-93FA-934D88611360</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>1D93C6F9-3F7A-420C-9925-5E608637E77F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>265C0DBA-B4ED-4C16-A7DC-BA7614D793A7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>2D4B614B-7170-4B16-9B24-11F91FE6B24A</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>2F5A0881-383A-40BB-B4F2-6C35477F16F5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>30AE3F4A-D25D-4B99-8C17-D14923BE9FB4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>3C16515C-9FA0-4C17-964C-2F8982773727</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>3F0217AE-6A9E-4DDA-97C1-9D86DCA77B59</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>5EB83EDB-2478-4B1E-AAD4-BA993B3B8FDC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>73EA22AF-FBE2-456B-BD49-B7FFF56A8494</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get games in library</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>7EB91449-3925-4942-B516-80A92E4819BA</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>1530</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>7EC0740E-6D07-4BED-9068-D9BED0F9501E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>jsonfy</string>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>8AF4D8D1-A5FB-4E39-B0BB-2DEE3DC8A775</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>9115C57D-A6FD-489D-8207-12678F202CA8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>96E55537-7FAD-4324-8A90-3B621BF0AA9F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>97DF2F1F-128F-4AAD-B07C-C24C29DB1FD7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>98B412EA-EC82-4B28-B15D-CB8E9A5DE045</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9CCA0473-2BF0-4783-9CE0-69BD10FFC23F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>995</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>A5E2CE02-114E-44F4-B7F2-55FAA41C6D5D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>B4C3B9D0-9DDC-472E-89C6-462FACD938A5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>B8EF59E3-EDD8-4DD3-94C8-7F39D5A558E6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>BF59A4CC-06C0-46C8-A983-CFD5C0DBF0AA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>CF214C23-479E-434A-B3AB-DA1806D01BAB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>D98BBE17-7312-4453-9184-90252F6D560F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>E1C0E12A-84DE-45BB-95B9-FD0D6C82FC5E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>E702FA46-8829-45A0-A1C5-E15ACDA51E2A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get installed games</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>ED6135B3-C7DF-4145-B892-4F3C5BAC1A68</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>F18A605F-5A47-4E70-9271-304B8C698020</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path_for_aliases</key>
		<string>~/Games</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>path_for_aliases</string>
	</array>
	<key>version</key>
	<string>1.2.2</string>
	<key>webaddress</key>
	<string>chris-grieser.de</string>
</dict>
</plist>
