<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>favourites</key>
	<array>
		<string>Keyword</string>
		<string>External</string>
		<string>Arg and Vars</string>
		<string>Open URL</string>
		<string>Junction</string>
		<string>Running Apps</string>
		<string>Universal Action</string>
		<string>Run Script</string>
		<string>Open File</string>
		<string>Conditional</string>
		<string>Hotkey</string>
	</array>
</dict>
</plist>
