<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>strikethrough.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>S</string>
				<key>modifiers</key>
				<integer>1310720</integer>
			</dict>
			<key>Required Apps</key>
			<array>
				<string>com.readdle.PDFExpert-Mac</string>
			</array>
			<key>Title</key>
			<string>Strikethrough</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Strikes the selected text out. Works in PDF Expert.</string>
	<key>Extension Identifier</key>
	<string>de.chris-grieser.popclip.extension.strikethrough</string>
	<key>Extension Name</key>
	<string>PDF Strikethrough</string>
</dict>
</plist>
