<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.applescript</string>
	<key>connections</key>
	<dict>
		<key>3ABD23F1-CEA2-4F4C-87E5-57CF15499457</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4FEB68D-858C-4177-9199-1F02A6DA36F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5033F0B3-7AA6-4246-8F68-71B6D78AA4A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D52A102C-B4B9-4113-BA76-A48551849E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53EE4AAD-B5D9-4209-959D-03FFFC8D4C0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D0D397-A65E-4EE7-8426-FC1433975C76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7966D27B-94EF-436F-BBA9-36BEDE88A1DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53EE4AAD-B5D9-4209-959D-03FFFC8D4C0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A324AB94-76D5-49F4-8BB0-43ECFC91B5F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DBCB7F3-4E52-4F11-B136-1E398FF2554F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63C812EE-31EF-46C4-ABD8-620B45CFB47E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9A2D2EB-7907-43E0-BE27-C380115C533C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5033F0B3-7AA6-4246-8F68-71B6D78AA4A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3618AEA-BD59-48AE-B89B-E306198C42D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B80CFCBA-048C-4741-A6D2-AA7CF4E683D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D52A102C-B4B9-4113-BA76-A48551849E04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ABD23F1-CEA2-4F4C-87E5-57CF15499457</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A4717934-78B8-4008-9E1E-95B08232C5F9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>48D0CC88-D7B6-4692-8923-09DB604A1C84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1D0D397-A65E-4EE7-8426-FC1433975C76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A324AB94-76D5-49F4-8BB0-43ECFC91B5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Applescript</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2DBCB7F3-4E52-4F11-B136-1E398FF2554F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>appid</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get the App ID of '{query}'</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>7966D27B-94EF-436F-BBA9-36BEDE88A1DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n `osascript -e 'id of app "{query}"' `</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A324AB94-76D5-49F4-8BB0-43ECFC91B5F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>appname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E1D0D397-A65E-4EE7-8426-FC1433975C76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\/.*\/(.*)\.app</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>53EE4AAD-B5D9-4209-959D-03FFFC8D4C0C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>App ID: '{query}'</string>
				<key>title</key>
				<string>✅ Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63C812EE-31EF-46C4-ABD8-620B45CFB47E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>(or a first-party app)</string>
				<key>title</key>
				<string>🛑 No AppleScript Dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3ABD23F1-CEA2-4F4C-87E5-57CF15499457</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A4FEB68D-858C-4177-9199-1F02A6DA36F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>echo -n `find "{query}" -name '*.sdef'`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5033F0B3-7AA6-4246-8F68-71B6D78AA4A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>as</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show AppleScript Dictionary of an App</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>A9A2D2EB-7907-43E0-BE27-C380115C533C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no sdef</string>
						<key>uid</key>
						<string>A4717934-78B8-4008-9E1E-95B08232C5F9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>sdef there</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D52A102C-B4B9-4113-BA76-A48551849E04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>48D0CC88-D7B6-4692-8923-09DB604A1C84</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Script Editor" to activate
delay 0.3
tell application "System Events" 
	keystroke "n" using {command down}
	delay 0.3
	keystroke "v" using {command down}
	delay 0.3
	keystroke "k" using {command down}
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B80CFCBA-048C-4741-A6D2-AA7CF4E683D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>aslint</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Lint &amp; Validate AppleScript</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C3618AEA-BD59-48AE-B89B-E306198C42D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>2DBCB7F3-4E52-4F11-B136-1E398FF2554F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3ABD23F1-CEA2-4F4C-87E5-57CF15499457</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>48D0CC88-D7B6-4692-8923-09DB604A1C84</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>5033F0B3-7AA6-4246-8F68-71B6D78AA4A4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>find .sdef in Applications Folder</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>53EE4AAD-B5D9-4209-959D-03FFFC8D4C0C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>only app name</string>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>63C812EE-31EF-46C4-ABD8-620B45CFB47E</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7966D27B-94EF-436F-BBA9-36BEDE88A1DC</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>A324AB94-76D5-49F4-8BB0-43ECFC91B5F9</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>A4FEB68D-858C-4177-9199-1F02A6DA36F3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>A9A2D2EB-7907-43E0-BE27-C380115C533C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>B80CFCBA-048C-4741-A6D2-AA7CF4E683D8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>C3618AEA-BD59-48AE-B89B-E306198C42D0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>D52A102C-B4B9-4113-BA76-A48551849E04</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>E1D0D397-A65E-4EE7-8426-FC1433975C76</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
