<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.discord</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>07AC41AC-7A97-46D3-BB55-B1EB17550072</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65440D38-B7B3-4751-B037-E499CB852CB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B8F3A31-A96C-42D3-BFAD-D19717C6DFF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE45749F-51BD-485A-8791-97898398685F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1949AD43-9714-415D-A3EA-6D5BBEDEE319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A128FEAD-70FC-48A6-B61E-6BC1790D6497</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E4AAD86-345B-497C-89A3-36585534A83C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D9162FA-11B3-418A-BDDC-AFCBB47C2F75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FED977F-99BD-44C7-8346-832F3A9CEFD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE9A0D69-DB07-4ED6-AC78-81A30408C666</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>574AFFBF-079A-47F9-945D-4AF65EF44FC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297933F2-17E5-496D-B5E6-0906D07389B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B6F3E7A-52DE-4FE3-94DA-8EA6CC4CE065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3E3CDBB-9E02-4E5E-B03F-4E2C1C6B8B1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>613721AC-5C03-421A-A4B5-63C252B4DDB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297933F2-17E5-496D-B5E6-0906D07389B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76715D8A-261B-4002-AF36-35E8E07F4641</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F1D9DD0-071F-4ACF-984C-D928B34BCE50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7863F264-D62A-4EC2-9129-1DCEF6D2DE70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E4AAD86-345B-497C-89A3-36585534A83C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EE28E67-F095-4737-8E9B-DB59F462D2AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6934A1B-7850-48D0-BEE2-EB9ADDC472AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2EF8883-F34D-4551-AD50-9FD1398F1F71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297933F2-17E5-496D-B5E6-0906D07389B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8E5E578-6542-461A-94E7-BF3D31AC98DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7863F264-D62A-4EC2-9129-1DCEF6D2DE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB098767-0FF5-49E5-A083-C1D585261C2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297933F2-17E5-496D-B5E6-0906D07389B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3535D25-9AC0-4D6D-985E-073B1D27DE1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297933F2-17E5-496D-B5E6-0906D07389B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Discord Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{clipboard:1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6D9162FA-11B3-418A-BDDC-AFCBB47C2F75</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>`{cursor}`</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7863F264-D62A-4EC2-9129-1DCEF6D2DE70</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B8E5E578-6542-461A-94E7-BF3D31AC98DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>2E4AAD86-345B-497C-89A3-36585534A83C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A2EF8883-F34D-4551-AD50-9FD1398F1F71</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" 
	keystroke tab
	delay 0.1
	key code 126
	delay 0.1
	key code 53
	key code 53
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE9A0D69-DB07-4ED6-AC78-81A30408C666</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3FED977F-99BD-44C7-8346-832F3A9CEFD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BB098767-0FF5-49E5-A083-C1D585261C2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76715D8A-261B-4002-AF36-35E8E07F4641</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	keystroke tab
	delay 0.1
	key code 126
	delay 0.05
	keystroke "r"
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F1D9DD0-071F-4ACF-984C-D928B34BCE50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>3</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>574AFFBF-079A-47F9-945D-4AF65EF44FC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>discord-reply.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>297933F2-17E5-496D-B5E6-0906D07389B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	keystroke tab
	delay 0.1
	key code 126
	delay 0.05
	keystroke "+"
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65440D38-B7B3-4751-B037-E499CB852CB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07AC41AC-7A97-46D3-BB55-B1EB17550072</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>4</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E3535D25-9AC0-4D6D-985E-073B1D27DE1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>12189696</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>A128FEAD-70FC-48A6-B61E-6BC1790D6497</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1949AD43-9714-415D-A3EA-6D5BBEDEE319</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>5</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>23</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>5</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>613721AC-5C03-421A-A4B5-63C252B4DDB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0B8F3A31-A96C-42D3-BFAD-D19717C6DFF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>11141120</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>AE45749F-51BD-485A-8791-97898398685F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>koala</string>
				<key>subtext</key>
				<string>Discord</string>
				<key>text</key>
				<string>Koala</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B6F3E7A-52DE-4FE3-94DA-8EA6CC4CE065</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>discord://discord.com/channels/@me/894696437676408833</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B3E3CDBB-9E02-4E5E-B03F-4E2C1C6B8B1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↑</string>
				<key>keycode</key>
				<integer>126</integer>
				<key>keymod</key>
				<integer>11141120</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E6934A1B-7850-48D0-BEE2-EB9ADDC472AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.hnc.Discord</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8EE28E67-F095-4737-8E9B-DB59F462D2AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>07AC41AC-7A97-46D3-BB55-B1EB17550072</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Emoji</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>0B8F3A31-A96C-42D3-BFAD-D19717C6DFF6</key>
		<dict>
			<key>note</key>
			<string>next channel</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>1949AD43-9714-415D-A3EA-6D5BBEDEE319</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Next Unread</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>297933F2-17E5-496D-B5E6-0906D07389B1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>2E4AAD86-345B-497C-89A3-36585534A83C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>3FED977F-99BD-44C7-8346-832F3A9CEFD6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Scroll to Bottom (like vim G)</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>574AFFBF-079A-47F9-945D-4AF65EF44FC1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>5B6F3E7A-52DE-4FE3-94DA-8EA6CC4CE065</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>613721AC-5C03-421A-A4B5-63C252B4DDB7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>65440D38-B7B3-4751-B037-E499CB852CB6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>6D9162FA-11B3-418A-BDDC-AFCBB47C2F75</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>preserve order of the clipboard</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6F1D9DD0-071F-4ACF-984C-D928B34BCE50</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>76715D8A-261B-4002-AF36-35E8E07F4641</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>reply directly above</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>7863F264-D62A-4EC2-9129-1DCEF6D2DE70</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8EE28E67-F095-4737-8E9B-DB59F462D2AD</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>A128FEAD-70FC-48A6-B61E-6BC1790D6497</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>A2EF8883-F34D-4551-AD50-9FD1398F1F71</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>reply</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>AE45749F-51BD-485A-8791-97898398685F</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>B3E3CDBB-9E02-4E5E-B03F-4E2C1C6B8B1B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>B8E5E578-6542-461A-94E7-BF3D31AC98DE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Inline Code</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BB098767-0FF5-49E5-A083-C1D585261C2E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>E3535D25-9AC0-4D6D-985E-073B1D27DE1A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E6934A1B-7850-48D0-BEE2-EB9ADDC472AC</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>EE9A0D69-DB07-4ED6-AC78-81A30408C666</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
