<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>include_unsafe</key>
	<true/>
	<key>min_query_length</key>
	<string>6</string>
	<key>no_suggestion_regex</key>
	<string>^\w{1,3}( .{0,13})?$|^\w+:\/\/</string>
</dict>
</plist>
