<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clone_depth</key>
	<integer>15</integer>
	<key>fork_on_clone</key>
	<true/>
	<key>github_username</key>
	<string>chrisgrieser</string>
	<key>keyword_personal_repos</key>
	<string>gg</string>
	<key>restore_mtime</key>
	<true/>
</dict>
</plist>
