<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brave</key>
	<true/>
	<key>chrome</key>
	<false/>
	<key>date_format</key>
	<string>%d.%m </string>
	<key>history_keyword</key>
	<string>hh</string>
	<key>show_favicon</key>
	<true/>
</dict>
</plist>
