/* SOURCE https://github.com/atlekbai/ghpdf/blob/main/src/ghpdf/static/github.css */
/*----------------------------------------------------------------------------*/

/* GitHub-style Markdown CSS for PDF rendering */


@page {
    size: A4;
    margin: 2cm;
}

/* Page break */
.pagebreak {
    page-break-after: always;
    break-after: page;
    height: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1f2328;
    background-color: #ffffff;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: #1f2328;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #d1d9e0;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #d1d9e0;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
    color: #656d76;
}

/* Paragraphs and basic text */
p {
    margin-top: 0;
    margin-bottom: 16px;
}

/* Links */
a {
    color: #0969da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Bold and italic */
strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

/* Lists */
ul, ol {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 2em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-top: 0.25em;
}

li + li {
    margin-top: 0.25em;
}

/* Task lists */
ul.task-list {
    list-style-type: none;
    padding-left: 0;
}

ul.task-list li {
    position: relative;
    padding-left: 1.5em;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}

/* Code */
code {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 85%;
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}

pre {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 85%;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
    margin-top: 0;
    margin-bottom: 16px;
}

pre code {
    display: block;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    background-color: transparent;
    border: 0;
    font-size: 100%;
}

/* Blockquotes */
blockquote {
    margin: 0 0 16px 0;
    padding: 0 1em;
    color: #656d76;
    border-left: 0.25em solid #d1d9e0;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

/* Horizontal rule */
hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #d1d9e0;
    border: 0;
}

/* Tables */
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

table th {
    font-weight: 600;
    padding: 6px 13px;
    border: 1px solid #d1d9e0;
    background-color: #f6f8fa;
}

table td {
    padding: 6px 13px;
    border: 1px solid #d1d9e0;
}

table tr {
    background-color: #ffffff;
    border-top: 1px solid #d1d9e0;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

/* Images */
img {
    max-width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* Definition lists */
dl {
    padding: 0;
}

dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

/* Keyboard keys */
kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    line-height: 10px;
    color: #1f2328;
    vertical-align: middle;
    background-color: #f6f8fa;
    border: solid 1px rgba(175, 184, 193, 0.2);
    border-bottom-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

/* Syntax highlighting (Pygments - GitHub style) */
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #6a737d } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #d73a49 } /* Keyword */
.highlight .o { color: #d73a49 } /* Operator */
.highlight .ch { color: #6a737d } /* Comment.Hashbang */
.highlight .cm { color: #6a737d } /* Comment.Multiline */
.highlight .cp { color: #d73a49 } /* Comment.Preproc */
.highlight .cpf { color: #6a737d } /* Comment.PreprocFile */
.highlight .c1 { color: #6a737d } /* Comment.Single */
.highlight .cs { color: #6a737d } /* Comment.Special */
.highlight .gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #b31d28 } /* Generic.Error */
.highlight .gh { color: #005cc5; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
.highlight .go { color: #6a737d } /* Generic.Output */
.highlight .gp { color: #005cc5; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #6f42c1; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #b31d28 } /* Generic.Traceback */
.highlight .kc { color: #d73a49 } /* Keyword.Constant */
.highlight .kd { color: #d73a49 } /* Keyword.Declaration */
.highlight .kn { color: #d73a49 } /* Keyword.Namespace */
.highlight .kp { color: #d73a49 } /* Keyword.Pseudo */
.highlight .kr { color: #d73a49 } /* Keyword.Reserved */
.highlight .kt { color: #d73a49 } /* Keyword.Type */
.highlight .m { color: #005cc5 } /* Literal.Number */
.highlight .s { color: #032f62 } /* Literal.String */
.highlight .na { color: #6f42c1 } /* Name.Attribute */
.highlight .nb { color: #005cc5 } /* Name.Builtin */
.highlight .nc { color: #6f42c1 } /* Name.Class */
.highlight .no { color: #005cc5 } /* Name.Constant */
.highlight .nd { color: #6f42c1 } /* Name.Decorator */
.highlight .ni { color: #24292e } /* Name.Entity */
.highlight .ne { color: #d73a49 } /* Name.Exception */
.highlight .nf { color: #6f42c1 } /* Name.Function */
.highlight .nl { color: #005cc5 } /* Name.Label */
.highlight .nn { color: #6f42c1 } /* Name.Namespace */
.highlight .nt { color: #22863a } /* Name.Tag */
.highlight .nv { color: #e36209 } /* Name.Variable */
.highlight .ow { color: #d73a49; font-weight: bold } /* Operator.Word */
.highlight .w { color: #6a737d } /* Text.Whitespace */
.highlight .mb { color: #005cc5 } /* Literal.Number.Bin */
.highlight .mf { color: #005cc5 } /* Literal.Number.Float */
.highlight .mh { color: #005cc5 } /* Literal.Number.Hex */
.highlight .mi { color: #005cc5 } /* Literal.Number.Integer */
.highlight .mo { color: #005cc5 } /* Literal.Number.Oct */
.highlight .sa { color: #032f62 } /* Literal.String.Affix */
.highlight .sb { color: #032f62 } /* Literal.String.Backtick */
.highlight .sc { color: #032f62 } /* Literal.String.Char */
.highlight .dl { color: #032f62 } /* Literal.String.Delimiter */
.highlight .sd { color: #032f62 } /* Literal.String.Doc */
.highlight .s2 { color: #032f62 } /* Literal.String.Double */
.highlight .se { color: #032f62 } /* Literal.String.Escape */
.highlight .sh { color: #032f62 } /* Literal.String.Heredoc */
.highlight .si { color: #032f62 } /* Literal.String.Interpol */
.highlight .sx { color: #032f62 } /* Literal.String.Other */
.highlight .sr { color: #032f62 } /* Literal.String.Regex */
.highlight .s1 { color: #032f62 } /* Literal.String.Single */
.highlight .ss { color: #005cc5 } /* Literal.String.Symbol */
.highlight .bp { color: #005cc5 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #6f42c1 } /* Name.Function.Magic */
.highlight .vc { color: #e36209 } /* Name.Variable.Class */
.highlight .vg { color: #e36209 } /* Name.Variable.Global */
.highlight .vi { color: #e36209 } /* Name.Variable.Instance */
.highlight .vm { color: #e36209 } /* Name.Variable.Magic */
.highlight .il { color: #005cc5 } /* Literal.Number.Integer.Long */

/* Code block container */
.codehilite {
    background-color: #f6f8fa;
    border-radius: 6px;
    padding: 16px;
    overflow: auto;
    margin-bottom: 16px;
}

.codehilite pre {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* Alerts/Admonitions (GitHub-style) */
.warning {
    padding: 0.5em 1em;
    margin-bottom: 16px;
    border-left: 0.25em solid;
    border-radius: 6px;
}

.admonition-title {
    font-weight: 600;
    margin-bottom: 0.5em;
}

.admonition.note {
    border-left-color: #0969da;
    background-color: #ddf4ff;
}

.warning {
    border-left-color: #9a6700;
    background-color: #fff8c5;
}

.admonition.danger {
    border-left-color: #cf222e;
    background-color: #ffebe9;
}

/* Footnotes */
.footnote {
    font-size: 0.85em;
}

.footnote-ref {
    font-size: 0.75em;
    vertical-align: super;
}

/* Abbreviations */
abbr[title] {
    border-bottom: 1px dotted #656d76;
    cursor: help;
    text-decoration: none;
}

/* Print-specific styles */
@media print {
    body {
        background-color: white;
    }

    pre, code {
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    a {
        color: #0969da;
    }

    a[href^="http"]:after {
        content: " (" attr(href) ")";
        font-size: 0.8em;
        color: #656d76;
    }
}
