<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.mosue-remapping</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>1E26E0EC-403C-4C10-80A4-BAE73726E9C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C3D78DC-489D-4E04-B780-4B301F7BF529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0281C61-0743-4F18-A171-CCCC0948FFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D57E096-989E-472D-97A9-4C0D0058DCB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC65620C-4621-4783-BD03-DD00BF67A3A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>886F7ABE-B464-4593-9F36-F4D7423BE009</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9C495DC-0387-4FA8-9249-4E625E970B5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99986663-D8A9-423B-9FCD-2C6F7D9B04D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>589EA44A-24A6-44C8-8FCC-A3A2D467DB12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76661AC-FCA1-4DCA-9E9B-9B1A812210D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18FD51AD-4411-49F6-938D-CDB1ACE1E070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFB0D0F8-D135-4B2E-A306-54E5C2268D38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6689D89-3A3C-46C6-A5C3-F48EC6FC79B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Magic Mouse/Trackpad actions defined via BetterTouchTool. Sublime Mousekeys set in Sublime configs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mousekey Remapping</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>BC65620C-4621-4783-BD03-DD00BF67A3A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D57E096-989E-472D-97A9-4C0D0058DCB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E0281C61-0743-4F18-A171-CCCC0948FFAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>99986663-D8A9-423B-9FCD-2C6F7D9B04D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string># AppleScript avoids cmd+left being caught when in text field

on alfred_script(q)
  tell application "System Events"
	tell process "Brave Browser"
		set frontmost to true
		click menu item "Back" of menu "History" of menu bar 1
	end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>589EA44A-24A6-44C8-8FCC-A3A2D467DB12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E26E0EC-403C-4C10-80A4-BAE73726E9C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
	tell process "Drafts"
		set frontmost to true
		click menu item "Move to Archive" of menu "File" of menu bar 1
		click menu item "New" of menu "File" of menu bar 1
	end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1C3D78DC-489D-4E04-B780-4B301F7BF529</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser.app.agimnkijcaahngcdmfeangaknmldooml</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FFB0D0F8-D135-4B2E-A306-54E5C2268D38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

tell application "System Events"
	tell process "YouTube"
		set frontmost to true
			try
				click menu item "Exit Full Screen" of menu "View" of menu bar 1
			end
	end tell
end tell


tell application "System Events" to keystroke "gU"

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E6689D89-3A3C-46C6-A5C3-F48EC6FC79B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>e</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>18FD51AD-4411-49F6-938D-CDB1ACE1E070</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>106</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F16</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B76661AC-FCA1-4DCA-9E9B-9B1A812210D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>#</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>B9C495DC-0387-4FA8-9249-4E625E970B5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>105</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F13</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>886F7ABE-B464-4593-9F36-F4D7423BE009</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>18FD51AD-4411-49F6-938D-CDB1ACE1E070</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>archive</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>1C3D78DC-489D-4E04-B780-4B301F7BF529</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Archive</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>1E26E0EC-403C-4C10-80A4-BAE73726E9C7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>3B9CC1E6-13AA-4265-879E-8F4C366D3AF2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>589EA44A-24A6-44C8-8FCC-A3A2D467DB12</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>back</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>5D57E096-989E-472D-97A9-4C0D0058DCB3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Mouse 4 (TOP)</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>886F7ABE-B464-4593-9F36-F4D7423BE009</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>99986663-D8A9-423B-9FCD-2C6F7D9B04D5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>B76661AC-FCA1-4DCA-9E9B-9B1A812210D4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>B9C495DC-0387-4FA8-9249-4E625E970B5B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>delete</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>BC65620C-4621-4783-BD03-DD00BF67A3A1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E0281C61-0743-4F18-A171-CCCC0948FFAB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>E6689D89-3A3C-46C6-A5C3-F48EC6FC79B1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>go up (via Vimium)</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>FFB0D0F8-D135-4B2E-A306-54E5C2268D38</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
