<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.obsidian-utils</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0FA387AA-D669-473B-B888-38D59F48BDE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F926E3B6-82B9-4B36-847D-6757DB67469A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3426DFFC-C411-4D60-8043-A3ABDF8B6748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35581195-D1B3-426B-82F8-14C072E52243</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43ADF69A-89EC-434E-BCCE-E43DA67E4DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B8E6563-9DF0-4342-BDBE-3398095FAC67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>440205E9-6FAD-4C11-AA0A-F2785E994E8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D117DFE6-B607-40CB-9A0F-E1FB88F41CB1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Append</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D729F95-B08C-4A6D-9292-9C18E13C54C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65255994-4CBF-44D6-8E91-FC4E106AEB87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E566F93-2181-4333-A675-764390C315B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68189488-7F07-4C40-B382-A6911C4A83B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B8E6563-9DF0-4342-BDBE-3398095FAC67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B16A7050-6ABE-4666-81AA-1FE68733ABB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7E142B99-D337-4EB7-A048-9B8DC2130994</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D117DFE6-B607-40CB-9A0F-E1FB88F41CB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3CAC527-D710-484A-8952-E97BDD0D7A24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCD76FF6-5E4F-4477-B069-A74D95FE1233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC155658-4BBD-479E-BE51-AF7C4F667727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35581195-D1B3-426B-82F8-14C072E52243</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open directly in Obsidian</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3426DFFC-C411-4D60-8043-A3ABDF8B6748</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy Plugin ID</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D117DFE6-B607-40CB-9A0F-E1FB88F41CB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65255994-4CBF-44D6-8E91-FC4E106AEB87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Obsidian Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:scratchpad_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B16A7050-6ABE-4666-81AA-1FE68733ABB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>oo</string>
				<key>subtext</key>
				<string>leave empty to open</string>
				<key>text</key>
				<string>Append to Scratchpad: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43ADF69A-89EC-434E-BCCE-E43DA67E4DB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>7E142B99-D337-4EB7-A048-9B8DC2130994</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8B8E6563-9DF0-4342-BDBE-3398095FAC67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:scratchpad_path}</string>
				<key>filetext</key>
				<string>- {isodate}: {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>65255994-4CBF-44D6-8E91-FC4E106AEB87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:to_append}</string>
				<key>title</key>
				<string>✅ Appended</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5E566F93-2181-4333-A675-764390C315B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>to_append</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D117DFE6-B607-40CB-9A0F-E1FB88F41CB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:uri}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3D729F95-B08C-4A6D-9292-9C18E13C54C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>o</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/vault-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Files in Obsidian Vault</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>440205E9-6FAD-4C11-AA0A-F2785E994E8C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>35581195-D1B3-426B-82F8-14C072E52243</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>op</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/obsidian-plugin-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Community Plugins...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F926E3B6-82B9-4B36-847D-6757DB67469A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3426DFFC-C411-4D60-8043-A3ABDF8B6748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/toggle-obsidian-alpha.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alpha</string>
				<key>subtext</key>
				<string>restarts Obsidian afterwards</string>
				<key>text</key>
				<string>🟪 Toggle Alpha</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68189488-7F07-4C40-B382-A6911C4A83B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🟪 Alpha</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC155658-4BBD-479E-BE51-AF7C4F667727</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/download-obsidian-alpha.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCD76FF6-5E4F-4477-B069-A74D95FE1233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alpha</string>
				<key>subtext</key>
				<string>from Discord</string>
				<key>text</key>
				<string>⬇️ Download Alpha</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3CAC527-D710-484A-8952-E97BDD0D7A24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0FA387AA-D669-473B-B888-38D59F48BDE9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>3426DFFC-C411-4D60-8043-A3ABDF8B6748</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>35581195-D1B3-426B-82F8-14C072E52243</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>3B590E83-D5D3-46E8-977D-60BC6515A3AD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>3D729F95-B08C-4A6D-9292-9C18E13C54C1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open Obsidian URI</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>43ADF69A-89EC-434E-BCCE-E43DA67E4DB6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>scratchpad</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>440205E9-6FAD-4C11-AA0A-F2785E994E8C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>main vault</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>5E566F93-2181-4333-A675-764390C315B4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>65255994-4CBF-44D6-8E91-FC4E106AEB87</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>append</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>68189488-7F07-4C40-B382-A6911C4A83B6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>toggle alpha</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>8B8E6563-9DF0-4342-BDBE-3398095FAC67</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>empty</string>
			<key>xpos</key>
			<real>221</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>B16A7050-6ABE-4666-81AA-1FE68733ABB1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B3CAC527-D710-484A-8952-E97BDD0D7A24</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>download latest alpha</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>search plugins</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>BC155658-4BBD-479E-BE51-AF7C4F667727</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>D117DFE6-B607-40CB-9A0F-E1FB88F41CB1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>save "to_append"</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>F926E3B6-82B9-4B36-847D-6757DB67469A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>FCD76FF6-5E4F-4477-B069-A74D95FE1233</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/vaults/main-vault</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/vaults/main-vault</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Vault path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>vault_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>35</integer>
				<key>markercount</key>
				<integer>11</integer>
				<key>maxvalue</key>
				<integer>60</integer>
				<key>minvalue</key>
				<integer>10</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Max length per alias</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>alias_max_length</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Scratchpad path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>scratchpad_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>URLs</string>
				<key>placeholder</key>
				<string>URLs</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Reminders list to slurp from</string>
			<key>label</key>
			<string>Slurp List</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>slurp_list</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>main-vault</string>
				<key>placeholder</key>
				<string>main-vault</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Obsidian Vault name to slurp into</string>
			<key>label</key>
			<string>Slurp Vault</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>slurp_vault</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
