<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.sparkling-obsidian</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0FA387AA-D669-473B-B888-38D59F48BDE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F926E3B6-82B9-4B36-847D-6757DB67469A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3426DFFC-C411-4D60-8043-A3ABDF8B6748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35581195-D1B3-426B-82F8-14C072E52243</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>440205E9-6FAD-4C11-AA0A-F2785E994E8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D729F95-B08C-4A6D-9292-9C18E13C54C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65A45FED-A031-4FCB-8FA4-B4B3E46C41D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35581195-D1B3-426B-82F8-14C072E52243</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open directly in Obsidian</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65A45FED-A031-4FCB-8FA4-B4B3E46C41D0</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>⌘⌥: Copy Link (discord ready)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3426DFFC-C411-4D60-8043-A3ABDF8B6748</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy Plugin ID</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Open notes &amp; search plugin</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sparkling Obsidian</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://open?path={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3D729F95-B08C-4A6D-9292-9C18E13C54C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:main_search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/vault-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Files in Obsidian Vault</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>440205E9-6FAD-4C11-AA0A-F2785E994E8C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>35581195-D1B3-426B-82F8-14C072E52243</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:plugin_search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/obsidian-plugin-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Community Plugins...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F926E3B6-82B9-4B36-847D-6757DB67469A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>65A45FED-A031-4FCB-8FA4-B4B3E46C41D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3426DFFC-C411-4D60-8043-A3ABDF8B6748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Use the keyword `o` to search for Markdown and Canvas files in your vault. Confirm to open the 
  note in Obsidian.
- Use the keyword `op` to search for plugins in the Obsidian community store. 
  + &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the plugin's GitHub page.
  + &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Open the plugin in Obsidian.
  + &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Copy link to the plugin's GitHub Page.
  + &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Copy link link and description of the plugin formatted for
    sharing in Discord.
  + &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Copy the plugin's id.

## File exclusion
The search ignores files specified in your Obsidian settings under `Files &amp; link → Excluded Files`.

## Tags &amp; aliases
Displaying and searching for tags and aliases requires the [Metadata Extractor 
plugin](https://github.com/kometenstaub/metadata-extractor). In the plugin's settings, you should 
enable periodic saving of metadata to keep the tag and alias information up to date. Note that for
this workflow to work, you must *not* change the location where the plugin saves the metadata.

---

Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0FA387AA-D669-473B-B888-38D59F48BDE9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>3426DFFC-C411-4D60-8043-A3ABDF8B6748</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>35581195-D1B3-426B-82F8-14C072E52243</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3B590E83-D5D3-46E8-977D-60BC6515A3AD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>3D729F95-B08C-4A6D-9292-9C18E13C54C1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>open Obsidian URI</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>440205E9-6FAD-4C11-AA0A-F2785E994E8C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>search vault</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>65A45FED-A031-4FCB-8FA4-B4B3E46C41D0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>search community plugins</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>F926E3B6-82B9-4B36-847D-6757DB67469A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>o</string>
				<key>placeholder</key>
				<string>o</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword</string>
			<key>label</key>
			<string>Main search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>main_search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/vaults/main-vault</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/vaults/main-vault</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>vault path</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>vault_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>40</integer>
				<key>markercount</key>
				<integer>13</integer>
				<key>maxvalue</key>
				<integer>70</integer>
				<key>minvalue</key>
				<integer>10</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Max number of characters per alias to display. (Requires Metadata Extractor plugin.)</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>alias_max_length</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Assign icons to notes with specific tags. Format: "tagname, icon", one per line. (Requires Metadata Extractor plugin.)</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>tag_icons</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Assign icons to notes in specific folders. Format: "foldername, icon", one per line.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>folder_icons</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>op</string>
				<key>placeholder</key>
				<string>op</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword</string>
			<key>label</key>
			<string>Plugin search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>plugin_search_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
