<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.obsidian-utils</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0FA387AA-D669-473B-B888-38D59F48BDE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F926E3B6-82B9-4B36-847D-6757DB67469A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3426DFFC-C411-4D60-8043-A3ABDF8B6748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35581195-D1B3-426B-82F8-14C072E52243</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4295D5EA-EBB8-427F-8AD0-72737778E375</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2415456-FFEC-4DD2-B8D1-C76A442510EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43ADF69A-89EC-434E-BCCE-E43DA67E4DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65255994-4CBF-44D6-8E91-FC4E106AEB87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>470BD464-4432-4787-8ECF-8C463E6E68A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E0B0AB0-ACF1-4535-BED2-39B3D03AADC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68189488-7F07-4C40-B382-A6911C4A83B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC155658-4BBD-479E-BE51-AF7C4F667727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B732BB78-84AF-49C2-BBA9-D15278904C6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4295D5EA-EBB8-427F-8AD0-72737778E375</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35581195-D1B3-426B-82F8-14C072E52243</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open directly in Obsidian</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3426DFFC-C411-4D60-8043-A3ABDF8B6748</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy Plugin ID</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2415456-FFEC-4DD2-B8D1-C76A442510EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27E4BE11-84E3-4D2B-B411-A6F2B1FDF3C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Obsidian Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🟪 Alpha</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC155658-4BBD-479E-BE51-AF7C4F667727</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alpha</string>
				<key>subtext</key>
				<string>restarts Obsidian afterwards</string>
				<key>text</key>
				<string>Toggle Obsidian Alpha</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68189488-7F07-4C40-B382-A6911C4A83B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/toggle-obsidian-alpha.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B590E83-D5D3-46E8-977D-60BC6515A3AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>35581195-D1B3-426B-82F8-14C072E52243</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>op</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/plugin-and-theme-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Community Plugins &amp; Themes...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0FA387AA-D669-473B-B888-38D59F48BDE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F926E3B6-82B9-4B36-847D-6757DB67469A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3426DFFC-C411-4D60-8043-A3ABDF8B6748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://slurp?vault=phd-data-analysis&amp;url={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>27E4BE11-84E3-4D2B-B411-A6F2B1FDF3C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C2415456-FFEC-4DD2-B8D1-C76A442510EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B732BB78-84AF-49C2-BBA9-D15278904C6C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>allow_empty</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4295D5EA-EBB8-427F-8AD0-72737778E375</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/slurp-all-diss-urls.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E0B0AB0-ACF1-4535-BED2-39B3D03AADC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>slurp</string>
				<key>subtext</key>
				<string>All URLs in "{var:slurp_list}"</string>
				<key>text</key>
				<string>Slurp</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>470BD464-4432-4787-8ECF-8C463E6E68A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>oo</string>
				<key>subtext</key>
				<string>{var:scratchpad_path}</string>
				<key>text</key>
				<string>Append to Scratchpad</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43ADF69A-89EC-434E-BCCE-E43DA67E4DB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:scratchpad_path}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>65255994-4CBF-44D6-8E91-FC4E106AEB87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0FA387AA-D669-473B-B888-38D59F48BDE9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>27E4BE11-84E3-4D2B-B411-A6F2B1FDF3C4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>2E0B0AB0-ACF1-4535-BED2-39B3D03AADC8</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>3426DFFC-C411-4D60-8043-A3ABDF8B6748</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>35581195-D1B3-426B-82F8-14C072E52243</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>3B590E83-D5D3-46E8-977D-60BC6515A3AD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>4295D5EA-EBB8-427F-8AD0-72737778E375</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>43ADF69A-89EC-434E-BCCE-E43DA67E4DB6</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>470BD464-4432-4787-8ECF-8C463E6E68A9</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>slurp all reminders from "Diss URLs"</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>65255994-4CBF-44D6-8E91-FC4E106AEB87</key>
		<dict>
			<key>note</key>
			<string>append</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>68189488-7F07-4C40-B382-A6911C4A83B6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>toggle Alpha Version</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B4BABF6C-7642-4DE3-88C7-BE900ED149E4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B732BB78-84AF-49C2-BBA9-D15278904C6C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Slurp</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>BC1490BF-6C58-406A-847F-DB89AF6AEB8E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>search plugins/themes</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>BC155658-4BBD-479E-BE51-AF7C4F667727</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>C2415456-FFEC-4DD2-B8D1-C76A442510EF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>close the browser tab</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>F926E3B6-82B9-4B36-847D-6757DB67469A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>URLs</string>
				<key>placeholder</key>
				<string>URLs</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Reminders list to slurp from</string>
			<key>label</key>
			<string>Slurp List</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>slurp_list</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>main-vault</string>
				<key>placeholder</key>
				<string>main-vault</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Obsidian Vault name to slurp into</string>
			<key>label</key>
			<string>Slurp Vault</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>slurp_vault</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Scratchpad Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>scratchpad_path</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
