<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.ddgr</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0AD1A926-80B8-4274-9DFF-10183BF36867</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10797BFB-ECCC-404B-9A55-B91951068BC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10797BFB-ECCC-404B-9A55-B91951068BC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6BFAD6E-029F-480F-AD49-21705DD25C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D90CF5E-78C3-4E3C-8038-E0F3B730BCF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D272D1A3-9CA0-40B1-BB24-FDC428E10728</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72B66895-6978-456A-9556-C77F4EBC15BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76AAB3AC-6FFB-4BD3-8A66-7FF66A8F7C77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AD1A926-80B8-4274-9DFF-10183BF36867</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C16E37C8-CCD7-4E12-8580-F48FEE5112C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>018BB8E9-5550-4143-94C4-73F82AB1C970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1836C85-7289-432C-873E-7FA391786595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"{query}"</string>
				<key>title</key>
				<string>⏳ Searching…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0AD1A926-80B8-4274-9DFF-10183BF36867</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E6BFAD6E-029F-480F-AD49-21705DD25C3D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/searchlink.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10797BFB-ECCC-404B-9A55-B91951068BC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76AAB3AC-6FFB-4BD3-8A66-7FF66A8F7C77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/calculate-search-frequency.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>018BB8E9-5550-4143-94C4-73F82AB1C970</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Google Web: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>C16E37C8-CCD7-4E12-8580-F48FEE5112C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?udm=14&amp;q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A1836C85-7289-432C-873E-7FA391786595</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q={query}+(site%3Awired.com+OR+site%3Atechcrunch.com+OR+site%3Abloomberg.com+OR+site%3Atheverge.com)&amp;tbm=nws</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D272D1A3-9CA0-40B1-BB24-FDC428E10728</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tn</string>
				<key>subtext</key>
				<string>for PhD data collection</string>
				<key>text</key>
				<string>Technews: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D90CF5E-78C3-4E3C-8038-E0F3B730BCF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:technews_search_logfile}</string>
				<key>filetext</key>
				<string>- {isodate:yyyy-MM-dd HH:mm} – {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>72B66895-6978-456A-9556-C77F4EBC15BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>018BB8E9-5550-4143-94C4-73F82AB1C970</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>0AD1A926-80B8-4274-9DFF-10183BF36867</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>10797BFB-ECCC-404B-9A55-B91951068BC9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2D90CF5E-78C3-4E3C-8038-E0F3B730BCF9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>tech news search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>72B66895-6978-456A-9556-C77F4EBC15BA</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>log the search</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>76AAB3AC-6FFB-4BD3-8A66-7FF66A8F7C77</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Add link to selection</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A1836C85-7289-432C-873E-7FA391786595</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>google with udm=14

https://udm14.com/</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>C16E37C8-CCD7-4E12-8580-F48FEE5112C0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D272D1A3-9CA0-40B1-BB24-FDC428E10728</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E6BFAD6E-029F-480F-AD49-21705DD25C3D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>log file</string>
			<key>label</key>
			<string>Tech News Search</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>technews_search_logfile</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>logfolder</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search log folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>search_log_folder</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
