<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHATPDF_API_KEY</key>
	<string>.zshenv</string>
	<key>alfred_large_type</key>
	<true/>
	<key>copy_to_clipboard</key>
	<true/>
	<key>the_prompt</key>
	<string>You are a researcher in sociology. 

Summarize the PDF in 8 bullet points. Strive for variety. Ground your summary in the facts of the paper. Include references to specific pages in the paper for each bullet point.

Do not talk about the license of the paper, the funding of the paper, or declarations of conflicts of interest. Immediately start the summary, do not introduce yourself or introduce the summary.</string>
</dict>
</plist>
