<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.karabiner-espanso</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33654CF6-613B-4F13-A9BB-C69F22B60536</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FA7BC2-6B86-4232-BC62-918EC5651BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FBF0208-3AC5-48A4-A7AF-86BE9C0B1915</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDD33DE5-9EF6-4054-97BE-CD907ADEC73E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD7F4A8F-7638-4D94-96DD-C7B2405D837C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>433B5526-5138-4622-BD58-0DE98F3C79F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB25652B-F29C-467C-A234-8DD5F700B047</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F748E27-E0FA-42A5-9B83-B58EF498DC15</key>
		<array/>
		<key>656E6A0F-FAB7-428D-AB7D-811A3D19C2A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>496D4848-5FF5-4521-AD62-DA66D955EF60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69582200-3B13-4747-BCAD-1292B8BF99FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33654CF6-613B-4F13-A9BB-C69F22B60536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87FA7BC2-6B86-4232-BC62-918EC5651BA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>221EDD07-BD53-4BD8-B302-CD0040D3FE51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9248EC6E-2EAB-43B6-B666-C9F3B323038F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED8AD722-9DB6-49E1-A9DD-43769FFF8052</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C8E2CFD-649D-4005-8762-41497D453FEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>496D4848-5FF5-4521-AD62-DA66D955EF60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16D2C4F3-A099-4D2C-A0C8-03E587C8968A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Do not open file afterwards</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2E166F6-CEA5-452B-ACA3-EACF8897D858</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9650F72-BF50-400A-8F51-96D2199DF19D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF2E709C-56BA-4D78-AD00-074FC6326079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A825DF3F-79FD-44B3-8972-AF3EFC059CCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB25652B-F29C-467C-A234-8DD5F700B047</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBF0208-3AC5-48A4-A7AF-86BE9C0B1915</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA7E00FB-F43B-4DDF-869D-A9DB23200405</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F34FCF8E-937F-468A-8727-48A458BF4FA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFE40428-4486-4B45-AD59-024B6311D2D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC649DDD-3F1D-47F4-A2BA-EA57ADBA8E06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8066503-E298-4023-9E9F-3FBA20E03748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F748E27-E0FA-42A5-9B83-B58EF498DC15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>318E19F4-2DB1-4B3E-B1E2-F288DF9FF244</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Automation Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-hammerspoon.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F748E27-E0FA-42A5-9B83-B58EF498DC15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>win</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Display Window Properties</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A825DF3F-79FD-44B3-8972-AF3EFC059CCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>16D2C4F3-A099-4D2C-A0C8-03E587C8968A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️Restart Hammerspoon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8066503-E298-4023-9E9F-3FBA20E03748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events" to set frontAppProcess to first application process whose frontmost is true# Tell the *process* to count its windows and return its front window's name.tell frontAppProcess	if (count of windows) &gt; 0 then		set window_name to name of front window	end ifend tell

set the clipboard to window_name

# direct return for displaying in Alfred
window_name</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-window-title.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.pqrs.Karabiner-EventViewer</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Karabiner-EventViewer" to if it is running then quit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>hammerspoon://sync-repos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>318E19F4-2DB1-4B3E-B1E2-F288DF9FF244</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sync</string>
				<key>subtext</key>
				<string>Dotfiles, Vault &amp; Password-Store</string>
				<key>text</key>
				<string>🔁 Sync Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9FF31BC-709C-4387-975A-0B1410418161</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bkp</string>
				<key>subtext</key>
				<string>Dotfiles, Vault &amp; Browser Bookmarks</string>
				<key>text</key>
				<string>🔁 Sync Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9248EC6E-2EAB-43B6-B666-C9F3B323038F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>hammerspoon://backup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ED8AD722-9DB6-49E1-A9DD-43769FFF8052</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rss</string>
				<key>subtext</key>
				<string>to Inoreader (leave empty to add current browser tab)</string>
				<key>text</key>
				<string>Add RSS Feed</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>656E6A0F-FAB7-428D-AB7D-811A3D19C2A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-feed-to-inoreader.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>496D4848-5FF5-4521-AD62-DA66D955EF60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>480</string>
					<key>width</key>
					<string>370</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>600</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FFE40428-4486-4B45-AD59-024B6311D2D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to tell process "zoom.us"
	set frontmost to true
	click menu item "Keep on Top" of menu "Meeting" of menu bar 1
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pip</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Picture-in-Picture: Zoom</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC649DDD-3F1D-47F4-A2BA-EA57ADBA8E06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add Feed to Innoreader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9C8E2CFD-649D-4005-8762-41497D453FEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-to-espanso-spellings.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spell</string>
				<key>subtext</key>
				<string>$1: Misspelling $2: Correct Spelling</string>
				<key>text</key>
				<string>Spelling: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2960A81-02AB-485E-AF91-AEF7B502D533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔓 Zoom Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "zoom.us" to activate
delay 1
tell application "System Events" 
	keystroke tab
	keystroke space
	delay 0.2
	keystroke tab
	keystroke tab
	keystroke tab
	keystroke tab
	keystroke space
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/zoom-login-automation.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>open</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BA7E00FB-F43B-4DDF-869D-A9DB23200405</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>FDD33DE5-9EF6-4054-97BE-CD907ADEC73E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(input, parameters) {

  const appNames = [];
  const skipAppNames = [];
  const verbose = true;

  const scriptName = "close_notifications_applescript";

  const CLEAR_ALL_ACTION = "Clear All";
  const CLEAR_ALL_ACTION_TOP = "Clear";
  const CLOSE_ACTION = "Close";

  const notNull = (val) =&gt; {
    return val !== null &amp;&amp; val !== undefined;
  };

  const isNull = (val) =&gt; {
    return !notNull(val);
  };

  const notNullOrEmpty = (val) =&gt; {
    return notNull(val) &amp;&amp; val.length &gt; 0;
  };

  const isNullOrEmpty = (val) =&gt; {
    return !notNullOrEmpty(val);
  };

  const isError = (maybeErr) =&gt; {
    return notNull(maybeErr) &amp;&amp; (maybeErr instanceof Error || maybeErr.message);
  };

  const systemVersion = () =&gt; {
    return Application("Finder").version().split(".").map(val =&gt; parseInt(val));
  };

  const systemVersionGreaterThanOrEqualTo = (vers) =&gt; {
    return systemVersion()[0] &gt;= vers;
  };

  const isBigSurOrGreater = () =&gt; {
    return systemVersionGreaterThanOrEqualTo(11);
  };

  const V11_OR_GREATER = isBigSurOrGreater();
  const V12 = systemVersion()[0] === 12;
  const APP_NAME_MATCHER_ROLE = V11_OR_GREATER ? "AXStaticText" : "AXImage";
  const hasAppNames = notNullOrEmpty(appNames);
  const hasSkipAppNames = notNullOrEmpty(skipAppNames);
  const hasAppNameFilters = hasAppNames || hasSkipAppNames;
  const appNameForLog = hasAppNames ? ` [${appNames.join(",")}]` : "";

  const logs = [];
  const log = (message, ...optionalParams) =&gt; {
    let message_with_prefix = `${new Date().toISOString().replace("Z", "").replace("T", " ")} [${scriptName}]${appNameForLog} ${message}`;
    console.log(message_with_prefix, optionalParams);
    logs.push(message_with_prefix);
  };

  const logError = (message, ...optionalParams) =&gt; {
    if (isError(message)) {
      let err = message;
      message = `${err}${err.stack ? (" " + err.stack) : ""}`;
    }
    log(`ERROR ${message}`, optionalParams);
  };

  const logErrorVerbose = (message, ...optionalParams) =&gt; {
    if (verbose) {
      logError(message, optionalParams);
    }
  };

  const logVerbose = (message) =&gt; {
    if (verbose) {
      log(message);
    }
  };

  const getLogLines = () =&gt; {
    return logs.join("\n");
  };

  const getSystemEvents = () =&gt; {
    let systemEvents = Application("System Events");
    systemEvents.includeStandardAdditions = true;
    return systemEvents;
  };

  const getNotificationCenter = () =&gt; {
    try {
      return getSystemEvents().processes.byName("NotificationCenter");
    } catch (err) {
      logError("Could not get NotificationCenter");
      throw err;
    }
  };

  const getNotificationCenterGroups = (retryOnError = false) =&gt; {
    try {
      let notificationCenter = getNotificationCenter();
      if (notificationCenter.windows.length &lt;= 0) {
        return [];
      }
      if (!V11_OR_GREATER) {
        return notificationCenter.windows();
      }
      if (V12) {
        return notificationCenter.windows[0].uiElements[0].uiElements[0].uiElements();
      }
      return notificationCenter.windows[0].uiElements[0].uiElements[0].uiElements[0].uiElements();
    } catch (err) {
      logError("Could not get NotificationCenter groups");
      if (retryOnError) {
        logError(err);
        log("Retrying getNotificationCenterGroups...");
        return getNotificationCenterGroups(false);
      } else {
        throw err;
      }
    }
  };

  const isClearButton = (description, name) =&gt; {
    return description === "button" &amp;&amp; name === CLEAR_ALL_ACTION_TOP;
  };

  const matchesAnyAppNames = (value, checkValues) =&gt; {
    if (isNullOrEmpty(checkValues)) {
      return false;
    }
    let lowerAppName = value.toLowerCase();
    for (let checkValue of checkValues) {
      if (lowerAppName === checkValue.toLowerCase()) {
        return true;
      }
    }
    return false;
  };

  const matchesAppName = (role, value) =&gt; {
    if (role !== APP_NAME_MATCHER_ROLE) {
      return false;
    }
    if (hasAppNames) {
      return matchesAnyAppNames(value, appNames);
    }
    return !matchesAnyAppNames(value, skipAppNames);
  };

  const notificationGroupMatches = (group) =&gt; {
    try {
      let description = group.description();
      if (V11_OR_GREATER &amp;&amp; isClearButton(description, group.name())) {
        return true;
      }
      if (V11_OR_GREATER &amp;&amp; description !== "group") {
        return false;
      }
      if (!V11_OR_GREATER) {
        let matchedAppName = !hasAppNameFilters;
        if (!matchedAppName) {
          for (let elem of group.uiElements()) {
            if (matchesAppName(elem.role(), elem.description())) {
              matchedAppName = true;
              break;
            }
          }
        }
        if (matchedAppName) {
          return notNull(findCloseActionV10(group, -1));
        }
        return false;
      }
      if (!hasAppNameFilters) {
        return true;
      }
      let firstElem = group.uiElements[0];
      return matchesAppName(firstElem.role(), firstElem.value());
    } catch (err) {
      logErrorVerbose(`Caught error while checking window, window is probably closed: ${err}`);
      logErrorVerbose(err);
    }
    return false;
  };

  const findCloseActionV10 = (group, closedCount) =&gt; {
    try {
      for (let elem of group.uiElements()) {
        if (elem.role() === "AXButton" &amp;&amp; elem.title() === CLOSE_ACTION) {
          return elem.actions["AXPress"];
        }
      }
    } catch (err) {
      logErrorVerbose(`(group_${closedCount}) Caught error while searching for close action, window is probably closed: ${err}`);
      logErrorVerbose(err);
      return null;
    }
    log("No close action found for notification");
    return null;
  };

  const findCloseAction = (group, closedCount) =&gt; {
    try {
      if (!V11_OR_GREATER) {
        return findCloseActionV10(group, closedCount);
      }
      let checkForPress = isClearButton(group.description(), group.name());
      let clearAllAction;
      let closeAction;
      for (let action of group.actions()) {
        let description = action.description();
        if (description === CLEAR_ALL_ACTION) {
          clearAllAction = action;
          break;
        } else if (description === CLOSE_ACTION) {
          closeAction = action;
        } else if (checkForPress &amp;&amp; description === "press") {
          clearAllAction = action;
          break;
        }
      }
      if (notNull(clearAllAction)) {
        return clearAllAction;
      } else if (notNull(closeAction)) {
        return closeAction;
      }
    } catch (err) {
      logErrorVerbose(`(group_${closedCount}) Caught error while searching for close action, window is probably closed: ${err}`);
      logErrorVerbose(err);
      return null;
    }
    log("No close action found for notification");
    return null;
  };

  const closeNextGroup = (groups, closedCount) =&gt; {
    try {
      for (let group of groups) {
        if (notificationGroupMatches(group)) {
          let closeAction = findCloseAction(group, closedCount);

          if (notNull(closeAction)) {
            try {
              closeAction.perform();
              return [true, 1];
            } catch (err) {
              logErrorVerbose(`(group_${closedCount}) Caught error while performing close action, window is probably closed: ${err}`);
              logErrorVerbose(err);
            }
          }
          return [true, 0];
        }
      }
      return false;
    } catch (err) {
      logError("Could not run closeNextGroup");
      throw err;
    }
  };

  try {
    let groupsCount = getNotificationCenterGroups(true).filter(group =&gt; notificationGroupMatches(group)).length;

    if (groupsCount &gt; 0) {
      logVerbose(`Closing ${groupsCount}${appNameForLog} notification group${(groupsCount &gt; 1 ? "s" : "")}`);

      let startTime = new Date().getTime();
      let closedCount = 0;
      let maybeMore = true;
      let maxAttempts = 2;
      let attempts = 1;
      while (maybeMore &amp;&amp; ((new Date().getTime() - startTime) &lt;= (1000 * 30))) {
        try {
          let closeResult = closeNextGroup(getNotificationCenterGroups(), closedCount);
          maybeMore = closeResult[0];
          if (maybeMore) {
            closedCount = closedCount + closeResult[1];
          }
        } catch (innerErr) {
          if (maybeMore &amp;&amp; closedCount === 0 &amp;&amp; attempts &lt; maxAttempts) {
            log(`Caught an error before anything closed, trying ${maxAttempts - attempts} more time(s).`)
            attempts++;
          } else {
            throw innerErr;
          }
        }
      }
    } else {
      throw Error(`No${appNameForLog} notifications found...`);
    }
  } catch (err) {
    logError(err);
    logError(err.message);
    getLogLines();
    throw err;
  }

  return getLogLines();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/dismiss-notification.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F34FCF8E-937F-468A-8727-48A458BF4FA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string>run dotfiles &amp; vault sync before</string>
				<key>text</key>
				<string>Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>433B5526-5138-4622-BD58-0DE98F3C79F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/dotfiles/

filesChanged="$(git status --porcelain | wc -l | tr -d ' ')"
if [[ -n "$filesChanged" ]] ; then
	echo "📴 pre-shutdown-sync" &gt;&gt; ~"/dotfiles/Cron Jobs/sync.log"
	zsh ~/dotfiles/git-dotfile-sync.sh
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/pre-shutdown.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB25652B-F29C-467C-A234-8DD5F700B047</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3FBF0208-3AC5-48A4-A7AF-86BE9C0B1915</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ Sync Issue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CD7F4A8F-7638-4D94-96DD-C7B2405D837C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/toggle-rain.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF2E709C-56BA-4D78-AD00-074FC6326079</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rain</string>
				<key>subtext</key>
				<string>lo-rain</string>
				<key>text</key>
				<string>Toggle Rain</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>koala</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>koala DM</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2E166F6-CEA5-452B-ACA3-EACF8897D858</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Discord" "https://discordapp.com/channels/@me/894696437676408833"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9650F72-BF50-400A-8F51-96D2199DF19D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>neovim-debugger.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87FA7BC2-6B86-4232-BC62-918EC5651BA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Killall","arg":"killall","subtitle":"nvim, neovide, language servers"},{"title":"Signal","arg":"signal","subtitle":"send 'echo \"ping\"'"},{"title":"Report","arg":"report","subtitle":"of running processes"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>33654CF6-613B-4F13-A9BB-C69F22B60536</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>69582200-3B13-4747-BCAD-1292B8BF99FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}

I  Marks a process that is idle (sleeping for longer than about 20 seconds).
R  Marks a runnable process.
S  Marks a process that is sleeping for less than about 20 seconds.
T  Marks a stopped process.
U  Marks a process in uninterruptible wait.
Z  Marks a dead process (a “zombie”).
s  The process is a session leader.</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>90</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>221EDD07-BD53-4BD8-B302-CD0040D3FE51</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Zoom Quicker Login</string>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>16D2C4F3-A099-4D2C-A0C8-03E587C8968A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>221EDD07-BD53-4BD8-B302-CD0040D3FE51</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>318E19F4-2DB1-4B3E-B1E2-F288DF9FF244</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>33654CF6-613B-4F13-A9BB-C69F22B60536</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>3FBF0208-3AC5-48A4-A7AF-86BE9C0B1915</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>433B5526-5138-4622-BD58-0DE98F3C79F5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>ensuring git repos synced before</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>496D4848-5FF5-4521-AD62-DA66D955EF60</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>4F748E27-E0FA-42A5-9B83-B58EF498DC15</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>656E6A0F-FAB7-428D-AB7D-811A3D19C2A1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>add rss feed</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>69582200-3B13-4747-BCAD-1292B8BF99FD</key>
		<dict>
			<key>note</key>
			<string>neovim debug</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>quit Karabiner-EventViewer</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>87FA7BC2-6B86-4232-BC62-918EC5651BA7</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>9248EC6E-2EAB-43B6-B666-C9F3B323038F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>backup: dotfiles, vault, and bookmarks</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>9734FC1B-0242-4229-B9BF-4A809F59C81E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>9C8E2CFD-649D-4005-8762-41497D453FEF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Add Spelling correction to espanso</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>A2E166F6-CEA5-452B-ACA3-EACF8897D858</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>toggle lo-rain</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>A825DF3F-79FD-44B3-8972-AF3EFC059CCB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>front window</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>AB25652B-F29C-467C-A234-8DD5F700B047</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>AF2E709C-56BA-4D78-AD00-074FC6326079</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>BA7E00FB-F43B-4DDF-869D-A9DB23200405</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>dismiss notifications</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>C120F733-C46F-44AC-ADAA-504E11D52028</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>keep on top</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>CC649DDD-3F1D-47F4-A2BA-EA57ADBA8E06</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>CD7F4A8F-7638-4D94-96DD-C7B2405D837C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>login script</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>E8066503-E298-4023-9E9F-3FBA20E03748</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E9650F72-BF50-400A-8F51-96D2199DF19D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>repo sync</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>ED8AD722-9DB6-49E1-A9DD-43769FFF8052</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>F34FCF8E-937F-468A-8727-48A458BF4FA9</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>FDD33DE5-9EF6-4054-97BE-CD907ADEC73E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>will ask for confirmation</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>FFE40428-4486-4B45-AD59-024B6311D2D8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>move to bottom left</string>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
