<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.karabiner-espanso</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F748E27-E0FA-42A5-9B83-B58EF498DC15</key>
		<array/>
		<key>656E6A0F-FAB7-428D-AB7D-811A3D19C2A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>496D4848-5FF5-4521-AD62-DA66D955EF60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C8E2CFD-649D-4005-8762-41497D453FEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>496D4848-5FF5-4521-AD62-DA66D955EF60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16D2C4F3-A099-4D2C-A0C8-03E587C8968A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Do not open file afterwards</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A825DF3F-79FD-44B3-8972-AF3EFC059CCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFE40428-4486-4B45-AD59-024B6311D2D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC649DDD-3F1D-47F4-A2BA-EA57ADBA8E06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8066503-E298-4023-9E9F-3FBA20E03748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F748E27-E0FA-42A5-9B83-B58EF498DC15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>318E19F4-2DB1-4B3E-B1E2-F288DF9FF244</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Automation Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>16D2C4F3-A099-4D2C-A0C8-03E587C8968A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️Restart Hammerspoon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8066503-E298-4023-9E9F-3FBA20E03748</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>restart-hammerspoon.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F748E27-E0FA-42A5-9B83-B58EF498DC15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>win</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Display Window Properties</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A825DF3F-79FD-44B3-8972-AF3EFC059CCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events" to set frontAppProcess to first application process whose frontmost is true# Tell the *process* to count its windows and return its front window's name.tell frontAppProcess	if (count of windows) &gt; 0 then		set window_name to name of front window	end ifend tell

set the clipboard to window_name

# direct return for displaying in Alfred
window_name</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-window-title.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.pqrs.Karabiner-EventViewer</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Karabiner-EventViewer" to if it is running then quit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sync</string>
				<key>subtext</key>
				<string>Dotfiles, Vault &amp; Password-Store</string>
				<key>text</key>
				<string>🔁 Sync Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9FF31BC-709C-4387-975A-0B1410418161</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>hammerspoon://sync-repos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>318E19F4-2DB1-4B3E-B1E2-F288DF9FF244</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>add-feed-to-inoreader.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>496D4848-5FF5-4521-AD62-DA66D955EF60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rss</string>
				<key>subtext</key>
				<string>to Inoreader (leave empty to add current browser tab)</string>
				<key>text</key>
				<string>Add RSS Feed</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>656E6A0F-FAB7-428D-AB7D-811A3D19C2A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>480</string>
					<key>width</key>
					<string>370</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>600</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FFE40428-4486-4B45-AD59-024B6311D2D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pip</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Picture-in-Picture: Zoom</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC649DDD-3F1D-47F4-A2BA-EA57ADBA8E06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to tell process "zoom.us"
	set frontmost to true
	click menu item "Keep on Top" of menu "Meeting" of menu bar 1
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add Feed to Innoreader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9C8E2CFD-649D-4005-8762-41497D453FEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔓 Zoom Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "zoom.us" to activate
delay 1
tell application "System Events" 
	keystroke tab
	keystroke space
	delay 0.2
	keystroke tab
	keystroke tab
	keystroke tab
	keystroke tab
	keystroke space
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>zoom-login-automation.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>add-to-espanso-spellings.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spell</string>
				<key>subtext</key>
				<string>$1: Misspelling $2: Correct Spelling</string>
				<key>text</key>
				<string>Spelling: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2960A81-02AB-485E-AF91-AEF7B502D533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>open</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Zoom Quicker Login</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>16D2C4F3-A099-4D2C-A0C8-03E587C8968A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>318E19F4-2DB1-4B3E-B1E2-F288DF9FF244</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>496D4848-5FF5-4521-AD62-DA66D955EF60</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>4F748E27-E0FA-42A5-9B83-B58EF498DC15</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>656E6A0F-FAB7-428D-AB7D-811A3D19C2A1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>add rss feed</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>quit Karabiner-EventViewer</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>9734FC1B-0242-4229-B9BF-4A809F59C81E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>9C8E2CFD-649D-4005-8762-41497D453FEF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>A085B3C2-31CE-4786-BC74-B21EC8BDDCB1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Add Spelling correction to espanso</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>A825DF3F-79FD-44B3-8972-AF3EFC059CCB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>front window</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C120F733-C46F-44AC-ADAA-504E11D52028</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>C98CBF71-E7E2-41B1-9C53-9A50774B67D4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>keep on top</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>CC649DDD-3F1D-47F4-A2BA-EA57ADBA8E06</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>login script</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>E8066503-E298-4023-9E9F-3FBA20E03748</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>repo sync</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>FFE40428-4486-4B45-AD59-024B6311D2D8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>move to bottom left</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
