<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>5BD7290A-4D3C-4A41-A4D4-668385E514AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F4417F9-1E15-4514-8C37-FEBEE68D292A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95028977-E511-4F96-8A31-8A1EA3939515</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1646853-4BE7-44BE-985F-9282246BAFCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>919C67AD-F9F2-4691-A835-0E3807CABF9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1646853-4BE7-44BE-985F-9282246BAFCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>919C67AD-F9F2-4691-A835-0E3807CABF9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	set tabUrl to URL of active tab of front window	set tabTitle to title of active tab of front windowend tellset tabSelection to "{query}"set mailto_command to "?subject=FYI: " &amp; tabTitle &amp; "&amp;body="if (tabSelection is not "") then set mailto_command to mailto_command &amp; "\"" &amp; tabSelection &amp; "\"" &amp; "\n\n"return mailto_command &amp; tabUrl</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>send-mail.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Ä</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>com.vivaldi.Vivaldi</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5BD7290A-4D3C-4A41-A4D4-668385E514AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F1646853-4BE7-44BE-985F-9282246BAFCA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>mailto:?body=

Viele Grüße
Chris</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>95028977-E511-4F96-8A31-8A1EA3939515</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Ä</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>com.vivaldi.Vivaldi</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5F4417F9-1E15-4514-8C37-FEBEE68D292A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5BD7290A-4D3C-4A41-A4D4-668385E514AB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mail the current Browser Tab</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>5F4417F9-1E15-4514-8C37-FEBEE68D292A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>new Mail</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>919C67AD-F9F2-4691-A835-0E3807CABF9F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>95028977-E511-4F96-8A31-8A1EA3939515</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>has extra rows below (arrow down to scroll down)</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F1646853-4BE7-44BE-985F-9282246BAFCA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>maildrop.cc</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Maildrop</string>
						<string>maildrop.cc</string>
					</array>
					<array>
						<string>Harakirimail</string>
						<string>harakirimail.com</string>
					</array>
					<array>
						<string>Guerilla Mail</string>
						<string>guerrillamail.com</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Email Service</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>email_service</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
