<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.alfred-workflow-devtools</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D614A191-BB33-4C78-A471-BC471BD46506</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2599F7AA-72EF-4424-B3C9-BD7526BE79EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D3116FB-2035-479F-8AD2-E4298E8F46EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEC3B0ED-2710-4ECD-9AE8-77B073DF7879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DADFA85-C59F-4D17-A85F-5BC10246EA83</key>
		<array/>
		<key>39D1BEBE-CB2C-48C2-ADA7-40A307BF7DA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43143E26-0CD1-43FB-B13D-74E8AB0411EF</key>
		<array/>
		<key>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3A8C19-51DD-4007-9302-1B8EA64BE9A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54C6EE1A-837D-4418-893C-4A301235A660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7792FA5D-64AB-40EB-AE6C-EE433C5FC0CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6496340C-2FAA-42F9-B626-A6E48D173091</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B265954-3202-4ECE-A9CC-FE23D2ADB407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6552DA50-7058-4101-A2EF-78E87D7C5FF9</key>
		<array/>
		<key>7B265954-3202-4ECE-A9CC-FE23D2ADB407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F55AD62-8636-4D88-8A53-E61A24FC96E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1E33BB2-038D-4375-B0D8-FD9D71095631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>863E22BA-DAEB-463A-9BBF-C34BA32AEE99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76D33A90-C184-4A3E-B409-1496DF0C1008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A90F5AA-D1A4-4128-A301-1B60D86388E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>863E22BA-DAEB-463A-9BBF-C34BA32AEE99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CE91420-4683-4D16-BD51-2D1D510E744C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6552DA50-7058-4101-A2EF-78E87D7C5FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA58ABD9-7183-427F-9B26-59162319F6CC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8A90F5AA-D1A4-4128-A301-1B60D86388E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>37E6C655-0A30-47B1-B26B-56B0CBEE9ACA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43143E26-0CD1-43FB-B13D-74E8AB0411EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC9A1F0A-5BDD-4DAA-B890-20E80DDECB00</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DADFA85-C59F-4D17-A85F-5BC10246EA83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AAEBAC1A-4C1F-49C4-BA9C-175DFF9F7687</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DADFA85-C59F-4D17-A85F-5BC10246EA83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>13258927-20D2-4FDB-9ABF-FFF2263309D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0074CBE-558E-4BBB-81FD-52090611ED44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60ECFF86-E337-4D28-94AE-C79C9D0CB657</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CF1EA47-581D-4A4D-928B-EDB01125E0E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D3116FB-2035-479F-8AD2-E4298E8F46EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94B1260C-F775-488F-9649-84BE5EB0A9B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>699138F8-878B-4713-AC92-803CB451F33E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A586AF1E-8A0F-4B14-886F-07F7EA4AFDBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD4DAB43-9C3C-4491-8512-21EA61650C8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CE91420-4683-4D16-BD51-2D1D510E744C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C00ED073-C78C-482B-9067-D93E55EBE562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1E33BB2-038D-4375-B0D8-FD9D71095631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D08B3C11-6C2B-492A-ABE0-9ECC93D911C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F55AD62-8636-4D88-8A53-E61A24FC96E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D614A191-BB33-4C78-A471-BC471BD46506</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E596A969-3C93-41FA-B182-71849E89E62A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7038895-2DA5-4A14-8B30-E18462499883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77ABCFDA-2150-4704-B51F-AE78F0467797</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</key>
		<array/>
		<key>DEC3B0ED-2710-4ECD-9AE8-77B073DF7879</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7038895-2DA5-4A14-8B30-E18462499883</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0074CBE-558E-4BBB-81FD-52090611ED44</key>
		<array/>
		<key>E28855AB-7B4D-488D-B2C3-B46DAF68AB16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B1260C-F775-488F-9649-84BE5EB0A9B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E596A969-3C93-41FA-B182-71849E89E62A</key>
		<array/>
		<key>EC40B312-B9EE-49EF-AE37-8A58ACC196CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E28855AB-7B4D-488D-B2C3-B46DAF68AB16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C00ED073-C78C-482B-9067-D93E55EBE562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Various utilities and quality-of-life-features for Alfred workflow developers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Workflow Devtools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-last-workflow.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2599F7AA-72EF-4424-B3C9-BD7526BE79EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/reload-workflow-and-delete-cache.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C00ED073-C78C-482B-9067-D93E55EBE562</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-current-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>39D1BEBE-CB2C-48C2-ADA7-40A307BF7DA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A1E33BB2-038D-4375-B0D8-FD9D71095631</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D08B3C11-6C2B-492A-ABE0-9ECC93D911C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/finder-to-alfred.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F55AD62-8636-4D88-8A53-E61A24FC96E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-current-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A586AF1E-8A0F-4B14-886F-07F7EA4AFDBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Library/CoreServices/Finder.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>E596A969-3C93-41FA-B182-71849E89E62A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D614A191-BB33-4C78-A471-BC471BD46506</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>699138F8-878B-4713-AC92-803CB451F33E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EC40B312-B9EE-49EF-AE37-8A58ACC196CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-current-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E28855AB-7B4D-488D-B2C3-B46DAF68AB16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>94B1260C-F775-488F-9649-84BE5EB0A9B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-current-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D3116FB-2035-479F-8AD2-E4298E8F46EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/insert-workflow-variable.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}: insert variable</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7038895-2DA5-4A14-8B30-E18462499883</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8CF1EA47-581D-4A4D-928B-EDB01125E0E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>77ABCFDA-2150-4704-B51F-AE78F0467797</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>workflow_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DEC3B0ED-2710-4ECD-9AE8-77B073DF7879</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A3A8C19-51DD-4007-9302-1B8EA64BE9A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-current-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B265954-3202-4ECE-A9CC-FE23D2ADB407</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6496340C-2FAA-42F9-B626-A6E48D173091</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_docs}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>cat ./data/alfred-docs.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred Workflow Docs</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>54C6EE1A-837D-4418-893C-4A301235A660</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7792FA5D-64AB-40EB-AE6C-EE433C5FC0CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># disown, since this script itself is a child process of Alfred
nohup ./scripts/restart-alfred.sh
disown</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6552DA50-7058-4101-A2EF-78E87D7C5FF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>4</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>76D33A90-C184-4A3E-B409-1496DF0C1008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/unused-files.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>863E22BA-DAEB-463A-9BBF-C34BA32AEE99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-current-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A90F5AA-D1A4-4128-A301-1B60D86388E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>restart</string>
						<key>outputlabel</key>
						<string>restart</string>
						<key>uid</key>
						<string>DA58ABD9-7183-427F-9B26-59162319F6CC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>unused_files</string>
						<key>outputlabel</key>
						<string>unused_files</string>
						<key>uid</key>
						<string>37E6C655-0A30-47B1-B26B-56B0CBEE9ACA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pref_icon</string>
						<key>outputlabel</key>
						<string>pref_icon</string>
						<key>uid</key>
						<string>CC9A1F0A-5BDD-4DAA-B890-20E80DDECB00</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>data_folder</string>
						<key>outputlabel</key>
						<string>data_folder</string>
						<key>uid</key>
						<string>AAEBAC1A-4C1F-49C4-BA9C-175DFF9F7687</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cache_folder</string>
						<key>outputlabel</key>
						<string>cache_folder</string>
						<key>uid</key>
						<string>13258927-20D2-4FDB-9ABF-FFF2263309D2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>apply_debugger_fontsize</string>
						<key>outputlabel</key>
						<string>debugger_fontsize</string>
						<key>uid</key>
						<string>60ECFF86-E337-4D28-94AE-C79C9D0CB657</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8CE91420-4683-4D16-BD51-2D1D510E744C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"📊 Open data folder","arg":"data_folder","subtitle":"for current workflow"},{"title":"🧹 Open cache folder","arg":"cache_folder","subtitle":"for current workflow"},{"title":"🔬 Check for unused files","arg":"unused_files","subtitle":"in current workflow, check for unused files, and remove unused UID-pngs"},{"title":"❗️ Restart Alfred","arg":"restart","subtitle":"and Alfred Preferences.app, if open"},{"title":"🔤 Apply debugger font size","arg":"apply_debugger_fontsize","subtitle":"from the workflow configuration"},{"title":"⚙️ Update \"Alfred Preferences.app\" icon","arg":"pref_icon","subtitle":""}]</string>
				<key>keyword</key>
				<string>{var:menu_keyword}</string>
				<key>matchmode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}: Menu</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>AD4DAB43-9C3C-4491-8512-21EA61650C8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/update-alfred-preferences-icon.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43143E26-0CD1-43FB-B13D-74E8AB0411EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-cache-or-data-folder.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DADFA85-C59F-4D17-A85F-5BC10246EA83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/apply-debugger-font-size.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0074CBE-558E-4BBB-81FD-52090611ED44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- The workflow offers various
  [hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/):
	+ Go to the last workflow in the Alfred Preferences.
	+ Reload the current workflow, and flush all caches related to it.
	+ Reveal the current workflow in macOS Finder.
	+ Reveal the workflow corresponding to
	  the current Finder window in the Alfred Preferences.
	+ Go to the workflow's directory in the terminal. (Uses the terminal app you
	  have [configured in Alfred
	  Preferences](https://www.alfredapp.com/help/features/terminal/).)
	+ Paste the name of an Alfred workflow variable for the current workflow.
	+ Copy the workflows absolute path to the clipboard.
- Search the Alfred workflow development docs via the keyword `adoc`.
	+ &lt;kbd&gt;⏎&lt;/kbd&gt; Open in the browser.
	+ &lt;kbd&gt;⌥⏎&lt;/kbd&gt; Copy URL.
- Show a menu of some more utilities via the keyword `awd`. Those include:
	+ Check for unused files of current workflow, and remove unused UID `.png`
	  files.
	+ Restart Alfred (and Alfred Preferences).
	+ Update Alfred Preferences.app to use an icon with the macOS Big Sur icon
	  shape.
	+ Open the Alfred data or cache folder.
	+ Change the font size of the Alfred debugger window.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get current workflow</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>2599F7AA-72EF-4424-B3C9-BD7526BE79EE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>goto last workflow</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2D3116FB-2035-479F-8AD2-E4298E8F46EF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get current workflow</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>2DADFA85-C59F-4D17-A85F-5BC10246EA83</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1535</real>
		</dict>
		<key>39D1BEBE-CB2C-48C2-ADA7-40A307BF7DA5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>reload current workflow &amp; delete its cache</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>43143E26-0CD1-43FB-B13D-74E8AB0411EF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1425</real>
		</dict>
		<key>4A3A8C19-51DD-4007-9302-1B8EA64BE9A6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>54C6EE1A-837D-4418-893C-4A301235A660</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1055</real>
		</dict>
		<key>6496340C-2FAA-42F9-B626-A6E48D173091</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>copy workflow path</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>6552DA50-7058-4101-A2EF-78E87D7C5FF9</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1175</real>
		</dict>
		<key>699138F8-878B-4713-AC92-803CB451F33E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>76D33A90-C184-4A3E-B409-1496DF0C1008</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>7792FA5D-64AB-40EB-AE6C-EE433C5FC0CA</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1055</real>
		</dict>
		<key>77ABCFDA-2150-4704-B51F-AE78F0467797</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>7B265954-3202-4ECE-A9CC-FE23D2ADB407</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get current workflow</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>7F55AD62-8636-4D88-8A53-E61A24FC96E4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>863E22BA-DAEB-463A-9BBF-C34BA32AEE99</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>8A90F5AA-D1A4-4128-A301-1B60D86388E2</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>get current workflow</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>8CE91420-4683-4D16-BD51-2D1D510E744C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>1365</real>
		</dict>
		<key>8CF1EA47-581D-4A4D-928B-EDB01125E0E3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>paste workflow variable</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>94B1260C-F775-488F-9649-84BE5EB0A9B2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>A1E33BB2-038D-4375-B0D8-FD9D71095631</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A586AF1E-8A0F-4B14-886F-07F7EA4AFDBA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Alfred Prefs → Finder</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>AD4DAB43-9C3C-4491-8512-21EA61650C8F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1405</real>
		</dict>
		<key>C00ED073-C78C-482B-9067-D93E55EBE562</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>reload and delete cache</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>D08B3C11-6C2B-492A-ABE0-9ECC93D911C1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Finder → Alfred Prefs</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D614A191-BB33-4C78-A471-BC471BD46506</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>D7038895-2DA5-4A14-8B30-E18462499883</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>DEC3B0ED-2710-4ECD-9AE8-77B073DF7879</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>save workflowpath</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>E0074CBE-558E-4BBB-81FD-52090611ED44</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1645</real>
		</dict>
		<key>E28855AB-7B4D-488D-B2C3-B46DAF68AB16</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get current workflow</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>E596A969-3C93-41FA-B182-71849E89E62A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>EC40B312-B9EE-49EF-AE37-8A58ACC196CA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Alfred Prefs → Terminal</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get current workflow</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>adoc</string>
				<key>placeholder</key>
				<string>adoc</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Alfred workflow development docs</string>
			<key>label</key>
			<string>Keywords</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_docs</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>awd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>menu of commands</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>menu_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>11</integer>
				<key>markercount</key>
				<integer>15</integer>
				<key>maxvalue</key>
				<integer>24</integer>
				<key>minvalue</key>
				<integer>10</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Run "Apply debugger font size" from the menu for this change to take effect.</string>
			<key>label</key>
			<string>Debugger font size</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>debugger_fontsize</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3.4</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
