<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.systemsettingsexplorer</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>0214A1CF-CD90-405A-A5E7-08F166C8FEA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9446739A-E0C3-4EDE-A0C9-8476EBAE9927</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F0190F9-DC91-4EA4-88AE-073C8B9F2C1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9908D14F-0E5F-4408-93A0-BF17BB1E4BCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8220D5E6-A495-4C7E-B837-F00DE9C1C524</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A06AE1FD-8C6F-4253-B457-A9B9E77E6419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9446739A-E0C3-4EDE-A0C9-8476EBAE9927</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F0190F9-DC91-4EA4-88AE-073C8B9F2C1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9908D14F-0E5F-4408-93A0-BF17BB1E4BCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E31767D-2D46-44A7-85BF-92251A91CA63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11BCE948-8590-4AAE-B06F-B8D0DA623B73</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8220D5E6-A495-4C7E-B837-F00DE9C1C524</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6EFFFCE-97A1-4941-9386-83681F93C130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9446739A-E0C3-4EDE-A0C9-8476EBAE9927</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Quickly navigate System Settings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System Settings Explorer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6E31767D-2D46-44A7-85BF-92251A91CA63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>6</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<true/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string>scripts/{var:submenu}</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<true/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listSettings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>7F0190F9-DC91-4EA4-88AE-073C8B9F2C1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:explorer_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [[ "${runImmediately}" -eq 1 ]]; then
osascript -e 'tell application id "com.runningwithcrayons.Alfred"
	search text 1 thru -2 of (system attribute "alfred_workflow_keyword")
	run trigger "listSettings" in workflow "com.firefingers21.systemsettingsexplorer"
end tell'
else
cat &lt;&lt; EOB
{"items": [
	{
		"title": "${alfred_workflow_name}",
		"subtitle": "${alfred_workflow_description}",
		"arg": "main.sh"
	}
]}
EOB
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E6EFFFCE-97A1-4941-9386-83681F93C130</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^x-apple.systempreferences:</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>11BCE948-8590-4AAE-B06F-B8D0DA623B73</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9908D14F-0E5F-4408-93A0-BF17BB1E4BCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>submenu</key>
					<string>main.sh</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9446739A-E0C3-4EDE-A0C9-8476EBAE9927</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0214A1CF-CD90-405A-A5E7-08F166C8FEA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listSettings</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A06AE1FD-8C6F-4253-B457-A9B9E77E6419</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>submenu</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8220D5E6-A495-4C7E-B837-F00DE9C1C524</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

View and search for System Settings panes with the `sse` keyword.

![Entering workflow keyword](images/about/keyword.png)

Select the desired menu to open in System Settings. Scroll through results or type to filter.

![Viewing main settings](images/about/mainSettings.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open selected pane in System Settings
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open nested pane directly in System Settings

Nested panes such as `General` and `Accessibility` have more settings panes nested within them. These panes are browsable within Alfred, but can be opened directly by holding Command &lt;kbd&gt;⌘&lt;/kbd&gt;. They can also be selectively included in the main search results from the [Workflow's Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Viewing General Settings](images/about/generalSettings.png)

Natural language and sub-settings search are supported, so `and` matches `&amp;` and `Mission Control` matches its parent pane `Desktop &amp; Dock`.

![Searching for settings panes](images/about/autofill.png)

![Searching for settings panes](images/about/missionControl.png)

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as a faster shortcut to view settings panes.</string>
	<key>uidata</key>
	<dict>
		<key>0214A1CF-CD90-405A-A5E7-08F166C8FEA6</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>6E31767D-2D46-44A7-85BF-92251A91CA63</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Open Settings Pane</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7F0190F9-DC91-4EA4-88AE-073C8B9F2C1A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Main Settings</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8220D5E6-A495-4C7E-B837-F00DE9C1C524</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>9446739A-E0C3-4EDE-A0C9-8476EBAE9927</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9908D14F-0E5F-4408-93A0-BF17BB1E4BCE</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A06AE1FD-8C6F-4253-B457-A9B9E77E6419</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Submenus</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>E6EFFFCE-97A1-4941-9386-83681F93C130</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>sse</string>
				<key>placeholder</key>
				<string>sse</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Explorer Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>explorer_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Run Without Confirmation</string>
			</dict>
			<key>description</key>
			<string>Optionally run the workflow immediately upon keyword match</string>
			<key>label</key>
			<string>Keyword Behaviour</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>runImmediately</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show General Settings</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Results</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showGeneral</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Accessibility Settings</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showAccessibility</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Privacy &amp; Security Settings</string>
			</dict>
			<key>description</key>
			<string>Select nested panes to include in the main search results.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showPrivacySecurity</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>submenu</key>
		<string>main.sh</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-system-settings-explorer</string>
</dict>
</plist>
