<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.sidenote-tweaks</string>
	<key>connections</key>
	<dict>
		<key>16C5F45A-DCED-4A89-B5C9-B04DE9261021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B0FF1F7-5612-4F4E-B4F5-76241BFFF167</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26469DF4-1A9D-4A84-85DA-A42E21C9C5B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sidenote Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set theList to "General"
	set reminderText to argv as string
	set inDays to 1
	set dueDate to (current date) + inDays * (60 * 60 * 24)
	tell application "Reminders"
		tell (list theList) to make new reminder at end with properties {name:reminderText, allday due date: dueDate}
		quit
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26469DF4-1A9D-4A84-85DA-A42E21C9C5B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>const content = Application("SideNotes").currentNote().text();
Application("SideNotes").currentNote().delete();
content // direct return</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>.js</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0];
	let app = Application("SideNotes");
    let queryResults = app.search(query);

    var results = [];

    for (let res of queryResults) {
    	results.push({
    	    "uid": res.identifier,
    		"title": res.title,
    		"subtitle": res.details,
			"arg": res.identifier,
			"action": {
				"text": res.details
			}
    	});
    }

    return JSON.stringify({
    	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for {query}</string>
				<key>title</key>
				<string>sn search</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16C5F45A-DCED-4A89-B5C9-B04DE9261021</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const noteId = argv[0];
  Application("SideNotes").openWithId(noteId);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B0FF1F7-5612-4F4E-B4F5-76241BFFF167</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>16C5F45A-DCED-4A89-B5C9-B04DE9261021</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>search side notes</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>26469DF4-1A9D-4A84-85DA-A42E21C9C5B2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>create reminder tmrw</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>8B0FF1F7-5612-4F4E-B4F5-76241BFFF167</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open side note</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Snooze Sidenote</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>return note content &amp; create reminder</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
