# don't add "node_modules" here since some Alfred workflows actually rely on it

# contains API Key
Alfred.alfredpreferences/workflows/user.workflow.17D78B6F-728C-444B-ADD8-CE737873CE0F/prefs.plist

# Activity Data
sync.log
some.log
dlFolderLastChange

# redundant
.config/karabiner/automatic_backups

# default location of (large) coc extensions; actually not necessary because of `g.coc_data_home` is changed in the coc-config, but still put here as a safety net
.config/coc

# in case of accidental saving of such files in the repo
*.mp4
*.part
