[submodule "Alfred.alfredpreferences/workflows/alfred-bibtex-citation-picker"]
	path = Alfred.alfredpreferences/workflows/alfred-bibtex-citation-picker
	url = git@github.com:chrisgrieser/alfred-bibtex-citation-picker.git
	update = rebase
[submodule "Alfred.alfredpreferences/workflows/shimmering-obsidian"]
	path = Alfred.alfredpreferences/workflows/shimmering-obsidian
	url = git@github.com:chrisgrieser/shimmering-obsidian.git
	update = rebase
[submodule "Alfred.alfredpreferences/workflows/pdf-annotation-extractor-alfred"]
	path = Alfred.alfredpreferences/workflows/pdf-annotation-extractor-alfred
	url = git@github.com:chrisgrieser/pdf-annotation-extractor-alfred.git
	update = rebase
[submodule "Alfred.alfredpreferences/workflows/alfred-neovim-utilities"]
	path = Alfred.alfredpreferences/workflows/alfred-neovim-utilities
	url = git@github.com:chrisgrieser/alfred-neovim-utilities.git
	update = rebase
[submodule "nvim/my-plugins/nvim-genghis"]
	path = nvim/my-plugins/nvim-genghis
	url = git@github.com:chrisgrieser/nvim-genghis.git
	update = rebase
[submodule "nvim/my-plugins/nvim-recorder"]
	path = nvim/my-plugins/nvim-recorder
	url = git@github.com:chrisgrieser/nvim-recorder.git
	update = rebase
[submodule "nvim/my-plugins/cmp-nerdfont"]
	path = nvim/my-plugins/cmp-nerdfont
	url = git@github.com:chrisgrieser/cmp-nerdfont.git
