<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.contactssearch</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>46122059-ADA6-4949-9909-A3DCA06F465C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A2B113-0D68-4EAF-B12A-94E478A5E1D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67628546-92A1-4AA7-9FF9-9AA7E5605B23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B07630AD-13D3-4A42-BF7A-CDA8180326CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B07630AD-13D3-4A42-BF7A-CDA8180326CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46122059-ADA6-4949-9909-A3DCA06F465C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D75D3C21-D249-4C68-9415-3655380B37C9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘↩ Open in Contacts</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0A2B113-0D68-4EAF-B12A-94E478A5E1D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2CE8572-6DB0-42B8-899F-CAF39473B5E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DAB02286-B7BF-4686-9831-5975E82BA723</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBE52C58-BB3C-4AB3-BAB4-96284023C4B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B07630AD-13D3-4A42-BF7A-CDA8180326CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Search &amp; view fields in Contacts cards</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Contacts Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DBE52C58-BB3C-4AB3-BAB4-96284023C4B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ -z ${urlHandler} ]]; then
	find "${contacts_dir}" -name "${1}.abcdp" -print0
else
	open -u "${urlHandler//\{uid\}/${1}}"
	printf 0
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46122059-ADA6-4949-9909-A3DCA06F465C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:contacts_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B07630AD-13D3-4A42-BF7A-CDA8180326CB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B2CE8572-6DB0-42B8-899F-CAF39473B5E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>DAB02286-B7BF-4686-9831-5975E82BA723</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B0A2B113-0D68-4EAF-B12A-94E478A5E1D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>searchContacts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>67628546-92A1-4AA7-9FF9-9AA7E5605B23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>addressbook://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D75D3C21-D249-4C68-9415-3655380B37C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

This workflow works with Alfred's [Contacts Viewer](https://www.alfredapp.com/help/features/contacts/#viewer). Enable it by checking `Open Contacts in Alfred` in the Features &gt; Contacts &gt; Contacts preferences.

## Usage

Search Contacts details via the `cs` keyword. Type to filter.

![Using the Search Contacts keyword](images/about/keyword.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; View Contact card.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open Contact card in Contacts app.

Contacts are always searchable by Full Name and Nickname, while searching by Job Title, Organization, Phone Number, Email Address, Street Address, and Notes is configurable from the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Filtering Contacts results](images/about/filter.png)

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering. For more advanced access, the [External Trigger](https://www.alfredapp.com/help/workflows/triggers/external/) is also available.

Optionally override where contacts are opened with the `URL Handler` field in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/). This can be another app or an [External Trigger](https://www.alfredapp.com/help/workflows/triggers/external/) from another workflow.</string>
	<key>uidata</key>
	<dict>
		<key>46122059-ADA6-4949-9909-A3DCA06F465C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Get card file /
Custom URL Handler</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>67628546-92A1-4AA7-9FF9-9AA7E5605B23</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>B07630AD-13D3-4A42-BF7A-CDA8180326CB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Main Action &amp; Keyword</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>B0A2B113-0D68-4EAF-B12A-94E478A5E1D3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>B2CE8572-6DB0-42B8-899F-CAF39473B5E2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Open card</string>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>D75D3C21-D249-4C68-9415-3655380B37C9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Open in Contacts</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>DBE52C58-BB3C-4AB3-BAB4-96284023C4B7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cs</string>
				<key>placeholder</key>
				<string>cs</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Contacts Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>contacts_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Job Title</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Filters</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useJobTitle</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Organization</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useOrganization</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Phone Number</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>usePhone</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Email Address</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useEmail</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Street Address</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useStreet</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Notes</string>
			</dict>
			<key>description</key>
			<string>Select contact fields to make them searchable</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useNotes</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>First Name</string>
						<string>0</string>
					</array>
					<array>
						<string>Last Name</string>
						<string>1</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose how to alphabetically sort Contacts</string>
			<key>label</key>
			<string>Sort By</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sortBy</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>addressbook://{uid}</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>A custom URL handler to open results with. Use the {uid} placeholder to pass the UID of the contact to the URL handler.</string>
			<key>label</key>
			<string>URL Handler</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>urlHandler</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/AddressBook/Sources</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Library/Application Support/AddressBook/Sources</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Source directory for AddressBook databases. Includes all contacts by default.</string>
			<key>label</key>
			<string>Contacts Source</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>contacts_dir</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2025.11</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-contacts-search</string>
</dict>
</plist>
