<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>0D13B12B-0868-4F46-BFB7-52A432ED5AF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A76325B-A77E-4806-A66C-34AB8C27ECA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>73318727-94F7-4F14-A537-0D01523D7FA1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3464F95-B489-4113-82A7-9CCB3300B0E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26D32329-094D-4EE5-98BE-7D4B1C5BFA95</key>
		<array/>
		<key>3A8836DB-3455-405F-9E15-B2876FC9967D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3E53E94-0FC1-4954-B5F8-257313FB7EA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DD2CA0C-DA1D-4C4C-B207-AC70E83B3C4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE15BDDF-BE0F-4506-9F3F-EE61551C52FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>532ED943-AA0D-43A0-BBCF-3EBEA97FFD31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>440612A1-D74A-4799-A0D6-F88760AF14CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E6686A0-B634-4A23-A4FA-7DAF29604957</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC3D252-6578-4A57-A511-7C45C64C2CA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>681793A7-1E5D-456D-8593-88828D1E5C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>846A75D1-67B5-4DFC-A2B0-8F8276CA4423</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C82BEC8-E24E-4C35-9066-32FE30D50429</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90D551C1-F214-4BD2-8D16-B5047536BAE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A76325B-A77E-4806-A66C-34AB8C27ECA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D32329-094D-4EE5-98BE-7D4B1C5BFA95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9D9FB4C3-2338-4F5E-BAB8-DEFB91716031</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8627A802-741F-4477-A445-AA3EA82ED4C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E28945AC-6D2E-4DD0-A8CD-A3BA57E7C0DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90D551C1-F214-4BD2-8D16-B5047536BAE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F50EE2DE-822A-4F52-915D-9312B6BD4582</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3464F95-B489-4113-82A7-9CCB3300B0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8627A802-741F-4477-A445-AA3EA82ED4C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE15BDDF-BE0F-4506-9F3F-EE61551C52FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E6686A0-B634-4A23-A4FA-7DAF29604957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>47159875-021C-4638-8CD3-E8E18E0A85DD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>532ED943-AA0D-43A0-BBCF-3EBEA97FFD31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF0FFFAF-3C89-45A9-8EEA-244171D413FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3207C2A9-F28C-4B7F-89E9-525F8011B3AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D96BC2AD-EC81-4B13-B499-1B0FFC9EB952</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3EA6027-C734-4625-9ECD-2FE2DA83829F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDC3D252-6578-4A57-A511-7C45C64C2CA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D32329-094D-4EE5-98BE-7D4B1C5BFA95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E28945AC-6D2E-4DD0-A8CD-A3BA57E7C0DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DD2CA0C-DA1D-4C4C-B207-AC70E83B3C4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3EA6027-C734-4625-9ECD-2FE2DA83829F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E30D1B8-EBD0-418C-B6A3-6E326DAA6032</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F50EE2DE-822A-4F52-915D-9312B6BD4582</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D13B12B-0868-4F46-BFB7-52A432ED5AF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shimmering Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>26D32329-094D-4EE5-98BE-7D4B1C5BFA95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:msg_length}</string>
				<key>title</key>
				<string>⚠️ Commit Message too long</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7A76325B-A77E-4806-A66C-34AB8C27ECA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sff</string>
				<key>subtext</key>
				<string>Commit Message: '{query}'</string>
				<key>text</key>
				<string>⬆️ Git Push Shimmering Focus</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F50EE2DE-822A-4F52-915D-9312B6BD4582</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.{51}</string>
						<key>outputlabel</key>
						<string>&lt; 50 chars</string>
						<key>uid</key>
						<string>73318727-94F7-4F14-A537-0D01523D7FA1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>okay</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0D13B12B-0868-4F46-BFB7-52A432ED5AF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>too-long-loop</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9D9FB4C3-2338-4F5E-BAB8-DEFB91716031</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ YAML Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDC3D252-6578-4A57-A511-7C45C64C2CA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>shimmering_focus_repo_path="${shimmering_focus_repo_path/#\~/$HOME}"

cd "$shimmering_focus_repo_path"

zsh build.sh "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>shimmering-focus-deploy.sh</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8627A802-741F-4477-A445-AA3EA82ED4C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⏳ Building...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B3464F95-B489-4113-82A7-9CCB3300B0E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>YAML ERROR\n</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5E6686A0-B634-4A23-A4FA-7DAF29604957</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>YAML ERROR</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>47159875-021C-4638-8CD3-E8E18E0A85DD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>pass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CE15BDDF-BE0F-4506-9F3F-EE61551C52FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>too-long-loop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6C82BEC8-E24E-4C35-9066-32FE30D50429</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n{2,}</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4DD2CA0C-DA1D-4C4C-B207-AC70E83B3C4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>E28945AC-6D2E-4DD0-A8CD-A3BA57E7C0DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.{50}).*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>90D551C1-F214-4BD2-8D16-B5047536BAE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ git push</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>532ED943-AA0D-43A0-BBCF-3EBEA97FFD31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>440612A1-D74A-4799-A0D6-F88760AF14CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-shimmering-focus.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>🔍 Open Shimmering Focus</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>681793A7-1E5D-456D-8593-88828D1E5C40</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH

sf_path="${vault_path/#\~/$HOME}""/.obsidian/themes/Shimmering Focus.css"
lineNo="$*"
"/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" "$sf_path:$lineNo"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>846A75D1-67B5-4DFC-A2B0-8F8276CA4423</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>53</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>⎋</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CF0FFFAF-3C89-45A9-8EEA-244171D413FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	keystroke "i" using {command down, option down}	delay 0.4	keystroke "c" using {command down, shift down}end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3207C2A9-F28C-4B7F-89E9-525F8011B3AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://advanced-uri?settingid=obsidian-style-settings</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E3E53E94-0FC1-4954-B5F8-257313FB7EA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3A8836DB-3455-405F-9E15-B2876FC9967D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>svg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D96BC2AD-EC81-4B13-B499-1B0FFC9EB952</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>svg-to-data-uri.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3EA6027-C734-4625-9ECD-2FE2DA83829F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>copied to the clipboard</string>
				<key>title</key>
				<string>✅ SVG converted to Data URI</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9E30D1B8-EBD0-418C-B6A3-6E326DAA6032</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0D13B12B-0868-4F46-BFB7-52A432ED5AF1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>26D32329-094D-4EE5-98BE-7D4B1C5BFA95</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3207C2A9-F28C-4B7F-89E9-525F8011B3AF</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>3A8836DB-3455-405F-9E15-B2876FC9967D</key>
		<dict>
			<key>note</key>
			<string>Open Style Settings</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>440612A1-D74A-4799-A0D6-F88760AF14CF</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>4DD2CA0C-DA1D-4C4C-B207-AC70E83B3C4F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>532ED943-AA0D-43A0-BBCF-3EBEA97FFD31</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>5E6686A0-B634-4A23-A4FA-7DAF29604957</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>681793A7-1E5D-456D-8593-88828D1E5C40</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Open Shimmering Focus at line</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>6C82BEC8-E24E-4C35-9066-32FE30D50429</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>7A76325B-A77E-4806-A66C-34AB8C27ECA9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>846A75D1-67B5-4DFC-A2B0-8F8276CA4423</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>open at line</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>8627A802-741F-4477-A445-AA3EA82ED4C8</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>90D551C1-F214-4BD2-8D16-B5047536BAE1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>shorten</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>9D9FB4C3-2338-4F5E-BAB8-DEFB91716031</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>9E30D1B8-EBD0-418C-B6A3-6E326DAA6032</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>B3464F95-B489-4113-82A7-9CCB3300B0E1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>CE15BDDF-BE0F-4506-9F3F-EE61551C52FA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>CF0FFFAF-3C89-45A9-8EEA-244171D413FE</key>
		<dict>
			<key>note</key>
			<string>open Console</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>D96BC2AD-EC81-4B13-B499-1B0FFC9EB952</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>DDC3D252-6578-4A57-A511-7C45C64C2CA1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>E28945AC-6D2E-4DD0-A8CD-A3BA57E7C0DA</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>E3E53E94-0FC1-4954-B5F8-257313FB7EA7</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>F3EA6027-C734-4625-9ECD-2FE2DA83829F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>svg converting</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>F50EE2DE-822A-4F52-915D-9312B6BD4582</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Shimmering Focus</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>shimmering_focus_repo_path</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Code/shimmering-focus</string>
		<key>vault_path</key>
		<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>shimmering_focus_repo_path</string>
		<string>vault_path</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
