<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shimmering_focus_repo_path</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/shimmering-focus</string>
</dict>
</plist>
