<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>28D55294-70F1-4A9A-9954-8EA1BF0C425E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F981DF30-30A9-47AE-B23A-BF6CF574AB68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B4EC84B-4E21-4D7F-B9A6-54426402AE89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3EF1EDB-A839-4877-BFF4-6D2170C4B0F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3EF1EDB-A839-4877-BFF4-6D2170C4B0F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F533C281-4228-402D-B53A-254447EBAC8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F10B9011-FF5E-4A2D-AE8D-339FFC6FC6BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F533C281-4228-402D-B53A-254447EBAC8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sci-Hub &amp; Libgen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Sci-Hub</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F10B9011-FF5E-4A2D-AE8D-339FFC6FC6BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sci</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open current Brave Tab in Sci-Hub</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B4EC84B-4E21-4D7F-B9A6-54426402AE89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser" to set currentTab to URL of active tab of front window

return currentTab</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3EF1EDB-A839-4877-BFF4-6D2170C4B0F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sci-hub.se/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F533C281-4228-402D-B53A-254447EBAC8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sci</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Libgen for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>28D55294-70F1-4A9A-9954-8EA1BF0C425E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://libgen.rs/search.php?req={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F981DF30-30A9-47AE-B23A-BF6CF574AB68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28D55294-70F1-4A9A-9954-8EA1BF0C425E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>6B4EC84B-4E21-4D7F-B9A6-54426402AE89</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C3EF1EDB-A839-4877-BFF4-6D2170C4B0F1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>gets URL of current Brave tab</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>F10B9011-FF5E-4A2D-AE8D-339FFC6FC6BC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>F533C281-4228-402D-B53A-254447EBAC8A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>F981DF30-30A9-47AE-B23A-BF6CF574AB68</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
