<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.8F089C6C-4600-4D4B-901E-955AC89879CA</string>
	<key>lightthemeuid</key>
	<string>theme.custom.8F089C6C-4600-4D4B-901E-955AC89879CA</string>
</dict>
</plist>
