<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.plain-text-utilities</string>
	<key>connections</key>
	<dict>
		<key>0769F5D3-9CFB-441D-9839-67F6638A6005</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC446DFD-7C61-4B21-A8B4-507671FA6CB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96DE06E0-96D8-4908-AEC8-135A1EE82021</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>234D617E-B383-46DE-B240-AE9B8617D709</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC446DFD-7C61-4B21-A8B4-507671FA6CB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>283ACE76-6BC7-495E-B3DC-FB0265AC07F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA0110F3-2746-43CE-B6B3-BC86D27533CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CA5D5B9-442F-45BC-A7D1-E4BF6FEDBA31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3BEECD-277B-4862-8BFB-1338069C8574</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AE6DB0D-BD07-40F6-A1EF-680B99D57C84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB99E030-DB45-4C5F-A64F-4234C0998270</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D363FE9-8085-4930-B367-E0EFC46EB62E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>450D20D0-B04D-4C47-9B6F-3B27AA2FA59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283ACE76-6BC7-495E-B3DC-FB0265AC07F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A3BEECD-277B-4862-8BFB-1338069C8574</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D969204A-70F5-4934-BF6A-F0943A227A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74FC629B-C07E-49AC-9A18-82A5844CC79F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AD52E8C-2CD9-477B-9C6E-393123615B72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>74FC629B-C07E-49AC-9A18-82A5844CC79F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8491E627-D211-4AFC-82D3-B81DB5793D02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95327306-FB24-49A8-B3A9-77FD4FD7BF37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95327306-FB24-49A8-B3A9-77FD4FD7BF37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4DC9895-CBBC-4242-96B2-51E8086716E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96DE06E0-96D8-4908-AEC8-135A1EE82021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D363FE9-8085-4930-B367-E0EFC46EB62E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4DC9895-CBBC-4242-96B2-51E8086716E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283ACE76-6BC7-495E-B3DC-FB0265AC07F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B64C69B3-7302-462C-881C-17EAA8A63214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D969204A-70F5-4934-BF6A-F0943A227A5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79674923-ED4B-49B8-832C-9C551FD270FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>450D20D0-B04D-4C47-9B6F-3B27AA2FA59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F99457CC-4EED-4BC9-A278-E1845C9363B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95327306-FB24-49A8-B3A9-77FD4FD7BF37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Plain Text Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pseudo-fzf.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>| fzf "{query}"</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96DE06E0-96D8-4908-AEC8-135A1EE82021</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>search-selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>0769F5D3-9CFB-441D-9839-67F6638A6005</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>pseudo fzf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B64C69B3-7302-462C-881C-17EAA8A63214</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run (argv){
	return encodeURIComponent(argv[0]);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74FC629B-C07E-49AC-9A18-82A5844CC79F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Encode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-selection.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC446DFD-7C61-4B21-A8B4-507671FA6CB8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>234D617E-B383-46DE-B240-AE9B8617D709</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run (argv){
	return decodeURIComponent(argv[0]);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D363FE9-8085-4930-B367-E0EFC46EB62E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>grep</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6AD52E8C-2CD9-477B-9C6E-393123615B72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>| grep -i "{query}"</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>grep --ignore-case {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>450D20D0-B04D-4C47-9B6F-3B27AA2FA59A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$*" | awk "NF {p=1} p" | python3 -c "import textwrap,sys; print(textwrap.dedent(sys.stdin.read()))"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Remove Excess Indentation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>23BC13BE-D621-429D-A93E-15FECE927923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8491E627-D211-4AFC-82D3-B81DB5793D02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>echo "$text" | {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4DC9895-CBBC-4242-96B2-51E8086716E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pipe-through-shell.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>283ACE76-6BC7-495E-B3DC-FB0265AC07F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA0110F3-2746-43CE-B6B3-BC86D27533CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run-searchlink.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3AE6DB0D-BD07-40F6-A1EF-680B99D57C84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>95327306-FB24-49A8-B3A9-77FD4FD7BF37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Pipe through Shell Command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F99457CC-4EED-4BC9-A278-E1845C9363B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"{query}"</string>
				<key>title</key>
				<string>⏳ SearchLink running...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AB99E030-DB45-4C5F-A64F-4234C0998270</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2CA5D5B9-442F-45BC-A7D1-E4BF6FEDBA31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>z</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>D969204A-70F5-4934-BF6A-F0943A227A5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>killring.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A3BEECD-277B-4862-8BFB-1338069C8574</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>79674923-ED4B-49B8-832C-9C551FD270FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

**Text Actions**
- Titlecase
- Lowercase
- Uppercase
- Poor Text (removes formatting)
- Transform Spaces to Tabs
- Append to Clipboard (similar to Alfred's built-in function, but with manual hotkey and with universal action)
- Calculate the sum of all numbers in the text. Negative numbers are supported, as are both "," or "." as decimal separators. (Thousand separators are not supported though, as they would create ambiguous cases.)
- Run Brett Terpstra's [SearchLink](https://brettterpstra.com/projects/searchlink/), which fetches the URL and creates a markdown link of the selected text.

**URL Actions**
- URL Encode
- URL Decode
- Create compact markdown link
- Create compact markdown link of all URLs in selecting (actually a Text Action...)
- SearchTitle: Fetch the title of the URL and create a Markdown-URL (basically the opposite of SearchLink)

**Other**
- Simple password generator (default length configurable via environment variable)
- quickly access SearchLink documentation &amp; configuration
- past the previous clipboard content (suggested hotkey: `cmd + shift + V`)

---
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0769F5D3-9CFB-441D-9839-67F6638A6005</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>234D617E-B383-46DE-B240-AE9B8617D709</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Google Selection</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>283ACE76-6BC7-495E-B3DC-FB0265AC07F7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>apply shell command &amp; paste</string>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>2CA5D5B9-442F-45BC-A7D1-E4BF6FEDBA31</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Killring: cycle through clipboard history</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>3AE6DB0D-BD07-40F6-A1EF-680B99D57C84</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Searchlink</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>3D363FE9-8085-4930-B367-E0EFC46EB62E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>450D20D0-B04D-4C47-9B6F-3B27AA2FA59A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>4A3BEECD-277B-4862-8BFB-1338069C8574</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6AD52E8C-2CD9-477B-9C6E-393123615B72</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>74FC629B-C07E-49AC-9A18-82A5844CC79F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>78208B2A-84BC-4C70-BD07-FC86C3F6DF3D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>79674923-ED4B-49B8-832C-9C551FD270FC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>paste sequentially</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>8491E627-D211-4AFC-82D3-B81DB5793D02</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Pipe Selection through Shell Command</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>95327306-FB24-49A8-B3A9-77FD4FD7BF37</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>96DE06E0-96D8-4908-AEC8-135A1EE82021</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>AB99E030-DB45-4C5F-A64F-4234C0998270</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>B4DC9895-CBBC-4242-96B2-51E8086716E6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>B64C69B3-7302-462C-881C-17EAA8A63214</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>CA0110F3-2746-43CE-B6B3-BC86D27533CC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1180</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>D08CA8F9-2C11-41A6-BDFA-428DB06F4222</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>run SearchLink</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>D969204A-70F5-4934-BF6A-F0943A227A5A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>undo previous paste</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>E97CFCEF-F6E3-4176-9B8A-11B67D5EAB7D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>F99457CC-4EED-4BC9-A278-E1845C9363B1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>FC446DFD-7C61-4B21-A8B4-507671FA6CB8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>FDF6DA7A-36B0-47DE-8396-66D12C630E60</key>
		<dict>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>default_pw_length</key>
		<string>32</string>
	</dict>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
