<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.plain-text-utilities</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>02ABFDAE-3E0D-4C49-9DA1-6100CAC6FB99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84FC0164-DA81-433C-BA4E-4C4CC302663B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18CE8879-05A2-49C3-9FFE-91F3884B7F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2F1A132-701F-4DDA-A282-A8F096890B84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D749935-6E08-436A-A643-FC0CDB4941FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47024990-837B-4095-9F25-9905FDB9E7BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96DE06E0-96D8-4908-AEC8-135A1EE82021</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CA5D5B9-442F-45BC-A7D1-E4BF6FEDBA31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3BEECD-277B-4862-8BFB-1338069C8574</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D363FE9-8085-4930-B367-E0EFC46EB62E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47024990-837B-4095-9F25-9905FDB9E7BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A3BEECD-277B-4862-8BFB-1338069C8574</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D969204A-70F5-4934-BF6A-F0943A227A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74FC629B-C07E-49AC-9A18-82A5844CC79F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74FC629B-C07E-49AC-9A18-82A5844CC79F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84FC0164-DA81-433C-BA4E-4C4CC302663B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2F1A132-701F-4DDA-A282-A8F096890B84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA03BB50-353D-4C07-8828-C82334BF71E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86B56DB2-6454-4FCF-837F-1FBDF47108D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA29F8C2-B81A-4569-A119-43832B08EFD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96DE06E0-96D8-4908-AEC8-135A1EE82021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86B56DB2-6454-4FCF-837F-1FBDF47108D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1B62742-B632-4998-B266-0A1D5D6D8694</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Select another line</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D363FE9-8085-4930-B367-E0EFC46EB62E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B64C69B3-7302-462C-881C-17EAA8A63214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C1B62742-B632-4998-B266-0A1D5D6D8694</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B038DCA-913D-4FDE-8197-A1F469016950</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C57A9FE3-7484-4764-9ADD-08D1096D78CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F62D2687-4A2C-4239-870E-988BEF7FB009</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A19AAD3-F0C5-4E44-92F0-A91FFAEC55E2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D969204A-70F5-4934-BF6A-F0943A227A5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AECDE466-21D6-419C-95B1-821DD90A50E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA29F8C2-B81A-4569-A119-43832B08EFD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A997A6-3B0F-4810-BBDC-F039EF142A5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2F1A132-701F-4DDA-A282-A8F096890B84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C57A9FE3-7484-4764-9ADD-08D1096D78CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9A997A6-3B0F-4810-BBDC-F039EF142A5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09B69D71-EC20-46C1-835E-5F7AC6DCFBDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Plain Text Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pseudo-fzf.js</string>
				<key>subtext</key>
				<string>| fzf "{query}"</string>
				<key>title</key>
				<string>Select line</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>fzf-loop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96DE06E0-96D8-4908-AEC8-135A1EE82021</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Select line (fzf)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B64C69B3-7302-462C-881C-17EAA8A63214</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:selected}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F9A997A6-3B0F-4810-BBDC-F039EF142A5E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:selected}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09B69D71-EC20-46C1-835E-5F7AC6DCFBDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selected</key>
					<string>{var:selected}
{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>86B56DB2-6454-4FCF-837F-1FBDF47108D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selected</key>
					<string></string>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DA29F8C2-B81A-4569-A119-43832B08EFD7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>fzf-loop</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2B038DCA-913D-4FDE-8197-A1F469016950</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Markdown Image Link → &lt;img&gt;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1D749935-6E08-436A-A643-FC0CDB4941FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selected</key>
					<string>{var:selected}
{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1B62742-B632-4998-B266-0A1D5D6D8694</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>!\[(.*?)\]\((.*?)\)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>&lt;img src="$2" alt="$1" width=50%&gt;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>47024990-837B-4095-9F25-9905FDB9E7BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run (argv){
	return encodeURIComponent(argv[0]);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74FC629B-C07E-49AC-9A18-82A5844CC79F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Encode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FDF6DA7A-36B0-47DE-8396-66D12C630E60</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run (argv){
	return decodeURIComponent(argv[0]);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D363FE9-8085-4930-B367-E0EFC46EB62E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$*" | awk "NF {p=1} p" | python3 -c "import textwrap,sys; print(textwrap.dedent(sys.stdin.read()))"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Remove Excess Indentation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>23BC13BE-D621-429D-A93E-15FECE927923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>us.zoom.xos</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2CA5D5B9-442F-45BC-A7D1-E4BF6FEDBA31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>z</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>D969204A-70F5-4934-BF6A-F0943A227A5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>killring.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A3BEECD-277B-4862-8BFB-1338069C8574</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AECDE466-21D6-419C-95B1-821DD90A50E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F62D2687-4A2C-4239-870E-988BEF7FB009</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>18CE8879-05A2-49C3-9FFE-91F3884B7F08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sequential-paste.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2F1A132-701F-4DDA-A282-A8F096890B84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string>count</string>
						<key>uid</key>
						<string>8A19AAD3-F0C5-4E44-92F0-A91FFAEC55E2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C57A9FE3-7484-4764-9ADD-08D1096D78CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:reset</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reset SequentialPaste count</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>02ABFDAE-3E0D-4C49-9DA1-6100CAC6FB99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋 Reset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA03BB50-353D-4C07-8828-C82334BF71E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reset</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>84FC0164-DA81-433C-BA4E-4C4CC302663B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

**Text Actions**
- Titlecase
- Lowercase
- Uppercase
- Poor Text (removes formatting)
- Transform Spaces to Tabs
- Append to Clipboard (similar to Alfred's built-in function, but with manual hotkey and with universal action)
- Calculate the sum of all numbers in the text. Negative numbers are supported, as are both "," or "." as decimal separators. (Thousand separators are not supported though, as they would create ambiguous cases.)
- Run Brett Terpstra's [SearchLink](https://brettterpstra.com/projects/searchlink/), which fetches the URL and creates a markdown link of the selected text.

**URL Actions**
- URL Encode
- URL Decode
- Create compact markdown link
- Create compact markdown link of all URLs in selecting (actually a Text Action...)
- SearchTitle: Fetch the title of the URL and create a Markdown-URL (basically the opposite of SearchLink)

**Other**
- Simple password generator (default length configurable via environment variable)
- quickly access SearchLink documentation &amp; configuration
- past the previous clipboard content (suggested hotkey: `cmd + shift + V`)

---
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>02ABFDAE-3E0D-4C49-9DA1-6100CAC6FB99</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>09B69D71-EC20-46C1-835E-5F7AC6DCFBDF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>18CE8879-05A2-49C3-9FFE-91F3884B7F08</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>sequential paste</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>1D749935-6E08-436A-A643-FC0CDB4941FE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>1F032CD4-31A5-47D1-ACE7-4BA1694F8570</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>save text, clear selection</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>2B038DCA-913D-4FDE-8197-A1F469016950</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>2CA5D5B9-442F-45BC-A7D1-E4BF6FEDBA31</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Killring: cycle through clipboard history</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>3D363FE9-8085-4930-B367-E0EFC46EB62E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>47024990-837B-4095-9F25-9905FDB9E7BB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>regex</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>4A3BEECD-277B-4862-8BFB-1338069C8574</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>74FC629B-C07E-49AC-9A18-82A5844CC79F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>84FC0164-DA81-433C-BA4E-4C4CC302663B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>86B56DB2-6454-4FCF-837F-1FBDF47108D0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>append to selection</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>96DE06E0-96D8-4908-AEC8-135A1EE82021</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>AECDE466-21D6-419C-95B1-821DD90A50E9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>paste nth clipboard</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>B64C69B3-7302-462C-881C-17EAA8A63214</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C1B62742-B632-4998-B266-0A1D5D6D8694</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>append to selection</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>C57A9FE3-7484-4764-9ADD-08D1096D78CD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>is count</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>D969204A-70F5-4934-BF6A-F0943A227A5A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>undo previous paste</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>DA29F8C2-B81A-4569-A119-43832B08EFD7</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>remove blank lines (leading \n)</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>EA03BB50-353D-4C07-8828-C82334BF71E4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>F2F1A132-701F-4DDA-A282-A8F096890B84</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>F62D2687-4A2C-4239-870E-988BEF7FB009</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>paste nth clipboard + line break</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>F9A997A6-3B0F-4810-BBDC-F039EF142A5E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>FDF6DA7A-36B0-47DE-8396-66D12C630E60</key>
		<dict>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>default_pw_length</key>
		<string>32</string>
	</dict>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
