<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	NpS9kZLz+T1R6MUmk7Hkgne4SW06cePoqi9ue0OiyFsiHDScJzmQC+RVe7pZO36MnLWP
	Cq/JWSk7jNTJh658mEVsaDTYB7HrvSDXxQHfr9zjzD7bfmeEwh8Vfp2d+/vLBD7pRzJL
	VpgZjqj2TvNinp0KAUA8L5DG8G5sV6RPtGA=
	</data>
</dict>
</plist>
