<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHATPDF_API_KEY</key>
	<string>.zshenv</string>
	<key>alfred_large_type</key>
	<true/>
	<key>copy_to_clipboard</key>
	<true/>
	<key>the_prompt</key>
	<string>Summarize the PDF in 10 bullet points. Strive for variety.

Ground your summary in the facts of the paper, and include references to specific pages in the paper. 

Immediately start the summary, do not write anything else.</string>
</dict>
</plist>
