<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delay_ms</key>
	<string>120</string>
	<key>static_prompt</key>
	<string>The following text is a paragraph for a scientific paper in sociology. Please make suggestions how to improve its readability and language. Do not change anything about the content, and refrain from doing any changes when the writing is already sufficiently clear and concise.</string>
</dict>
</plist>
