<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.homebrew</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>0BAF56E8-B65A-478A-B848-F09FFE73A12B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F95A285-6177-405E-B2B0-518A7C0276F2</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: brew info</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D984FC5-A902-42FB-80F8-A9D0310C86BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F01BF271-72C7-44BA-9382-E133D8529E6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F95A285-6177-405E-B2B0-518A7C0276F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EE5C952-9500-40B4-9700-6694AE5EA469</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2468D124-88C6-438D-B2C6-627ADEEEC31D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: brew home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D984FC5-A902-42FB-80F8-A9D0310C86BB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F95A285-6177-405E-B2B0-518A7C0276F2</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: brew info</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD40AB53-70F2-460D-BF34-1DF77F46FB38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F95A285-6177-405E-B2B0-518A7C0276F2</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: brew info</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE590292-EEA5-4025-A89B-42AE38188503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F95A285-6177-405E-B2B0-518A7C0276F2</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: brew info</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A98EAA76-0074-4CAD-9A09-48949FC126DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDA21286-4E28-4304-A9DB-0BA74AB2C370</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search, install, or uninstall homebrew packages conveniently</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Homebrew</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/brew-install.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew install '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew install {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2468D124-88C6-438D-B2C6-627ADEEEC31D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/brew-fonts.js</string>
				<key>subtext</key>
				<string>homebrew-cask-fonts</string>
				<key>title</key>
				<string>&gt; brew install '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD40AB53-70F2-460D-BF34-1DF77F46FB38</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0D984FC5-A902-42FB-80F8-A9D0310C86BB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F01BF271-72C7-44BA-9382-E133D8529E6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7EE5C952-9500-40B4-9700-6694AE5EA469</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/brew-info.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F95A285-6177-405E-B2B0-518A7C0276F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>br</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>osascript -l JavaScript ./scripts/brew-uninstall.js "no_mac_app_store"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew reinstall '{query}'</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE590292-EEA5-4025-A89B-42AE38188503</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew reinstall {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A98EAA76-0074-4CAD-9A09-48949FC126DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/AppCleaner.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bu</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>osascript -l JavaScript  {var:list_mac_app_store}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/brew-uninstall.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew uninstall '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0BAF56E8-B65A-478A-B848-F09FFE73A12B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew uninstall {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.app$</string>
						<key>outputlabel</key>
						<string>AppCleaner</string>
						<key>uid</key>
						<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>homebrew</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Requirements
- [Homebrew](https://brew.sh/)

## Usage
- Search for a Homebrew package via the `bi` keyword.
	+ &lt;kbd&gt;⏎&lt;/kbd&gt;: Install the package (`brew install`) in the Terminal. (Uses the terminal app you have configured [in your Alfred settings](https://www.alfredapp.com/help/features/terminal/).)
	+ &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Open the package's homepage (`brew home`).
	+ &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Copy the package's homepage to the clipboard.
	+ &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Show package information (`brew info`) in Large Text.
- Reinstall a package already installed on your system via the `br` keyword (`brew reinstall`).
- Uninstall a package via the `bu` keyword (`brew uninstall`). Optionally use the `--zap` option for a clean uninstallation.
- Search and install fonts available in the [Homebrew font tap](https://github.com/Homebrew/homebrew-cask-fonts) via the `bf` keyword (`brew install font-…`).


---

Created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>uidata</key>
	<dict>
		<key>0BAF56E8-B65A-478A-B848-F09FFE73A12B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>brew uninstall</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>0D984FC5-A902-42FB-80F8-A9D0310C86BB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>brew uninstall</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>2468D124-88C6-438D-B2C6-627ADEEEC31D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>3F95A285-6177-405E-B2B0-518A7C0276F2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>brew info</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>install</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7EE5C952-9500-40B4-9700-6694AE5EA469</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>802369B2-358A-46C9-9516-940B8E3E7940</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>A98EAA76-0074-4CAD-9A09-48949FC126DB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>brew reinstall</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>CD40AB53-70F2-460D-BF34-1DF77F46FB38</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>install from homebrew-cask-fonts</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>CE590292-EEA5-4025-A89B-42AE38188503</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>brew reinstall</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>EDA21286-4E28-4304-A9DB-0BA74AB2C370</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>brew install</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F01BF271-72C7-44BA-9382-E133D8529E6D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>include</string>
			</dict>
			<key>description</key>
			<string>When using the uninstallation command, also list apps from the Mac App Store. They will be opened with AppCleaner.app for clean uninstallation.</string>
			<key>label</key>
			<string>Mac App Store</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>list_mac_app_store</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>--zap</string>
			</dict>
			<key>description</key>
			<string>When using the uninstallation command on a cask, use `--zap`. This results in homebrew also cleaning up data and cache files from the app.</string>
			<key>label</key>
			<string>shell options</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>use_zap</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
