<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.read-later</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>39A74B4A-BAFE-46CF-B1D6-FBEB89F75E62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1B93FF7-3569-48A8-8CC8-E1A71AC85EDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1B93FF7-3569-48A8-8CC8-E1A71AC85EDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>651E12CB-A815-41F4-AB78-58F5F8D6B131</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Read Later</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>✅ URL saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>651E12CB-A815-41F4-AB78-58F5F8D6B131</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>- \[ \] \[(.*)\].*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A1B93FF7-3569-48A8-8CC8-E1A71AC85EDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
	set currentTabUrl to URL of active tab of front window
	set currentTitle to title of active tab of front window
end tell

set output to "- [ ] [" &amp; currentTitle &amp; "](" &amp; currentTabUrl &amp; ")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-browser-url_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Ü</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>39A74B4A-BAFE-46CF-B1D6-FBEB89F75E62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:read_later_file}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-and-check.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>read-read-later.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Read Later</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D223A211-45A1-481D-A981-9632A2E18CC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open item &amp; check as read</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>39A74B4A-BAFE-46CF-B1D6-FBEB89F75E62</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Add to Read Later</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>651E12CB-A815-41F4-AB78-58F5F8D6B131</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>A1B93FF7-3569-48A8-8CC8-E1A71AC85EDA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Strip Markdown</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>feedreaderURL</key>
		<string>https://www.inoreader.com/</string>
		<key>read_later_file</key>
		<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/Meta/📚 Read Later.md</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>read_later_file</string>
		<string>feedreaderURL</string>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
