<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.restart-and-shutdown</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>25E1AB18-074F-4A78-B971-C981DAFFA770</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29260450-9968-4FA4-89C5-9D47EDA72C72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BEB152-706D-407E-882B-113E7E4821F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29D763E3-99DA-42EC-A264-3AA565CDC0F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5141743-4533-4E28-A3EC-2E2A98659185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CE26F09-C132-4116-A0F7-6E5B72AFEDC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD7B5D93-1974-4001-B321-5BF0512B3913</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E062917-08D9-4FB6-9EF1-2376066BB93C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>359302C7-E44C-47C5-96C1-E444E2CEB15A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52032C38-87F2-41DB-B099-E3865B6D99A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>567BC1AF-FC58-407C-93F8-59F672348663</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68AFA903-6E2E-4C20-9EBC-E6F997FCEB19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5B116EC-8220-4ABE-8376-976F243A9EF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C627336-0575-49C9-B817-D524B892A7C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>359302C7-E44C-47C5-96C1-E444E2CEB15A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6594A058-1046-48E9-82E3-FE0574D679D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29260450-9968-4FA4-89C5-9D47EDA72C72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68AFA903-6E2E-4C20-9EBC-E6F997FCEB19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7277D4C0-5EBA-4715-A9C5-84DB6ADB800C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E062917-08D9-4FB6-9EF1-2376066BB93C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87C490F1-BC69-4BFA-943F-D268EA7291E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD2C4E2F-1E19-4EBD-BDA5-3E0AABB45317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C617AE0B-0588-4EBE-8160-9E5549237D63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52032C38-87F2-41DB-B099-E3865B6D99A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8BAA286-8178-4777-B3D8-B9958B57D2DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6594A058-1046-48E9-82E3-FE0574D679D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD7B5D93-1974-4001-B321-5BF0512B3913</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD2C4E2F-1E19-4EBD-BDA5-3E0AABB45317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restart &amp; Shutdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-front-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>25E1AB18-074F-4A78-B971-C981DAFFA770</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A5B116EC-8220-4ABE-8376-976F243A9EF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/pre-shutdown.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6594A058-1046-48E9-82E3-FE0574D679D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string>sync all perma-repos before</string>
				<key>text</key>
				<string>Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8BAA286-8178-4777-B3D8-B9958B57D2DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>96BEB152-706D-407E-882B-113E7E4821F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>29260450-9968-4FA4-89C5-9D47EDA72C72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart hammerspoon</string>
				<key>subtext</key>
				<string>❗️</string>
				<key>text</key>
				<string>Restart Hammerspoon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CE26F09-C132-4116-A0F7-6E5B72AFEDC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Hammerspoon</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>restart</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD7B5D93-1974-4001-B321-5BF0512B3913</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart hammerspoon</string>
				<key>subtext</key>
				<string>🔁</string>
				<key>text</key>
				<string>Reload Hammerspoon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>567BC1AF-FC58-407C-93F8-59F672348663</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Hammerspoon</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>reload</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>68AFA903-6E2E-4C20-9EBC-E6F997FCEB19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart sketchybar</string>
				<key>subtext</key>
				<string>🔁</string>
				<key>text</key>
				<string>Reload Sketchybar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C627336-0575-49C9-B817-D524B892A7C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5141743-4533-4E28-A3EC-2E2A98659185</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-background-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>sketchybar</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>reload</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>359302C7-E44C-47C5-96C1-E444E2CEB15A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart espanso</string>
				<key>subtext</key>
				<string>❗️</string>
				<key>text</key>
				<string>Restart Espanso</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7277D4C0-5EBA-4715-A9C5-84DB6ADB800C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>espanso</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2E062917-08D9-4FB6-9EF1-2376066BB93C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart alttab</string>
				<key>subtext</key>
				<string>❗️</string>
				<key>text</key>
				<string>Restart AltTab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C617AE0B-0588-4EBE-8160-9E5549237D63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>AltTab</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>52032C38-87F2-41DB-B099-E3865B6D99A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart mona</string>
				<key>subtext</key>
				<string>❗️</string>
				<key>text</key>
				<string>Restart Mona</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87C490F1-BC69-4BFA-943F-D268EA7291E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Mona</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD2C4E2F-1E19-4EBD-BDA5-3E0AABB45317</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>25E1AB18-074F-4A78-B971-C981DAFFA770</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Restart front app</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>29260450-9968-4FA4-89C5-9D47EDA72C72</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>success?</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>29D763E3-99DA-42EC-A264-3AA565CDC0F6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>2CE26F09-C132-4116-A0F7-6E5B72AFEDC4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2E062917-08D9-4FB6-9EF1-2376066BB93C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>359302C7-E44C-47C5-96C1-E444E2CEB15A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>52032C38-87F2-41DB-B099-E3865B6D99A2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>567BC1AF-FC58-407C-93F8-59F672348663</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5C627336-0575-49C9-B817-D524B892A7C0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>6594A058-1046-48E9-82E3-FE0574D679D5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>68AFA903-6E2E-4C20-9EBC-E6F997FCEB19</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>7277D4C0-5EBA-4715-A9C5-84DB6ADB800C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>87C490F1-BC69-4BFA-943F-D268EA7291E2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>96BEB152-706D-407E-882B-113E7E4821F5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>will ask for confirmation</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>A5B116EC-8220-4ABE-8376-976F243A9EF3</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C617AE0B-0588-4EBE-8160-9E5549237D63</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>C8BAA286-8178-4777-B3D8-B9958B57D2DD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>ensuring git repos synced before</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CD7B5D93-1974-4001-B321-5BF0512B3913</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>DD2C4E2F-1E19-4EBD-BDA5-3E0AABB45317</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>E5141743-4533-4E28-A3EC-2E2A98659185</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
