<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.restart-and-shutdown</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>25E1AB18-074F-4A78-B971-C981DAFFA770</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26ABDCE2-3900-4463-AD5F-1EE785422A03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D133933A-08B7-4B72-A53E-B49EEFA0C063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29260450-9968-4FA4-89C5-9D47EDA72C72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BEB152-706D-407E-882B-113E7E4821F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE7F6025-CE45-4501-953B-1EE1F498066D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B28B475-EA51-4F22-BFCB-7FEFE973B939</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26ABDCE2-3900-4463-AD5F-1EE785422A03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6594A058-1046-48E9-82E3-FE0574D679D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29260450-9968-4FA4-89C5-9D47EDA72C72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74016E1F-4C66-4A71-A468-9E03AD56BE1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D133933A-08B7-4B72-A53E-B49EEFA0C063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8574A104-BD32-4D6F-992A-3AAD422C1665</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74016E1F-4C66-4A71-A468-9E03AD56BE1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85AAD0B0-CB42-4F82-B1E4-232C79E46F04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE446117-D29C-4B5C-BE3A-2AA51D8611CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EE81B67-A488-4981-8275-68B5BF497600</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D133933A-08B7-4B72-A53E-B49EEFA0C063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B616131D-288D-4C96-B586-C024DA33C276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3A971CD-7DC4-4FDF-9FEB-C73F0A3A8BD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B676CE46-BEC5-4201-9170-768499351B3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5467250-ED54-4905-BDBB-5B6EA35BC1F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE446117-D29C-4B5C-BE3A-2AA51D8611CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D133933A-08B7-4B72-A53E-B49EEFA0C063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5467250-ED54-4905-BDBB-5B6EA35BC1F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D133933A-08B7-4B72-A53E-B49EEFA0C063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8BAA286-8178-4777-B3D8-B9958B57D2DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6594A058-1046-48E9-82E3-FE0574D679D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D133933A-08B7-4B72-A53E-B49EEFA0C063</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC350FC9-C6D2-45FA-BC34-7B415C787DE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3A971CD-7DC4-4FDF-9FEB-C73F0A3A8BD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5B116EC-8220-4ABE-8376-976F243A9EF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2692343D-ECF2-4555-842D-915217029E2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB2622C1-55F8-43AA-A491-C3A981FB3BD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EE81B67-A488-4981-8275-68B5BF497600</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restart &amp; Shutdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-front-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>25E1AB18-074F-4A78-B971-C981DAFFA770</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bar restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️ Restart SketchyBar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8574A104-BD32-4D6F-992A-3AAD422C1665</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>96BEB152-706D-407E-882B-113E7E4821F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>sketchybar</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>74016E1F-4C66-4A71-A468-9E03AD56BE1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>svim restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️ Restart SketchyVim</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB2622C1-55F8-43AA-A491-C3A981FB3BD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>svim</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8EE81B67-A488-4981-8275-68B5BF497600</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ Sync Issue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DE7F6025-CE45-4501-953B-1EE1F498066D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/dotfiles/

filesChanged="$(git status --porcelain | wc -l | tr -d ' ')"
if [[ -n "$filesChanged" ]] ; then
	echo "📴 pre-shutdown-sync" &gt;&gt; ~"/dotfiles/Cron Jobs/sync.log"
	zsh ~/dotfiles/git-dotfile-sync.sh
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/pre-shutdown.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6594A058-1046-48E9-82E3-FE0574D679D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string>run dotfiles &amp; vault sync before</string>
				<key>text</key>
				<string>Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8BAA286-8178-4777-B3D8-B9958B57D2DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>29260450-9968-4FA4-89C5-9D47EDA72C72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alttab restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗Restart AltTab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85AAD0B0-CB42-4F82-B1E4-232C79E46F04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-background-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D133933A-08B7-4B72-A53E-B49EEFA0C063</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FC350FC9-C6D2-45FA-BC34-7B415C787DE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>AltTab</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BE446117-D29C-4B5C-BE3A-2AA51D8611CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A5B116EC-8220-4ABE-8376-976F243A9EF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/neovim-hard-restart.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3A971CD-7DC4-4FDF-9FEB-C73F0A3A8BD7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B616131D-288D-4C96-B586-C024DA33C276</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>espanso restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗Restart Espanso</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B676CE46-BEC5-4201-9170-768499351B3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Espanso</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C5467250-ED54-4905-BDBB-5B6EA35BC1F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Neovide.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2692343D-ECF2-4555-842D-915217029E2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hs restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️Restart Hammerspoon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B28B475-EA51-4F22-BFCB-7FEFE973B939</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Hammerspoon</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>26ABDCE2-3900-4463-AD5F-1EE785422A03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>25E1AB18-074F-4A78-B971-C981DAFFA770</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Restart front app</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>2692343D-ECF2-4555-842D-915217029E2F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>26ABDCE2-3900-4463-AD5F-1EE785422A03</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>29260450-9968-4FA4-89C5-9D47EDA72C72</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5B28B475-EA51-4F22-BFCB-7FEFE973B939</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>6594A058-1046-48E9-82E3-FE0574D679D5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>74016E1F-4C66-4A71-A468-9E03AD56BE1C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>8574A104-BD32-4D6F-992A-3AAD422C1665</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>85AAD0B0-CB42-4F82-B1E4-232C79E46F04</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>8EE81B67-A488-4981-8275-68B5BF497600</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>96BEB152-706D-407E-882B-113E7E4821F5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>will ask for confirmation</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A5B116EC-8220-4ABE-8376-976F243A9EF3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B616131D-288D-4C96-B586-C024DA33C276</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>neovim hard restart</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>B676CE46-BEC5-4201-9170-768499351B3D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BE446117-D29C-4B5C-BE3A-2AA51D8611CF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>C5467250-ED54-4905-BDBB-5B6EA35BC1F1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>C8BAA286-8178-4777-B3D8-B9958B57D2DD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>ensuring git repos synced before</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D133933A-08B7-4B72-A53E-B49EEFA0C063</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>DE7F6025-CE45-4501-953B-1EE1F498066D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E3A971CD-7DC4-4FDF-9FEB-C73F0A3A8BD7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>EB2622C1-55F8-43AA-A491-C3A981FB3BD6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>FC350FC9-C6D2-45FA-BC34-7B415C787DE3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
