<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.restart-and-shutdown</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>19EF623F-2707-474F-B129-E05B0D1ADA14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25E1AB18-074F-4A78-B971-C981DAFFA770</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29260450-9968-4FA4-89C5-9D47EDA72C72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BEB152-706D-407E-882B-113E7E4821F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29D763E3-99DA-42EC-A264-3AA565CDC0F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5141743-4533-4E28-A3EC-2E2A98659185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5B116EC-8220-4ABE-8376-976F243A9EF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6594A058-1046-48E9-82E3-FE0574D679D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29260450-9968-4FA4-89C5-9D47EDA72C72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8BAA286-8178-4777-B3D8-B9958B57D2DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6594A058-1046-48E9-82E3-FE0574D679D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restart &amp; Shutdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>25E1AB18-074F-4A78-B971-C981DAFFA770</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-front-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A5B116EC-8220-4ABE-8376-976F243A9EF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string>sync all perma-repos before</string>
				<key>text</key>
				<string>Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8BAA286-8178-4777-B3D8-B9958B57D2DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/pre-shutdown.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6594A058-1046-48E9-82E3-FE0574D679D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>96BEB152-706D-407E-882B-113E7E4821F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>29260450-9968-4FA4-89C5-9D47EDA72C72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"51f5cfbde3c354791b5ab96575dbdfd0c0480876.png","title":"Neovide &amp; Neovim","arg":"Neovide","subtitle":""},{"imagefile":"efb8cca57e4d67981a976010a2d2953e2aec83c5.png","title":"AltTab","arg":"AltTab","subtitle":""},{"imagefile":"31e8e84684405b35c7896380a515cd49fc250b5e.png","title":"Hammerspoon","arg":"hammerspoon_reload","subtitle":"🔁 reload"},{"imagefile":"31e8e84684405b35c7896380a515cd49fc250b5e.png","title":"Hammerspoon","arg":"Hammerspoon","subtitle":""},{"imagefile":"91a15ef6185b87dc073439ce4b7f2b120c5bfdca.png","title":"sketchybar","arg":"sketchybar","subtitle":"🔁 reload"},{"imagefile":"80cebc78d376b7946a2ab63288812da45a1764b3.png","title":"espanso","arg":"espanso","subtitle":""},{"imagefile":"9d642928916ed5b7826d4fc57d395ffe5fceebca.png","title":"Ivory (Mastodon)","arg":"Ivory"}]</string>
				<key>keyword</key>
				<string>restart</string>
				<key>matchmode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>background apps</string>
				<key>title</key>
				<string>Restart…</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>19EF623F-2707-474F-B129-E05B0D1ADA14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/restart-background-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29D763E3-99DA-42EC-A264-3AA565CDC0F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5141743-4533-4E28-A3EC-2E2A98659185</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>19EF623F-2707-474F-B129-E05B0D1ADA14</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>background apps</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>25E1AB18-074F-4A78-B971-C981DAFFA770</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>restart front app</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>29260450-9968-4FA4-89C5-9D47EDA72C72</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>success?</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>29D763E3-99DA-42EC-A264-3AA565CDC0F6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>5956591A-FB95-4AD5-BE0A-008DB41E2F0B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>6594A058-1046-48E9-82E3-FE0574D679D5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>96BEB152-706D-407E-882B-113E7E4821F5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>will ask for confirmation</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>A5B116EC-8220-4ABE-8376-976F243A9EF3</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C8BAA286-8178-4777-B3D8-B9958B57D2DD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>ensuring git repos are synced before</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>E5141743-4533-4E28-A3EC-2E2A98659185</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
