<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xilopaint.alfredapp.youtube</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>4EED8CAA-4F68-4044-BFC9-E02BE0A95F5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1957D7D1-3444-4967-BD3C-59EFE0924B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arthur Pinheiro</string>
	<key>description</key>
	<string>Search YouTube videos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:youtube_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>YouTube.swift</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>YouTube Search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4EED8CAA-4F68-4044-BFC9-E02BE0A95F5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1957D7D1-3444-4967-BD3C-59EFE0924B1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Setup

The workflow requires an API key, which can be requested and set up by following the steps 1-3 that you can find [here](https://developers.google.com/youtube/v3/getting-started#before-you-start).

# Usage

Search YouTube via the `yt` keyword.

![demo](images/about/demo.png)</string>
	<key>uidata</key>
	<dict>
		<key>1957D7D1-3444-4967-BD3C-59EFE0924B1C</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>4EED8CAA-4F68-4044-BFC9-E02BE0A95F5C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>yt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>youtube_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Check the About panel on how to get your API key.</string>
			<key>label</key>
			<string>API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>20</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Maximum number of results displayed.</string>
			<key>label</key>
			<string>Max Results</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>max_results</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>relevance</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Date</string>
						<string>date</string>
					</array>
					<array>
						<string>Rating</string>
						<string>rating</string>
					</array>
					<array>
						<string>Relevance</string>
						<string>relevance</string>
					</array>
					<array>
						<string>Title</string>
						<string>title</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Sort By</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>order</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://www.github.com/xilopaint/alfred-youtube</string>
</dict>
</plist>
