<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Language</string>
	<key>connections</key>
	<dict>
		<key>244B3588-53FE-431C-AE89-3AD891A5AE06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAD493F4-333E-4D5A-8720-8709EE20C984</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4267517F-135F-4BC9-9F30-955369812887</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A058A8C1-584D-4A19-8A34-28E3D89BE412</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8BD829FB-FA30-46D7-ABBE-1255DFE26375</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C250E316-8E97-429F-A193-1ED46722A912</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A744F634-72A4-4373-86F2-EBC783690DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AA5AD09-3EF5-4C93-8DF9-6690A90B221D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43880D3B-C354-4AC9-BFB5-C7A430DAC0DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dictionary &amp; Translation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/?sl=auto&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A058A8C1-584D-4A19-8A34-28E3D89BE412</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.linguee.com/english-german/search?query={query}&amp;source=auto</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8BD829FB-FA30-46D7-ABBE-1255DFE26375</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>Lingue — Google Translate — Ludwig</string>
				<key>text</key>
				<string>Phrase Translation: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4267517F-135F-4BC9-9F30-955369812887</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ludwig.guru/s/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C250E316-8E97-429F-A193-1ED46722A912</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>dict://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CAD493F4-333E-4D5A-8720-8709EE20C984</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>e</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Terminology: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>244B3588-53FE-431C-AE89-3AD891A5AE06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://corpora.uni-leipzig.de/de/res?corpusId=deu_news_2021&amp;word={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8AA5AD09-3EF5-4C93-8DF9-6690A90B221D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>d</string>
				<key>subtext</key>
				<string>Woxion &amp; Wortschatz Leipzig</string>
				<key>text</key>
				<string>Synonyme: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A744F634-72A4-4373-86F2-EBC783690DB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://synonyme.woxikon.de/synonyme/{query}.php</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>43880D3B-C354-4AC9-BFB5-C7A430DAC0DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>244B3588-53FE-431C-AE89-3AD891A5AE06</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>4267517F-135F-4BC9-9F30-955369812887</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>43880D3B-C354-4AC9-BFB5-C7A430DAC0DF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>8AA5AD09-3EF5-4C93-8DF9-6690A90B221D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>8BD829FB-FA30-46D7-ABBE-1255DFE26375</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>A058A8C1-584D-4A19-8A34-28E3D89BE412</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>A744F634-72A4-4373-86F2-EBC783690DB8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>C250E316-8E97-429F-A193-1ED46722A912</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>CAD493F4-333E-4D5A-8720-8709EE20C984</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
