<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.karabiner-espanso</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0AF7121A-89F5-460A-97D1-1061C6819D85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A04AB8ED-EA57-4E0F-A24F-669DBB086D08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>144D7958-617D-45F3-8140-CDD8105D98DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E7D1B62-B854-4F9E-9622-10F0EDC36A02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E22BA45-6FE5-490E-8C79-4FCC4690939C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F775FF5D-3F3E-4F51-A502-32DA6822318A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1ED11A83-B032-49DD-A27E-82281010DEC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>429CEC89-9C82-432F-900F-A22DDDF7964A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BBD4E3E-C51A-42A8-809D-20898A446B8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>144D7958-617D-45F3-8140-CDD8105D98DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D0B8081-9BD2-40C0-9521-EDF82FFE8C23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>429CEC89-9C82-432F-900F-A22DDDF7964A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E7D1B62-B854-4F9E-9622-10F0EDC36A02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F668F3BA-49D3-42E4-A394-44FB468C078E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>429CEC89-9C82-432F-900F-A22DDDF7964A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1F1F193-4BF3-42D0-A30E-784AC487FDA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4497C875-4C2B-417D-8073-1EB6DBC030CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E22BA45-6FE5-490E-8C79-4FCC4690939C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53E5054B-1A54-48FA-B642-7B674813E725</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94945DE5-0241-4967-9508-58E218F31B67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58DC7C3B-3563-455A-A942-24B2B2F283E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25653873-BA08-495C-9634-85EDC4DE03F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C877087-012F-4C14-9B4D-369466813350</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F084A08-61CC-4FFE-B826-D1C94F206A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open file afterwards</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF2E709C-56BA-4D78-AD00-074FC6326079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2BCC7F4-6732-493D-9789-2719BB7752D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AF7121A-89F5-460A-97D1-1061C6819D85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E99EAF40-8819-42A3-BBED-A3BC465A0D66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D1017F-1F5D-4562-8B69-0232E40032C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC943639-4DB9-44BA-B722-273F16EEED36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED6732E3-D32A-4D0D-835B-815CF2FD8DAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F084A08-61CC-4FFE-B826-D1C94F206A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F775FF5D-3F3E-4F51-A502-32DA6822318A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>144D7958-617D-45F3-8140-CDD8105D98DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F776F4A5-FD97-4ACE-AE3E-64939F6E58E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FF2AE46-C3BF-4436-8261-FE3E1E797C71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Misc Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sync</string>
				<key>subtext</key>
				<string>Dotfiles, Vault &amp; Password-Store</string>
				<key>text</key>
				<string>🔁 Sync Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9FF31BC-709C-4387-975A-0B1410418161</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -g "hammerspoon://sync-repos"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC943639-4DB9-44BA-B722-273F16EEED36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>name</key>
				<string>Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3D0B8081-9BD2-40C0-9521-EDF82FFE8C23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tel://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>429CEC89-9C82-432F-900F-A22DDDF7964A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/click-call.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1F1F193-4BF3-42D0-A30E-784AC487FDA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Call with Facetime</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1ED11A83-B032-49DD-A27E-82281010DEC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if pgrep -xq "lo-rain" ; then
	killall "lo-rain"
else
	open -a "lo-rain"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF2E709C-56BA-4D78-AD00-074FC6326079</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rain</string>
				<key>subtext</key>
				<string>lo-rain</string>
				<key>text</key>
				<string>Toggle Rain</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add to Busycal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C877087-012F-4C14-9B4D-369466813350</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>busycalevent://new/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9F084A08-61CC-4FFE-B826-D1C94F206A5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.pqrs.Karabiner-EventViewer</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Karabiner-EventViewer" to if it is running then quit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Add as Event to BusyCal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>ED6732E3-D32A-4D0D-835B-815CF2FD8DAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635216737</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>7FF2AE46-C3BF-4436-8261-FE3E1E797C71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Open Adress in Maps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F776F4A5-FD97-4ACE-AE3E-64939F6E58E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>58DC7C3B-3563-455A-A942-24B2B2F283E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>Application("System Events")
  .applicationProcesses.byName("NotificationCenter")
  .windows[0]
  .groups[0]
  .scrollAreas[0]
  .uiElements[0]
  .groups()
  .map(banner =&gt; banner.actions().slice(-1)[0])
  .forEach(banner =&gt; banner.perform())</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25653873-BA08-495C-9634-85EDC4DE03F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open with TextEdit…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>53E5054B-1A54-48FA-B642-7B674813E725</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/TextEdit.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>94945DE5-0241-4967-9508-58E218F31B67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-to-espanso-spellings.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spell</string>
				<key>subtext</key>
				<string>$1: Misspelling     $2: Correct Spelling</string>
				<key>text</key>
				<string>Spelling: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2960A81-02AB-485E-AF91-AEF7B502D533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>open</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E99EAF40-8819-42A3-BBED-A3BC465A0D66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/AppCleaner.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D9D1017F-1F5D-4562-8B69-0232E40032C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>weekly</string>
				<key>subtext</key>
				<string>Set new Start Date</string>
				<key>text</key>
				<string>Weekly Date Generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4497C875-4C2B-417D-8073-1EB6DBC030CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Format: YYYY-MM-DD</string>
				<key>text</key>
				<string>New Start Date: '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F775FF5D-3F3E-4F51-A502-32DA6822318A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1E22BA45-6FE5-490E-8C79-4FCC4690939C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A04AB8ED-EA57-4E0F-A24F-669DBB086D08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>26</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2BBD4E3E-C51A-42A8-809D-20898A446B8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F668F3BA-49D3-42E4-A394-44FB468C078E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>xattr -d com.apple.quarantine "${@}" 2&gt;&amp;1
 &amp;&amp; echo "✅ Removed Quarantine" || echo "⚠️ Could not remove Quarantine"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0AF7121A-89F5-460A-97D1-1061C6819D85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/weekly-date-generator.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>144D7958-617D-45F3-8140-CDD8105D98DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Remove quarantine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B2BCC7F4-6732-493D-9789-2719BB7752D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3E7D1B62-B854-4F9E-9622-10F0EDC36A02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0AF7121A-89F5-460A-97D1-1061C6819D85</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>144D7958-617D-45F3-8140-CDD8105D98DD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>1E22BA45-6FE5-490E-8C79-4FCC4690939C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>1ED11A83-B032-49DD-A27E-82281010DEC8</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>25653873-BA08-495C-9634-85EDC4DE03F5</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>2BBD4E3E-C51A-42A8-809D-20898A446B8C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>add week</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>3D0B8081-9BD2-40C0-9521-EDF82FFE8C23</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3E7D1B62-B854-4F9E-9622-10F0EDC36A02</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>429CEC89-9C82-432F-900F-A22DDDF7964A</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4497C875-4C2B-417D-8073-1EB6DBC030CA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>weekly date generator</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>53E5054B-1A54-48FA-B642-7B674813E725</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>58DC7C3B-3563-455A-A942-24B2B2F283E9</key>
		<dict>
			<key>note</key>
			<string>Close Notification</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>5C877087-012F-4C14-9B4D-369466813350</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>quit Karabiner-EventViewer</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>7FF2AE46-C3BF-4436-8261-FE3E1E797C71</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>94945DE5-0241-4967-9508-58E218F31B67</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>9734FC1B-0242-4229-B9BF-4A809F59C81E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>9F084A08-61CC-4FFE-B826-D1C94F206A5A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>A04AB8ED-EA57-4E0F-A24F-669DBB086D08</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Add Spelling correction to espanso</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>toggle lo-rain</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>AF2E709C-56BA-4D78-AD00-074FC6326079</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B2BCC7F4-6732-493D-9789-2719BB7752D9</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>C120F733-C46F-44AC-ADAA-504E11D52028</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>D9D1017F-1F5D-4562-8B69-0232E40032C5</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>DC943639-4DB9-44BA-B722-273F16EEED36</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E1F1F193-4BF3-42D0-A30E-784AC487FDA7</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E99EAF40-8819-42A3-BBED-A3BC465A0D66</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>repo sync</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>ED6732E3-D32A-4D0D-835B-815CF2FD8DAF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>F668F3BA-49D3-42E4-A394-44FB468C078E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>F775FF5D-3F3E-4F51-A502-32DA6822318A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>F776F4A5-FD97-4ACE-AE3E-64939F6E58E0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
