<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.karabiner-espanso</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Do not open file afterwards</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF2E709C-56BA-4D78-AD00-074FC6326079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E99EAF40-8819-42A3-BBED-A3BC465A0D66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D1017F-1F5D-4562-8B69-0232E40032C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC943639-4DB9-44BA-B722-273F16EEED36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Misc Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -g "hammerspoon://sync-repos"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC943639-4DB9-44BA-B722-273F16EEED36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔓 Zoom Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "zoom.us" to activate
delay 1
tell application "System Events" 
	keystroke tab
	keystroke space
	delay 0.2
	keystroke tab
	keystroke tab
	keystroke tab
	keystroke tab
	keystroke space
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/zoom-login-automation.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sync</string>
				<key>subtext</key>
				<string>Dotfiles, Vault &amp; Password-Store</string>
				<key>text</key>
				<string>🔁 Sync Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9FF31BC-709C-4387-975A-0B1410418161</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if pgrep -xq "lo-rain" ; then
	killall "lo-rain"
else
	open -a "lo-rain"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF2E709C-56BA-4D78-AD00-074FC6326079</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rain</string>
				<key>subtext</key>
				<string>lo-rain</string>
				<key>text</key>
				<string>Toggle Rain</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-to-espanso-spellings.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C120F733-C46F-44AC-ADAA-504E11D52028</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spell</string>
				<key>subtext</key>
				<string>$1: Misspelling     $2: Correct Spelling</string>
				<key>text</key>
				<string>Spelling: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2960A81-02AB-485E-AF91-AEF7B502D533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>open</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DF397E6-7179-4A9B-A07A-B32165613998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Karabiner-EventViewer" to if it is running then quit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9734FC1B-0242-4229-B9BF-4A809F59C81E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.pqrs.Karabiner-EventViewer</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E99EAF40-8819-42A3-BBED-A3BC465A0D66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/AppCleaner.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D9D1017F-1F5D-4562-8B69-0232E40032C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0CB1384E-FC0D-46E5-8142-2590BB7CE8BD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Zoom Quicker Login</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>0DF397E6-7179-4A9B-A07A-B32165613998</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>7F470F6C-F1DD-4F6C-A598-CA405EA0B456</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>quit Karabiner-EventViewer</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>9734FC1B-0242-4229-B9BF-4A809F59C81E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>A2960A81-02AB-485E-AF91-AEF7B502D533</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Add Spelling correction to espanso</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A495CCCB-F21B-41F1-B7AA-E4A511EC63C4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>toggle lo-rain</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>AF2E709C-56BA-4D78-AD00-074FC6326079</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>C120F733-C46F-44AC-ADAA-504E11D52028</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D9D1017F-1F5D-4562-8B69-0232E40032C5</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>DC943639-4DB9-44BA-B722-273F16EEED36</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>DE6D43CB-FDC8-4501-B0BC-6EDCECD2043A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>login script</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E99EAF40-8819-42A3-BBED-A3BC465A0D66</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>E9FF31BC-709C-4387-975A-0B1410418161</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>repo sync</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
