<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.091DE90E-37CC-410B-BED0-5196D78A40DC</string>
	<key>lightthemeuid</key>
	<string>theme.custom.C772CB47-9F3D-4071-A1C2-0C3D0EF6E61D</string>
</dict>
</plist>
