<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>00C473A5-2045-4409-841A-1BE884B037BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E762EDDE-643D-48E5-B773-C89606259F8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A57AF60-AF83-4456-BA6B-C5074E68B218</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB04958D-077C-46BC-B90E-838C686616B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C4ED8B1-4503-4C11-9E1F-0752164AEC64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25E873D0-DCD8-487D-B9DB-42A2026485D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C5C9CF6-0447-47E9-B412-85818504EFD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DDF0A99-4F65-4AEE-BE37-899EC79F3272</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A6EFEC9-13EB-4A01-BEFF-59D2C72EC240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EFB3948-B5DD-42BA-922A-4B3290C790BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C4ED8B1-4503-4C11-9E1F-0752164AEC64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25E873D0-DCD8-487D-B9DB-42A2026485D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91363023-70E5-4857-94B6-46B825E1AD17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>365B08C4-71FA-44B3-BD68-AC921D879145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>954BCFCB-400E-482D-8418-02C0D9453551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A193819-CC2F-4AC7-8AB0-EC5571B7878B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A57AF60-AF83-4456-BA6B-C5074E68B218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59214D8E-53BE-4690-AF5F-36B2963D544A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>365B08C4-71FA-44B3-BD68-AC921D879145</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0335C72-7DC6-4793-ADCD-3909E4CDE001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A6EFEC9-13EB-4A01-BEFF-59D2C72EC240</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EFB3948-B5DD-42BA-922A-4B3290C790BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00C473A5-2045-4409-841A-1BE884B037BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8717C00-E905-4106-A8B8-1251B15C340E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CFB48F9-2348-4A1B-A5A6-034A8654DAC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A28A029-A380-4B80-82C1-AB1863D8C0C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Icons &amp; Images</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?tbs=ic%3Atrans&amp;tbm=isch&amp;q={query}+icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Convert png to icns</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/png2icns.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0335C72-7DC6-4793-ADCD-3909E4CDE001</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.freepik.com/search?query={query}&amp;type=icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string>multiple icon sites</string>
				<key>text</key>
				<string>Search icon: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/shrink-image.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Shrink Image to 70%</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.flaticon.com/search?word={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A28A029-A380-4B80-82C1-AB1863D8C0C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/images-to-webp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00C473A5-2045-4409-841A-1BE884B037BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E762EDDE-643D-48E5-B773-C89606259F8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Convert to webp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5CFB48F9-2348-4A1B-A5A6-034A8654DAC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>svg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/svg-tech-icons.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>SVG tech icons</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A8717C00-E905-4106-A8B8-1251B15C340E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📸 Copied screenshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>954BCFCB-400E-482D-8418-02C0D9453551</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/copy-to-clipboard.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>365B08C4-71FA-44B3-BD68-AC921D879145</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>iii</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/screenshot-history.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search screenshot history</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>59214D8E-53BE-4690-AF5F-36B2963D544A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ii</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>✏️ Annotate last screenshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A193819-CC2F-4AC7-8AB0-EC5571B7878B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/annotate-last-screenshot.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A57AF60-AF83-4456-BA6B-C5074E68B218</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB04958D-077C-46BC-B90E-838C686616B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR Screenshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1DDF0A99-4F65-4AEE-BE37-899EC79F3272</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>no_window_shadow</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/screen-capture/screenshot.interactive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9A6EFEC9-13EB-4A01-BEFF-59D2C72EC240</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>91363023-70E5-4857-94B6-46B825E1AD17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>25E873D0-DCD8-487D-B9DB-42A2026485D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.ocr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0C4ED8B1-4503-4C11-9E1F-0752164AEC64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>screenshot_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1EFB3948-B5DD-42BA-922A-4B3290C790BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:screenshot_path}</string>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9C5C9CF6-0447-47E9-B412-85818504EFD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00C473A5-2045-4409-841A-1BE884B037BE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>0A57AF60-AF83-4456-BA6B-C5074E68B218</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>0C4ED8B1-4503-4C11-9E1F-0752164AEC64</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>1A28A029-A380-4B80-82C1-AB1863D8C0C6</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>1DDF0A99-4F65-4AEE-BE37-899EC79F3272</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>1EFB3948-B5DD-42BA-922A-4B3290C790BC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>save screenshot path for trashing</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>25E873D0-DCD8-487D-B9DB-42A2026485D6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>365B08C4-71FA-44B3-BD68-AC921D879145</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>copy file to clipboard</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>3A193819-CC2F-4AC7-8AB0-EC5571B7878B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>annotate last screenshot</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>59214D8E-53BE-4690-AF5F-36B2963D544A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>screenshot history</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>5CFB48F9-2348-4A1B-A5A6-034A8654DAC4</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>7CF8B97A-6865-489C-8B65-3C892683D59E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>91363023-70E5-4857-94B6-46B825E1AD17</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>954BCFCB-400E-482D-8418-02C0D9453551</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>png → icns</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>9A6EFEC9-13EB-4A01-BEFF-59D2C72EC240</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>9C5C9CF6-0447-47E9-B412-85818504EFD1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>trash temp file</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>1005</real>
		</dict>
		<key>A069BE51-DA62-4835-8048-AF3A608C97D0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>→ webp</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>A8717C00-E905-4106-A8B8-1251B15C340E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>DB04958D-077C-46BC-B90E-838C686616B0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>error</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>E762EDDE-643D-48E5-B773-C89606259F8B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>F0335C72-7DC6-4793-ADCD-3909E4CDE001</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>shrink to 70%</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/tmp/screenshots</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Screenshot folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>screenshot_folder</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
