<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>00C473A5-2045-4409-841A-1BE884B037BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E762EDDE-643D-48E5-B773-C89606259F8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6952AF82-81C6-4EA3-850D-BAC02934B45E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E07E04C5-C1AE-4930-BC19-FDC37F166624</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82376FBD-B944-47F0-B0F6-14D0E3B22537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6952AF82-81C6-4EA3-850D-BAC02934B45E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0335C72-7DC6-4793-ADCD-3909E4CDE001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00C473A5-2045-4409-841A-1BE884B037BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>68F706E8-BDA8-44E3-8973-752C6B0FC50D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A28A029-A380-4B80-82C1-AB1863D8C0C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</key>
		<array/>
		<key>E07E04C5-C1AE-4930-BC19-FDC37F166624</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BA8EB9F-E5C5-440C-AFB0-8AA181EC2871</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD04A914-81DF-43CD-97F2-872228411EED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Icons &amp; Images</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/png2icns.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0335C72-7DC6-4793-ADCD-3909E4CDE001</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?tbs=ic%3Atrans&amp;tbm=isch&amp;q={query}+icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Convert png to icns</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string>multiple icon sites</string>
				<key>text</key>
				<string>Search icon: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.iconfinder.com/search/?q={query}&amp;price=free</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Shrink Image to 70%</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/shrink-image.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://icons8.com/icons/set/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>68F706E8-BDA8-44E3-8973-752C6B0FC50D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Convert to webp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/images-to-webp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00C473A5-2045-4409-841A-1BE884B037BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E762EDDE-643D-48E5-B773-C89606259F8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.flaticon.com/search?word={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A28A029-A380-4B80-82C1-AB1863D8C0C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Annotate in Cleanshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FD04A914-81DF-43CD-97F2-872228411EED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://open-annotate?filepath={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2BA8EB9F-E5C5-440C-AFB0-8AA181EC2871</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/md-image-links.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6952AF82-81C6-4EA3-850D-BAC02934B45E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>MD Image Link → &lt;img&gt;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>82376FBD-B944-47F0-B0F6-14D0E3B22537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E07E04C5-C1AE-4930-BC19-FDC37F166624</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00C473A5-2045-4409-841A-1BE884B037BE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>1A28A029-A380-4B80-82C1-AB1863D8C0C6</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>2BA8EB9F-E5C5-440C-AFB0-8AA181EC2871</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>68F706E8-BDA8-44E3-8973-752C6B0FC50D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>6952AF82-81C6-4EA3-850D-BAC02934B45E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>7CF8B97A-6865-489C-8B65-3C892683D59E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>82376FBD-B944-47F0-B0F6-14D0E3B22537</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>png → icns</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A069BE51-DA62-4835-8048-AF3A608C97D0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>→ webp</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>E07E04C5-C1AE-4930-BC19-FDC37F166624</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>E762EDDE-643D-48E5-B773-C89606259F8B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>F0335C72-7DC6-4793-ADCD-3909E4CDE001</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>FD04A914-81DF-43CD-97F2-872228411EED</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>shrink to 70%</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
