<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>2F9F4C60-E687-4D26-B704-5191CED79AFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9CA84FA-2405-46B8-8222-D8212ACEE448</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5252159C-2A4F-4203-BA5A-DC1967230383</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31B039D3-0038-4232-A04C-E67C8EF2598B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>582FCFA2-1B38-4ED9-9AB5-7C2B77C96405</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48F436EA-DB23-49A0-AE6D-917AF25E9479</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C88B596-E2CF-48B0-B410-DADF9807C0C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD18535C-8C87-4E8C-8453-9B8F93825CFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6481CF6B-7D93-4373-AE49-E7247AA9E094</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>582FCFA2-1B38-4ED9-9AB5-7C2B77C96405</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>875E9AB6-32D5-463E-AB90-22CD418F2664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBC8C303-5FE2-435C-A20C-0BFF5C8F5040</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0335C72-7DC6-4793-ADCD-3909E4CDE001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00C473A5-2045-4409-841A-1BE884B037BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF0E4942-E221-40D4-A68F-897A783A8EE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBC8C303-5FE2-435C-A20C-0BFF5C8F5040</key>
		<array/>
		<key>E61BAA5C-B8EC-4B90-BE73-0E4711326107</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6481CF6B-7D93-4373-AE49-E7247AA9E094</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD04A914-81DF-43CD-97F2-872228411EED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Icons &amp; Images</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?tbs=ic%3Atrans&amp;tbm=isch&amp;q={query}+icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Convert png to icns</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://icon-icons.com/search/icons/?filtro={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF0E4942-E221-40D4-A68F-897A783A8EE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/png2icns.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0335C72-7DC6-4793-ADCD-3909E4CDE001</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string>Flaticon – Iconify – Iconfinder – Google Images</string>
				<key>text</key>
				<string>Search Icon: "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.iconfinder.com/search/?q={query}&amp;price=free</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/shrink-image.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Shrink Image to 70%</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/2webp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00C473A5-2045-4409-841A-1BE884B037BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Convert to webp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>e</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>48F436EA-DB23-49A0-AE6D-917AF25E9479</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://open-history</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6481CF6B-7D93-4373-AE49-E7247AA9E094</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>annotate||cleanshot</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Annotate Last Screenshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E61BAA5C-B8EC-4B90-BE73-0E4711326107</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Annotate in Cleanshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FD04A914-81DF-43CD-97F2-872228411EED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://open-annotate?filepath={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>582FCFA2-1B38-4ED9-9AB5-7C2B77C96405</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Pin in Cleanshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5C88B596-E2CF-48B0-B410-DADF9807C0C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://pin?filepath={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD18535C-8C87-4E8C-8453-9B8F93825CFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://open-from-clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CBC8C303-5FE2-435C-A20C-0BFF5C8F5040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>annotate||cleanshot</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Annotate Clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>875E9AB6-32D5-463E-AB90-22CD418F2664</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>OCR Text from Image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5252159C-2A4F-4203-BA5A-DC1967230383</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://capture-text?filepath={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>31B039D3-0038-4232-A04C-E67C8EF2598B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>cleanshot://capture-text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A9CA84FA-2405-46B8-8222-D8212ACEE448</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocr||annotate||cleanshot</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR Screenshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F9F4C60-E687-4D26-B704-5191CED79AFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00C473A5-2045-4409-841A-1BE884B037BE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>2F9F4C60-E687-4D26-B704-5191CED79AFF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>annotate clipboard</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>31B039D3-0038-4232-A04C-E67C8EF2598B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>48F436EA-DB23-49A0-AE6D-917AF25E9479</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>5252159C-2A4F-4203-BA5A-DC1967230383</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>582FCFA2-1B38-4ED9-9AB5-7C2B77C96405</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>5C88B596-E2CF-48B0-B410-DADF9807C0C3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>6481CF6B-7D93-4373-AE49-E7247AA9E094</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>open screenshot history</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>7CF8B97A-6865-489C-8B65-3C892683D59E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>875E9AB6-32D5-463E-AB90-22CD418F2664</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>annotate clipboard</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>95CF671F-9E2F-4CE9-92A0-BACEF07C97C8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>png → icns</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A069BE51-DA62-4835-8048-AF3A608C97D0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A127DB2B-430B-415F-9B6D-9A9EE315AD8E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>→ webp</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>A9CA84FA-2405-46B8-8222-D8212ACEE448</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>AF0E4942-E221-40D4-A68F-897A783A8EE9</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>BD18535C-8C87-4E8C-8453-9B8F93825CFD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>BE518E10-A76F-4A39-BF2F-9A54BFA63DF7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>CBC8C303-5FE2-435C-A20C-0BFF5C8F5040</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>E61BAA5C-B8EC-4B90-BE73-0E4711326107</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>edit last screenshot</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>F0335C72-7DC6-4793-ADCD-3909E4CDE001</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F03A86F4-1AD4-408D-B232-2B8569EDE9A7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>FD04A914-81DF-43CD-97F2-872228411EED</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>FF1B8F7A-4E33-4A50-A895-F3B34197EB14</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>shrink to 70%</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
