<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.EditWorkflowDetails</string>
	<key>connections</key>
	<dict>
		<key>359AC9B9-C7BA-4730-9B3B-F65D76395C06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D7F1448-9A71-44FC-9BB8-8C4AF0ACBC9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>May June July</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Edit Workflow Details</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>359AC9B9-C7BA-4730-9B3B-F65D76395C06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to tell process "Alfred Preferences"	tell table 1 of scroll area 1 of splitter group 1 of window "Alfred Preferences" to perform action "AXShowMenu"	delay 0.3	keystroke "Edit"	key code 36 -- Enterend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D7F1448-9A71-44FC-9BB8-8C4AF0ACBC9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>359AC9B9-C7BA-4730-9B3B-F65D76395C06</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4D7F1448-9A71-44FC-9BB8-8C4AF0ACBC9C</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/Alfred--Edit-Workflow-Details</string>
</dict>
</plist>
