<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.EditWorkflowDetails</string>
	<key>connections</key>
	<dict>
		<key>0B26B946-28EB-4350-A09E-01E7B461ED4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBCDA474-68BC-4644-8C34-D4866A243565</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>359AC9B9-C7BA-4730-9B3B-F65D76395C06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B981A0D6-2FA8-48B1-9196-82C8FD755A71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B981A0D6-2FA8-48B1-9196-82C8FD755A71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D55D3849-9F3E-4183-B14A-B34D1EB0EF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE156CE9-B1FA-4D2A-B462-1ED64BB34965</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBCDA474-68BC-4644-8C34-D4866A243565</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D55D3849-9F3E-4183-B14A-B34D1EB0EF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE156CE9-B1FA-4D2A-B462-1ED64BB34965</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>May June July</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Edit Workflow Details</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>359AC9B9-C7BA-4730-9B3B-F65D76395C06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
    set menuItemName to item 1 of argv
    
    tell application "System Events" to tell process "Alfred Preferences"
        tell table 1 of scroll area 1 of splitter group 1 of window "Alfred Preferences"
            perform action "AXShowMenu"
            delay 0.3
            tell menu item menuItemName of menu 1
                perform action "AXPress"
            end tell
        end tell
    end tell
    
    return 
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D55D3849-9F3E-4183-B14A-B34D1EB0EF35</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Edit Details</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B981A0D6-2FA8-48B1-9196-82C8FD755A71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
    var menuItemName = argv[0];
    
    // Show the context menu
    Application("System Events").processes["Alfred Preferences"].windows["Alfred Preferences"]
        .splitterGroups[0].scrollAreas[0].tables[0].actions["AXShowMenu"].perform();
    
    delay(0.3);
    
    // Click menu item with specified name
    Application("System Events").processes["Alfred Preferences"].windows["Alfred Preferences"]
        .splitterGroups[0].scrollAreas[0].tables[0].menus[0].menuItems[menuItemName]
        .actions["AXPress"].perform();
    
    return;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE156CE9-B1FA-4D2A-B462-1ED64BB34965</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0B26B946-28EB-4350-A09E-01E7B461ED4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Enabled</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BBCDA474-68BC-4644-8C34-D4866A243565</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to tell process "Alfred Preferences"	tell table 1 of scroll area 1 of splitter group 1 of window "Alfred Preferences" to perform action "AXShowMenu"	delay 0.3	keystroke "Enabled"	key code 36 -- Enterend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95362D5E-76D7-4644-8A85-2EF267CDA6CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to tell process "Alfred Preferences"	tell table 1 of scroll area 1 of splitter group 1 of window "Alfred Preferences" to perform action "AXShowMenu"	delay 0.3	keystroke "Edit"	key code 36 -- Enterend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D7F1448-9A71-44FC-9BB8-8C4AF0ACBC9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to tell process "Alfred Preferences"	tell table 1 of scroll area 1 of splitter group 1 of window "Alfred Preferences"		perform action "AXShowMenu"		delay 0.3 -- Small delay to ensure menu appears		tell menu item "Edit Details" of menu 1			perform action "AXPress"		end tell	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28EABCED-2FB6-4584-A51F-1C8915BD8282</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B26B946-28EB-4350-A09E-01E7B461ED4F</key>
		<dict>
			<key>note</key>
			<string>Toggle ‘Enabled’</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>28EABCED-2FB6-4584-A51F-1C8915BD8282</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>AppleScript for menu ‘Edit Details’</string>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>359AC9B9-C7BA-4730-9B3B-F65D76395C06</key>
		<dict>
			<key>note</key>
			<string>‘Edit Details’</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4D7F1448-9A71-44FC-9BB8-8C4AF0ACBC9C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>‘Edit Details’. Old ‘keystoke’ and ‘key code’ method.</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>95362D5E-76D7-4644-8A85-2EF267CDA6CD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Toggle ‘Enable’. Old ‘keystoke’ and ‘key code’ method.</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>B981A0D6-2FA8-48B1-9196-82C8FD755A71</key>
		<dict>
			<key>note</key>
			<string>Edit Details</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>BBCDA474-68BC-4644-8C34-D4866A243565</key>
		<dict>
			<key>note</key>
			<string>Enabled</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>D55D3849-9F3E-4183-B14A-B34D1EB0EF35</key>
		<dict>
			<key>note</key>
			<string>AppleScript. Menu from arg</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FE156CE9-B1FA-4D2A-B462-1ED64BB34965</key>
		<dict>
			<key>note</key>
			<string>JXA. Menu from arg</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>2025.2</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/Alfred--Edit-Workflow-Details</string>
</dict>
</plist>
