<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.hs-bridge</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>6EE76684-600F-41B0-B440-B23DF81333F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A4DC855-6FDE-4CC2-B5BB-480FBF104479</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A4DC855-6FDE-4CC2-B5BB-480FBF104479</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F517C2C-C099-4C07-8BB3-940E87AD2D13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90FB944B-D292-413A-BD97-19E8645E77DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E975EA7B-4891-4044-B907-94B789473088</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3F6F38C-5C01-4F83-BB7B-3EA84DE07C46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2E76A05-8765-409D-80E0-85D513882318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>fixes Hammerspoon not being able to get Calendar &amp; Reminder persmission anymore since 2026-04-30</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hammerspoon Bridge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/.config/hammerspoon/system/menubar/count-reminders.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A4DC855-6FDE-4CC2-B5BB-480FBF104479</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>/tmp/reminder-count</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>9F517C2C-C099-4C07-8BB3-940E87AD2D13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>count-reminders</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6EE76684-600F-41B0-B440-B23DF81333F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>emojify-reminders</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>90FB944B-D292-413A-BD97-19E8645E77DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/.config/hammerspoon/system/cronjobs/hourly/emojify-reminders.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E975EA7B-4891-4044-B907-94B789473088</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/.config/hammerspoon/system/cronjobs/biweekly/backup-reminders-and-events.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2E76A05-8765-409D-80E0-85D513882318</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>backup-reminders-and-events</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A3F6F38C-5C01-4F83-BB7B-3EA84DE07C46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Search PLACEHOLDER with the `KEYWORD` keyword.
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the page in the browser.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; copy the page URL.

---

#### Workflow created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>uidata</key>
	<dict>
		<key>6EE76684-600F-41B0-B440-B23DF81333F2</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7A4DC855-6FDE-4CC2-B5BB-480FBF104479</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>90FB944B-D292-413A-BD97-19E8645E77DA</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>9F517C2C-C099-4C07-8BB3-940E87AD2D13</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A2E76A05-8765-409D-80E0-85D513882318</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>A3F6F38C-5C01-4F83-BB7B-3EA84DE07C46</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>E975EA7B-4891-4044-B907-94B789473088</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
