<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.office</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>17771D76-B6EC-4F42-8405-5E82A3EB6AC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF973179-919F-49F9-87B7-B7F8B8C2DFA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CE4DAA7-FE77-425B-877F-F085E56B2DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>672D5EF0-B52E-494F-B5FA-06B1C80C75BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68DC85E6-588D-4BC9-9CE0-E6D80050366E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5659064-6416-4F5D-B00D-E8CCB05C81CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96506545-AAD8-4A5C-BC72-C0329E44D1CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82D4C132-7D4C-4198-A353-57833A3D0B46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B352B26B-AF3D-4901-BB77-04B9477B779D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A96ACCD-17C3-48A4-9F6F-ED62DB68FD78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Office Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Microsoft Word"
		set frontmost to true
		click menu item "Comment" of menu "Insert" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>672D5EF0-B52E-494F-B5FA-06B1C80C75BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.microsoft.Word</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5CE4DAA7-FE77-425B-877F-F085E56B2DC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events"
	set frontApp to (name of first process where it is frontmost)
	tell process frontApp to click menu item "Export..." of menu "File" of menu bar 1
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A96ACCD-17C3-48A4-9F6F-ED62DB68FD78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.microsoft.Excel</string>
					<string>com.microsoft.Powerpoint</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B352B26B-AF3D-4901-BB77-04B9477B779D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.microsoft.Word</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>17771D76-B6EC-4F42-8405-5E82A3EB6AC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Microsoft Word" to click menu item "Save As..." of menu "File" of menu bar 1
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF973179-919F-49F9-87B7-B7F8B8C2DFA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser.app.mpnpojknpmmopombnjdcgaaiekajbnjb</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>96506545-AAD8-4A5C-BC72-C0329E44D1CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>m</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>82D4C132-7D4C-4198-A353-57833A3D0B46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>10</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser.app.mpnpojknpmmopombnjdcgaaiekajbnjb</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>68DC85E6-588D-4BC9-9CE0-E6D80050366E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>f</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>A5659064-6416-4F5D-B00D-E8CCB05C81CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>17771D76-B6EC-4F42-8405-5E82A3EB6AC5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>1A96ACCD-17C3-48A4-9F6F-ED62DB68FD78</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>5CE4DAA7-FE77-425B-877F-F085E56B2DC1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>672D5EF0-B52E-494F-B5FA-06B1C80C75BF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>68DC85E6-588D-4BC9-9CE0-E6D80050366E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Footnote</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>82D4C132-7D4C-4198-A353-57833A3D0B46</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>96506545-AAD8-4A5C-BC72-C0329E44D1CE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Comment</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>A5659064-6416-4F5D-B00D-E8CCB05C81CD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>B352B26B-AF3D-4901-BB77-04B9477B779D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>BF973179-919F-49F9-87B7-B7F8B8C2DFA8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
