<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.homebrew</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>0BAF56E8-B65A-478A-B848-F09FFE73A12B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: brew home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>134021C5-60C3-4CE6-BB01-1629F036ED44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A95AE0C7-7A80-4DA9-96C5-4561B4F4E6F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27B242B6-18EC-4406-AF3F-BEEFC41EE4C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E016D711-BC20-4751-AD2A-FEDDD4949D27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</key>
		<array/>
		<key>6DB061FF-1A40-4EE0-BEAA-52ADCC3DB108</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15EACC42-5C45-4D93-92F1-4ACE532FB54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70235FFB-5E85-4C61-A7CE-B1CCC3E1DD0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: brew home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89F35AB8-AC54-4BB2-B884-9B206671D5AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A98EAA76-0074-4CAD-9A09-48949FC126DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE590292-EEA5-4025-A89B-42AE38188503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: brew home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E30671DD-C795-4F57-9BD3-9FC4C20DCFDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>361B7617-AA0E-4A82-A7BA-824D533D233D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>More convenient brewing with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Homebrew &amp; other Package Managers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://npms.io/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A95AE0C7-7A80-4DA9-96C5-4561B4F4E6F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>npm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>npms.io: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>134021C5-60C3-4CE6-BB01-1629F036ED44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>build-brew-list.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew install '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>bi {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pip</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>PyPI: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E30671DD-C795-4F57-9BD3-9FC4C20DCFDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pypi.org/search/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>361B7617-AA0E-4A82-A7BA-824D533D233D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH
brew home "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>build-brew-list.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew home '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70235FFB-5E85-4C61-A7CE-B1CCC3E1DD0B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>macappstores://search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?mt=12&amp;ign-mscache=1&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>15EACC42-5C45-4D93-92F1-4ACE532FB54B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>mas</string>
				<key>subtext</key>
				<string>in the App</string>
				<key>text</key>
				<string>Mac App Store: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6DB061FF-1A40-4EE0-BEAA-52ADCC3DB108</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>br {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A98EAA76-0074-4CAD-9A09-48949FC126DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>br</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>brew-list-installed.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew reinstall '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE590292-EEA5-4025-A89B-42AE38188503</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.app$</string>
						<key>outputlabel</key>
						<string>AppCleaner</string>
						<key>uid</key>
						<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>homebrew</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/{query}#readme</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E016D711-BC20-4751-AD2A-FEDDD4949D27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zsh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>oh-my-zsh-plugin-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Oh My ZSH: {query}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>27B242B6-18EC-4406-AF3F-BEEFC41EE4C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/AppCleaner.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bu</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>brew-list-installed.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew uninstall '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0BAF56E8-B65A-478A-B848-F09FFE73A12B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.app$</string>
						<key>outputlabel</key>
						<string>AppCleaner</string>
						<key>uid</key>
						<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>homebrew</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>bu {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>89F35AB8-AC54-4BB2-B884-9B206671D5AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Requirements
- [Homebrew](https://brew.sh/)
- [mas-cli](https://github.com/mas-cli/mas/)

---

created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>uidata</key>
	<dict>
		<key>0BAF56E8-B65A-478A-B848-F09FFE73A12B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>uninstall</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>134021C5-60C3-4CE6-BB01-1629F036ED44</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>15EACC42-5C45-4D93-92F1-4ACE532FB54B</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>27B242B6-18EC-4406-AF3F-BEEFC41EE4C2</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>search for packages</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>361B7617-AA0E-4A82-A7BA-824D533D233D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>4B2606CD-2C98-4BEB-8E44-4A047BE9B3FA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>brew home</string>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>6DB061FF-1A40-4EE0-BEAA-52ADCC3DB108</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>70235FFB-5E85-4C61-A7CE-B1CCC3E1DD0B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>install</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>install</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>802369B2-358A-46C9-9516-940B8E3E7940</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>89F35AB8-AC54-4BB2-B884-9B206671D5AE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>A95AE0C7-7A80-4DA9-96C5-4561B4F4E6F2</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A98EAA76-0074-4CAD-9A09-48949FC126DB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>CE590292-EEA5-4025-A89B-42AE38188503</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>reinstall</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>E016D711-BC20-4751-AD2A-FEDDD4949D27</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>E30671DD-C795-4F57-9BD3-9FC4C20DCFDA</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>EDA21286-4E28-4304-A9DB-0BA74AB2C370</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>brew install</string>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
