<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.bannerbegone</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>56056996-E906-4F4A-8EA9-FBEF1B6A826A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0C35CAF-841A-4F23-8192-F4888C603092</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>831C449E-97B8-488E-AB60-CBD3842BB487</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0C35CAF-841A-4F23-8192-F4888C603092</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Close notification alerts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Banner Be Gone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>// Notification Center can be disrupted by the simplest of events.
// Clearing one notification or having an external screen
// can alter its behaviour in tiny ways which break notification clearing methods.
// Notification Center's structure keeps changing in minor macOS releases
// so there is no point chasing alert reference paths.
// The only sane way to detect banners and alerts is to look for specific known subroles:
//   AXNotificationCenterAlert
//   AXNotificationCenterAlertStack
//   AXNotificationCenterBanner
//   AXNotificationCenterBannerStack
// Similarly, looking for "Close" and "Clear" actions by name is suboptimal
// as every written language has a different word.
// They have consistently been placed as the last action, so that's what we use.
// Due to the aforementioned awkward behaviours,
// and because Notification Center's contents change when clearing each notification,
// it is impractical to get a full array of contents and act on them one by one.
// Some approaches work better than others but have large speed trade-offs
// that may leave the user thinking nothing is happening.
// This solution keeps requesting and clearing the first alert in sequence.
// It may not be the fastest in raw terms but it's immediatelly clear it's working.
// Because Notification Center is insane, many solutions may work most of the way
// but leave the last banner to be cleared.
// This is why we also add a number of retries until we're reasonably sure it's done.

let remainingTries = 5

while (true) {
  try {
    Application("System Events")
      .applicationProcesses.byName("NotificationCenter")
      .windows[0]
      .entireContents()
      .find(item =&gt; item.subrole()?.startsWith("AXNotificationCenter"))
      .actions()
      .slice(-1)[0]
      .perform()
  } catch {
    remainingTries--
    if (remainingTries &lt; 1) break
  }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0C35CAF-841A-4F23-8192-F4888C603092</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:clear_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Close notification banners</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>831C449E-97B8-488E-AB60-CBD3842BB487</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>53</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>⎋</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>56056996-E906-4F4A-8EA9-FBEF1B6A826A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Clear visible macOS notification banners via the `notclear` keyword.

![Clearing notification banners](images/about/notclear.png)

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering.</string>
	<key>uidata</key>
	<dict>
		<key>56056996-E906-4F4A-8EA9-FBEF1B6A826A</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>831C449E-97B8-488E-AB60-CBD3842BB487</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B0C35CAF-841A-4F23-8192-F4888C603092</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>notclear</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Clear Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>clear_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/banner-be-gone-workflow/</string>
</dict>
</plist>
