<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.spelling-and-word-changer</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>07067962-C5C6-4B45-84D2-E12B587B394A</key>
		<array/>
		<key>15C5CEF9-52E9-4682-8DE4-0E5332D17D18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C4BA326-F122-4D88-AF7F-18DD180CEF3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88575279-2CDE-460A-96E7-6D1B72F15E67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>437A1C55-721B-4E6C-9FC3-61772290A3C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C4BA326-F122-4D88-AF7F-18DD180CEF3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88575279-2CDE-460A-96E7-6D1B72F15E67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9508516-6B1E-480E-9584-B560F1C8568E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A79508C6-9D50-47FC-8E75-B8142611461C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9508516-6B1E-480E-9584-B560F1C8568E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07067962-C5C6-4B45-84D2-E12B587B394A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Spell-Fixing, Capitalization, synonyms, or completion for word under cursor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spelling &amp; Synonyms</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--lang=en</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A79508C6-9D50-47FC-8E75-B8142611461C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	-- workaround, since apple's float ("real") interpret , or . differently
	-- depending on system language m( ...
	set delayAmount to (system attribute "delay_ms") as number
	set delayAmount to delayAmount/1000

	set langArg to item 1 of argv
	#----------------------------------------------------------------------------

	set prevClipboard to the clipboard
	delay delayAmount
	tell application "System Events"
		key code 123 -- char left
		key code 124 using {option down} -- word right
		key code 123 using {option down, shift down} -- word left selection
		keystroke "c" using {command down} -- copy
	end tell
	delay delayAmount
	set theWord to the clipboard
	delay delayAmount

	-- http://aspell.net/man-html/Through-A-Pipe.html
	set theFixedWord to do shell script "export PATH=/usr/local/lib:/usr/local/bin:/opt/homebrew/bin/:$PATH
	echo '" &amp; theWord &amp; "' | aspell pipe " &amp; langArg &amp; " | sed -n 2p | cut -d, -f1 | cut -d: -f2 | cut -c2-"

	set the clipboard to theFixedWord
	delay delayAmount
	tell application "System Events" to keystroke "v" using {command down}
	delay delayAmount

	set the clipboard to prevClipboard

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fix-word-under-cursor.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--lang={var:second_lang}</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>15C5CEF9-52E9-4682-8DE4-0E5332D17D18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>select-word.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C4BA326-F122-4D88-AF7F-18DD180CEF3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>synonym.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Synonym Search…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C9508516-6B1E-480E-9584-B560F1C8568E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>07067962-C5C6-4B45-84D2-E12B587B394A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>Ü</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>437A1C55-721B-4E6C-9FC3-61772290A3C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>88575279-2CDE-460A-96E7-6D1B72F15E67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Spell-fixing requires "aspell" to be installed on the system. (`brew install aspell`)

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>07067962-C5C6-4B45-84D2-E12B587B394A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Paste</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>15C5CEF9-52E9-4682-8DE4-0E5332D17D18</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>autocorrect for 2nd language (defined in settings)</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>3C4BA326-F122-4D88-AF7F-18DD180CEF3E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>get word under cursor</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>437A1C55-721B-4E6C-9FC3-61772290A3C7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>synonyms for word under cursor</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>88575279-2CDE-460A-96E7-6D1B72F15E67</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>A79508C6-9D50-47FC-8E75-B8142611461C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Autocorrect for English</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>C9508516-6B1E-480E-9584-B560F1C8568E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>70</string>
				<key>placeholder</key>
				<string>70</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Adjust if results are not replaced correctly.</string>
			<key>label</key>
			<string>Delay in ms</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>delay_ms</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>de</string>
				<key>placeholder</key>
				<string>de</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>needs to be shortcode from aspell</string>
			<key>label</key>
			<string>2nd language</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>second_lang</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
