<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.writing-assistant</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>15C5CEF9-52E9-4682-8DE4-0E5332D17D18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D656B72-508C-472A-89A5-17C81D76BE04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D656B72-508C-472A-89A5-17C81D76BE04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>527810E3-7675-48C8-ABF2-D21274E22579</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>569CD060-42E6-43E7-A18B-724E9B7D8357</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>932AEE6C-291D-43C3-87CC-D2E54FA12721</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>932AEE6C-291D-43C3-87CC-D2E54FA12721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2A06CF6-C0FD-4680-B7D3-44BB15153491</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2A06CF6-C0FD-4680-B7D3-44BB15153491</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4937A340-F92B-46C5-A8FA-B4D40A786CF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A79508C6-9D50-47FC-8E75-B8142611461C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Writing Assistant</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--lang=en</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A79508C6-9D50-47FC-8E75-B8142611461C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	-- workaround, since apple's float ("real") interpret , or . differently
	-- depending on system language m( ...
	set delayAmount to (system attribute "delay_ms") as number
	set delayAmount to delayAmount/1000

	set langArg to item 1 of argv
	#----------------------------------------------------------------------------

	set prevClipboard to the clipboard
	delay delayAmount
	tell application "System Events"
		key code 123 -- char left
		key code 124 using {option down} -- word right
		key code 123 using {option down, shift down} -- word left selection
		keystroke "c" using {command down} -- copy
	end tell
	delay delayAmount
	set theWord to the clipboard
	delay delayAmount

	-- http://aspell.net/man-html/Through-A-Pipe.html
	set theFixedWord to do shell script "export PATH=/usr/local/lib:/usr/local/bin:/opt/homebrew/bin/:$PATH
	echo '" &amp; theWord &amp; "' | aspell pipe " &amp; langArg &amp; " | sed -n 2p | cut -d, -f1 | cut -d: -f2 | cut -c2-"

	set the clipboard to theFixedWord
	delay delayAmount
	tell application "System Events" to keystroke "v" using {command down}
	delay delayAmount

	set the clipboard to prevClipboard

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/fix-word-under-cursor.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>--lang={var:second_lang}</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>15C5CEF9-52E9-4682-8DE4-0E5332D17D18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>Ü</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>527810E3-7675-48C8-ABF2-D21274E22579</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/synonym.js</string>
				<key>subtext</key>
				<string>Synonymer</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D656B72-508C-472A-89A5-17C81D76BE04</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-word.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/rephrase-selection.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2A06CF6-C0FD-4680-B7D3-44BB15153491</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>4937A340-F92B-46C5-A8FA-B4D40A786CF7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Thinking…</string>
				<key>title</key>
				<string>🤖 Rephraser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>932AEE6C-291D-43C3-87CC-D2E54FA12721</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>569CD060-42E6-43E7-A18B-724E9B7D8357</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Requirements
- `aspell`
- `ansifilter`
- OpenAi API Key

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>15C5CEF9-52E9-4682-8DE4-0E5332D17D18</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Autocorrect word unser cursor (2nd language)</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>3D656B72-508C-472A-89A5-17C81D76BE04</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>4937A340-F92B-46C5-A8FA-B4D40A786CF7</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>errors only</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>527810E3-7675-48C8-ABF2-D21274E22579</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>get synonym for word under cursor</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>569CD060-42E6-43E7-A18B-724E9B7D8357</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>rephrase selection</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>932AEE6C-291D-43C3-87CC-D2E54FA12721</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>A2A06CF6-C0FD-4680-B7D3-44BB15153491</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>call openAI (requires node)</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>A79508C6-9D50-47FC-8E75-B8142611461C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Autocorrect word unser cursor (English)</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>sk-...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Rephraser. If empty, will look through `.zshenv` for a variable `$OPENAI_API_KEY`.</string>
			<key>label</key>
			<string>OpenAI API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alfred_apikey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>100</string>
				<key>placeholder</key>
				<string>1337</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Rephraser: OpenAI token usage, between 1 and 4000</string>
			<key>label</key>
			<string>max tokens</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>maxTokens</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.3</string>
				<key>placeholder</key>
				<string>0.3</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Rephraser: "Creativity" value between 0 (more predictable) and 1 (more random).</string>
			<key>label</key>
			<string>Temperature</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>temperature</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Please make suggestions how to improve the following text concerning its readability and language. Do not change anything about the content, and refrain from doing any changes when the writing is already sufficiently clear and concise.</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Rephraser: Prompt that is prefixed to the selected text. (Diff works better if prompted to make minimal changes.)</string>
			<key>label</key>
			<string>Prompt</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>static_prompt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>20</string>
				<key>pairs</key>
				<array>
					<array>
						<string>small</string>
						<string>12</string>
					</array>
					<array>
						<string>medium</string>
						<string>20</string>
					</array>
					<array>
						<string>large</string>
						<string>30</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Rephraser: Output</string>
			<key>label</key>
			<string>Font Size</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>font_size</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>70</string>
				<key>placeholder</key>
				<string>70</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Spell Fixer / Synonymer: Adjust if results are not replaced correctly.</string>
			<key>label</key>
			<string>Delay in ms</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>delay_ms</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>de</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Spell Fixer: needs to be shortcode from `aspell`</string>
			<key>label</key>
			<string>2nd language</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>second_lang</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
