<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.sidenote-tweaks</string>
	<key>connections</key>
	<dict>
		<key>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3F89D51-C7EA-4A95-8477-B40256917808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14AE76BC-C491-4DEB-9D17-C01D141AB543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEBC5466-4576-4DA5-98A4-EF772D8A7198</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16C5F45A-DCED-4A89-B5C9-B04DE9261021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>460FA6C0-572A-4D6B-AAB7-8F1C72DBC4C0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open first URL (+ delete if note only has URL)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14AE76BC-C491-4DEB-9D17-C01D141AB543</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Delete Note</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Note Content</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EA57E38-BF7C-4655-8934-79F1FE5152B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71C0B192-0A89-41AF-BC76-029269AB4DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>92FBBE16-B8F4-44FF-BF20-3C5A24032D81</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26E98B85-F67B-478C-AB5E-20DAB43553A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA57E38-BF7C-4655-8934-79F1FE5152B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A299055-454F-491C-9538-B40EEB9C1ED4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>423D429B-827C-46B7-BA3A-D18CB38C3216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C78BA649-8069-4779-8E48-41410B4A7305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>460FA6C0-572A-4D6B-AAB7-8F1C72DBC4C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A299055-454F-491C-9538-B40EEB9C1ED4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5458B216-89A2-4ABD-A7EE-2DED81E7ACFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86B020A0-301E-455E-914F-2CD4BD23B385</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95F95EF4-4164-4FC1-B288-14C9051B21C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8499FF4E-79F4-45EB-B3B6-7B25914C723B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1952981-5610-42C6-967C-9728E176B587</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0D4A0E0-54A3-4239-B00B-59020FEE6F23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE46B865-D64A-42FA-8BF9-1E3899C093C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F48920EB-0BC1-49DF-BBDF-138021D053ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB3C2AF2-F4BD-4EE7-B2AB-ED20CCC756AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE5C9260-FAA1-4EA8-A54C-A3F35A1772CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16C5F45A-DCED-4A89-B5C9-B04DE9261021</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEBC5466-4576-4DA5-98A4-EF772D8A7198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D755A9A7-0954-4F6C-B2EB-7DCE0561E449</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FB369B3-370D-4F21-BC77-D64B743DFC09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FE4C0FD-B052-4444-9957-22B0EBCAED50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>61C445D6-9AC1-41A8-9DB9-BAEC1F7519E9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E04F33A9-4B0C-4DBA-B0E6-9949D0009CD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1952981-5610-42C6-967C-9728E176B587</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>660ACE51-61E1-4231-AB1E-78745ADC2616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8BC01C9-80ED-4B16-BC6E-03702A985178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F92BE4A2-0388-4F09-B807-9D4164C040E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB50A6E-97ED-4B8B-BF8C-CC62465A116B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SideNotes Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Sidenote snoozed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>660ACE51-61E1-4231-AB1E-78745ADC2616</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>snooze-sidenote.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>openurl close</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A0D4A0E0-54A3-4239-B00B-59020FEE6F23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>openurl-copy-delete-sidenote.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/lib:/usr/local/bin:/opt/homebrew/bin/:$PATH
sketchybar --trigger update-sidenote-count</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>delete</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>51</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>⌫</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB3C2AF2-F4BD-4EE7-B2AB-ED20CCC756AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>95F95EF4-4164-4FC1-B288-14C9051B21C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>copy delete close</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E8BC01C9-80ED-4B16-BC6E-03702A985178</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>sidenotes://open/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>460FA6C0-572A-4D6B-AAB7-8F1C72DBC4C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>openurl close</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2A299055-454F-491C-9538-B40EEB9C1ED4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>sidenotes://open/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>14AE76BC-C491-4DEB-9D17-C01D141AB543</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>delete close</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEBC5466-4576-4DA5-98A4-EF772D8A7198</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CE5C9260-FAA1-4EA8-A54C-A3F35A1772CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D3F89D51-C7EA-4A95-8477-B40256917808</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-sidenotes.js</string>
				<key>subtext</key>
				<string>Search for {query}</string>
				<key>title</key>
				<string>sn search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16C5F45A-DCED-4A89-B5C9-B04DE9261021</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>sidenotes://open/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2FE4C0FD-B052-4444-9957-22B0EBCAED50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^[A-Z0-9]{8}-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{12}$</string>
						<key>outputlabel</key>
						<string>is UUID</string>
						<key>uid</key>
						<string>61C445D6-9AC1-41A8-9DB9-BAEC1F7519E9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>new note</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>71C0B192-0A89-41AF-BC76-029269AB4DCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
					<string>com.apptorium.SideNotes-paddle</string>
					<string>com.vivaldi.Vivaldi</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>26E98B85-F67B-478C-AB5E-20DAB43553A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no sel</string>
						<key>uid</key>
						<string>92FBBE16-B8F4-44FF-BF20-3C5A24032D81</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>sel</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1EA57E38-BF7C-4655-8934-79F1FE5152B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>create-new-sidenote.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Sidenote created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.vivaldi.Vivaldi</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8499FF4E-79F4-45EB-B3B6-7B25914C723B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	return the URL of active tab of front windowend tell

-- funktioniert auch mit der Youtube Webapp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-url-from-browser.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1952981-5610-42C6-967C-9728E176B587</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Save in SideNotes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E04F33A9-4B0C-4DBA-B0E6-9949D0009CD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:theme</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading themes...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>select-sidenote-theme.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set SideNotes Theme</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE46B865-D64A-42FA-8BF9-1E3899C093C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>set-sidenote-theme.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F48920EB-0BC1-49DF-BBDF-138021D053ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>12189696</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>7FB369B3-370D-4F21-BC77-D64B743DFC09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D755A9A7-0954-4F6C-B2EB-7DCE0561E449</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↑</string>
				<key>keycode</key>
				<integer>126</integer>
				<key>keymod</key>
				<integer>12189696</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>86B020A0-301E-455E-914F-2CD4BD23B385</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5458B216-89A2-4ABD-A7EE-2DED81E7ACFB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F92BE4A2-0388-4F09-B807-9D4164C040E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>12058624</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>2BB50A6E-97ED-4B8B-BF8C-CC62465A116B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↑</string>
				<key>keycode</key>
				<integer>126</integer>
				<key>keymod</key>
				<integer>12058624</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C78BA649-8069-4779-8E48-41410B4A7305</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>423D429B-827C-46B7-BA3A-D18CB38C3216</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>14AE76BC-C491-4DEB-9D17-C01D141AB543</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open note, then pass "delete" to open it
(HACK since note cannot be deleted by ID)</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>16C5F45A-DCED-4A89-B5C9-B04DE9261021</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>search side notes</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>1EA57E38-BF7C-4655-8934-79F1FE5152B0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>26E98B85-F67B-478C-AB5E-20DAB43553A7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>create new note from selection</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>2A299055-454F-491C-9538-B40EEB9C1ED4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>pass "openurl close"</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>2BB50A6E-97ED-4B8B-BF8C-CC62465A116B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>2020</real>
		</dict>
		<key>2FE4C0FD-B052-4444-9957-22B0EBCAED50</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>423D429B-827C-46B7-BA3A-D18CB38C3216</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>move to note above</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2150</real>
		</dict>
		<key>460FA6C0-572A-4D6B-AAB7-8F1C72DBC4C0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open note, then pass "openURL" to open it
(HACK since note cannot be deleted by ID)</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>5458B216-89A2-4ABD-A7EE-2DED81E7ACFB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>move note up</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1890</real>
		</dict>
		<key>660ACE51-61E1-4231-AB1E-78745ADC2616</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>71C0B192-0A89-41AF-BC76-029269AB4DCB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>1155</real>
		</dict>
		<key>7FB369B3-370D-4F21-BC77-D64B743DFC09</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>1755</real>
		</dict>
		<key>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>8499FF4E-79F4-45EB-B3B6-7B25914C723B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1355</real>
		</dict>
		<key>86B020A0-301E-455E-914F-2CD4BD23B385</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>1890</real>
		</dict>
		<key>8A20019D-C824-4ACB-8917-F7347E7CEFD9</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>update sketchybar counter</string>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>95F95EF4-4164-4FC1-B288-14C9051B21C8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>only shown on failure or copy</string>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>A0D4A0E0-54A3-4239-B00B-59020FEE6F23</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>"openurl" also deletes the note if the note contains only an URL in the 1st/2nd line</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>openURL / copy / delete / close
current sidenote</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>BE46B865-D64A-42FA-8BF9-1E3899C093C2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1625</real>
		</dict>
		<key>C78BA649-8069-4779-8E48-41410B4A7305</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>2150</real>
		</dict>
		<key>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Snooze Sidenote</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>CB3C2AF2-F4BD-4EE7-B2AB-ED20CCC756AD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>CE5C9260-FAA1-4EA8-A54C-A3F35A1772CB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>CEBC5466-4576-4DA5-98A4-EF772D8A7198</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>pass "delete close"</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>D3F89D51-C7EA-4A95-8477-B40256917808</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>D755A9A7-0954-4F6C-B2EB-7DCE0561E449</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>move note down</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1755</real>
		</dict>
		<key>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>E04F33A9-4B0C-4DBA-B0E6-9949D0009CD7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1485</real>
		</dict>
		<key>E1952981-5610-42C6-967C-9728E176B587</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>get Browser URL</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>1355</real>
		</dict>
		<key>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>create reminder for next day for note</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>E8BC01C9-80ED-4B16-BC6E-03702A985178</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>create new sidenote (and close)</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>F48920EB-0BC1-49DF-BBDF-138021D053ED</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>1625</real>
		</dict>
		<key>F92BE4A2-0388-4F09-B807-9D4164C040E8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>move to note below</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2020</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Base</string>
				<key>placeholder</key>
				<string>Base</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Folder for new Notes</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>new_note_folder</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
