<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.shimmering-sidenotes</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3F89D51-C7EA-4A95-8477-B40256917808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D892222-53BF-48BA-BE59-AFBF81353E3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>771DD115-1E19-4CFC-AB74-649F9A758391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>167E1EEB-D60A-4551-94EB-F53DC9BE9725</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1952981-5610-42C6-967C-9728E176B587</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02A8138C-B11B-4A71-BBC5-422F5C43A8D0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1952981-5610-42C6-967C-9728E176B587</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>20C14D1D-7C29-411D-B1C4-0748C8B6E6AF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1952981-5610-42C6-967C-9728E176B587</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F0D7A81E-E2BF-4692-AE88-05F7D6110593</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71C0B192-0A89-41AF-BC76-029269AB4DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>68CDCF97-F1F0-447D-9B01-8DDDF01FE0C3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16C5F45A-DCED-4A89-B5C9-B04DE9261021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEBC5466-4576-4DA5-98A4-EF772D8A7198</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Archive Note</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2A299055-454F-491C-9538-B40EEB9C1ED4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open first URL (+ delete if note only has URL)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Note Content</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18552FF2-4A94-4CFA-9B07-8BE1450328F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A299055-454F-491C-9538-B40EEB9C1ED4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A299055-454F-491C-9538-B40EEB9C1ED4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E1859F5-1C06-4E8A-9414-80AC822B0D22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97F81C60-323D-4EA2-9E3C-E737806D428E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>624976E3-5F1B-4FA4-BFBE-A6BF09FB8D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E30B300-F04E-4E9B-BA84-9D3D09B012D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>660ACE51-61E1-4231-AB1E-78745ADC2616</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71C0B192-0A89-41AF-BC76-029269AB4DCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F4E0E09-3CE4-47C5-8B25-768B18A5E1BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>771DD115-1E19-4CFC-AB74-649F9A758391</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77E50339-2F7F-49F6-8E05-99B0118186A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>660ACE51-61E1-4231-AB1E-78745ADC2616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F95EF4-4164-4FC1-B288-14C9051B21C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F95EF4-4164-4FC1-B288-14C9051B21C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97F81C60-323D-4EA2-9E3C-E737806D428E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0D4A0E0-54A3-4239-B00B-59020FEE6F23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>167E1EEB-D60A-4551-94EB-F53DC9BE9725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB3C2AF2-F4BD-4EE7-B2AB-ED20CCC756AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>771DD115-1E19-4CFC-AB74-649F9A758391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEBC5466-4576-4DA5-98A4-EF772D8A7198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FE4C0FD-B052-4444-9957-22B0EBCAED50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>61C445D6-9AC1-41A8-9DB9-BAEC1F7519E9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E04F33A9-4B0C-4DBA-B0E6-9949D0009CD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1952981-5610-42C6-967C-9728E176B587</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77E50339-2F7F-49F6-8E05-99B0118186A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8BC01C9-80ED-4B16-BC6E-03702A985178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>771DD115-1E19-4CFC-AB74-649F9A758391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shimmering SideNotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>Space</string>
				<key>keycode</key>
				<integer>49</integer>
				<key>keymod</key>
				<integer>524288</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>1E30B300-F04E-4E9B-BA84-9D3D09B012D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>624976E3-5F1B-4FA4-BFBE-A6BF09FB8D70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split2}</string>
				<key>title</key>
				<string>{var:split1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>660ACE51-61E1-4231-AB1E-78745ADC2616</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>snooze-sidenote.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>77E50339-2F7F-49F6-8E05-99B0118186A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>export archive</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0D892222-53BF-48BA-BE59-AFBF81353E3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>archive</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>51</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>⌫</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB3C2AF2-F4BD-4EE7-B2AB-ED20CCC756AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>95F95EF4-4164-4FC1-B288-14C9051B21C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>actions-on-sidenote.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/lib:/usr/local/bin:/opt/homebrew/bin/:$PATH
sleep 0.5
sketchybar --trigger update-sidenotes-count
sleep 2
sketchybar --trigger update-sidenotes-count</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A20019D-C824-4ACB-8917-F7347E7CEFD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>openurl close</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>note_id</key>
					<string>current</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>771DD115-1E19-4CFC-AB74-649F9A758391</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>archive</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>note_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEBC5466-4576-4DA5-98A4-EF772D8A7198</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>copy archive</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E8BC01C9-80ED-4B16-BC6E-03702A985178</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>openurl close</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>note_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2A299055-454F-491C-9538-B40EEB9C1ED4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D3F89D51-C7EA-4A95-8477-B40256917808</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>,</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-sidenotes.js</string>
				<key>subtext</key>
				<string>Search for {query}</string>
				<key>title</key>
				<string>SideNotes Search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16C5F45A-DCED-4A89-B5C9-B04DE9261021</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>sidenotes://open/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2FE4C0FD-B052-4444-9957-22B0EBCAED50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^[A-Z0-9]{8}-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{12}$</string>
						<key>outputlabel</key>
						<string>is UUID</string>
						<key>uid</key>
						<string>61C445D6-9AC1-41A8-9DB9-BAEC1F7519E9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>new note</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>current</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>18552FF2-4A94-4CFA-9B07-8BE1450328F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	return the URL of active tab of front windowend tell

-- funktioniert auch mit der Youtube Webapp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-url-from-browser.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1952981-5610-42C6-967C-9728E176B587</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.Safari</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>F0D7A81E-E2BF-4692-AE88-05F7D6110593</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.vivaldi.Vivaldi</string>
						<key>outputlabel</key>
						<string>Vivaldi</string>
						<key>uid</key>
						<string>02A8138C-B11B-4A71-BBC5-422F5C43A8D0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.brave.Browser</string>
						<key>outputlabel</key>
						<string>Brave</string>
						<key>uid</key>
						<string>20C14D1D-7C29-411D-B1C4-0748C8B6E6AF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>other: no sel</string>
						<key>uid</key>
						<string>68CDCF97-F1F0-447D-9B01-8DDDF01FE0C3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other: sel</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>167E1EEB-D60A-4551-94EB-F53DC9BE9725</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apptorium.SideNotes-paddle</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A0D4A0E0-54A3-4239-B00B-59020FEE6F23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>0F4E0E09-3CE4-47C5-8B25-768B18A5E1BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>71C0B192-0A89-41AF-BC76-029269AB4DCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Save in SideNotes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E04F33A9-4B0C-4DBA-B0E6-9949D0009CD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>create-new-sidenote.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Sidenote created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge8043a</string>
					<string>public.plain-text</string>
				</array>
				<key>name</key>
				<string>Save File Content in SideNotes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3E1859F5-1C06-4E8A-9414-80AC822B0D22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>97F81C60-323D-4EA2-9E3C-E737806D428E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0C66F7DF-2BA1-45C6-BF46-E339586EB9DE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>0D892222-53BF-48BA-BE59-AFBF81353E3B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>export + archive current</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>0F4E0E09-3CE4-47C5-8B25-768B18A5E1BE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>1043E7E2-CA81-4CDA-980D-0F40366BE6D7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1400</real>
		</dict>
		<key>167E1EEB-D60A-4551-94EB-F53DC9BE9725</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>1175</real>
		</dict>
		<key>16C5F45A-DCED-4A89-B5C9-B04DE9261021</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>search side notes</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>855</real>
		</dict>
		<key>18552FF2-4A94-4CFA-9B07-8BE1450328F6</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>separate hotkey, since retrieving selection triggers unnecessary error sound</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>1E30B300-F04E-4E9B-BA84-9D3D09B012D3</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2A299055-454F-491C-9538-B40EEB9C1ED4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>pass "openurl close"</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>2FE4C0FD-B052-4444-9957-22B0EBCAED50</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open sidenote</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>3E1859F5-1C06-4E8A-9414-80AC822B0D22</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>624976E3-5F1B-4FA4-BFBE-A6BF09FB8D70</key>
		<dict>
			<key>note</key>
			<string>open SideNotes</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>660ACE51-61E1-4231-AB1E-78745ADC2616</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>71C0B192-0A89-41AF-BC76-029269AB4DCB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>771DD115-1E19-4CFC-AB74-649F9A758391</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>set current note, pass actions</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>77E50339-2F7F-49F6-8E05-99B0118186A7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8490AB75-2159-4B22-BD85-E5DCFF9E1E91</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8A20019D-C824-4ACB-8917-F7347E7CEFD9</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>update sketchybar counter</string>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>95F95EF4-4164-4FC1-B288-14C9051B21C8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>only shown on failure or copy</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>97F81C60-323D-4EA2-9E3C-E737806D428E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>A0D4A0E0-54A3-4239-B00B-59020FEE6F23</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>"openurl" also deletes the note if the note contains only an URL in the 1st/2nd line</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>1200</real>
		</dict>
		<key>ABB91EC7-FCFC-4AB8-B78D-F025720B37C3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>actions on current note</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>C966C7DA-C789-4049-8E5E-B99EF62FEF9D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Snooze Sidenote</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CB3C2AF2-F4BD-4EE7-B2AB-ED20CCC756AD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>archive current</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>CEBC5466-4576-4DA5-98A4-EF772D8A7198</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>pass "archive"</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>D3F89D51-C7EA-4A95-8477-B40256917808</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>DB7EDFF2-EF29-4EDB-9ED7-368149133A05</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>E04F33A9-4B0C-4DBA-B0E6-9949D0009CD7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>1385</real>
		</dict>
		<key>E1952981-5610-42C6-967C-9728E176B587</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>get Browser URL</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>E57A7B6A-5A92-4CC4-8500-F2C258FCAB66</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>create reminder for next day for note</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>E8BC01C9-80ED-4B16-BC6E-03702A985178</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy + archive current</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>F19C4506-3DAA-49C0-BC94-8BF2DB1718E5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>create new sidenote (and close)</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>1400</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Base</string>
				<key>placeholder</key>
				<string>Default</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>for new notes</string>
			<key>label</key>
			<string>base folder</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>base_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Shopping</string>
				<key>placeholder</key>
				<string>shopping list</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>folder to ignore in search, e.g. a shopping lists</string>
			<key>label</key>
			<string>ignore folder</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ignored_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Desktop</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Export Destination</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>export_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Documents/SideNotes</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Archive Location</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>archive_location</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
