<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.tot</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>171481C4-C600-4B58-8D5A-D0575E5EE9AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5998C8C-695A-4A5C-B99D-391E1E73A978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB0E4D69-62CC-406D-8229-0E6B10CEEFCE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>778D7E9A-C113-4942-BC74-276C19AF6F0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DBCAC53-D043-40E5-8BC7-17331F0676DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E08FF65-F031-447F-B9F6-47F8F507D79B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E08FF65-F031-447F-B9F6-47F8F507D79B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5B2FECD-F5C9-405C-9595-34A812172444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49540ED2-DEDB-41DB-BF6B-FED0EB398A81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9823AB02-76C7-4449-9650-B778A002121E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Append to Tot</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>171481C4-C600-4B58-8D5A-D0575E5EE9AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Tot</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DE6C12A-AD83-445A-BE00-709A9B916DFB</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Delete Tot</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778D7E9A-C113-4942-BC74-276C19AF6F0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9823AB02-76C7-4449-9650-B778A002121E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA1AE9E7-13F5-4739-8D9E-647138BA4E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A57A67B5-BE58-4F12-91BF-B731B3EEEB75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E08FF65-F031-447F-B9F6-47F8F507D79B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5998C8C-695A-4A5C-B99D-391E1E73A978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5342914-4BDB-4980-9BE8-1FBBE8FFC082</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5B2FECD-F5C9-405C-9595-34A812172444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75635E54-B997-49F2-8E90-9EE10283A669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DAC3E3E8-676A-424E-9B1A-33408AA272C9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A5614C3-8944-4C7D-89FD-18313D7209F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA1AE9E7-13F5-4739-8D9E-647138BA4E87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5342914-4BDB-4980-9BE8-1FBBE8FFC082</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Tot.app Integration for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>to Dot #{var:dot}</string>
				<key>text</key>
				<string>Append: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9823AB02-76C7-4449-9650-B778A002121E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>
{var:append_prefix}{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EA1AE9E7-13F5-4739-8D9E-647138BA4E87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tot://{var:dot}/append?text={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F5342914-4BDB-4980-9BE8-1FBBE8FFC082</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5998C8C-695A-4A5C-B99D-391E1E73A978</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:regular_keyword}||{var:show_all_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/tot-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49540ED2-DEDB-41DB-BF6B-FED0EB398A81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>BB0E4D69-62CC-406D-8229-0E6B10CEEFCE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>171481C4-C600-4B58-8D5A-D0575E5EE9AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tot://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>778D7E9A-C113-4942-BC74-276C19AF6F0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tot://{query}/append?text=</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8DE6C12A-AD83-445A-BE00-709A9B916DFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:quicksave_keyword}</string>
				<key>subtext</key>
				<string>to Dot #{var:quicksave_dot}</string>
				<key>text</key>
				<string>Append {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A57A67B5-BE58-4F12-91BF-B731B3EEEB75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Appended to Dot #{var:quicksave_dot}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75635E54-B997-49F2-8E90-9EE10283A669</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.iconfactory.Tot</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3DBCAC53-D043-40E5-8BC7-17331F0676DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	return the URL of active tab of front windowend tell

-- funktioniert auch mit der Youtube Webapp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/quicksave-to-tot.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E08FF65-F031-447F-B9F6-47F8F507D79B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\S</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>DAC3E3E8-676A-424E-9B1A-33408AA272C9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no sel</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D5B2FECD-F5C9-405C-9595-34A812172444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No text to append.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A5614C3-8944-4C7D-89FD-18313D7209F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Access your Dots via the keyword `tot`. (You can also use `tot+` to include your empty Dots.)
	* &lt;kbd&gt;⏎&lt;/kbd&gt; Open the Dot.
	* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; Append to the Dot.
	* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; Copy the contents of the Dot.
	* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; Delete the Dot.
- Quickly append to a pre-selected Dot via the keyword `qq`. Use
- Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) to append the current browser tab and/or selected text.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>171481C4-C600-4B58-8D5A-D0575E5EE9AA</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>empty</string>
			<key>xpos</key>
			<real>326</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>3DBCAC53-D043-40E5-8BC7-17331F0676DA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Quick Save</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>3E08FF65-F031-447F-B9F6-47F8F507D79B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>49540ED2-DEDB-41DB-BF6B-FED0EB398A81</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>show tots</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>4A5614C3-8944-4C7D-89FD-18313D7209F2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>75635E54-B997-49F2-8E90-9EE10283A669</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>778D7E9A-C113-4942-BC74-276C19AF6F0F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>8DE6C12A-AD83-445A-BE00-709A9B916DFB</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>delete</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>9823AB02-76C7-4449-9650-B778A002121E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A57A67B5-BE58-4F12-91BF-B731B3EEEB75</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>C5998C8C-695A-4A5C-B99D-391E1E73A978</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D5B2FECD-F5C9-405C-9595-34A812172444</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>EA1AE9E7-13F5-4739-8D9E-647138BA4E87</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>insert line break &amp; prefix</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>F5342914-4BDB-4980-9BE8-1FBBE8FFC082</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>append</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tot</string>
				<key>placeholder</key>
				<string>tot</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Shows all active tots.</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>regular_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tot+</string>
				<key>placeholder</key>
				<string>tot+</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Shows all tots, including empty ones.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>show_all_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qq</string>
				<key>placeholder</key>
				<string>qq</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Quick Append</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>quicksave_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>1</string>
						<string>1</string>
					</array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
					<array>
						<string>5</string>
						<string>5</string>
					</array>
					<array>
						<string>6</string>
						<string>6</string>
					</array>
					<array>
						<string>7</string>
						<string>7</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>The dot where quick-saved content will be appended to.</string>
			<key>label</key>
			<string>Quick Append Dot</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>quicksave_dot</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>-</string>
				<key>placeholder</key>
				<string>-</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string>The prefix is added when appending via quick save or via the tot search.</string>
			<key>label</key>
			<string>Append Prefix</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>append_prefix</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>🟡,🟠,🔴,🟣,🔵,⚪,🟢</string>
				<key>placeholder</key>
				<string>🟡,🟠,🔴,🟣,🔵,⚪,🟢</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>If you changed your tot theme, you can specify a comma-separated list of 7 emojis used to indicate your custom tot colors.</string>
			<key>label</key>
			<string>Tot colors</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>tot_icons</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
