<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>append_prefix</key>
	<string>– </string>
	<key>include_empty_dots</key>
	<true/>
	<key>keyword</key>
	<string>,,</string>
	<key>quicksave_keyword</key>
	<string>,</string>
	<key>tot_icons</key>
	<string>🔵,🟠,🔴,🟣,🟡,⚪,🟢</string>
</dict>
</plist>
