<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.homebrew</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>0BAF56E8-B65A-478A-B848-F09FFE73A12B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2468D124-88C6-438D-B2C6-627ADEEEC31D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: brew home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89F35AB8-AC54-4BB2-B884-9B206671D5AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A98EAA76-0074-4CAD-9A09-48949FC126DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD40AB53-70F2-460D-BF34-1DF77F46FB38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE590292-EEA5-4025-A89B-42AE38188503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDA21286-4E28-4304-A9DB-0BA74AB2C370</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>More convenient brewing with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Homebrew</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/build-brew-list.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew install '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew install {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>EDA21286-4E28-4304-A9DB-0BA74AB2C370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/brew-fonts.js</string>
				<key>subtext</key>
				<string>homebrew-cask-fonts</string>
				<key>title</key>
				<string>&gt; brew install '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD40AB53-70F2-460D-BF34-1DF77F46FB38</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2468D124-88C6-438D-B2C6-627ADEEEC31D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew reinstall {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A98EAA76-0074-4CAD-9A09-48949FC126DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>br</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/brew-list-installed.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew reinstall '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE590292-EEA5-4025-A89B-42AE38188503</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.app$</string>
						<key>outputlabel</key>
						<string>AppCleaner</string>
						<key>uid</key>
						<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>homebrew</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>brew uninstall --zap {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bu</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/brew-list-installed.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&gt; brew uninstall '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0BAF56E8-B65A-478A-B848-F09FFE73A12B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.app$</string>
						<key>outputlabel</key>
						<string>AppCleaner</string>
						<key>uid</key>
						<string>754F2E4D-3974-4DCD-9218-D82A0014576A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>homebrew</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/AppCleaner.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>802369B2-358A-46C9-9516-940B8E3E7940</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>89F35AB8-AC54-4BB2-B884-9B206671D5AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Requirements
- [Homebrew](https://brew.sh/)

# Info: Update
The list of available formulae and casks is updated whenever you run `brew update` in the terminal. (The update frequency is also controlled via the environment variable `export HOMEBREW_NO_AUTO_UPDATE=0`.) Therefore, the shown list is always in sync with what formulae and casks you can find via local `brew` commands.

---

Created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>uidata</key>
	<dict>
		<key>0BAF56E8-B65A-478A-B848-F09FFE73A12B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>brew uninstall --zap</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>0F3F996A-3FC8-4FBD-990C-9D54C43DD642</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>2468D124-88C6-438D-B2C6-627ADEEEC31D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>72B78E7D-69B1-4E83-AB9B-26507DE2C33E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>72D18DBC-72FF-40AA-B367-D4C148AEC3A6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>install</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>802369B2-358A-46C9-9516-940B8E3E7940</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>89F35AB8-AC54-4BB2-B884-9B206671D5AE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>8E20F8A9-6C70-4ADF-81BA-8BE2BEF4241E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>A98EAA76-0074-4CAD-9A09-48949FC126DB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>CD40AB53-70F2-460D-BF34-1DF77F46FB38</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>install from homebrew-cask-fonts</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CE590292-EEA5-4025-A89B-42AE38188503</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>brew reinstall</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>EDA21286-4E28-4304-A9DB-0BA74AB2C370</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>brew install</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
