<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.system-information</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0B68B413-2CC1-45E8-8686-2C0AE399E78F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5DEE33A-20D7-44FD-8483-3CDE56816C5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F55C68E-C6D6-4629-B28B-1E323E3CC867</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E7254FB-7761-400D-887B-162AB242F68E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BF4A116-C3FE-4B51-BFF9-65DE98E2EAD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>187E13C3-653C-4262-824A-E35980C72EB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E5C7739-FB9C-46E5-A243-07276231C025</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB2F5986-5780-4ECC-8C49-D8419A5725C2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy path of sound file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C142833-437A-43E8-82C9-88D1217CBDB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D62A4D91-2A1E-4195-A191-BE059269289C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43E5DA64-2A89-4571-A4EB-54CAF43E0792</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0F6F797-B581-4923-B4DA-A0F0A2D0C0CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C96F5EA-C030-4D6F-8EE5-4343140AE71A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F55C68E-C6D6-4629-B28B-1E323E3CC867</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CCE0D85-1112-4445-9282-F834D4C265B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B65E17C9-5DA8-4C46-BE52-2150F4FD7843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA5C04E1-1B2F-4CEA-8B5D-6E4E4ECD0D8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C96F5EA-C030-4D6F-8EE5-4343140AE71A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB2F5986-5780-4ECC-8C49-D8419A5725C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>498C4B4D-70F1-475C-9A07-0FF4539E1971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0D44BD2-FD8D-4010-ACEF-CA1859174163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C74E8D1D-FCE2-4350-A77D-526F9FBEFA4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E41FC709-455B-4D8A-A701-5171B6DC4EE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A30DCD-3F5B-4D29-9677-EB0B153B7759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB6A9A4A-D8A5-428C-8C71-223732BDCFAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>135DC306-2F40-46D4-905B-13FAECDB5FE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>8</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>7E7254FB-7761-400D-887B-162AB242F68E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>application support</string>
				<key>subtext</key>
				<string>~/Library/Application Support</string>
				<key>text</key>
				<string>Application Support</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0D44BD2-FD8D-4010-ACEF-CA1859174163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/dotfiles/

filesChanged="$(git status --porcelain | wc -l | tr -d ' ')"
if [[ -n "$filesChanged" ]] ; then
	echo "📴 pre-shutdown-sync" &gt;&gt; ~"/dotfiles/Cron Jobs/sync.log"
	zsh ~/dotfiles/git-dotfile-sync.sh
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pre-shutdown.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C96F5EA-C030-4D6F-8EE5-4343140AE71A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string>run dotfiles &amp; vault sync before</string>
				<key>text</key>
				<string>Shutdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA5C04E1-1B2F-4CEA-8B5D-6E4E4ECD0D8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C74E8D1D-FCE2-4350-A77D-526F9FBEFA4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>0AFB82C2-9EEE-4164-A0EF-F87F65EE719F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0F55C68E-C6D6-4629-B28B-1E323E3CC867</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A0F6F797-B581-4923-B4DA-A0F0A2D0C0CD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>library</string>
				<key>subtext</key>
				<string>~/Library/</string>
				<key>text</key>
				<string>Library</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43E5DA64-2A89-4571-A4EB-54CAF43E0792</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ Sync Issue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6BF4A116-C3FE-4B51-BFF9-65DE98E2EAD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(input, parameters) {

  const appNames = [];
  const skipAppNames = [];
  const verbose = true;

  const scriptName = "close_notifications_applescript";

  const CLEAR_ALL_ACTION = "Clear All";
  const CLEAR_ALL_ACTION_TOP = "Clear";
  const CLOSE_ACTION = "Close";

  const notNull = (val) =&gt; {
    return val !== null &amp;&amp; val !== undefined;
  };

  const isNull = (val) =&gt; {
    return !notNull(val);
  };

  const notNullOrEmpty = (val) =&gt; {
    return notNull(val) &amp;&amp; val.length &gt; 0;
  };

  const isNullOrEmpty = (val) =&gt; {
    return !notNullOrEmpty(val);
  };

  const isError = (maybeErr) =&gt; {
    return notNull(maybeErr) &amp;&amp; (maybeErr instanceof Error || maybeErr.message);
  };

  const systemVersion = () =&gt; {
    return Application("Finder").version().split(".").map(val =&gt; parseInt(val));
  };

  const systemVersionGreaterThanOrEqualTo = (vers) =&gt; {
    return systemVersion()[0] &gt;= vers;
  };

  const isBigSurOrGreater = () =&gt; {
    return systemVersionGreaterThanOrEqualTo(11);
  };

  const V11_OR_GREATER = isBigSurOrGreater();
  const V12 = systemVersion()[0] === 12;
  const APP_NAME_MATCHER_ROLE = V11_OR_GREATER ? "AXStaticText" : "AXImage";
  const hasAppNames = notNullOrEmpty(appNames);
  const hasSkipAppNames = notNullOrEmpty(skipAppNames);
  const hasAppNameFilters = hasAppNames || hasSkipAppNames;
  const appNameForLog = hasAppNames ? ` [${appNames.join(",")}]` : "";

  const logs = [];
  const log = (message, ...optionalParams) =&gt; {
    let message_with_prefix = `${new Date().toISOString().replace("Z", "").replace("T", " ")} [${scriptName}]${appNameForLog} ${message}`;
    console.log(message_with_prefix, optionalParams);
    logs.push(message_with_prefix);
  };

  const logError = (message, ...optionalParams) =&gt; {
    if (isError(message)) {
      let err = message;
      message = `${err}${err.stack ? (" " + err.stack) : ""}`;
    }
    log(`ERROR ${message}`, optionalParams);
  };

  const logErrorVerbose = (message, ...optionalParams) =&gt; {
    if (verbose) {
      logError(message, optionalParams);
    }
  };

  const logVerbose = (message) =&gt; {
    if (verbose) {
      log(message);
    }
  };

  const getLogLines = () =&gt; {
    return logs.join("\n");
  };

  const getSystemEvents = () =&gt; {
    let systemEvents = Application("System Events");
    systemEvents.includeStandardAdditions = true;
    return systemEvents;
  };

  const getNotificationCenter = () =&gt; {
    try {
      return getSystemEvents().processes.byName("NotificationCenter");
    } catch (err) {
      logError("Could not get NotificationCenter");
      throw err;
    }
  };

  const getNotificationCenterGroups = (retryOnError = false) =&gt; {
    try {
      let notificationCenter = getNotificationCenter();
      if (notificationCenter.windows.length &lt;= 0) {
        return [];
      }
      if (!V11_OR_GREATER) {
        return notificationCenter.windows();
      }
      if (V12) {
        return notificationCenter.windows[0].uiElements[0].uiElements[0].uiElements();
      }
      return notificationCenter.windows[0].uiElements[0].uiElements[0].uiElements[0].uiElements();
    } catch (err) {
      logError("Could not get NotificationCenter groups");
      if (retryOnError) {
        logError(err);
        log("Retrying getNotificationCenterGroups...");
        return getNotificationCenterGroups(false);
      } else {
        throw err;
      }
    }
  };

  const isClearButton = (description, name) =&gt; {
    return description === "button" &amp;&amp; name === CLEAR_ALL_ACTION_TOP;
  };

  const matchesAnyAppNames = (value, checkValues) =&gt; {
    if (isNullOrEmpty(checkValues)) {
      return false;
    }
    let lowerAppName = value.toLowerCase();
    for (let checkValue of checkValues) {
      if (lowerAppName === checkValue.toLowerCase()) {
        return true;
      }
    }
    return false;
  };

  const matchesAppName = (role, value) =&gt; {
    if (role !== APP_NAME_MATCHER_ROLE) {
      return false;
    }
    if (hasAppNames) {
      return matchesAnyAppNames(value, appNames);
    }
    return !matchesAnyAppNames(value, skipAppNames);
  };

  const notificationGroupMatches = (group) =&gt; {
    try {
      let description = group.description();
      if (V11_OR_GREATER &amp;&amp; isClearButton(description, group.name())) {
        return true;
      }
      if (V11_OR_GREATER &amp;&amp; description !== "group") {
        return false;
      }
      if (!V11_OR_GREATER) {
        let matchedAppName = !hasAppNameFilters;
        if (!matchedAppName) {
          for (let elem of group.uiElements()) {
            if (matchesAppName(elem.role(), elem.description())) {
              matchedAppName = true;
              break;
            }
          }
        }
        if (matchedAppName) {
          return notNull(findCloseActionV10(group, -1));
        }
        return false;
      }
      if (!hasAppNameFilters) {
        return true;
      }
      let firstElem = group.uiElements[0];
      return matchesAppName(firstElem.role(), firstElem.value());
    } catch (err) {
      logErrorVerbose(`Caught error while checking window, window is probably closed: ${err}`);
      logErrorVerbose(err);
    }
    return false;
  };

  const findCloseActionV10 = (group, closedCount) =&gt; {
    try {
      for (let elem of group.uiElements()) {
        if (elem.role() === "AXButton" &amp;&amp; elem.title() === CLOSE_ACTION) {
          return elem.actions["AXPress"];
        }
      }
    } catch (err) {
      logErrorVerbose(`(group_${closedCount}) Caught error while searching for close action, window is probably closed: ${err}`);
      logErrorVerbose(err);
      return null;
    }
    log("No close action found for notification");
    return null;
  };

  const findCloseAction = (group, closedCount) =&gt; {
    try {
      if (!V11_OR_GREATER) {
        return findCloseActionV10(group, closedCount);
      }
      let checkForPress = isClearButton(group.description(), group.name());
      let clearAllAction;
      let closeAction;
      for (let action of group.actions()) {
        let description = action.description();
        if (description === CLEAR_ALL_ACTION) {
          clearAllAction = action;
          break;
        } else if (description === CLOSE_ACTION) {
          closeAction = action;
        } else if (checkForPress &amp;&amp; description === "press") {
          clearAllAction = action;
          break;
        }
      }
      if (notNull(clearAllAction)) {
        return clearAllAction;
      } else if (notNull(closeAction)) {
        return closeAction;
      }
    } catch (err) {
      logErrorVerbose(`(group_${closedCount}) Caught error while searching for close action, window is probably closed: ${err}`);
      logErrorVerbose(err);
      return null;
    }
    log("No close action found for notification");
    return null;
  };

  const closeNextGroup = (groups, closedCount) =&gt; {
    try {
      for (let group of groups) {
        if (notificationGroupMatches(group)) {
          let closeAction = findCloseAction(group, closedCount);

          if (notNull(closeAction)) {
            try {
              closeAction.perform();
              return [true, 1];
            } catch (err) {
              logErrorVerbose(`(group_${closedCount}) Caught error while performing close action, window is probably closed: ${err}`);
              logErrorVerbose(err);
            }
          }
          return [true, 0];
        }
      }
      return false;
    } catch (err) {
      logError("Could not run closeNextGroup");
      throw err;
    }
  };

  try {
    let groupsCount = getNotificationCenterGroups(true).filter(group =&gt; notificationGroupMatches(group)).length;

    if (groupsCount &gt; 0) {
      logVerbose(`Closing ${groupsCount}${appNameForLog} notification group${(groupsCount &gt; 1 ? "s" : "")}`);

      let startTime = new Date().getTime();
      let closedCount = 0;
      let maybeMore = true;
      let maxAttempts = 2;
      let attempts = 1;
      while (maybeMore &amp;&amp; ((new Date().getTime() - startTime) &lt;= (1000 * 30))) {
        try {
          let closeResult = closeNextGroup(getNotificationCenterGroups(), closedCount);
          maybeMore = closeResult[0];
          if (maybeMore) {
            closedCount = closedCount + closeResult[1];
          }
        } catch (innerErr) {
          if (maybeMore &amp;&amp; closedCount === 0 &amp;&amp; attempts &lt; maxAttempts) {
            log(`Caught an error before anything closed, trying ${maxAttempts - attempts} more time(s).`)
            attempts++;
          } else {
            throw innerErr;
          }
        }
      }
    } else {
      throw Error(`No${appNameForLog} notifications found...`);
    }
  } catch (err) {
    logError(err);
    logError(err.message);
    getLogLines();
    throw err;
  }

  return getLogLines();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dismiss-notification.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>135DC306-2F40-46D4-905B-13FAECDB5FE4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FB6A9A4A-D8A5-428C-8C71-223732BDCFAD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Preferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>93A30DCD-3F5B-4D29-9677-EB0B153B7759</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>preferences</string>
				<key>subtext</key>
				<string>~/Library/Preferences</string>
				<key>text</key>
				<string>Preferences</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E41FC709-455B-4D8A-A701-5171B6DC4EE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-rain.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B65E17C9-5DA8-4C46-BE52-2150F4FD7843</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rain</string>
				<key>subtext</key>
				<string>lo-rain</string>
				<key>text</key>
				<string>Toggle Rain</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CCE0D85-1112-4445-9282-F834D4C265B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred cache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1C142833-437A-43E8-82C9-88D1217CBDB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Caches/com.runningwithcrayons.Alfred/Workflow Data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D62A4D91-2A1E-4195-A191-BE059269289C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sound</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sounds preview.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Preview macOS System Sounds</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>187E13C3-653C-4262-824A-E35980C72EB0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>afplay "$1" &amp;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E5C7739-FB9C-46E5-A243-07276231C025</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support/Alfred/Workflow Data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B5DEE33A-20D7-44FD-8483-3CDE56816C5D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0B68B413-2CC1-45E8-8686-2C0AE399E78F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AB2F5986-5780-4ECC-8C49-D8419A5725C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>498C4B4D-70F1-475C-9A07-0FF4539E1971</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B68B413-2CC1-45E8-8686-2C0AE399E78F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>0F55C68E-C6D6-4629-B28B-1E323E3CC867</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>135DC306-2F40-46D4-905B-13FAECDB5FE4</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>187E13C3-653C-4262-824A-E35980C72EB0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>1C142833-437A-43E8-82C9-88D1217CBDB9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>2E5C7739-FB9C-46E5-A243-07276231C025</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>afplay</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>43E5DA64-2A89-4571-A4EB-54CAF43E0792</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>498C4B4D-70F1-475C-9A07-0FF4539E1971</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>4C96F5EA-C030-4D6F-8EE5-4343140AE71A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>6BF4A116-C3FE-4B51-BFF9-65DE98E2EAD1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>6CCE0D85-1112-4445-9282-F834D4C265B1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>toggle lo-rain</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>7E7254FB-7761-400D-887B-162AB242F68E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>will ask for confirmation</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>93A30DCD-3F5B-4D29-9677-EB0B153B7759</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A0F6F797-B581-4923-B4DA-A0F0A2D0C0CD</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>AA5C04E1-1B2F-4CEA-8B5D-6E4E4ECD0D8B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>ensuring git repos synced before</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>AB2F5986-5780-4ECC-8C49-D8419A5725C2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>B5DEE33A-20D7-44FD-8483-3CDE56816C5D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>B65E17C9-5DA8-4C46-BE52-2150F4FD7843</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>C74E8D1D-FCE2-4350-A77D-526F9FBEFA4D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D62A4D91-2A1E-4195-A191-BE059269289C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>E0D44BD2-FD8D-4010-ACEF-CA1859174163</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>E41FC709-455B-4D8A-A701-5171B6DC4EE4</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>FB6A9A4A-D8A5-428C-8C71-223732BDCFAD</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>dismiss notifications</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>chris-grieser.de</string>
</dict>
</plist>
