<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.sublime</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>2D2FF3DD-7D9E-4619-B2F5-CEE2775BC460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BFAF32E-D632-4159-9A02-EB21FC2E4E88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>304A4BD1-2865-49EE-8F2B-E75BF1E72E55</key>
		<array/>
		<key>48DA5080-9765-4B60-BAC6-44BBBA7F83E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F802A1F3-262C-4738-AFF7-DDE34474EE0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67F611D4-A5E9-451E-AFEE-59046947524A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>929B6B55-BD09-43B3-AFC4-C5B0ED80906C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A64ED91-B242-40F9-A1FF-325B90785D5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D232E539-5F7D-4AE8-835D-D05830D7CF26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>735D4356-02CF-4542-84F6-63C6764B2784</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A64ED91-B242-40F9-A1FF-325B90785D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>929B6B55-BD09-43B3-AFC4-C5B0ED80906C</key>
		<array/>
		<key>93D77E92-BC96-4F37-9A4F-A167E19BBEC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>304A4BD1-2865-49EE-8F2B-E75BF1E72E55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B4CA975-804B-4188-B9E6-71572AB94B68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E258BEA-2CAC-460B-8345-A1499C2F8ED1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D232E539-5F7D-4AE8-835D-D05830D7CF26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93D77E92-BC96-4F37-9A4F-A167E19BBEC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3E2A726-59B9-4BE2-9CF6-986CE14F324C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>929B6B55-BD09-43B3-AFC4-C5B0ED80906C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4E8E541-5A1B-449B-ADFE-97C614A4E4B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E76E7C83-2FA4-46C1-8648-98FC60D72055</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E76E7C83-2FA4-46C1-8648-98FC60D72055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E187D0D2-F43F-4B2E-9413-82949A8FD689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sublime Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D3E2A726-59B9-4BE2-9CF6-986CE14F324C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>l</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E76E7C83-2FA4-46C1-8648-98FC60D72055</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>open-at-github</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>de.chris-grieser.github</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E187D0D2-F43F-4B2E-9413-82949A8FD689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.sublimetext.4</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D4E8E541-5A1B-449B-ADFE-97C614A4E4B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH

query="$*"

subl "$query"

# if directory, then show sidebar
# and hide tabbar
if [[ -d "$query" ]] ; then
	osascript -e 'tell application "System Events"
	tell process "Sublime Text"
		set frontmost to true
		click menu item "Show Side Bar" of menu of menu item "Side Bar" of menu "View" of menu bar 1
				click menu item "Show Side Bar" of menu of menu item "Side Bar" of menu "View" of menu bar 1

	end tell
end tell' || echo ''
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-in-subl.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>929B6B55-BD09-43B3-AFC4-C5B0ED80906C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.applescript.script</string>
					<string>com.apple.web-internet-location</string>
					<string>com.netscape.javascript-source</string>
					<string>net.daringfireball.markdown</string>
					<string>public.folder</string>
					<string>public.plain-text</string>
					<string>public.shell-script</string>
					<string>public.unix-executable</string>
				</array>
				<key>name</key>
				<string>Open with Sublime Text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>67F611D4-A5E9-451E-AFEE-59046947524A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>current-or-default-finder-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D232E539-5F7D-4AE8-835D-D05830D7CF26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set filetype to (system attribute "filetype")
set content to "{query}"

-- resolve home folder
set working_folder to do shell script "echo " &amp; quoted form of (system attribute "working_folder") &amp; " | iconv -f UTF-8-MAC -t MACROMAN"set AppleScript's text item delimiters to "~/"set theTextItems to every text item of working_folderset AppleScript's text item delimiters to (POSIX path of (path to home folder as string))set resolved_path to theTextItems as string

-- prepend certain shebangs
if (filetype is "js") then 
	set content to "#!/usr/bin/env osascript -l JavaScript" &amp;  "\n" &amp; content
else if (filetype is "applescript")
	set content to "#!/usr/bin/env osascript" &amp;  "\n" &amp; content
else if (filetype is "sh")
	set content to "#!/bin/zsh" &amp;  "\n" &amp; content 
end if

-- generate random name
set filename to ((random number from 100000 to 999999) as text)

-- create document
tell application "BBEdit"
	activate
	set newDoc to make new document
	set contents of newDoc to content
	set file2save to (resolved_path &amp; "/" &amp; filename &amp; "." &amp; filetype)
	save newDoc to file2save
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>new-text-document.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>304A4BD1-2865-49EE-8F2B-E75BF1E72E55</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sub</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># https://www.alfredapp.com/help/workflows/inputs/script-filter/json/
cat &lt;&lt; EOB
{"items": [
   {
      "title":"JavaScript",
      "arg":"js",
      "uid": "1",
      "match": "js javascript"
   },
   {
      "title":"XML",
      "arg":"xml",
      "uid": "2",
      "match": "xml"
   },
   {
      "title":"HTML",
      "arg":"html",
      "uid": "3"
   },
   {
      "title":"Markdown",
      "arg":"md",
      "uid": "4",
      "match": "markdown md text txt"
   },
   {
      "title":"AppleScript",
      "arg":"applescript",
      "uid": "5",
      "match": "applescript as"
   },
   {
      "title":"AppleScript",
      "arg":"se-applescript",
      "uid": "6",
      "match": "applescript as script editor",
	  "icon": { "path": "script-editor.png" }
   },
   {
      "title":"Shell Script",
      "arg":"sh",
      "uid": "7",
      "match": "bash zsh shell fish"
   },
   {
      "title":"Python",
      "arg":"py",
      "uid": "8"
   },
   {
      "title":"CSS",
      "arg":"css",
      "uid": "9"
   },
   {
      "title":"Plain Text",
      "arg":"txt",
      "uid": "10",
      "match": "plain text txt"
   },
   {
      "title":"Rich Text",
      "arg":"rtf",
      "uid": "12",
      "match": "rtf rich text",
      "icon": { "path": "textedit.png" }
   },
   {
      "title":"BibTeX",
      "arg":"bib",
      "uid": "13",
      "match": "bibtex latex tex bibdesk"
   },
    {
      "title":"JSON",
      "arg":"json",
      "uid": "14"
   },
   {
      "title":"Mermaid Markdown",
      "match":"mermaid markdown mmd gantt chart pie",
      "arg":"mmd",
      "uid": "15"
   },
   {
      "title":"CSV",
      "arg":"csv",
      "uid": "16"
   },
   {
      "title":"TypeScript",
      "arg":"ts",
      "uid": "16",
      "match": "ts typescript javascript"
   },
   {
      "title":"YAML",
      "arg":"yaml",
      "uid": "17",
	  "match": "yaml yml"
   },
   {
      "title":"plist",
      "arg":"plist",
      "uid": "18"
   }
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>with clipboard content</string>
				<key>title</key>
				<string>New File in Sublime Text</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>735D4356-02CF-4542-84F6-63C6764B2784</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>93D77E92-BC96-4F37-9A4F-A167E19BBEC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ext</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A64ED91-B242-40F9-A1FF-325B90785D5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:default</string>
				<key>subtext</key>
				<string>copy to working directory</string>
				<key>text</key>
				<string>⚙️ Sublime Default Package</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D2FF3DD-7D9E-4619-B2F5-CEE2775BC460</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>working_folder="${working_folder/#\~/$HOME}"

cd "$working_folder" || exit 1

cp "/Applications/Sublime Text.app/Contents/MacOS/Packages/Default.sublime-package" .
unzip Default.sublime-package -d ./Default\ Package/
rm Default.sublime-package

open -R ./Default\ Package/Default.sublime-commands</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BFAF32E-D632-4159-9A02-EB21FC2E4E88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:safe mode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Sublime in Safe Mode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B4CA975-804B-4188-B9E6-71572AB94B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" --safe-mode</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E258BEA-2CAC-460B-8345-A1499C2F8ED1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sublime-recent-files.js</string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>🕐 Sublime Recent Files</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>48DA5080-9765-4B60-BAC6-44BBBA7F83E4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F802A1F3-262C-4738-AFF7-DDE34474EE0E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>1BFAF32E-D632-4159-9A02-EB21FC2E4E88</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>2D2FF3DD-7D9E-4619-B2F5-CEE2775BC460</key>
		<dict>
			<key>note</key>
			<string>Default package folder</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>304A4BD1-2865-49EE-8F2B-E75BF1E72E55</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>create new file</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>48DA5080-9765-4B60-BAC6-44BBBA7F83E4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>67F611D4-A5E9-451E-AFEE-59046947524A</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>6A64ED91-B242-40F9-A1FF-325B90785D5F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>735D4356-02CF-4542-84F6-63C6764B2784</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>new Doc</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>8E258BEA-2CAC-460B-8345-A1499C2F8ED1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>929B6B55-BD09-43B3-AFC4-C5B0ED80906C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>open via subl CLI</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>93D77E92-BC96-4F37-9A4F-A167E19BBEC3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>9B4CA975-804B-4188-B9E6-71572AB94B68</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>D232E539-5F7D-4AE8-835D-D05830D7CF26</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>get Finder Window</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>D3E2A726-59B9-4BE2-9CF6-986CE14F324C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>open in Sublime</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>D4E8E541-5A1B-449B-ADFE-97C614A4E4B4</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Open History (GitHub Workflow)

Lazy implementation, yeah...</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>E187D0D2-F43F-4B2E-9413-82949A8FD689</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>E76E7C83-2FA4-46C1-8648-98FC60D72055</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>F802A1F3-262C-4738-AFF7-DDE34474EE0E</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>backup_destination</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/Sublime Backups/</string>
		<key>max_number_of_bkps</key>
		<string>10</string>
		<key>numberOfFilesToDisplay</key>
		<string>20</string>
		<key>working_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>max_number_of_bkps</string>
		<string>backup_destination</string>
		<string>working_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
