<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0EB9ED7D-4AE6-43BF-A788-F34C046B3732</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2EAECE1-704A-4ED1-AA7B-540C6CF7180B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15B1A722-85AB-4042-B9F7-B755D027674F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED6A3DB9-66DD-4E49-AD25-7BA15024C688</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Save</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71149DFC-88DE-4E74-9FDA-F9336F759485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6482C229-4C55-484D-9CB9-58E5729A34AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65E1B004-A584-4533-8D40-D1980841CCEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBE953E6-1671-4004-B196-F2811F5075A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9375BAAE-6771-40FC-9629-E1217F6566F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F779266-3F18-4010-AAE4-F87E6752D956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9375BAAE-6771-40FC-9629-E1217F6566F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2EAECE1-704A-4ED1-AA7B-540C6CF7180B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D9C765-9DED-45E2-B443-041E567AC1A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6482C229-4C55-484D-9CB9-58E5729A34AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBE953E6-1671-4004-B196-F2811F5075A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>616B2F83-4D1C-4DA1-A01C-30C535883083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED6A3DB9-66DD-4E49-AD25-7BA15024C688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71149DFC-88DE-4E74-9FDA-F9336F759485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dock &amp; Menu Bar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dock_switcher_path="${dock_switcher_path/#\~/$HOME}"

zsh "$dock_switcher_path" --load "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>71149DFC-88DE-4E74-9FDA-F9336F759485</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dock</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>load-dock-layout.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Load Dock Layout...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15B1A722-85AB-4042-B9F7-B755D027674F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dock_switcher_path="${dock_switcher_path/#\~/$HOME}"

zsh "$dock_switcher_path" --save "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED6A3DB9-66DD-4E49-AD25-7BA15024C688</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bar||restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️ Restart SketchyBar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0EB9ED7D-4AE6-43BF-A788-F34C046B3732</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>sketchybar</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A2EAECE1-704A-4ED1-AA7B-540C6CF7180B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>svim||restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗️ Restart SketchyVim</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65E1B004-A584-4533-8D40-D1980841CCEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>svim</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CBE953E6-1671-4004-B196-F2811F5075A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>616B2F83-4D1C-4DA1-A01C-30C535883083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>restart-app.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alttab||restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗Restart AltTab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F779266-3F18-4010-AAE4-F87E6752D956</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>AltTab</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9375BAAE-6771-40FC-9629-E1217F6566F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>espanso||restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❗Restart Espanso</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2D9C765-9DED-45E2-B443-041E567AC1A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Espanso</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6482C229-4C55-484D-9CB9-58E5729A34AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0EB9ED7D-4AE6-43BF-A788-F34C046B3732</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>15B1A722-85AB-4042-B9F7-B755D027674F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>save or load dock layout</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>616B2F83-4D1C-4DA1-A01C-30C535883083</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>6482C229-4C55-484D-9CB9-58E5729A34AD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>65E1B004-A584-4533-8D40-D1980841CCEF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>71149DFC-88DE-4E74-9FDA-F9336F759485</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9375BAAE-6771-40FC-9629-E1217F6566F6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>9F779266-3F18-4010-AAE4-F87E6752D956</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>A2EAECE1-704A-4ED1-AA7B-540C6CF7180B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>B2D9C765-9DED-45E2-B443-041E567AC1A9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>CBE953E6-1671-4004-B196-F2811F5075A9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>EA75797F-8E72-4BAB-A6A1-D14D63C822EE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>restart</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>ED6A3DB9-66DD-4E49-AD25-7BA15024C688</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/dotfiles/hammerspoon/helpers/dock-switching/dock-switcher.sh</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>/path/dock-switcher.sh</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>dock switcher script path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>dock_switcher_path</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
