<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Searches</string>
	<key>connections</key>
	<dict>
		<key>3E14D1C6-DD8A-482A-9341-1516B2609DB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33D3AB5-4E2F-4E08-A2D3-A63A1B3768ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>505B935F-3B3C-49BC-8DA3-77CD1E0BA04A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F2CC4BE-1C49-41D8-BC93-DEF34DEDBF31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>796AC1E3-A5E4-4461-9DB8-025B71D40421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056D6BA2-7779-4380-8986-66A791403D23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7692C8B-A314-4D01-ACB4-17A50F69D883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2F1411D-9E20-4EB9-82E0-BF23FFA94DCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C406653-F247-4FCA-92CB-4CD574370ADC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open Image instead</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCAD16ED-A17E-4512-8825-EE0157EDC36A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45B4059B-1853-410F-BB24-E77A2A662C4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0F090F5-22FD-43D8-810F-EC393D46A562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E25B4258-39D1-42A7-A857-3A0A5C34A78B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2F1411D-9E20-4EB9-82E0-BF23FFA94DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05EAE0AB-840D-44C9-B67B-2FF4B19D16D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF41F8B3-36C9-4A59-9336-A70B0FCA980C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1833CB9C-DCC9-4E71-8DF2-082ECEAF1D2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Image &amp; Movie Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.quicktime-movie</string>
					<string>public.mpeg-4</string>
				</array>
				<key>name</key>
				<string>Convert to .gif</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>CF41F8B3-36C9-4A59-9336-A70B0FCA980C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BCAD16ED-A17E-4512-8825-EE0157EDC36A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/Gifski.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1833CB9C-DCC9-4E71-8DF2-082ECEAF1D2B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/Pixelmator Pro.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>45B4059B-1853-410F-BB24-E77A2A662C4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.flash.video</string>
					<string>com.apple.quicktime-movie</string>
					<string>com.microsoft.windows-media-wmv</string>
					<string>public.avi</string>
					<string>public.mpeg-4</string>
				</array>
				<key>name</key>
				<string>Open in Quicktime</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3E14D1C6-DD8A-482A-9341-1516B2609DB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/QuickTime Player.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D33D3AB5-4E2F-4E08-A2D3-A63A1B3768ED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.pixelmatorteam.pixelmator.x</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>796AC1E3-A5E4-4461-9DB8-025B71D40421</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Pixelmator Pro"
		set frontmost to true
		click menu item "Export…" of menu "File" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>056D6BA2-7779-4380-8986-66A791403D23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/IINA.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1F2CC4BE-1C49-41D8-BC93-DEF34DEDBF31</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.microsoft.internet-shortcut</string>
				</array>
				<key>name</key>
				<string>Open with IINA</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>505B935F-3B3C-49BC-8DA3-77CD1E0BA04A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/Pixelmator Pro.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>E25B4258-39D1-42A7-A857-3A0A5C34A78B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.icns</string>
					<string>com.compuserve.gif</string>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Open with Pixelmator Pro</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C0F090F5-22FD-43D8-810F-EC393D46A562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Image copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>05EAE0AB-840D-44C9-B67B-2FF4B19D16D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set the clipboard to POSIX file "{query}"
return "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2F1411D-9E20-4EB9-82E0-BF23FFA94DCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ii</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>image-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Image locally</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7692C8B-A314-4D01-ACB4-17A50F69D883</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0C406653-F247-4FCA-92CB-4CD574370ADC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>056D6BA2-7779-4380-8986-66A791403D23</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>05EAE0AB-840D-44C9-B67B-2FF4B19D16D2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>0C406653-F247-4FCA-92CB-4CD574370ADC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>1833CB9C-DCC9-4E71-8DF2-082ECEAF1D2B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1F2CC4BE-1C49-41D8-BC93-DEF34DEDBF31</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>3E14D1C6-DD8A-482A-9341-1516B2609DB3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>45B4059B-1853-410F-BB24-E77A2A662C4D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>505B935F-3B3C-49BC-8DA3-77CD1E0BA04A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>796AC1E3-A5E4-4461-9DB8-025B71D40421</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Export (in Alfred, as multiple Exports Menu items in Pixelmator make Mac OS Keyboard Shortcuts unreliable)</string>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>A7692C8B-A314-4D01-ACB4-17A50F69D883</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>BCAD16ED-A17E-4512-8825-EE0157EDC36A</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C0F090F5-22FD-43D8-810F-EC393D46A562</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C2F1411D-9E20-4EB9-82E0-BF23FFA94DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>copy image to clipboard</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>CF41F8B3-36C9-4A59-9336-A70B0FCA980C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>convert movie to gif</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D33D3AB5-4E2F-4E08-A2D3-A63A1B3768ED</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>E25B4258-39D1-42A7-A857-3A0A5C34A78B</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>folder_to_search</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
