<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.downloadmedia</string>
	<key>connections</key>
	<dict>
		<key>05D66076-BBF0-42B3-AACE-3395B291DCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24B8A81E-9901-45A9-B7BC-3D4134C8675A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7A122F2-DA1A-4CF7-9990-9F4614C960CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B69F416-A08B-4618-99B6-E2AED211C9D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDEED30D-47F5-468D-899C-0AD5D4FFAADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E1231DB-0667-46DE-9AD3-523D8837F824</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A286F10-FD49-4463-9540-0EECBE45438D</key>
		<array/>
		<key>822C7F03-3A3A-4842-8C03-72F2D4096BF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24B8A81E-9901-45A9-B7BC-3D4134C8675A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83B54D25-39A4-4BCE-94DA-1DFB84D37270</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>879AF67B-0DE2-4574-A27B-A502D1E8A123</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B93448AD-3457-4CBA-B37D-1242E4A92C44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D0536D2A-6ED4-4A74-8053-7030F75D665F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8F4BBFD-E8A8-47D3-AE33-A8823E7CC291</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>897635FA-F5E6-4554-A0FE-0A84D9156F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E1231DB-0667-46DE-9AD3-523D8837F824</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B729925C-D828-4631-9988-67499E05791C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFD78A9F-0242-46A6-982A-9DA120AB8328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7A122F2-DA1A-4CF7-9990-9F4614C960CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C80AD651-BCAF-4B86-869A-D4D847A2379B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B93448AD-3457-4CBA-B37D-1242E4A92C44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDEED30D-47F5-468D-899C-0AD5D4FFAADB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>879AF67B-0DE2-4574-A27B-A502D1E8A123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFD78A9F-0242-46A6-982A-9DA120AB8328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C80AD651-BCAF-4B86-869A-D4D847A2379B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05D66076-BBF0-42B3-AACE-3395B291DCB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3A7A89F-92D3-4FC6-B561-20BBF3CDE6CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD70A114-2767-4782-8D5F-86AC4B3BB8B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8524846-F942-4A77-9461-8BAED974B8CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C80AD651-BCAF-4B86-869A-D4D847A2379B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC74421D-631A-44B1-AC86-ED7793CADE26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD70A114-2767-4782-8D5F-86AC4B3BB8B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05D66076-BBF0-42B3-AACE-3395B291DCB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Download video and audio from web pages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Download Media</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Download Video</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>897635FA-F5E6-4554-A0FE-0A84D9156F9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>media_type</key>
					<string>video</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3E1231DB-0667-46DE-9AD3-523D8837F824</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Download Audio</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B729925C-D828-4631-9988-67499E05791C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>media_type</key>
					<string>audio</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BFD78A9F-0242-46A6-982A-9DA120AB8328</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>822C7F03-3A3A-4842-8C03-72F2D4096BF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

puts get_title_url[:url]</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24B8A81E-9901-45A9-B7BC-3D4134C8675A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:download_video_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing frontmost tab info and clipboard contents…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

show_options('video')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Download video from popular sources</string>
				<key>title</key>
				<string>Download Video</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC74421D-631A-44B1-AC86-ED7793CADE26</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>B7A122F2-DA1A-4CF7-9990-9F4614C960CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:download_audio_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing frontmost tab info and clipboard contents…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

show_options('audio')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Download audio from popular sources</string>
				<key>title</key>
				<string>Download Audio</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83B54D25-39A4-4BCE-94DA-1DFB84D37270</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

save_pid(Process.pid)
save_query(ARGV[0], ENV['media_type'], ENV['add_to_watchlist'], ENV['full_playlist'])
download_url(ARGV[0], ENV['media_type'], ENV['add_to_watchlist'], ENV['full_playlist'])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>download_video</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D8524846-F942-4A77-9461-8BAED974B8CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>full_playlist</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>05D66076-BBF0-42B3-AACE-3395B291DCB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>media_type</key>
					<string>video</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C80AD651-BCAF-4B86-869A-D4D847A2379B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>download_audio</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D3A7A89F-92D3-4FC6-B561-20BBF3CDE6CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>media_type</key>
					<string>audio</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FD70A114-2767-4782-8D5F-86AC4B3BB8B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cat "${alfred_workflow_cache}/query.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B93448AD-3457-4CBA-B37D-1242E4A92C44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:progress_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

show_progress</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Shows progress of the current DownMedia download</string>
				<key>title</key>
				<string>Download Progress</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B69F416-A08B-4618-99B6-E2AED211C9D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

kill_download</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDEED30D-47F5-468D-899C-0AD5D4FFAADB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:after_kill}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>restart</string>
						<key>outputlabel</key>
						<string>restart</string>
						<key>uid</key>
						<string>D0536D2A-6ED4-4A74-8053-7030F75D665F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>abort</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>879AF67B-0DE2-4574-A27B-A502D1E8A123</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/downmedia_functions.rb"

cleanup_tmp_files</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8F4BBFD-E8A8-47D3-AE33-A8823E7CC291</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Download video from [a plethora of online sources](https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md) via the `dv` keyword. Download audio with `da`. Your clipboard and frontmost browser tab are checked for links.

![Download video](images/about/dv.png)

* &lt;kbd&gt;↩&lt;/kbd&gt;: Download.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Download full playlist.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Toggle adding to [Watch List](https://alfred.app/workflows/vitor/watch-list).

Alternatively, download with the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal action](images/about/ua.png)

Check download progress via the `dp` keyword.

![Download progress](images/about/dp.png)

* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Restart download.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Cancel.</string>
	<key>uidata</key>
	<dict>
		<key>05D66076-BBF0-42B3-AACE-3395B291DCB8</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>24B8A81E-9901-45A9-B7BC-3D4134C8675A</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>3B69F416-A08B-4618-99B6-E2AED211C9D8</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>3E1231DB-0667-46DE-9AD3-523D8837F824</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>6A286F10-FD49-4463-9540-0EECBE45438D</key>
		<dict>
			<key>xpos</key>
			<real>1230</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>822C7F03-3A3A-4842-8C03-72F2D4096BF0</key>
		<dict>
			<key>note</key>
			<string>Download video in frontmost tab</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>83B54D25-39A4-4BCE-94DA-1DFB84D37270</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>879AF67B-0DE2-4574-A27B-A502D1E8A123</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>897635FA-F5E6-4554-A0FE-0A84D9156F9C</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>A8F4BBFD-E8A8-47D3-AE33-A8823E7CC291</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>B729925C-D828-4631-9988-67499E05791C</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>B7A122F2-DA1A-4CF7-9990-9F4614C960CC</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>B93448AD-3457-4CBA-B37D-1242E4A92C44</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>BDEED30D-47F5-468D-899C-0AD5D4FFAADB</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>BFD78A9F-0242-46A6-982A-9DA120AB8328</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>C80AD651-BCAF-4B86-869A-D4D847A2379B</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>D3A7A89F-92D3-4FC6-B561-20BBF3CDE6CE</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>D8524846-F942-4A77-9461-8BAED974B8CF</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>DC74421D-631A-44B1-AC86-ED7793CADE26</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>FD70A114-2767-4782-8D5F-86AC4B3BB8B3</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dv</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Download Video Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>download_video_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>da</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Download Audio Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>download_audio_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Progress Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>progress_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Download Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>download_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Send downloads to Watch List workflow</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Add to Watch List</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>add_to_watchlist</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>best</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Best</string>
						<string>best</string>
					</array>
					<array>
						<string>MP3</string>
						<string>mp3</string>
					</array>
					<array>
						<string>AAC</string>
						<string>aac</string>
					</array>
					<array>
						<string>FLAC</string>
						<string>flac</string>
					</array>
					<array>
						<string>Apple Lossless</string>
						<string>alac</string>
					</array>
					<array>
						<string>M4A</string>
						<string>m4a</string>
					</array>
					<array>
						<string>Opus</string>
						<string>opus</string>
					</array>
					<array>
						<string>Vorbis</string>
						<string>vorbis</string>
					</array>
					<array>
						<string>WAV</string>
						<string>wav</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Does not apply when downloading video.</string>
			<key>label</key>
			<string>Audio Format</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>audio_only_format</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bestvideo[ext=mp4]+bestaudio[ext=m4a]/best</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Reference the yt-dlp documentation for options. Be sure to specify an extension for file name predictability when adding to Watch List.</string>
			<key>label</key>
			<string>Advanced Format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>advanced_format</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%(title)s.%(ext)s</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Title Template</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>single_title_template</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%(playlist)s/%(playlist_index)s-%(title)s.%(ext)s</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Name format for downloaded files. Reference the yt-dlp Output Template documentation.</string>
			<key>label</key>
			<string>Playlist Title Template</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>playlist_title_template</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2023.3</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/download-media-workflow/</string>
</dict>
</plist>
