<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.read-later</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9332AA79-714A-4D56-BD35-570C92624327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAE7F279-2541-4411-A7A9-00B2974FF7FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55FA8700-3E12-4EF2-88DC-0E80D3823F52</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAE7F279-2541-4411-A7A9-00B2974FF7FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Simple standalone read-later-app for Alfred. Saves the items in plaintext on your device.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Read Later</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/get-browser-markdown-link.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ URL saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9332AA79-714A-4D56-BD35-570C92624327</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:read_later_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/select-read-later.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D223A211-45A1-481D-A981-9632A2E18CC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/open-and-mark-as-checked.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>55FA8700-3E12-4EF2-88DC-0E80D3823F52</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CAE7F279-2541-4411-A7A9-00B2974FF7FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Use the keyword `rl` to add the current tab of the frontmost browser to your read-later-list.
- Any item in your reading list also shows up when using the keyword `rl`. Press &lt;kbd&gt;⏎&lt;/kbd&gt; to open the item in your browser and remove it from your read-later-list.

## Items are saved locally
- The items are saved in a local markdown file on your disk. You can set the location in the [workflow configuration](https://www.alfredapp.com/help/workflows/user-configuration/).
- The items formatted in the [markdown task syntax](https://simpledev.io/lesson/task-list-md-1/).
	+ Unread items as open tasks: `- [ ] [title](url)`
	+ Read items as completed tasks: `- [x] [title](url)`
- This has several advantages:
	+ No dependency on any read-later service.
	+ The reading list is available offline.
	+ Since Markdown is a widely supported format, you can access your items in many other apps as well, such as [Obsidian](https://obsidian.md/).
	+ Easy backup: Just copypaste the file.
	+ Easy sync: Just save the file in a Cloud Drive like iCloud.


You can also access the list on mobile with any note-app that supports markdown tasks, when you save it in a Cloud Drive.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open item &amp; mark as read</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>append browser link as Markdown task</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>9332AA79-714A-4D56-BD35-570C92624327</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>CAE7F279-2541-4411-A7A9-00B2974FF7FC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rl</string>
				<key>placeholder</key>
				<string>rl</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>to trigger this workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>read_later_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>~/main-vault/Meta/📚 Read Later.md</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Markdown file where the items should be saved.</string>
			<key>label</key>
			<string>Read Later File</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>read_later_file</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
