<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.read-later</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C979E492-28FD-4709-9B24-D8AA06C24476</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FFAD7DC-CAEC-4493-90E9-E941E1355540</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0C21F6A-AFB4-4763-8E80-06D3BAA3821F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9332AA79-714A-4D56-BD35-570C92624327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF569ED4-DB42-473C-BE9C-2E1078378D19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C979E492-28FD-4709-9B24-D8AA06C24476</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2AAD1EB-112C-4EC9-BBEF-F423EE6411B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55FA8700-3E12-4EF2-88DC-0E80D3823F52</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAE7F279-2541-4411-A7A9-00B2974FF7FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FFAD7DC-CAEC-4493-90E9-E941E1355540</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55FA8700-3E12-4EF2-88DC-0E80D3823F52</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAE7F279-2541-4411-A7A9-00B2974FF7FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF569ED4-DB42-473C-BE9C-2E1078378D19</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Mark as read</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E0C21F6A-AFB4-4763-8E80-06D3BAA3821F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF0DA9FC-237E-4EC9-9942-B31BD0A6754F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8B7956A2-8685-4A56-832D-915622BEA78E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Simple standalone read-later-app for Alfred. Saves the items in plaintext on your device.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Read Later</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No supported browser open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EF0DA9FC-237E-4EC9-9942-B31BD0A6754F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>allow_empty</key>
					<true/>
					<key>out_format</key>
					<string>title_tab_url</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4FFAD7DC-CAEC-4493-90E9-E941E1355540</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ URL saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9332AA79-714A-4D56-BD35-570C92624327</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/get-browser-markdown-link.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>8B7956A2-8685-4A56-832D-915622BEA78E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>non-empty</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E0C21F6A-AFB4-4763-8E80-06D3BAA3821F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:read_later_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/select-read-later.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>loop</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D223A211-45A1-481D-A981-9632A2E18CC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>55FA8700-3E12-4EF2-88DC-0E80D3823F52</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CAE7F279-2541-4411-A7A9-00B2974FF7FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/open-and-mark-as-checked.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>loop</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E2AAD1EB-112C-4EC9-BBEF-F423EE6411B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>mark-as-read</string>
						<key>outputlabel</key>
						<string>mark-as-read</string>
						<key>uid</key>
						<string>55FA8700-3E12-4EF2-88DC-0E80D3823F52</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C979E492-28FD-4709-9B24-D8AA06C24476</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>AF569ED4-DB42-473C-BE9C-2E1078378D19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Use the keyword `rl` to add the current tab of the frontmost browser to your
  read-later-list.
- Any item in your reading list also shows up when using the keyword `rl`.
	+ &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the item in your browser and mark it as read.
	+ &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Mark the item as read.

&gt; [Unfortunately, Firefox is not and cannot be supported.](https://www.alfredforum.com/topic/16748-how-to-do-x-in-firefox-from-alfred/)

## Item Previews
Install [AlfredExtraPane](https://github.com/mr-pennyworth/alfred-extra-pane)
for previews of the items.

## Items are saved locally
- The items are saved in a local markdown file on your disk. You can set the
  location in the [workflow
  configuration](https://www.alfredapp.com/help/workflows/user-configuration/).
- The items are formatted in the [markdown task syntax](https://simpledev.io/lesson/task-list-md-1/).
	+ Unread items as open tasks: `- [ ] [title](url)`
	+ Read items as completed tasks: `- [x] [title](url)`
- This has several advantages:
	+ No dependency on any read-later service.
	+ The reading list is available offline.
	+ Since Markdown is a widely supported format, you can access your items in
	  many other apps as well, such as [Obsidian](https://obsidian.md/).
	  (Interoperability)
	+ Easy backup: Just copypaste the file.
	+ Easy sync: Just save the file in a cloud drive like iCloud.
	+ By saving in a cloud drive, you can also access the reading list on mobile
	  with any editor app that supports Markdown tasks.


---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>mark as read (and open)</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>4FFAD7DC-CAEC-4493-90E9-E941E1355540</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>append browser link as Markdown task</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>9332AA79-714A-4D56-BD35-570C92624327</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>AF569ED4-DB42-473C-BE9C-2E1078378D19</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>C979E492-28FD-4709-9B24-D8AA06C24476</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>mode === "mark-as-read"</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>CAE7F279-2541-4411-A7A9-00B2974FF7FC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>mode</string>
			<key>xpos</key>
			<real>267</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>E0C21F6A-AFB4-4763-8E80-06D3BAA3821F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>E2AAD1EB-112C-4EC9-BBEF-F423EE6411B5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>EF0DA9FC-237E-4EC9-9942-B31BD0A6754F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>~/main-vault/Meta/📚 Read Later.md</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Markdown file where the items should be saved.</string>
			<key>label</key>
			<string>Read Later File</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>read_later_file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rl</string>
				<key>placeholder</key>
				<string>rl</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>to trigger this workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>read_later_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>iso8601</string>
				<key>pairs</key>
				<array>
					<array>
						<string>none</string>
						<string>none</string>
					</array>
					<array>
						<string>ISO 8601</string>
						<string>iso8601</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>when saving new entries</string>
			<key>label</key>
			<string>Add Date</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>add_date</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>randomize</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>item order</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>randomize_item_order</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.4.2</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
