<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.hyper-seek</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>0C8B99CA-B7BE-4D88-A242-34082B5A5CDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85410B5C-411D-4939-AF9F-3675EF2B3CA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>203119B0-F56B-4EDE-BE71-21B68645EB6B</key>
		<array/>
		<key>23B4E13F-A2E8-4FBE-83B8-4C4E4288C8B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6591673-575D-4105-B38F-59AD1457EF23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25810527-3725-4BAA-91DA-7B4E6FCCCBB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47FB3A9E-27F5-43FE-9F8D-DA7D444CEAA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37823B3A-8211-49F5-BC98-118E47141CB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE9EF990-1694-424F-93F7-2A310066A5FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F875B8F-22A9-4711-914D-C906CAC4F290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB5D42B1-CF89-4DD7-B57A-1995FE9A1BF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>477EF12D-4892-4FE9-942B-A55E0C21A9BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37823B3A-8211-49F5-BC98-118E47141CB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47FB3A9E-27F5-43FE-9F8D-DA7D444CEAA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F875B8F-22A9-4711-914D-C906CAC4F290</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EDDEC35-4391-49A3-A93F-99B48265C880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3C22147-3316-415A-B4C1-8AA201F0888E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8767AD0-3753-4494-83FD-A7FBCECF700E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Select URL</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>23B4E13F-A2E8-4FBE-83B8-4C4E4288C8B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85410B5C-411D-4939-AF9F-3675EF2B3CA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78EFB778-9A4C-4C49-8367-93D039DCD765</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9CE3F5C-A396-4E8C-8709-A08871B57DE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29480781-3450-43E9-A61B-AB3222D73835</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAD2BCE8-96CD-4FF0-9445-860265918045</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>393BA661-A566-4A4C-872F-3385CC07DDB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C950FDC3-9DD1-427D-82D5-2FC76BE7858E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF680CD3-F6C1-4A64-B782-6C898AE55BB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3C22147-3316-415A-B4C1-8AA201F0888E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841BD8BB-2E10-4E6A-89DC-2C5DAA070D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8767AD0-3753-4494-83FD-A7FBCECF700E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>203119B0-F56B-4EDE-BE71-21B68645EB6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9CE3F5C-A396-4E8C-8709-A08871B57DE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF680CD3-F6C1-4A64-B782-6C898AE55BB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EDDEC35-4391-49A3-A93F-99B48265C880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search for the Power User. Inline Results, without a keyword.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hyper Seek</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BAD2BCE8-96CD-4FF0-9445-860265918045</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/search-selection.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search-selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>393BA661-A566-4A4C-872F-3385CC07DDB9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>90</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>BE9EF990-1694-424F-93F7-2A310066A5FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/browsing-history-today.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37823B3A-8211-49F5-BC98-118E47141CB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>today</string>
				<key>subtext</key>
				<string>for today</string>
				<key>text</key>
				<string>📅 {const:alfred_workflow_name} History</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>477EF12D-4892-4FE9-942B-A55E0C21A9BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Cache refreshed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>78EFB778-9A4C-4C49-8367-93D039DCD765</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/clear_cache.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85410B5C-411D-4939-AF9F-3675EF2B3CA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:hyper-seek</string>
				<key>subtext</key>
				<string>{const:alfred_workflow_name}</string>
				<key>text</key>
				<string>Refresh the cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C8B99CA-B7BE-4D88-A242-34082B5A5CDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FB5D42B1-CF89-4DD7-B57A-1995FE9A1BF9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"{query}"</string>
				<key>title</key>
				<string>⏳ Searching…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>47FB3A9E-27F5-43FE-9F8D-DA7D444CEAA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/search-for-link.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F875B8F-22A9-4711-914D-C906CAC4F290</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>25810527-3725-4BAA-91DA-7B4E6FCCCBB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/chrisgrieser/hyper-seek/main/info.plist'
readonly workflow_url='https://github.com/chrisgrieser/hyper-seek/releases/latest/download/hyper-seek.alfredworkflow'
readonly download_type='direct'
readonly frequency_check='1'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>841BD8BB-2E10-4E6A-89DC-2C5DAA070D75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-urls-and-write-log.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D3C22147-3316-415A-B4C1-8AA201F0888E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>a||b||c||d||e||f||g||h||i||j||k||l||m||n||o||p||q||r||s||t||u||v||w||x||y||z</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/inline-results.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EDDEC35-4391-49A3-A93F-99B48265C880</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/write-url-to-buffer.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>203119B0-F56B-4EDE-BE71-21B68645EB6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E8767AD0-3753-4494-83FD-A7FBCECF700E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>29480781-3450-43E9-A61B-AB3222D73835</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>B9CE3F5C-A396-4E8C-8709-A08871B57DE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Trigger Search for Inline Results</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>C950FDC3-9DD1-427D-82D5-2FC76BE7858E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>fallback</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FF680CD3-F6C1-4A64-B782-6C898AE55BB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>23B4E13F-A2E8-4FBE-83B8-4C4E4288C8B1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F6591673-575D-4105-B38F-59AD1457EF23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Hyper Seek
Search for the Power User. Inline Results, *without a keyword*. Multi-select results to open. 

## Inline results (without a keyword!)
- &lt;kbd&gt;⏎&lt;/kbd&gt;: Search for the query term, or open result.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Multi-Select: (de)select the URL. The next &lt;kbd&gt;⏎&lt;/kbd&gt; will open the selected result as well as all previously marked URLs. 
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Copy URL to clipboard. 
- &lt;kbd&gt;⌥&lt;/kbd&gt; (hold): Show full URL.
- &lt;kbd&gt;⇧&lt;/kbd&gt; (hold): Show preview text of search result. 

Use the keyword `today` to show a log of today's searches.

**Recommendations**
- Add this workflow as [fallback search](https://www.alfredapp.com/help/features/default-results/fallback-searches/). 
- In the [Alfred Advanced Settings](https://www.alfredapp.com/help/advanced/), set &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; to `Action all visible results`. This allows you to open all search results at once. 

## Global search hotkey 
Selection is… 
- file path → reveal file in Finder 
- directory path → open directory in Finder 
- url → open in default browser 
- email → send eMail to that address in your default mail app 
- some other text → search for selection &amp; open first search result ("I'm feeling lucky") 

## Add link to selection 
Turns selected text into a markdown link, with the URL of the first search result for that text as URL for the markdown link. This feature is essentially a simplified version of [Brett Terpstra's SearchLink](https://brettterpstra.com/projects/searchlink/). 

## Auto-Update
Due to the nature of this workflow, it will not be submitted to the Alfred Gallery. Therefore, the workflow includes it's own auto-update function, which checks every day for a new update.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0C8B99CA-B7BE-4D88-A242-34082B5A5CDB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>refresh cache</string>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>203119B0-F56B-4EDE-BE71-21B68645EB6B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>save URL for multi-select</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>23B4E13F-A2E8-4FBE-83B8-4C4E4288C8B1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>25810527-3725-4BAA-91DA-7B4E6FCCCBB7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Add link to selection</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>29480781-3450-43E9-A61B-AB3222D73835</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>select next result</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>37823B3A-8211-49F5-BC98-118E47141CB4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>393BA661-A566-4A4C-872F-3385CC07DDB9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3F875B8F-22A9-4711-914D-C906CAC4F290</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>477EF12D-4892-4FE9-942B-A55E0C21A9BA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>47FB3A9E-27F5-43FE-9F8D-DA7D444CEAA1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>6EDDEC35-4391-49A3-A93F-99B48265C880</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>triggers on every letter of the roman alphabet</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>78EFB778-9A4C-4C49-8367-93D039DCD765</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>841BD8BB-2E10-4E6A-89DC-2C5DAA070D75</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>85410B5C-411D-4939-AF9F-3675EF2B3CA1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>B9CE3F5C-A396-4E8C-8709-A08871B57DE6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>BAD2BCE8-96CD-4FF0-9445-860265918045</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Search &amp; Lucky Search for Selected Text</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BE9EF990-1694-424F-93F7-2A310066A5FD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C950FDC3-9DD1-427D-82D5-2FC76BE7858E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>fallback</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>D3C22147-3316-415A-B4C1-8AA201F0888E</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open URL(s) &amp; log queries</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>E8767AD0-3753-4494-83FD-A7FBCECF700E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>F6591673-575D-4105-B38F-59AD1457EF23</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>FB5D42B1-CF89-4DD7-B57A-1995FE9A1BF9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>FF680CD3-F6C1-4A64-B782-6C898AE55BB9</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>set mode</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.google.com/search?q=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google</string>
						<string>https://www.google.com/search?q=</string>
					</array>
					<array>
						<string>Brave</string>
						<string>https://search.brave.com/search?q=</string>
					</array>
					<array>
						<string>DuckDuckGo</string>
						<string>https://duckduckgo.com/?q=</string>
					</array>
					<array>
						<string>Ecosia</string>
						<string>https://www.ecosia.org/search?q=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Where searching a query should be performed. (Inline results come from DuckDuckGo, regardless of this setting.)</string>
			<key>label</key>
			<string>Query Search Site</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>search_site</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Ignore</string>
			</dict>
			<key>description</key>
			<string>When a keyword from another workflow or from a websearch is used, this workflow will not be triggered (recommended).</string>
			<key>label</key>
			<string>Alfred Keywords</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ignore_alfred_keywords</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>comma-separated list of more keywords to ignore. Use this if the "Ignore Alfred Keywords" is not fine-grained enough for you, or if you want to ignore additional keywords.</string>
			<key>label</key>
			<string>Ignore extra words</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignore_extra_words</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3</string>
				<key>placeholder</key>
				<string>3</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Minimum length of the query before inline results are shown.</string>
			<key>label</key>
			<string>Min Query Length</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>minimum_query_length</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>5</string>
				<key>placeholder</key>
				<string>5</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of inline results to display (1-25).</string>
			<key>label</key>
			<string>Num Inline Results</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>inline_results_to_fetch</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Disable</string>
			</dict>
			<key>description</key>
			<string>for Inline Results</string>
			<key>label</key>
			<string>Safe Search</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_unsafe</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>none</string>
				<key>pairs</key>
				<array>
					<array>
						<string>none</string>
						<string>none</string>
					</array>
					<array>
						<string>Germany</string>
						<string>de-de</string>
					</array>
					<array>
						<string>France</string>
						<string>fr-fr</string>
					</array>
					<array>
						<string>United States</string>
						<string>en-us</string>
					</array>
					<array>
						<string>Japan</string>
						<string>jp-jp</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>region-specific search for the Inline Results</string>
			<key>label</key>
			<string>Region</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>region</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Leave empty to disable logging.</string>
			<key>label</key>
			<string>Log Location</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>log_location</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>multi_select_icon</key>
		<string>🔳</string>
	</dict>
	<key>version</key>
	<string>1.5.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
