<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignore_extra_words</key>
	<string>prev</string>
	<key>include_unsafe</key>
	<true/>
	<key>inline_results_to_fetch</key>
	<string>8</string>
	<key>log_location</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/search-log.log</string>
	<key>use_favicons</key>
	<true/>
</dict>
</plist>
