<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.jisho</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>23B44036-74F5-4214-9D7C-5D9D98B6A190</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83930E73-FF72-4738-BC12-3FD159FA4F33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78A71373-D4A0-4830-B647-39C118E35A08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C416FD3F-421B-475A-8F92-2201CD9BA683</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>790545A7-08B0-4E0A-8741-AE1D77C5F0B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEC6813A-5DA7-4370-96D0-797FDEBAA630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>794C3411-2887-4F98-BF8E-4F94ACAFB1BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7535DF2C-07CB-4373-A54C-C8C14DE643B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97598B16-02A9-4914-8DDB-1F90BE296143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2892C315-9E5C-4AEF-9D82-031432E07D7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A12A1ECC-A85B-41DD-A94C-0987C75CDC4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEC6813A-5DA7-4370-96D0-797FDEBAA630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>790545A7-08B0-4E0A-8741-AE1D77C5F0B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>794C3411-2887-4F98-BF8E-4F94ACAFB1BA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Read more</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7535DF2C-07CB-4373-A54C-C8C14DE643B7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open at dictionary site</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B5E9F14-2F33-4268-8735-9C4ABC2E5828</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Play Japanese audio 🔈</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>97598B16-02A9-4914-8DDB-1F90BE296143</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Append to .csv file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEC6813A-5DA7-4370-96D0-797FDEBAA630</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E64276C1-6A3A-41ED-8BD3-AE272E6D3E67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF90102A-E6D7-433E-87BE-30FCEFC7F57F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7535DF2C-07CB-4373-A54C-C8C14DE643B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1C9C745-8F8B-45CD-B8CC-5DF0D28C9296</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23B44036-74F5-4214-9D7C-5D9D98B6A190</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C416FD3F-421B-475A-8F92-2201CD9BA683</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A12A1ECC-A85B-41DD-A94C-0987C75CDC4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC8CAC33-A0CE-4B39-B8B4-E7252BF1D13F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEC6813A-5DA7-4370-96D0-797FDEBAA630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>790545A7-08B0-4E0A-8741-AE1D77C5F0B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>794C3411-2887-4F98-BF8E-4F94ACAFB1BA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Read more</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7535DF2C-07CB-4373-A54C-C8C14DE643B7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open at dictionary site</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B5E9F14-2F33-4268-8735-9C4ABC2E5828</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Play Japanese audio 🔈</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>97598B16-02A9-4914-8DDB-1F90BE296143</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Append to .csv file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2F1E776-9FE4-4811-AB38-7CA87EDF929B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C416FD3F-421B-475A-8F92-2201CD9BA683</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Japanese-English Dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jisho</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F2F1E776-9FE4-4811-AB38-7CA87EDF929B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C416FD3F-421B-475A-8F92-2201CD9BA683</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Jisho Lookup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>78A71373-D4A0-4830-B647-39C118E35A08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E64276C1-6A3A-41ED-8BD3-AE272E6D3E67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BEC6813A-5DA7-4370-96D0-797FDEBAA630</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>790545A7-08B0-4E0A-8741-AE1D77C5F0B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>794C3411-2887-4F98-BF8E-4F94ACAFB1BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7535DF2C-07CB-4373-A54C-C8C14DE643B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_with_space}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/jisho-entry-selection.js</string>
				<key>subtext</key>
				<string>Dictionary</string>
				<key>title</key>
				<string>Jisho</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A12A1ECC-A85B-41DD-A94C-0987C75CDC4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/audio-for-word.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B5E9F14-2F33-4268-8735-9C4ABC2E5828</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_without_space}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/jisho-entry-selection.js</string>
				<key>subtext</key>
				<string>Dictionary</string>
				<key>title</key>
				<string>Jisho</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC8CAC33-A0CE-4B39-B8B4-E7252BF1D13F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/append-to-csv.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97598B16-02A9-4914-8DDB-1F90BE296143</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:japWord}     {var:engWord}</string>
				<key>title</key>
				<string>💾 Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2892C315-9E5C-4AEF-9D82-031432E07D7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/japanese-grammar.js</string>
				<key>subtext</key>
				<string>tofugu.com</string>
				<key>title</key>
				<string>Japanese Grammar</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF90102A-E6D7-433E-87BE-30FCEFC7F57F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hiragana||katakana</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hiragana &amp; Katakana table</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1C9C745-8F8B-45CD-B8CC-5DF0D28C9296</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>1</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>83930E73-FF72-4738-BC12-3FD159FA4F33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>./resources/hiragana-katakana.webp</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>23B44036-74F5-4214-9D7C-5D9D98B6A190</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Search for a word in English or in Japanese (Romaji, Kana, Kanji) via the
  keyword `ji`.
	+ &lt;kbd&gt;⏎&lt;/kbd&gt; Copy the Japanese translation.
	+ &lt;kbd&gt;⌘⏎&lt;/kbd&gt; Open the word at jisho.org (or an alternative dictionary
	  site).
	+ &lt;kbd&gt;⌥⏎&lt;/kbd&gt; Copy the URL to the entry at the selected dictionary site.
	+ &lt;kbd&gt;⇧⏎&lt;/kbd&gt; Play the Japanese audio pronunciation, with configurable
	  speech rate.
	+ &lt;kbd&gt;⌃⏎&lt;/kbd&gt; Open the first "Read more" link of the entry in the browser.
	+ &lt;kbd&gt;Fn⏎&lt;/kbd&gt;: Append the entry to a .csv file.
	  This is useful to import words into other tools, such as `Anki`.
	+ Alternatively, you can also use the keyword `じ` (`ji` must be followed by
	  a space, `じ` does not require one), or use a
	  [hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/).
- Use the keyword `hiragana` or `katakana` to display a kana cheatsheet.
- Use the keyword `jg` to look for Japanese Grammar guides.

## Credits
- Hiragana/Katakana chart by [u/Moer_by](https://www.reddit.com/r/japaneseresources/comments/ilkott/hiragana_katakana_stroke_order_chart/)
- Japanese dictionary API by [jisho.org](https://jisho.org/)
- Grammar guides at [tofugu.com](https://tofugu.com/)
- Workflow created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>uidata</key>
	<dict>
		<key>23B44036-74F5-4214-9D7C-5D9D98B6A190</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>2892C315-9E5C-4AEF-9D82-031432E07D7F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>7535DF2C-07CB-4373-A54C-C8C14DE643B7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>78A71373-D4A0-4830-B647-39C118E35A08</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>790545A7-08B0-4E0A-8741-AE1D77C5F0B1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>794C3411-2887-4F98-BF8E-4F94ACAFB1BA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>83930E73-FF72-4738-BC12-3FD159FA4F33</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>8B5E9F14-2F33-4268-8735-9C4ABC2E5828</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>play audio</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>97598B16-02A9-4914-8DDB-1F90BE296143</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>append to csv</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>A12A1ECC-A85B-41DD-A94C-0987C75CDC4C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>dictionary with space</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>BEC6813A-5DA7-4370-96D0-797FDEBAA630</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>BF90102A-E6D7-433E-87BE-30FCEFC7F57F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>grammar</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>C1C9C745-8F8B-45CD-B8CC-5DF0D28C9296</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>C416FD3F-421B-475A-8F92-2201CD9BA683</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>DC8CAC33-A0CE-4B39-B8B4-E7252BF1D13F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>dictionary without space</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>E64276C1-6A3A-41ED-8BD3-AE272E6D3E67</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>F2F1E776-9FE4-4811-AB38-7CA87EDF929B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS
to set hotkey for selection lookup</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ji</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Requiring a space afterwards, e.g., `ji gohan`. Intended for Romaji/English.</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_with_space</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>じ</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Not requiring a space afterwards, e.g., `じ悟飯`. Intended for Kana/Kanji.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_without_space</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://jisho.org/word/</string>
				<key>pairs</key>
				<array>
					<array>
						<string>jisho.org</string>
						<string>https://jisho.org/word/</string>
					</array>
					<array>
						<string>tangorin.com</string>
						<string>https://tangorin.com/words?search=</string>
					</array>
					<array>
						<string>jpdb.io</string>
						<string>https://jpdb.io/search?q=</string>
					</array>
					<array>
						<string>jotoba.com</string>
						<string>https://jotoba.com/search/default/</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>dictionary site where to open a result with `⌘⏎`</string>
			<key>label</key>
			<string>Open at</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>open_at</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>JLPT level</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Display</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>display_jlpt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Wanikani level</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>display_wanikani</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>150</integer>
				<key>markercount</key>
				<integer>10</integer>
				<key>maxvalue</key>
				<integer>250</integer>
				<key>minvalue</key>
				<integer>25</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Speed in wpm (words per minute)</string>
			<key>label</key>
			<string>Audio</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>audio_speed</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop/jisho-words.csv</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Location of .csv file for saving via `fn+⏎`. (Saved entries are semicolon-separated.)</string>
			<key>label</key>
			<string>CSV</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>csv_file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>none</string>
				<key>pairs</key>
				<array>
					<array>
						<string>none</string>
						<string>none</string>
					</array>
					<array>
						<string>Anki</string>
						<string>anki</string>
					</array>
					<array>
						<string>header row</string>
						<string>header_row</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>type of metadata to prepend to the csv file</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>csv_metadata</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3.4</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
