<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>csv_file</key>
	<string>~/Documents/jisho-words.csv</string>
	<key>csv_metadata</key>
	<string>anki</string>
	<key>display_jlpt</key>
	<true/>
	<key>display_wanikani</key>
	<true/>
</dict>
</plist>
