<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.E080D1DD-17CA-4CCD-A7EA-DD9C9E904C9B</string>
	<key>lightthemeuid</key>
	<string>theme.custom.E080D1DD-17CA-4CCD-A7EA-DD9C9E904C9B</string>
</dict>
</plist>
