<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scope</key>
	<array>
		<string>~/Applications</string>
		<string>~/Desktop</string>
		<string>~/Documents</string>
		<string>~/Downloads</string>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Academia</string>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder</string>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Images</string>
	</array>
</dict>
</plist>
