<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.screenshots</string>
	<key>connections</key>
	<dict>
		<key>036C0BA8-B6B3-42BF-B574-9E1551C612DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4EB8BAE-5AE1-4EC9-AFFF-6E2CDA4AB4F4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5542DB4F-F786-4324-B4F6-9477892800E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38434927-3CFC-41F5-A1A7-922E15E6A72C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E7EC0B3B-EE50-47E6-9574-9BFF87D047D4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Upload to Imgur</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>116A2E68-0ACD-4B9D-897C-9345183EAC4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>514320D1-76D8-436E-8E72-88DE959879D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13D14185-7171-4FEB-A411-2A03B135639F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF19EDF5-B524-4171-9666-AC327E9185DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1583EDC8-5C32-475D-A9F6-155DC11651C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D660F0C-DFA9-4ECE-B5B8-A1AA91232EDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20A3B9D4-7548-4FE6-8BF8-3DCDD2A87ECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>514320D1-76D8-436E-8E72-88DE959879D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>268E8BE9-211F-41C4-B237-B3F6CE450FD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29CA78D0-485E-4111-872B-F29C62E1E534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63463DDC-6B3C-43E9-A35C-1AF718A1F2DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DA7DC13-AADD-488D-A241-FC02AA754657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38434927-3CFC-41F5-A1A7-922E15E6A72C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DB0DB55-CDA5-4A5C-A49F-6EEC5DD01D34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6ACA0236-EECB-4D6B-89DF-C3C386AC7EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>474CBB1E-5DFF-468B-8976-76648C33A814</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E7D33E1-4E5C-4BA1-94FF-F21292FB1834</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F239DB8-763C-4F6E-A556-C8ABEA59694B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13D14185-7171-4FEB-A411-2A03B135639F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EA9894C-5C84-4A43-8BAA-A6ADE2BA0BD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29CA78D0-485E-4111-872B-F29C62E1E534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E7D33E1-4E5C-4BA1-94FF-F21292FB1834</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E7EE798-109C-4BCB-A76E-2A117DBB3CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A3AA900-8DF6-4C3E-BFD4-93D0CE3F0F65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20A3B9D4-7548-4FE6-8BF8-3DCDD2A87ECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F239DB8-763C-4F6E-A556-C8ABEA59694B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8CDBA37-4BFF-4B7E-88CD-3EAB5EFCD47A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>514320D1-76D8-436E-8E72-88DE959879D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2D9203E-E517-4CB8-A730-493493997B97</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>036C0BA8-B6B3-42BF-B574-9E1551C612DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DA7DC13-AADD-488D-A241-FC02AA754657</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A74EAE9-E4CE-4E5B-9F4A-FE951A77C948</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Upload to Imgur</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EF556CE-941F-4809-9F6A-9DE52FEB5152</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20A3B9D4-7548-4FE6-8BF8-3DCDD2A87ECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63463DDC-6B3C-43E9-A35C-1AF718A1F2DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E7EE798-109C-4BCB-A76E-2A117DBB3CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1583EDC8-5C32-475D-A9F6-155DC11651C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D660F0C-DFA9-4ECE-B5B8-A1AA91232EDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55D2CF31-D77C-4DCD-8F66-17A2265DEDDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D925F51-5AD8-439A-9C33-EBA607B435DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DB0DB55-CDA5-4A5C-A49F-6EEC5DD01D34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>474CBB1E-5DFF-468B-8976-76648C33A814</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6ACA0236-EECB-4D6B-89DF-C3C386AC7EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94526ED7-B2CC-46F0-9E61-795A4E5C447F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A74EAE9-E4CE-4E5B-9F4A-FE951A77C948</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7EC0B3B-EE50-47E6-9574-9BFF87D047D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D9203E-E517-4CB8-A730-493493997B97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4EB8BAE-5AE1-4EC9-AFFF-6E2CDA4AB4F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0E044C2-E7F6-4AB6-971A-1A6978C31362</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>116A2E68-0ACD-4B9D-897C-9345183EAC4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>CF19EDF5-B524-4171-9666-AC327E9185DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D925F51-5AD8-439A-9C33-EBA607B435DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>474CBB1E-5DFF-468B-8976-76648C33A814</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D43B26FE-62AD-41EE-A740-0996EF1B82CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC6BDCBA-D8AC-4C35-8F28-1FC2F9310D89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>116A2E68-0ACD-4B9D-897C-9345183EAC4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8CDBA37-4BFF-4B7E-88CD-3EAB5EFCD47A</key>
		<array/>
		<key>EDB57130-8761-496D-ADE2-ACAE5F458C6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29CA78D0-485E-4111-872B-F29C62E1E534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Search and act on screenshots</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screenshots</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/clipboard.set.image.data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>F4EB8BAE-5AE1-4EC9-AFFF-6E2CDA4AB4F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B2D9203E-E517-4CB8-A730-493493997B97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DC6BDCBA-D8AC-4C35-8F28-1FC2F9310D89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>alfred.action.openwith</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>5542DB4F-F786-4324-B4F6-9477892800E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>036C0BA8-B6B3-42BF-B574-9E1551C612DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search and preview screenshots</string>
				<key>text</key>
				<string>Screenshot Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0E044C2-E7F6-4AB6-971A-1A6978C31362</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>mdscreenshots</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>116A2E68-0ACD-4B9D-897C-9345183EAC4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>38434927-3CFC-41F5-A1A7-922E15E6A72C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>3</integer>
				<key>filterable</key>
				<true/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<true/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>514320D1-76D8-436E-8E72-88DE959879D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2DA7DC13-AADD-488D-A241-FC02AA754657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/sqlite3 \
  "${HOME}/Library/Application Support/Alfred/Databases/clipboard.alfdb" \
  ".parameter set :img_dir '~/Library/Application Support/Alfred/Databases/clipboard.alfdb.data/'" \
  "SELECT JSON_OBJECT('items', JSON_GROUP_ARRAY(JSON_OBJECT(
    -- 978307200 is timeIntervalSinceReferenceDate in Unix time
    'title', strftime('%Y/%m/%d %H:%M:%S', datetime(ts + 978307200, 'unixepoch')),
    'subtitle', app,
    'arg', :img_dir || datahash,
    'match', app,
    'icon', JSON_OBJECT('path', :img_dir || datahash))))
  AS JSON_RESULT FROM (
    SELECT ts, app, datahash
      FROM clipboard
      WHERE dataType IS 1
      ORDER BY ts
      DESC)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20A3B9D4-7548-4FE6-8BF8-3DCDD2A87ECB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:clipboard_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Preview Clipboard History screenshots</string>
				<key>text</key>
				<string>Clipboard Images</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EF556CE-941F-4809-9F6A-9DE52FEB5152</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>upload_to_imgur</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E7EC0B3B-EE50-47E6-9574-9BFF87D047D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9A74EAE9-E4CE-4E5B-9F4A-FE951A77C948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3A3AA900-8DF6-4C3E-BFD4-93D0CE3F0F65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2EA9894C-5C84-4A43-8BAA-A6ADE2BA0BD1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:imgur_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Take an interactive screenshot and upload it to Imgur</string>
				<key>text</key>
				<string>Screenshot to Imgur</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDB57130-8761-496D-ADE2-ACAE5F458C6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/screen-capture/screenshot.interactive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>63463DDC-6B3C-43E9-A35C-1AF718A1F2DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>is_screenshot</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>29CA78D0-485E-4111-872B-F29C62E1E534</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3F239DB8-763C-4F6E-A556-C8ABEA59694B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D43B26FE-62AD-41EE-A740-0996EF1B82CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E8CDBA37-4BFF-4B7E-88CD-3EAB5EFCD47A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
				<key>outputmode</key>
				<integer>1</integer>
				<key>shortcut</key>
				<string>Upload to Imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>2E7D33E1-4E5C-4BA1-94FF-F21292FB1834</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Upload to Imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>94526ED7-B2CC-46F0-9E61-795A4E5C447F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_screenshot}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Is Screenshot</string>
						<key>uid</key>
						<string>474CBB1E-5DFF-468B-8976-76648C33A814</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2DB0DB55-CDA5-4A5C-A49F-6EEC5DD01D34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:only_trash_screenshot}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Trash Screenshot</string>
						<key>uid</key>
						<string>474CBB1E-5DFF-468B-8976-76648C33A814</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Trash Any</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7D925F51-5AD8-439A-9C33-EBA607B435DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:image_paths}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>13D14185-7171-4FEB-A411-2A03B135639F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>image_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:image_trash}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Trash Image</string>
						<key>uid</key>
						<string>474CBB1E-5DFF-468B-8976-76648C33A814</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CF19EDF5-B524-4171-9666-AC327E9185DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>Upload to Imgur</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6E7EE798-109C-4BCB-A76E-2A117DBB3CB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>Upload to Imgur.shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>55D2CF31-D77C-4DCD-8F66-17A2265DEDDF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:image_path}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6ACA0236-EECB-4D6B-89DF-C3C386AC7EBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>upload_to_imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>268E8BE9-211F-41C4-B237-B3F6CE450FD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Install Shortcut</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>A Shorcut is required to perform this action.</string>
				<key>title</key>
				<string>Shortcut Not Installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>7D660F0C-DFA9-4ECE-B5B8-A1AA91232EDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Missing Shortcut</string>
						<key>uid</key>
						<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1583EDC8-5C32-475D-A9F6-155DC11651C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search screenshots via the `screenshots` keyword.

![Starting screenshots search](images/about/filekeyword.png)

![Showing file screenshots grid](images/about/filegrid.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; View in Alfred.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy to clipboard.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Reveal in Finder.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Upload to [Imgur](https://imgur.com).

![Showing single image](images/about/imagepreview.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Show compatible apps for opening.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy to clipboard.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Reveal in Finder.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Upload to [Imgur](https://imgur.com).
* &lt;kbd&gt;⎋&lt;/kbd&gt; Return to Grid View.

View clipboard images via the `clipimg` keyword.

![Keyword to view clipboard images](images/about/clipkeyword.png)

![Showing clipboard screenshots grid](images/about/clipgrid.png)

Take an interactive screenshot and upload it to Imgur via the `imgur` keyword.

![Take screenshot to imgur](images/about/imgurkeyword.png)

Alternatively, upload any image with the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Upload to Imgur with Universal Action](images/about/imgurua.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering.</string>
	<key>uidata</key>
	<dict>
		<key>036C0BA8-B6B3-42BF-B574-9E1551C612DA</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>116A2E68-0ACD-4B9D-897C-9345183EAC4E</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>13D14185-7171-4FEB-A411-2A03B135639F</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>1355</real>
		</dict>
		<key>1583EDC8-5C32-475D-A9F6-155DC11651C5</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>1490</real>
		</dict>
		<key>20A3B9D4-7548-4FE6-8BF8-3DCDD2A87ECB</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>268E8BE9-211F-41C4-B237-B3F6CE450FD4</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>29CA78D0-485E-4111-872B-F29C62E1E534</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>1045</real>
		</dict>
		<key>2DA7DC13-AADD-488D-A241-FC02AA754657</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>2DB0DB55-CDA5-4A5C-A49F-6EEC5DD01D34</key>
		<dict>
			<key>note</key>
			<string>Continue if screenshot</string>
			<key>xpos</key>
			<real>1330</real>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>2E7D33E1-4E5C-4BA1-94FF-F21292FB1834</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>1325</real>
		</dict>
		<key>2EA9894C-5C84-4A43-8BAA-A6ADE2BA0BD1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Interactive screenshot to Imgur</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>38434927-3CFC-41F5-A1A7-922E15E6A72C</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>39552DD6-0685-41B7-8F8B-EF36E4F9A7A3</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>1355</real>
		</dict>
		<key>3A3AA900-8DF6-4C3E-BFD4-93D0CE3F0F65</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>View clipboard images</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>3F239DB8-763C-4F6E-A556-C8ABEA59694B</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>514320D1-76D8-436E-8E72-88DE959879D5</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>5542DB4F-F786-4324-B4F6-9477892800E0</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>55D2CF31-D77C-4DCD-8F66-17A2265DEDDF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>5EF556CE-941F-4809-9F6A-9DE52FEB5152</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>63463DDC-6B3C-43E9-A35C-1AF718A1F2DA</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>1015</real>
		</dict>
		<key>6ACA0236-EECB-4D6B-89DF-C3C386AC7EBE</key>
		<dict>
			<key>xpos</key>
			<real>1410</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>6E7EE798-109C-4BCB-A76E-2A117DBB3CB5</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>7D660F0C-DFA9-4ECE-B5B8-A1AA91232EDE</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>1480</real>
		</dict>
		<key>7D925F51-5AD8-439A-9C33-EBA607B435DE</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>1345</real>
		</dict>
		<key>94526ED7-B2CC-46F0-9E61-795A4E5C447F</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1325</real>
		</dict>
		<key>9A74EAE9-E4CE-4E5B-9F4A-FE951A77C948</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>B2D9203E-E517-4CB8-A730-493493997B97</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>C0E044C2-E7F6-4AB6-971A-1A6978C31362</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>CF19EDF5-B524-4171-9666-AC327E9185DF</key>
		<dict>
			<key>note</key>
			<string>Continue if trashing</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>1355</real>
		</dict>
		<key>D43B26FE-62AD-41EE-A740-0996EF1B82CB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Upload to Imgur</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>DC6BDCBA-D8AC-4C35-8F28-1FC2F9310D89</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Search Screenshots</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>E7EC0B3B-EE50-47E6-9574-9BFF87D047D4</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>E8CDBA37-4BFF-4B7E-88CD-3EAB5EFCD47A</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>EDB57130-8761-496D-ADE2-ACAE5F458C6B</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>1015</real>
		</dict>
		<key>F4EB8BAE-5AE1-4EC9-AFFF-6E2CDA4AB4F4</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>screenshots</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Only show screenshots in Desktop</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Filters</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_desktop</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include Desktop sub folders</string>
			</dict>
			<key>description</key>
			<string>Keyword and options for searching screenshots.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_subdirectories</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>clipimg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for previewing Clipboard History screenshots.</string>
			<key>label</key>
			<string>Clipboard Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>clipboard_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>imgur</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Imgur Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>imgur_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Trash after uploading</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Image</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>image_trash</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Only trash when taking screenshot</string>
			</dict>
			<key>description</key>
			<string>Keyword and options for uploading to imgur.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_trash_screenshot</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/screenshots-workflow/</string>
</dict>
</plist>
