<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.runcommand</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>0169CF13-E2F6-4290-9AEE-7EA0A9C36E26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2CF4295-5D51-4C09-B771-7D8CCFE2A571</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFF9C1B9-5961-4167-8625-CB5393E611D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CAA79DC-4B5F-401C-910A-CFD7F264CBF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20EC4CEE-27B6-4B91-88C0-D70194E55ADF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65A0318F-7373-4FB5-8D65-2D6CD9A7035F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Delete all command history</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24E34980-03CA-4EEB-8E1C-1ADC6872DEBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87B96A7A-D8B3-47EF-B7A5-AC983268AAB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40A5C37E-AACB-47E8-92C8-B230FB2167EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FBCBD9D-715B-4C5D-B2B9-87CBBEBCC8D7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show command history</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DA99D37-10AC-4C4B-99B5-23B85DEF5CC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93033610-B643-4329-B912-B5255EE5E531</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Discard output</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40A5C37E-AACB-47E8-92C8-B230FB2167EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FBCBD9D-715B-4C5D-B2B9-87CBBEBCC8D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20EC4CEE-27B6-4B91-88C0-D70194E55ADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50DB02EF-3123-437D-B459-122809AE0F35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9749F3E7-D3B4-49D4-B865-745A2A64A20E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AA7AC83-F4A9-4ED7-80D9-1AE0BEE7BC6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40A5C37E-AACB-47E8-92C8-B230FB2167EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E34D29B-D863-47D1-A935-A962A261CC75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D9D868-3207-4223-9AA9-946296826CEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62C6E7D3-24FF-472D-AA86-2D7AF651CACD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E481CDAD-0E47-4A9E-8030-8AD94761D901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6ECB4A22-17DA-4504-808D-D23F18B1B7AF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>629E20D0-8865-4118-AB93-28C0224024F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50DB02EF-3123-437D-B459-122809AE0F35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64CD0C52-5017-4931-A280-715785390831</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AA7AC83-F4A9-4ED7-80D9-1AE0BEE7BC6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Discard output</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>65A0318F-7373-4FB5-8D65-2D6CD9A7035F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1467F357-7DAC-43B5-8AAF-9569057ACBF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90A3DBB4-01BD-4E4E-A851-E47788919C5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85888BB0-164D-4A3E-8979-9E9EB70B1F4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87B96A7A-D8B3-47EF-B7A5-AC983268AAB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E34D29B-D863-47D1-A935-A962A261CC75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DA99D37-10AC-4C4B-99B5-23B85DEF5CC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>629E20D0-8865-4118-AB93-28C0224024F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90A3DBB4-01BD-4E4E-A851-E47788919C5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24E34980-03CA-4EEB-8E1C-1ADC6872DEBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91D9D868-3207-4223-9AA9-946296826CEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D36F3109-AE3E-484C-9D15-3CA59586E6A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93033610-B643-4329-B912-B5255EE5E531</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DA99D37-10AC-4C4B-99B5-23B85DEF5CC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9749F3E7-D3B4-49D4-B865-745A2A64A20E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CAA79DC-4B5F-401C-910A-CFD7F264CBF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>53D21385-B084-44EB-9678-64EEBC7C3ED8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B702D114-8BFE-424F-84FC-F66256F0BFBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99166E6C-B6BE-4E9A-A9C2-0203ECAFA774</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20EC4CEE-27B6-4B91-88C0-D70194E55ADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B702D114-8BFE-424F-84FC-F66256F0BFBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D36F3109-AE3E-484C-9D15-3CA59586E6A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0169CF13-E2F6-4290-9AEE-7EA0A9C36E26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E481CDAD-0E47-4A9E-8030-8AD94761D901</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D36F3109-AE3E-484C-9D15-3CA59586E6A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB55FF45-A3C5-4969-AA9D-01D62F923D01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85888BB0-164D-4A3E-8979-9E9EB70B1F4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFB1DBA9-4DEB-4703-8ABD-B0B63F394D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB55FF45-A3C5-4969-AA9D-01D62F923D01</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Discard output</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85888BB0-164D-4A3E-8979-9E9EB70B1F4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99166E6C-B6BE-4E9A-A9C2-0203ECAFA774</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show command history</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run commands using your shell configuration</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Run Command</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>discard_result</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EB55FF45-A3C5-4969-AA9D-01D62F923D01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:command_keyword}</string>
				<key>subtext</key>
				<string>Run shell command on the current Finder window</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFB1DBA9-4DEB-4703-8ABD-B0B63F394D35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>history_file</key>
					<string>{const:alfred_workflow_data}/reg_history.json</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>85888BB0-164D-4A3E-8979-9E9EB70B1F4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Load configuration files
readonly config_files=(
  '/etc/profile'
  '/etc/zprofile'
  '/etc/zshenv'
  '/etc/zshrc'
  "${HOME}/.profile"
  "${HOME}/.zprofile"
  "${HOME}/.zshenv" "${HOME}/.zshrc"
)

for config_file in "${config_files[@]}"
do
  [[ -f "${config_file}" ]] &amp;&amp; source "${config_file}"
done

# Run command in current Finder folder
readonly notificator="${PWD}/notificator"
cd "${front_window}"

if eval "${raw_command}" 2&gt;&amp;1
then
  "${notificator}" --message "Command exit code: ${?}" --title 'Success'
else
  "${notificator}" --message "Command exit code: ${?}" --title 'Failure'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91D9D868-3207-4223-9AA9-946296826CEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>// Helpers
function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function readFile(path) {
  const data = $.NSFileManager.defaultManager.contentsAtPath(path)
  const string = $.NSString.alloc.initWithDataEncoding(data, $.NSUTF8StringEncoding).js
  return string
}

function writeFile(path, text) {
  $.NSString
    .alloc
    .initWithUTF8String(text)
    .writeToFileAtomicallyEncodingError(path, true, $.NSUTF8StringEncoding, undefined)
}

function newItem(command, output) {
  return {
    title: command,
    subtitle: output,
    arg: command
  }
}

// Main
function run(argv) {
  const outputErrorFile = argv[0]
  const outputError = readFile(outputErrorFile)
  const historyFile = envVar("history_file")
  const historySize = parseInt(envVar("history_size"))
  const saveCommand = envVar("raw_command")
  const fileManager = $.NSFileManager.defaultManager

  // Create history folder
  fileManager.createDirectoryAtPathWithIntermediateDirectoriesAttributesError(
    $(historyFile).stringByDeletingLastPathComponent.js,
    true, undefined, undefined)

  // If not saving history, delete file if it exists and return
  if (historySize === 0) {
    fileManager.removeItemAtPathError(historyFile, undefined)
    return
  }

  // Prepend to history
  const history = fileManager.fileExistsAtPath(historyFile) ?
    JSON.parse(readFile(historyFile)) :
    { items: [] }

  const strippedItems = history["items"].slice(0, historySize - 1) // All but the maximum minus 1
  strippedItems.unshift({ title: saveCommand, subtitle: outputError, arg: saveCommand, quicklookurl: outputErrorFile }) // Prepend new item

  writeFile(historyFile, JSON.stringify({ items: strippedItems }))
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2CF4295-5D51-4C09-B771-7D8CCFE2A571</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>history_file</key>
					<string>{const:alfred_workflow_data}/reg_history.json</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>99166E6C-B6BE-4E9A-A9C2-0203ECAFA774</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>90A3DBB4-01BD-4E4E-A851-E47788919C5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [[ ! -f "${history_file}" ]]
then
  echo '{ "items": [{
    "title": "No Command History",
    "subtitle": "Run commands to populate this list",
    "valid": false
  }]}'

  exit 0
fi

&lt; "${history_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20EC4CEE-27B6-4B91-88C0-D70194E55ADF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:use_shell}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>zsh</string>
						<key>outputlabel</key>
						<string>Zsh</string>
						<key>uid</key>
						<string>62C6E7D3-24FF-472D-AA86-2D7AF651CACD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:use_shell}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>bash</string>
						<key>outputlabel</key>
						<string>Bash</string>
						<key>uid</key>
						<string>6ECB4A22-17DA-4504-808D-D23F18B1B7AF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5E34D29B-D863-47D1-A935-A962A261CC75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>raw_command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>front_window</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>24E34980-03CA-4EEB-8E1C-1ADC6872DEBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:arg_list}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>87B96A7A-D8B3-47EF-B7A5-AC983268AAB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Load configuration files
readonly config_files=(
  '/etc/profile'
  "${HOME}/.profile"
  "${HOME}/.bash_profile"
  "${HOME}/.bashrc"
)

for config_file in "${config_files[@]}"
do
  [[ -f "${config_file}" ]] &amp;&amp; source "${config_file}"
done

# Load aliases
set_aliases='shopt -s expand_aliases'

# Run command in current Finder folder
readonly notificator="${PWD}/notificator"
cd "${front_window}"

if eval "${raw_command}" 2&gt;&amp;1
then
  "${notificator}" --message "Command exit code: ${?}" --title 'Success'
else
  "${notificator}" --message "Command exit code: ${?}" --title 'Failure'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E481CDAD-0E47-4A9E-8030-8AD94761D901</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>command.txt</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>0169CF13-E2F6-4290-9AEE-7EA0A9C36E26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>FFF9C1B9-5961-4167-8625-CB5393E611D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:discard_result}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Discard Result</string>
						<key>uid</key>
						<string>62C6E7D3-24FF-472D-AA86-2D7AF651CACD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Show Result</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D36F3109-AE3E-484C-9D15-3CA59586E6A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1467F357-7DAC-43B5-8AAF-9569057ACBF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : [
      "{const:alfred_workflow_data}",
      "{const:alfred_workflow_cache}"
    ]
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>65A0318F-7373-4FB5-8D65-2D6CD9A7035F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>history_file</key>
					<string>{const:alfred_workflow_data}/arg_history.json</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FBCBD9D-715B-4C5D-B2B9-87CBBEBCC8D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Run command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>64CD0C52-5017-4931-A280-715785390831</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>arg_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5AA7AC83-F4A9-4ED7-80D9-1AE0BEE7BC6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>“{var:placeholder}” is replaced with the Universal Action arguments</string>
				<key>text</key>
				<string>{const:alfred_workflow_name} on Files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40A5C37E-AACB-47E8-92C8-B230FB2167EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>match_string</key>
					<string>{var:placeholder}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.matching</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>629E20D0-8865-4118-AB93-28C0224024F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>{var:placeholder}</string>
				<key>replacestring</key>
				<string>"${@}"</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:unmod_input}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1CAA79DC-4B5F-401C-910A-CFD7F264CBF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>50DB02EF-3123-437D-B459-122809AE0F35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>Replace Arguments</string>
						<key>uid</key>
						<string>53D21385-B084-44EB-9678-64EEBC7C3ED8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Append Arguments</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9749F3E7-D3B4-49D4-B865-745A2A64A20E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>history_file</key>
					<string>{const:alfred_workflow_data}/arg_history.json</string>
					<key>unmod_input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8DA99D37-10AC-4C4B-99B5-23B85DEF5CC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>arg_list</key>
					<string>{query}</string>
					<key>discard_result</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\Z</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string> "${@}"</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:unmod_input}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B702D114-8BFE-424F-84FC-F66256F0BFBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>discard_result</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>93033610-B643-4329-B912-B5255EE5E531</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Run shell commands without opening a terminal via the `cmd` keyword. Your shell’s configuration files will be loaded, making your custom aliases, functions, and more available to the environment. Commands execute relative to the frontmost Finder window to allow quick changes on the current working folder. Exit status is shown as a notification and output in a [Text View](https://www.alfredapp.com/help/workflows/userinterface/text/).

![Sending command](images/about/cmd.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Run the command.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Run command but do not open output in Text View.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Show command history to rerun a command.

Use the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/) to send files and text as arguments to a command. If the placeholder from the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/) is present in the text, it will be replaced with your arguments, otherwise they are appended to the end.

![Universal Action selecting files](images/about/ua.png)

![Universal Action command](images/about/uacommand.png)

The same modifiers apply. Separate command histories are created for commands ran with the Keyword or the Universal Action.

![Command history](images/about/history.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Run command.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Delete all command histories and saved outputs.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; (or tap &lt;kbd&gt;⇧&lt;/kbd&gt;) Quick Look saved output.</string>
	<key>uidata</key>
	<dict>
		<key>0169CF13-E2F6-4290-9AEE-7EA0A9C36E26</key>
		<dict>
			<key>xpos</key>
			<real>2290</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>1467F357-7DAC-43B5-8AAF-9569057ACBF5</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>1CAA79DC-4B5F-401C-910A-CFD7F264CBF2</key>
		<dict>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>20EC4CEE-27B6-4B91-88C0-D70194E55ADF</key>
		<dict>
			<key>note</key>
			<string>Show command history</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>24E34980-03CA-4EEB-8E1C-1ADC6872DEBC</key>
		<dict>
			<key>xpos</key>
			<real>1620</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>40A5C37E-AACB-47E8-92C8-B230FB2167EF</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>448FD2E2-228E-4F9A-88A8-F1FC1035FAEC</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>4FBCBD9D-715B-4C5D-B2B9-87CBBEBCC8D7</key>
		<dict>
			<key>note</key>
			<string>Set history file</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>50DB02EF-3123-437D-B459-122809AE0F35</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>5AA7AC83-F4A9-4ED7-80D9-1AE0BEE7BC6E</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>5E34D29B-D863-47D1-A935-A962A261CC75</key>
		<dict>
			<key>xpos</key>
			<real>1785</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>629E20D0-8865-4118-AB93-28C0224024F4</key>
		<dict>
			<key>note</key>
			<string>Match in argument instead of using a Conditional because we’d need to match for a regex and the placeholder may include special characters</string>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>64CD0C52-5017-4931-A280-715785390831</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>65A0318F-7373-4FB5-8D65-2D6CD9A7035F</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>7D3F25A1-7BE4-428A-8EAF-003404ABEF48</key>
		<dict>
			<key>xpos</key>
			<real>1365</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>85888BB0-164D-4A3E-8979-9E9EB70B1F4E</key>
		<dict>
			<key>note</key>
			<string>Set history file</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>87B96A7A-D8B3-47EF-B7A5-AC983268AAB2</key>
		<dict>
			<key>xpos</key>
			<real>1705</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>8DA99D37-10AC-4C4B-99B5-23B85DEF5CC3</key>
		<dict>
			<key>note</key>
			<string>Set history file</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>90A3DBB4-01BD-4E4E-A851-E47788919C5E</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>91D9D868-3207-4223-9AA9-946296826CEF</key>
		<dict>
			<key>xpos</key>
			<real>1890</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>93033610-B643-4329-B912-B5255EE5E531</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>9749F3E7-D3B4-49D4-B865-745A2A64A20E</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>99166E6C-B6BE-4E9A-A9C2-0203ECAFA774</key>
		<dict>
			<key>note</key>
			<string>Set history file</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>B702D114-8BFE-424F-84FC-F66256F0BFBA</key>
		<dict>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>C2CF4295-5D51-4C09-B771-7D8CCFE2A571</key>
		<dict>
			<key>note</key>
			<string>Write history file</string>
			<key>xpos</key>
			<real>2480</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>D36F3109-AE3E-484C-9D15-3CA59586E6A8</key>
		<dict>
			<key>xpos</key>
			<real>2105</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>E481CDAD-0E47-4A9E-8030-8AD94761D901</key>
		<dict>
			<key>xpos</key>
			<real>1890</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>EB55FF45-A3C5-4969-AA9D-01D62F923D01</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>EFB1DBA9-4DEB-4703-8ABD-B0B63F394D35</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>FFF9C1B9-5961-4167-8625-CB5393E611D8</key>
		<dict>
			<key>xpos</key>
			<real>2480</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cmd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Command Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>command_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>{}</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>When running via the Universal Action, this text in your command is replaced with the passed-in arguments.
If it is not present, arguments are appended to the end.</string>
			<key>label</key>
			<string>Placeholder</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>placeholder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>zsh</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Zsh</string>
						<string>zsh</string>
					</array>
					<array>
						<string>Bash</string>
						<string>bash</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Shell</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>use_shell</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>20</integer>
				<key>markercount</key>
				<integer>21</integer>
				<key>maxvalue</key>
				<integer>100</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>History Size</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>history_size</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/run-command-workflow/</string>
</dict>
</plist>
