<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.criticratings</string>
	<key>connections</key>
	<dict>
		<key>325E0A83-2F46-4696-80F4-7D41608F65DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A78E27E-363C-4575-B0DE-587838EFA355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60BB03CF-3C47-44A7-B771-0280E21CFB17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65C4285D-190F-4FBC-966D-6408AE848575</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67A6E1D9-50C9-4D4E-A370-C03E5C1B2FA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60BB03CF-3C47-44A7-B771-0280E21CFB17</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search Manga</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A26E6104-0846-4AA3-BDCF-A8F2A3C4B4BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E526FE2-15B0-4AE4-B3E7-64C1A4DF3520</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A78E27E-363C-4575-B0DE-587838EFA355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A26E6104-0846-4AA3-BDCF-A8F2A3C4B4BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E526FE2-15B0-4AE4-B3E7-64C1A4DF3520</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A54200DB-B70F-4C76-9F19-F8C1F649BB92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A26E6104-0846-4AA3-BDCF-A8F2A3C4B4BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C14BA972-3BB7-49E9-BBA7-135B08D0BD0C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search Anime</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C14BA972-3BB7-49E9-BBA7-135B08D0BD0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E109118E-9402-4762-84EA-B5B63E024116</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>See ratings for movies, TV shows, anime, and manga</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Critic Ratings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A78E27E-363C-4575-B0DE-587838EFA355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:metacritic_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>metacritic</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search movies, TV shows, and games on Metacritic</string>
				<key>title</key>
				<string>Search Metacritic</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>325E0A83-2F46-4696-80F4-7D41608F65DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:anime_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string>./anilist "${1}" 'anime'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Anime on AniList.co</string>
				<key>title</key>
				<string>Anime Ratings</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search_anime</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67A6E1D9-50C9-4D4E-A370-C03E5C1B2FA0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search_manga</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>65C4285D-190F-4FBC-966D-6408AE848575</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:search_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>60BB03CF-3C47-44A7-B771-0280E21CFB17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8E526FE2-15B0-4AE4-B3E7-64C1A4DF3520</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A26E6104-0846-4AA3-BDCF-A8F2A3C4B4BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search_anime</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E109118E-9402-4762-84EA-B5B63E024116</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:manga_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string>./anilist "${1}" 'manga'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Manga on AniList.co</string>
				<key>title</key>
				<string>Manga Ratings</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search_manga</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A54200DB-B70F-4C76-9F19-F8C1F649BB92</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:search_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C14BA972-3BB7-49E9-BBA7-135B08D0BD0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search [Metacritic](https://www.metacritic.com) for movies, TV shows, and games via the `metacritic` keyword.

![Searching metacritic](images/about/metacritic.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open entry on website.
* &lt;kbd&gt;⌥&lt;/kbd&gt; Show description.

Search [AniList](https://anilist.co) via the `anime` and `manga` keywords.

![Searching anime](images/about/anime.png)

![Searching manga](images/about/manga.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open entry on website.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Flip between searching anime or manga.
* &lt;kbd&gt;⌥&lt;/kbd&gt; Show description.</string>
	<key>uidata</key>
	<dict>
		<key>1A78E27E-363C-4575-B0DE-587838EFA355</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>325E0A83-2F46-4696-80F4-7D41608F65DC</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>60BB03CF-3C47-44A7-B771-0280E21CFB17</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>65C4285D-190F-4FBC-966D-6408AE848575</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>67A6E1D9-50C9-4D4E-A370-C03E5C1B2FA0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>8E526FE2-15B0-4AE4-B3E7-64C1A4DF3520</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>A26E6104-0846-4AA3-BDCF-A8F2A3C4B4BD</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>A54200DB-B70F-4C76-9F19-F8C1F649BB92</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>C14BA972-3BB7-49E9-BBA7-135B08D0BD0C</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>E109118E-9402-4762-84EA-B5B63E024116</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>metacritic</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Metacritic Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>metacritic_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>anime</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Anime Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>anime_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>manga</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Manga Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>manga_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>60</integer>
				<key>markercount</key>
				<integer>11</integer>
				<key>maxvalue</key>
				<integer>100</integer>
				<key>minvalue</key>
				<integer>50</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Negative Threshold</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>negative_threshold</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>80</integer>
				<key>markercount</key>
				<integer>11</integer>
				<key>maxvalue</key>
				<integer>100</integer>
				<key>minvalue</key>
				<integer>50</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Thresholds to define negative, mixed, and positive rating.</string>
			<key>label</key>
			<string>Positive Threshold</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>positive_threshold</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.3</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/critic-ratings-workflow/</string>
</dict>
</plist>
