<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gilbarbara.mdn-search</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>B8068536-AE17-4368-AB7E-9AB402E79AAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B880FB3B-9AAA-48ED-A646-05935287E399</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gil Barbara</string>
	<key>description</key>
	<string>Search MDN</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MDN Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>mdn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH
php -f search.php -- "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>ex: mdn addEventListener</string>
				<key>title</key>
				<string>mdn {search}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8068536-AE17-4368-AB7E-9AB402E79AAB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B880FB3B-9AAA-48ED-A646-05935287E399</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search MDN, the learning platform for Web technologies and the software that powers the Web, including:

- Web standards such as CSS, HTML, and JavaScript
- Open Web app development
- Firefox add-on development

https://developer.mozilla.org/
	</string>
	<key>uidata</key>
	<dict>
		<key>B8068536-AE17-4368-AB7E-9AB402E79AAB</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>B880FB3B-9AAA-48ED-A646-05935287E399</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/gilbarbara/alfred-workflows/tree/master/mdn-search</string>
</dict>
</plist>
