<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.nikitadev.translate</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>106F3E8A-2E39-4271-926D-A914AB923F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>651FC5D3-99B6-45E2-A896-01E2A7D3393C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3FBBE375-C914-4AC3-9A98-31E268F25295</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2D5C5DA-1EAE-4512-B453-DEB6657BA96B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>106F3E8A-2E39-4271-926D-A914AB923F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Meshchaninov</string>
	<key>description</key>
	<string>Translate text or words to selected language</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>651FC5D3-99B6-45E2-A896-01E2A7D3393C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Translating text...</string>
				<key>script</key>
				<string>python3 ./main.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translate to {var:output_language} or {var:input_language}</string>
				<key>title</key>
				<string>Write text to translate</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>106F3E8A-2E39-4271-926D-A914AB923F97</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D2D5C5DA-1EAE-4512-B453-DEB6657BA96B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3FBBE375-C914-4AC3-9A98-31E268F25295</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage
Translate words or sentences to another language via the `t` keyword.
![preview](images/preview.png)
![preview2](images/preview2.png)
↩: Copy translate to the clipboard.
⇧ + ↩: Paste translate to active app.
By default, translate any language to Russian, setup your language in the **workflow settings**.</string>
	<key>uidata</key>
	<dict>
		<key>106F3E8A-2E39-4271-926D-A914AB923F97</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>3FBBE375-C914-4AC3-9A98-31E268F25295</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>651FC5D3-99B6-45E2-A896-01E2A7D3393C</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>D2D5C5DA-1EAE-4512-B453-DEB6657BA96B</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ru</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Afrikaans</string>
						<string>af</string>
					</array>
					<array>
						<string>Albanian</string>
						<string>sq</string>
					</array>
					<array>
						<string>Amharic</string>
						<string>am</string>
					</array>
					<array>
						<string>Arabic</string>
						<string>ar</string>
					</array>
					<array>
						<string>Armenian</string>
						<string>hy</string>
					</array>
					<array>
						<string>Assamese</string>
						<string>as</string>
					</array>
					<array>
						<string>Aymara</string>
						<string>ay</string>
					</array>
					<array>
						<string>Azerbaijani</string>
						<string>az</string>
					</array>
					<array>
						<string>Bambara</string>
						<string>bm</string>
					</array>
					<array>
						<string>Basque</string>
						<string>eu</string>
					</array>
					<array>
						<string>Belarusian</string>
						<string>be</string>
					</array>
					<array>
						<string>Bengali</string>
						<string>bn</string>
					</array>
					<array>
						<string>Bhojpuri</string>
						<string>bho</string>
					</array>
					<array>
						<string>Bosnian</string>
						<string>bs</string>
					</array>
					<array>
						<string>Bulgarian</string>
						<string>bg</string>
					</array>
					<array>
						<string>Catalan</string>
						<string>ca</string>
					</array>
					<array>
						<string>Cebuano</string>
						<string>ceb</string>
					</array>
					<array>
						<string>Chinese (Simplified)</string>
						<string>zh-CN</string>
					</array>
					<array>
						<string>Chinese (Traditional)</string>
						<string>zh-TW</string>
					</array>
					<array>
						<string>Corsican</string>
						<string>co</string>
					</array>
					<array>
						<string>Croatian</string>
						<string>hr</string>
					</array>
					<array>
						<string>Czech</string>
						<string>cs</string>
					</array>
					<array>
						<string>Danish</string>
						<string>da</string>
					</array>
					<array>
						<string>Dhivehi</string>
						<string>dv</string>
					</array>
					<array>
						<string>Dogri</string>
						<string>doi</string>
					</array>
					<array>
						<string>Dutch</string>
						<string>nl</string>
					</array>
					<array>
						<string>English</string>
						<string>en</string>
					</array>
					<array>
						<string>Esperanto</string>
						<string>eo</string>
					</array>
					<array>
						<string>Estonian</string>
						<string>et</string>
					</array>
					<array>
						<string>Ewe</string>
						<string>ee</string>
					</array>
					<array>
						<string>Filipino (Tagalog)</string>
						<string>fil</string>
					</array>
					<array>
						<string>Finnish</string>
						<string>fi</string>
					</array>
					<array>
						<string>French</string>
						<string>fr</string>
					</array>
					<array>
						<string>Frisian</string>
						<string>fy</string>
					</array>
					<array>
						<string>Galician</string>
						<string>gl</string>
					</array>
					<array>
						<string>Georgian</string>
						<string>ka</string>
					</array>
					<array>
						<string>German</string>
						<string>de</string>
					</array>
					<array>
						<string>Greek</string>
						<string>el</string>
					</array>
					<array>
						<string>Guarani</string>
						<string>gn</string>
					</array>
					<array>
						<string>Gujarati</string>
						<string>gu</string>
					</array>
					<array>
						<string>Haitian Creole</string>
						<string>ht</string>
					</array>
					<array>
						<string>Hausa</string>
						<string>ha</string>
					</array>
					<array>
						<string>Hawaiian</string>
						<string>haw</string>
					</array>
					<array>
						<string>Hebrew</string>
						<string>he</string>
					</array>
					<array>
						<string>Hindi</string>
						<string>hi</string>
					</array>
					<array>
						<string>Hmong</string>
						<string>hmn</string>
					</array>
					<array>
						<string>Hungarian</string>
						<string>hu</string>
					</array>
					<array>
						<string>Icelandic</string>
						<string>is</string>
					</array>
					<array>
						<string>Igbo</string>
						<string>ig</string>
					</array>
					<array>
						<string>Ilocano</string>
						<string>ilo</string>
					</array>
					<array>
						<string>Indonesian</string>
						<string>id</string>
					</array>
					<array>
						<string>Irish</string>
						<string>ga</string>
					</array>
					<array>
						<string>Italian</string>
						<string>it</string>
					</array>
					<array>
						<string>Japanese</string>
						<string>ja</string>
					</array>
					<array>
						<string>Javanese</string>
						<string>jv</string>
					</array>
					<array>
						<string>Kannada</string>
						<string>kn</string>
					</array>
					<array>
						<string>Kazakh</string>
						<string>kk</string>
					</array>
					<array>
						<string>Khmer</string>
						<string>km</string>
					</array>
					<array>
						<string>Kinyarwanda</string>
						<string>rw</string>
					</array>
					<array>
						<string>Konkani</string>
						<string>gom</string>
					</array>
					<array>
						<string>Korean</string>
						<string>ko</string>
					</array>
					<array>
						<string>Krio</string>
						<string>kri</string>
					</array>
					<array>
						<string>Kurdish</string>
						<string>ku</string>
					</array>
					<array>
						<string>Kurdish (Sorani)</string>
						<string>ckb</string>
					</array>
					<array>
						<string>Kyrgyz</string>
						<string>ky</string>
					</array>
					<array>
						<string>Lao</string>
						<string>lo</string>
					</array>
					<array>
						<string>Latin</string>
						<string>la</string>
					</array>
					<array>
						<string>Latvian</string>
						<string>lv</string>
					</array>
					<array>
						<string>Lingala</string>
						<string>ln</string>
					</array>
					<array>
						<string>Lithuanian</string>
						<string>lt</string>
					</array>
					<array>
						<string>Luganda</string>
						<string>lg</string>
					</array>
					<array>
						<string>Luxembourgish</string>
						<string>lb</string>
					</array>
					<array>
						<string>Macedonian</string>
						<string>mk</string>
					</array>
					<array>
						<string>Maithili</string>
						<string>mai</string>
					</array>
					<array>
						<string>Malagasy</string>
						<string>mg</string>
					</array>
					<array>
						<string>Malay</string>
						<string>ms</string>
					</array>
					<array>
						<string>Malayalam</string>
						<string>ml</string>
					</array>
					<array>
						<string>Maltese</string>
						<string>mt</string>
					</array>
					<array>
						<string>Maori</string>
						<string>mi</string>
					</array>
					<array>
						<string>Marathi</string>
						<string>mr</string>
					</array>
					<array>
						<string>Meiteilon (Manipuri)</string>
						<string>mni-Mtei</string>
					</array>
					<array>
						<string>Mizo</string>
						<string>lus</string>
					</array>
					<array>
						<string>Mongolian</string>
						<string>mn</string>
					</array>
					<array>
						<string>Myanmar (Burmese)</string>
						<string>my</string>
					</array>
					<array>
						<string>Nepali</string>
						<string>ne</string>
					</array>
					<array>
						<string>Norwegian</string>
						<string>no</string>
					</array>
					<array>
						<string>Nyanja (Chichewa)</string>
						<string>ny</string>
					</array>
					<array>
						<string>Odia (Oriya)</string>
						<string>or</string>
					</array>
					<array>
						<string>Oromo</string>
						<string>om</string>
					</array>
					<array>
						<string>Pashto</string>
						<string>ps</string>
					</array>
					<array>
						<string>Persian</string>
						<string>fa</string>
					</array>
					<array>
						<string>Polish</string>
						<string>pl</string>
					</array>
					<array>
						<string>Portuguese (Portugal, Brazil)</string>
						<string>pt</string>
					</array>
					<array>
						<string>Punjabi</string>
						<string>pa</string>
					</array>
					<array>
						<string>Quechua</string>
						<string>qu</string>
					</array>
					<array>
						<string>Romanian</string>
						<string>ro</string>
					</array>
					<array>
						<string>Russian</string>
						<string>ru</string>
					</array>
					<array>
						<string>Samoan</string>
						<string>sm</string>
					</array>
					<array>
						<string>Sanskrit</string>
						<string>sa</string>
					</array>
					<array>
						<string>Scots Gaelic</string>
						<string>gd</string>
					</array>
					<array>
						<string>Sepedi</string>
						<string>nso</string>
					</array>
					<array>
						<string>Serbian</string>
						<string>sr</string>
					</array>
					<array>
						<string>Sesotho</string>
						<string>st</string>
					</array>
					<array>
						<string>Shona</string>
						<string>sn</string>
					</array>
					<array>
						<string>Sindhi</string>
						<string>sd</string>
					</array>
					<array>
						<string>Sinhala (Sinhalese)</string>
						<string>si</string>
					</array>
					<array>
						<string>Slovak</string>
						<string>sk</string>
					</array>
					<array>
						<string>Slovenian</string>
						<string>sl</string>
					</array>
					<array>
						<string>Somali</string>
						<string>so</string>
					</array>
					<array>
						<string>Spanish</string>
						<string>es</string>
					</array>
					<array>
						<string>Sundanese</string>
						<string>su</string>
					</array>
					<array>
						<string>Swahili</string>
						<string>sw</string>
					</array>
					<array>
						<string>Swedish</string>
						<string>sv</string>
					</array>
					<array>
						<string>Tagalog (Filipino)</string>
						<string>tl</string>
					</array>
					<array>
						<string>Tajik</string>
						<string>tg</string>
					</array>
					<array>
						<string>Tamil</string>
						<string>ta</string>
					</array>
					<array>
						<string>Tatar</string>
						<string>tt</string>
					</array>
					<array>
						<string>Telugu</string>
						<string>te</string>
					</array>
					<array>
						<string>Thai</string>
						<string>th</string>
					</array>
					<array>
						<string>Tigrinya</string>
						<string>ti</string>
					</array>
					<array>
						<string>Tsonga</string>
						<string>ts</string>
					</array>
					<array>
						<string>Turkish</string>
						<string>tr</string>
					</array>
					<array>
						<string>Turkmen</string>
						<string>tk</string>
					</array>
					<array>
						<string>Twi (Akan)</string>
						<string>ak</string>
					</array>
					<array>
						<string>Ukrainian</string>
						<string>uk</string>
					</array>
					<array>
						<string>Urdu</string>
						<string>ur</string>
					</array>
					<array>
						<string>Uyghur</string>
						<string>ug</string>
					</array>
					<array>
						<string>Uzbek</string>
						<string>uz</string>
					</array>
					<array>
						<string>Vietnamese</string>
						<string>vi</string>
					</array>
					<array>
						<string>Welsh</string>
						<string>cy</string>
					</array>
					<array>
						<string>Xhosa</string>
						<string>xh</string>
					</array>
					<array>
						<string>Yiddish</string>
						<string>yi</string>
					</array>
					<array>
						<string>Yoruba</string>
						<string>yo</string>
					</array>
					<array>
						<string>Zulu</string>
						<string>zu</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Target language into which the text will be translated</string>
			<key>label</key>
			<string>Target language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>output_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Afrikaans</string>
						<string>af</string>
					</array>
					<array>
						<string>Albanian</string>
						<string>sq</string>
					</array>
					<array>
						<string>Amharic</string>
						<string>am</string>
					</array>
					<array>
						<string>Arabic</string>
						<string>ar</string>
					</array>
					<array>
						<string>Armenian</string>
						<string>hy</string>
					</array>
					<array>
						<string>Assamese</string>
						<string>as</string>
					</array>
					<array>
						<string>Aymara</string>
						<string>ay</string>
					</array>
					<array>
						<string>Azerbaijani</string>
						<string>az</string>
					</array>
					<array>
						<string>Bambara</string>
						<string>bm</string>
					</array>
					<array>
						<string>Basque</string>
						<string>eu</string>
					</array>
					<array>
						<string>Belarusian</string>
						<string>be</string>
					</array>
					<array>
						<string>Bengali</string>
						<string>bn</string>
					</array>
					<array>
						<string>Bhojpuri</string>
						<string>bho</string>
					</array>
					<array>
						<string>Bosnian</string>
						<string>bs</string>
					</array>
					<array>
						<string>Bulgarian</string>
						<string>bg</string>
					</array>
					<array>
						<string>Catalan</string>
						<string>ca</string>
					</array>
					<array>
						<string>Cebuano</string>
						<string>ceb</string>
					</array>
					<array>
						<string>Chinese (Simplified)</string>
						<string>zh-CN</string>
					</array>
					<array>
						<string>Chinese (Traditional)</string>
						<string>zh-TW</string>
					</array>
					<array>
						<string>Corsican</string>
						<string>co</string>
					</array>
					<array>
						<string>Croatian</string>
						<string>hr</string>
					</array>
					<array>
						<string>Czech</string>
						<string>cs</string>
					</array>
					<array>
						<string>Danish</string>
						<string>da</string>
					</array>
					<array>
						<string>Dhivehi</string>
						<string>dv</string>
					</array>
					<array>
						<string>Dogri</string>
						<string>doi</string>
					</array>
					<array>
						<string>Dutch</string>
						<string>nl</string>
					</array>
					<array>
						<string>English</string>
						<string>en</string>
					</array>
					<array>
						<string>Esperanto</string>
						<string>eo</string>
					</array>
					<array>
						<string>Estonian</string>
						<string>et</string>
					</array>
					<array>
						<string>Ewe</string>
						<string>ee</string>
					</array>
					<array>
						<string>Filipino (Tagalog)</string>
						<string>fil</string>
					</array>
					<array>
						<string>Finnish</string>
						<string>fi</string>
					</array>
					<array>
						<string>French</string>
						<string>fr</string>
					</array>
					<array>
						<string>Frisian</string>
						<string>fy</string>
					</array>
					<array>
						<string>Galician</string>
						<string>gl</string>
					</array>
					<array>
						<string>Georgian</string>
						<string>ka</string>
					</array>
					<array>
						<string>German</string>
						<string>de</string>
					</array>
					<array>
						<string>Greek</string>
						<string>el</string>
					</array>
					<array>
						<string>Guarani</string>
						<string>gn</string>
					</array>
					<array>
						<string>Gujarati</string>
						<string>gu</string>
					</array>
					<array>
						<string>Haitian Creole</string>
						<string>ht</string>
					</array>
					<array>
						<string>Hausa</string>
						<string>ha</string>
					</array>
					<array>
						<string>Hawaiian</string>
						<string>haw</string>
					</array>
					<array>
						<string>Hebrew</string>
						<string>he</string>
					</array>
					<array>
						<string>Hindi</string>
						<string>hi</string>
					</array>
					<array>
						<string>Hmong</string>
						<string>hmn</string>
					</array>
					<array>
						<string>Hungarian</string>
						<string>hu</string>
					</array>
					<array>
						<string>Icelandic</string>
						<string>is</string>
					</array>
					<array>
						<string>Igbo</string>
						<string>ig</string>
					</array>
					<array>
						<string>Ilocano</string>
						<string>ilo</string>
					</array>
					<array>
						<string>Indonesian</string>
						<string>id</string>
					</array>
					<array>
						<string>Irish</string>
						<string>ga</string>
					</array>
					<array>
						<string>Italian</string>
						<string>it</string>
					</array>
					<array>
						<string>Japanese</string>
						<string>ja</string>
					</array>
					<array>
						<string>Javanese</string>
						<string>jv</string>
					</array>
					<array>
						<string>Kannada</string>
						<string>kn</string>
					</array>
					<array>
						<string>Kazakh</string>
						<string>kk</string>
					</array>
					<array>
						<string>Khmer</string>
						<string>km</string>
					</array>
					<array>
						<string>Kinyarwanda</string>
						<string>rw</string>
					</array>
					<array>
						<string>Konkani</string>
						<string>gom</string>
					</array>
					<array>
						<string>Korean</string>
						<string>ko</string>
					</array>
					<array>
						<string>Krio</string>
						<string>kri</string>
					</array>
					<array>
						<string>Kurdish</string>
						<string>ku</string>
					</array>
					<array>
						<string>Kurdish (Sorani)</string>
						<string>ckb</string>
					</array>
					<array>
						<string>Kyrgyz</string>
						<string>ky</string>
					</array>
					<array>
						<string>Lao</string>
						<string>lo</string>
					</array>
					<array>
						<string>Latin</string>
						<string>la</string>
					</array>
					<array>
						<string>Latvian</string>
						<string>lv</string>
					</array>
					<array>
						<string>Lingala</string>
						<string>ln</string>
					</array>
					<array>
						<string>Lithuanian</string>
						<string>lt</string>
					</array>
					<array>
						<string>Luganda</string>
						<string>lg</string>
					</array>
					<array>
						<string>Luxembourgish</string>
						<string>lb</string>
					</array>
					<array>
						<string>Macedonian</string>
						<string>mk</string>
					</array>
					<array>
						<string>Maithili</string>
						<string>mai</string>
					</array>
					<array>
						<string>Malagasy</string>
						<string>mg</string>
					</array>
					<array>
						<string>Malay</string>
						<string>ms</string>
					</array>
					<array>
						<string>Malayalam</string>
						<string>ml</string>
					</array>
					<array>
						<string>Maltese</string>
						<string>mt</string>
					</array>
					<array>
						<string>Maori</string>
						<string>mi</string>
					</array>
					<array>
						<string>Marathi</string>
						<string>mr</string>
					</array>
					<array>
						<string>Meiteilon (Manipuri)</string>
						<string>mni-Mtei</string>
					</array>
					<array>
						<string>Mizo</string>
						<string>lus</string>
					</array>
					<array>
						<string>Mongolian</string>
						<string>mn</string>
					</array>
					<array>
						<string>Myanmar (Burmese)</string>
						<string>my</string>
					</array>
					<array>
						<string>Nepali</string>
						<string>ne</string>
					</array>
					<array>
						<string>Norwegian</string>
						<string>no</string>
					</array>
					<array>
						<string>Nyanja (Chichewa)</string>
						<string>ny</string>
					</array>
					<array>
						<string>Odia (Oriya)</string>
						<string>or</string>
					</array>
					<array>
						<string>Oromo</string>
						<string>om</string>
					</array>
					<array>
						<string>Pashto</string>
						<string>ps</string>
					</array>
					<array>
						<string>Persian</string>
						<string>fa</string>
					</array>
					<array>
						<string>Polish</string>
						<string>pl</string>
					</array>
					<array>
						<string>Portuguese (Portugal, Brazil)</string>
						<string>pt</string>
					</array>
					<array>
						<string>Punjabi</string>
						<string>pa</string>
					</array>
					<array>
						<string>Quechua</string>
						<string>qu</string>
					</array>
					<array>
						<string>Romanian</string>
						<string>ro</string>
					</array>
					<array>
						<string>Russian</string>
						<string>ru</string>
					</array>
					<array>
						<string>Samoan</string>
						<string>sm</string>
					</array>
					<array>
						<string>Sanskrit</string>
						<string>sa</string>
					</array>
					<array>
						<string>Scots Gaelic</string>
						<string>gd</string>
					</array>
					<array>
						<string>Sepedi</string>
						<string>nso</string>
					</array>
					<array>
						<string>Serbian</string>
						<string>sr</string>
					</array>
					<array>
						<string>Sesotho</string>
						<string>st</string>
					</array>
					<array>
						<string>Shona</string>
						<string>sn</string>
					</array>
					<array>
						<string>Sindhi</string>
						<string>sd</string>
					</array>
					<array>
						<string>Sinhala (Sinhalese)</string>
						<string>si</string>
					</array>
					<array>
						<string>Slovak</string>
						<string>sk</string>
					</array>
					<array>
						<string>Slovenian</string>
						<string>sl</string>
					</array>
					<array>
						<string>Somali</string>
						<string>so</string>
					</array>
					<array>
						<string>Spanish</string>
						<string>es</string>
					</array>
					<array>
						<string>Sundanese</string>
						<string>su</string>
					</array>
					<array>
						<string>Swahili</string>
						<string>sw</string>
					</array>
					<array>
						<string>Swedish</string>
						<string>sv</string>
					</array>
					<array>
						<string>Tagalog (Filipino)</string>
						<string>tl</string>
					</array>
					<array>
						<string>Tajik</string>
						<string>tg</string>
					</array>
					<array>
						<string>Tamil</string>
						<string>ta</string>
					</array>
					<array>
						<string>Tatar</string>
						<string>tt</string>
					</array>
					<array>
						<string>Telugu</string>
						<string>te</string>
					</array>
					<array>
						<string>Thai</string>
						<string>th</string>
					</array>
					<array>
						<string>Tigrinya</string>
						<string>ti</string>
					</array>
					<array>
						<string>Tsonga</string>
						<string>ts</string>
					</array>
					<array>
						<string>Turkish</string>
						<string>tr</string>
					</array>
					<array>
						<string>Turkmen</string>
						<string>tk</string>
					</array>
					<array>
						<string>Twi (Akan)</string>
						<string>ak</string>
					</array>
					<array>
						<string>Ukrainian</string>
						<string>uk</string>
					</array>
					<array>
						<string>Urdu</string>
						<string>ur</string>
					</array>
					<array>
						<string>Uyghur</string>
						<string>ug</string>
					</array>
					<array>
						<string>Uzbek</string>
						<string>uz</string>
					</array>
					<array>
						<string>Vietnamese</string>
						<string>vi</string>
					</array>
					<array>
						<string>Welsh</string>
						<string>cy</string>
					</array>
					<array>
						<string>Xhosa</string>
						<string>xh</string>
					</array>
					<array>
						<string>Yiddish</string>
						<string>yi</string>
					</array>
					<array>
						<string>Yoruba</string>
						<string>yo</string>
					</array>
					<array>
						<string>Zulu</string>
						<string>zu</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the language into which the text will be translated, if it is written in target language</string>
			<key>label</key>
			<string>Input language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>input_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>t</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that activates the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2.3</string>
	<key>webaddress</key>
	<string>https://nikita.ninja</string>
</dict>
</plist>
