<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.system-information</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>0374B2C9-BC32-4520-B8FC-826A3F26C196</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB66B929-10AD-4715-A5A6-D4B43B43CECC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08FF165B-3950-4760-9A48-5996704B1C65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDF63B46-8376-4578-B3D1-6AF2ECC6ABFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98BB46BE-52EE-46AA-AC87-9ED091180E9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9BC46C8-7E66-4A96-9BAB-8A7568787068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A25DDA0D-DA11-46FF-9CCB-41D3D338B420</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B8645C1-776A-41E4-B093-DF59FEF6D696</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C129402F-060A-4E14-A919-D21FCE15A4A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A25DDA0D-DA11-46FF-9CCB-41D3D338B420</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C581B232-CDA3-4651-BAB4-32144FECFB52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08FF165B-3950-4760-9A48-5996704B1C65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6190251-1CA6-4563-B6A9-600A8F0DD885</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4A97FBA-5CBA-4449-9044-CFD69762CA19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F237B22E-6247-4FA6-899C-A9CA938AFED5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6190251-1CA6-4563-B6A9-600A8F0DD885</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System Information &amp; Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Shortcuts" to run shortcut "Reset Bluetooth"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9BC46C8-7E66-4A96-9BAB-8A7568787068</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>blue reset</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔄 Module Reset</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>98BB46BE-52EE-46AA-AC87-9ED091180E9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n | ioreg -r -d 1 -k BatteryPercent | egrep '("BatteryPercent"|"Product") ' | cut -d "=" -f 2 | sed -E 's/^ //g' | sed -E 's/\"//g' | sed -E 's/(^[0-9]{1,3})/(\1%)/g' | tr "\n" ";" | sed -E 's/);/)\n/g' | tr ";" "  "</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6190251-1CA6-4563-B6A9-600A8F0DD885</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🔋 Battery</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4A97FBA-5CBA-4449-9044-CFD69762CA19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>battery</string>
				<key>subtext</key>
				<string>Periphery Devices</string>
				<key>text</key>
				<string>📊 Show Battery</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F237B22E-6247-4FA6-899C-A9CA938AFED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uptime</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📊 Uptime &amp; Last Reboots</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C129402F-060A-4E14-A919-D21FCE15A4A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "🕓 Uptime"
echo "========="
echo | uptime | cut -d "," -f 1,2 | cut -c 11-
echo ""
echo " 🥾 Last 10 Reboots"
echo "=============="
echo | last reboot | head -n 10 | cut -c 37-</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A25DDA0D-DA11-46FF-9CCB-41D3D338B420</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8B8645C1-776A-41E4-B093-DF59FEF6D696</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "🖥 Disk Usage"
echo "============="
echo " Total  Used    Avai."
echo | df -h | grep -e "Data$" | cut -c 16-35
echo ""
echo " 📊 Homefolder"
echo "=============="
homef_length=`echo ~ | wc -c`
du -sh ~/* | cut -c `echo $(($homef_length + 5))-`,-5</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08FF165B-3950-4760-9A48-5996704B1C65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Menlo</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>FDF63B46-8376-4578-B3D1-6AF2ECC6ABFE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>disk space</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📊 Disk Space</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C581B232-CDA3-4651-BAB4-32144FECFB52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	set _app to the name of every process whose frontmost is trueend telldo shell script "pkill  " &amp; (item 1 of _app)

repeat until application named _app is not running 
	delay 0.5
end repeat
delay 0.5
tell application named _app to activate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB66B929-10AD-4715-A5A6-D4B43B43CECC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0374B2C9-BC32-4520-B8FC-826A3F26C196</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>dependency https://github.com/toy/blueutil</string>
	<key>uidata</key>
	<dict>
		<key>0374B2C9-BC32-4520-B8FC-826A3F26C196</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>08FF165B-3950-4760-9A48-5996704B1C65</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>8B8645C1-776A-41E4-B093-DF59FEF6D696</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>98BB46BE-52EE-46AA-AC87-9ED091180E9E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>A25DDA0D-DA11-46FF-9CCB-41D3D338B420</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>A4A97FBA-5CBA-4449-9044-CFD69762CA19</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>A9BC46C8-7E66-4A96-9BAB-8A7568787068</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>C129402F-060A-4E14-A919-D21FCE15A4A4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>C581B232-CDA3-4651-BAB4-32144FECFB52</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>D6190251-1CA6-4563-B6A9-600A8F0DD885</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>DB66B929-10AD-4715-A5A6-D4B43B43CECC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>kill &amp; restart</string>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>F237B22E-6247-4FA6-899C-A9CA938AFED5</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>FDF63B46-8376-4578-B3D1-6AF2ECC6ABFE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>chris-grieser.de</string>
</dict>
</plist>
