<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.mtgcardsearch</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>0E1DD654-7595-4B36-A324-46A2BBE8C35F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42651476-5D3D-45DB-BDEE-9DEAE813A492</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14759C8B-2109-4601-83EC-67DB151A0C41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF19121A-A3E3-4C04-83A5-6ABD9BF34888</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>228FC4FF-5056-4D4D-BA62-3F997930B871</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7361F17-F32D-4AF7-A1E7-0CC40A254768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2848A56F-1A95-4B70-916A-821B9E221D5C</key>
		<array/>
		<key>284BF312-5200-4596-A07D-3739C615816A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7361F17-F32D-4AF7-A1E7-0CC40A254768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30CC2DEB-B209-4EA7-A822-BBA31D7D682C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A06D40FB-6F48-452D-B71A-7624328BA431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>334CB6C4-BE5F-4428-9FF3-DBE2656511EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14759C8B-2109-4601-83EC-67DB151A0C41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42651476-5D3D-45DB-BDEE-9DEAE813A492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>935337D5-ACE9-405A-B712-002E3F0D4019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6D352A88-006C-4F7F-8A4C-D3EA65A2748E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>78A9E8A5-7732-4063-AB38-4D74B5CC8060</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>287AD422-773C-4B10-9D41-64455D20CB53</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59C0301B-DA29-4E1B-AB49-315A88E494F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4F80ED4-9B22-44C6-B4DE-A6AA71BD6509</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B1AA07F-5F92-47CA-A2DB-F7D10405F839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88D8559A-D4BB-4271-9DA5-B50815B56E3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>427AE219-C5BC-4935-870F-801B8D21124A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74536DA2-6533-481B-A255-E06F51878191</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB0E204C-782B-41E7-88C0-442DD92A8EDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78A9E8A5-7732-4063-AB38-4D74B5CC8060</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2848A56F-1A95-4B70-916A-821B9E221D5C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open on Scryfall</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>284BF312-5200-4596-A07D-3739C615816A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy Scryfall URL</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17805DDD-2CDA-4D83-9F59-77C8B9B30A83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7A674D46-C595-4AB1-BC03-0A5A5068F900</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7361F17-F32D-4AF7-A1E7-0CC40A254768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AE60697-3BA7-4123-9BAC-696021777E48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E1DD654-7595-4B36-A324-46A2BBE8C35F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>820CAA0D-91F1-435C-B062-EEB64D6A5762</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2783AD1-E465-4DD8-B7F8-E087DC1B73AC</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy Card name</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>228FC4FF-5056-4D4D-BA62-3F997930B871</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy Scryfall URL</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E16E5E62-1C39-4330-BC0C-C2904F268137</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open on Scryfall</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED00B37F-50E5-4D5F-90F9-6E4AC0984BC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AE60697-3BA7-4123-9BAC-696021777E48</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Add to History</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B1AA07F-5F92-47CA-A2DB-F7D10405F839</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88D8559A-D4BB-4271-9DA5-B50815B56E3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59C0301B-DA29-4E1B-AB49-315A88E494F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92D2A1E8-5E5E-46A0-BA93-D74BD275C817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2848A56F-1A95-4B70-916A-821B9E221D5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>935337D5-ACE9-405A-B712-002E3F0D4019</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2848A56F-1A95-4B70-916A-821B9E221D5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A06D40FB-6F48-452D-B71A-7624328BA431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2732B97-24CA-4C0A-B83D-AB214EE5E8B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7361F17-F32D-4AF7-A1E7-0CC40A254768</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2732B97-24CA-4C0A-B83D-AB214EE5E8B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD453098-7CC4-4F75-A8B1-533742088A76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74536DA2-6533-481B-A255-E06F51878191</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>CF19121A-A3E3-4C04-83A5-6ABD9BF34888</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78A9E8A5-7732-4063-AB38-4D74B5CC8060</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB913CB8-3F7F-490D-904E-59992421C774</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open on Scryfall</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B16FD1AA-8871-4B6A-A624-C7FFF7192A8A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy Scryfall URL</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>593A8276-02D4-4999-BE08-29AB56A7AEC0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy Card Name</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E16E5E62-1C39-4330-BC0C-C2904F268137</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E1DD654-7595-4B36-A324-46A2BBE8C35F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB0E204C-782B-41E7-88C0-442DD92A8EDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59C0301B-DA29-4E1B-AB49-315A88E494F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>427AE219-C5BC-4935-870F-801B8D21124A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>334CB6C4-BE5F-4428-9FF3-DBE2656511EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>427AE219-C5BC-4935-870F-801B8D21124A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14759C8B-2109-4601-83EC-67DB151A0C41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED00B37F-50E5-4D5F-90F9-6E4AC0984BC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E1DD654-7595-4B36-A324-46A2BBE8C35F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2783AD1-E465-4DD8-B7F8-E087DC1B73AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A06D40FB-6F48-452D-B71A-7624328BA431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Search for Magic: The Gathering playing cards</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MTG Card Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>copy_name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>30CC2DEB-B209-4EA7-A822-BBA31D7D682C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ObjC.import("AppKit")

function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run(argv) {
  const text = argv[0]
  const copyType = `com.vitorgalvao.alfred.mtgcardsearch.list.${envVar("copy_type")}`
  const pboard = $.NSPasteboard.generalPasteboard
  const pbContents = pboard.stringForType($.NSPasteboardTypeString).js

  const initContents = pboard.stringForType("org.nspasteboard.source").js === copyType ? `${pbContents}\n${text}` : text
  const dedupContents = [...new Set(initContents.split("\n"))].join("\n")

  pboard.clearContents
  pboard.setStringForType(copyType, "org.nspasteboard.source")
  pboard.setStringForType(dedupContents, "public.utf8-plain-text")
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2732B97-24CA-4C0A-B83D-AB214EE5E8B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:card_name}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>copy_type</key>
					<string>name</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A06D40FB-6F48-452D-B71A-7624328BA431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F2783AD1-E465-4DD8-B7F8-E087DC1B73AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>copy_url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7A674D46-C595-4AB1-BC03-0A5A5068F900</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>228FC4FF-5056-4D4D-BA62-3F997930B871</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:card_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>copy_type</key>
					<string>url</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C7361F17-F32D-4AF7-A1E7-0CC40A254768</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:card_url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2848A56F-1A95-4B70-916A-821B9E221D5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>open_on_scryfall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>92D2A1E8-5E5E-46A0-BA93-D74BD275C817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>284BF312-5200-4596-A07D-3739C615816A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>open_on_scryfall</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E16E5E62-1C39-4330-BC0C-C2904F268137</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>935337D5-ACE9-405A-B712-002E3F0D4019</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>1</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>78A9E8A5-7732-4063-AB38-4D74B5CC8060</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly local_image="${alfred_workflow_data}/card_images/$(basename "${image_url}")"

# Helper to show image and exit
function show_image {
  printf "${local_image}"
  exit 0
}

# Check if image was already downloaded
[[ -f "${local_image}" ]] &amp;&amp; show_image

# Download image
/usr/bin/curl --create-dirs --output "${local_image}" "${image_url}"
/usr/bin/sips --setProperty dpiWidth 72.0 --setProperty dpiHeight 72.0 "${local_image}" &amp;&gt; /dev/null
./file-metadata write "${local_image}"
show_image</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E1DD654-7595-4B36-A324-46A2BBE8C35F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Grabbing card list…</string>
				<key>script</key>
				<string>readonly cache_repo='vitorgalvao/mtg-card-search-cache'
readonly cache_file="${alfred_workflow_cache}/cache.json"
readonly state_file="${alfred_workflow_cache}/state.txt"

# Helper to show results and exit
function show_data {
  &lt; "${cache_file}" &amp;&amp; exit 0

  # If cache somehow failed to load, show message and delete state
  echo '{ "items": [{ "title": "Unable to Load Results",
    "subtitle": "Open the debugger and try again",
    "valid": false }] }'
  rm -f "${state_file}"
  exit 1
}

# Get latest state
readonly latest_release="$(curl --silent "https://api.github.com/repos/${cache_repo}/releases/latest")"
readonly download_url="$(osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"][0]["browser_download_url"] }' "${latest_release}")"
readonly state="$(osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["id"] }' "${latest_release}" || uuidgen)"

# Exit early if state has not changed
[[ "${state}" == "$(&lt; "${state_file}")" ]] &amp;&amp; show_data

# Update cache and state
mkdir -p "${alfred_workflow_cache}"
curl --silent --location "${download_url}" | tar --directory "${alfred_workflow_cache}" --extract &amp;&amp; echo "${state}" &gt; "${state_file}"
show_data</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Type to search for cards</string>
				<key>title</key>
				<string>Magic: The Gathering Card Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>820CAA0D-91F1-435C-B062-EEB64D6A5762</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_on_scryfall</string>
						<key>outputlabel</key>
						<string>Open</string>
						<key>uid</key>
						<string>6D352A88-006C-4F7F-8A4C-D3EA65A2748E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>view_in_alfred</string>
						<key>outputlabel</key>
						<string>View</string>
						<key>uid</key>
						<string>287AD422-773C-4B10-9D41-64455D20CB53</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>42651476-5D3D-45DB-BDEE-9DEAE813A492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>17805DDD-2CDA-4D83-9F59-77C8B9B30A83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>view_in_alfred</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED00B37F-50E5-4D5F-90F9-6E4AC0984BC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>add_to_history</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7AE60697-3BA7-4123-9BAC-696021777E48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>sort_order</key>
					<string>by_added</string>
					<key>target_path</key>
					<string>{const:alfred_workflow_data}/card_images</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>88D8559A-D4BB-4271-9DA5-B50815B56E3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>unit</key>
					<string>{var:history_size}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.filter.older-than</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>59C0301B-DA29-4E1B-AB49-315A88E494F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B4F80ED4-9B22-44C6-B4DE-A6AA71BD6509</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:history_size}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>unlimited</string>
						<key>outputlabel</key>
						<string>Days</string>
						<key>uid</key>
						<string>427AE219-C5BC-4935-870F-801B8D21124A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Unlimited</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6B1AA07F-5F92-47CA-A2DB-F7D10405F839</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>open_on_scryfall</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EB913CB8-3F7F-490D-904E-59992421C774</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>unit</key>
					<string>{var:history_size}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.filter.newer-than</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>334CB6C4-BE5F-4428-9FF3-DBE2656511EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:history_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Review recently opened cards</string>
				<key>text</key>
				<string>View Card History</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD453098-7CC4-4F75-A8B1-533742088A76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>sort_order</key>
					<string>by_added</string>
					<key>target_path</key>
					<string>{const:alfred_workflow_data}/card_images</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>74536DA2-6533-481B-A255-E06F51878191</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<true/>
				<key>imageaspect</key>
				<integer>1</integer>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<true/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>CF19121A-A3E3-4C04-83A5-6ABD9BF34888</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./file-metadata read "${@}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14759C8B-2109-4601-83EC-67DB151A0C41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>copy_name</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B16FD1AA-8871-4B6A-A624-C7FFF7192A8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:history_size}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>unlimited</string>
						<key>outputlabel</key>
						<string>Days</string>
						<key>uid</key>
						<string>427AE219-C5BC-4935-870F-801B8D21124A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Unlimited</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EB0E204C-782B-41E7-88C0-442DD92A8EDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>copy_url</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>593A8276-02D4-4999-BE08-29AB56A7AEC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search for Magic: The Gathering cards via the `mtg` keyword.

![Searching for sliver cards](images/about/mtg.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; View card in Alfred. Press again to return to list.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open on [Scryfall](https://scryfall.com/).
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy Scryfall URL. Subsequent triggers append to the list.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy card name. Subsequent triggers append to the list.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Add to history. Happens automatically when opening a card.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; [Quick Look](https://www.alfredapp.com/help/features/previews/) the front face.

![Viewing image](images/about/imageview.png)

Search opened card history with the `mtghis` keyword.

![Keyword to view history](images/about/mtghis.png)

![Viewing history in grid](images/about/gridview.png)

The same shortcuts as above apply.</string>
	<key>uidata</key>
	<dict>
		<key>0E1DD654-7595-4B36-A324-46A2BBE8C35F</key>
		<dict>
			<key>note</key>
			<string>Download image</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>14759C8B-2109-4601-83EC-67DB151A0C41</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>17805DDD-2CDA-4D83-9F59-77C8B9B30A83</key>
		<dict>
			<key>xpos</key>
			<real>1725</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>228FC4FF-5056-4D4D-BA62-3F997930B871</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>2848A56F-1A95-4B70-916A-821B9E221D5C</key>
		<dict>
			<key>xpos</key>
			<real>1645</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>284BF312-5200-4596-A07D-3739C615816A</key>
		<dict>
			<key>xpos</key>
			<real>1725</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>30CC2DEB-B209-4EA7-A822-BBA31D7D682C</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>334CB6C4-BE5F-4428-9FF3-DBE2656511EA</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>42651476-5D3D-45DB-BDEE-9DEAE813A492</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>593A8276-02D4-4999-BE08-29AB56A7AEC0</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>1380</real>
		</dict>
		<key>59C0301B-DA29-4E1B-AB49-315A88E494F3</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>6B1AA07F-5F92-47CA-A2DB-F7D10405F839</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>985</real>
		</dict>
		<key>74536DA2-6533-481B-A255-E06F51878191</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>78A9E8A5-7732-4063-AB38-4D74B5CC8060</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>7A674D46-C595-4AB1-BC03-0A5A5068F900</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>7AE60697-3BA7-4123-9BAC-696021777E48</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>820CAA0D-91F1-435C-B062-EEB64D6A5762</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>88D8559A-D4BB-4271-9DA5-B50815B56E3F</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>92D2A1E8-5E5E-46A0-BA93-D74BD275C817</key>
		<dict>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>935337D5-ACE9-405A-B712-002E3F0D4019</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>A06D40FB-6F48-452D-B71A-7624328BA431</key>
		<dict>
			<key>xpos</key>
			<real>1930</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A2732B97-24CA-4C0A-B83D-AB214EE5E8B2</key>
		<dict>
			<key>note</key>
			<string>Append to clipboard if same type, ortherwise start new list</string>
			<key>xpos</key>
			<real>2050</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B16FD1AA-8871-4B6A-A624-C7FFF7192A8A</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>B4F80ED4-9B22-44C6-B4DE-A6AA71BD6509</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>C7361F17-F32D-4AF7-A1E7-0CC40A254768</key>
		<dict>
			<key>xpos</key>
			<real>1930</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>CD453098-7CC4-4F75-A8B1-533742088A76</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>CF19121A-A3E3-4C04-83A5-6ABD9BF34888</key>
		<dict>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>E16E5E62-1C39-4330-BC0C-C2904F268137</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>EB0E204C-782B-41E7-88C0-442DD92A8EDB</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>EB913CB8-3F7F-490D-904E-59992421C774</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>ED00B37F-50E5-4D5F-90F9-6E4AC0984BC8</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>F2783AD1-E465-4DD8-B7F8-E087DC1B73AC</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mtg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mtghis</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>History Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>history_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>pairs</key>
				<array>
					<array>
						<string>30 Days</string>
						<string>30</string>
					</array>
					<array>
						<string>60 Days</string>
						<string>60</string>
					</array>
					<array>
						<string>90 Days</string>
						<string>90</string>
					</array>
					<array>
						<string>Unlimited</string>
						<string>unlimited</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>History Size</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>history_size</string>
		</dict>
	</array>
	<key>version</key>
	<string>25.2</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/mtg-card-search-workflow/</string>
</dict>
</plist>
