<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.samsoniuk.alfred.linguee-search</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B94A24F6-DBCD-4727-B464-DCE1DFBA6F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9DE0733-1E3B-4C8B-8D7B-3CC55116EFEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5F6FE53-E6A6-48F4-8134-A9CAF992C467</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CEFD5F5-0ED1-476D-972D-4CE38444128B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yurii Samsoniuk</string>
	<key>description</key>
	<string>Lingee.com Translations Search Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Linguee Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./LingueeOnAlfred</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Linguee for '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B9DE0733-1E3B-4C8B-8D7B-3CC55116EFEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B94A24F6-DBCD-4727-B464-DCE1DFBA6F44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search Linguee for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>C5F6FE53-E6A6-48F4-8134-A9CAF992C467</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.linguee.com/{var:source_language}-{var:destination_language}/search?source=auto&amp;query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CEFD5F5-0ED1-476D-972D-4CE38444128B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search for a phrase translation on Linguee.com. The results are auto-populated in the Alfred search window. Hit Enter to open the translation in the browser, or CMD-C to copy the translation.

Use "l" to initiate the Linguee Search in the Alfred window.

Setting translation language:
There are two variables that indicate the language translation pair: source_language and destination_language. Default pair is English + German. To override this behavior, set the variables to a desired pair. For a full list of available language pairs please visit https://www.linguee.com/?moreLanguages=1#moreLanguages. The values of the variables must be a lowercased language name in English. E.g., "english", "german", "french".

Additionaly a system-wide shortcut can be added:
1. Double-click on the "Hotkey" box in the workflow (alternatively right click and choose "Configure Object...").
2. Press the key combination that should be used as a system-wide shortcut. E.g., ⇧ ⌘ L (Shift-Command-L).
3. Click "Save".
By default the shortcut would searched for the selected text, or open a ready-to-go Linguee search in Alfred.

Visit the workflow homepage to find out more about available features: https://tinyurl.com/LingueeWorkflow.</string>
	<key>uidata</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>note</key>
			<string>Default Linguee Search trigger keyword is 'l'. To change it:
1. Right-click on this action.
2. Select "Configure Object".
3. In the "Keyword" type a desired one.
4. Save.

From now on searched starting with the specified keyword would be handled by this workflow.</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7CEFD5F5-0ED1-476D-972D-4CE38444128B</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>B94A24F6-DBCD-4727-B464-DCE1DFBA6F44</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>B9DE0733-1E3B-4C8B-8D7B-3CC55116EFEF</key>
		<dict>
			<key>note</key>
			<string>This action adds a systemwide hotkey to trigger Linguee Search workflow. To add it:
1. Right-click on this action.
2. Select "Configure Object"
3. Select "Hotkey" field and press the desired hotkey.
4. Save.

Now you can use the designated hotkey from anywhere in the system to go directly to Linguee Search in Alfred.

More about hotkeys: https://www.alfredapp.com/help/workflows/triggers/hotkey/</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>C5F6FE53-E6A6-48F4-8134-A9CAF992C467</key>
		<dict>
			<key>note</key>
			<string>To add Linguee to the list of default fallbacks or learn more about the default fallback feature, go here:
https://www.alfredapp.com/help/features/default-results/fallback-searches/</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>check_for_updates</key>
		<string>true</string>
		<key>destination_language</key>
		<string>german</string>
		<key>source_language</key>
		<string>english</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/sigito/Linguee-Workflow-for-Alfred#readme</string>
</dict>
</plist>
