<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.atop</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>00B3FDB4-C94D-435D-A255-F5D1B2A6F0AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBFBCA76-39CE-4D22-A556-EDF1A996849C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8D41A371-BF74-4B3B-91F1-B9425A28D18B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1765993C-E2F9-4224-A487-1B3FF0F4B90B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1BA8BB13-9258-4A87-B2CE-6EC4A48B876E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8738E79-4D44-4376-8262-11D1D8CC462A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F02F16B1-B312-4035-AA50-9C368B315A75</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B2B2B3D-3ECD-4FA0-A391-F2E0DE603281</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C29C758F-987B-48B3-AE2F-F03A85983AD7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40C6D3F7-B5AB-4C45-A3ED-7926B186E25F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BE42E89-244C-437D-B876-BF367A3E4B11</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA333A60-CF01-4178-857C-9EE58B2C2E42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>29F2A35E-2840-4F29-B519-434CFFBE461E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10CA15B1-4D0A-4969-A5CB-710B56613A61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00B3FDB4-C94D-435D-A255-F5D1B2A6F0AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1765993C-E2F9-4224-A487-1B3FF0F4B90B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24F3B28F-0642-43F2-AEA3-202F2E62F3B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F91AA471-17A8-42F7-ADC3-FEDAFA645CCF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy device address</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24F3B28F-0642-43F2-AEA3-202F2E62F3B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C677454-9EBA-42D1-9B49-ABB15200167A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63C34A52-70A0-4CA0-AC29-0B8B16E654C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B2B2B3D-3ECD-4FA0-A391-F2E0DE603281</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6749459-30C8-484B-BE73-E64557107E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E01978CB-6F00-4781-8079-075BE323C5FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80995D89-9285-4E5C-8728-25576BF43113</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F6FB435-0A87-45E8-A851-F458286E7A6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A09D544F-ECA6-4D74-B8B0-AC69E572977B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2759BEDD-4BDD-45E5-8864-D2705A801FC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8E4530E-F583-424A-9F8E-6DFEBEBF6288</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10CA15B1-4D0A-4969-A5CB-710B56613A61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B6749459-30C8-484B-BE73-E64557107E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D880698E-4C96-44BF-BC72-5911F787089F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B758EFA5-2C8C-4C45-8A3E-B44E09A18464</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBE384FE-3246-4A73-873A-4B3F4FBF8E54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBFBCA76-39CE-4D22-A556-EDF1A996849C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63C34A52-70A0-4CA0-AC29-0B8B16E654C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1539426-E456-4953-8215-D809DF4B120B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Force Kill</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: kill all with same name</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B758EFA5-2C8C-4C45-8A3E-B44E09A18464</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Restart (if app)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBE384FE-3246-4A73-873A-4B3F4FBF8E54</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy PID</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D880698E-4C96-44BF-BC72-5911F787089F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71E5C349-2F9F-4DB1-907E-EF118FA9C6B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1539426-E456-4953-8215-D809DF4B120B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8738E79-4D44-4376-8262-11D1D8CC462A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D880698E-4C96-44BF-BC72-5911F787089F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F91AA471-17A8-42F7-ADC3-FEDAFA645CCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC1E0F42-E6F6-4F15-BFB4-AF6BA697A13D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA333A60-CF01-4178-857C-9EE58B2C2E42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>681490F8-D3BB-4024-AFE0-DCEE69201856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80995D89-9285-4E5C-8728-25576BF43113</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Eject ⏏️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54580785-C343-4A69-8525-5BF78553961A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Browse in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>System Monitoring and Process Management</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>atop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>63C34A52-70A0-4CA0-AC29-0B8B16E654C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F1539426-E456-4953-8215-D809DF4B120B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:process_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/list-processes.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List of Processes…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CBFBCA76-39CE-4D22-A556-EDF1A996849C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/kill-action.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2759BEDD-4BDD-45E5-8864-D2705A801FC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B758EFA5-2C8C-4C45-8A3E-B44E09A18464</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>BBE384FE-3246-4A73-873A-4B3F4FBF8E54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9C677454-9EBA-42D1-9B49-ABB15200167A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/bluetooth-connect.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24F3B28F-0642-43F2-AEA3-202F2E62F3B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:bluetooth_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/bluetooth-devices.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Bluetooth Devices</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1765993C-E2F9-4224-A487-1B3FF0F4B90B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>processes</string>
						<key>outputlabel</key>
						<string>processes</string>
						<key>uid</key>
						<string>8D41A371-BF74-4B3B-91F1-B9425A28D18B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>bluetooth</string>
						<key>outputlabel</key>
						<string>bluetooth</string>
						<key>uid</key>
						<string>1BA8BB13-9258-4A87-B2CE-6EC4A48B876E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>uptime</string>
						<key>outputlabel</key>
						<string>uptime</string>
						<key>uid</key>
						<string>F02F16B1-B312-4035-AA50-9C368B315A75</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>speedtest</string>
						<key>outputlabel</key>
						<string>speedtest</string>
						<key>uid</key>
						<string>C29C758F-987B-48B3-AE2F-F03A85983AD7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>network</string>
						<key>outputlabel</key>
						<string>network</string>
						<key>uid</key>
						<string>0BE42E89-244C-437D-B876-BF367A3E4B11</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>volumes</string>
						<key>outputlabel</key>
						<string>volumes</string>
						<key>uid</key>
						<string>29F2A35E-2840-4F29-B519-434CFFBE461E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>00B3FDB4-C94D-435D-A255-F5D1B2A6F0AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F91AA471-17A8-42F7-ADC3-FEDAFA645CCF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Device address copid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC1E0F42-E6F6-4F15-BFB4-AF6BA697A13D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"78ce0450fe203f6d692a5d576d1da6cc1fe8cdcf.png","title":"Processes","arg":"processes","subtitle":"CPU, Memory, Parent Processes {var:separator} kill processes &amp; restart apps"},{"imagefile":"56f60ed4890c3aadf8b17042498f550f2f86f1b1.png","title":"Network","arg":"network","subtitle":"download, upload"},{"imagefile":"5f6447eb3c6eb47e26123ff2a4f4ee74c71fc9b6.png","title":"Bluetooth","arg":"bluetooth","subtitle":"Battery, RSSI, Connection Status {var:separator} connect &amp; disconnect"},{"imagefile":"f08290a14dddd7ae985e18ea4f069829fbec0622.png","title":"Uptime","arg":"uptime","subtitle":"uptime, last 10 reboots"},{"imagefile":"9e5889c6e9214cf16318b4870dac435013f6f2bc.png","title":"Speedtest","arg":"speedtest","subtitle":"Speed of Internet Connection"},{"imagefile":"9509d3e0105844ea2f6358086d0f275bf0e8555a.png","title":"Removable Volumes","arg":"volumes","subtitle":"Disk Space Usage {var:separator} eject &amp; browse"}]</string>
				<key>keyword</key>
				<string>atop</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>System Activity Monitor</string>
				<key>title</key>
				<string>atop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A8E4530E-F583-424A-9F8E-6DFEBEBF6288</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>10CA15B1-4D0A-4969-A5CB-710B56613A61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/uptime-and-reboots.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8738E79-4D44-4376-8262-11D1D8CC462A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>71E5C349-2F9F-4DB1-907E-EF118FA9C6B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D880698E-4C96-44BF-BC72-5911F787089F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>networkQuality</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6749459-30C8-484B-BE73-E64557107E37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>6B2B2B3D-3ECD-4FA0-A391-F2E0DE603281</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>This may take a minute</string>
				<key>title</key>
				<string>⏳Running Network Quality Test…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E01978CB-6F00-4781-8079-075BE323C5FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>681490F8-D3BB-4024-AFE0-DCEE69201856</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:network_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/network-connections.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Network Connections</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40C6D3F7-B5AB-4C45-A3ED-7926B186E25F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/eject-volume.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80995D89-9285-4E5C-8728-25576BF43113</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F6FB435-0A87-45E8-A851-F458286E7A6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:volume_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>app = Application.currentApplication();
app.includeStandardAdditions = true;
volumeList = app.doShellScript("ls /Volumes");
var single_volumes = volumeList.split("\r");

//function to remove elements from Array
function arrayRemove(arr, value) {
    return arr.filter(function(elem){
        return !elem.includes(value);
    });
}
var single_volumes = arrayRemove(single_volumes, "TimeMachine");
var single_volumes = arrayRemove(single_volumes, "Macintosh");
var single_volumes = arrayRemove(single_volumes, "HDD");
var single_volumes = arrayRemove(single_volumes, "SSD");

let volume_array = [];
if (single_volumes.length == 0) {
    volume_array.push ({
        'title': "No mounted volume recognized.",
        'subtitle': "Press [Esc] to abort.",
        'arg': "no volume"
    });
} else {
    single_volumes.forEach(element =&gt; {
        let disk_space = app.doShellScript('df -h | grep "' + element + '" | cut -c 16-42');
        disk_space = disk_space.replace(/^(.{6}) (.{6}) (.{6}) *(.*)/gm,"Total:$1   Available:$3   Used:$2 ($4)");
        volume_array.push ({
            'title': element,
            'subtitle': disk_space,
            'arg': "/Volumes/"+ element
        })
    });
}

JSON.stringify({ 'items': volume_array });
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/volume-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a Volume</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA333A60-CF01-4178-857C-9EE58B2C2E42</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>54580785-C343-4A69-8525-5BF78553961A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># atop

- Refresh rates must be values between 0.1 and 5 seconds.
- To connect &amp; disconnect to Bluetooth Devices, [blueutil](https://github.com/toy/blueutil) must be installed. If it is not, the Bluetooth Preferences will be opened instead.

---

`atop` has been created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>00B3FDB4-C94D-435D-A255-F5D1B2A6F0AD</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>10CA15B1-4D0A-4969-A5CB-710B56613A61</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>1765993C-E2F9-4224-A487-1B3FF0F4B90B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>24F3B28F-0642-43F2-AEA3-202F2E62F3B4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>(dis)connect</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>2759BEDD-4BDD-45E5-8864-D2705A801FC5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>40C6D3F7-B5AB-4C45-A3ED-7926B186E25F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>only display</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>4F6FB435-0A87-45E8-A851-F458286E7A6F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>54580785-C343-4A69-8525-5BF78553961A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>63C34A52-70A0-4CA0-AC29-0B8B16E654C8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>kill</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>681490F8-D3BB-4024-AFE0-DCEE69201856</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>6B2B2B3D-3ECD-4FA0-A391-F2E0DE603281</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>71E5C349-2F9F-4DB1-907E-EF118FA9C6B7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>80995D89-9285-4E5C-8728-25576BF43113</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>eject</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>killall with name</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>9C677454-9EBA-42D1-9B49-ABB15200167A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>A09D544F-ECA6-4D74-B8B0-AC69E572977B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A8E4530E-F583-424A-9F8E-6DFEBEBF6288</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>B6749459-30C8-484B-BE73-E64557107E37</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>B758EFA5-2C8C-4C45-8A3E-B44E09A18464</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>restart if app</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>BBE384FE-3246-4A73-873A-4B3F4FBF8E54</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>copy pid</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>BC1E0F42-E6F6-4F15-BFB4-AF6BA697A13D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>CBFBCA76-39CE-4D22-A556-EDF1A996849C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D880698E-4C96-44BF-BC72-5911F787089F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>E01978CB-6F00-4781-8079-075BE323C5FB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>F1539426-E456-4953-8215-D809DF4B120B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>force kill</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>F8738E79-4D44-4376-8262-11D1D8CC462A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>F91AA471-17A8-42F7-ADC3-FEDAFA645CCF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>FA333A60-CF01-4178-857C-9EE58B2C2E42</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Removable Volumes</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>top</string>
				<key>placeholder</key>
				<string>top</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword for direct access</string>
			<key>label</key>
			<string>Processes</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>process_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Memory</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Memory</string>
						<string>Memory</string>
					</array>
					<array>
						<string>CPU</string>
						<string>CPU</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>sort by</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sort_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2.5</string>
				<key>placeholder</key>
				<string>2.5</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>refresh rate</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>rerun_s_processes</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.5</string>
				<key>placeholder</key>
				<string>0.5</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>CPU threshold, percentage below which CPU is not displayed</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cpu_threshold_percent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>50</string>
				<key>placeholder</key>
				<string>50</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>memory threshold, Mb below which memory usage is not displayed</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>memory_threshold_mb</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>blue</string>
				<key>placeholder</key>
				<string>blue</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword for direct access</string>
			<key>label</key>
			<string>Bluetooth</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bluetooth_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>4</string>
				<key>placeholder</key>
				<string>4</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>refresh rate</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>rerun_s_bluetooth</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Tim's iPhone, iMac Home, Sarah's iPad</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>comma-separated list of full devices names to excluded</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>excluded_devices</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>net</string>
				<key>placeholder</key>
				<string>net</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword for direct access</string>
			<key>label</key>
			<string>Network</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>network_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2.5</string>
				<key>placeholder</key>
				<string>2.5</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>refresh rate</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>rerun_s_network</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vol</string>
				<key>placeholder</key>
				<string>vol</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword for direct access</string>
			<key>label</key>
			<string>Removable Volumes</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>volume_keyword</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>separator</key>
		<string> ⟡ </string>
	</dict>
	<key>version</key>
	<string>1.0.6</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
