<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bluetooth_keyword</key>
	<string>bbb</string>
	<key>dns_choices</key>
	<string>Google, 8.8.8.8, 8.8.4.4
Cloudflare, 1.1.1.1, 1.0.0.1
AdGuard (public),94.140.14.14,94.140.15.15
Pi-Hole at home, 192.168.2.111, 192.168.2.112</string>
	<key>excluded_devices</key>
	<string>iPhone CG, Chris iPad, Mac mini Office, Chris iMac Home</string>
	<key>memory_threshold_mb</key>
	<string>25</string>
	<key>network_keyword</key>
	<string>nnn</string>
	<key>process_keyword</key>
	<string>ppp||kill</string>
	<key>volume_keyword</key>
	<string>vvv||vol</string>
</dict>
</plist>
