<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bluetooth_keyword</key>
	<string>bbb</string>
	<key>network_keyword</key>
	<string>nnn</string>
	<key>process_keyword</key>
	<string>ppp</string>
	<key>volume_keyword</key>
	<string>vvv</string>
</dict>
</plist>
