<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>12683550-A2EA-40B6-B861-FB40A6E7603B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>p</string>
			<key>text</key>
			<string>Search Piratebay for '{query}'</string>
			<key>url</key>
			<string>https://thepiratebay.org/search.php?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>18866585-C31B-4991-AE5A-6FBFF4A1D4CB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>w</string>
			<key>text</key>
			<string>Wikipedia (eng): '{query}'</string>
			<key>url</key>
			<string>https://www.wikiwand.com/en/{query}?fullSearch=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2532503D-D8F9-47CA-8438-766CE430EBFE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sch</string>
			<key>text</key>
			<string>Search Google Scholar for '{query}'</string>
			<key>url</key>
			<string>https://scholar.google.de/scholar?hl=en&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5E85686A-D841-453C-9974-E22F5241FA40</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>xkcd</string>
			<key>text</key>
			<string>xkcd: '{query}'</string>
			<key>url</key>
			<string>https://findxkcd.com/?xkcd%5Bquery%5D={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5EEA999D-F78D-4F89-BB24-9557712FEE77</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>Steam (App)</string>
			<key>url</key>
			<string>steam://openurl/https://store.steampowered.com/search/?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>627B0197-448D-44B9-A7D0-937AF6872376</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ce</string>
			<key>text</key>
			<string>Chrome Extensions: '{query}'</string>
			<key>url</key>
			<string>https://chrome.google.com/webstore/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>803FD56E-C61A-4A39-9FE7-3E5AE227386F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ph</string>
			<key>text</key>
			<string>Pornhub: '{query}'</string>
			<key>url</key>
			<string>https://www.pornhub.com/video/search?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>84F64B41-9C2A-49F0-AAB4-E6FFB0BCB143</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>down</string>
			<key>text</key>
			<string>Down For Everyone or Just Me?</string>
			<key>url</key>
			<string>https://downforeveryoneorjustme.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>88CF6583-5443-48B4-ABB2-B6CD7AC01957</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gb</string>
			<key>text</key>
			<string>Google Image Search for '{query}'</string>
			<key>url</key>
			<string>https://www.google.de/search?q={query}&amp;tbm=isch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8943DD04-1006-4B0A-8BBB-08E7D79D8E62</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>text</key>
			<string>Google: '{query}'</string>
			<key>url</key>
			<string>https://www.google.de/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8F493343-1B11-4713-84B1-8896AF7CA854</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ud</string>
			<key>text</key>
			<string>Urban Dictionary: '{query}'</string>
			<key>url</key>
			<string>https://www.urbandictionary.com/define.php?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9672465E-E164-4221-9824-0E164A40E39B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gn</string>
			<key>text</key>
			<string>Google News</string>
			<key>url</key>
			<string>https://news.google.com/?hl=de&amp;gl=DE&amp;ceid=DE:de</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B140DCCB-90EA-42E2-AEFB-74D5FA18257C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fb</string>
			<key>text</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6907991-DE8D-4739-B770-96C9744BD863</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wer</string>
			<key>text</key>
			<string>Wer streamt es?</string>
			<key>url</key>
			<string>https://www.werstreamt.es/filme-serien/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D994EE3A-E522-46FB-9349-F95D15870317</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tn</string>
			<key>text</key>
			<string>Tech News Search: '{query}'</string>
			<key>url</key>
			<string>https://www.google.de/search?q={query}+(site:wired.com+OR+site:techcrunch.com+OR+site:bloomberg.com+OR+site:nytimes.com+OR+site:theverge.com+OR+site:protocol.com)&amp;tbm=nws</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DF4242CE-C78F-4451-BE7C-B3F80DE78749</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ducky</string>
			<key>text</key>
			<string>Feeling Ducky: '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}+!ducky</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E2BE83BA-73C9-46DE-997F-7C6AFFC41CAA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rss</string>
			<key>text</key>
			<string>Inoreader RSS</string>
			<key>url</key>
			<string>https://www.inoreader.com/search/feeds/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E6EBE234-58DF-42AE-B019-B2941D2B424F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>Steam (Browser)</string>
			<key>url</key>
			<string>https://store.steampowered.com/search/?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
