<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>247D826F-9C0B-4405-A61B-AA64E1C4F8A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tt</string>
			<key>text</key>
			<string>Sentence Stack: {query}</string>
			<key>url</key>
			<string>https://sentencestack.com/q/{query}</string>
		</dict>
		<key>435F672D-1AA7-4095-8BC6-AE50A9F7943A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ai</string>
			<key>text</key>
			<string>Perplexity: {query}</string>
			<key>url</key>
			<string>https://www.perplexity.ai/search?s=o&amp;q={query}</string>
		</dict>
		<key>5EEA999D-F78D-4F89-BB24-9557712FEE77</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>🖥 Steam (App)</string>
			<key>url</key>
			<string>steam://openurl/https://store.steampowered.com/search/?term={query}</string>
		</dict>
		<key>732093CA-5118-4281-8122-235ECF53BE0A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ai</string>
			<key>text</key>
			<string>Consensus: {query}</string>
			<key>url</key>
			<string>https://consensus.app/results/?q={query}</string>
		</dict>
		<key>8C706788-4EB2-4B38-A8C8-D03C7DEA8A1F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>to</string>
			<key>text</key>
			<string>Kickass Torrents: {query}</string>
			<key>url</key>
			<string>https://kickasstorrents.to/usearch/{query}</string>
		</dict>
		<key>9A8A5D68-CFCD-4834-A82F-D1866C708FF3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tt</string>
			<key>text</key>
			<string>Lingue: {query}</string>
			<key>url</key>
			<string>https://www.linguee.com/english-german/search?query={query}</string>
		</dict>
		<key>A5C50548-F731-446B-9CFA-165DE57558F6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ai</string>
			<key>text</key>
			<string>Phind: {query}</string>
			<key>url</key>
			<string>https://www.phind.com/search?q={query}</string>
		</dict>
		<key>CB53E08B-32B8-4062-98CC-5A36E97438A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tel</string>
			<key>text</key>
			<string>Call with Facetime</string>
			<key>url</key>
			<string>tel://{query}</string>
		</dict>
		<key>E6EBE234-58DF-42AE-B019-B2941D2B424F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>🌐 Steam (Browser)</string>
			<key>url</key>
			<string>https://store.steampowered.com/search/?term={query}</string>
		</dict>
		<key>E8A30F68-E070-4821-AC07-198240CC2ECC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>to</string>
			<key>text</key>
			<string>PirateBay: {query}</string>
			<key>url</key>
			<string>https://thepiratebay.org/search.php?q={query}</string>
		</dict>
	</dict>
</dict>
</plist>
