<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>247D826F-9C0B-4405-A61B-AA64E1C4F8A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tt</string>
			<key>text</key>
			<string>Sentence Stack: {query}</string>
			<key>url</key>
			<string>https://sentencestack.com/q/{query}</string>
		</dict>
		<key>5EEA999D-F78D-4F89-BB24-9557712FEE77</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>🖥 Steam (App)</string>
			<key>url</key>
			<string>steam://openurl/https://store.steampowered.com/search/?term={query}</string>
		</dict>
		<key>9A8A5D68-CFCD-4834-A82F-D1866C708FF3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tt</string>
			<key>text</key>
			<string>Lingue: {query}</string>
			<key>url</key>
			<string>https://www.linguee.com/english-german/search?query={query}</string>
		</dict>
		<key>CB53E08B-32B8-4062-98CC-5A36E97438A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tel</string>
			<key>text</key>
			<string>Call with Facetime</string>
			<key>url</key>
			<string>tel://{query}</string>
		</dict>
		<key>E6EBE234-58DF-42AE-B019-B2941D2B424F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>🌐 Steam (Browser)</string>
			<key>url</key>
			<string>https://store.steampowered.com/search/?term={query}</string>
		</dict>
	</dict>
</dict>
</plist>
