<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>16AD6685-B0BC-4837-AB55-A91B3A5F3BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53396461-6F23-4C54-8552-A49A69ED0854</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</key>
		<array/>
		<key>436E6838-C21C-4927-B4B9-D7CCB67587DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47528376-3FAB-4282-8213-DC8E45C19F7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D67ED53-EADE-458A-B761-7F5070BEABA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BD7290A-4D3C-4A41-A4D4-668385E514AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F4417F9-1E15-4514-8C37-FEBEE68D292A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95028977-E511-4F96-8A31-8A1EA3939515</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69E45CE7-99B7-48A7-971A-A5DC960D59F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D67ED53-EADE-458A-B761-7F5070BEABA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7613AED8-E386-43CC-827A-45FEB206FD74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76796A9D-1159-4E3C-8670-7D341A35351D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9AE1538-F1F2-4507-B205-4C90E7503DC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9577CE61-7D83-4CFB-8A73-725A73FF6DE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E076428F-6694-4CAF-B669-ADE646F328F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BF84B32-0217-4A0F-9F75-E541FFDA268D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A253620F-FFA6-4E80-8C60-CE220D4D50DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98959A8A-01E4-411D-93B6-00D953F6B889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0DA5B2B-624A-4F09-956B-68158231988A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA6F5742-B25C-4044-A613-90AFAA7C559F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9AE1538-F1F2-4507-B205-4C90E7503DC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16AD6685-B0BC-4837-AB55-A91B3A5F3BBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE7614ED-D40C-491F-9512-567F3BDB68C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A5B08EE-864A-4668-98C6-D4F8E9A56580</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA6F5742-B25C-4044-A613-90AFAA7C559F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1646853-4BE7-44BE-985F-9282246BAFCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>919C67AD-F9F2-4691-A835-0E3807CABF9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1646853-4BE7-44BE-985F-9282246BAFCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail &amp; Mimestream Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CE7614ED-D40C-491F-9512-567F3BDB68C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Mimestream"
		set frontmost to true
		click menu item "Open in Gmail" of menu "Message" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>send-mail_[Browser].applescript</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A5B08EE-864A-4668-98C6-D4F8E9A56580</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	set tabUrl to URL of active tab of front window	set tabTitle to title of active tab of front windowend tellset tabSelection to "{query}"set mailto_command to "?subject=FYI: " &amp; tabTitle &amp; "&amp;body="if (tabSelection is not "") then set mailto_command to mailto_command &amp; "\"" &amp; tabSelection &amp; "\"" &amp; "\n\n"return mailto_command &amp; tabUrl</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>send-mail_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>919C67AD-F9F2-4691-A835-0E3807CABF9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Ä</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5BD7290A-4D3C-4A41-A4D4-668385E514AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F1646853-4BE7-44BE-985F-9282246BAFCA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Mimestream"
		set frontmost to true
		click menu item "Copy Gmail URL" of menu "Message" of menu bar 1
	end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>send-mail_[Browser].applescript</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9AE1538-F1F2-4507-B205-4C90E7503DC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76796A9D-1159-4E3C-8670-7D341A35351D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Gmail URL copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>53396461-6F23-4C54-8552-A49A69ED0854</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>mailto:?body=

Viele Grüße
Chris</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>95028977-E511-4F96-8A31-8A1EA3939515</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Ä</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.agiletortoise.Drafts-OSX</string>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5F4417F9-1E15-4514-8C37-FEBEE68D292A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>16AD6685-B0BC-4837-AB55-A91B3A5F3BBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9577CE61-7D83-4CFB-8A73-725A73FF6DE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>s</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1310720</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E076428F-6694-4CAF-B669-ADE646F328F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ma</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔍 Search Mail Archive for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9BF84B32-0217-4A0F-9F75-E541FFDA268D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ma newsletter</string>
				<key>subtext</key>
				<string>in Mailplane</string>
				<key>text</key>
				<string>Open Newsletter with attachments</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0DA5B2B-624A-4F09-956B-68158231988A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Mimestream" to activate

tell application "System Events"
	tell process "Mimestream"
		set frontmost to true
		click menu item "Message Search" of menu of menu item "Find" of menu "Edit" of menu bar 1
	end tell
	keystroke "{query}"
	keystroke return
	keystroke return

end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.mimestream.Mimestream</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A253620F-FFA6-4E80-8C60-CE220D4D50DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>98959A8A-01E4-411D-93B6-00D953F6B889</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>label:newsletter has:attachment</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA6F5742-B25C-4044-A613-90AFAA7C559F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ma snoozed</string>
				<key>subtext</key>
				<string>at Gmail Web</string>
				<key>text</key>
				<string>💤 Snoozed Mails</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69E45CE7-99B7-48A7-971A-A5DC960D59F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/0/#snoozed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4D67ED53-EADE-458A-B761-7F5070BEABA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>snoozed</string>
				<key>subtext</key>
				<string>at Gmail Web</string>
				<key>text</key>
				<string>💤 Snoozed Mails</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47528376-3FAB-4282-8213-DC8E45C19F7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>filter</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Filters in Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7613AED8-E386-43CC-827A-45FEB206FD74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/0/#settings/filters</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ma filter</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Filters in Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>436E6838-C21C-4927-B4B9-D7CCB67587DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16AD6685-B0BC-4837-AB55-A91B3A5F3BBF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>1A2A5FF6-BADA-4BD7-AE6D-765E6891E0A6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>955</real>
		</dict>
		<key>436E6838-C21C-4927-B4B9-D7CCB67587DE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>955</real>
		</dict>
		<key>47528376-3FAB-4282-8213-DC8E45C19F7B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>4D67ED53-EADE-458A-B761-7F5070BEABA6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>50B66C20-4163-4A8A-A8C9-AFC175AEA52D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>search query in Mimestream</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>53396461-6F23-4C54-8552-A49A69ED0854</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>5BD7290A-4D3C-4A41-A4D4-668385E514AB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mail the current Browser Tab</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>5F4417F9-1E15-4514-8C37-FEBEE68D292A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mail the current Browser Tab</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>69E45CE7-99B7-48A7-971A-A5DC960D59F1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>7613AED8-E386-43CC-827A-45FEB206FD74</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>76796A9D-1159-4E3C-8670-7D341A35351D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>copy Gmail link</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>8A5B08EE-864A-4668-98C6-D4F8E9A56580</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>919C67AD-F9F2-4691-A835-0E3807CABF9F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>95028977-E511-4F96-8A31-8A1EA3939515</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>has extra rows below (arrow down to scroll down)</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>9577CE61-7D83-4CFB-8A73-725A73FF6DE3</key>
		<dict>
			<key>note</key>
			<string>toggle sidebar</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>98959A8A-01E4-411D-93B6-00D953F6B889</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>9BF84B32-0217-4A0F-9F75-E541FFDA268D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Search Mail</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>A253620F-FFA6-4E80-8C60-CE220D4D50DD</key>
		<dict>
			<key>note</key>
			<string>toggle sidebar</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>C0DA5B2B-624A-4F09-956B-68158231988A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Newsletter with attachments</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C9AE1538-F1F2-4507-B205-4C90E7503DC3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CE7614ED-D40C-491F-9512-567F3BDB68C0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>open in Gmail</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>DA6F5742-B25C-4044-A613-90AFAA7C559F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>E076428F-6694-4CAF-B669-ADE646F328F7</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>F1646853-4BE7-44BE-985F-9282246BAFCA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>F48BFF3F-8FB4-4AB7-898D-6636EC60112C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
