<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pdf-renaming-helper</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>030D0D74-FC17-4504-B31D-3417940A7080</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>870525DC-7F08-4E4B-A9EA-8E9E784BC543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E71F532-8554-48C0-B7F0-FADA559A831C</key>
		<array/>
		<key>2168E700-2687-41C9-9B03-97661BD3AD70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E71F532-8554-48C0-B7F0-FADA559A831C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D1F88079-4103-45A4-A94F-E13DADE07D9C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B606123-349E-431A-B4E6-B6D8C5F4D35B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FBCB3434-D47D-4E5A-886A-24E2AE46244D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B465E912-87A4-4B0D-81C3-344591A15C7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FBCB3434-D47D-4E5A-886A-24E2AE46244D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0D4F600-908A-4E85-9F00-408968229A72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0E28085-73FC-4A79-A52D-6F87FC592ECC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ED764B2-0EF6-4208-B794-3E956BD419D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A3FDCC7-3964-4CA6-9B34-3DBA927D80FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A3FDCC7-3964-4CA6-9B34-3DBA927D80FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8820CF69-3EB2-4193-AFCF-0D368DFD4C9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>673B6424-8CD7-44F4-95A0-9E3B8759C064</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D0D74-FC17-4504-B31D-3417940A7080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>769D9FCB-D640-41FC-8076-AC1EA99EB319</key>
		<array/>
		<key>7DFCE745-A1BC-4042-9D56-A22C4B08E73F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9B10BB0-226E-447B-9112-A6CC64FFFCFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>870525DC-7F08-4E4B-A9EA-8E9E784BC543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1984774-184F-4A18-8608-093AC1ABA3B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8820CF69-3EB2-4193-AFCF-0D368DFD4C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D68403B9-E178-4C01-8C7F-3881A7466449</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1984774-184F-4A18-8608-093AC1ABA3B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>769D9FCB-D640-41FC-8076-AC1EA99EB319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A3FDCC7-3964-4CA6-9B34-3DBA927D80FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E7F04590-596C-4274-ADF7-48604B53CE2F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B465E912-87A4-4B0D-81C3-344591A15C7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DFCE745-A1BC-4042-9D56-A22C4B08E73F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0D4F600-908A-4E85-9F00-408968229A72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55943D1-99B0-4CF7-AF0D-E72C29E7365A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D68403B9-E178-4C01-8C7F-3881A7466449</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2168E700-2687-41C9-9B03-97661BD3AD70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9B10BB0-226E-447B-9112-A6CC64FFFCFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>024C3E96-3E6A-4B30-95BA-EA43F0517260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0D4F600-908A-4E85-9F00-408968229A72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Parsing Assumption: first author is the first part of a filename and ends with an underscore ("_"), optionally with an et al. Years are the first 4 digits of a filename.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PDF Citekey renaming &amp; Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pdf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-pdfs.js</string>
				<key>subtext</key>
				<string>loading...</string>
				<key>title</key>
				<string>Search Local PDFs</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>673B6424-8CD7-44F4-95A0-9E3B8759C064</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder" to set sel to selectionif ((count sel) &gt; 1) then	set firstItem to item 1 of sel	return POSIX path of (firstItem as text)else	return POSIX path of (sel as text)end if</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>030D0D74-FC17-4504-B31D-3417940A7080</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ File is not a PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>769D9FCB-D640-41FC-8076-AC1EA99EB319</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.pdf$</string>
						<key>outputlabel</key>
						<string>is .pdf</string>
						<key>uid</key>
						<string>E7F04590-596C-4274-ADF7-48604B53CE2F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>--</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A1984774-184F-4A18-8608-093AC1ABA3B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>870525DC-7F08-4E4B-A9EA-8E9E784BC543</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No matching citekey found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0E71F532-8554-48C0-B7F0-FADA559A831C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Select a Citekey</string>
				<key>title</key>
				<string>ℹ️ Multiple Matching Citekey found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B606123-349E-431A-B4E6-B6D8C5F4D35B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Include Citekey in Filename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4ED764B2-0EF6-4208-B794-3E956BD419D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ File renamed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>024C3E96-3E6A-4B30-95BA-EA43F0517260</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>citekey-selection.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B465E912-87A4-4B0D-81C3-344591A15C7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search_citekey.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8820CF69-3EB2-4193-AFCF-0D368DFD4C9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>echo -n $potential_citekeys</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>citekey-selection.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a Citekey</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9B10BB0-226E-447B-9112-A6CC64FFFCFA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>error</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>D1F88079-4103-45A4-A94F-E13DADE07D9C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*;.*</string>
						<key>outputlabel</key>
						<string>multiple</string>
						<key>uid</key>
						<string>FBCB3434-D47D-4E5A-886A-24E2AE46244D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>one</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2168E700-2687-41C9-9B03-97661BD3AD70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D68403B9-E178-4C01-8C7F-3881A7466449</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string> </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>potential_citekeys</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7DFCE745-A1BC-4042-9D56-A22C4B08E73F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pdf_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5A3FDCC7-3964-4CA6-9B34-3DBA927D80FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>file accordingly renamed</string>
				<key>title</key>
				<string>✅ 1 Matching Citekey found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B0E28085-73FC-4A79-A52D-6F87FC592ECC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>renamed_file="{query}"

mv "$pdf_path" "$renamed_file"

open -R "$renamed_file"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0D4F600-908A-4E85-9F00-408968229A72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>C55943D1-99B0-4CF7-AF0D-E72C29E7365A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Parsing Assumption: first author is the first part of a filename and ends with an underscore ("_"), optionally with an et al. Years are the first 4 digits of a filename.

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>024C3E96-3E6A-4B30-95BA-EA43F0517260</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>030D0D74-FC17-4504-B31D-3417940A7080</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>0E71F532-8554-48C0-B7F0-FADA559A831C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>2168E700-2687-41C9-9B03-97661BD3AD70</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3B606123-349E-431A-B4E6-B6D8C5F4D35B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>4ED764B2-0EF6-4208-B794-3E956BD419D6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>5A3FDCC7-3964-4CA6-9B34-3DBA927D80FD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>saves pdf_path</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>673B6424-8CD7-44F4-95A0-9E3B8759C064</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>769D9FCB-D640-41FC-8076-AC1EA99EB319</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>7DFCE745-A1BC-4042-9D56-A22C4B08E73F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>870525DC-7F08-4E4B-A9EA-8E9E784BC543</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8820CF69-3EB2-4193-AFCF-0D368DFD4C9D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>find potential citekeys

CHANGE SCRIPT HERE to a different type of parsing</string>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>A1984774-184F-4A18-8608-093AC1ABA3B4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>B0E28085-73FC-4A79-A52D-6F87FC592ECC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>B465E912-87A4-4B0D-81C3-344591A15C7A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>C0D4F600-908A-4E85-9F00-408968229A72</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>rename and reveal</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>C55943D1-99B0-4CF7-AF0D-E72C29E7365A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1235</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>D68403B9-E178-4C01-8C7F-3881A7466449</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>F9B10BB0-226E-447B-9112-A6CC64FFFCFA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfred_bar_length</key>
		<string>65</string>
		<key>bibtex_library_path</key>
		<string>~/.pandoc/main-bibliography.bib</string>
		<key>pdf_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/PDFs/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bibtex_library_path</string>
		<string>pdf_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
