<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.sequentialpaste</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>0608BBD0-E795-49C7-852A-82C3237B2A0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C73CB007-49D9-40DA-8160-D6C9751C2780</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DBE30C9-2C21-4C1F-B5DB-8C678F2D259F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>698DC530-9498-49E5-B289-FD752883198F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>137CAF33-7CA2-4009-B5BC-5DBBC471E8F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D783E69-D062-4B77-AD97-D128D0755A7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>161C45E1-BFED-4C2E-A8CE-A8B93C03A196</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58A65806-0117-46C3-B806-87D008935505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A26F109-4538-4F60-B783-084FD13CCBC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58A65806-0117-46C3-B806-87D008935505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ABE7A12-85E3-498A-8696-F0315D26A5C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E15FD4A-A109-4AF2-8DB6-B2D4C58A1C74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B850A618-FE5E-42D6-9710-9876CB3C8ECD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0608BBD0-E795-49C7-852A-82C3237B2A0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D783E69-D062-4B77-AD97-D128D0755A7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA1C2CB7-9935-49C1-8FC3-57C8D421C8AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E0A9151-FE1B-4A11-8A26-DD933C9805CC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4B07C86-F757-4996-B998-0B41AB114AC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E15FD4A-A109-4AF2-8DB6-B2D4C58A1C74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4D2168-097A-4097-84A0-903CB9BC520B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9830507C-9C72-443B-A18D-3426FC22F083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>137CAF33-7CA2-4009-B5BC-5DBBC471E8F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>698DC530-9498-49E5-B289-FD752883198F</string>
				<key>modifiers</key>
				<integer>1835008</integer>
				<key>modifiersubtext</key>
				<string>Force reset counter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A20399A4-276B-4500-AF36-A310532F62AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>137CAF33-7CA2-4009-B5BC-5DBBC471E8F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C73CB007-49D9-40DA-8160-D6C9751C2780</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4D2168-097A-4097-84A0-903CB9BC520B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD4D2168-097A-4097-84A0-903CB9BC520B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B8C5E-CE8A-43D5-A55E-CB4A5C2B1131</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4B07C86-F757-4996-B998-0B41AB114AC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ABE7A12-85E3-498A-8696-F0315D26A5C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA1C2CB7-9935-49C1-8FC3-57C8D421C8AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E15FD4A-A109-4AF2-8DB6-B2D4C58A1C74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDCCB6B4-8FB8-4CDF-92AE-9A7FF79152E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>137CAF33-7CA2-4009-B5BC-5DBBC471E8F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E45B8C5E-CE8A-43D5-A55E-CB4A5C2B1131</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A26F109-4538-4F60-B783-084FD13CCBC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AEAB9FDF-BD9E-4127-8E89-15A4C2304D3C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>161C45E1-BFED-4C2E-A8CE-A8B93C03A196</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Paste previous clipboard entries in order</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sequential Paste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>DDCCB6B4-8FB8-4CDF-92AE-9A7FF79152E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}/counts_file.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>137CAF33-7CA2-4009-B5BC-5DBBC471E8F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A20399A4-276B-4500-AF36-A310532F62AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{const:alfred_workflow_cache}/counts_file.txt</string>
				<key>filetext</key>
				<string>{var:paste_index}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>58A65806-0117-46C3-B806-87D008935505</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2A26F109-4538-4F60-B783-084FD13CCBC2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:append_newline}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Append Newline</string>
						<key>uid</key>
						<string>AEAB9FDF-BD9E-4127-8E89-15A4C2304D3C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Text as Copied</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E45B8C5E-CE8A-43D5-A55E-CB4A5C2B1131</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:init_paste}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7E15FD4A-A109-4AF2-8DB6-B2D4C58A1C74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste_index</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD4D2168-097A-4097-84A0-903CB9BC520B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DA1C2CB7-9935-49C1-8FC3-57C8D421C8AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>First Run</string>
						<key>uid</key>
						<string>8E0A9151-FE1B-4A11-8A26-DD933C9805CC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Continue</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7D783E69-D062-4B77-AD97-D128D0755A7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:paste_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>↩ Paste preceding entry · ⌘⌥⌃↩ Force reset counter</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9830507C-9C72-443B-A18D-3426FC22F083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>161C45E1-BFED-4C2E-A8CE-A8B93C03A196</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>period</key>
					<string>M</string>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}/counts_file.txt</string>
					<key>unit</key>
					<string>{var:reset_mins}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.older-than</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D4B07C86-F757-4996-B998-0B41AB114AC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}/counts_file.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0608BBD0-E795-49C7-852A-82C3237B2A0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}/counts_file.txt</string>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>698DC530-9498-49E5-B289-FD752883198F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Reset Counter</string>
						<key>uid</key>
						<string>B850A618-FE5E-42D6-9710-9876CB3C8ECD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Increase Counter</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7ABE7A12-85E3-498A-8696-F0315D26A5C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>expression</key>
				<string>{query} + 1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.expression</string>
			<key>uid</key>
			<string>C73CB007-49D9-40DA-8160-D6C9751C2780</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0DBE30C9-2C21-4C1F-B5DB-8C678F2D259F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Paste clipboard entries sequentially via the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) or [Snippet Trigger](https://www.alfredapp.com/help/workflows/triggers/snippet/). Each call pastes the preceding clipboard entry.

Copying from the most recent item restarts if the last paste is older than the timeout minutes defined in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/). A force reset can be triggered with the `paste` keyword by pressing &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;.

![Paste Keyword](images/about/paste.png)</string>
	<key>uidata</key>
	<dict>
		<key>0608BBD0-E795-49C7-852A-82C3237B2A0D</key>
		<dict>
			<key>note</key>
			<string>Get current count</string>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>0DBE30C9-2C21-4C1F-B5DB-8C678F2D259F</key>
		<dict>
			<key>note</key>
			<string>Reset counter</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>137CAF33-7CA2-4009-B5BC-5DBBC471E8F5</key>
		<dict>
			<key>note</key>
			<string>Does counter exist?</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>161C45E1-BFED-4C2E-A8CE-A8B93C03A196</key>
		<dict>
			<key>note</key>
			<string>Paste as given</string>
			<key>xpos</key>
			<real>1550</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>2A26F109-4538-4F60-B783-084FD13CCBC2</key>
		<dict>
			<key>note</key>
			<string>Paste with newline</string>
			<key>xpos</key>
			<real>1555</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>58A65806-0117-46C3-B806-87D008935505</key>
		<dict>
			<key>note</key>
			<string>Write count</string>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>698DC530-9498-49E5-B289-FD752883198F</key>
		<dict>
			<key>note</key>
			<string>Reset count</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>7ABE7A12-85E3-498A-8696-F0315D26A5C8</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>7D783E69-D062-4B77-AD97-D128D0755A7E</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>7E15FD4A-A109-4AF2-8DB6-B2D4C58A1C74</key>
		<dict>
			<key>note</key>
			<string>Set count to initial value</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9830507C-9C72-443B-A18D-3426FC22F083</key>
		<dict>
			<key>note</key>
			<string>Paste or reset counter</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>A20399A4-276B-4500-AF36-A310532F62AA</key>
		<dict>
			<key>note</key>
			<string>Paste</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>C73CB007-49D9-40DA-8160-D6C9751C2780</key>
		<dict>
			<key>note</key>
			<string>Increase count</string>
			<key>xpos</key>
			<real>1140</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>CD4D2168-097A-4097-84A0-903CB9BC520B</key>
		<dict>
			<key>note</key>
			<string>Save count to variable and pass it</string>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D4B07C86-F757-4996-B998-0B41AB114AC0</key>
		<dict>
			<key>note</key>
			<string>Is counter file older than the timeout?</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>DA1C2CB7-9935-49C1-8FC3-57C8D421C8AF</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>DDCCB6B4-8FB8-4CDF-92AE-9A7FF79152E0</key>
		<dict>
			<key>note</key>
			<string>Paste</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>E45B8C5E-CE8A-43D5-A55E-CB4A5C2B1131</key>
		<dict>
			<key>xpos</key>
			<real>1380</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>paste</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Paste Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>paste_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Begin pasting from the second most recent copy</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Pasting</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>init_paste</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Append empty line after each paste</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>append_newline</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>3</integer>
				<key>markercount</key>
				<integer>10</integer>
				<key>maxvalue</key>
				<integer>10</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>After this number of minutes without pasting from the workflow, restart pasting from the most recent.</string>
			<key>label</key>
			<string>Timeout</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>reset_mins</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/sequential-paste-workflow/</string>
</dict>
</plist>
