<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>34D06877-D7F7-4591-B8B4-E6D3ABB5C332</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>176B3709-D464-44CD-82D0-AE82E3F8497F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>987036EF-F86D-4C0F-8BF9-CD1E3A24B5E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D53A0E7D-850C-4408-B359-3B06044A2B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9AF5FC82-E4A2-42CC-804B-A39ABE37D2D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FBB878E7-4A08-4C93-9C56-C996CBF6B8C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDEB1461-F077-4DDB-92C1-1A15067325D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34D06877-D7F7-4591-B8B4-E6D3ABB5C332</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1B98F8C-2C7D-49B6-A1C7-F964D5FC9183</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F0950F7-E1AC-422C-8F2E-82518BF9F068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D37D24AA-2684-4983-94DF-C099102D3C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6935998C-ACB6-4719-94AE-24E7616DB283</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDCF7445-7018-43F6-A236-C9766D2A4F07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDEB1461-F077-4DDB-92C1-1A15067325D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF2DD7C4-DFD8-481D-9AEC-F9F8E4869643</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1B98F8C-2C7D-49B6-A1C7-F964D5FC9183</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PhD Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>allow_empty</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>BDEB1461-F077-4DDB-92C1-1A15067325D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://slurp?vault=phd-data-analysis&amp;url={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>176B3709-D464-44CD-82D0-AE82E3F8497F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>w</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>34D06877-D7F7-4591-B8B4-E6D3ABB5C332</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EDCF7445-7018-43F6-A236-C9766D2A4F07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://archive.is/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5F0950F7-E1AC-422C-8F2E-82518BF9F068</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q={query}+%28site%3Awired.com+OR+site%3Atechcrunch.com+OR+site%3Abloomberg.com&amp;tbs=cdr%3A1%2Ccd_min%3A7%2F1%2F2008%2Ccd_max%3A1%2F1%2F2017&amp;tbm=nws</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D53A0E7D-850C-4408-B359-3B06044A2B53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D1B98F8C-2C7D-49B6-A1C7-F964D5FC9183</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://spaywall.com/news/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D37D24AA-2684-4983-94DF-C099102D3C28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paywall</string>
				<key>subtext</key>
				<string>Current Browser Tab</string>
				<key>text</key>
				<string>Skip Paywall</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF2DD7C4-DFD8-481D-9AEC-F9F8E4869643</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tn</string>
				<key>subtext</key>
				<string>for PhD data collection</string>
				<key>text</key>
				<string>Technews: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>987036EF-F86D-4C0F-8BF9-CD1E3A24B5E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q={query}+(site%3Awired.com+OR+site%3Atechcrunch.com+OR+site%3Abloomberg.com)&amp;tbm=nws</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9AF5FC82-E4A2-42CC-804B-A39ABE37D2D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.smry.ai/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6935998C-ACB6-4719-94AE-24E7616DB283</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:search_logfile}</string>
				<key>filetext</key>
				<string>- {isodate:yyyy-MM-dd HH:mm}: {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>FBB878E7-4A08-4C93-9C56-C996CBF6B8C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>176B3709-D464-44CD-82D0-AE82E3F8497F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>34D06877-D7F7-4591-B8B4-E6D3ABB5C332</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>close the browser tab</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>5F0950F7-E1AC-422C-8F2E-82518BF9F068</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>6935998C-ACB6-4719-94AE-24E7616DB283</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>987036EF-F86D-4C0F-8BF9-CD1E3A24B5E8</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>9AF5FC82-E4A2-42CC-804B-A39ABE37D2D6</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>recent news</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BDEB1461-F077-4DDB-92C1-1A15067325D1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>D1B98F8C-2C7D-49B6-A1C7-F964D5FC9183</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>D37D24AA-2684-4983-94DF-C099102D3C28</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>D53A0E7D-850C-4408-B359-3B06044A2B53</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>old news</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>EDCF7445-7018-43F6-A236-C9766D2A4F07</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Slurp</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>EF2DD7C4-DFD8-481D-9AEC-F9F8E4869643</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>try to skip paywall</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>FBB878E7-4A08-4C93-9C56-C996CBF6B8C0</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>log the search</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Logfile Technews Search</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>search_logfile</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
