<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.uploadfile</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>3444071E-B0B8-4C12-9699-210912A13E67</key>
		<array/>
		<key>A697CADF-6E4A-4C9D-8D61-A8BFCE2DACA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E5D2C8-6F1C-416A-B7D8-C27393CF7485</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Cancel Upload</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEA90A14-B8E3-469F-B314-4F347CF478B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3444071E-B0B8-4C12-9699-210912A13E67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Upload files and folders for easy sharing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload File</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "${1}" &gt;&amp;2
./uploadfile upload "${@}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3444071E-B0B8-4C12-9699-210912A13E67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Upload File</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DEA90A14-B8E3-469F-B314-4F347CF478B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./uploadfile abort</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55E5D2C8-6F1C-416A-B7D8-C27393CF7485</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:progress_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require 'json'
require 'pathname'

Progress_file = Pathname.new(ENV['alfred_workflow_cache']).join('progress.txt')
Name_file = Pathname.new(ENV['alfred_workflow_cache']).join('name.txt')

Script_filter_content = lambda {
  if Progress_file.exist?
    filename = Name_file.readlines.first
    progress = Progress_file.readlines.first.sub(/.*\s/, '')

    return {
      rerun: 1,
      items: [
        title: "#{ENV['alfred_workflow_name']} Progress",
        subtitle: "#{progress} / #{filename}",
        valid: false,
        mods: { cmd: { valid: true } }
      ]
    }
  end

  {
    rerun: 1,
    items: [
      title: 'No Upload in Progress',
      subtitle: 'Will auto-refresh if an upload starts',
      valid: false
    ]
  }
}.call

puts(Script_filter_content.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Shows progress of the current UploadFile upload</string>
				<key>title</key>
				<string>UploadFile Progress</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A697CADF-6E4A-4C9D-8D61-A8BFCE2DACA4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Upload files and folders via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/). Folders and multiple files will are zipped prior to upload.

![Upload file](images/about/ua.png)

When done, the download link is copied to the clipboard. Check upload progress via the `ufp` keyword.

![Upload progress](images/about/ufp.png)

Press &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to cancel.</string>
	<key>uidata</key>
	<dict>
		<key>3444071E-B0B8-4C12-9699-210912A13E67</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>55E5D2C8-6F1C-416A-B7D8-C27393CF7485</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>A697CADF-6E4A-4C9D-8D61-A8BFCE2DACA4</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>DEA90A14-B8E3-469F-B314-4F347CF478B3</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>transfer.archivete.am</string>
				<key>pairs</key>
				<array>
					<array>
						<string>0x0.st</string>
						<string>0x0.st</string>
					</array>
					<array>
						<string>litterbox.catbox.moe</string>
						<string>litterbox.catbox.moe</string>
					</array>
					<array>
						<string>transfer.sh</string>
						<string>transfer.sh</string>
					</array>
					<array>
						<string>transfer.archivete.am</string>
						<string>transfer.archivete.am</string>
					</array>
					<array>
						<string>pixeldrain.com</string>
						<string>pixeldrain.com</string>
					</array>
					<array>
						<string>free.keep.sh</string>
						<string>free.keep.sh</string>
					</array>
					<array>
						<string>oshi.at</string>
						<string>oshi.at</string>
					</array>
					<array>
						<string>bayfiles.com</string>
						<string>bayfiles.com</string>
					</array>
					<array>
						<string>anonfile.com</string>
						<string>anonfile.com</string>
					</array>
					<array>
						<string>rapidshare.nu</string>
						<string>rapidshare.nu</string>
					</array>
					<array>
						<string>forumfiles.com</string>
						<string>forumfiles.com</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Upload Service</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>upload_file_to</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ufp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Progress Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>progress_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.5</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/upload-file-workflow/</string>
</dict>
</plist>
