<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.scratchpad</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>74CAC2FA-B7DD-4BC9-8DBD-C3D204F875E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DD6038-B4D2-4E53-8D8A-9B373AA8ECC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0DD6038-B4D2-4E53-8D8A-9B373AA8ECC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AC7C9C0-0457-48CF-8345-6AD342AAE40B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5EA9009D-31E5-463D-8A4D-86312F760D0C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D17DCEA5-CF82-4BA2-A9F8-CBD9F27A23CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D17DCEA5-CF82-4BA2-A9F8-CBD9F27A23CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDF798F6-1971-404C-B10A-2F371D7C9A6A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Save</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54278E90-5506-4C14-9D86-A3875A7D2A90</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Preview</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDF798F6-1971-404C-B10A-2F371D7C9A6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54995964-1DC7-403F-871C-9EBEB7943680</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Simple Scratchpad</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QuickPad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>7AC7C9C0-0457-48CF-8345-6AD342AAE40B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>1</integer>
				<key>footertext</key>
				<string>⌘⏎: Save    ⇧⏎: Preview Markdown     ⎋: Abort</string>
				<key>inputfile</key>
				<string>{var:pad_path}</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>D17DCEA5-CF82-4BA2-A9F8-CBD9F27A23CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:pad_path}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>EDF798F6-1971-404C-B10A-2F371D7C9A6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>💾 Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54995964-1DC7-403F-871C-9EBEB7943680</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>frontapp</string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>74CAC2FA-B7DD-4BC9-8DBD-C3D204F875E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:frontapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.runningwithcrayons.Alfred</string>
						<key>outputlabel</key>
						<string>Alfred</string>
						<key>uid</key>
						<string>5EA9009D-31E5-463D-8A4D-86312F760D0C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D0DD6038-B4D2-4E53-8D8A-9B373AA8ECC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⎋: Back</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>54278E90-5506-4C14-9D86-A3875A7D2A90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Requires Alfred 5.5

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>54278E90-5506-4C14-9D86-A3875A7D2A90</key>
		<dict>
			<key>note</key>
			<string>markdown preview</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>54995964-1DC7-403F-871C-9EBEB7943680</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>74CAC2FA-B7DD-4BC9-8DBD-C3D204F875E2</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7AC7C9C0-0457-48CF-8345-6AD342AAE40B</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>D0DD6038-B4D2-4E53-8D8A-9B373AA8ECC6</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>D17DCEA5-CF82-4BA2-A9F8-CBD9F27A23CF</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>EDF798F6-1971-404C-B10A-2F371D7C9A6A</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop/QuickPad.md</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>QuickPad.md</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Path of QuickPad</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>pad_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>5</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>10</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>test</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
