<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.open-ai</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0FD32B7B-CE8C-4871-A07E-564BB91F0477</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F59CB22-957B-4E74-8A9E-3329447A0232</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92ED8532-D717-4F99-987C-4A3810BC7B5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB4D8632-309B-4BB0-BC22-4F8E12E09362</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB4D8632-309B-4BB0-BC22-4F8E12E09362</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FD32B7B-CE8C-4871-A07E-564BB91F0477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>537C9592-CA70-4E39-A6FB-77555752AEB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OpenAI</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>trigger-open-ai-call.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0FD32B7B-CE8C-4871-A07E-564BB91F0477</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>92ED8532-D717-4F99-987C-4A3810BC7B5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F59CB22-957B-4E74-8A9E-3329447A0232</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>select-line.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB4D8632-309B-4BB0-BC22-4F8E12E09362</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>🤖Thinking…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>537C9592-CA70-4E39-A6FB-77555752AEB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Requirements
- `node` installed
- OpenAI API Key exported in `.zshenv`

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0FD32B7B-CE8C-4871-A07E-564BB91F0477</key>
		<dict>
			<key>note</key>
			<string>call openAI (requires node)</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>537C9592-CA70-4E39-A6FB-77555752AEB6</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7F59CB22-957B-4E74-8A9E-3329447A0232</key>
		<dict>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>92ED8532-D717-4F99-987C-4A3810BC7B5E</key>
		<dict>
			<key>note</key>
			<string>finish the sentence</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>FB4D8632-309B-4BB0-BC22-4F8E12E09362</key>
		<dict>
			<key>note</key>
			<string>get line under cursor</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>sk-...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>If empty, will look through `.zshenv` for a variable `$OPENAI_API_KEY`.</string>
			<key>label</key>
			<string>OpenAI API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>apiKey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>100</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>between 1 and 4000</string>
			<key>label</key>
			<string>maximum tokens</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>maxTokens</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.5</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>between 0 and 1</string>
			<key>label</key>
			<string>Temperature</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>temperature</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>text-davinci-003</string>
				<key>pairs</key>
				<array>
					<array>
						<string>text-davinci-003</string>
						<string>text-davinci-003</string>
					</array>
					<array>
						<string>text-davinci-002</string>
						<string>text-davinci-002</string>
					</array>
					<array>
						<string>code-davinci-002</string>
						<string>code-davinci-002</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>https://platform.openai.com/docs/models/gpt-3-5</string>
			<key>label</key>
			<string>OpenAI Model</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>model</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Finish the following sentence:</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>String to be suffixed in front of every prompt</string>
			<key>label</key>
			<string>Static Prompt</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>staticPrompt</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
