<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>16114BB4-BE21-4621-A09B-F3C515EFF753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1797ACD2-2FF5-4243-B046-A52AA1F7170F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E276CD33-C3E7-4B7A-BFD5-CF124413B5E8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1797ACD2-2FF5-4243-B046-A52AA1F7170F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B006EE5-0906-41A6-A0A6-31E0E5207046</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76115EF8-F22C-4F63-9293-1352457BAE52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA764F23-196A-4344-BBC0-894607AAE61C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF21E556-BA1E-4934-A741-082B9F2A6B86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76115EF8-F22C-4F63-9293-1352457BAE52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>EA764F23-196A-4344-BBC0-894607AAE61C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16114BB4-BE21-4621-A09B-F3C515EFF753</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: View Image</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1797ACD2-2FF5-4243-B046-A52AA1F7170F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E276CD33-C3E7-4B7A-BFD5-CF124413B5E8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: View in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Screenshot History</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/clipboard.set.image.data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1797ACD2-2FF5-4243-B046-A52AA1F7170F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B006EE5-0906-41A6-A0A6-31E0E5207046</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>16114BB4-BE21-4621-A09B-F3C515EFF753</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>E276CD33-C3E7-4B7A-BFD5-CF124413B5E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<false/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<true/>
				<key>titlesinfooter</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>EA764F23-196A-4344-BBC0-894607AAE61C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Preview Clipboard History screenshots</string>
				<key>text</key>
				<string>Clipboard Images</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF21E556-BA1E-4934-A741-082B9F2A6B86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/sqlite3 \
  "${HOME}/Library/Application Support/Alfred/Databases/clipboard.alfdb" \
  ".parameter set :img_dir '~/Library/Application Support/Alfred/Databases/clipboard.alfdb.data/'" \
  "SELECT JSON_OBJECT('items', JSON_GROUP_ARRAY(JSON_OBJECT(
    -- 978307200 is timeIntervalSinceReferenceDate in Unix time
    'title', strftime('%Y/%m/%d %H:%M:%S', datetime(ts + 978307200, 'unixepoch')),
    'subtitle', app,
    'arg', :img_dir || datahash,
    'match', app,
    'icon', JSON_OBJECT('path', :img_dir || datahash))))
  AS JSON_RESULT FROM (
    SELECT ts, app, datahash
      FROM clipboard
      WHERE dataType IS 1
      ORDER BY ts
      DESC)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76115EF8-F22C-4F63-9293-1352457BAE52</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>16114BB4-BE21-4621-A09B-F3C515EFF753</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1797ACD2-2FF5-4243-B046-A52AA1F7170F</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6B006EE5-0906-41A6-A0A6-31E0E5207046</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>76115EF8-F22C-4F63-9293-1352457BAE52</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CF21E556-BA1E-4934-A741-082B9F2A6B86</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>E276CD33-C3E7-4B7A-BFD5-CF124413B5E8</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>EA764F23-196A-4344-BBC0-894607AAE61C</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
