<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pomodoro</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>A1BC3185-ED46-4F36-82FD-AE77700F4A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1301410-023D-4F24-B1B0-CCB94359B54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1301410-023D-4F24-B1B0-CCB94359B54F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>848BF2BB-76B4-43C7-A1AA-1184DA4E1862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC188A79-ACEA-4C24-AF1E-0BAAA56BCFE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1BC3185-ED46-4F36-82FD-AE77700F4A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simple Pomodoro</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>wait.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1301410-023D-4F24-B1B0-CCB94359B54F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pomodoro</string>
				<key>subtext</key>
				<string>{var:interval_mins} min</string>
				<key>text</key>
				<string>Start Pomodoro Timer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC188A79-ACEA-4C24-AF1E-0BAAA56BCFE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#FF2600FF</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>Pomodoro Timer is up!</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>848BF2BB-76B4-43C7-A1AA-1184DA4E1862</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:interval_mins} minutes</string>
				<key>title</key>
				<string>🍅 Timer running</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A1BC3185-ED46-4F36-82FD-AE77700F4A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>848BF2BB-76B4-43C7-A1AA-1184DA4E1862</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>A1BC3185-ED46-4F36-82FD-AE77700F4A93</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>F1301410-023D-4F24-B1B0-CCB94359B54F</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>FC188A79-ACEA-4C24-AF1E-0BAAA56BCFE4</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>25</integer>
				<key>markercount</key>
				<integer>6</integer>
				<key>maxvalue</key>
				<integer>55</integer>
				<key>minvalue</key>
				<integer>5</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>in minutes</string>
			<key>label</key>
			<string>interval</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>interval_mins</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
