<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.vim-helper</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vim</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict/>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
