<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.vim-helper</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03A61E61-611A-4555-B4F6-30ED79850890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>344CD4D7-7498-430B-BE0F-5122D38B377B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52E4440D-A985-49F4-913B-DB43D6AED740</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49BF37B2-3037-4978-954E-E89973D38B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59880808-66A8-4459-B33C-A5FE98786D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49BF37B2-3037-4978-954E-E89973D38B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85ED60B5-47C7-4A5C-8E14-F838BDEFFE0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FFD13E1-74D7-441C-8D92-52C637DD85D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E245279C-76D4-43D7-8F57-E295472BB4F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7497EF13-1EBB-4720-8F82-83144C19C542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vim Quick Reference</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E56FB083-4DE7-4650-A497-30E811525588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>03A61E61-611A-4555-B4F6-30ED79850890</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimium</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Vimium Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6893CDFD-0423-4258-A2EC-B278E825E37C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string> </string>
						<key>outputlabel</key>
						<string>google</string>
						<key>uid</key>
						<string>E245279C-76D4-43D7-8F57-E295472BB4F5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>vim keyword</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>vim {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-chrome-url_[Browser].sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49BF37B2-3037-4978-954E-E89973D38B6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CB01888-1BBF-43A3-B369-5C65420EA7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-vim-quickref_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7497EF13-1EBB-4720-8F82-83144C19C542</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p ~"/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Code/Cheatsheets/Vim Cheat Sheet.png"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⌨️ Vim Cheat Sheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59880808-66A8-4459-B33C-A5FE98786D2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>344CD4D7-7498-430B-BE0F-5122D38B377B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-vimrcs.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52E4440D-A985-49F4-913B-DB43D6AED740</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27B379BB-1B88-4D59-9ECE-96DFFF88322F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/Meta/obsidian.vimrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>87FAFB82-BA4C-4B86-BFB7-42F829F37218</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>obsidian.vimrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support/Sublime Text/Packages/User/.neovintageousrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2FFD13E1-74D7-441C-8D92-52C637DD85D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vimrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>.neovintageousrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85ED60B5-47C7-4A5C-8E14-F838BDEFFE0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>03A61E61-611A-4555-B4F6-30ED79850890</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>27B379BB-1B88-4D59-9ECE-96DFFF88322F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>vimrc</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>2C3AD0F5-2D56-474A-B922-8340DD8E20DF</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>2FFD13E1-74D7-441C-8D92-52C637DD85D7</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>344CD4D7-7498-430B-BE0F-5122D38B377B</key>
		<dict>
			<key>note</key>
			<string>open neovintageous and obsidian vimrc</string>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>49BF37B2-3037-4978-954E-E89973D38B6D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>4CB01888-1BBF-43A3-B369-5C65420EA7C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>vimium settings</string>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>52E4440D-A985-49F4-913B-DB43D6AED740</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>59880808-66A8-4459-B33C-A5FE98786D2F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>cheat sheet</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>6893CDFD-0423-4258-A2EC-B278E825E37C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7497EF13-1EBB-4720-8F82-83144C19C542</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>85ED60B5-47C7-4A5C-8E14-F838BDEFFE0B</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>neovintageousrc</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>87FAFB82-BA4C-4B86-BFB7-42F829F37218</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C6A9FE99-C9C0-4439-98AD-85E5A8105B6F</key>
		<dict>
			<key>note</key>
			<string>Quicklook</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>CDDD44C0-E8E4-4F89-8ED9-3DB266215A4B</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>D3317886-6B6B-4FAB-8FF0-7AAB24B3390D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>E56FB083-4DE7-4650-A497-30E811525588</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>vim quick reference</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
