<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.atop</string>
	<key>connections</key>
	<dict>
		<key>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2759BEDD-4BDD-45E5-8864-D2705A801FC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A09D544F-ECA6-4D74-B8B0-AC69E572977B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2759BEDD-4BDD-45E5-8864-D2705A801FC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBFBCA76-39CE-4D22-A556-EDF1A996849C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1539426-E456-4953-8215-D809DF4B120B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Force Kill</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: killall with same name</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1539426-E456-4953-8215-D809DF4B120B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2759BEDD-4BDD-45E5-8864-D2705A801FC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Minimalistic process manger for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>atop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A09D544F-ECA6-4D74-B8B0-AC69E572977B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill -9 "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1539426-E456-4953-8215-D809DF4B120B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>atop</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-processes.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List of Processes…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CBFBCA76-39CE-4D22-A556-EDF1A996849C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2759BEDD-4BDD-45E5-8864-D2705A801FC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>killall "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>2759BEDD-4BDD-45E5-8864-D2705A801FC5</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>91CC8BC3-40C4-4D4B-8B44-919B6865C4A0</key>
		<dict>
			<key>note</key>
			<string>killall with name</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>A09D544F-ECA6-4D74-B8B0-AC69E572977B</key>
		<dict>
			<key>note</key>
			<string>kill</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>CBFBCA76-39CE-4D22-A556-EDF1A996849C</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>F1539426-E456-4953-8215-D809DF4B120B</key>
		<dict>
			<key>note</key>
			<string>force kill</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
