<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.anime-search</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>1CD7085D-65B2-4B4F-835E-C2DB96C708F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C41A7A4B-3896-4C3A-A0C2-FC70158BB624</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Open at alternative site</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C1A3437-69DE-4AEE-AA72-81371A8748C3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy Japanese Title</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC45C071-007E-491D-805B-4F6EC6B05E28</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>675222A8-3740-4E18-B754-C2E21EDC1631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>226C1914-C9E3-4AF8-855D-C0ABA204805E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399FFA57-165B-472A-AE9A-87BFF27728F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>30875780-C895-4BDC-8A07-CC2CFAE3429F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0FE2DDE7-BAB8-4D62-894F-EEA431A354C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C1A3437-69DE-4AEE-AA72-81371A8748C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399FFA57-165B-472A-AE9A-87BFF27728F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>399FFA57-165B-472A-AE9A-87BFF27728F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AABF91D-1E70-4809-955F-8DBAE86E3107</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F19551C-19DF-41B6-BB36-D3BED80FC88A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD83D622-02FC-4979-A30A-993E3F86605A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B71FB6E-C62F-4C61-A3ED-F4653A5F2D22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>226C1914-C9E3-4AF8-855D-C0ABA204805E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BAACB80-93A4-4D8F-A88F-782637547810</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>675222A8-3740-4E18-B754-C2E21EDC1631</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open at {var:open_at}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F977FA44-8C72-4311-91CA-C5EB0721DCA4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Open at streaming site</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9CA6150-107C-47E5-9DF5-C2BADB8059DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>675222A8-3740-4E18-B754-C2E21EDC1631</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B71FB6E-C62F-4C61-A3ED-F4653A5F2D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AABF91D-1E70-4809-955F-8DBAE86E3107</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E098A04-2A6D-4C5A-9968-3A4364A36654</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC45C071-007E-491D-805B-4F6EC6B05E28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>675222A8-3740-4E18-B754-C2E21EDC1631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C41A7A4B-3896-4C3A-A0C2-FC70158BB624</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399FFA57-165B-472A-AE9A-87BFF27728F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F977FA44-8C72-4311-91CA-C5EB0721DCA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9CA6150-107C-47E5-9DF5-C2BADB8059DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search animes listed in the myanimelist database. Open at myanimelist or AniList.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Anime Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8AABF91D-1E70-4809-955F-8DBAE86E3107</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E098A04-2A6D-4C5A-9968-3A4364A36654</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C41A7A4B-3896-4C3A-A0C2-FC70158BB624</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/anime-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1CD7085D-65B2-4B4F-835E-C2DB96C708F1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>1F19551C-19DF-41B6-BB36-D3BED80FC88A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>399FFA57-165B-472A-AE9A-87BFF27728F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2C1A3437-69DE-4AEE-AA72-81371A8748C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CD83D622-02FC-4979-A30A-993E3F86605A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>AC45C071-007E-491D-805B-4F6EC6B05E28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-url-from-mal_id.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>675222A8-3740-4E18-B754-C2E21EDC1631</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0FE2DDE7-BAB8-4D62-894F-EEA431A354C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^http</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>30875780-C895-4BDC-8A07-CC2CFAE3429F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>not found</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>226C1914-C9E3-4AF8-855D-C0ABA204805E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3B71FB6E-C62F-4C61-A3ED-F4653A5F2D22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F977FA44-8C72-4311-91CA-C5EB0721DCA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9CA6150-107C-47E5-9DF5-C2BADB8059DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_seasonal}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/weekly-seasonal-ranking.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}: Seasonal rankings</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BAACB80-93A4-4D8F-A88F-782637547810</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Search all anime listed in the `myanimelist` database via the keyword `an`.
- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open at myanimelist.net or AniList.
- &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: Copy the Japanese (romaji) title.
- &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy the myanimelist.net or AniList URL.
- &lt;kbd&gt;⇧⏎&lt;/kbd&gt;: Search for the title on an alternative site, such as a
  streaming website.
- &lt;kbd&gt;⌘Y&lt;/kbd&gt;: Quick Look the hero image or `myanimelist` page of the entry.

Access the [r/anime](https://www.reddit.com/r/anime/) weekly seasonal rankings
via `as`.
- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open weekly episode discussion thread at reddit.
- &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: Open the show at myanimelist.net or AniList.
- &lt;kbd&gt;⇧⏎&lt;/kbd&gt;: Open the episode at the streaming site, if available.
- &lt;kbd&gt;⌘Y&lt;/kbd&gt;: Quick Look the hero image of the show/episode.

## Credits
- Anime data by [Jikan](https://docs.api.jikan.moe/).
- `r/anime` seasonal rankings by
  [abysswatcherbel](https://github.com/abysswatcherbel/abysswatcherbel.github.io).
- Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0FE2DDE7-BAB8-4D62-894F-EEA431A354C2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>1CD7085D-65B2-4B4F-835E-C2DB96C708F1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>anime search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>226C1914-C9E3-4AF8-855D-C0ABA204805E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>2C1A3437-69DE-4AEE-AA72-81371A8748C3</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>399FFA57-165B-472A-AE9A-87BFF27728F8</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>action</string>
			<key>xpos</key>
			<real>617</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>3B71FB6E-C62F-4C61-A3ED-F4653A5F2D22</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>5BAACB80-93A4-4D8F-A88F-782637547810</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>seasonal rankings</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>675222A8-3740-4E18-B754-C2E21EDC1631</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get URL from mal_id</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>7E098A04-2A6D-4C5A-9968-3A4364A36654</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8AABF91D-1E70-4809-955F-8DBAE86E3107</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>AC45C071-007E-491D-805B-4F6EC6B05E28</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>C41A7A4B-3896-4C3A-A0C2-FC70158BB624</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>CD83D622-02FC-4979-A30A-993E3F86605A</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D9CA6150-107C-47E5-9DF5-C2BADB8059DD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>F977FA44-8C72-4311-91CA-C5EB0721DCA4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>an</string>
				<key>placeholder</key>
				<string>anime</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword</string>
			<key>label</key>
			<string>Anime search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>relevance</string>
				<key>pairs</key>
				<array>
					<array>
						<string>relevance</string>
						<string>relevance</string>
					</array>
					<array>
						<string>prioritze airing</string>
						<string>prioritize airing</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Sorting</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sorting</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>image</string>
				<key>pairs</key>
				<array>
					<array>
						<string>image</string>
						<string>image</string>
					</array>
					<array>
						<string>myanimelist</string>
						<string>mal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>QuickLook (If installed, this also affects what is previewed with AlfredExtraPane.)</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>quicklook_at</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>exclude non-shows (OVAs, movies, specials)</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>exclude_nonshows</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>exclude adult entries</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>exclude_nsfw</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.crunchyroll.com/search?q=</string>
				<key>placeholder</key>
				<string>https://www.crunchyroll.com/search?q=</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Alternative search site. The full title is inserted at the end of the URL</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alt_search_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>insert Japanese title at alternative search site</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>alt_search_jap</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>as</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Seasonal rankings</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_seasonal</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>use Jpanaese titles</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>seasonal_jap_title</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>use ongoing week</string>
			</dict>
			<key>description</key>
			<string>the ranking incomplete, but "live", since it will only include shows that aired since last Monday</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>seasonal_ongoing_week</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mal</string>
				<key>pairs</key>
				<array>
					<array>
						<string>myanimelist</string>
						<string>mal</string>
					</array>
					<array>
						<string>AniList</string>
						<string>anilist</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Database where to open entries. (This setting only determines where to open the result, the search uses the myanimelist database regardless.)</string>
			<key>label</key>
			<string>Open entries at</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>open_at</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.2.2</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
