<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exclude_nonshows</key>
	<true/>
	<key>keyword_seasonal</key>
	<string>sr</string>
	<key>open_at</key>
	<string>anilist</string>
	<key>sorting</key>
	<string>prioritize airing</string>
</dict>
</plist>
