<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.browser-tweaks</string>
	<key>connections</key>
	<dict>
		<key>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D14B4522-0A25-4F4D-9985-FF8B04E43832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64E7E716-0427-41F0-844C-90D39ACC9152</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7B82F1A-97F8-490C-B4A4-5589FA869579</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Chrome Web Store URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>692B8788-C546-49E7-B8EC-A569E3DD97B0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open in Chrome Webstore</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>692B8788-C546-49E7-B8EC-A569E3DD97B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<array/>
		<key>B420E59A-1B4A-418D-B29E-35104387F051</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97E52210-B26B-49B3-AC6D-65A1235A88C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBEEBC69-AA12-4A6E-B4CD-4ED4C02E0B32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46A0180C-0144-4433-8238-86DD95349753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C65CD77E-C2B3-4063-B045-C1954E7FE033</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1AFFF36-7CC6-4D2F-8728-863C85053348</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B7B82F1A-97F8-490C-B4A4-5589FA869579</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>installed-browser-extensions.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Installed Chrome Extensions</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64E7E716-0427-41F0-844C-90D39ACC9152</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paywall</string>
				<key>subtext</key>
				<string>via 12ft.io</string>
				<key>text</key>
				<string>Skip Paywall</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B420E59A-1B4A-418D-B29E-35104387F051</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>skip-paywall.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97E52210-B26B-49B3-AC6D-65A1235A88C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>692B8788-C546-49E7-B8EC-A569E3DD97B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>chh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string>cat ./chrome-internal-pages.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>installed-browser-extensions.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Chrome Internal Pages</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C65CD77E-C2B3-4063-B045-C1954E7FE033</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>backup-bookmarks.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bkp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Backup: Browser Bookmarks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1AFFF36-7CC6-4D2F-8728-863C85053348</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Bookmarks backuped</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D14B4522-0A25-4F4D-9985-FF8B04E43832</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-alltabs.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46A0180C-0144-4433-8238-86DD95349753</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>alltabs</string>
				<key>subtext</key>
				<string>of front window, as markdown links</string>
				<key>text</key>
				<string>Copy ALL tabs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE7EDFB7-052F-45E8-BC4B-5448613EE413</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} URLs</string>
				<key>title</key>
				<string>✅ URLs copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string>cat ./vivaldi-settings.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>installed-browser-extensions.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Vivaldi Settings</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BBEEBC69-AA12-4A6E-B4CD-4ED4C02E0B32</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-ingonito.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Private Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E51DFA56-3523-4840-8EF6-40FC832EE3BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Safari</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F170814-90DD-485E-A861-757A4FD92606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-to-safari.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Switch to Safari</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>40631024-7C9F-4784-A3E7-1116BD6C894A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>64E7E716-0427-41F0-844C-90D39ACC9152</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>chrome extension search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>692B8788-C546-49E7-B8EC-A569E3DD97B0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>97E52210-B26B-49B3-AC6D-65A1235A88C9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>B420E59A-1B4A-418D-B29E-35104387F051</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>B7B82F1A-97F8-490C-B4A4-5589FA869579</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BBEEBC69-AA12-4A6E-B4CD-4ED4C02E0B32</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>chrome internal page search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>C65CD77E-C2B3-4063-B045-C1954E7FE033</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>chrome internal page search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D14B4522-0A25-4F4D-9985-FF8B04E43832</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D1AFFF36-7CC6-4D2F-8728-863C85053348</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>bookmark backup</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Switch to Private Window</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
