<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.browser-tweaks</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>15777E56-7AC1-41E6-99AA-BB38854CDB0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3CB06C7-80F4-4569-9646-EC67EEEFB51C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B8D7DA4-2146-4F71-8597-E14FC9C4E21C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C71C58FE-597F-47BA-BA2C-0CEEA6E173FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D16E8C6-DE6C-4485-A253-14235E4A1A94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABBA2D0-AB03-47DC-952B-157EAB6B558B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F1388B-26A4-4855-8E82-7A1DD422F2EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89602BBE-3B63-40C2-9346-F6B2F1CFEF68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>528AE6EA-5209-45EE-816F-B14350E47D2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81336F07-6F1D-4BF8-8FC0-6EF0B8886277</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56A2CDC1-E909-4825-82BA-80AAC51CD73F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABBA2D0-AB03-47DC-952B-157EAB6B558B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AD9D65A-5CD0-4DB2-860D-03EC5018186B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABBA2D0-AB03-47DC-952B-157EAB6B558B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B0C6024-DB7D-489C-84CA-118D4AD29879</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AD9D65A-5CD0-4DB2-860D-03EC5018186B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<array/>
		<key>8D2676E8-2C88-4759-9445-2DBC22311D6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D16E8C6-DE6C-4485-A253-14235E4A1A94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46A0180C-0144-4433-8238-86DD95349753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C71C58FE-597F-47BA-BA2C-0CEEA6E173FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABBA2D0-AB03-47DC-952B-157EAB6B558B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F34E5081-7725-4B48-867B-36BC4DFAD990</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56A2CDC1-E909-4825-82BA-80AAC51CD73F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brave Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Private Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E51DFA56-3523-4840-8EF6-40FC832EE3BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-ingonito_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:browser</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browser Default Folder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>528AE6EA-5209-45EE-816F-B14350E47D2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-browser-default-folder_[Browser-Path].sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81336F07-6F1D-4BF8-8FC0-6EF0B8886277</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>j</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E3CB06C7-80F4-4569-9646-EC67EEEFB51C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>53</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>⎋</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.vivaldi.Vivaldi</string>
					<string>com.brave.Browser</string>
					<string>org.chromium.Chromium</string>
					<string>com.brave.Browser.app.fmajbmdokmecmpllfhcamihghgoablgg</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>15777E56-7AC1-41E6-99AA-BB38854CDB0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Safari</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F170814-90DD-485E-A861-757A4FD92606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-to-safari_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>extensions</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⚙️ Browser Extensions</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D2676E8-2C88-4759-9445-2DBC22311D6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
					<string>org.chromium.Chromium</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>45F1388B-26A4-4855-8E82-7A1DD422F2EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>window-split_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89602BBE-3B63-40C2-9346-F6B2F1CFEF68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>brave://extensions/</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D16E8C6-DE6C-4485-A253-14235E4A1A94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-chrome-url_[Browser].sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0ABBA2D0-AB03-47DC-952B-157EAB6B558B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>mouse</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🖱 Mouse Gestures</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B0C6024-DB7D-489C-84CA-118D4AD29879</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>chrome-extension://mjidkpedjlfnanainpdfnedkdlacidla/options.html</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6AD9D65A-5CD0-4DB2-860D-03EC5018186B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} URLs</string>
				<key>title</key>
				<string>✅ URLs copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-alltabs_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46A0180C-0144-4433-8238-86DD95349753</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>alltabs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy the Title and URL of ALL tabs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE7EDFB7-052F-45E8-BC4B-5448613EE413</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>redirects</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⤵️ Redirects</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B8D7DA4-2146-4F71-8597-E14FC9C4E21C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>chrome-extension://ocgpenflpmgnfapjedencafcfakcekcd/redirector.html</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C71C58FE-597F-47BA-BA2C-0CEEA6E173FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>adblock</string>
				<key>subtext</key>
				<string>User Rules</string>
				<key>text</key>
				<string>🚫 Adblock Settings</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F34E5081-7725-4B48-867B-36BC4DFAD990</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>chrome-extension://bgnkhhnnamicmpeenaelnjfhikgbkllg/pages/options.html#user-filter</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>56A2CDC1-E909-4825-82BA-80AAC51CD73F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0ABBA2D0-AB03-47DC-952B-157EAB6B558B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>15777E56-7AC1-41E6-99AA-BB38854CDB0A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Open Console</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Switch to Safari</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>2B8D7DA4-2146-4F71-8597-E14FC9C4E21C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>manage mouse gestures</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>2D16E8C6-DE6C-4485-A253-14235E4A1A94</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>40631024-7C9F-4784-A3E7-1116BD6C894A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>45F1388B-26A4-4855-8E82-7A1DD422F2EE</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Double Browser Windows</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>528AE6EA-5209-45EE-816F-B14350E47D2A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>56A2CDC1-E909-4825-82BA-80AAC51CD73F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>6AD9D65A-5CD0-4DB2-860D-03EC5018186B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>6B0C6024-DB7D-489C-84CA-118D4AD29879</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>manage mouse gestures</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>81336F07-6F1D-4BF8-8FC0-6EF0B8886277</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>89602BBE-3B63-40C2-9346-F6B2F1CFEF68</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>8D2676E8-2C88-4759-9445-2DBC22311D6D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>manage extensions</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>C71C58FE-597F-47BA-BA2C-0CEEA6E173FD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>E3CB06C7-80F4-4569-9646-EC67EEEFB51C</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Switch to Private Window</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F34E5081-7725-4B48-867B-36BC4DFAD990</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>manage mouse gestures</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
