<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.browser-tweaks</string>
	<key>connections</key>
	<dict>
		<key>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D14B4522-0A25-4F4D-9985-FF8B04E43832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<array/>
		<key>84E909BE-967C-46E7-8E3A-3250AF1317B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108297BB-3FFF-4873-84B8-BC4E6B1DD195</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D2676E8-2C88-4759-9445-2DBC22311D6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9F4EE1D-52DB-49C1-9E18-08ED50105830</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AA14640-4989-4266-9F9B-E6DB0264EFA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EF415FC-4BD8-4481-A80A-C31DB81268CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B420E59A-1B4A-418D-B29E-35104387F051</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97E52210-B26B-49B3-AC6D-65A1235A88C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6430DD8-BB7B-43C8-ADCA-D14DD9FC0D7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF0751AB-25B7-45A7-89DE-68E791637C9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCBA39EC-1A03-42AE-AC02-3008B7476776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B4208D1-E8A7-4F39-B0A9-1DB6D596B5BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46A0180C-0144-4433-8238-86DD95349753</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6C4E59B-E0BE-4C24-A409-FAAE49BE8100</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8E0AB8E-1473-4197-B793-732E24B45E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1AFFF36-7CC6-4D2F-8728-863C85053348</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5B886F0-9286-40B9-9F3E-0475D3256D4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8C9DCF0-A851-471C-9C2A-46D5C9F34BFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F34E5081-7725-4B48-867B-36BC4DFAD990</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8E0AB8E-1473-4197-B793-732E24B45E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Private Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E51DFA56-3523-4840-8EF6-40FC832EE3BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-ingonito.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>extensions</string>
				<key>subtext</key>
				<string>Overview</string>
				<key>text</key>
				<string>⚙️ Browser Extensions</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D2676E8-2C88-4759-9445-2DBC22311D6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome://extensions/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9F4EE1D-52DB-49C1-9E18-08ED50105830</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>extensions</string>
				<key>subtext</key>
				<string>Keyboard Shortcuts</string>
				<key>text</key>
				<string>⚙️ Browser Extensions</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9AA14640-4989-4266-9F9B-E6DB0264EFA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome://extensions/shortcuts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8EF415FC-4BD8-4481-A80A-C31DB81268CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Switch to Safari</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F170814-90DD-485E-A861-757A4FD92606</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-to-safari.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F3C1C68-F012-43DA-97ED-530C7CF22733</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>adblock</string>
				<key>subtext</key>
				<string>User Rules</string>
				<key>text</key>
				<string>🚫 Adblock Settings</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F34E5081-7725-4B48-867B-36BC4DFAD990</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://bgnkhhnnamicmpeenaelnjfhikgbkllg/pages/options.html#user-filter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A8E0AB8E-1473-4197-B793-732E24B45E9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>skip-paywall.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97E52210-B26B-49B3-AC6D-65A1235A88C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paywall</string>
				<key>subtext</key>
				<string>via 12ft.io</string>
				<key>text</key>
				<string>Skip Paywall</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B420E59A-1B4A-418D-B29E-35104387F051</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>adguard</string>
				<key>subtext</key>
				<string>User Rules</string>
				<key>text</key>
				<string>🚫 Adblock Settings</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C6C4E59B-E0BE-4C24-A409-FAAE49BE8100</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>backup-bookmarks.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Bookmarks backuped</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D14B4522-0A25-4F4D-9985-FF8B04E43832</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bkp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Backup: Browser Bookmarks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1AFFF36-7CC6-4D2F-8728-863C85053348</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://dhdgffkkebhmkfjojejmpbldmpobfkfo/options.html#nav=utils</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CF0751AB-25B7-45A7-89DE-68E791637C9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tampermonkey</string>
				<key>subtext</key>
				<string>export/import</string>
				<key>text</key>
				<string>🐵 Tampermonkey</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6430DD8-BB7B-43C8-ADCA-D14DD9FC0D7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} URLs</string>
				<key>title</key>
				<string>✅ URLs copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40631024-7C9F-4784-A3E7-1116BD6C894A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-alltabs.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46A0180C-0144-4433-8238-86DD95349753</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>alltabs</string>
				<key>subtext</key>
				<string>of front window, as markdown links</string>
				<key>text</key>
				<string>Copy ALL tabs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE7EDFB7-052F-45E8-BC4B-5448613EE413</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tampermonkey</string>
				<key>subtext</key>
				<string>User Scripts</string>
				<key>text</key>
				<string>🐵 Tampermonkey</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>84E909BE-967C-46E7-8E3A-3250AF1317B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://dhdgffkkebhmkfjojejmpbldmpobfkfo/options.html#nav=dashboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>108297BB-3FFF-4873-84B8-BC4E6B1DD195</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>⬇️ Downloads</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCBA39EC-1A03-42AE-AC02-3008B7476776</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome://downloads/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4B4208D1-E8A7-4F39-B0A9-1DB6D596B5BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://hfjbmagddngcpeloejdejnfgbamkjaeg/pages/options.html</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C8C9DCF0-A851-471C-9C2A-46D5C9F34BFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>43</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.vivaldi.Vivaldi</string>
					<string>org.chromium.Chromium</string>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E5B886F0-9286-40B9-9F3E-0475D3256D4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>108297BB-3FFF-4873-84B8-BC4E6B1DD195</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>10C28BFB-0100-4B2F-BAEF-FEA3FC8C44E2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>14C11AAF-4BA7-4F10-8AE5-C5BF378187DE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>1F170814-90DD-485E-A861-757A4FD92606</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Switch to Safari</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>40631024-7C9F-4784-A3E7-1116BD6C894A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>46A0180C-0144-4433-8238-86DD95349753</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>4B4208D1-E8A7-4F39-B0A9-1DB6D596B5BC</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>6F3C1C68-F012-43DA-97ED-530C7CF22733</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>84E909BE-967C-46E7-8E3A-3250AF1317B5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>8D2676E8-2C88-4759-9445-2DBC22311D6D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>manage extensions</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>8EF415FC-4BD8-4481-A80A-C31DB81268CE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>97E52210-B26B-49B3-AC6D-65A1235A88C9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>9AA14640-4989-4266-9F9B-E6DB0264EFA5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>extension shortcuts</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>A8E0AB8E-1473-4197-B793-732E24B45E9F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>B420E59A-1B4A-418D-B29E-35104387F051</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>B6430DD8-BB7B-43C8-ADCA-D14DD9FC0D7A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>BCBA39EC-1A03-42AE-AC02-3008B7476776</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>BE7EDFB7-052F-45E8-BC4B-5448613EE413</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>BE8B707A-6DA8-4CDD-A5BF-434F69DAC7B4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>C6C4E59B-E0BE-4C24-A409-FAAE49BE8100</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>C8C9DCF0-A851-471C-9C2A-46D5C9F34BFB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>CF0751AB-25B7-45A7-89DE-68E791637C9D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>D14B4522-0A25-4F4D-9985-FF8B04E43832</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D1AFFF36-7CC6-4D2F-8728-863C85053348</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>bookmark backup</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D9F4EE1D-52DB-49C1-9E18-08ED50105830</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>E51DFA56-3523-4840-8EF6-40FC832EE3BB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Switch to Private Window</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E5B886F0-9286-40B9-9F3E-0475D3256D4F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>vimium settings</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>F34E5081-7725-4B48-867B-36BC4DFAD990</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
