<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.maps-suggest</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>246AE6D9-BC40-4334-925D-91CDEB7F3B65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E63483-8332-4632-9EBE-836D86AEEAF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C357E73-8FA7-47FB-8A71-A149EAA38DBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90C7EBAC-FC6C-4C5C-B654-DCC61050BA6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F4115AE-E3F9-4A7E-9E33-02EC623325CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E63483-8332-4632-9EBE-836D86AEEAF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6987CCB5-57AD-4EB1-BA55-99F9CD7C6EED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C357E73-8FA7-47FB-8A71-A149EAA38DBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89E63483-8332-4632-9EBE-836D86AEEAF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4CEBC18-69B5-4955-8AE2-D4FC12D7537D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B633ADB9-73C2-4236-AB4E-55042EE486D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6987CCB5-57AD-4EB1-BA55-99F9CD7C6EED</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open at {var:map_provider_2}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C357E73-8FA7-47FB-8A71-A149EAA38DBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89E63483-8332-4632-9EBE-836D86AEEAF4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F4115AE-E3F9-4A7E-9E33-02EC623325CE</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy coordinates</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>246AE6D9-BC40-4334-925D-91CDEB7F3B65</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy address</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4CEBC18-69B5-4955-8AE2-D4FC12D7537D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90C7EBAC-FC6C-4C5C-B654-DCC61050BA6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Suggest locations to open in Apple Maps or Google Maps.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Maps Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>6987CCB5-57AD-4EB1-BA55-99F9CD7C6EED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/maps-suggest.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B633ADB9-73C2-4236-AB4E-55042EE486D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2C357E73-8FA7-47FB-8A71-A149EAA38DBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>90C7EBAC-FC6C-4C5C-B654-DCC61050BA6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>89E63483-8332-4632-9EBE-836D86AEEAF4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E4CEBC18-69B5-4955-8AE2-D4FC12D7537D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3F4115AE-E3F9-4A7E-9E33-02EC623325CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>246AE6D9-BC40-4334-925D-91CDEB7F3B65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Search for locations with the keyword `map`.
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the location at the primary map provider.
- &lt;kbd&gt;⌘⏎&lt;/kbd&gt; open the location at the secondary map provider.
- &lt;kbd&gt;⌥⏎&lt;/kbd&gt; copy the URL of the primary map provider.
- &lt;kbd&gt;⌃⏎&lt;/kbd&gt; copy the address.
- &lt;kbd&gt;⇧⏎&lt;/kbd&gt; copy the coordinates.

---

## Credits
Data by [OpenStreetMap](https://www.openstreetmap.org/) via 
[photon API](https://photon.komoot.io/).

Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>246AE6D9-BC40-4334-925D-91CDEB7F3B65</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>2C357E73-8FA7-47FB-8A71-A149EAA38DBA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3F4115AE-E3F9-4A7E-9E33-02EC623325CE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>6987CCB5-57AD-4EB1-BA55-99F9CD7C6EED</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>89E63483-8332-4632-9EBE-836D86AEEAF4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>90C7EBAC-FC6C-4C5C-B654-DCC61050BA6D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B633ADB9-73C2-4236-AB4E-55042EE486D0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E4CEBC18-69B5-4955-8AE2-D4FC12D7537D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>map</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Maps</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google Maps</string>
						<string>Google Maps</string>
					</array>
					<array>
						<string>Apple Maps</string>
						<string>Apple Maps</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>primary, open with `⏎`</string>
			<key>label</key>
			<string>open at</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>map_provider_1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Apple Maps</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google Maps</string>
						<string>Google Maps</string>
					</array>
					<array>
						<string>Apple Maps</string>
						<string>Apple Maps</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>secondary, open with `⌘⏎`</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>map_provider_2</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
