<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.</string>
	<key>connections</key>
	<dict>
		<key>02A37629-95DF-4849-8367-C3360EFD9A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1615CB49-B95C-4EB6-95BE-B8A86911A0E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1615CB49-B95C-4EB6-95BE-B8A86911A0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>114059BE-BFA3-4C25-8464-64FBCD7AF7B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>842EF3A9-9CB2-400B-8D73-EB0D0EBEEB33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02A37629-95DF-4849-8367-C3360EFD9A74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Demo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>UPPERCASE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>842EF3A9-9CB2-400B-8D73-EB0D0EBEEB33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>114059BE-BFA3-4C25-8464-64FBCD7AF7B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>1615CB49-B95C-4EB6-95BE-B8A86911A0E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>02A37629-95DF-4849-8367-C3360EFD9A74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>02A37629-95DF-4849-8367-C3360EFD9A74</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>114059BE-BFA3-4C25-8464-64FBCD7AF7B5</key>
		<dict>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>1615CB49-B95C-4EB6-95BE-B8A86911A0E1</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>842EF3A9-9CB2-400B-8D73-EB0D0EBEEB33</key>
		<dict>
			<key>note</key>
			<string>Does not work in Compatibility Mode.</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
