<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.calendar</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>12707C5A-EABC-4604-A5BE-7FA3A8C58633</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE4AEB25-85D0-41AC-AC86-E0659CB0261B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18FFA997-787D-46F4-89C2-25C74CB7E743</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD5AE814-346D-42A1-802D-B4359B140681</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23A307F5-9BF9-4CFA-BC6B-8E6BEF7F47AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78C98287-DBDB-4D90-B438-BC63165D56B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30EB53FD-EE6B-442A-8B93-92FFEE106567</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47542C42-ADC6-4BA9-9E52-E9F11093D94A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAFF81CB-CC62-49A5-B0DF-DBB718F6B5E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4807A1A0-6691-4686-8ACA-C507FDA668EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A5207AC-53C5-48B3-8C2F-D799BED3C452</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A120862-2045-4E00-819B-B9B68562B55D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD5AE814-346D-42A1-802D-B4359B140681</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78C98287-DBDB-4D90-B438-BC63165D56B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>802D2A2A-82EF-4E66-9FA0-82934BAB9D4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD994AC1-2439-41B0-8DE7-BAF7C465B3DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85FB48E5-3F6B-4F8A-85F1-DA287613CFCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30EB53FD-EE6B-442A-8B93-92FFEE106567</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B224DA29-7E6C-4916-AA1E-F8F3EDF2AD38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFC2FD2A-982E-447C-AA7C-F5026DF72C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E31D8365-49F6-4A04-B7DC-FB57D7DE3B6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E31D8365-49F6-4A04-B7DC-FB57D7DE3B6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAFF81CB-CC62-49A5-B0DF-DBB718F6B5E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE4AEB25-85D0-41AC-AC86-E0659CB0261B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calendar &amp; Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add as Event '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18FFA997-787D-46F4-89C2-25C74CB7E743</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>busycalevent://new/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD5AE814-346D-42A1-802D-B4359B140681</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Add as Event to BusyCal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5A120862-2045-4E00-819B-B9B68562B55D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>c</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>0A5207AC-53C5-48B3-8C2F-D799BED3C452</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.busymac.busycal3</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4807A1A0-6691-4686-8ACA-C507FDA668EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Add as Task to BusyCal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B224DA29-7E6C-4916-AA1E-F8F3EDF2AD38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>DD994AC1-2439-41B0-8DE7-BAF7C465B3DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.busymac.busycal3</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>802D2A2A-82EF-4E66-9FA0-82934BAB9D4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string>1️⃣ tomorrow</string>
				<key>text</key>
				<string>Add Task: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47542C42-ADC6-4BA9-9E52-E9F11093D94A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} tomorrow</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EAFF81CB-CC62-49A5-B0DF-DBB718F6B5E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>busycalevent://new/-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string>next Ⓜ️</string>
				<key>text</key>
				<string>Add Task: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12707C5A-EABC-4604-A5BE-7FA3A8C58633</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} Monday</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EE4AEB25-85D0-41AC-AC86-E0659CB0261B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string>next 🔆</string>
				<key>text</key>
				<string>Add Task: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23A307F5-9BF9-4CFA-BC6B-8E6BEF7F47AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} Sunday</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>78C98287-DBDB-4D90-B438-BC63165D56B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string>2️⃣ days</string>
				<key>text</key>
				<string>Add Task: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFC2FD2A-982E-447C-AA7C-F5026DF72C9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} {date +2d:dd.MM.yy}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E31D8365-49F6-4A04-B7DC-FB57D7DE3B6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string>3️⃣ days</string>
				<key>text</key>
				<string>Add Task: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85FB48E5-3F6B-4F8A-85F1-DA287613CFCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query} {date +3d:dd.MM.yy}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>30EB53FD-EE6B-442A-8B93-92FFEE106567</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0A5207AC-53C5-48B3-8C2F-D799BED3C452</key>
		<dict>
			<key>note</key>
			<string>toggle sidebar</string>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>12707C5A-EABC-4604-A5BE-7FA3A8C58633</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>18FFA997-787D-46F4-89C2-25C74CB7E743</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>23A307F5-9BF9-4CFA-BC6B-8E6BEF7F47AE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>30EB53FD-EE6B-442A-8B93-92FFEE106567</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>3FBB08F9-CA91-4905-9ED4-9EBFC8FD49DA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>47542C42-ADC6-4BA9-9E52-E9F11093D94A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>4807A1A0-6691-4686-8ACA-C507FDA668EE</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>5A120862-2045-4E00-819B-B9B68562B55D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>78C98287-DBDB-4D90-B438-BC63165D56B5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>802D2A2A-82EF-4E66-9FA0-82934BAB9D4E</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>85FB48E5-3F6B-4F8A-85F1-DA287613CFCE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>B224DA29-7E6C-4916-AA1E-F8F3EDF2AD38</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>BD5AE814-346D-42A1-802D-B4359B140681</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>DD994AC1-2439-41B0-8DE7-BAF7C465B3DE</key>
		<dict>
			<key>note</key>
			<string>toggle sidebar</string>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>DFC2FD2A-982E-447C-AA7C-F5026DF72C9D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>E31D8365-49F6-4A04-B7DC-FB57D7DE3B6E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>EAFF81CB-CC62-49A5-B0DF-DBB718F6B5E5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>EE4AEB25-85D0-41AC-AC86-E0659CB0261B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
