<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.messengers</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>07C9BA35-3528-4685-92EE-687F95448B30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2234A5C0-FDE3-435A-83A4-6CC19FA4480C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37395496-78FC-403F-9082-9A707DCD9ABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB4A0D7B-AA0C-4C05-988E-8C90DFE82599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D704BE9-61E0-4285-9B8B-7C5AF433BD23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDB7E2DC-E7D2-4059-B903-A348C134C523</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>661DA836-A4F2-4671-80FE-4F378B93EAD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28A37FE2-DC32-454F-9F4A-5EA7B7302518</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73568E42-796B-4E16-97F8-1A9FD865985F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84BE295A-8ECF-4EF4-A2E3-350807F5C5EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91F5DAE9-7EA4-4520-AE5A-A24674BDAAC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B652A706-A1B3-4356-8EA2-962BC3DDB92D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A537988D-4030-4E88-82B4-D20AEE30FA86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28A37FE2-DC32-454F-9F4A-5EA7B7302518</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BECF02B0-2BD7-406C-AA20-3048BD449818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1BA652A-A955-45F0-AB2F-71D3EADD5732</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8CC14AC-2115-4AD9-9732-73890756EFEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28A37FE2-DC32-454F-9F4A-5EA7B7302518</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA823F9B-8853-46E8-84DC-6A6EBC039657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>661DA836-A4F2-4671-80FE-4F378B93EAD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB4A0D7B-AA0C-4C05-988E-8C90DFE82599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28A37FE2-DC32-454F-9F4A-5EA7B7302518</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED11D17A-FF62-4970-AA48-CFE0C253BABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8CC14AC-2115-4AD9-9732-73890756EFEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE74D331-B8D3-45E9-A19C-BC69008364B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A537988D-4030-4E88-82B4-D20AEE30FA86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Messenger Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.messenger.com/t/1774534355902976</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CDB7E2DC-E7D2-4059-B903-A348C134C523</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sören &amp; Ola</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D704BE9-61E0-4285-9B8B-7C5AF433BD23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Oli</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EE74D331-B8D3-45E9-A19C-BC69008364B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://web.telegram.org/z/#351507037</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A537988D-4030-4E88-82B4-D20AEE30FA86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.messenger.com/t/100000235382471</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2234A5C0-FDE3-435A-83A4-6CC19FA4480C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Kevin</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07C9BA35-3528-4685-92EE-687F95448B30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://web.telegram.org/z/#1720765113</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EB4A0D7B-AA0C-4C05-988E-8C90DFE82599</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Matthias</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37395496-78FC-403F-9082-9A707DCD9ABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>wait-plus-tab_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28A37FE2-DC32-454F-9F4A-5EA7B7302518</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Joseph</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91F5DAE9-7EA4-4520-AE5A-A24674BDAAC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.messenger.com/t/661762054</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B652A706-A1B3-4356-8EA2-962BC3DDB92D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://web.telegram.org/z/#497416073</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>661DA836-A4F2-4671-80FE-4F378B93EAD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vivi</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA823F9B-8853-46E8-84DC-6A6EBC039657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://web.whatsapp.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1BA652A-A955-45F0-AB2F-71D3EADD5732</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>wa</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>WhatsApp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BECF02B0-2BD7-406C-AA20-3048BD449818</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://web.telegram.org/z/#58908103</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E8CC14AC-2115-4AD9-9732-73890756EFEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Kordian</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED11D17A-FF62-4970-AA48-CFE0C253BABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>d</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1179648</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>84BE295A-8ECF-4EF4-A2E3-350807F5C5EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.tinyspeck.slackmacgap</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>73568E42-796B-4E16-97F8-1A9FD865985F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>use Telegram Web Z

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>07C9BA35-3528-4685-92EE-687F95448B30</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Kevin</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>2234A5C0-FDE3-435A-83A4-6CC19FA4480C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>28A37FE2-DC32-454F-9F4A-5EA7B7302518</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>wait + tab</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>37395496-78FC-403F-9082-9A707DCD9ABF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Matthias</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4D704BE9-61E0-4285-9B8B-7C5AF433BD23</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Sören &amp; Ola</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>661DA836-A4F2-4671-80FE-4F378B93EAD0</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>73568E42-796B-4E16-97F8-1A9FD865985F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>toggle sidebar</string>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>84BE295A-8ECF-4EF4-A2E3-350807F5C5EF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>91F5DAE9-7EA4-4520-AE5A-A24674BDAAC7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Joseph</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>A537988D-4030-4E88-82B4-D20AEE30FA86</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>B652A706-A1B3-4356-8EA2-962BC3DDB92D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>BECF02B0-2BD7-406C-AA20-3048BD449818</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>CDB7E2DC-E7D2-4059-B903-A348C134C523</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>D1BA652A-A955-45F0-AB2F-71D3EADD5732</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>E8CC14AC-2115-4AD9-9732-73890756EFEE</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>EA823F9B-8853-46E8-84DC-6A6EBC039657</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Vivi</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>EB4A0D7B-AA0C-4C05-988E-8C90DFE82599</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>ED11D17A-FF62-4970-AA48-CFE0C253BABF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Kordian</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>EE74D331-B8D3-45E9-A19C-BC69008364B2</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Oli</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
