<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.hackerboard</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>50B4021B-BEB3-47B4-AE36-70254E107434</key>
		<array/>
		<key>81D415C5-CA65-4F79-9F94-BC4161B14D81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D462A9D1-D59F-4249-B40E-04775A3F930A</string>
				<key>modifiers</key>
				<integer>1835008</integer>
				<key>modifiersubtext</key>
				<string>Force Cache Update</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D462A9D1-D59F-4249-B40E-04775A3F930A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA242BFD-A940-46A7-92D7-DD9BEE9AE93D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Links from the front page of Hacker News</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hackerboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:hackernews_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting news…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>hackerboard</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Hacker News</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>show_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81D415C5-CA65-4F79-9F94-BC4161B14D81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D462A9D1-D59F-4249-B40E-04775A3F930A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_list</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EA242BFD-A940-46A7-92D7-DD9BEE9AE93D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search Hacker News front page links via the `hn` keyword.

![Hacker News front page links](images/about/hn.png)

Press &lt;kbd&gt;↩&lt;/kbd&gt; to open the linked website or &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to open the Hacker News comments thread. This behaviour can be reversed in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

News are fetched if it’s been over an hour since the last run. An immediate cache rebuild can be forced with &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;.</string>
	<key>uidata</key>
	<dict>
		<key>50B4021B-BEB3-47B4-AE36-70254E107434</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>81D415C5-CA65-4F79-9F94-BC4161B14D81</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>D462A9D1-D59F-4249-B40E-04775A3F930A</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>EA242BFD-A940-46A7-92D7-DD9BEE9AE93D</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Hacker News Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hackernews_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Open comments thread instead of article link</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Default to Comments</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>default_comments</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Newline-separated case-insensitive list of words to ignore in titles and URLs.</string>
			<key>label</key>
			<string>Ignore Keywords</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignore_keywords</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.5</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/hackerboard-workflow/</string>
</dict>
</plist>
