<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.multiocr</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>0A565678-C24A-4C63-B850-A03B444F9E34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7093A6DF-36DF-4862-8E32-B30F9559C82C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F78182F-0519-4AEB-8FD5-D09AC146D3FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50FCEC9C-586C-495D-815E-7D7E50BD2BDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1E2824BA-2926-4BBE-8207-FB7448C7F27D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81814BDA-49C9-422A-9C6F-B09A214B6756</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17649347-A6F4-4AC5-B59C-764ACBC09B3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DE2C061-6670-4215-A451-005DF3584900</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31D90B0F-4E8E-40B0-B444-51678BB60718</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F78182F-0519-4AEB-8FD5-D09AC146D3FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>376E4B9A-F4DA-4F74-9AB1-2FF08B8154AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD351A5A-40D9-4450-9DB0-B366979C3E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41443C5F-20FD-47DE-BE04-40EF281680C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31D90B0F-4E8E-40B0-B444-51678BB60718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CF59EB8-BA09-4ECA-8D62-4EDAC9016221</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DE2C061-6670-4215-A451-005DF3584900</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50FCEC9C-586C-495D-815E-7D7E50BD2BDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A3A1D69-C3FA-4667-A5CB-84EEE1E8F1B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7093A6DF-36DF-4862-8E32-B30F9559C82C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A31D3F5A-2CFB-4629-96C0-3EB3DF4DCA10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31D90B0F-4E8E-40B0-B444-51678BB60718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DE2C061-6670-4215-A451-005DF3584900</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A565678-C24A-4C63-B850-A03B444F9E34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E8CE435-14F3-4B7E-834E-AE4A624A929F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>376E4B9A-F4DA-4F74-9AB1-2FF08B8154AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81814BDA-49C9-422A-9C6F-B09A214B6756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0B9DA67-52EF-4547-8043-4380EC2A3468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD351A5A-40D9-4450-9DB0-B366979C3E7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31D90B0F-4E8E-40B0-B444-51678BB60718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>877C2BAB-C6E7-470F-8B5E-79DB8304DD8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAD00A6B-04F6-43D9-BA23-F5DDEA34912A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41443C5F-20FD-47DE-BE04-40EF281680C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run OCR on screenshots, images, and PDFs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Multi OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CF59EB8-BA09-4ECA-8D62-4EDAC9016221</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Did not find any text to OCR</string>
				<key>title</key>
				<string>No Text Found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2A3A1D69-C3FA-4667-A5CB-84EEE1E8F1B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:screenshot_path}</string>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A31D3F5A-2CFB-4629-96C0-3EB3DF4DCA10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:screenshot_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Take a screenshot of a screen area and perform OCR</string>
				<key>text</key>
				<string>OCR Screen Area</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>17649347-A6F4-4AC5-B59C-764ACBC09B3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/screen-capture/screenshot.interactive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7DE2C061-6670-4215-A451-005DF3584900</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.ocr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7093A6DF-36DF-4862-8E32-B30F9559C82C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>50FCEC9C-586C-495D-815E-7D7E50BD2BDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>screenshot_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A565678-C24A-4C63-B850-A03B444F9E34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.ocr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>41443C5F-20FD-47DE-BE04-40EF281680C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>OCR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FAD00A6B-04F6-43D9-BA23-F5DDEA34912A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>No Text</string>
						<key>uid</key>
						<string>1E2824BA-2926-4BBE-8207-FB7448C7F27D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Has Text</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0F78182F-0519-4AEB-8FD5-D09AC146D3FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>31D90B0F-4E8E-40B0-B444-51678BB60718</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A0B9DA67-52EF-4547-8043-4380EC2A3468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>resolution</key>
					<string>144</string>
					<key>save_in</key>
					<string>/tmp/{const:alfred_workflow_bundleid}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/pdf-manipulation/pdf.pages.save-as.images</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>376E4B9A-F4DA-4F74-9AB1-2FF08B8154AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>/tmp/{const:alfred_workflow_bundleid}</string>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>877C2BAB-C6E7-470F-8B5E-79DB8304DD8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.ocr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>AD351A5A-40D9-4450-9DB0-B366979C3E7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>OCR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>7E8CE435-14F3-4B7E-834E-AE4A624A929F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>81814BDA-49C9-422A-9C6F-B09A214B6756</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Perform [Optical Charater Recognition](https://en.wikipedia.org/wiki/Optical_character_recognition) on a screen area via the `ocr` keyword or the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/).

![Preparing to run OCR from a screenshot](images/about/keyword.png)

Perform Optical Charater recognition on images and PDFs via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Running OCR on image](images/about/uaimage.png)

![Running OCR on PDF](images/about/uapdf.png)</string>
	<key>uidata</key>
	<dict>
		<key>0A565678-C24A-4C63-B850-A03B444F9E34</key>
		<dict>
			<key>note</key>
			<string>Save screenshot path to trash later</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>0F78182F-0519-4AEB-8FD5-D09AC146D3FE</key>
		<dict>
			<key>note</key>
			<string>Take different action depending on if any text was extracted</string>
			<key>xpos</key>
			<real>873</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>17649347-A6F4-4AC5-B59C-764ACBC09B3B</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>2A3A1D69-C3FA-4667-A5CB-84EEE1E8F1B4</key>
		<dict>
			<key>xpos</key>
			<real>1170</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>31D90B0F-4E8E-40B0-B444-51678BB60718</key>
		<dict>
			<key>note</key>
			<string>Remove surrounding whitespace</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>376E4B9A-F4DA-4F74-9AB1-2FF08B8154AE</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>41443C5F-20FD-47DE-BE04-40EF281680C3</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>4CF59EB8-BA09-4ECA-8D62-4EDAC9016221</key>
		<dict>
			<key>note</key>
			<string>Screenshot and OCR</string>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>50FCEC9C-586C-495D-815E-7D7E50BD2BDE</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>7093A6DF-36DF-4862-8E32-B30F9559C82C</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>7DE2C061-6670-4215-A451-005DF3584900</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>7E8CE435-14F3-4B7E-834E-AE4A624A929F</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>81814BDA-49C9-422A-9C6F-B09A214B6756</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>877C2BAB-C6E7-470F-8B5E-79DB8304DD8D</key>
		<dict>
			<key>note</key>
			<string>Delete folder of extracted pages</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>A0B9DA67-52EF-4547-8043-4380EC2A3468</key>
		<dict>
			<key>xpos</key>
			<real>1170</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>A31D3F5A-2CFB-4629-96C0-3EB3DF4DCA10</key>
		<dict>
			<key>note</key>
			<string>Delete saved screenshot</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>AD351A5A-40D9-4450-9DB0-B366979C3E7B</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>FAD00A6B-04F6-43D9-BA23-F5DDEA34912A</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ocr</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Screenshot Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>screenshot_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>25.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/multi-ocr-workflow/</string>
</dict>
</plist>
