<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.subtitle-download</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>18B122BD-9D18-4A98-B846-259913FE7BA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38E412FA-D161-46E1-BE65-A07B564707B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>376AB824-EBB5-4165-9739-72771DB682E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E56472A-46D3-4A95-898D-84A02A8DFDDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38E412FA-D161-46E1-BE65-A07B564707B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD9A098D-643A-4473-B74F-DB67A9B5D071</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD9A098D-643A-4473-B74F-DB67A9B5D071</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44C65DCB-4D02-4CF3-B5E4-95C84C1A72BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>downloads subtitles with Subliminal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Subtitle &amp; Catch Torrents</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>44C65DCB-4D02-4CF3-B5E4-95C84C1A72BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Download finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CD9A098D-643A-4473-B74F-DB67A9B5D071</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:/usr/local/lib:$PATH
subliminal download -l $lang '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38E412FA-D161-46E1-BE65-A07B564707B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>org.matroska.mkv</string>
					<string>public.mpeg-4</string>
				</array>
				<key>name</key>
				<string>Download Subtitles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>18B122BD-9D18-4A98-B846-259913FE7BA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Catch"
	launch
	delay 5
	quit
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E56472A-46D3-4A95-898D-84A02A8DFDDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>catch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Catch Torrents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>376AB824-EBB5-4165-9739-72771DB682E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Installation: chmod +x '/usr/local/lib/python3.9/site-packages/subliminal'</string>
	<key>uidata</key>
	<dict>
		<key>18B122BD-9D18-4A98-B846-259913FE7BA9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>376AB824-EBB5-4165-9739-72771DB682E6</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>38E412FA-D161-46E1-BE65-A07B564707B4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>44C65DCB-4D02-4CF3-B5E4-95C84C1A72BC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>5E56472A-46D3-4A95-898D-84A02A8DFDDA</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>CD9A098D-643A-4473-B74F-DB67A9B5D071</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>lang</key>
		<string>en</string>
	</dict>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
