<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.board-game-search</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>03E9CCDB-971A-49A3-B728-5F0AE6134630</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88C6BA00-B205-48A3-B162-853AF147661C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E9D47A4-3A41-453E-9734-4F58E6654D5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18514B2F-FBE3-4DD3-8BBA-E46D3E829E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88186304-0500-4297-9AD2-CCC0B9440663</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56A2325A-30D3-4B4C-ABFB-BCD0FA84E0CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BECC2813-AE04-424B-B190-B2D46344AF3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88C6BA00-B205-48A3-B162-853AF147661C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F807DD65-2A43-4650-A156-DA7EE224C6F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>934AA610-FE5D-437B-BFA5-B1BD6ED3AF17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85894161-CE99-4C9D-B3E1-18C564EE94E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E087D983-8D7A-4EA5-A682-02234530D0BA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BECC2813-AE04-424B-B190-B2D46344AF3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03E9CCDB-971A-49A3-B728-5F0AE6134630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA45DB63-305A-4FB2-BD65-A162EB4C2697</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B74954A3-8720-4CED-8A17-A59B39CEA1FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E087D983-8D7A-4EA5-A682-02234530D0BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BF2B984-1F3B-42A6-AAF6-C08713625399</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F807DD65-2A43-4650-A156-DA7EE224C6F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA45DB63-305A-4FB2-BD65-A162EB4C2697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search for Board Games via BGG API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Boardgame Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>85894161-CE99-4C9D-B3E1-18C564EE94E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_1}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/boardgame-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>934AA610-FE5D-437B-BFA5-B1BD6ED3AF17</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E087D983-8D7A-4EA5-A682-02234530D0BA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6BF2B984-1F3B-42A6-AAF6-C08713625399</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.fantasywelt.de/#f820/embedded/m=and&amp;q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>18514B2F-FBE3-4DD3-8BBA-E46D3E829E7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.amazon.de/s?k={query}+board+game</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88186304-0500-4297-9AD2-CCC0B9440663</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_2}</string>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>Buy Board Game</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E9D47A4-3A41-453E-9734-4F58E6654D5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://boardgameprices.com/item/search?search={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>56A2325A-30D3-4B4C-ABFB-BCD0FA84E0CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.brettspiel-angebote.de/suche/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>03E9CCDB-971A-49A3-B728-5F0AE6134630</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>B74954A3-8720-4CED-8A17-A59B39CEA1FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:the_query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F807DD65-2A43-4650-A156-DA7EE224C6F5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>the_query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BECC2813-AE04-424B-B190-B2D46344AF3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>CA45DB63-305A-4FB2-BD65-A162EB4C2697</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>88C6BA00-B205-48A3-B162-853AF147661C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup
1. [Download the latest data at.](https://boardgamegeek.com/data_dumps/bg_ranks)
2. Unzip the file. Store the csv at a location of your choice.
3. Copy the path of the csv file, and enter it to the left.

## Usage
Search board games with the `bgg` keyword.
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the page at BGG.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; copy the page URL.

---

#### Workflow created by [Chris Grieser](https://chris-grieser.de/)

#### Data by [Board Game Geeks](https://boardgamegeek.com/using_the_xml_api)</string>
	<key>uidata</key>
	<dict>
		<key>03E9CCDB-971A-49A3-B728-5F0AE6134630</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>18514B2F-FBE3-4DD3-8BBA-E46D3E829E7B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>1E9D47A4-3A41-453E-9734-4F58E6654D5A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>56A2325A-30D3-4B4C-ABFB-BCD0FA84E0CB</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>6BF2B984-1F3B-42A6-AAF6-C08713625399</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>85894161-CE99-4C9D-B3E1-18C564EE94E8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>88186304-0500-4297-9AD2-CCC0B9440663</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>88C6BA00-B205-48A3-B162-853AF147661C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>934AA610-FE5D-437B-BFA5-B1BD6ED3AF17</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>B74954A3-8720-4CED-8A17-A59B39CEA1FA</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>BECC2813-AE04-424B-B190-B2D46344AF3C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>save query</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>CA45DB63-305A-4FB2-BD65-A162EB4C2697</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>E087D983-8D7A-4EA5-A682-02234530D0BA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F807DD65-2A43-4650-A156-DA7EE224C6F5</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>paste query</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bgg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword</string>
			<key>label</key>
			<string>Board Game Search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Location of BGG Database (CSV file). Download at: https://boardgamegeek.com/data_dumps/bg_ranks</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>bgg_csv_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>4</integer>
				<key>markercount</key>
				<integer>20</integer>
				<key>maxvalue</key>
				<integer>20</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Database cutoff. Due to performance reasons, will only display the top n games, with n being the number to the left multiplied with 10 000. If the workflow lags, lower the value.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>max_games</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bgp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Search multiple sites for offers to buy a board game.</string>
			<key>label</key>
			<string>Board Game Prices</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_2</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
