<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rudgavis.openAI.helpers</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>1D4244BC-122A-4164-A41C-7C200E37A558</key>
		<array/>
		<key>7B84C695-C751-47B2-9CFE-A76195793996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CF16FDF-64CB-488C-85FE-EF7029CE7CEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8871FA8E-5658-4816-BACB-695ECD934CCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9715BFDE-8185-44F9-B599-1FC2DDE501EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9715BFDE-8185-44F9-B599-1FC2DDE501EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D4244BC-122A-4164-A41C-7C200E37A558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B84C695-C751-47B2-9CFE-A76195793996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CF16FDF-64CB-488C-85FE-EF7029CE7CEC</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Rokas Rudgalvis</string>
	<key>description</key>
	<string>Uses OpenAI to get do multiple things</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OpenAI</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⏳ OpenAI</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1D4244BC-122A-4164-A41C-7C200E37A558</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8871FA8E-5658-4816-BACB-695ECD934CCE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>PROMPT</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9715BFDE-8185-44F9-B599-1FC2DDE501EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9CF16FDF-64CB-488C-85FE-EF7029CE7CEC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ask.js | tr -d "|*" | xargs</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B84C695-C751-47B2-9CFE-A76195793996</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D4244BC-122A-4164-A41C-7C200E37A558</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>7B84C695-C751-47B2-9CFE-A76195793996</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>8871FA8E-5658-4816-BACB-695ECD934CCE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>9715BFDE-8185-44F9-B599-1FC2DDE501EA</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>9CF16FDF-64CB-488C-85FE-EF7029CE7CEC</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>100</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Token Limit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TOKEN_LIMIT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OpenAi API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>OPENAI_API_KEY</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://rudgalvis.com</string>
</dict>
</plist>
