<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_repo</key>
	<string>~/.config</string>
	<key>extra_folder_1</key>
	<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Development/.obsidian/plugins</string>
	<key>github_username</key>
	<string>chrisgrieser</string>
	<key>no_display_authors</key>
	<string>🤖 automated, pseudometa, chrisgrieser</string>
	<key>notif_referrer_id</key>
	<string>NT_kwDOBF5B1LM2MjkxNDg2NDc4OjczMjg2MTAw</string>
	<key>results_number</key>
	<string>40</string>
</dict>
</plist>
