<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.alfred.stephenc.listappstoreapps</string>
	<key>connections</key>
	<dict>
		<key>0D0CE4B0-2E8A-4A5A-A5F9-95E2D037A4A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59C45A53-65A6-4386-B01D-87E28E3A614D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C629C8C-86A1-4974-8EE1-ADB03158E8E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA3AD7F-2FFA-417B-9636-ECDBFC88431C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F7103E5B-10A5-471B-B63A-4A723453FAFC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D0CE4B0-2E8A-4A5A-A5F9-95E2D037A4A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49EDC374-2791-4EDC-B286-96CAB208D770</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C629C8C-86A1-4974-8EE1-ADB03158E8E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59C45A53-65A6-4386-B01D-87E28E3A614D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65F91D80-2621-4689-BBA9-1F4D6CF34B52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B13268CC-7AED-4A07-8E7D-048120DE4745</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49EDC374-2791-4EDC-B286-96CAB208D770</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDA3AD7F-2FFA-417B-9636-ECDBFC88431C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D0CE4B0-2E8A-4A5A-A5F9-95E2D037A4A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Lists apps downloaded from the Mac App Store</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>List all App Store apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>cash_register.aif</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>CDA3AD7F-2FFA-417B-9636-ECDBFC88431C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n The following apps were downloaded from the Mac App Store:
echo "\n"
mdfind kMDItemAppStoreHasReceipt=1 | sed 's/.*\///' | sort -df</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49EDC374-2791-4EDC-B286-96CAB208D770</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>List apps downloaded from the Mac App Store</string>
				<key>text</key>
				<string>List all App Store apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B13268CC-7AED-4A07-8E7D-048120DE4745</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:playSound}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Play sound</string>
						<key>uid</key>
						<string>F7103E5B-10A5-471B-B63A-4A723453FAFC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Mute sound</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3C629C8C-86A1-4974-8EE1-ADB03158E8E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The information has been copied to the clipboard</string>
				<key>title</key>
				<string>List all App Store apps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>65F91D80-2621-4689-BBA9-1F4D6CF34B52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59C45A53-65A6-4386-B01D-87E28E3A614D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>End the workflow</string>
				<key>button2</key>
				<string>Copy to clipboard</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>{query}</string>
				<key>title</key>
				<string>All App Store apps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>0D0CE4B0-2E8A-4A5A-A5F9-95E2D037A4A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Introduction

This workflow simply lists all apps that you have downloaded from the Mac App Store. It is useful if you need to find and delete apps which you no longer use and may have forgotten.

# Usage

Type the keyword (the default is `las`) and the list will be displayed in alphabetical order. You will then have the option of ending the workflow (the default—just press ⏎) or copying the list to the clipboard.

---
**Version 1.1** 14/03/2023: added sound effect (which can be muted in the User Configuration).
**Version 1.2** 15/03/2023: improved checkbox text.</string>
	<key>uidata</key>
	<dict>
		<key>0D0CE4B0-2E8A-4A5A-A5F9-95E2D037A4A4</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>3C629C8C-86A1-4974-8EE1-ADB03158E8E0</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>49EDC374-2791-4EDC-B286-96CAB208D770</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>59C45A53-65A6-4386-B01D-87E28E3A614D</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>65F91D80-2621-4689-BBA9-1F4D6CF34B52</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>B13268CC-7AED-4A07-8E7D-048120DE4745</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>CDA3AD7F-2FFA-417B-9636-ECDBFC88431C</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>las</string>
				<key>placeholder</key>
				<string>las</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default keyword to run this workflow is `las` (for "list App Store"). You can change it here.</string>
			<key>label</key>
			<string>Workflow keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Sound enabled when checked</string>
			</dict>
			<key>description</key>
			<string>When the checkbox is selected the workflow will play a sound. Uncheck the box if you want to mute the sound.</string>
			<key>label</key>
			<string>Play workflow sound</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>playSound</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
