<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notificationOnClientConnect</key>
	<false/>
	<key>serverRestartKeywordEnabled</key>
	<false/>
	<key>serverStopKeywordEnabled</key>
	<false/>
</dict>
</plist>
