<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.japanese</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>23B44036-74F5-4214-9D7C-5D9D98B6A190</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83930E73-FF72-4738-BC12-3FD159FA4F33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1C9C745-8F8B-45CD-B8CC-5DF0D28C9296</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23B44036-74F5-4214-9D7C-5D9D98B6A190</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Japanese</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hiragana||katakana</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hiragana &amp; Katakana table</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1C9C745-8F8B-45CD-B8CC-5DF0D28C9296</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>1</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>83930E73-FF72-4738-BC12-3FD159FA4F33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>./hiragana-katakana.webp</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>23B44036-74F5-4214-9D7C-5D9D98B6A190</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Credits

- Hiragana/Katakana Chart by [u/Moer_by](https://www.reddit.com/r/japaneseresources/comments/ilkott/hiragana_katakana_stroke_order_chart/).
- Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>23B44036-74F5-4214-9D7C-5D9D98B6A190</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>83930E73-FF72-4738-BC12-3FD159FA4F33</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>C1C9C745-8F8B-45CD-B8CC-5DF0D28C9296</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
