<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.terminal-dotfiles</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>01443011-3B15-41D0-8772-EFD75B0FE5B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A820AA0-CFDD-4B5A-9E6D-BF2990A3E581</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A883397A-C748-4E51-B5EB-96B4F58AADCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD22EA9-7218-4E8E-B508-601B4250BA47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3ADE22C7-10D2-4528-9298-22A616F276B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4852BD0B-45FE-4BD1-9B24-75D32B5EAA7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97B7CF87-4080-4394-87B8-2074B83B59A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5707C8CC-3CD7-4D92-A6CD-283E796905EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97B7CF87-4080-4394-87B8-2074B83B59A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6434A449-59F1-4AD1-B616-B22CC2FC4A6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B49ADC0D-7CDD-4567-A6DE-E7D97662B343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64C686C1-E836-4CB7-AAD4-52E72832714C</key>
		<array/>
		<key>97B7CF87-4080-4394-87B8-2074B83B59A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0F4AE0E-4A85-4D7A-AAF1-54C04E9DE25D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0F4AE0E-4A85-4D7A-AAF1-54C04E9DE25D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A820AA0-CFDD-4B5A-9E6D-BF2990A3E581</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A883397A-C748-4E51-B5EB-96B4F58AADCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A91C3D48-6860-4B50-B5E9-83B5ACFF6C05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DB304DA-9F01-4DBF-A53C-6A03040DD154</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E91BA4CB-B708-47B1-B606-EC119ECC9301</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64C686C1-E836-4CB7-AAD4-52E72832714C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE91F5F4-DB81-40FB-95B9-20859076AB23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5707C8CC-3CD7-4D92-A6CD-283E796905EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal &amp; Dotfiles</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9AD22EA9-7218-4E8E-B508-601B4250BA47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.shell-script</string>
				</array>
				<key>name</key>
				<string>Run Shell Script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6434A449-59F1-4AD1-B616-B22CC2FC4A6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>zsh "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B49ADC0D-7CDD-4567-A6DE-E7D97662B343</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-dot-file.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a dotfile</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4694D7EB-2482-44FA-881E-2597A9A90F9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>3ADE22C7-10D2-4528-9298-22A616F276B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>org.yanex.marta</string>
					<string>io.alacritty</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>01443011-3B15-41D0-8772-EFD75B0FE5B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>launch-alacritty.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>2DB304DA-9F01-4DBF-A53C-6A03040DD154</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>man</string>
				<key>subtext</key>
				<string>$1: CLI  –  $2: search-term</string>
				<key>text</key>
				<string>man {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E91BA4CB-B708-47B1-B606-EC119ECC9301</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-man-page.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64C686C1-E836-4CB7-AAD4-52E72832714C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>timestamp=`date '+%Y-%m-%d_%H-%M'`
resolved_bkp_dest=~`echo -n $backup_location | sed -e "s/~//"`
backup="$resolved_bkp_dest""/Alfred-Backup_""$timestamp"".zip"
vault=~`echo -n $vault_path | sed -e "s/~//"`

# directory change necessary to avoid zipping root folder
# https://unix.stackexchange.com/questions/245856/zip-a-file-without-including-the-parent-directory
cd $vault
zip -r --quiet $backup ./*

# restrict number of backups
actual_number=$((max_number_of_bkps + 1))
cd $resolved_bkp_dest
ls -t | tail -n +$actual_number | tr '\n' '\0' | xargs -0 rm

echo "$backup"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dotfile-bkp.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0F4AE0E-4A85-4D7A-AAF1-54C04E9DE25D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bkp dotfiles</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Backup: dotfiles</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4852BD0B-45FE-4BD1-9B24-75D32B5EAA7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>dotfiles</string>
				<key>title</key>
				<string>⏳ Creating Backup...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>97B7CF87-4080-4394-87B8-2074B83B59A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>✅ Dotfiles Backup finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1A820AA0-CFDD-4B5A-9E6D-BF2990A3E581</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A91C3D48-6860-4B50-B5E9-83B5ACFF6C05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>no sound</string>
						<key>outputlabel</key>
						<string>no</string>
						<key>uid</key>
						<string>FEA7E4E2-00DD-487A-B6A4-1A72E14035C4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>yes</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A883397A-C748-4E51-B5EB-96B4F58AADCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>backup-dotfiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FE91F5F4-DB81-40FB-95B9-20859076AB23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5707C8CC-3CD7-4D92-A6CD-283E796905EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01443011-3B15-41D0-8772-EFD75B0FE5B8</key>
		<dict>
			<key>note</key>
			<string>Quake Mode</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>1A820AA0-CFDD-4B5A-9E6D-BF2990A3E581</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>2DB304DA-9F01-4DBF-A53C-6A03040DD154</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>3ADE22C7-10D2-4528-9298-22A616F276B1</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<dict>
			<key>note</key>
			<string>open dotfile</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>4852BD0B-45FE-4BD1-9B24-75D32B5EAA7D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>5707C8CC-3CD7-4D92-A6CD-283E796905EC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>6434A449-59F1-4AD1-B616-B22CC2FC4A6D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>64C686C1-E836-4CB7-AAD4-52E72832714C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>97B7CF87-4080-4394-87B8-2074B83B59A7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>9AD22EA9-7218-4E8E-B508-601B4250BA47</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A0F4AE0E-4A85-4D7A-AAF1-54C04E9DE25D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>A883397A-C748-4E51-B5EB-96B4F58AADCD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>sound</string>
			<key>xpos</key>
			<real>691</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</key>
		<dict>
			<key>note</key>
			<string>open Alacritty with config</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>A91C3D48-6860-4B50-B5E9-83B5ACFF6C05</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>B49ADC0D-7CDD-4567-A6DE-E7D97662B343</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E91BA4CB-B708-47B1-B606-EC119ECC9301</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>FE91F5F4-DB81-40FB-95B9-20859076AB23</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>dotfile_bkp_destination</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/dotfile bkp/</string>
		<key>dotfile_folder</key>
		<string>~/dotfiles/</string>
		<key>max_number_of_bkps</key>
		<string>20</string>
		<key>vault_path</key>
		<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/</string>
		<key>working_directory</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>working_directory</string>
		<string>dotfile_bkp_destination</string>
		<string>vault_path</string>
		<string>dotfile_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
