<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.terminal</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>01443011-3B15-41D0-8772-EFD75B0FE5B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8135108-B86E-49C6-81FB-5601CFB5BF9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD22EA9-7218-4E8E-B508-601B4250BA47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3ADE22C7-10D2-4528-9298-22A616F276B1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD16A75F-DC81-47C0-99A3-8A4360CCEA08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>36AE7CE2-D6D2-4287-A06D-A57442C43FF4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8135108-B86E-49C6-81FB-5601CFB5BF9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD16A75F-DC81-47C0-99A3-8A4360CCEA08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D12DF4C4-EFC9-4491-B5FA-38F978D3C114</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AC8EDAE-B6DF-4BF1-8060-EADD52ACDA99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal &amp; Alacritty</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9AD22EA9-7218-4E8E-B508-601B4250BA47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-dot-file.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a dotfile</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4694D7EB-2482-44FA-881E-2597A9A90F9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>3ADE22C7-10D2-4528-9298-22A616F276B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>if application "Alacritty" is not running 
	return "is not running"
else
	tell application "Alacritty" to activate
end if</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8135108-B86E-49C6-81FB-5601CFB5BF9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>01443011-3B15-41D0-8772-EFD75B0FE5B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>launch-alacritty.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>is not running\n</string>
						<key>outputlabel</key>
						<string>not running</string>
						<key>uid</key>
						<string>36AE7CE2-D6D2-4287-A06D-A57442C43FF4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>--</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BD16A75F-DC81-47C0-99A3-8A4360CCEA08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>zsh "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>3AC8EDAE-B6DF-4BF1-8060-EADD52ACDA99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.shell-script</string>
				</array>
				<key>name</key>
				<string>Run Shell Script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D12DF4C4-EFC9-4491-B5FA-38F978D3C114</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01443011-3B15-41D0-8772-EFD75B0FE5B8</key>
		<dict>
			<key>note</key>
			<string>Quake Mode</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>3AC8EDAE-B6DF-4BF1-8060-EADD52ACDA99</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>3ADE22C7-10D2-4528-9298-22A616F276B1</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<dict>
			<key>note</key>
			<string>open dotfile</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9AD22EA9-7218-4E8E-B508-601B4250BA47</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A8D9189D-9E8C-45D2-987F-D685FFE2CD44</key>
		<dict>
			<key>note</key>
			<string>open Alacritty with config</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>BD16A75F-DC81-47C0-99A3-8A4360CCEA08</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>C8135108-B86E-49C6-81FB-5601CFB5BF9A</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D12DF4C4-EFC9-4491-B5FA-38F978D3C114</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>dotfile_folder</key>
		<string>~/Dotfiles/</string>
		<key>vault_path</key>
		<string>~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Main Vault/</string>
		<key>working_directory</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>vault_path</string>
		<string>working_directory</string>
		<string>dotfile_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
