<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.neovim</string>
	<key>category</key>
	<string>Development</string>
	<key>connections</key>
	<dict>
		<key>0308962B-8F9C-4AE4-99B9-B31DE27B52C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A849243-2DDC-4B87-9618-0B12BB0F7017</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0EA98984-DD00-401D-96D7-C1FD7A879F4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C279CF4-80F0-4D28-B0BA-137130AC177A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A271BE0-443A-43F2-A9FA-C01047FE0F58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09E95958-33BA-4403-A120-ED77024AAB7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62F7FD14-3DF1-4FBC-9C3B-B99132F28919</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DA05A81-0D56-4CD6-A247-5D15F1F24D8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F178F3ED-E855-4DC9-A178-D839E9C2C48D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>799F31B4-F294-42FD-B4F4-2D190B6C7A33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy Packer Line</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy GitHub URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A750B10D-2695-481F-B660-F29C241C6727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0308962B-8F9C-4AE4-99B9-B31DE27B52C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2DE689D-680B-4BE5-92C3-0372AFF1E0AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EA98984-DD00-401D-96D7-C1FD7A879F4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5FCFE38-5C42-4335-BD61-3B4658A9C8F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C8471ED-D799-4D45-B9DD-EEA5E5B94EA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Neovim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>nvim-recent-files.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Vim Old Files</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F178F3ED-E855-4DC9-A178-D839E9C2C48D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Neovim Data Folder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5A271BE0-443A-43F2-A9FA-C01047FE0F58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/.local/share/nvim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>09E95958-33BA-4403-A120-ED77024AAB7E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Neovim Swap Files</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62F7FD14-3DF1-4FBC-9C3B-B99132F28919</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/.local/state/nvim/swap</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6DA05A81-0D56-4CD6-A247-5D15F1F24D8F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vim Awesome: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5FCFE38-5C42-4335-BD61-3B4658A9C8F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://vimawesome.com/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4C8471ED-D799-4D45-B9DD-EEA5E5B94EA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>open-at-github</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>de.chris-grieser.github</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8C279CF4-80F0-4D28-B0BA-137130AC177A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.neovide.neovide</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D2DE689D-680B-4BE5-92C3-0372AFF1E0AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-sublime-path.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0EA98984-DD00-401D-96D7-C1FD7A879F4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-nvim.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Neovim Plugin</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>799F31B4-F294-42FD-B4F4-2D190B6C7A33</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>use '{query}'</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.neovide.neovide</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A750B10D-2695-481F-B660-F29C241C6727</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>version-history</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>de.chris-grieser.github</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5A849243-2DDC-4B87-9618-0B12BB0F7017</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-sublime-path.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0308962B-8F9C-4AE4-99B9-B31DE27B52C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://github.com/{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0308962B-8F9C-4AE4-99B9-B31DE27B52C6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>get path from Sublime</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>09E95958-33BA-4403-A120-ED77024AAB7E</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>0EA98984-DD00-401D-96D7-C1FD7A879F4F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>get path from Sublime</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>4C8471ED-D799-4D45-B9DD-EEA5E5B94EA0</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>5A271BE0-443A-43F2-A9FA-C01047FE0F58</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>5A849243-2DDC-4B87-9618-0B12BB0F7017</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>62F7FD14-3DF1-4FBC-9C3B-B99132F28919</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>6DA05A81-0D56-4CD6-A247-5D15F1F24D8F</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</key>
		<dict>
			<key>note</key>
			<string>recent files</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>799F31B4-F294-42FD-B4F4-2D190B6C7A33</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>plugin search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>8C279CF4-80F0-4D28-B0BA-137130AC177A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>A750B10D-2695-481F-B660-F29C241C6727</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Version history</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>D2DE689D-680B-4BE5-92C3-0372AFF1E0AD</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Open History (GitHub Workflow)</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>D6E5E105-38E3-4BC1-90E3-52BEE556349D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>F178F3ED-E855-4DC9-A178-D839E9C2C48D</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>F5FCFE38-5C42-4335-BD61-3B4658A9C8F8</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
