<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custom_subreddit_icons</key>
	<string>~/.config/Alfred.alfredpreferences/subreddit_icons</string>
	<key>hackernews_frontend_url</key>
	<string>https://hackerweb.app/#/item/</string>
	<key>hide_stickied</key>
	<true/>
	<key>min_upvotes</key>
	<integer>2</integer>
	<key>pages_to_request</key>
	<integer>50</integer>
	<key>save_scroll_position</key>
	<true/>
	<key>subreddits</key>
	<string>neovim
macapps
anime</string>
</dict>
</plist>
