<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>add_hackernews</key>
	<true/>
	<key>age_icon</key>
	<string>new</string>
	<key>cache_age_threshold</key>
	<string>20</string>
	<key>custom_subreddit_icons</key>
	<string>~/.config/Alfred.alfredpreferences/subreddit_icons</string>
	<key>hide_stickied</key>
	<true/>
	<key>save_scroll_position</key>
	<true/>
	<key>subreddits</key>
	<string>neovim
macapps
commandline
ProgrammerHumor</string>
	<key>use_dstill_ai</key>
	<true/>
</dict>
</plist>
