<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.read-later</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A140D1B-5E6B-447B-9253-FB45006555D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B6D06E5-B6FD-4574-9292-C897E6AB49A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B6D06E5-B6FD-4574-9292-C897E6AB49A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9332AA79-714A-4D56-BD35-570C92624327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Read Later</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
	set currentTabUrl to URL of active tab of front window
	set currentTitle to title of active tab of front window
end tell

set output to "- [ ] [" &amp; currentTitle &amp; "](" &amp; currentTabUrl &amp; ")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-browser-markdown-link.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:read_later_file}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ URL saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9332AA79-714A-4D56-BD35-570C92624327</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rl</string>
				<key>subtext</key>
				<string>Add Current Browser Tab</string>
				<key>text</key>
				<string>📖 Read Later</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A140D1B-5E6B-447B-9253-FB45006555D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>- \[ ] \[(.*)].*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8B6D06E5-B6FD-4574-9292-C897E6AB49A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-and-check.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>read-read-later.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D223A211-45A1-481D-A981-9632A2E18CC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>108AF0CF-D70A-4010-BC05-9C5F5F11B47B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open item &amp; check as read</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>76D8EFBB-E5E6-4AB7-B87A-D8F4B640CAF8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>7A140D1B-5E6B-447B-9253-FB45006555D2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>add</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>81C89C2D-C4E6-48F4-8DDB-1F05B9FC732B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get browser link as Markdown</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>877F0442-FBA7-4EDC-8027-D3EF6BA936E5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8B6D06E5-B6FD-4574-9292-C897E6AB49A2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Strip Markdown</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>9332AA79-714A-4D56-BD35-570C92624327</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D223A211-45A1-481D-A981-9632A2E18CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>~/main-vault/Meta/📚 Read Later.md</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Markdown file where the items should be saved.</string>
			<key>label</key>
			<string>Read Later File</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>read_later_file</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
