<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.ocr.light</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>11730831-84BC-453A-8A40-24C268C4CDEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6711922-926C-4D90-91BC-A483B8E88B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>364CA1F7-9E46-4F40-AA09-62EE3BA5B872</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE99AE6B-5497-4E79-A3E1-0C8AC7AD8EA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BF4985C-7956-4FEE-8F1E-34DF5C60813E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E197A29-D3BA-4894-8DD8-ABC97B725AEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>933C08FE-9ABD-4A48-A6E1-D445C8D99B1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DA36214-35DF-458B-A3C4-2083DA0638F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DA36214-35DF-458B-A3C4-2083DA0638F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>364CA1F7-9E46-4F40-AA09-62EE3BA5B872</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B101C41A-F8EF-4CFB-BF55-E639E399074E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6711922-926C-4D90-91BC-A483B8E88B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6711922-926C-4D90-91BC-A483B8E88B2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE99AE6B-5497-4E79-A3E1-0C8AC7AD8EA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE99AE6B-5497-4E79-A3E1-0C8AC7AD8EA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C568EB21-F3AD-4A52-86E2-D4AFA3573DCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C568EB21-F3AD-4A52-86E2-D4AFA3573DCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BF4985C-7956-4FEE-8F1E-34DF5C60813E</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E26DCFB6-9E19-492E-92A1-359854790E6A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8278A76A-BFA3-41CC-A313-0EF753D17D9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>OCR | Copy the text of a snapshot to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>11730831-84BC-453A-8A40-24C268C4CDEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>1E197A29-D3BA-4894-8DD8-ABC97B725AEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>8BF4985C-7956-4FEE-8F1E-34DF5C60813E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[[ $file_action -eq 1 ]] || screencapture -i /tmp/snap.png

if [[ "$(/usr/bin/which swiftc)" =~ "not" ]]; then
    swift ./AlfredOCR.swift
else
    [[ -f ./AlfredOCR ]] || swiftc ./AlfredOCR.swift
	./AlfredOCR
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE99AE6B-5497-4E79-A3E1-0C8AC7AD8EA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR | Recognize Snapshot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B101C41A-F8EF-4CFB-BF55-E639E399074E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied recognized text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8278A76A-BFA3-41CC-A313-0EF753D17D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>OCR\sFailure:</string>
						<key>outputlabel</key>
						<string>failure</string>
						<key>uid</key>
						<string>E26DCFB6-9E19-492E-92A1-359854790E6A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C568EB21-F3AD-4A52-86E2-D4AFA3573DCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B6711922-926C-4D90-91BC-A483B8E88B2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>OCR Image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>933C08FE-9ABD-4A48-A6E1-D445C8D99B1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sips -s format png "$1" -o "/tmp/snap.png"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9DA36214-35DF-458B-A3C4-2083DA0638F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file_action</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>364CA1F7-9E46-4F40-AA09-62EE3BA5B872</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![OCR Workflow Icon](icon.png)

# AlfredOCR Light 

The workflow lets you to **copy text from images** using optical character recognition. Take a snapshot with your mouse or trackpad and the recognized text is automatically copied to the clipboard. 

---

Created by [Patrick Sy](https://github.com/zeitlings/) | [Visit on Github](https://github.com/zeitlings/alfred-workflows#16-alfredocr) | [Visit on Alfred Forum](https://www.alfredforum.com/topic/20040-alfredocr-optical-character-recognition/)

---

## Usage

- Initiate a snapshot using the keyboard shortcut (recommended: &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;6&lt;/kbd&gt;)
- Initiate a snapshot using the keyword (default: `ocr`)
- Send an image to the Workflow's [File Action](https://www.alfredapp.com/help/workflows/triggers/file-action/)

&gt; __Note:__ URLs detected in QR codes are also copied to the clipboard.

![OCR Workflow File Action preview](previews/keyword.png)
![OCR Workflow File Action preview](previews/fileaction.png)




---

### Configuration

**Languages:** Specify the languages you want the OCR process to consider by adding the appropriate *RFC-5646 language tag*. The following languages (and regions) are currently supported:

`en-US`, `fr-FR`, `it-IT`, `de-DE`, `es-ES`, `pt-BR`, `zh-Hans`, `zh-Hant`, `yue-Hans`, `yue-Hant`, `ko-KR`, `ja-JA`, `ru-RU`, `uk-UA`  

&gt; __Note:__ If your desired language isn't recognized, try moving it up in the list.  
&gt; E.g., `en-US, ko-KR` → `ko-KR, en-US`

---

**Explanations:**

- `en-US`: (English as used in the United States)
- `de-DE`: (German as used in Germany)
- `fr-FR`: (French as used in France)
- `it-IT`: (Italian as used in Italy)
- `es-ES`: (Spanish as used in Spain)
- `pt-BR`: (Portuguese as used in Brazil)
- `ko-KR`: (Korean as used in South Korea)
- `uk-UA`: (Ukrainian as used in Ukraine)
- `ja-JA`: (Japanese as used in Japan)
- `ru-RU`: (Russian as used in Russia)
- `yue-Hant`: (Traditional Cantonese)
- `yue-Hans`: (Simplified Cantonese)
- `zh-Hant`: (Traditional Chinese)
- `zh-Hans`: (Simplified Chinese)</string>
	<key>uidata</key>
	<dict>
		<key>11730831-84BC-453A-8A40-24C268C4CDEB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>1E197A29-D3BA-4894-8DD8-ABC97B725AEB</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>364CA1F7-9E46-4F40-AA09-62EE3BA5B872</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>8278A76A-BFA3-41CC-A313-0EF753D17D9B</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>8BF4985C-7956-4FEE-8F1E-34DF5C60813E</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>933C08FE-9ABD-4A48-A6E1-D445C8D99B1A</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Recognize text from images sent to the File Action</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>9DA36214-35DF-458B-A3C4-2083DA0638F0</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B101C41A-F8EF-4CFB-BF55-E639E399074E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>B6711922-926C-4D90-91BC-A483B8E88B2D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>BE99AE6B-5497-4E79-A3E1-0C8AC7AD8EA4</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>C568EB21-F3AD-4A52-86E2-D4AFA3573DCE</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ocr</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en-US, de-DE, fr-FR</string>
				<key>placeholder</key>
				<string>RFC-5646 language tags</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Languages</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>languages</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3</string>
				<key>pairs</key>
				<array>
					<array>
						<string>v1 [macOS 10.15+]</string>
						<string>1</string>
					</array>
					<array>
						<string>v2 [macOS 11.0+]</string>
						<string>2</string>
					</array>
					<array>
						<string>v3 [macOS 13.0+]</string>
						<string>3</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Model Version</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>revision</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nl</string>
				<key>pairs</key>
				<array>
					<array>
						<string>with Newline</string>
						<string>nl</string>
					</array>
					<array>
						<string>with Whitespace</string>
						<string>ws</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Join Snapshot-Text</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>gristle</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
