<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.weekly-date-inserter</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>247D4217-E1F0-4DF9-847A-76A55F9845C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BDF0B2A-2532-4C36-BF5A-E87C6F7905FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43CF6B56-876A-44D2-A784-A0436358FBE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2CDDB17-3209-4948-988A-349E07499E8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BDF0B2A-2532-4C36-BF5A-E87C6F7905FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D592180-57A5-4FAB-A040-D2D4D3C32B07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D592180-57A5-4FAB-A040-D2D4D3C32B07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B80A70FF-2A85-4481-A0DE-DF67BBA82247</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2CDDB17-3209-4948-988A-349E07499E8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BDF0B2A-2532-4C36-BF5A-E87C6F7905FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9582554-568A-4CA1-A0FA-61F84CB298A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43CF6B56-876A-44D2-A784-A0436358FBE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Weekly Date Inserter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>weekly</string>
				<key>subtext</key>
				<string>Set new Start Date</string>
				<key>text</key>
				<string>Weekly Date Generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9582554-568A-4CA1-A0FA-61F84CB298A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Format: YYYY-MM-DD</string>
				<key>text</key>
				<string>New Start Date: '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2CDDB17-3209-4948-988A-349E07499E8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43CF6B56-876A-44D2-A784-A0436358FBE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>26</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>247D4217-E1F0-4DF9-847A-76A55F9845C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./weekly-date-generator.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BDF0B2A-2532-4C36-BF5A-E87C6F7905FC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B80A70FF-2A85-4481-A0DE-DF67BBA82247</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9D592180-57A5-4FAB-A040-D2D4D3C32B07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>247D4217-E1F0-4DF9-847A-76A55F9845C1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>add week</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>43CF6B56-876A-44D2-A784-A0436358FBE1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>6BDF0B2A-2532-4C36-BF5A-E87C6F7905FC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>9D592180-57A5-4FAB-A040-D2D4D3C32B07</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>A2CDDB17-3209-4948-988A-349E07499E8A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B80A70FF-2A85-4481-A0DE-DF67BBA82247</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>D9582554-568A-4CA1-A0FA-61F84CB298A0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>weekly date generator</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en-US</string>
				<key>pairs</key>
				<array>
					<array>
						<string>en-US</string>
						<string>en-US</string>
					</array>
					<array>
						<string>de-DE</string>
						<string>de-DE</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>date locale</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>date_locale</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>enclose date in brackets</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>in_brackets</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>add line break</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>line_break_after</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>be</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Berlin</string>
						<string>be</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>for holidays</string>
			<key>label</key>
			<string>German Bundesland</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>bundesland_feiertage</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
