<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.alfred-tweaks</string>
	<key>connections</key>
	<dict>
		<key>411F0C67-7E50-4B01-AF68-F2742465259B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>424FC24A-8D2D-4BE5-A394-E934EF993E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF89C364-F5A2-446D-A3F4-F0EAF2212146</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B1187AD-52DB-45E4-92AB-CCAA8013F707</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCD9C133-BB06-4C67-9775-B4814A38FF71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q=alfred-workflow+{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Caches/com.runningwithcrayons.Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflow cache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.packal.org/workflow-search?query={query}&amp;osx-version=All&amp;items_per_page=50</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>424FC24A-8D2D-4BE5-A394-E934EF993E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflow data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>411F0C67-7E50-4B01-AF68-F2742465259B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support/Alfred/Workflow Data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pa</string>
				<key>subtext</key>
				<string>at Packal, PacMax, and GitHub</string>
				<key>text</key>
				<string>Search Alfred Workflows for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pacmax.org/?s={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF89C364-F5A2-446D-A3F4-F0EAF2212146</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ..</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflows</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflows Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCD9C133-BB06-4C67-9775-B4814A38FF71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://alfred.app/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4B1187AD-52DB-45E4-92AB-CCAA8013F707</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>411F0C67-7E50-4B01-AF68-F2742465259B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>424FC24A-8D2D-4BE5-A394-E934EF993E6F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>4B1187AD-52DB-45E4-92AB-CCAA8013F707</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>alfred gallery</string>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>BF89C364-F5A2-446D-A3F4-F0EAF2212146</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>DCD9C133-BB06-4C67-9775-B4814A38FF71</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>backup_destination</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/Alfred Backups/</string>
		<key>max_number_of_bkps</key>
		<string>10</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>backup_destination</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
