<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.alfred-tweaks</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>04106BDF-B453-45B9-B9C7-00E5B943CCD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA67BCF-5320-41BA-B446-8FB00AC9958C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>411F0C67-7E50-4B01-AF68-F2742465259B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>484AC850-7009-4B8A-9143-F7908712D994</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EF7790E-0DD8-4D03-B2AF-660B58CCE55A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EF7790E-0DD8-4D03-B2AF-660B58CCE55A</key>
		<array/>
		<key>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88BE14E8-8C6C-40C6-9497-48E193416293</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF89C364-F5A2-446D-A3F4-F0EAF2212146</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>424FC24A-8D2D-4BE5-A394-E934EF993E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B7DFCDF-718D-4957-985A-AA31D51AEFFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5D0024E-316C-4A4C-BEA4-7366C58BF580</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC41C6FD-A0A1-48EC-A156-72DC0D9520FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAD2AC7E-2F9F-4704-B8C6-6A5FB1934632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCD9C133-BB06-4C67-9775-B4814A38FF71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1B642B1-7077-4090-9C23-656A55E19199</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>859A813B-BC0E-4FD1-B2A5-E698076BF6E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q=alfred-workflow+{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://npms.io/search?q=alfred+workflow+{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88BE14E8-8C6C-40C6-9497-48E193416293</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pa</string>
				<key>subtext</key>
				<string>at Packal, PacMax, and GitHub</string>
				<key>text</key>
				<string>Search Alfred Workflows for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.packal.org/workflow-search?query={query}&amp;osx-version=All&amp;items_per_page=50</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>424FC24A-8D2D-4BE5-A394-E934EF993E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pacmax.org/?s={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF89C364-F5A2-446D-A3F4-F0EAF2212146</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Caches/com.runningwithcrayons.Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart alfred</string>
				<key>subtext</key>
				<string>via Shortcut</string>
				<key>text</key>
				<string>Restart Alfred</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC41C6FD-A0A1-48EC-A156-72DC0D9520FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflow cache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>shortcuts://run-shortcut?name=Restart%20Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAD2AC7E-2F9F-4704-B8C6-6A5FB1934632</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>9</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>859A813B-BC0E-4FD1-B2A5-E698076BF6E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E1B642B1-7077-4090-9C23-656A55E19199</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Library/Application Support/Alfred/Workflow Data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflow data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflow Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>411F0C67-7E50-4B01-AF68-F2742465259B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>/Applications/Alfred 5.app/Contents/Preferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D5D0024E-316C-4A4C-BEA4-7366C58BF580</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred preference app</string>
				<key>subtext</key>
				<string>Reveal in Finder</string>
				<key>text</key>
				<string>⚙️ Alfred Preference.app</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B7DFCDF-718D-4957-985A-AA31D51AEFFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>alfred workflows</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📂 Alfred Workflows Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCD9C133-BB06-4C67-9775-B4814A38FF71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ..</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http:{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4EF7790E-0DD8-4D03-B2AF-660B58CCE55A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>http:</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open URL: http:{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>484AC850-7009-4B8A-9143-F7908712D994</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>obsidian:</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Obsidian URI: obsidian:{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04106BDF-B453-45B9-B9C7-00E5B943CCD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian:{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1EA67BCF-5320-41BA-B446-8FB00AC9958C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04106BDF-B453-45B9-B9C7-00E5B943CCD2</key>
		<dict>
			<key>note</key>
			<string>workaround, so URL opening only happens with "http" at the beginning</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>1EA67BCF-5320-41BA-B446-8FB00AC9958C</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>33BD77E2-2929-432E-9718-B2FDBAF4EFE5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>411F0C67-7E50-4B01-AF68-F2742465259B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>424FC24A-8D2D-4BE5-A394-E934EF993E6F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>484AC850-7009-4B8A-9143-F7908712D994</key>
		<dict>
			<key>note</key>
			<string>workaround, so URL opening only happens with "http" at the beginning</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>4A3828AC-7DF5-44AE-84CE-3F1B054C7349</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>4A6AD1C0-ABCF-4C85-8E12-C4170B8982C5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>4EF7790E-0DD8-4D03-B2AF-660B58CCE55A</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>59B65F8F-3EDB-4000-8F90-1C01AF6BC6A5</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>5B7DFCDF-718D-4957-985A-AA31D51AEFFC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>859A813B-BC0E-4FD1-B2A5-E698076BF6E5</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>88BE14E8-8C6C-40C6-9497-48E193416293</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>ABF30A35-70D2-41E3-B40B-4A5E783EB7FC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BC41C6FD-A0A1-48EC-A156-72DC0D9520FF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BF89C364-F5A2-446D-A3F4-F0EAF2212146</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D5D0024E-316C-4A4C-BEA4-7366C58BF580</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>DCD9C133-BB06-4C67-9775-B4814A38FF71</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>E1B642B1-7077-4090-9C23-656A55E19199</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>EAD2AC7E-2F9F-4704-B8C6-6A5FB1934632</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F55D1533-F14F-4A8E-88D1-B4C3F3DACB70</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>backup_destination</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/Alfred Backups/</string>
		<key>max_number_of_bkps</key>
		<string>10</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>backup_destination</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
