<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.ocrmypdf</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>03206C07-E97F-40C0-922F-CB718A2F8A70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E139EB9-CBA3-4CD4-AAE9-1ED314C26F88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20A129E0-2C80-4658-9365-7185754CA159</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BA1345D-3601-4084-BE8F-CE0E088EAE0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31DF6EC3-E9FD-44C5-A8C2-F552F91229D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E8F773D-FB99-44D9-A323-DEB8B905BCFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E0463EC-9CBF-4344-B93D-8BE95C81D8F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A6AD96C-E865-4639-AE7F-E67EBEFED6C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31DF6EC3-E9FD-44C5-A8C2-F552F91229D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BA1345D-3601-4084-BE8F-CE0E088EAE0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>922A6C5B-C22B-4E52-81E3-C96ACC41A395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E139EB9-CBA3-4CD4-AAE9-1ED314C26F88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3B27BA3-F7AA-4B32-9A63-91105435A9B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E0463EC-9CBF-4344-B93D-8BE95C81D8F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>922A6C5B-C22B-4E52-81E3-C96ACC41A395</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD034055-9ABF-44CA-98D7-20E897A734F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E8F773D-FB99-44D9-A323-DEB8B905BCFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCB5AF63-4932-405C-854A-A49B2551C2E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3B27BA3-F7AA-4B32-9A63-91105435A9B3</key>
		<array/>
		<key>F5EEDEF7-CA48-4EF2-9874-787BD5DD8BCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20A129E0-2C80-4658-9365-7185754CA159</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD034055-9ABF-44CA-98D7-20E897A734F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B72F9001-70FD-4C3E-905F-DBFA3A1DA736</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>32B64E45-5E1B-4637-B98F-66F530883855</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03206C07-E97F-40C0-922F-CB718A2F8A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>runs OCR on a PDF</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR my PDF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⏳ running OCR...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7A6AD96C-E865-4639-AE7F-E67EBEFED6C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:file_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>A3B27BA3-F7AA-4B32-9A63-91105435A9B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ocrmypdf.readthedocs.io/en/latest/cookbook.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B72F9001-70FD-4C3E-905F-DBFA3A1DA736</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"OCR (German)","arg":"deu","subtitle":""},{"title":"OCR (English)","arg":"eng","subtitle":""},{"title":"OCR (Bilingual: German &amp; English)","arg":"eng+deu","subtitle":""},{"title":"Open OCRmyPDF Docs","arg":"manual","subtitle":""}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select Language of the PDF.</string>
				<key>title</key>
				<string>OCRmyPDF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7BA1345D-3601-4084-BE8F-CE0E088EAE0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Run OCR on the PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F5EEDEF7-CA48-4EF2-9874-787BD5DD8BCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>BCB5AF63-4932-405C-854A-A49B2551C2E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run

	set lang_arg to (system attribute "language_arg")
	set pdf_file to	"{query}"

	
	set file_without_ext to text 1 thru ((offset of ".pdf" in pdf_file) - 1) of pdf_file (*removes file extension*)

	--Terminal command construction
	set input to quoted form of pdf_file
	set output to quoted form of (file_without_ext &amp; "_ocr.pdf")

	set terminal_command to "ocrmypdf " &amp; "-l " &amp; lang_arg &amp; " " &amp; input &amp; " " &amp; output
	return terminal_command

end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E139EB9-CBA3-4CD4-AAE9-1ED314C26F88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH
{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>31DF6EC3-E9FD-44C5-A8C2-F552F91229D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ OCR complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9E8F773D-FB99-44D9-A323-DEB8B905BCFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>manual</string>
						<key>outputlabel</key>
						<string>open manual</string>
						<key>uid</key>
						<string>32B64E45-5E1B-4637-B98F-66F530883855</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>run OCR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FD034055-9ABF-44CA-98D7-20E897A734F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>language_arg</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>922A6C5B-C22B-4E52-81E3-C96ACC41A395</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>
</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5E0463EC-9CBF-4344-B93D-8BE95C81D8F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>20A129E0-2C80-4658-9365-7185754CA159</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:file_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>doc_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>03206C07-E97F-40C0-922F-CB718A2F8A70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>dependent on ocrmypdf: https://ocrmypdf.readthedocs.io/en/latest/installation.html

info on ocrmypdf: https://ocrmypdf.readthedocs.io/en/latest/cookbook.html</string>
	<key>uidata</key>
	<dict>
		<key>03206C07-E97F-40C0-922F-CB718A2F8A70</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>20A129E0-2C80-4658-9365-7185754CA159</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>31DF6EC3-E9FD-44C5-A8C2-F552F91229D2</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>run ocrmypdf</string>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>5E0463EC-9CBF-4344-B93D-8BE95C81D8F6</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>7A6AD96C-E865-4639-AE7F-E67EBEFED6C2</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>915</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7BA1345D-3601-4084-BE8F-CE0E088EAE0F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>8E139EB9-CBA3-4CD4-AAE9-1ED314C26F88</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>ocrmypdf command construction</string>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>922A6C5B-C22B-4E52-81E3-C96ACC41A395</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9E8F773D-FB99-44D9-A323-DEB8B905BCFE</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A3B27BA3-F7AA-4B32-9A63-91105435A9B3</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B72F9001-70FD-4C3E-905F-DBFA3A1DA736</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>BCB5AF63-4932-405C-854A-A49B2551C2E6</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Success</string>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F5EEDEF7-CA48-4EF2-9874-787BD5DD8BCC</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FD034055-9ABF-44CA-98D7-20E897A734F3</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>chris-grieser.de</string>
</dict>
</plist>
