<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.backup-utility</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>075B91F1-976D-42B4-96E3-293F0517DB7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6008CC-A359-4017-8146-31C971DB1042</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>140A99D1-A544-4DF9-B129-AC4820665AFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E40A4B08-727F-4348-83B7-4DDADF9D0A42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6789BAE6-020C-4E2F-B19D-A2A76ABB7B1E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AB5A5A0-4AC0-41EA-BC28-57C32CB52CE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>153E3F6A-95A8-4FF7-805A-A623048AF293</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B67D9E5B-4B10-4448-89F2-F3C8DD142154</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21773296-E9A5-45E2-BFAD-B68AA2338E9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76B52A08-F741-4099-8E6F-497F935F3F46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28224466-3E8A-45AC-BC8F-C67065C919F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC0D60EA-68F4-41E1-BB41-416CFFB90AC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AB5A5A0-4AC0-41EA-BC28-57C32CB52CE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC51A3E9-3309-48C6-95AB-FF3BA9BECFB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EA056EC-6E7E-4F3F-ADDE-328221C20F4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6827BBA-3B61-41F0-AE3B-A0F9EC8B1BA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60D0C994-319C-4EAE-B5FB-96A4B4EF94B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFBB8395-D000-444C-BC6A-B50B390B15AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>695CE482-D056-450D-B34E-0374DBE3E130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43252EC6-55CA-4A44-A188-D5BBD5C4AA80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76B52A08-F741-4099-8E6F-497F935F3F46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>140A99D1-A544-4DF9-B129-AC4820665AFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>799CE1E5-8C21-4CB5-BFBF-ABBCCA293FF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>695CE482-D056-450D-B34E-0374DBE3E130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ED1ECFF-CA2A-4CA8-9708-104CC4AC0F66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AB5A5A0-4AC0-41EA-BC28-57C32CB52CE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CC9695B-FF16-4D41-96E2-00AB6C8E0FD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>928B3C0B-1C4F-4E82-8FB5-A8D994E7B377</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>928B3C0B-1C4F-4E82-8FB5-A8D994E7B377</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9B603D2-DA32-4499-B9FB-4E4C4A44199D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BC51A3E9-3309-48C6-95AB-FF3BA9BECFB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>695CE482-D056-450D-B34E-0374DBE3E130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFBB8395-D000-444C-BC6A-B50B390B15AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>799CE1E5-8C21-4CB5-BFBF-ABBCCA293FF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6827BBA-3B61-41F0-AE3B-A0F9EC8B1BA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>487E90B9-FE7B-429C-BFCB-E7E12B983BAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9B603D2-DA32-4499-B9FB-4E4C4A44199D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED3C9FD2-44B2-4B74-AA30-21125E2222FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A13F9A97-CEE4-437F-84BF-487F8B006FEE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21773296-E9A5-45E2-BFAD-B68AA2338E9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FA5B8C94-F929-4CF5-A28A-6EC7F8AB9F13</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28224466-3E8A-45AC-BC8F-C67065C919F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>410DCE99-BF9C-4868-9ADD-68FFAECF8BDA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>487E90B9-FE7B-429C-BFCB-E7E12B983BAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6827BBA-3B61-41F0-AE3B-A0F9EC8B1BA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3D30D3D8-0555-4201-AB3B-CF2051679D12</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC0D60EA-68F4-41E1-BB41-416CFFB90AC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60D0C994-319C-4EAE-B5FB-96A4B4EF94B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D03967B5-2EA2-4564-A50E-4DCFE6A462D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ED1ECFF-CA2A-4CA8-9708-104CC4AC0F66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D059CCB1-3315-45DA-8808-6AB9411CA63C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>075B91F1-976D-42B4-96E3-293F0517DB7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E40A4B08-727F-4348-83B7-4DDADF9D0A42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D03967B5-2EA2-4564-A50E-4DCFE6A462D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED3C9FD2-44B2-4B74-AA30-21125E2222FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D059CCB1-3315-45DA-8808-6AB9411CA63C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>requires Hyper</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Backup Utility</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>to '{var:backup_destination}'</string>
				<key>title</key>
				<string>➡️ Starting Backup...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D059CCB1-3315-45DA-8808-6AB9411CA63C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "${script_location/#\~/$HOME}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>075B91F1-976D-42B4-96E3-293F0517DB7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>"{query}" "{var:backup_destination}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>1E6008CC-A359-4017-8146-31C971DB1042</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>ED3C9FD2-44B2-4B74-AA30-21125E2222FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>dest-loop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8CC9695B-FF16-4D41-96E2-00AB6C8E0FD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Press [space] to show recently modified</string>
				<key>title</key>
				<string>Select a Folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D03967B5-2EA2-4564-A50E-4DCFE6A462D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\/users\/[^\/]*(\/.*)$</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>~$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7ED1ECFF-CA2A-4CA8-9708-104CC4AC0F66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string> </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E40A4B08-727F-4348-83B7-4DDADF9D0A42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:backup_destination}'</string>
				<key>title</key>
				<string>✅ Backup Destination set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC51A3E9-3309-48C6-95AB-FF3BA9BECFB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>app = Application.currentApplication();
app.includeStandardAdditions = true;
volumeList = app.doShellScript("ls /Volumes");
var single_volumes = volumeList.split("\r");

//function to remove elements from Array
function arrayRemove(arr, value) {
    return arr.filter(function(elem){
        return !elem.includes(value);
    });
}
var single_volumes = arrayRemove(single_volumes, "TimeMachine");
var single_volumes = arrayRemove(single_volumes, "Macintosh");
var single_volumes = arrayRemove(single_volumes, "HDD");
var single_volumes = arrayRemove(single_volumes, "SSD");

let volume_array = [];
if (single_volumes.length == 0) {
    volume_array.push ({
        'title': "No mounted volume recognized.",
        'subtitle': "Press [Esc] to abort or select folder instead.",
        'arg': "folder"
    });
} else {
    single_volumes.forEach(element =&gt; {
        let disk_space = app.doShellScript('df -h | grep "' + element + '" | cut -c 16-42');
        disk_space = disk_space.replace(/^(.{6}) (.{6}) (.{6}) *(.*)/gm,"Total:$1   Available:$3   Used:$2 ($4)");
        volume_array.push ({
            'title': element,
            'subtitle': disk_space,
            'arg': "/Volumes/"+ element
        })
    });
}

volume_array.push ({
      'title': "Select a Folder",
      'subtitle': "",
      'arg': "folder",
	  'icon': {'path':'foldericon.png'}
});

JSON.stringify({ 'items': volume_array });
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>select-bkp-destination.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a Volume</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>76B52A08-F741-4099-8E6F-497F935F3F46</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run

tell application "Alfred" 
    set configuration "backup_destination" to value "{query}" in workflow "de.chris-grieser.backup-utility"
end tell

end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3AB5A5A0-4AC0-41EA-BC28-57C32CB52CE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>folder</string>
						<key>outputlabel</key>
						<string>Folder</string>
						<key>uid</key>
						<string>6789BAE6-020C-4E2F-B19D-A2A76ABB7B1E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>disk_utility</string>
						<key>outputlabel</key>
						<string>Disk Utility</string>
						<key>uid</key>
						<string>B67D9E5B-4B10-4448-89F2-F3C8DD142154</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Volume</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>140A99D1-A544-4DF9-B129-AC4820665AFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>create</string>
						<key>outputlabel</key>
						<string>create</string>
						<key>uid</key>
						<string>A13F9A97-CEE4-437F-84BF-487F8B006FEE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>destination</string>
						<key>outputlabel</key>
						<string>destination</string>
						<key>uid</key>
						<string>FA5B8C94-F929-4CF5-A28A-6EC7F8AB9F13</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>script</string>
						<key>outputlabel</key>
						<string>script</string>
						<key>uid</key>
						<string>410DCE99-BF9C-4868-9ADD-68FFAECF8BDA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>log</string>
						<key>outputlabel</key>
						<string>log</string>
						<key>uid</key>
						<string>3D30D3D8-0555-4201-AB3B-CF2051679D12</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C9B603D2-DA32-4499-B9FB-4E4C4A44199D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>21773296-E9A5-45E2-BFAD-B68AA2338E9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"🚪 Exit","arg":"exit"},{"title":"➡️ Create Backup","arg":"create","subtitle":""},{"title":"📍 Select Destination","arg":"destination","subtitle":"{var:backup_destination}"},{"title":"🗄 Show Log of Backups","arg":"log","subtitle":"Last Backup: {var:last_backup}"},{"title":"⚙️ Select Backup Script","arg":"script","subtitle":"{var:script_location}"}]</string>
				<key>keyword</key>
				<string>bkp utility</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Last Backup: {var:last_backup}</string>
				<key>title</key>
				<string>Backup Utility</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>928B3C0B-1C4F-4E82-8FB5-A8D994E7B377</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/Utilities/Disk Utility.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>153E3F6A-95A8-4FF7-805A-A623048AF293</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string> </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>28224466-3E8A-45AC-BC8F-C67065C919F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>dest-loop</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>43252EC6-55CA-4A44-A188-D5BBD5C4AA80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>695CE482-D056-450D-B34E-0374DBE3E130</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>487E90B9-FE7B-429C-BFCB-E7E12B983BAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application id "com.runningwithcrayons.Alfred" to set configuration "script_location" to value "{query}" in workflow (system attribute "alfred_workflow_bundleid") with exportable</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BFBB8395-D000-444C-BC6A-B50B390B15AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{var:script_location}'</string>
				<key>title</key>
				<string>✅ Scripts Selected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>799CE1E5-8C21-4CB5-BFBF-ABBCCA293FF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a Shell Script</string>
				<key>types</key>
				<array>
					<string>public.shell-script</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>CC0D60EA-68F4-41E1-BB41-416CFFB90AC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\/users\/[^\/]*(\/.*)$</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>~$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>60D0C994-319C-4EAE-B5FB-96A4B4EF94B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>log backup</string>
				<key>subtext</key>
				<string>of Backups</string>
				<key>text</key>
				<string>Show Log</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3EA056EC-6E7E-4F3F-ADDE-328221C20F4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>script_location="${script_location/#\~/$HOME}"
open "$(dirname "$script_location")"/backup.log</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6827BBA-3B61-41F0-AE3B-A0F9EC8B1BA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>075B91F1-976D-42B4-96E3-293F0517DB7A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>resolve script location</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>140A99D1-A544-4DF9-B129-AC4820665AFD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>153E3F6A-95A8-4FF7-805A-A623048AF293</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>1E6008CC-A359-4017-8146-31C971DB1042</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>21773296-E9A5-45E2-BFAD-B68AA2338E9C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>28224466-3E8A-45AC-BC8F-C67065C919F1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>3AB5A5A0-4AC0-41EA-BC28-57C32CB52CE0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>3EA056EC-6E7E-4F3F-ADDE-328221C20F4F</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>43252EC6-55CA-4A44-A188-D5BBD5C4AA80</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>1385</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>487E90B9-FE7B-429C-BFCB-E7E12B983BAF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>60D0C994-319C-4EAE-B5FB-96A4B4EF94B6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>replace home with ~</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>695CE482-D056-450D-B34E-0374DBE3E130</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Sucess Sound</string>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>76B52A08-F741-4099-8E6F-497F935F3F46</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>799CE1E5-8C21-4CB5-BFBF-ABBCCA293FF2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>7ED1ECFF-CA2A-4CA8-9708-104CC4AC0F66</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>replace home with ~</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>8CC9695B-FF16-4D41-96E2-00AB6C8E0FD8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>928B3C0B-1C4F-4E82-8FB5-A8D994E7B377</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>BC51A3E9-3309-48C6-95AB-FF3BA9BECFB2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>BFBB8395-D000-444C-BC6A-B50B390B15AD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>set script_location</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>C6827BBA-3B61-41F0-AE3B-A0F9EC8B1BA0</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>open backup.log</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>C9B603D2-DA32-4499-B9FB-4E4C4A44199D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>CC0D60EA-68F4-41E1-BB41-416CFFB90AC0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>D03967B5-2EA2-4564-A50E-4DCFE6A462D8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D059CCB1-3315-45DA-8808-6AB9411CA63C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>E40A4B08-727F-4348-83B7-4DDADF9D0A42</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>ED3C9FD2-44B2-4B74-AA30-21125E2222FF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>backup_destination</key>
		<string>/Volumes/Externe B</string>
		<key>last_backup</key>
		<string>2022-06-22 11:24</string>
		<key>script_location</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Dotfiles/Utility Scripts/run-backup_[Browser-Path].sh</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>last_backup</string>
		<string>backup_destination</string>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
