<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.jienan.xkcd</string>
	<key>connections</key>
	<dict>
		<key>3532F786-661D-45B8-87BD-492DCA6978DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC5D3E35-DEE8-4F84-AE91-990D4893BE90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89330CF1-1564-42B9-B72F-8C1948CB27E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC5D3E35-DEE8-4F84-AE91-990D4893BE90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zjn0505</string>
	<key>description</key>
	<string>Search xkcd comics and what if articles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>xkcd</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>xkcd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching xkcd...</string>
				<key>script</key>
				<string>python xkcd.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search xkcd comics</string>
				<key>title</key>
				<string>Search xkcd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3532F786-661D-45B8-87BD-492DCA6978DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CC5D3E35-DEE8-4F84-AE91-990D4893BE90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>whatif</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching what if...</string>
				<key>script</key>
				<string>python whatif.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search what if articles</string>
				<key>title</key>
				<string>Search what if</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89330CF1-1564-42B9-B72F-8C1948CB27E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quick search for xkcd comics and what if articles

Use "xkcd" 			for recent and most liked comics
Use "xkcd {query}" 	to do a search of `query`
Use "⌘"				to open comics on explainxkcd.com
Use "whatif" 		for recent and most liked articles
Use "whatif {query}" 	to do a search of `query`
Use "⇧" or "⌘`+`Y" 	to quicklook comics or articles</string>
	<key>uidata</key>
	<dict>
		<key>3532F786-661D-45B8-87BD-492DCA6978DD</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>89330CF1-1564-42B9-B72F-8C1948CB27E3</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CC5D3E35-DEE8-4F84-AE91-990D4893BE90</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.3</string>
	<key>webaddress</key>
	<string>https://github.com/zjn0505/xkcd-alfred</string>
</dict>
</plist>
