<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.alfred-workflow-development</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D614A191-BB33-4C78-A471-BC471BD46506</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2599F7AA-72EF-4424-B3C9-BD7526BE79EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DADFA85-C59F-4D17-A85F-5BC10246EA83</key>
		<array/>
		<key>33A07916-23BF-4B16-A845-62D0B6C7DB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1ED0BF1E-0B7B-44CA-9800-02C3A363F8D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39D1BEBE-CB2C-48C2-ADA7-40A307BF7DA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43143E26-0CD1-43FB-B13D-74E8AB0411EF</key>
		<array/>
		<key>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3A8C19-51DD-4007-9302-1B8EA64BE9A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54C6EE1A-837D-4418-893C-4A301235A660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7792FA5D-64AB-40EB-AE6C-EE433C5FC0CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6496340C-2FAA-42F9-B626-A6E48D173091</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B265954-3202-4ECE-A9CC-FE23D2ADB407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B265954-3202-4ECE-A9CC-FE23D2ADB407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33A07916-23BF-4B16-A845-62D0B6C7DB14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F55AD62-8636-4D88-8A53-E61A24FC96E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1E33BB2-038D-4375-B0D8-FD9D71095631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CE91420-4683-4D16-BD51-2D1D510E744C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6552DA50-7058-4101-A2EF-78E87D7C5FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA58ABD9-7183-427F-9B26-59162319F6CC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54C6EE1A-837D-4418-893C-4A301235A660</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CFBC65E1-93EA-4B01-A39E-DD9C5A01054B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43143E26-0CD1-43FB-B13D-74E8AB0411EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC9A1F0A-5BDD-4DAA-B890-20E80DDECB00</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DADFA85-C59F-4D17-A85F-5BC10246EA83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AAEBAC1A-4C1F-49C4-BA9C-175DFF9F7687</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DADFA85-C59F-4D17-A85F-5BC10246EA83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>13258927-20D2-4FDB-9ABF-FFF2263309D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A586AF1E-8A0F-4B14-886F-07F7EA4AFDBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABC4A242-56CA-4276-BDA3-3E4E3EB64347</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CE91420-4683-4D16-BD51-2D1D510E744C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD4DAB43-9C3C-4491-8512-21EA61650C8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABC4A242-56CA-4276-BDA3-3E4E3EB64347</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>C00ED073-C78C-482B-9067-D93E55EBE562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFFF24B6-2403-4E78-B51E-C06A6791E519</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D08B3C11-6C2B-492A-ABE0-9ECC93D911C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F55AD62-8636-4D88-8A53-E61A24FC96E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D614A191-BB33-4C78-A471-BC471BD46506</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E596A969-3C93-41FA-B182-71849E89E62A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</key>
		<array/>
		<key>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C00ED073-C78C-482B-9067-D93E55EBE562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Various Utilities for Alfred Workflow Developers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Workflow Development</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># disown, since this script itself is a child process of Alfred
nohup ./scripts/restart-alfred.sh
disown</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6552DA50-7058-4101-A2EF-78E87D7C5FF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7792FA5D-64AB-40EB-AE6C-EE433C5FC0CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>cat ./data/alfred-docs.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfred Workflow Docs</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>54C6EE1A-837D-4418-893C-4A301235A660</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A3A8C19-51DD-4007-9302-1B8EA64BE9A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>restart</string>
						<key>outputlabel</key>
						<string>restart</string>
						<key>uid</key>
						<string>DA58ABD9-7183-427F-9B26-59162319F6CC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>docs_search</string>
						<key>outputlabel</key>
						<string>docs_search</string>
						<key>uid</key>
						<string>CFBC65E1-93EA-4B01-A39E-DD9C5A01054B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pref_icon</string>
						<key>outputlabel</key>
						<string>pref_icon</string>
						<key>uid</key>
						<string>CC9A1F0A-5BDD-4DAA-B890-20E80DDECB00</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>data_folder</string>
						<key>outputlabel</key>
						<string>data_folder</string>
						<key>uid</key>
						<string>AAEBAC1A-4C1F-49C4-BA9C-175DFF9F7687</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cache_folder</string>
						<key>outputlabel</key>
						<string>cache_folder</string>
						<key>uid</key>
						<string>13258927-20D2-4FDB-9ABF-FFF2263309D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8CE91420-4683-4D16-BD51-2D1D510E744C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"📖 Search Workflow Docs","arg":"docs_search"},{"title":"📊 Open Data Folder","arg":"data_folder"},{"title":"🧹 Open Cache Folder","arg":"cache_folder"},{"title":"⚙️ Update \"Alfred Preferences.app\" icon","arg":"pref_icon"},{"title":"❗️ Restart Alfred","arg":"restart"}]</string>
				<key>keyword</key>
				<string>{var:alfred_keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>AD4DAB43-9C3C-4491-8512-21EA61650C8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/update-alfred-preferences-icon.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43143E26-0CD1-43FB-B13D-74E8AB0411EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ABC4A242-56CA-4276-BDA3-3E4E3EB64347</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-cache-or-downloads.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DADFA85-C59F-4D17-A85F-5BC10246EA83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/reload-workflow.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C00ED073-C78C-482B-9067-D93E55EBE562</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>39D1BEBE-CB2C-48C2-ADA7-40A307BF7DA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BFFF24B6-2403-4E78-B51E-C06A6791E519</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2599F7AA-72EF-4424-B3C9-BD7526BE79EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-alfred-workflow.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>E596A969-3C93-41FA-B182-71849E89E62A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A586AF1E-8A0F-4B14-886F-07F7EA4AFDBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D614A191-BB33-4C78-A471-BC471BD46506</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D08B3C11-6C2B-492A-ABE0-9ECC93D911C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A1E33BB2-038D-4375-B0D8-FD9D71095631</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-alfred-workflow.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F55AD62-8636-4D88-8A53-E61A24FC96E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-workflow-path.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B265954-3202-4ECE-A9CC-FE23D2ADB407</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1ED0BF1E-0B7B-44CA-9800-02C3A363F8D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6496340C-2FAA-42F9-B626-A6E48D173091</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query:trim}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>33A07916-23BF-4B16-A845-62D0B6C7DB14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>1C54A9EF-33FF-4391-A2AA-B1A21ABA6BE7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get workflow path</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>1ED0BF1E-0B7B-44CA-9800-02C3A363F8D2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>2599F7AA-72EF-4424-B3C9-BD7526BE79EE</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>goto last workflow</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>2DADFA85-C59F-4D17-A85F-5BC10246EA83</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>33A07916-23BF-4B16-A845-62D0B6C7DB14</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>39D1BEBE-CB2C-48C2-ADA7-40A307BF7DA5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>reload current workflow (also resets its cache)</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>43143E26-0CD1-43FB-B13D-74E8AB0411EF</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>4A3A8C19-51DD-4007-9302-1B8EA64BE9A6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>4D3E285F-7A6E-48E9-B895-F861C8E1FDF2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>54C6EE1A-837D-4418-893C-4A301235A660</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>6496340C-2FAA-42F9-B626-A6E48D173091</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>copy workflow path</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>6552DA50-7058-4101-A2EF-78E87D7C5FF9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7792FA5D-64AB-40EB-AE6C-EE433C5FC0CA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>7B265954-3202-4ECE-A9CC-FE23D2ADB407</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get workflow path</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>7F55AD62-8636-4D88-8A53-E61A24FC96E4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>8CE91420-4683-4D16-BD51-2D1D510E744C</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A1E33BB2-038D-4375-B0D8-FD9D71095631</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>msg when not in Alfred directory</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>A586AF1E-8A0F-4B14-886F-07F7EA4AFDBA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Workflow: Alfred Prefs → Finder</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>ABC4A242-56CA-4276-BDA3-3E4E3EB64347</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>AD4DAB43-9C3C-4491-8512-21EA61650C8F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>BFFF24B6-2403-4E78-B51E-C06A6791E519</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>C00ED073-C78C-482B-9067-D93E55EBE562</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>reload</string>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>D08B3C11-6C2B-492A-ABE0-9ECC93D911C1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Workflow: Finder → Alfred Prefs</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>D614A191-BB33-4C78-A471-BC471BD46506</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>D8EF3F5D-DC9B-418F-9A1E-2D44427F7F4D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>E596A969-3C93-41FA-B182-71849E89E62A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>EDCE4E29-F536-4EDD-8F18-9ED9480004B8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>get workflow path</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>awd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alfred_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
