<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apple.alfred.workflow.alfdir</string>
	<key>connections</key>
	<dict>
		<key>08A82670-9DF2-4DDD-844F-115438000923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D08C4D47-3E99-474A-B2BE-3956D2108AD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0AAAF71A-C9BB-4A0F-9458-42BBE41E94FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A3CC965-8254-49CE-A119-C7E092149207</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>124DA868-B3A5-4FD5-B10E-DAE49F82D3DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08A82670-9DF2-4DDD-844F-115438000923</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>712FA7F8-179D-4CE2-9EB2-457F3DD4CCCD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Choose Action....</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>241E4426-A689-4820-B949-A0BFC59150B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AAAF71A-C9BB-4A0F-9458-42BBE41E94FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3749400F-A6EC-4C19-8DA7-05CC8ADEDE1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>124DA868-B3A5-4FD5-B10E-DAE49F82D3DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A7C603B-46BD-474B-BFAD-BF7F9AFEDBC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>587395A1-C351-4946-8931-31EB74F5EE33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>712FA7F8-179D-4CE2-9EB2-457F3DD4CCCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE10FC76-4C1E-4EEA-83F3-5850915CA150</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A1D4D84-64B9-48D7-947D-48631A2697C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6460CEC-FE31-4666-960A-A2C1FEED77FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A997CBF-B390-43F9-85C0-8876B512CB6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98B322BB-3950-407D-8BCE-71C24471C9F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D01F139-B2F1-484A-9B6C-68466EE79AFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F08DA5A1-5F16-44A5-BFF5-D51BEECFBA2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA1E55B1-E8F6-4F74-8A3C-C0F84C373A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00BCABBD-3B6F-42FE-A0F7-28624120F3DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D08C4D47-3E99-474A-B2BE-3956D2108AD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A997CBF-B390-43F9-85C0-8876B512CB6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F08DA5A1-5F16-44A5-BFF5-D51BEECFBA2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A7C603B-46BD-474B-BFAD-BF7F9AFEDBC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7AE11BF6-88BB-426D-B504-EE592A74AE6D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>241E4426-A689-4820-B949-A0BFC59150B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>71A3F8B3-AAB1-4F11-9CD5-5F8B82A86642</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CA1E55B1-E8F6-4F74-8A3C-C0F84C373A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>26223AE1-56B3-4994-A889-8D52CB6289CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8A1D4D84-64B9-48D7-947D-48631A2697C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B3E0617B-30D4-43B5-BC8B-4219C2D75591</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB99F2B1-4488-4028-BF89-91A9D3B28DD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8C629137-75B4-458B-9BF1-EAF65475D832</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB99F2B1-4488-4028-BF89-91A9D3B28DD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B166927-5D09-4B01-8E06-679862FDBEDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE10FC76-4C1E-4EEA-83F3-5850915CA150</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D01F139-B2F1-484A-9B6C-68466EE79AFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Browse Alfred Workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Alfred Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
    tell application id "com.runningwithcrayons.Alfred" to search (item 1 of argv)
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98B322BB-3950-407D-8BCE-71C24471C9F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./py3.sh keywords.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>keywords.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Workflow with keyword</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8A997CBF-B390-43F9-85C0-8876B512CB6B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>08A82670-9DF2-4DDD-844F-115438000923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Choose a Keyword Action...</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>plist_path</key>
					<string>{var:item1}</string>
					<key>wf_name</key>
					<string>{var:item2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D08C4D47-3E99-474A-B2BE-3956D2108AD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>alf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./py3.sh alf.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alf.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Alfred Workflows</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>124DA868-B3A5-4FD5-B10E-DAE49F82D3DF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./py3.sh action.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>action.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9D01F139-B2F1-484A-9B6C-68466EE79AFB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set theQuery to item 1 of argv
	tell application id "com.runningwithcrayons.Alfred"		search "?" &amp; theQuery	end tell
	tell application "System Events" to key code 36
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>587395A1-C351-4946-8931-31EB74F5EE33</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>712FA7F8-179D-4CE2-9EB2-457F3DD4CCCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>plist_path</key>
					<string>{var:item1}</string>
					<key>wf_name</key>
					<string>{var:item2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE10FC76-4C1E-4EEA-83F3-5850915CA150</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:wf_name}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5A7C603B-46BD-474B-BFAD-BF7F9AFEDBC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3749400F-A6EC-4C19-8DA7-05CC8ADEDE1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to the Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9A3CC965-8254-49CE-A119-C7E092149207</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0AAAF71A-C9BB-4A0F-9458-42BBE41E94FB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:plist_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>241E4426-A689-4820-B949-A0BFC59150B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>7AE11BF6-88BB-426D-B504-EE592A74AE6D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clipboard</string>
						<key>outputlabel</key>
						<string>clipboard</string>
						<key>uid</key>
						<string>71A3F8B3-AAB1-4F11-9CD5-5F8B82A86642</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>terminal</string>
						<key>uid</key>
						<string>26223AE1-56B3-4994-A889-8D52CB6289CE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>finder</string>
						<key>outputlabel</key>
						<string>finder</string>
						<key>uid</key>
						<string>B3E0617B-30D4-43B5-BC8B-4219C2D75591</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>file_manager</string>
						<key>outputlabel</key>
						<string>file_manager</string>
						<key>uid</key>
						<string>8C629137-75B4-458B-9BF1-EAF65475D832</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F08DA5A1-5F16-44A5-BFF5-D51BEECFBA2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>00BCABBD-3B6F-42FE-A0F7-28624120F3DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:plist_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CA1E55B1-E8F6-4F74-8A3C-C0F84C373A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>B6460CEC-FE31-4666-960A-A2C1FEED77FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:plist_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8A1D4D84-64B9-48D7-947D-48631A2697C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$file_manager "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B166927-5D09-4B01-8E06-679862FDBEDC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:plist_path}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FB99F2B1-4488-4028-BF89-91A9D3B28DD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Search Alfred Workflows

Alfred Workflows help to search in Title, Keyword, Description of a workflow and open it in various actions.

## Options

* ENTER - Shows a list of keywords in the workflow and starts the workflow with a keyword
* SHIFT - Shows a workflow description and associated keywords
* CMD - For addtional Actions:
  * Copy path to Clipboard
  * Open WF Folder in Terminal (cd &lt;path&gt;)
  * Reveal in Finder
  * Open in FileManager (if defined)

## Config

* exclude_disabled: True - ignore disabled workflow in search
* file_manager: PATH - path to executable file manager e.g. Forklift. If not applicable just empty value

## Required

* Python 3</string>
	<key>uidata</key>
	<dict>
		<key>00BCABBD-3B6F-42FE-A0F7-28624120F3DE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>08A82670-9DF2-4DDD-844F-115438000923</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Split query-input into value: item[n]</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>0AAAF71A-C9BB-4A0F-9458-42BBE41E94FB</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>124DA868-B3A5-4FD5-B10E-DAE49F82D3DF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>241E4426-A689-4820-B949-A0BFC59150B6</key>
		<dict>
			<key>note</key>
			<string>Load plist_path</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>3749400F-A6EC-4C19-8DA7-05CC8ADEDE1A</key>
		<dict>
			<key>note</key>
			<string>Alfred Search</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>587395A1-C351-4946-8931-31EB74F5EE33</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Open in Alfred Preferences</string>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>5A7C603B-46BD-474B-BFAD-BF7F9AFEDBC9</key>
		<dict>
			<key>note</key>
			<string>Load wf_name</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>5B166927-5D09-4B01-8E06-679862FDBEDC</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Reveal in file manager</string>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>712FA7F8-179D-4CE2-9EB2-457F3DD4CCCD</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Split query-input into value: item[n]</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>8A1D4D84-64B9-48D7-947D-48631A2697C0</key>
		<dict>
			<key>note</key>
			<string>Load plist_path</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>8A997CBF-B390-43F9-85C0-8876B512CB6B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>98B322BB-3950-407D-8BCE-71C24471C9F3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Applescript handling Alfred WF UI</string>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>9A3CC965-8254-49CE-A119-C7E092149207</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>9D01F139-B2F1-484A-9B6C-68466EE79AFB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>B6460CEC-FE31-4666-960A-A2C1FEED77FC</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>CA1E55B1-E8F6-4F74-8A3C-C0F84C373A93</key>
		<dict>
			<key>note</key>
			<string>Load plist_path</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>D08C4D47-3E99-474A-B2BE-3956D2108AD3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>set plist_path and wf_item</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>F08DA5A1-5F16-44A5-BFF5-D51BEECFBA2A</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>FB99F2B1-4488-4028-BF89-91A9D3B28DD4</key>
		<dict>
			<key>note</key>
			<string>Load plist_path</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>FE10FC76-4C1E-4EEA-83F3-5850915CA150</key>
		<dict>
			<key>note</key>
			<string>set plist_path and wf_name</string>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Path to executable file manager, if applicable.
Example: /Applications/ForkLift.app/Contents/MacOS/Forklift</string>
			<key>label</key>
			<string>File Manager</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>file_manager</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Ignore disabled workflow in search</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Exclude Disabled</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>exclude_disabled</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/search-alfred-workflows</string>
</dict>
</plist>
