<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<string>❇️</string>
		<string>⭐️</string>
		<string>⬇️</string>
	</array>
	<key>defaultBundleId</key>
	<string>de.chris-grieser.PLACEHOLDER</string>
	<key>defaultCreatedBy</key>
	<string>Chris Grieser</string>
	<key>defaultReadme</key>
	<string>## Usage
Get PLACEHOLDER the `KEYWORD` keyword.
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the page in the browser.
- &lt;kbd&gt;⌥⏎&lt;/kbd&gt; copy the page URL.

---

#### Workflow created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>defaultWebsite</key>
	<string>https://chris-grieser.de/</string>
	<key>rememberSelectedCategory</key>
	<true/>
	<key>showCanvasHints</key>
	<false/>
</dict>
</plist>
