<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.dock-switcher</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>047B3E39-B26C-4566-9BA5-2C8106D3C6E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4936F119-1518-48BC-8DAF-E8388D2FD1A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15B1A722-85AB-4042-B9F7-B755D027674F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6A030D1-AA68-4B34-A73D-E32764229096</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DFFAF151-97DD-46A4-9BBA-121DBBB5F800</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Save current layout</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71149DFC-88DE-4E74-9FDA-F9336F759485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4936F119-1518-48BC-8DAF-E8388D2FD1A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71149DFC-88DE-4E74-9FDA-F9336F759485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67D5112C-3E28-4F59-81D9-8595E6616490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6A030D1-AA68-4B34-A73D-E32764229096</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77B5FCE8-9806-4520-937D-6512E72DC3E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67D5112C-3E28-4F59-81D9-8595E6616490</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D6BAD11-5565-439D-9910-03CD2024E486</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>047B3E39-B26C-4566-9BA5-2C8106D3C6E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6A030D1-AA68-4B34-A73D-E32764229096</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFFAF151-97DD-46A4-9BBA-121DBBB5F800</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Switch between dock layouts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dock Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>load-dock-layout</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>77B5FCE8-9806-4520-937D-6512E72DC3E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>silent</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>67D5112C-3E28-4F59-81D9-8595E6616490</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dock</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-dock-layout.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Load Dock Layout...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15B1A722-85AB-4042-B9F7-B755D027674F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/dock_switcher.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>load</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C6A030D1-AA68-4B34-A73D-E32764229096</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>save</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DFFAF151-97DD-46A4-9BBA-121DBBB5F800</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>71149DFC-88DE-4E74-9FDA-F9336F759485</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>Name of new layout:</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>047B3E39-B26C-4566-9BA5-2C8106D3C6E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:dock new</string>
				<key>subtext</key>
				<string>Save current layout as a new layout</string>
				<key>text</key>
				<string>Dock</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D6BAD11-5565-439D-9910-03CD2024E486</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/save_new_layout.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4936F119-1518-48BC-8DAF-E8388D2FD1A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Save the current dock as a layout for this workflow via the keyword `:dock
  new`.
- Select a dock layout via the keyword `dock`:
	+ &lt;kbd&gt;⏎&lt;/kbd&gt;: Switch to the layout (load the layout).
	+ &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: Overwrite the layout with the layout of the current dock.

⚠️ This workflow saves **all** information related to the current dock. This 
includes dock sizes, dock position, animation settings, or hot corners.

## Automation
Load a dock layout from another app via this AppleScript:

```applescript
tell application id "com.runningwithcrayons.Alfred" to run trigger "load-dock-layout" in workflow "de.chris-grieser.dock-switcher" with argument "NAME_OF_DOCK_LAYOUT"`
```

or via URI:

```txt
alfred://runtrigger/de.chris-grieser.dock-switcher/load-dock-layout/?argument=NAME_OF_DOCK_LAYOUT
```


---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>047B3E39-B26C-4566-9BA5-2C8106D3C6E9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>15B1A722-85AB-4042-B9F7-B755D027674F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>1CCD5F8D-0F96-4DBC-9F96-6151F8F1AC83</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>4936F119-1518-48BC-8DAF-E8388D2FD1A5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>67D5112C-3E28-4F59-81D9-8595E6616490</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>silent</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>71149DFC-88DE-4E74-9FDA-F9336F759485</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>77B5FCE8-9806-4520-937D-6512E72DC3E8</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>7D6BAD11-5565-439D-9910-03CD2024E486</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>C6A030D1-AA68-4B34-A73D-E32764229096</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>load</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>DFFAF151-97DD-46A4-9BBA-121DBBB5F800</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>save</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.config/alfred-dock-switcher</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>/path/dock-switcher</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Folder where dock layouts should be stored. Select a folder in a cloud drive for syncing.</string>
			<key>label</key>
			<string>Dock layout location</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>dock_layout_storage</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
