<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.ignoreinalfred</string>
	<key>connections</key>
	<dict>
		<key>01A3261D-C771-4A82-A089-B1FC98B0758D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79918A3B-4370-421B-AEBE-D994CA7C686A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FD9C490-D374-44DE-988F-B284ABE5557B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79918A3B-4370-421B-AEBE-D994CA7C686A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>616BBB32-A543-446F-825C-BE66B7C4C670</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79918A3B-4370-421B-AEBE-D994CA7C686A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FAF27A2-B067-4CBE-97BB-FAD2D8B73F7C</key>
		<array/>
		<key>79918A3B-4370-421B-AEBE-D994CA7C686A</key>
		<array/>
		<key>A881CF95-47CE-45F2-8FEE-8CD9C78E175E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAF27A2-B067-4CBE-97BB-FAD2D8B73F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C58A1DF6-391A-4330-999A-1A3D7ACDB592</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAF27A2-B067-4CBE-97BB-FAD2D8B73F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80DFD21-0CBC-4D84-806B-B13ED49CB545</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAF27A2-B067-4CBE-97BB-FAD2D8B73F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Exclude files and folders from Alfred’s search results</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ignore in Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Ignore in Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5FD9C490-D374-44DE-988F-B284ABE5557B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Stop Ignoring in Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C58A1DF6-391A-4330-999A-1A3D7ACDB592</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:ignore_keyword}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Exclude files and folders from Alfred’s search results</string>
				<key>title</key>
				<string>Ignore in Alfred</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>616BBB32-A543-446F-825C-BE66B7C4C670</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:unignore_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying ignored paths…</string>
				<key>script</key>
				<string>./mdscriptfilter "kMDItemUserTags == alfred:ignore"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Readd files and folders to Alfred’s search results</string>
				<key>title</key>
				<string>Stop Ignoring in Alfred</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D80DFD21-0CBC-4D84-806B-B13ED49CB545</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>new_tags</key>
					<string>alfred:ignore</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.tags.remove</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6FAF27A2-B067-4CBE-97BB-FAD2D8B73F7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>new_tags</key>
					<string>alfred:ignore</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.tags.add</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>79918A3B-4370-421B-AEBE-D994CA7C686A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:reignore_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying ignored paths…</string>
				<key>script</key>
				<string>./mdscriptfilter "kMDItemUserTags == alfred:ignore &amp;&amp; kMDItemContentType == public.folder"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Exclude new folder contents from Alfred’s search results</string>
				<key>title</key>
				<string>Reignore in Alfred</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>01A3261D-C771-4A82-A089-B1FC98B0758D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:unignore_keyword} folder</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying ignored folders…</string>
				<key>script</key>
				<string>./mdscriptfilter "kMDItemUserTags == alfred:ignore &amp;&amp; kMDItemContentType == public.folder"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Readd folders to Alfred’s search results</string>
				<key>title</key>
				<string>Stop Ignoring Folders in Alfred</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A881CF95-47CE-45F2-8FEE-8CD9C78E175E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Remove or readd files and folders from Alfred’s search results via the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Actions for ignore and unignore](images/about/universal_actions.png)

Alteratively, search for files and folders via the keywords (defaults: `ignore`, `unignore`, and `reignore`).

![Alfred search for ignore](images/about/ignore.png)
![Alfred search for unignore](images/about/unignore.png)
![Alfred search for reignore](images/about/reignore.png)</string>
	<key>uidata</key>
	<dict>
		<key>01A3261D-C771-4A82-A089-B1FC98B0758D</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>5FD9C490-D374-44DE-988F-B284ABE5557B</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>616BBB32-A543-446F-825C-BE66B7C4C670</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6FAF27A2-B067-4CBE-97BB-FAD2D8B73F7C</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>79918A3B-4370-421B-AEBE-D994CA7C686A</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A881CF95-47CE-45F2-8FEE-8CD9C78E175E</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>C58A1DF6-391A-4330-999A-1A3D7ACDB592</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D80DFD21-0CBC-4D84-806B-B13ED49CB545</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ignore</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Ignore Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ignore_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>unignore</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Unignore Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>unignore_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>reignore</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Reignore Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>reignore_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/ignore-in-alfred-workflow/</string>
</dict>
</plist>
