<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.demo</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Demo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>blubb</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>2BCDD06A-2A51-41EC-9505-E614669FDEA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<true/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>8D393319-B4A7-49B1-B633-830E9B1E17F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>2BCDD06A-2A51-41EC-9505-E614669FDEA3</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>8D393319-B4A7-49B1-B633-830E9B1E17F3</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
