<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.A2181533-4B76-4EDD-A6AB-20572A09D679</string>
	<key>lightthemeuid</key>
	<string>theme.custom.A2181533-4B76-4EDD-A6AB-20572A09D679</string>
</dict>
</plist>
