<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.weekly-date-generator-alfred</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>12847B13-277D-4EF2-B65C-2F594D522510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0AD41AF-569F-405D-BB88-29B96C8DF007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20B23EDB-0F93-4B9C-A851-D81510EA2368</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66710EC9-C64D-491E-BCE1-636C56AEC8A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>578C08D0-C681-4E8A-AC1A-63359A0F0C34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12847B13-277D-4EF2-B65C-2F594D522510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>66710EC9-C64D-491E-BCE1-636C56AEC8A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8610EFE4-6BCC-4C55-A92F-A1ACAF175489</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8610EFE4-6BCC-4C55-A92F-A1ACAF175489</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42A7B9B4-EB45-4703-9232-AF5C99D4512E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>931A201F-67BF-4D23-845D-15074A56A83D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F00C2986-4FD7-478F-B72E-810CA90E50D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0AD41AF-569F-405D-BB88-29B96C8DF007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C73C4C50-6AAA-4294-929D-5C770E4E4E36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB6C212F-70C4-4291-963F-B7D6DFD63435</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D5011F9-F8DB-4744-945E-FE33325726F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C73C4C50-6AAA-4294-929D-5C770E4E4E36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>931A201F-67BF-4D23-845D-15074A56A83D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E206A8A9-ADE8-4A8D-AA62-AC94A971FBB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB6C212F-70C4-4291-963F-B7D6DFD63435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F300A89D-7DA2-4976-BF45-0CE5C7EA2C98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8610EFE4-6BCC-4C55-A92F-A1ACAF175489</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F79C0E63-67BE-46EA-9D1A-CD461F90A596</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4707CD41-4A4E-4B1A-B0CF-7DCF6340337E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F829271A-399C-4995-8A07-6D7A7E8FB722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66710EC9-C64D-491E-BCE1-636C56AEC8A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFFCD856-9A0A-4D43-A899-CCA1AE5235BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C73C4C50-6AAA-4294-929D-5C770E4E4E36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calendar &amp; Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-reminder1.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8610EFE4-6BCC-4C55-A92F-A1ACAF175489</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-reminder-time.js</string>
				<key>subtext</key>
				<string>loading…</string>
				<key>title</key>
				<string>Add Reminder…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F300A89D-7DA2-4976-BF45-0CE5C7EA2C98</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Added Reminder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42A7B9B4-EB45-4703-9232-AF5C99D4512E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>weekly</string>
				<key>subtext</key>
				<string>Set new Start Date</string>
				<key>text</key>
				<string>Weekly Date Generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>578C08D0-C681-4E8A-AC1A-63359A0F0C34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Format: YYYY-MM-DD</string>
				<key>text</key>
				<string>New Start Date: '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0AD41AF-569F-405D-BB88-29B96C8DF007</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>12847B13-277D-4EF2-B65C-2F594D522510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Add to Reminders (tomorrow)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F829271A-399C-4995-8A07-6D7A7E8FB722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F00C2986-4FD7-478F-B72E-810CA90E50D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>26</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FFFCD856-9A0A-4D43-A899-CCA1AE5235BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/weekly-generator.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C73C4C50-6AAA-4294-929D-5C770E4E4E36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>reminderText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>66710EC9-C64D-491E-BCE1-636C56AEC8A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>931A201F-67BF-4D23-845D-15074A56A83D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>20B23EDB-0F93-4B9C-A851-D81510EA2368</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add to Busycal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F79C0E63-67BE-46EA-9D1A-CD461F90A596</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>busycalevent://new/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4707CD41-4A4E-4B1A-B0CF-7DCF6340337E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ein</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to shopping list: "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E206A8A9-ADE8-4A8D-AA62-AC94A971FBB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Reminders" 
	show (list "Shopping") 
	activate 
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-to-shopping-list.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB6C212F-70C4-4291-963F-B7D6DFD63435</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🛒 Added to Shopping List</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6D5011F9-F8DB-4744-945E-FE33325726F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12847B13-277D-4EF2-B65C-2F594D522510</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>20B23EDB-0F93-4B9C-A851-D81510EA2368</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>snooze one day</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>42A7B9B4-EB45-4703-9232-AF5C99D4512E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4707CD41-4A4E-4B1A-B0CF-7DCF6340337E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>578C08D0-C681-4E8A-AC1A-63359A0F0C34</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>weekly date generator</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>66710EC9-C64D-491E-BCE1-636C56AEC8A6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>6D5011F9-F8DB-4744-945E-FE33325726F3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>8610EFE4-6BCC-4C55-A92F-A1ACAF175489</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>add reminder in background</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>931A201F-67BF-4D23-845D-15074A56A83D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>A0AD41AF-569F-405D-BB88-29B96C8DF007</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>AB6C212F-70C4-4291-963F-B7D6DFD63435</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>C73C4C50-6AAA-4294-929D-5C770E4E4E36</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E206A8A9-ADE8-4A8D-AA62-AC94A971FBB3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>add to shopping list</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>F00C2986-4FD7-478F-B72E-810CA90E50D0</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F300A89D-7DA2-4976-BF45-0CE5C7EA2C98</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>add reminder</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F79C0E63-67BE-46EA-9D1A-CD461F90A596</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F829271A-399C-4995-8A07-6D7A7E8FB722</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>FFFCD856-9A0A-4D43-A899-CCA1AE5235BB</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>add week</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Brackets</string>
			</dict>
			<key>description</key>
			<string>Date will be put in brackets</string>
			<key>label</key>
			<string>use bracket</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>in_brackets</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Line Break</string>
			</dict>
			<key>description</key>
			<string>i.e., every date gets its own line</string>
			<key>label</key>
			<string>add line break</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>line_break_after</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>de-DE</string>
				<key>placeholder</key>
				<string>en-US</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>influences month names and date formatting</string>
			<key>label</key>
			<string>Language</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>lang</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>BE</string>
				<key>placeholder</key>
				<string>BE</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add German Holidays. Leave empty to not consider holidays.</string>
			<key>label</key>
			<string>German State (Bundesland)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bundesland_feiertage</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
