<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.webhighlight</string>
	<key>connections</key>
	<dict>
		<key>11200958-C332-45CF-8A76-37C706462620</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BA41DC9-C200-4136-9D30-8656EAE81529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DB32CBAE-14F0-43A2-9243-D321609C7E26</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6ECBCEDC-A255-45B5-8A17-F9860F63BEF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AF38706-26E6-4698-BCED-E84FA0FD9A5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77E68AFE-4459-46B2-A463-861EBD734B17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4019866-220B-473E-AAF7-32F0D56C97EE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Replace previous fragments</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CEC664D-2F6F-4264-A8C8-493BC84EF408</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>904AE55B-CDF1-490D-B778-5AC07226C204</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>421A61A7-3BDC-4FAB-95C5-9282E59DBAA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1945B6F-00CA-4F31-B990-BE82DDBC1EA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E64C2098-4A06-4A7B-ACD6-2B3DE40BFD08</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BA41DC9-C200-4136-9D30-8656EAE81529</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC8ECCB5-0CF4-4112-81A1-E03C352A753D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6ECBCEDC-A255-45B5-8A17-F9860F63BEF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC8ECCB5-0CF4-4112-81A1-E03C352A753D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D7920FA-788E-4CF8-B703-27123784C7A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D4E899C7-7DA1-4A41-BBE4-D721761DE6EF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77E68AFE-4459-46B2-A463-861EBD734B17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CEC664D-2F6F-4264-A8C8-493BC84EF408</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D7920FA-788E-4CF8-B703-27123784C7A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>421A61A7-3BDC-4FAB-95C5-9282E59DBAA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A99FC251-B5D4-4174-B9CF-8E84C0E8A511</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>904AE55B-CDF1-490D-B778-5AC07226C204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0E0EF85-0EA4-47AA-B825-2EAA237FE182</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4019866-220B-473E-AAF7-32F0D56C97EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77E68AFE-4459-46B2-A463-861EBD734B17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A99FC251-B5D4-4174-B9CF-8E84C0E8A511</key>
		<array/>
		<key>C0E0EF85-0EA4-47AA-B825-2EAA237FE182</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11200958-C332-45CF-8A76-37C706462620</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1945B6F-00CA-4F31-B990-BE82DDBC1EA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4200B780-AD2C-47F5-874B-2AFE1B4B9980</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0B3F071-A4FF-4ADB-BC43-313549582B03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77E68AFE-4459-46B2-A463-861EBD734B17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC8ECCB5-0CF4-4112-81A1-E03C352A753D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>421A61A7-3BDC-4FAB-95C5-9282E59DBAA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A99FC251-B5D4-4174-B9CF-8E84C0E8A511</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Link to web pages and highlight text fragments</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Web Highlight</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D0B3F071-A4FF-4ADB-BC43-313549582B03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>77E68AFE-4459-46B2-A463-861EBD734B17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C0E0EF85-0EA4-47AA-B825-2EAA237FE182</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Copy Web Fragment URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1AF38706-26E6-4698-BCED-E84FA0FD9A5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:new_url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4200B780-AD2C-47F5-874B-2AFE1B4B9980</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current.close</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C1945B6F-00CA-4F31-B990-BE82DDBC1EA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:replace_previous}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Replace</string>
						<key>uid</key>
						<string>DB32CBAE-14F0-43A2-9243-D321609C7E26</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Append</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>11200958-C332-45CF-8A76-37C706462620</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>new_url</key>
					<string>{query}#:~:text={var:encoded_text}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DC8ECCB5-0CF4-4112-81A1-E03C352A753D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>#.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5BA41DC9-C200-4136-9D30-8656EAE81529</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>encoded_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>904AE55B-CDF1-490D-B778-5AC07226C204</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:replace_tab}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E64C2098-4A06-4A7B-ACD6-2B3DE40BFD08</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>421A61A7-3BDC-4FAB-95C5-9282E59DBAA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>%0A</string>
				<key>replacestring</key>
				<string>&amp;text=</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3CEC664D-2F6F-4264-A8C8-493BC84EF408</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>replace_previous</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A4019866-220B-473E-AAF7-32F0D56C97EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:new_url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A99FC251-B5D4-4174-B9CF-8E84C0E8A511</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>#:~:text=</string>
						<key>outputlabel</key>
						<string>Had Fragments</string>
						<key>uid</key>
						<string>D4E899C7-7DA1-4A41-BBE4-D721761DE6EF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Fragments</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6ECBCEDC-A255-45B5-8A17-F9860F63BEF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>new_url</key>
					<string>{query}&amp;text={var:encoded_text}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7D7920FA-788E-4CF8-B703-27123784C7A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Copy the URL to a specific text section of a webpage by triggering the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/) or [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) with text selected on a website. The resulting URL automatically scrolls to frame the text and highlights it.

![Showing Universal Action](images/about/ua.png)

![Showing result in web browser](images/about/browser.png)

Rerunning on a different selection adds the new text to the previous fragments, allowing for multiple disconnected highlights. Running the Universal Action with &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; removes all other selections.</string>
	<key>uidata</key>
	<dict>
		<key>11200958-C332-45CF-8A76-37C706462620</key>
		<dict>
			<key>note</key>
			<string>Follow different paths if appending or replacing fragments</string>
			<key>xpos</key>
			<real>879</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>1AF38706-26E6-4698-BCED-E84FA0FD9A5F</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>3CEC664D-2F6F-4264-A8C8-493BC84EF408</key>
		<dict>
			<key>note</key>
			<string>Replaces newlines with new fragment</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>4200B780-AD2C-47F5-874B-2AFE1B4B9980</key>
		<dict>
			<key>xpos</key>
			<real>1575</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>421A61A7-3BDC-4FAB-95C5-9282E59DBAA2</key>
		<dict>
			<key>xpos</key>
			<real>1315</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>5BA41DC9-C200-4136-9D30-8656EAE81529</key>
		<dict>
			<key>note</key>
			<string>Remove previous fragments</string>
			<key>xpos</key>
			<real>1035</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>6ECBCEDC-A255-45B5-8A17-F9860F63BEF7</key>
		<dict>
			<key>note</key>
			<string>Follow different paths if fragments were present in URL</string>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>77E68AFE-4459-46B2-A463-861EBD734B17</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7D7920FA-788E-4CF8-B703-27123784C7A5</key>
		<dict>
			<key>note</key>
			<string>Save new URL</string>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>904AE55B-CDF1-490D-B778-5AC07226C204</key>
		<dict>
			<key>note</key>
			<string>Save fragments</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>A4019866-220B-473E-AAF7-32F0D56C97EE</key>
		<dict>
			<key>note</key>
			<string>Indicate previous fragments should be removed</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>A99FC251-B5D4-4174-B9CF-8E84C0E8A511</key>
		<dict>
			<key>xpos</key>
			<real>1400</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>C0E0EF85-0EA4-47AA-B825-2EAA237FE182</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>C1945B6F-00CA-4F31-B990-BE82DDBC1EA4</key>
		<dict>
			<key>xpos</key>
			<real>1400</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>D0B3F071-A4FF-4ADB-BC43-313549582B03</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>DC8ECCB5-0CF4-4112-81A1-E03C352A753D</key>
		<dict>
			<key>note</key>
			<string>Save new URL</string>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Close tab and reopen with new URL</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Replace Tab</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>replace_tab</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.2</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/web-highlight-workflow/</string>
</dict>
</plist>
