<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.mas-search</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>06CBB88B-60DC-48E1-97D8-9A63B099DDA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C0A319F-FC03-4A32-B2B8-9C9242048318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4765DAC1-3059-4B3F-9EE9-9A53AE02B4BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B80BB59-9309-4CA7-A9F7-54C10F560BC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8B4F6B2-C13E-44E1-879C-6C87BC33DF9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4765DAC1-3059-4B3F-9EE9-9A53AE02B4BC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open developer website</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B80BB59-9309-4CA7-A9F7-54C10F560BC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>06CBB88B-60DC-48E1-97D8-9A63B099DDA2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: App Store URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search apps available in the Mac App Store.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mac App Store Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4765DAC1-3059-4B3F-9EE9-9A53AE02B4BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/mas-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A8B4F6B2-C13E-44E1-879C-6C87BC33DF9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0B80BB59-9309-4CA7-A9F7-54C10F560BC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4C0A319F-FC03-4A32-B2B8-9C9242048318</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>06CBB88B-60DC-48E1-97D8-9A63B099DDA2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Search the Mac App Store for apps via the keyword `mas`.
- &lt;kbd&gt;⏎&lt;/kbd&gt; Open the result in `App Store.app`.
- &lt;kbd&gt;⌘⏎&lt;/kbd&gt; Open the developer's website, if available.
- &lt;kbd&gt;⌥⏎&lt;/kbd&gt; Copy the App Store URL to your clipboard.
- &lt;kbd&gt;⌘Y&lt;/kbd&gt; Quick Look a screenshot of the app, if available.

## Homebrew packages
If you use homebrew, you might also be interested in [this workflow to search
homebrew packages](https://alfred.app/workflows/chrisgrieser/homebrew-search/).

💡 You can set both of them to the same keyword to simultaneously search homebrew
and the Mac App Store.

---

#### Created by [Chris Grieser](https://chris-grieser.de/)   |   ⭐️ [Star on GitHub](https://github.com/chrisgrieser/alfred-mac-app-store-search)</string>
	<key>uidata</key>
	<dict>
		<key>06CBB88B-60DC-48E1-97D8-9A63B099DDA2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>0B80BB59-9309-4CA7-A9F7-54C10F560BC7</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>4765DAC1-3059-4B3F-9EE9-9A53AE02B4BC</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>4C0A319F-FC03-4A32-B2B8-9C9242048318</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>A8B4F6B2-C13E-44E1-879C-6C87BC33DF9D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mas</string>
				<key>placeholder</key>
				<string>mas</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>9</integer>
				<key>markercount</key>
				<integer>26</integer>
				<key>maxvalue</key>
				<integer>30</integer>
				<key>minvalue</key>
				<integer>5</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Note that with a higher number, it takes longer before the results are displayed.</string>
			<key>label</key>
			<string>Number of results</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>result_number</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.10.3</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
