<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.weekly-date-generator-alfred</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>12847B13-277D-4EF2-B65C-2F594D522510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0AD41AF-569F-405D-BB88-29B96C8DF007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54362C42-D049-45E7-B8AD-9F82A154B1BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>931A201F-67BF-4D23-845D-15074A56A83D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>578C08D0-C681-4E8A-AC1A-63359A0F0C34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12847B13-277D-4EF2-B65C-2F594D522510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>931A201F-67BF-4D23-845D-15074A56A83D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F00C2986-4FD7-478F-B72E-810CA90E50D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0AD41AF-569F-405D-BB88-29B96C8DF007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54362C42-D049-45E7-B8AD-9F82A154B1BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFFCD856-9A0A-4D43-A899-CCA1AE5235BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54362C42-D049-45E7-B8AD-9F82A154B1BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Generates weekly dates, e.g. for syllabi creation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Weekly Date Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F00C2986-4FD7-478F-B72E-810CA90E50D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>weekly-date-generator.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54362C42-D049-45E7-B8AD-9F82A154B1BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>26</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FFFCD856-9A0A-4D43-A899-CCA1AE5235BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>931A201F-67BF-4D23-845D-15074A56A83D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Format: YYYY-MM-DD</string>
				<key>text</key>
				<string>New Start Date: '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0AD41AF-569F-405D-BB88-29B96C8DF007</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>weekly</string>
				<key>subtext</key>
				<string>Set new Start Date</string>
				<key>text</key>
				<string>Weekly Date Generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>578C08D0-C681-4E8A-AC1A-63359A0F0C34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>12847B13-277D-4EF2-B65C-2F594D522510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## GitHub Repo
https://github.com/chrisgrieser/Alfred-weekly-date-generator

## Download
[Doanload the latest release here.](https://github.com/chrisgrieser/Alfred-weekly-date-generator/releases/latest)

## Usage
- keyword `weekly`: set a starting date in the ISO-Format (YYYY-MM-DD)
- hotkey (configurable by double-clicking the hotkey field): paste the date. Every time you use the hotkey, the date increases by one week
- use the `weekly` keyword to set a new starting date.

## Workflow Configuration (Alfred Environment Variables)
- Set the language of the months via `lang`. Use the [BCP-47 language tags](https://www.techonthenet.com/js/language_tags.php).
- Get the holidays of a German state (Bundesland) by setting a state via `bundesland_feiertage`. Use the [shortcodes listed here](https://feiertage-api.de/), e.g. `BE` for Berlin. _**Leave this empty**, if you do not want to use German state holidays._

## Credits
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>12847B13-277D-4EF2-B65C-2F594D522510</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>54362C42-D049-45E7-B8AD-9F82A154B1BA</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>578C08D0-C681-4E8A-AC1A-63359A0F0C34</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>931A201F-67BF-4D23-845D-15074A56A83D</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>A0AD41AF-569F-405D-BB88-29B96C8DF007</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>F00C2986-4FD7-478F-B72E-810CA90E50D0</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>FFFCD856-9A0A-4D43-A899-CCA1AE5235BB</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>bundesland_feiertage</key>
		<string>BE</string>
		<key>in_brackets</key>
		<string>false</string>
		<key>lang</key>
		<string>de-DE</string>
		<key>startdate</key>
		<string>2022-06-08</string>
		<key>week_counter</key>
		<string>5</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>week_counter</string>
		<string>in_brackets</string>
		<string>startdate</string>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
