<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.reminders-companion</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>048725A0-DB75-4146-B66B-8947B03863C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC59BB81-9433-4E89-8ACA-3C201EB676F6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥⏎: Save</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F93036F-D158-49BB-97AF-DE600B8A3300</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FF59D05-FE74-43DD-9589-1CFF471C8A6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1486415C-BA88-4276-A021-3773113CAF94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B7ABAED-E5E5-4949-A518-B14FDEAE9F6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F28B1D0-95DD-4F7F-BB2A-018A98C5743B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A915081B-4FBF-46B4-8B5E-AF3C2282A034</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DBE7C33-DE4C-4B1D-8831-E8F02E6FB3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23ED3685-8AA0-4314-A16F-F7D8A0D01A70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B7ABAED-E5E5-4949-A518-B14FDEAE9F6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45E222F3-9910-4038-AA60-1ABC01E95D81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>048725A0-DB75-4146-B66B-8947B03863C8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Edit reminder</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>519B050E-E040-4E66-ADFC-D2784865F13B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Toggle showing completed</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62BBC8B8-CAF7-4036-9E0A-5CDB14399501</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7620DB33-1A59-45FB-9FE1-CF7502A1EE80</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open URL / Copy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E9FBABB7-D7D0-4EF6-A0F8-BC9B2124CB77</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Snooze to tomorrow</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B7ABAED-E5E5-4949-A518-B14FDEAE9F6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F28B1D0-95DD-4F7F-BB2A-018A98C5743B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>478E95B7-88CA-4DFE-BB8F-2F13E8C97F30</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>519B050E-E040-4E66-ADFC-D2784865F13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E6BB902-56B8-4291-8181-8D015E7F0A0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B4E3523-E2C7-4E39-87C0-D157AC551A91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F93036F-D158-49BB-97AF-DE600B8A3300</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FF59D05-FE74-43DD-9589-1CFF471C8A6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA53DB8C-C97B-4594-A26E-0875AB96D262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62BBC8B8-CAF7-4036-9E0A-5CDB14399501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>519B050E-E040-4E66-ADFC-D2784865F13B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>478E95B7-88CA-4DFE-BB8F-2F13E8C97F30</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F28B1D0-95DD-4F7F-BB2A-018A98C5743B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DBE7C33-DE4C-4B1D-8831-E8F02E6FB3D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA53DB8C-C97B-4594-A26E-0875AB96D262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7620DB33-1A59-45FB-9FE1-CF7502A1EE80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23ED3685-8AA0-4314-A16F-F7D8A0D01A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0FC40472-5309-400D-937A-A779E5B73B20</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1486415C-BA88-4276-A021-3773113CAF94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76767F1C-52B8-425C-8621-F7E67C523434</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45E222F3-9910-4038-AA60-1ABC01E95D81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6117B6C-7738-4FC1-8297-B72F0FEEB9CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA53DB8C-C97B-4594-A26E-0875AB96D262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A915081B-4FBF-46B4-8B5E-AF3C2282A034</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E6BB902-56B8-4291-8181-8D015E7F0A0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>478E95B7-88CA-4DFE-BB8F-2F13E8C97F30</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4273F65-2A88-4E80-A7A9-4828E475C54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC59BB81-9433-4E89-8ACA-3C201EB676F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49BE57F4-670B-4713-B036-981025E334C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD7716E2-05C1-4CD2-9B1C-5FD044289103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B4E3523-E2C7-4E39-87C0-D157AC551A91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D39A1AFE-3A07-40A3-BCD6-FE4A721D8959</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F93036F-D158-49BB-97AF-DE600B8A3300</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA53DB8C-C97B-4594-A26E-0875AB96D262</key>
		<array/>
		<key>E9FBABB7-D7D0-4EF6-A0F8-BC9B2124CB77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6117B6C-7738-4FC1-8297-B72F0FEEB9CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F282F9C0-5F8C-4504-889D-6F7B1B1A0CFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D39A1AFE-3A07-40A3-BCD6-FE4A721D8959</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Display and add reminders due today.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reminders Today</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>First line: title, remaining lines: notes     ·     ⌥⏎: Save     ·     ⎋: Cancel</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>048725A0-DB75-4146-B66B-8947B03863C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/edit-reminder.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC59BB81-9433-4E89-8ACA-3C201EB676F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>49BE57F4-670B-4713-B036-981025E334C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>reminder-today</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5E6BB902-56B8-4291-8181-8D015E7F0A0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>519B050E-E040-4E66-ADFC-D2784865F13B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:keepOpen}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>true</string>
						<key>uid</key>
						<string>478E95B7-88CA-4DFE-BB8F-2F13E8C97F30</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>false</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A915081B-4FBF-46B4-8B5E-AF3C2282A034</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:select_reminder_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-reminders.js</string>
				<key>subtext</key>
				<string>Show reminders due today {var:reminder_list}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>reminder-today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45E222F3-9910-4038-AA60-1ABC01E95D81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76767F1C-52B8-425C-8621-F7E67C523434</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>show-completed</string>
						<key>outputlabel</key>
						<string>true</string>
						<key>uid</key>
						<string>478E95B7-88CA-4DFE-BB8F-2F13E8C97F30</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>false</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>62BBC8B8-CAF7-4036-9E0A-5CDB14399501</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>E4273F65-2A88-4E80-A7A9-4828E475C54F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>23ED3685-8AA0-4314-A16F-F7D8A0D01A70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:cmdMode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open-url</string>
						<key>outputlabel</key>
						<string>open URL</string>
						<key>uid</key>
						<string>0FC40472-5309-400D-937A-A779E5B73B20</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7620DB33-1A59-45FB-9FE1-CF7502A1EE80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/edit-reminder.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F28B1D0-95DD-4F7F-BB2A-018A98C5743B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:title}</string>
				<key>title</key>
				<string>{var:notificationTitle}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6DBE7C33-DE4C-4B1D-8831-E8F02E6FB3D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>toggle-completed</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>478E95B7-88CA-4DFE-BB8F-2F13E8C97F30</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>&gt; 0</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4B7ABAED-E5E5-4949-A518-B14FDEAE9F6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1486415C-BA88-4276-A021-3773113CAF94</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:title}</string>
				<key>title</key>
				<string>💤 Snoozed to tomorrow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A6117B6C-7738-4FC1-8297-B72F0FEEB9CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/edit-reminder.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9FBABB7-D7D0-4EF6-A0F8-BC9B2124CB77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:quickadd_today_keyword}</string>
				<key>subtext</key>
				<string>today</string>
				<key>text</key>
				<string>❇️ Add to {var:reminder_list}: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD7716E2-05C1-4CD2-9B1C-5FD044289103</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>when_to_add</key>
					<string>today</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B4E3523-E2C7-4E39-87C0-D157AC551A91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-reminder-today.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F93036F-D158-49BB-97AF-DE600B8A3300</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:quickadd_tomorrow_keyword}</string>
				<key>subtext</key>
				<string>tomorrow</string>
				<key>text</key>
				<string>✴️ Add to {var:reminder_list}: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F282F9C0-5F8C-4504-889D-6F7B1B1A0CFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/sketchybar-update.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA53DB8C-C97B-4594-A26E-0875AB96D262</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Added Reminder ({var:when_to_add})</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5FF59D05-FE74-43DD-9589-1CFF471C8A6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>when_to_add</key>
					<string>tomorrow</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D39A1AFE-3A07-40A3-BCD6-FE4A721D8959</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Info when upgrading from version 1.x to version 2.x
Due to the underlying tool (`reminder-cli`) being abandoned, I rewrote this
workflow to work fully standalone. Note that this workflow now **requires at
least macOS 14**.

If you used the workflow before version 2.0, it now does not require
`reminders-cli` anymore, so you can uninstall it:

```bash
brew uninstall keith/formulae/reminders-cli
brew untap keith/formulae
```

### Permissions
For this workflow to work, Alfred requires permissions to control Reminders.app. 
If you are not prompted to add them, try:
- `System Settings` → `Privacy` → `Reminders`
- `Preferences` → `Privacy` → `Automation` → `Alfred 5`
- Restarting Alfred. You can quit Alfred from the `Alfred Preferences` → `General` 
  → `Quit Alfred`, and then start Alfred again from your `Applications` folder.

---

## Usage
- Display reminders due today (or overdue) via the keyword `rem`. Configure the
  [hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster
  triggering.
	+ &lt;kbd&gt;⏎&lt;/kbd&gt;: Complete the reminder.
	+ &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: If the reminder has a URL, open it in the default browser,
	  otherwise, copy the reminder's title &amp; notes to the clipboard. Afterward,
	  complete the reminder. (Note that only URLs in title or notes are
	  supported, since the URL field of a reminder is not accessible.)
	+ &lt;kbd&gt;⇧⏎&lt;/kbd&gt;: "Snooze" the reminder by changing its due date to tomorrow.
	+ &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Edit the reminders title and body in Alfred's Text View.
	  The first line is the reminder's title, the remaining lines the notes.
	+ &lt;kbd&gt;⌃⏎&lt;/kbd&gt;: Display completed reminders due today as well. Using
	  &lt;kbd&gt;⏎&lt;/kbd&gt; on a completed reminder marks it as uncompleted. The other
	  modifiers work the same as with uncompleted reminders. Use &lt;kbd&gt;⌃⏎&lt;/kbd&gt;
	  once more to hide completed reminders again.
	+ &lt;kbd&gt;⌘C&lt;/kbd&gt;: Copy the reminder title &amp; notes.
	+ &lt;kbd&gt;⌘L&lt;/kbd&gt;: Display the reminder details in Large Type.
	+ &lt;kbd&gt;⌘Y&lt;/kbd&gt;: Quick Look the URL, if there is one.
- Quickly add a new reminder due today or tomorrow with the keywords `qq` and
  `qqq`, respectively.
	+ The command supports simple parsing of a due time with the format
	  `hh:mm`. For instance, `19:00 buy milk` or `buy milk 19:00` will set the
	  due time to `19:00` and the reminder title to `buy milk`.

## Credits
- Icon by [Emoopo-Design](https://macosicons.com/#/u/Emoopo-Design).
- Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>048725A0-DB75-4146-B66B-8947B03863C8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>0F93036F-D158-49BB-97AF-DE600B8A3300</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>add reminder</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>1486415C-BA88-4276-A021-3773113CAF94</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>1F28B1D0-95DD-4F7F-BB2A-018A98C5743B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Toggle completed status</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>23ED3685-8AA0-4314-A16F-F7D8A0D01A70</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>45E222F3-9910-4038-AA60-1ABC01E95D81</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>select reminder</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>49BE57F4-670B-4713-B036-981025E334C9</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4B7ABAED-E5E5-4949-A518-B14FDEAE9F6E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>only if task is not completed already</string>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>519B050E-E040-4E66-ADFC-D2784865F13B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>→ show again, toggling whether to show completed reminders</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>5B4E3523-E2C7-4E39-87C0-D157AC551A91</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>5E6BB902-56B8-4291-8181-8D015E7F0A0D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>5FF59D05-FE74-43DD-9589-1CFF471C8A6A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>62BBC8B8-CAF7-4036-9E0A-5CDB14399501</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>show completed?</string>
			<key>xpos</key>
			<real>583</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>6DBE7C33-DE4C-4B1D-8831-E8F02E6FB3D6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>7620DB33-1A59-45FB-9FE1-CF7502A1EE80</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>76767F1C-52B8-425C-8621-F7E67C523434</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS

to set a hotkey to show reminders due today</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>A6117B6C-7738-4FC1-8297-B72F0FEEB9CC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>A915081B-4FBF-46B4-8B5E-AF3C2282A034</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>keep open?</string>
			<key>xpos</key>
			<real>988</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>BC59BB81-9433-4E89-8ACA-3C201EB676F6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>edit title &amp; notes</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BD7716E2-05C1-4CD2-9B1C-5FD044289103</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>quick add today</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>D39A1AFE-3A07-40A3-BCD6-FE4A721D8959</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>DA53DB8C-C97B-4594-A26E-0875AB96D262</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>update sketchybar reminders count</string>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>E4273F65-2A88-4E80-A7A9-4828E475C54F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>E9FBABB7-D7D0-4EF6-A0F8-BC9B2124CB77</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Snooze</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>F282F9C0-5F8C-4504-889D-6F7B1B1A0CFA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>quick add tomorrow</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>MyList</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List name in Reminders.app. The workflow only displays reminders from this list, and new reminders are added to this list.</string>
			<key>label</key>
			<string>Main list</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>reminder_list</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>include reminders from all lists</string>
			</dict>
			<key>description</key>
			<string>If enabled, the main list is only used for adding new reminders.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_all_lists</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>include reminders with no due date</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_no_duedate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rem</string>
				<key>placeholder</key>
				<string>rem</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>show reminders due today</string>
			<key>label</key>
			<string>Keywords</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>select_reminder_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qq</string>
				<key>placeholder</key>
				<string>qq</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>quick add new reminder due today</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>quickadd_today_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qqq</string>
				<key>placeholder</key>
				<string>qqq</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>quick add new reminder due tomorrow</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>quickadd_tomorrow_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Sketchybar users: Name of the trigger to update a menubar component. Leave empty to disable.</string>
			<key>label</key>
			<string>Sketchybar trigger</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>sketchybar_trigger_name</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.7.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
