<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>include_no_duedate</key>
	<true/>
	<key>quickadd_today_keyword</key>
	<string>,</string>
	<key>quickadd_tomorrow_keyword</key>
	<string>,,</string>
	<key>reminder_list</key>
	<string>Tasks</string>
	<key>select_reminder_keyword</key>
	<string>|</string>
	<key>show_events</key>
	<true/>
	<key>sketchybar_trigger_name</key>
	<string>update_reminder_count</string>
</dict>
</plist>
