<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.dark-mode-toggle</string>
	<key>category</key>
	<string>Tweaks</string>
	<key>connections</key>
	<dict>
		<key>419C3BB1-4F7F-46AE-9685-0D53BFB091B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BC396F3-80B7-4E93-8FE8-0285BD25B53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BC396F3-80B7-4E93-8FE8-0285BD25B53A</key>
		<array/>
		<key>DDB63880-A3F4-4349-9D72-7863515C4FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BC396F3-80B7-4E93-8FE8-0285BD25B53A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dark Mode Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>toggle-dark-mode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>419C3BB1-4F7F-46AE-9685-0D53BFB091B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Google Chrome"
	
	--Variables
	set windowlist to every window
	set totaltabcount to 0
	
	-- Loop through each window to count the number of open tabs
	repeat with chromewindow in windowlist
		try
			set tabcount to number of tabs in chromewindow
			set totaltabcount to totaltabcount + tabcount
		on error errmsg
			-- log "error message: " &amp; errmsg
		end try
	end repeat
	
	log "There are " &amp; totaltabcount &amp; " Chrome tabs open."
	
end tell


tell application "Brave Browser"
	open location "https://obsidian.md/"
	repeat until (loading of active tab of front window is false)
		delay 0.1
	end repeat
end tell

tell application "System Events"	tell appearance preferences to set dark mode to not dark modeend tell

# close tab again
delay 1
tell application "Brave Browser" to close active tab of front window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-darkmode_[Browser].applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BC396F3-80B7-4E93-8FE8-0285BD25B53A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DDB63880-A3F4-4349-9D72-7863515C4FFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple one-liner terminal script that toggles Dark Mode on/off if you are using MacOS 10.14 (Mojave) and beyond.</string>
	<key>uidata</key>
	<dict>
		<key>419C3BB1-4F7F-46AE-9685-0D53BFB091B0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>8BC396F3-80B7-4E93-8FE8-0285BD25B53A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>DDB63880-A3F4-4349-9D72-7863515C4FFA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>🌗</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
