<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.spotify-addons</string>
	<key>category</key>
	<string>Mini-Apps</string>
	<key>connections</key>
	<dict>
		<key>0C89E83F-2EBC-475C-868A-BDF5E26BF097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71AC5D27-C12D-41D2-99F5-2B9A022CF515</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14DF7AF2-4381-4FFD-BAD2-E76C91A4FBF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22ED7F25-1811-4D53-B573-08763B579D8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D4EED54-9514-43EC-9BC4-7A8A6B03907C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28E7073C-2779-46C7-A8E3-007F46FC376A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EDA82D8-DEB1-4151-8DC5-F51794B6E2FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6EB3AB5-9048-465D-AF65-48C51D047CC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22ED7F25-1811-4D53-B573-08763B579D8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B1175BD-0707-4517-9567-84A63DE1C1AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>263DA679-0602-45FE-A0A6-45AEFAB74FDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6EB3AB5-9048-465D-AF65-48C51D047CC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D4802D1-DB08-492C-8D46-37AE57634698</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D69744D0-59D4-43A8-B8ED-F169B139B10D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EAD1602-867E-4E58-82D9-9EC255346B4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FD0DFFE-0E3F-4396-8B1E-AE93C7195657</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73BD8961-0B9D-42B7-8B23-EDAEBD6949DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D298F04-C550-4AD1-95C9-88273CDCBBA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76A5622F-175B-4AB2-8D64-41B97D60EEE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C3CBE4E-BA83-4598-9531-B390A98E875F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B531A14-88BF-44C0-B14F-371CF58903CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09264DB4-F9F0-4B1A-BDFE-A4D02F0B6AA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0FE43DC-98A7-4B5C-A2DA-AEE17890B84F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90D4F965-FAE3-433E-A668-A1406C49F49A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2CA2F4B-949B-4449-9F4E-F3BC94025B9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38642B1F-2C61-4D93-8CD7-BC811CB520F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A61354DB-E524-4D0E-A28B-8AAC9523262F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EF193F5-A2E3-4A49-BA7A-F70313BF2B27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6733E74-1E2D-4FA3-AA49-51270C6535A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>484D582A-1C0A-48F2-9E2B-F420CF406112</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD3DCD06-0285-4282-BA32-689DC26CE0A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EAD1602-867E-4E58-82D9-9EC255346B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5AC5BFC-5A20-4889-A13A-64CB0B963807</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58CDB79-883E-4C3D-AA17-82C11656208F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>requires Karabiner elements</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify Addons &amp; Keyboard Remapping</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>100</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F8</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A2CA2F4B-949B-4449-9F4E-F3BC94025B9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_current_track</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8EF193F5-A2E3-4A49-BA7A-F70313BF2B27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>current</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Information on Current Playback</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A61354DB-E524-4D0E-A28B-8AAC9523262F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_connect</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>38642B1F-2C61-4D93-8CD7-BC811CB520F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B6733E74-1E2D-4FA3-AA49-51270C6535A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>shuffle</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>484D582A-1C0A-48F2-9E2B-F420CF406112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_search_online</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>09264DB4-F9F0-4B1A-BDFE-A4D02F0B6AA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>song</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Song: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B531A14-88BF-44C0-B14F-371CF58903CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add_current_track_to_your_music</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4C3CBE4E-BA83-4598-9531-B390A98E875F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>100</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>F8</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>14DF7AF2-4381-4FFD-BAD2-E76C91A4FBF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>118</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>76A5622F-175B-4AB2-8D64-41B97D60EEE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>spot_mini</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9B1175BD-0707-4517-9567-84A63DE1C1AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>✧Playlist▹{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>22ED7F25-1811-4D53-B573-08763B579D8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>spotify</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browse</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5AC5BFC-5A20-4889-A13A-64CB0B963807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://open.spotify.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E58CDB79-883E-4C3D-AA17-82C11656208F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>100</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F8</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A0FE43DC-98A7-4B5C-A2DA-AEE17890B84F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>playpause</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>90D4F965-FAE3-433E-A668-A1406C49F49A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>98</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>73BD8961-0B9D-42B7-8B23-EDAEBD6949DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>previous</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1D298F04-C550-4AD1-95C9-88273CDCBBA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>podcasts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcasts</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1EDA82D8-DEB1-4151-8DC5-F51794B6E2FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>101</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0C89E83F-2EBC-475C-868A-BDF5E26BF097</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>next</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>71AC5D27-C12D-41D2-99F5-2B9A022CF515</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_shows</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D6EB3AB5-9048-465D-AF65-48C51D047CC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>shows</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcasts</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>263DA679-0602-45FE-A0A6-45AEFAB74FDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>spot_mini</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1FD0DFFE-0E3F-4396-8B1E-AE93C7195657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pod</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcast: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD3DCD06-0285-4282-BA32-689DC26CE0A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Search Shows Online▹{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6EAD1602-867E-4E58-82D9-9EC255346B4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://open.spotify.com/search/{query}/shows</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>28E7073C-2779-46C7-A8E3-007F46FC376A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pod</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Podcast on Spotify: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D4EED54-9514-43EC-9BC4-7A8A6B03907C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>refresh_library</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vdesabou.spotify.mini.player</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D69744D0-59D4-43A8-B8ED-F169B139B10D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>refresh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh Spotify Playlists</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D4802D1-DB08-492C-8D46-37AE57634698</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>09264DB4-F9F0-4B1A-BDFE-A4D02F0B6AA9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>0C89E83F-2EBC-475C-868A-BDF5E26BF097</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>⏭</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>14DF7AF2-4381-4FFD-BAD2-E76C91A4FBF2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Play Playlist</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>1D298F04-C550-4AD1-95C9-88273CDCBBA9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>1D4EED54-9514-43EC-9BC4-7A8A6B03907C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>1EDA82D8-DEB1-4151-8DC5-F51794B6E2FE</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>1FD0DFFE-0E3F-4396-8B1E-AE93C7195657</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>22ED7F25-1811-4D53-B573-08763B579D8B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>263DA679-0602-45FE-A0A6-45AEFAB74FDD</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>28E7073C-2779-46C7-A8E3-007F46FC376A</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>2D4802D1-DB08-492C-8D46-37AE57634698</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>38642B1F-2C61-4D93-8CD7-BC811CB520F0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>484D582A-1C0A-48F2-9E2B-F420CF406112</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4C3CBE4E-BA83-4598-9531-B390A98E875F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>6EAD1602-867E-4E58-82D9-9EC255346B4D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>71AC5D27-C12D-41D2-99F5-2B9A022CF515</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>73BD8961-0B9D-42B7-8B23-EDAEBD6949DF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>⏮</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>76A5622F-175B-4AB2-8D64-41B97D60EEE5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>💚</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>8EF193F5-A2E3-4A49-BA7A-F70313BF2B27</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>90D4F965-FAE3-433E-A668-A1406C49F49A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>9B1175BD-0707-4517-9567-84A63DE1C1AD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>9B531A14-88BF-44C0-B14F-371CF58903CB</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>A0FE43DC-98A7-4B5C-A2DA-AEE17890B84F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>⏯</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>A2CA2F4B-949B-4449-9F4E-F3BC94025B9C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>🔊</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A61354DB-E524-4D0E-A28B-8AAC9523262F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B6733E74-1E2D-4FA3-AA49-51270C6535A7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>🔀</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>CD3DCD06-0285-4282-BA32-689DC26CE0A9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Search Podcasts</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>D69744D0-59D4-43A8-B8ED-F169B139B10D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>D6EB3AB5-9048-465D-AF65-48C51D047CC0</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>E58CDB79-883E-4C3D-AA17-82C11656208F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>F5AC5BFC-5A20-4889-A13A-64CB0B963807</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
