<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackett.alfred.gifphysearch</string>
	<key>connections</key>
	<dict>
		<key>A00B17CA-281A-4115-87D1-45432ACF9E42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FE2CB40-7F55-4E83-B52F-69E5EA5EDEA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Hackett</string>
	<key>description</key>
	<string>Search Giphy from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Giphy Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>GIFs on Giphy tagged '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A00B17CA-281A-4115-87D1-45432ACF9E42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>search=$(echo "{query}" | sed 's/ /-/g')
open "http://giphy.com/search/${search}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1FE2CB40-7F55-4E83-B52F-69E5EA5EDEA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search Giphy from Alfred.</string>
	<key>uidata</key>
	<dict>
		<key>1FE2CB40-7F55-4E83-B52F-69E5EA5EDEA1</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A00B17CA-281A-4115-87D1-45432ACF9E42</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://512pixels.net</string>
</dict>
</plist>
