<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.snippet-search</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0C81ADD1-1180-403C-BAA1-3B6FCB2D0826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D60594A5-78F0-410C-BF4B-A57FA6179545</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open URL in snippet description</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DF1D6A0-6590-4132-9ADD-521CFA7EE92C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81E13F5F-2CB4-4393-93E9-85601627DF28</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Snippet</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DF1D6A0-6590-4132-9ADD-521CFA7EE92C</key>
		<array/>
		<key>81E13F5F-2CB4-4393-93E9-85601627DF28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DF10EDE-C71E-46AC-B726-8DB96773729B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Searches your won directory of VS-Code-like Snippets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code Snippet Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D60594A5-78F0-410C-BF4B-A57FA6179545</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-snippet-at-line.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DF1D6A0-6590-4132-9ADD-521CFA7EE92C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>snip</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-my-snippets.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>My Snippets</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C81ADD1-1180-403C-BAA1-3B6FCB2D0826</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>81E13F5F-2CB4-4393-93E9-85601627DF28</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋  Copied Snippet</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9DF10EDE-C71E-46AC-B726-8DB96773729B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0C81ADD1-1180-403C-BAA1-3B6FCB2D0826</key>
		<dict>
			<key>note</key>
			<string>snippet search</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>0DF1D6A0-6590-4132-9ADD-521CFA7EE92C</key>
		<dict>
			<key>note</key>
			<string>open at line</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>81E13F5F-2CB4-4393-93E9-85601627DF28</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>9DF10EDE-C71E-46AC-B726-8DB96773729B</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>D60594A5-78F0-410C-BF4B-A57FA6179545</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Folder containing VS-Code Style Snippets</string>
			<key>label</key>
			<string>Snippet Directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>snippetDir</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
