<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.calendars-and-reminders</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>485E7A2E-C92D-40B0-B531-F81569A851EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6B9DEBE-EEA7-4350-9C89-B6870A9BAF44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76E1AACF-EF35-4FD7-B856-1E5CF0CD9583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283D0A7E-38AF-4925-914D-2CD9B91BF86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83689A66-B839-474D-BC92-BED2781518F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99232981-13A1-4EF3-8C1F-0D82787913DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87BFEDC0-1C8A-4E29-85AA-D54B51D22C6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE19AE4D-98F7-4938-A3AC-1178A0C638A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A231C332-4D05-4B0D-9FFB-0C8B95A71526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE19AE4D-98F7-4938-A3AC-1178A0C638A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6B9DEBE-EEA7-4350-9C89-B6870A9BAF44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76E1AACF-EF35-4FD7-B856-1E5CF0CD9583</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E39AA7E2-C43C-4D6C-B9B5-457E5B2E9F4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83689A66-B839-474D-BC92-BED2781518F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calendar &amp; Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-to-shopping-list.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76E1AACF-EF35-4FD7-B856-1E5CF0CD9583</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ein</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to shopping list: "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>485E7A2E-C92D-40B0-B531-F81569A851EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🛒 Added to Shopping List</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>283D0A7E-38AF-4925-914D-2CD9B91BF86A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B6B9DEBE-EEA7-4350-9C89-B6870A9BAF44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/add-to-calendar.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE19AE4D-98F7-4938-A3AC-1178A0C638A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string>supports natural language for date-time</string>
				<key>text</key>
				<string>New event: "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87BFEDC0-1C8A-4E29-85AA-D54B51D22C6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Add event</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>A231C332-4D05-4B0D-9FFB-0C8B95A71526</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Emojify reminders</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>99232981-13A1-4EF3-8C1F-0D82787913DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E39AA7E2-C43C-4D6C-B9B5-457E5B2E9F4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/.config/hammerspoon/system/cronjobs/daily/emojify-reminders.swift</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83689A66-B839-474D-BC92-BED2781518F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Get PLACEHOLDER the `KEYWORD` keyword.
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the page in the browser.
- &lt;kbd&gt;⌥⏎&lt;/kbd&gt; copy the page URL.

---

#### Workflow created by [Chris Grieser](https://chris-grieser.de/)</string>
	<key>uidata</key>
	<dict>
		<key>283D0A7E-38AF-4925-914D-2CD9B91BF86A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>485E7A2E-C92D-40B0-B531-F81569A851EA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>add to shopping list</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>76E1AACF-EF35-4FD7-B856-1E5CF0CD9583</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>83689A66-B839-474D-BC92-BED2781518F0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>87BFEDC0-1C8A-4E29-85AA-D54B51D22C6F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>99232981-13A1-4EF3-8C1F-0D82787913DA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>A231C332-4D05-4B0D-9FFB-0C8B95A71526</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>B6B9DEBE-EEA7-4350-9C89-B6870A9BAF44</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>E39AA7E2-C43C-4D6C-B9B5-457E5B2E9F4E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>emojify reminders</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>FE19AE4D-98F7-4938-A3AC-1178A0C638A4</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
