<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.calendars-and-reminders</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>20271AD9-0EEA-4974-8C14-15ACBF7A48E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65273B8B-813B-4F3B-BBFA-C41039170683</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E6193F3-2424-4AF9-94D6-A64C758518FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0417DA2B-8E46-4348-9211-EC03C5AB563C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62ED7765-D475-43A5-B75A-9877C34F2423</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0417DA2B-8E46-4348-9211-EC03C5AB563C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65273B8B-813B-4F3B-BBFA-C41039170683</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3DA3277-BB54-4ABE-8029-E88E025FCB49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3DA3277-BB54-4ABE-8029-E88E025FCB49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4E66EF-60F9-4B4E-9C6A-2711AFC2FA70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calendars &amp; Reminders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/add-to-shopping-list.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3DA3277-BB54-4ABE-8029-E88E025FCB49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🛒 Added to Shopping List</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7F4E66EF-60F9-4B4E-9C6A-2711AFC2FA70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ein</string>
				<key>subtext</key>
				<string>{var:shopping_list}</string>
				<key>text</key>
				<string>Add to list: "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20271AD9-0EEA-4974-8C14-15ACBF7A48E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>65273B8B-813B-4F3B-BBFA-C41039170683</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/add-to-calendar.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0417DA2B-8E46-4348-9211-EC03C5AB563C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string>supports natural language for date-time</string>
				<key>text</key>
				<string>New event: "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62ED7765-D475-43A5-B75A-9877C34F2423</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Add event</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4E6193F3-2424-4AF9-94D6-A64C758518FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0417DA2B-8E46-4348-9211-EC03C5AB563C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>20271AD9-0EEA-4974-8C14-15ACBF7A48E8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>add item to shopping list</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4E6193F3-2424-4AF9-94D6-A64C758518FB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>62ED7765-D475-43A5-B75A-9877C34F2423</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>add event to iCal</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>65273B8B-813B-4F3B-BBFA-C41039170683</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>7F4E66EF-60F9-4B4E-9C6A-2711AFC2FA70</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C3DA3277-BB54-4ABE-8029-E88E025FCB49</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>shopping</string>
				<key>placeholder</key>
				<string>shopping</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Shopping list</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>shopping_list</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en-US</string>
				<key>pairs</key>
				<array>
					<array>
						<string>en-US</string>
						<string>en-US</string>
					</array>
					<array>
						<string>de-DE</string>
						<string>de-DE</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>date locale</string>
			<key>label</key>
			<string>Weekly Date Inserter</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>date_locale</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>enclose date in brackets</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>in_brackets</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>add line break</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>line_break_after</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Berlin</string>
						<string>be</string>
					</array>
					<array>
						<string>disable</string>
						<string></string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>German Bundesland for holidays</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>bundesland_feiertage</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
