<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.tot</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09983247-5108-4A1F-A658-4A8F022B1B05</key>
		<array/>
		<key>171481C4-C600-4B58-8D5A-D0575E5EE9AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5998C8C-695A-4A5C-B99D-391E1E73A978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB0E4D69-62CC-406D-8229-0E6B10CEEFCE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>778D7E9A-C113-4942-BC74-276C19AF6F0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>350AF0AB-06E8-4B5B-A125-82C2F380674C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DE7C88F-9CE4-42C3-B9D8-6FA01F25AFCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DBCAC53-D043-40E5-8BC7-17331F0676DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD1918EE-9F7F-4E6B-B4F1-4E4B5AE7263E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E08FF65-F031-447F-B9F6-47F8F507D79B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4A2BC6-9813-4591-BB9F-003519C0625B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49540ED2-DEDB-41DB-BF6B-FED0EB398A81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9823AB02-76C7-4449-9650-B778A002121E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Append to Tot</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>171481C4-C600-4B58-8D5A-D0575E5EE9AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Tot</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DE6C12A-AD83-445A-BE00-709A9B916DFB</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Delete Tot</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778D7E9A-C113-4942-BC74-276C19AF6F0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9823AB02-76C7-4449-9650-B778A002121E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1792DAF-7AA2-4C55-989C-8760D521EBAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DE7C88F-9CE4-42C3-B9D8-6FA01F25AFCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC097D95-8358-4EE7-B32D-FF2576B26087</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB4A2BC6-9813-4591-BB9F-003519C0625B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D0F69D4-63EF-4243-B6C5-BFFE927169A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E46E8809-57A1-4476-9A05-35F53EC4D16B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD1918EE-9F7F-4E6B-B4F1-4E4B5AE7263E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09983247-5108-4A1F-A658-4A8F022B1B05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>68CDCF97-F1F0-447D-9B01-8DDDF01FE0C3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E08FF65-F031-447F-B9F6-47F8F507D79B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F0D7A81E-E2BF-4692-AE88-05F7D6110593</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E08FF65-F031-447F-B9F6-47F8F507D79B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>20C14D1D-7C29-411D-B1C4-0748C8B6E6AF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB4A2BC6-9813-4591-BB9F-003519C0625B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5998C8C-695A-4A5C-B99D-391E1E73A978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1792DAF-7AA2-4C55-989C-8760D521EBAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E46E8809-57A1-4476-9A05-35F53EC4D16B</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Append: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9823AB02-76C7-4449-9650-B778A002121E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/append-to-tot.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1792DAF-7AA2-4C55-989C-8760D521EBAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5998C8C-695A-4A5C-B99D-391E1E73A978</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>,</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/tot-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49540ED2-DEDB-41DB-BF6B-FED0EB398A81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>BB0E4D69-62CC-406D-8229-0E6B10CEEFCE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>171481C4-C600-4B58-8D5A-D0575E5EE9AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tot://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>778D7E9A-C113-4942-BC74-276C19AF6F0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>tot://7/append?text={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC097D95-8358-4EE7-B32D-FF2576B26087</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9DE7C88F-9CE4-42C3-B9D8-6FA01F25AFCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge8043a</string>
				</array>
				<key>name</key>
				<string>Save as last Tot 🟢</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>350AF0AB-06E8-4B5B-A125-82C2F380674C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/delete-tot.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DE6C12A-AD83-445A-BE00-709A9B916DFB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ No selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09983247-5108-4A1F-A658-4A8F022B1B05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>other: no sel</string>
						<key>uid</key>
						<string>68CDCF97-F1F0-447D-9B01-8DDDF01FE0C3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.Safari</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>F0D7A81E-E2BF-4692-AE88-05F7D6110593</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.brave.Browser</string>
						<key>outputlabel</key>
						<string>Brave</string>
						<key>uid</key>
						<string>20C14D1D-7C29-411D-B1C4-0748C8B6E6AF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other: sel</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BD1918EE-9F7F-4E6B-B4F1-4E4B5AE7263E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.iconfactory.Tot</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3DBCAC53-D043-40E5-8BC7-17331F0676DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"	return the URL of active tab of front windowend tell

-- funktioniert auch mit der Youtube Webapp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/get-url-from-browser.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E08FF65-F031-447F-B9F6-47F8F507D79B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Appended</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2D0F69D4-63EF-4243-B6C5-BFFE927169A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/append-to-tot.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E46E8809-57A1-4476-9A05-35F53EC4D16B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>
{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>dot</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BB4A2BC6-9813-4591-BB9F-003519C0625B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>05C47DFA-6E22-4EA4-A341-99651AEBD5AD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>09983247-5108-4A1F-A658-4A8F022B1B05</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>171481C4-C600-4B58-8D5A-D0575E5EE9AA</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>empty</string>
			<key>xpos</key>
			<real>326</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>2D0F69D4-63EF-4243-B6C5-BFFE927169A3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>3396F88B-AD4F-41F0-9FA7-ED8173F325FF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>350AF0AB-06E8-4B5B-A125-82C2F380674C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>3DBCAC53-D043-40E5-8BC7-17331F0676DA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>save selection/tab as Tot</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>3E08FF65-F031-447F-B9F6-47F8F507D79B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>get Browser URL</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>49540ED2-DEDB-41DB-BF6B-FED0EB398A81</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Search / Open tot</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>778D7E9A-C113-4942-BC74-276C19AF6F0F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>open</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>8DE6C12A-AD83-445A-BE00-709A9B916DFB</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>delete</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>91D75681-FC5E-4D31-9FE2-FF0C89B5F5C1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>9823AB02-76C7-4449-9650-B778A002121E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>9DE7C88F-9CE4-42C3-B9D8-6FA01F25AFCB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>B1792DAF-7AA2-4C55-989C-8760D521EBAE</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>append</string>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>BB4A2BC6-9813-4591-BB9F-003519C0625B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>select tot 1</string>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>945</real>
		</dict>
		<key>BD1918EE-9F7F-4E6B-B4F1-4E4B5AE7263E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>C5998C8C-695A-4A5C-B99D-391E1E73A978</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E46E8809-57A1-4476-9A05-35F53EC4D16B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>append</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>FC097D95-8358-4EE7-B32D-FF2576B26087</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>🟡,🟠,🔴,🟣,🔵,⚪,🟢</string>
				<key>placeholder</key>
				<string>🟡,🟠,🔴,🟣,🔵,⚪,🟢</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>For users who changed their tot theme, you can specify a comma-separated list of 7 emojis used to indicate your custom tot colors.</string>
			<key>label</key>
			<string>tot colors</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>tot_icons</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
