<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.twitter</string>
	<key>connections</key>
	<dict>
		<key>C687C732-9679-4E3E-B708-011521B6C7EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E225BCE0-EFEF-475A-9D6D-B5AE77ED9B4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E225BCE0-EFEF-475A-9D6D-B5AE77ED9B4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A32A67BC-5E10-43F4-A0D3-00A67CC83538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>04E666CA-5586-4079-A56A-FA2D24B60973</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EA03BEF-8E54-46C3-8336-4AB6D9A202FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Twitter Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>twitter-link-opener.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A32A67BC-5E10-43F4-A0D3-00A67CC83538</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string>Open Link</string>
				<key>text</key>
				<string>{query}th Tweet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C687C732-9679-4E3E-B708-011521B6C7EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>04E666CA-5586-4079-A56A-FA2D24B60973</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E225BCE0-EFEF-475A-9D6D-B5AE77ED9B4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>❌ Not a number</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5EA03BEF-8E54-46C3-8336-4AB6D9A202FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>5EA03BEF-8E54-46C3-8336-4AB6D9A202FE</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>A32A67BC-5E10-43F4-A0D3-00A67CC83538</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C687C732-9679-4E3E-B708-011521B6C7EF</key>
		<dict>
			<key>note</key>
			<string>open tweet</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>E225BCE0-EFEF-475A-9D6D-B5AE77ED9B4C</key>
		<dict>
			<key>note</key>
			<string>number</string>
			<key>xpos</key>
			<real>236</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
