<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.youtube-dl</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>4BB7EB66-3B32-4A5D-94C3-A12BBF4A55FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<array/>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5EF7576-C0F8-4860-A10D-27678D48B51A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5716CA0D-01FB-4FD1-AF7F-7E87C3325C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>746B45DE-747C-42A1-80B8-EA0C0D295DF9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCFB402E-C80D-4E73-B298-0A4D03E51617</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5EF7576-C0F8-4860-A10D-27678D48B51A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube Download</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>subtext</key>
				<string>Current {var:browser_app} tab</string>
				<key>text</key>
				<string>🕔 Watch Later</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>548C7E00-D279-4BFE-B4CB-4F94C970637F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/watch-later.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>watch-later</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4BB7EB66-3B32-4A5D-94C3-A12BBF4A55FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl</string>
				<key>subtext</key>
				<string>Current {var:browser_app} tab</string>
				<key>text</key>
				<string>⬇️ Download with yt-dlp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/ydl.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>5716CA0D-01FB-4FD1-AF7F-7E87C3325C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>not empty</string>
						<key>uid</key>
						<string>746B45DE-747C-42A1-80B8-EA0C0D295DF9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A5EF7576-C0F8-4860-A10D-27678D48B51A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>download-video</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CCFB402E-C80D-4E73-B298-0A4D03E51617</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Requirements
- `brew install yt-dlp`


### Supported Sites
- https://ytdl-org.github.io/youtube-dl/supportedsites.html

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>4BB7EB66-3B32-4A5D-94C3-A12BBF4A55FC</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>5716CA0D-01FB-4FD1-AF7F-7E87C3325C54</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>errors only</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>save .url linking to youtube with thumbnail</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>A5EF7576-C0F8-4860-A10D-27678D48B51A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>if not empty</string>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>CCFB402E-C80D-4E73-B298-0A4D03E51617</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>download video</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Downloads</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Where Watch-Later links are saved</string>
			<key>label</key>
			<string>Watch-Later folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>youtube_link_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Downloads</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Takes priority over `--paths="home:…"` in the yt-dlp config.</string>
			<key>label</key>
			<string>Download folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>download_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Brave Browser</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Brave Browser</string>
						<string>Brave Browser</string>
					</array>
					<array>
						<string>Google Chrome</string>
						<string>Google Chrome</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Browser</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser_app</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
