<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.youtube-dl</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7716DBE-2C15-46FC-A1E7-1A722EA60267</key>
		<array/>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>requires $BROWSER_APP environment variable in `.zshenv`</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube Download</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🕔 Watch Later</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>548C7E00-D279-4BFE-B4CB-4F94C970637F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/watch-later.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>youtube-video-save</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl</string>
				<key>subtext</key>
				<string>Browser tab</string>
				<key>text</key>
				<string>⬇️ Download with youtube-dl</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/ydl.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>youtube-dl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Requirements
- [yt-dlp](https://github.com/yt-dlp/yt-dlp)
- [fileicon](https://github.com/mklement0/fileicon)
- requires $BROWSER_APP environment variable in `.zshenv`


### Supported Sites
- https://ytdl-org.github.io/youtube-dl/supportedsites.html

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>save bookmark with image</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>C7716DBE-2C15-46FC-A1E7-1A722EA60267</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Downloads</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Where Videos will be downloaded</string>
			<key>label</key>
			<string>Download Location</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>download_location</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Downloads</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Where Watch Later Links will be stored</string>
			<key>label</key>
			<string>Watch Later Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>youtube_link_folder</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
