<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.youtube-dl</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B268CB5-D72B-4280-8EC7-820859701FDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B268CB5-D72B-4280-8EC7-820859701FDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66AE3F35-B1A8-4065-90F8-C963E53500E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B06046A-148C-4F17-B241-C48299B1D2F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>651E4EB7-5F03-42F1-9130-6F3D6997E3D6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7716DBE-2C15-46FC-A1E7-1A722EA60267</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66AE3F35-B1A8-4065-90F8-C963E53500E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube: Download &amp; Watch later</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>title=`curl -s "{query}" | grep -o "&lt;title&gt;[^&lt;]*" | cut -d'&gt;' -f2- | sed -E 's/\:/-/g' `

echo -n "$title"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>watch-later.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77FF34ED-C1A2-4866-B205-06B792B3975B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>🎞 Youtube Link saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4B06046A-148C-4F17-B241-C48299B1D2F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get-url-from-browser.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>youtube-video-save</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B268CB5-D72B-4280-8EC7-820859701FDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🕔 Watch Later</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>548C7E00-D279-4BFE-B4CB-4F94C970637F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https?.*youtu.*</string>
						<key>outputlabel</key>
						<string>Youtube Link</string>
						<key>uid</key>
						<string>651E4EB7-5F03-42F1-9130-6F3D6997E3D6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⛔️ Not a YouTube Link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ydl</string>
				<key>subtext</key>
				<string>Browser tab</string>
				<key>text</key>
				<string>⬇️ Download with youtube-dl</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser" to return URL of active tab of front window</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>ydl.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>youtube-dl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C7716DBE-2C15-46FC-A1E7-1A722EA60267</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*finished.*</string>
						<key>outputlabel</key>
						<string>-</string>
						<key>uid</key>
						<string>B13FDA78-F912-4379-8044-815D8730371F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>66AE3F35-B1A8-4065-90F8-C963E53500E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).

https://github.com/ytdl-org/youtube-dl
https://ytdl-org.github.io/youtube-dl/supportedsites.html</string>
	<key>uidata</key>
	<dict>
		<key>4B06046A-148C-4F17-B241-C48299B1D2F1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>548C7E00-D279-4BFE-B4CB-4F94C970637F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>5B268CB5-D72B-4280-8EC7-820859701FDE</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>get Browser URL</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>66AE3F35-B1A8-4065-90F8-C963E53500E3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>77FF34ED-C1A2-4866-B205-06B792B3975B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>save bookmark with image</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>7EC8C18F-E353-4A93-9F40-FDB4C9531D57</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>802A4E01-7BC2-4D33-AE03-CA4171F5CEE7</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>C0034F9D-C3AB-45C4-B7FD-F2DF921E9D5C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>C7716DBE-2C15-46FC-A1E7-1A722EA60267</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>E1E42FAB-DEA5-479C-90B3-1B2A03B28BBF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>F30AA24D-259D-4D2C-80C9-06B5EA576F7C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>download_location</key>
		<string>~/RomComs/-new</string>
		<key>working_directory</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/File Hub/</string>
		<key>youtube_link_folder</key>
		<string>~/Downloaded</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youtube_link_folder</string>
		<string>download_location</string>
		<string>working_directory</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
