<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.mtg-search</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>033E15E9-9630-4D79-B031-EE8F0CEE6C63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F91AEB7D-3B89-45E5-9787-B04C0AF03C46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0ED04EDE-8208-4421-A966-60E07D5C6DD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>033E15E9-9630-4D79-B031-EE8F0CEE6C63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BFF5652-FDE1-4D0A-A3B2-259210C8DDDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F6464BE-8E3C-4BC7-BBF0-9C914AAED379</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BD99ED3-7319-434E-BAE0-BFD07191622C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB8A889D-A1A3-4100-8CE8-BDFFF0AD9206</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F97F23A-88E5-4989-99F1-924AF2DACF3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C76BA2C6-B4C1-4F40-9545-E63E0263FD3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E4A42EE-5667-4DDF-AB03-35310ED40D63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28EE6501-5F14-4E44-AD05-B2B2720A4DA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACBECE87-2E63-42E7-980A-06E987B77635</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E4A42EE-5667-4DDF-AB03-35310ED40D63</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Scryfall URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4BD99ED3-7319-434E-BAE0-BFD07191622C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open on {var:market}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB8A889D-A1A3-4100-8CE8-BDFFF0AD9206</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BFF5652-FDE1-4D0A-A3B2-259210C8DDDD</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy card image</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C76BA2C6-B4C1-4F40-9545-E63E0263FD3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC856733-C498-40D0-81FD-B25BD95B9D2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC856733-C498-40D0-81FD-B25BD95B9D2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ED04EDE-8208-4421-A966-60E07D5C6DD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>46F9E12E-16F5-4B4B-AF7E-AA0782835514</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BF753F7-810C-4B51-8046-50E2B9FF28BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F91AEB7D-3B89-45E5-9787-B04C0AF03C46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BF753F7-810C-4B51-8046-50E2B9FF28BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search for MtG cards on Scryfall</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MtG Card Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7E4A42EE-5667-4DDF-AB03-35310ED40D63</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>28EE6501-5F14-4E44-AD05-B2B2720A4DA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4BD99ED3-7319-434E-BAE0-BFD07191622C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AB8A889D-A1A3-4100-8CE8-BDFFF0AD9206</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mtg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/mtg-card-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ACBECE87-2E63-42E7-980A-06E987B77635</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/copy-image.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BFF5652-FDE1-4D0A-A3B2-259210C8DDDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:cardname}</string>
				<key>title</key>
				<string>🃏 Copied image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8F6464BE-8E3C-4BC7-BBF0-9C914AAED379</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>033E15E9-9630-4D79-B031-EE8F0CEE6C63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/open-at-scryfall.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F91AEB7D-3B89-45E5-9787-B04C0AF03C46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/quick-card-lookup.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C76BA2C6-B4C1-4F40-9545-E63E0263FD3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5F97F23A-88E5-4989-99F1-924AF2DACF3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>0ED04EDE-8208-4421-A966-60E07D5C6DD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2BF753F7-810C-4B51-8046-50E2B9FF28BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.png</string>
						<key>outputlabel</key>
						<string>image</string>
						<key>uid</key>
						<string>46F9E12E-16F5-4B4B-AF7E-AA0782835514</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CC856733-C498-40D0-81FD-B25BD95B9D2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Search Magic the Gathering cards via the `mtg` keyword.
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the card on Scryfall.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; copy the Scryfall URL.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; open the card on `cardmarket` or `tcgplayer`.
- &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; copy the card image to the clipboard.
- &lt;kbd&gt;⌘Y&lt;/kbd&gt; Quick Look the card image.

Use the [hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) to
quickly look up the card for currently selected text. (This requires the text to
unambiguously match a card.)
- &lt;kbd&gt;⏎&lt;/kbd&gt; open the card on Scryfall.
- &lt;kbd&gt;→&lt;/kbd&gt; and &lt;kbd&gt;←&lt;/kbd&gt; to flip between card sides (in case of a
  flippable card).

## Preview pane
It is recommended to use this workflow with
[AlfredExtraPane](https://github.com/mr-pennyworth/alfred-extra-pane) as this
provides card image previews.

## Alternative
There is a great
[alternative workflow by Vítor Galvão](https://alfred.app/workflows/vitor/mtg-card-search/)
that also searches Magic cards, and has a different feature set. You can try out
both and see which implementation of the card search you prefer.

## Credits
- Card data from [Scryfall](https://scryfall.com).
- Icons from
  [Vítor Galvão's MtG Workflow](https://alfred.app/workflows/vitor/mtg-card-search/).
- Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>033E15E9-9630-4D79-B031-EE8F0CEE6C63</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>0ED04EDE-8208-4421-A966-60E07D5C6DD0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>split image files in case of flippable card</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>28EE6501-5F14-4E44-AD05-B2B2720A4DA0</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2BF753F7-810C-4B51-8046-50E2B9FF28BA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>2BFF5652-FDE1-4D0A-A3B2-259210C8DDDD</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>copy image to clipboard</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>4BD99ED3-7319-434E-BAE0-BFD07191622C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5F97F23A-88E5-4989-99F1-924AF2DACF3E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS
to set hotkey for quick card lookup</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>7E4A42EE-5667-4DDF-AB03-35310ED40D63</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8F6464BE-8E3C-4BC7-BBF0-9C914AAED379</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>AB8A889D-A1A3-4100-8CE8-BDFFF0AD9206</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>ACBECE87-2E63-42E7-980A-06E987B77635</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C76BA2C6-B4C1-4F40-9545-E63E0263FD3C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>CC856733-C498-40D0-81FD-B25BD95B9D2D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>F91AEB7D-3B89-45E5-9787-B04C0AF03C46</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open on scryfall</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mtg</string>
				<key>placeholder</key>
				<string>mtg</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cardmarket</string>
				<key>pairs</key>
				<array>
					<array>
						<string>cardmarket (EU)</string>
						<string>cardmarket</string>
					</array>
					<array>
						<string>tcgplayer (US)</string>
						<string>tcgplayer</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Which prices to display and where to open purchase URLs.</string>
			<key>label</key>
			<string>Market</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>market</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>exclude cards exclusive to MtG Arena and MTGO</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>filter</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_paper</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>none</string>
				<key>pairs</key>
				<array>
					<array>
						<string>None</string>
						<string>none</string>
					</array>
					<array>
						<string>Standard</string>
						<string>standard</string>
					</array>
					<array>
						<string>Commander</string>
						<string>commander</string>
					</array>
					<array>
						<string>Oathbreaker</string>
						<string>oathbreaker</string>
					</array>
					<array>
						<string>Modern</string>
						<string>modern</string>
					</array>
					<array>
						<string>Pioneer</string>
						<string>pioneer</string>
					</array>
					<array>
						<string>Pauper</string>
						<string>pauper</string>
					</array>
					<array>
						<string>Penny</string>
						<string>penny</string>
					</array>
					<array>
						<string>Alchemy</string>
						<string>alchemy</string>
					</array>
					<array>
						<string>Legacy</string>
						<string>legacy</string>
					</array>
					<array>
						<string>Vintage</string>
						<string>vintage</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Display if card is illegal or banned in the selected format. ("None" shows no indicator at all.)</string>
			<key>label</key>
			<string>Legality</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>illegality_format_1</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
