<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sublimetext.io</string>
	<key>category</key>
	<string>Searches</string>
	<key>connections</key>
	<dict>
		<key>C8F3C7D2-9E14-49EC-9090-60EF5089405A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1109EF21-00FD-455E-B675-43F31E98DD34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F40115F7-112D-426C-A7CF-7DD8D361044D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1109EF21-00FD-455E-B675-43F31E98DD34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8F3C7D2-9E14-49EC-9090-60EF5089405A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open Package Homepage</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zach Schulze</string>
	<key>description</key>
	<string>Searches Package Control for Sublime</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sublime Package Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching... {query}</string>
				<key>script</key>
				<string>./pkgcontrol search "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Helps find packages for Sublime Text</string>
				<key>title</key>
				<string>Search for packages on Package Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F40115F7-112D-426C-A7CF-7DD8D361044D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1109EF21-00FD-455E-B675-43F31E98DD34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>query="{query}"

./pkgcontrol get "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8F3C7D2-9E14-49EC-9090-60EF5089405A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/TheSecEng/Alfred-PackageControl</string>
	<key>uidata</key>
	<dict>
		<key>1109EF21-00FD-455E-B675-43F31E98DD34</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>C8F3C7D2-9E14-49EC-9090-60EF5089405A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>F40115F7-112D-426C-A7CF-7DD8D361044D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Grabs the selected option and passes to the string manipulator process.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://blackanvil.io</string>
</dict>
</plist>
