<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledDefaultActions</key>
	<dict>
		<key>alfred.action.copyreplace</key>
		<true/>
		<key>alfred.action.email</key>
		<true/>
		<key>alfred.action.emailto</key>
		<true/>
		<key>alfred.action.findsimilar</key>
		<true/>
		<key>alfred.action.mixed.email</key>
		<true/>
		<key>alfred.action.mixed.emailto</key>
		<true/>
		<key>alfred.action.movereplace</key>
		<true/>
		<key>alfred.action.open</key>
		<true/>
		<key>alfred.action.openwith</key>
		<true/>
		<key>alfred.action.recent</key>
		<true/>
		<key>alfred.action.showaslargetype</key>
		<true/>
		<key>alfred.action.text.copyasplaintext</key>
		<true/>
		<key>alfred.action.text.openindictionary</key>
		<true/>
		<key>alfred.action.text.saveassnippet</key>
		<true/>
		<key>alfred.action.text.searchwithfinder</key>
		<true/>
		<key>alfred.action.text.useinalfred</key>
		<true/>
		<key>alfred.action.url.openin</key>
		<true/>
		<key>alfred.action.url.usedomainfromurl</key>
		<true/>
	</dict>
	<key>finderSelectionHotkey</key>
	<dict>
		<key>key</key>
		<integer>0</integer>
		<key>mod</key>
		<integer>1966080</integer>
		<key>string</key>
		<string>A</string>
	</dict>
	<key>showWithCtrl</key>
	<false/>
	<key>showWithFn</key>
	<false/>
	<key>showWithRightArrow</key>
	<false/>
	<key>sortByUsage</key>
	<true/>
</dict>
</plist>
