<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.reddit-browser</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>09B3D6D5-85DC-4788-B940-EDFB8EC74EE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8851C420-3E80-4797-80F1-31999E4C2F54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5852A551-EFDF-47BB-A256-13A0D3975AA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09B3D6D5-85DC-4788-B940-EDFB8EC74EE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>8851C420-3E80-4797-80F1-31999E4C2F54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7984AFF9-05D8-4F7C-AEE3-C381AA4AD6A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB3BD689-69E5-4385-8983-379774F8848E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Open Post directly</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E640FB36-75C7-4B36-A8AC-0F56468145CC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Browse next subreddit</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6887CA13-E491-46B2-9AA3-D36BEC604521</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>933340EF-3EA1-461F-A680-4D4B22FDFBA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8A93391-341E-4C2B-B16D-3E7BFE87E8D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B8A93391-341E-4C2B-B16D-3E7BFE87E8D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D96907E4-B008-4B62-AED9-1958C5D8E9A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E640FB36-75C7-4B36-A8AC-0F56468145CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3381D52B-F37A-422A-BB73-2654C0280799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB3BD689-69E5-4385-8983-379774F8848E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7984AFF9-05D8-4F7C-AEE3-C381AA4AD6A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Browse your favorite subreddits via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reddit Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7984AFF9-05D8-4F7C-AEE3-C381AA4AD6A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>EB3BD689-69E5-4385-8983-379774F8848E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/browse-subreddit.js</string>
				<key>subtext</key>
				<string>Loading subreddit…</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>loop</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8851C420-3E80-4797-80F1-31999E4C2F54</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sub</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-subreddit.js</string>
				<key>subtext</key>
				<string>Loading subreddit icons…</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5852A551-EFDF-47BB-A256-13A0D3975AA5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/determine-next-subreddit.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E640FB36-75C7-4B36-A8AC-0F56468145CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>loop</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3381D52B-F37A-422A-BB73-2654C0280799</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selected_subreddit</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>09B3D6D5-85DC-4788-B940-EDFB8EC74EE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6887CA13-E491-46B2-9AA3-D36BEC604521</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:reddit</string>
				<key>subtext</key>
				<string>{const:alfred_workflow_name}</string>
				<key>text</key>
				<string>Force reload all subreddits</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>933340EF-3EA1-461F-A680-4D4B22FDFBA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>loop</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D96907E4-B008-4B62-AED9-1958C5D8E9A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B8A93391-341E-4C2B-B16D-3E7BFE87E8D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- `sub`: Select subreddit to browse.
- `rr`: Browse the current subreddit.
	- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open Post in reddit.
	- &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: Switch to next subreddit.
	- &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy URL of post to clipboard.
	- &lt;kbd&gt;⇧⏎&lt;/kbd&gt;: Open URL (if external link).

No reddit account is needed. Due to smart caching, this workflow should never hit API rate limits under normal usage.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>09B3D6D5-85DC-4788-B940-EDFB8EC74EE4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>store selection</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>3381D52B-F37A-422A-BB73-2654C0280799</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>5852A551-EFDF-47BB-A256-13A0D3975AA5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>6887CA13-E491-46B2-9AA3-D36BEC604521</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7984AFF9-05D8-4F7C-AEE3-C381AA4AD6A0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>8851C420-3E80-4797-80F1-31999E4C2F54</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>933340EF-3EA1-461F-A680-4D4B22FDFBA3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>refresh cache</string>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>B8A93391-341E-4C2B-B16D-3E7BFE87E8D9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>D96907E4-B008-4B62-AED9-1958C5D8E9A4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>E640FB36-75C7-4B36-A8AC-0F56468145CC</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>determine next subreddit</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>EB3BD689-69E5-4385-8983-379774F8848E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>List of subreddits, one per line. (Without leading "r/".)</string>
			<key>label</key>
			<string>subreddits</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>subreddits</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>15</string>
				<key>placeholder</key>
				<string>10</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>After this many minutes, the cache will be refreshed.</string>
			<key>label</key>
			<string>Cache Age Threshold</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cache_age_threshold</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>enabled</string>
			</dict>
			<key>description</key>
			<string>redirect to old.reddit.com</string>
			<key>label</key>
			<string>use old reddit</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>use_old_reddit</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>enabled</string>
			</dict>
			<key>description</key>
			<string>This makes hackernews appear in the list of subreddits, treating it as if it was another subreddit.</string>
			<key>label</key>
			<string>add hackernews</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>add_hackernews</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>enabled</string>
			</dict>
			<key>description</key>
			<string>redirect to dstill.ai as hackernews frontend</string>
			<key>label</key>
			<string>use dstill.ai</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>use_dstill_ai</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
