<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.renameaction</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>2D996A5F-76DB-4596-BAC7-C918B0EFD902</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D307CADD-36C3-4EF0-98C3-1CA47407436A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>947A1C83-3935-488B-BBBC-A01B072DD9A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3263DF37-2A1F-486F-BCC1-E902E59320DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6AD9678-C017-40CD-BD91-5E4102C39AD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A863367-72EB-4F2F-90CC-509F92F6AEA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D996A5F-76DB-4596-BAC7-C918B0EFD902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B30C050-DEC1-4375-8B11-20FA04A89596</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D996A5F-76DB-4596-BAC7-C918B0EFD902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F542EDC-0D2D-48F5-9593-5A78470AFEE4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reopen Universal Actions after renaming</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F542EDC-0D2D-48F5-9593-5A78470AFEE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D996A5F-76DB-4596-BAC7-C918B0EFD902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6B5E6E1-D926-4D07-A505-6821DDD8AD23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D441C22-CD20-4CCA-8CF2-8AC879F994A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>084A03F0-9303-4D0B-8E6A-1969BC7CB1DE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D307CADD-36C3-4EF0-98C3-1CA47407436A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6AD9678-C017-40CD-BD91-5E4102C39AD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3263DF37-2A1F-486F-BCC1-E902E59320DC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reopen Universal Actions after renaming</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6AD9678-C017-40CD-BD91-5E4102C39AD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6B5E6E1-D926-4D07-A505-6821DDD8AD23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Rename files and folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rename Action</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run(argv) {
  const origExtension = envVar("origExtension") 
  const newExtension = origExtension.length === 0 ? "" : "." + origExtension

  const newBasenameNoExtension = argv[0]
  const newFullPath = envVar("origDirname") + "/" + newBasenameNoExtension + newExtension
  
  if (newBasenameNoExtension === envVar("origBasenameNoExtension")) {
    return JSON.stringify({ "items": [{
      "title": "Rename to",
      "subtitle": "File extension is preserved",
      "valid": false
    }]})
  }
  
  if ($.NSFileManager.defaultManager.fileExistsAtPath(newFullPath)) {
    return JSON.stringify({ "items": [{
      "title": "Path already exists!",
      "subtitle": $(newFullPath).stringByAbbreviatingWithTildeInPath.js,
      "valid": false
    }]})
  }
  
  return JSON.stringify({ "items": [{
    "title": "Rename to",
    "subtitle": $(newFullPath).stringByAbbreviatingWithTildeInPath.js,
    "valid": true,
    "arg": newFullPath
  }]})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Path extension is preserved</string>
				<key>title</key>
				<string>Rename to</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D307CADD-36C3-4EF0-98C3-1CA47407436A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly newFullPath="${1}"

# Rename
mv "${origFullPath}" "${newFullPath}"

# Send to reopen Universal Actions
echo -n "${newFullPath}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6AD9678-C017-40CD-BD91-5E4102C39AD3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>9D441C22-CD20-4CCA-8CF2-8AC879F994A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Rename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4B30C050-DEC1-4375-8B11-20FA04A89596</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const fullPath = argv[0]
  const dirname = $(fullPath).stringByDeletingLastPathComponent.js
  const basenameNoExtension = $(fullPath).lastPathComponent.stringByDeletingPathExtension.js
  const extension = $(fullPath).pathExtension.js

  return JSON.stringify({
    "alfredworkflow" : {
      "arg": basenameNoExtension,
      "variables": {
        "origFullPath": fullPath,
        "origDirname": dirname,
        "origBasenameNoExtension": basenameNoExtension,
        "origExtension": extension
      }
    }
  })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D996A5F-76DB-4596-BAC7-C918B0EFD902</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:reopen_ua}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Reopen Universal Actions</string>
						<key>uid</key>
						<string>084A03F0-9303-4D0B-8E6A-1969BC7CB1DE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A6B5E6E1-D926-4D07-A505-6821DDD8AD23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>←</string>
				<key>keycode</key>
				<integer>123</integer>
				<key>keymod</key>
				<integer>11665408</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>947A1C83-3935-488B-BBBC-A01B072DD9A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>reopen_ua</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3263DF37-2A1F-486F-BCC1-E902E59320DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>reopen_ua</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4F542EDC-0D2D-48F5-9593-5A78470AFEE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>rename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4A863367-72EB-4F2F-90CC-509F92F6AEA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Rename a file or folder via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Rename action](images/about/ua.png)

![Choosing new file name](images/about/rename.png)

Press &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; at any state to reopen the Universal Actions panel after renaming.</string>
	<key>uidata</key>
	<dict>
		<key>2D996A5F-76DB-4596-BAC7-C918B0EFD902</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3263DF37-2A1F-486F-BCC1-E902E59320DC</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4A863367-72EB-4F2F-90CC-509F92F6AEA5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>to be copypasted after update of the rename workflow</string>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>4B30C050-DEC1-4375-8B11-20FA04A89596</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>4F542EDC-0D2D-48F5-9593-5A78470AFEE4</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>947A1C83-3935-488B-BBBC-A01B072DD9A0</key>
		<dict>
			<key>note</key>
			<string>Select argument</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>9D441C22-CD20-4CCA-8CF2-8AC879F994A1</key>
		<dict>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>A6B5E6E1-D926-4D07-A505-6821DDD8AD23</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>D307CADD-36C3-4EF0-98C3-1CA47407436A</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>D6AD9678-C017-40CD-BD91-5E4102C39AD3</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>2023.2</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/rename-action-workflow/</string>
</dict>
</plist>
