<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.shimmering-focus</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>2D3B42A9-52F1-4193-8FE5-EBD2D2606DBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9785CD12-8BE6-426A-B3E5-E88E0A90D807</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>769DBB7A-060F-4CCA-A806-0AAA1149D60B</key>
		<array/>
		<key>7F5B9DEA-0CE4-4402-804D-7E24157C08B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D3B42A9-52F1-4193-8FE5-EBD2D2606DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>47477B9D-5F2A-4D51-A037-76601A68D460</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D430A6F9-293F-49FE-9E66-A091FB56677B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>161AD1C7-D6DC-4C1D-92FA-EBBEF016AD4C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>389C4CDC-EC49-4AE7-BF23-142CD07AADDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93E4EBAF-798C-40AF-BBCD-4BF2B98B6F18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D3B42A9-52F1-4193-8FE5-EBD2D2606DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D430A6F9-293F-49FE-9E66-A091FB56677B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>769DBB7A-060F-4CCA-A806-0AAA1149D60B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9CA8CAA-C6EB-499B-9049-AA32687CAAFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F5B9DEA-0CE4-4402-804D-7E24157C08B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shimmering Focus Development</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>switch-to-fallback.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D3B42A9-52F1-4193-8FE5-EBD2D2606DBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Switched to Fallback</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9785CD12-8BE6-426A-B3E5-E88E0A90D807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fb</string>
				<key>subtext</key>
				<string>Switch to Fallback &amp; Delete local repo</string>
				<key>text</key>
				<string>Shimmering Focus</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93E4EBAF-798C-40AF-BBCD-4BF2B98B6F18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string># $LOCAL_REPOS" from zshenv passed to JavaScript
source ~/.zshenv
osascript -l JavaScript ./open-shimmering-focus.js "$LOCAL_REPOS"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>🔍 Open Shimmering Focus</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>loop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9CA8CAA-C6EB-499B-9049-AA32687CAAFC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./switch-to-local-repo.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>769DBB7A-060F-4CCA-A806-0AAA1149D60B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⏳Cloning…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D430A6F9-293F-49FE-9E66-A091FB56677B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fallback</string>
						<key>outputlabel</key>
						<string>fallback</string>
						<key>uid</key>
						<string>47477B9D-5F2A-4D51-A037-76601A68D460</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clone</string>
						<key>outputlabel</key>
						<string>clone</string>
						<key>uid</key>
						<string>161AD1C7-D6DC-4C1D-92FA-EBBEF016AD4C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open at line</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7F5B9DEA-0CE4-4402-804D-7E24157C08B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-at-line.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>389C4CDC-EC49-4AE7-BF23-142CD07AADDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>2D3B42A9-52F1-4193-8FE5-EBD2D2606DBD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>switch to fallback &amp; delete local repo</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>389C4CDC-EC49-4AE7-BF23-142CD07AADDB</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>open at line</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>769DBB7A-060F-4CCA-A806-0AAA1149D60B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>clone &amp; switch to local repo</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>7F5B9DEA-0CE4-4402-804D-7E24157C08B1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>93E4EBAF-798C-40AF-BBCD-4BF2B98B6F18</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>9785CD12-8BE6-426A-B3E5-E88E0A90D807</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>D430A6F9-293F-49FE-9E66-A091FB56677B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F9CA8CAA-C6EB-499B-9049-AA32687CAAFC</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Open Shimmering Focus at line</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
