<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pdf-renaming-helper</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>0E4A0733-E898-4FB7-BC62-446FBD10A76E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44BAA3FF-5D2F-40FF-B764-1F2A06710EF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20603C68-58B3-433A-AEE0-62CAF6C85E0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>321C62C6-E2A5-45EB-8095-E68D9B0A4498</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25787E6B-1A3C-4C80-B0AD-C11D016A4330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63D3D90E-D12D-42DD-A6A2-7DF499C680FD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21F4FB87-86D9-4B33-B649-8F3338B7154B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5649963E-445E-4637-BAC2-8A93C6117BB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B3B6EC2-104F-401B-9252-6A96E9DBEDB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25787E6B-1A3C-4C80-B0AD-C11D016A4330</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BAA3FF-5D2F-40FF-B764-1F2A06710EF4</key>
		<array/>
		<key>4D63817E-E093-44ED-99F7-2762E817BB90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53419BE9-8E0D-4F3E-9460-5F3E4DE84406</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53419BE9-8E0D-4F3E-9460-5F3E4DE84406</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54CDB333-A1B6-4990-AF4C-4A48BA06D092</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5649963E-445E-4637-BAC2-8A93C6117BB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73E6C367-5696-402A-936C-96472BFB71BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C7C540D-E608-402E-8778-C49FBACEB5DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>698B1D06-326B-43D2-8ABB-DE676CE3661A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD9298C2-7174-4FD4-ADE0-9F77408B1B9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>871ABB10-2B9C-44B3-951C-3EA52181ECC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D0217F4-B267-406C-B35B-B41C7663BA0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>871ABB10-2B9C-44B3-951C-3EA52181ECC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>960D6BB0-26F8-46E0-8A9C-2D5387E82C5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC1BF79A-460C-4600-8A1E-78B05DC00FCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E4A0733-E898-4FB7-BC62-446FBD10A76E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A78A787-53EF-4B69-A756-340AB5E47756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5649963E-445E-4637-BAC2-8A93C6117BB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A02897FE-BC2A-479A-A777-3CAF8A394943</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>871ABB10-2B9C-44B3-951C-3EA52181ECC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B959FF0C-60CD-4ED2-855D-66F63FE3E7F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6728A18F-2FFB-4C11-8C19-673C8D657DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC55B53D-B9D5-47AC-B2F4-45C6250702DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A3622A0-DE0C-4DCE-92F3-C4ADD2279EBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD9298C2-7174-4FD4-ADE0-9F77408B1B9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>960D6BB0-26F8-46E0-8A9C-2D5387E82C5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA43383A-8BDF-4F83-BFD0-624DE8F43343</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B959FF0C-60CD-4ED2-855D-66F63FE3E7F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE84434E-074B-4498-9260-1DDF341A43B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21F4FB87-86D9-4B33-B649-8F3338B7154B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PDF &amp; Pandoc Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Open in Preview</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BC55B53D-B9D5-47AC-B2F4-45C6250702DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge8043a</string>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>name</key>
				<string>Pandoc: md → docx</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4D63817E-E093-44ED-99F7-2762E817BB90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/pandoc-md2docx.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53419BE9-8E0D-4F3E-9460-5F3E4DE84406</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7A3622A0-DE0C-4DCE-92F3-C4ADD2279EBB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pdf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-pdfs.js</string>
				<key>subtext</key>
				<string>loading...</string>
				<key>title</key>
				<string>Search Local PDFs</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/pandoc-md2pdf.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge8043a</string>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>name</key>
				<string>Pandoc: md → pdf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>54CDB333-A1B6-4990-AF4C-4A48BA06D092</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Selected file is neither a Word document nor a markdown file.</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>25787E6B-1A3C-4C80-B0AD-C11D016A4330</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>net.highlightsapp.universal</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9A78A787-53EF-4B69-A756-340AB5E47756</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/pdfgrep.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search pdf</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5649963E-445E-4637-BAC2-8A93C6117BB2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/open-highlights-page.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73E6C367-5696-402A-936C-96472BFB71BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>20603C68-58B3-433A-AEE0-62CAF6C85E0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.md$</string>
						<key>outputlabel</key>
						<string>md</string>
						<key>uid</key>
						<string>321C62C6-E2A5-45EB-8095-E68D9B0A4498</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.docx?$</string>
						<key>outputlabel</key>
						<string>doc / docx</string>
						<key>uid</key>
						<string>63D3D90E-D12D-42DD-A6A2-7DF499C680FD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Search in PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FE84434E-074B-4498-9260-1DDF341A43B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>21F4FB87-86D9-4B33-B649-8F3338B7154B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Word to PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8B3B6EC2-104F-401B-9252-6A96E9DBEDB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.microsoft.word.doc</string>
					<string>org.openxmlformats.wordprocessingml.document</string>
				</array>
				<key>name</key>
				<string>Word: docx to PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5C7C540D-E608-402E-8778-C49FBACEB5DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/Word to PDF.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>content of {query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6728A18F-2FFB-4C11-8C19-673C8D657DE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/copy-text-from-pdf.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B959FF0C-60CD-4ED2-855D-66F63FE3E7F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Copy PDF Text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FA43383A-8BDF-4F83-BFD0-624DE8F43343</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Print</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A02897FE-BC2A-479A-A777-3CAF8A394943</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/print-pdf.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>871ABB10-2B9C-44B3-951C-3EA52181ECC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"German","arg":"deu","subtitle":""},{"title":"English","arg":"eng","subtitle":""},{"title":"Bilingual: German &amp; English","arg":"eng+deu","subtitle":""}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select Language of the PDF</string>
				<key>title</key>
				<string>OCRmyPDF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>960D6BB0-26F8-46E0-8A9C-2D5387E82C5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Run OCR on the PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>698B1D06-326B-43D2-8ABB-DE676CE3661A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⏳ running OCR...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CC1BF79A-460C-4600-8A1E-78B05DC00FCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8D0217F4-B267-406C-B35B-B41C7663BA0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD9298C2-7174-4FD4-ADE0-9F77408B1B9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:/opt/homebrew/bin/:$PATH
{query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/run-ocrmypdf.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E4A0733-E898-4FB7-BC62-446FBD10A76E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ OCR complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>44BAA3FF-5D2F-40FF-B764-1F2A06710EF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).

Word-to-PDF based on: https://www.deanishe.net/post/2021/05/workflow-word-to-pdf/

---

**Requirements**
- pandoc
- pdfgrep
- wkhtmltopdf
- MS Word
- ocrmypdf</string>
	<key>uidata</key>
	<dict>
		<key>0E4A0733-E898-4FB7-BC62-446FBD10A76E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>run ocrmypdf</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>20603C68-58B3-433A-AEE0-62CAF6C85E0A</key>
		<dict>
			<key>note</key>
			<string>md/docx → pdf</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>21F4FB87-86D9-4B33-B649-8F3338B7154B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>25787E6B-1A3C-4C80-B0AD-C11D016A4330</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>44BAA3FF-5D2F-40FF-B764-1F2A06710EF4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>4D63817E-E093-44ED-99F7-2762E817BB90</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>md → docx</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>53419BE9-8E0D-4F3E-9460-5F3E4DE84406</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>54CDB333-A1B6-4990-AF4C-4A48BA06D092</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>md → pdf</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>5649963E-445E-4637-BAC2-8A93C6117BB2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>5C7C540D-E608-402E-8778-C49FBACEB5DD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>docx → pdf</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>6728A18F-2FFB-4C11-8C19-673C8D657DE1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>698B1D06-326B-43D2-8ABB-DE676CE3661A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>73E6C367-5696-402A-936C-96472BFB71BE</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>open at PDF page</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>7A3622A0-DE0C-4DCE-92F3-C4ADD2279EBB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>search PDFs</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>871ABB10-2B9C-44B3-951C-3EA52181ECC2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>8B3B6EC2-104F-401B-9252-6A96E9DBEDB5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>8D0217F4-B267-406C-B35B-B41C7663BA0D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>960D6BB0-26F8-46E0-8A9C-2D5387E82C5D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>9A78A787-53EF-4B69-A756-340AB5E47756</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>A02897FE-BC2A-479A-A777-3CAF8A394943</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>B959FF0C-60CD-4ED2-855D-66F63FE3E7F7</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>BC55B53D-B9D5-47AC-B2F4-45C6250702DD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>CC1BF79A-460C-4600-8A1E-78B05DC00FCE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>DD9298C2-7174-4FD4-ADE0-9F77408B1B9E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>FA43383A-8BDF-4F83-BFD0-624DE8F43343</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>FE84434E-074B-4498-9260-1DDF341A43B9</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>show error messages</string>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>only used for PDF search &amp; in-pdf-search in Highlights</string>
			<key>label</key>
			<string>PDF Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>pdf_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Preview</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>for docx2pdf</string>
			<key>label</key>
			<string>PDF default app</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>OPEN_WITH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>false</string>
				<key>pairs</key>
				<array>
					<array>
						<string>true</string>
						<string>true</string>
					</array>
					<array>
						<string>false</string>
						<string>false</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>For docx2pdf. Quicker, but less private.</string>
			<key>label</key>
			<string>use Microsoft Online service</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>USE_ONLINE_SERVICE</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
