<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pdf-renaming-helper</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>183D06D3-20F7-4F78-A8F1-34D41BB69A48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BDF7FE5-6B05-4264-86D2-0B5A72E2A808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EDA02E2-E4AE-45EE-A365-D11F3F6412C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>183D06D3-20F7-4F78-A8F1-34D41BB69A48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20603C68-58B3-433A-AEE0-62CAF6C85E0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63D3D90E-D12D-42DD-A6A2-7DF499C680FD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B26BEF74-D1D6-4397-B064-DF81BEB058BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>321C62C6-E2A5-45EB-8095-E68D9B0A4498</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B79D266-F9DE-49D9-99BE-5F6DA83E74FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B3B6EC2-104F-401B-9252-6A96E9DBEDB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BD72B8A-1B8A-4C43-81CF-79EBC4BE4517</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BDF7FE5-6B05-4264-86D2-0B5A72E2A808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BDF7FE5-6B05-4264-86D2-0B5A72E2A808</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C06E18A0-E3F9-494F-8A95-4087C8B1BD33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E6505C6-0186-4089-AC36-AF5300BE723D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B26BEF74-D1D6-4397-B064-DF81BEB058BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC55B53D-B9D5-47AC-B2F4-45C6250702DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A3622A0-DE0C-4DCE-92F3-C4ADD2279EBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E712DB78-7466-4A11-A054-BD5DBE84E974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BD72B8A-1B8A-4C43-81CF-79EBC4BE4517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PDF &amp; Pandoc Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/Word to PDF.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Word to PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8B3B6EC2-104F-401B-9252-6A96E9DBEDB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>20603C68-58B3-433A-AEE0-62CAF6C85E0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⏳ Running pandoc…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B26BEF74-D1D6-4397-B064-DF81BEB058BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/pandoc-md2pdf.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.docx?$</string>
						<key>outputlabel</key>
						<string>doc / docx</string>
						<key>uid</key>
						<string>63D3D90E-D12D-42DD-A6A2-7DF499C680FD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.md$</string>
						<key>outputlabel</key>
						<string>md</string>
						<key>uid</key>
						<string>321C62C6-E2A5-45EB-8095-E68D9B0A4498</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>only docx &amp; markdown are supported</string>
				<key>title</key>
				<string>⚠️ PDF Export failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8B79D266-F9DE-49D9-99BE-5F6DA83E74FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>md.obsidian</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1EDA02E2-E4AE-45EE-A365-D11F3F6412C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/obsidian-longform-pandoc.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>183D06D3-20F7-4F78-A8F1-34D41BB69A48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C06E18A0-E3F9-494F-8A95-4087C8B1BD33</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5BDF7FE5-6B05-4264-86D2-0B5A72E2A808</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E712DB78-7466-4A11-A054-BD5DBE84E974</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/md-to-docx.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5BD72B8A-1B8A-4C43-81CF-79EBC4BE4517</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2E6505C6-0186-4089-AC36-AF5300BE723D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Open in Preview</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BC55B53D-B9D5-47AC-B2F4-45C6250702DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7A3622A0-DE0C-4DCE-92F3-C4ADD2279EBB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pdf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-pdfs.js</string>
				<key>subtext</key>
				<string>loading...</string>
				<key>title</key>
				<string>Search Local PDFs</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).

Word-to-PDF based on: https://www.deanishe.net/post/2021/05/workflow-word-to-pdf/</string>
	<key>uidata</key>
	<dict>
		<key>183D06D3-20F7-4F78-A8F1-34D41BB69A48</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>1EDA02E2-E4AE-45EE-A365-D11F3F6412C6</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Compile Longform Project &amp; md → docx</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>20603C68-58B3-433A-AEE0-62CAF6C85E0A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>md/docx → pdf</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>20C2A007-08E6-4B1E-ABCD-B5EA1F7B0BEB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>244B4BA9-BAD5-40DF-9F8D-44060468B0CB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2D2FDAAD-9FAB-40CF-80BD-CECE6BC224E5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>2E6505C6-0186-4089-AC36-AF5300BE723D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>5BD72B8A-1B8A-4C43-81CF-79EBC4BE4517</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>5BDF7FE5-6B05-4264-86D2-0B5A72E2A808</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>7A3622A0-DE0C-4DCE-92F3-C4ADD2279EBB</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>84C07023-C7E9-4DAD-8EF8-0700B1CB05E3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>search PDFs</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>8B3B6EC2-104F-401B-9252-6A96E9DBEDB5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8B79D266-F9DE-49D9-99BE-5F6DA83E74FD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>AD5BE9DA-AEFF-4FF1-89B2-2D712F9BC487</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>B26BEF74-D1D6-4397-B064-DF81BEB058BE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>BC55B53D-B9D5-47AC-B2F4-45C6250702DD</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>C06E18A0-E3F9-494F-8A95-4087C8B1BD33</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>E712DB78-7466-4A11-A054-BD5DBE84E974</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>md → docx</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>FF00A317-AA2D-40F0-8A56-B22E0426DD6F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>only used for PDF search &amp; in-pdf-search in Highlights</string>
			<key>label</key>
			<string>PDF Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>pdf_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Preview</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>for docx2pdf</string>
			<key>label</key>
			<string>PDF default app</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>OPEN_WITH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>false</string>
				<key>pairs</key>
				<array>
					<array>
						<string>true</string>
						<string>true</string>
					</array>
					<array>
						<string>false</string>
						<string>false</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>For docx2pdf. Quicker, but less private.</string>
			<key>label</key>
			<string>use Microsoft Online service</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>USE_ONLINE_SERVICE</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
