<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bibtex_library_path</key>
	<string>~/.config/pandoc/main-bibliography.bib</string>
	<key>copy_without_citation</key>
	<true/>
	<key>pdf_folder</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/Academia/PDFs</string>
</dict>
</plist>
