<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ejectBlacklist</key>
	<array>
		<string>*local*</string>
		<string>*Samsung SSD*</string>
		<string>BOOTCAMP</string>
		<string>GoogleDrive</string>
		<string>MobileBackups</string>
		<string>Recovery</string>
	</array>
	<key>emptytrashConfirm</key>
	<true/>
	<key>emptytrashKeyword</key>
	<string>trash</string>
	<key>emptytrashKeywordEnabled</key>
	<false/>
	<key>forcequitKeyword</key>
	<string>kill</string>
	<key>forcequitKeywordEnabled</key>
	<false/>
	<key>hideKeyword</key>
	<string>h</string>
	<key>hideKeywordEnabled</key>
	<false/>
	<key>logoutConfirm</key>
	<true/>
	<key>quitKeyword</key>
	<string>q</string>
	<key>quitKeywordEnabled</key>
	<false/>
	<key>quitallConfirm</key>
	<true/>
	<key>quitallKeywordEnabled</key>
	<false/>
	<key>restartConfirm</key>
	<true/>
	<key>showtrashKeywordEnabled</key>
	<false/>
	<key>shutdownConfirm</key>
	<true/>
	<key>shutdownKeywordEnabled</key>
	<false/>
	<key>sleepKeywordEnabled</key>
	<false/>
	<key>sleepdisplaysKeywordEnabled</key>
	<false/>
	<key>volumedownKeywordEnabled</key>
	<false/>
	<key>volumemuteKeywordEnabled</key>
	<false/>
	<key>volumeupKeywordEnabled</key>
	<false/>
</dict>
</plist>
