<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.AlfredKat</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>1A120CBA-8377-4D3E-919D-CD73EC9445C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3781A6A1-D3AB-4D6A-8A79-BC3CD81ED16F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F56E35A-3206-4183-89CC-CA9DAAFB98E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FC960F6-0D18-4D56-AD7A-7C083013B843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FC960F6-0D18-4D56-AD7A-7C083013B843</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5368618-5E7B-4FD1-8D88-E684E143654A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3781A6A1-D3AB-4D6A-8A79-BC3CD81ED16F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A917A3A9-BD31-4C1B-AD78-C4901C16409A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>828D7CAC-9EBB-49C1-84CF-21CE606030E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF34CCA9-75C4-4386-9934-29FF2E8F3BE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>35322F1C-1972-45AF-B0E7-71A08ABB09CF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A120CBA-8377-4D3E-919D-CD73EC9445C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5368618-5E7B-4FD1-8D88-E684E143654A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>828D7CAC-9EBB-49C1-84CF-21CE606030E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guillaume Leclerc</string>
	<key>description</key>
	<string>get your KAT torrents right from Alfred—no site no ads</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KAT</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1F56E35A-3206-4183-89CC-CA9DAAFB98E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>start</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BF34CCA9-75C4-4386-9934-29FF2E8F3BE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kat</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>crawling through the mess...</string>
				<key>script</key>
				<string>./resources/binaries/AlfredKat "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>keep tying...</string>
				<key>title</key>
				<string>I WANT {query}!</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2FC960F6-0D18-4D56-AD7A-7C083013B843</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:next}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>do</string>
						<key>outputlabel</key>
						<string>menu</string>
						<key>uid</key>
						<string>35322F1C-1972-45AF-B0E7-71A08ABB09CF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>do</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>828D7CAC-9EBB-49C1-84CF-21CE606030E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>next</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E5368618-5E7B-4FD1-8D88-E684E143654A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./resources/binaries/AlfredKat | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3781A6A1-D3AB-4D6A-8A79-BC3CD81ED16F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>KAT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A917A3A9-BD31-4C1B-AD78-C4901C16409A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>1A120CBA-8377-4D3E-919D-CD73EC9445C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># WOT IS THAT

get your KAT torrents without all the advertising crap. please use this of course responsibly.

# HOW DOES IT WORK

you type `kat` followed by what you're looking for:

![kat](resources/images/kat.png)

sort by most seeders on top:

![seeders](resources/images/seeders.png)

filter by type:

![books](resources/images/books.png)

# I STILL DONT GET IT COZ IM DUMB

the [GitHub repo](https://github.com/godbout/AlfredKat).</string>
	<key>uidata</key>
	<dict>
		<key>1A120CBA-8377-4D3E-919D-CD73EC9445C3</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>1F56E35A-3206-4183-89CC-CA9DAAFB98E6</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>2FC960F6-0D18-4D56-AD7A-7C083013B843</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>3781A6A1-D3AB-4D6A-8A79-BC3CD81ED16F</key>
		<dict>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>828D7CAC-9EBB-49C1-84CF-21CE606030E6</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A917A3A9-BD31-4C1B-AD78-C4901C16409A</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>BF34CCA9-75C4-4386-9934-29FF2E8F3BE4</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>E5368618-5E7B-4FD1-8D88-E684E143654A</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://kickasstorrents.to</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>only change this URL if the main site is down. some mirrors have a different HTML structure or async loading that don't work with the Workflow.</string>
			<key>label</key>
			<string>KickassTorrents URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>/usr/local/bin/transmission-remote -a {magnet}</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>in case you don't wanna use a GUI application you can specify the path to a command line client. see placeholder above for reference.</string>
			<key>label</key>
			<string>Command Line Client</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cli</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>8.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/godbout/AlfredKat</string>
</dict>
</plist>
