<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alfred_script(q)
	set prevClipboard to the clipboard
	delay 0.05
	set the clipboard to q

	tell application "Alacritty" to activate
	tell application "System Events"
		repeat while (name of first application process whose frontmost is true) is not "alacritty"
			delay 0.05
		end repeat
		delay 0.05
		keystroke "v" using {command down} # paste query
		delay 0.05
		key code 36 # return
		if q starts with "cd " then keystroke "l" using {control down} # clear screen in zsh
	end tell

	delay 0.05
	set the clipboard to prevClipboard
end alfred_script</string>
	<key>prefix</key>
	<integer>1</integer>
</dict>
</plist>
