<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alfred_script(shellCmd)
	-- `cd` -&gt; do not trigger post-cd-hook (`-q`) and `clear` afterwards
	if (text 1 thru 3 of shellCmd) is "cd " then
		set arg to text 4 thru -1 of shellCmd
		-- leading space to suppress saving in shell history
		-- `-q` to suppress post-cd-hook output
		set shellCmd to " cd -q " &amp; arg &amp; " &amp;&amp; clear"
	end if

	-- run the shortcut
	tell application "Shortcuts"
		run shortcut named "ghostty-input" with input shellCmd
		delay 2
		quit
	end tell
end alfred_script</string>
	<key>prefix</key>
	<integer>1</integer>
</dict>
</plist>
