<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downloads_folder</key>
	<string>~/Desktop</string>
	<key>downloads_keyword</key>
	<string>/</string>
	<key>frontwin_keyword</key>
	<string>//</string>
	<key>max_recent_files</key>
	<integer>250</integer>
	<key>recent_keyword</key>
	<string>gr</string>
	<key>tag_keyword</key>
	<string>wip</string>
	<key>tag_to_search</key>
	<string>WIP</string>
</dict>
</plist>
