<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.quick-file-access</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>0194E157-0701-47CC-996A-E69B0F976319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC23B294-25E4-4CEA-841A-71546D15BD89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Move to front Finder window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85BA17FF-F81C-4558-A3DD-A06ED76BB023</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Remove the tag {var:tag_prefix} {var:tag_to_search}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>046A7EDC-4CFB-42C9-B7FD-7ECB4FD32442</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC23B294-25E4-4CEA-841A-71546D15BD89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Move to front Finder window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0AF282F1-E1F5-47C6-B70B-F25E00EA5015</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC23B294-25E4-4CEA-841A-71546D15BD89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Move to front Finder window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22597717-6399-48C7-8B78-551AAD86DC01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>046A7EDC-4CFB-42C9-B7FD-7ECB4FD32442</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F78B362-3AF3-4AD0-BEBF-22FECBEEBB77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AF282F1-E1F5-47C6-B70B-F25E00EA5015</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>444EBB59-C177-4CC5-9A5C-232A6D9F7A9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194E157-0701-47CC-996A-E69B0F976319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>510F2976-FA05-4025-B2F1-BE4C2CA9783C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DCEA464-F1BD-49D5-9251-E455ADD73073</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>682E57FD-7381-4EB8-AB57-3FF7DFD1773F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>444EBB59-C177-4CC5-9A5C-232A6D9F7A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DCEA464-F1BD-49D5-9251-E455ADD73073</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A166CD55-3AEC-45B7-9C9F-98FD649E0258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72F3D736-ED6D-455D-9192-18799BE0E0E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F78B362-3AF3-4AD0-BEBF-22FECBEEBB77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B044726-677B-4792-A3E3-29ACE7900F6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F51A014F-1ABC-49D4-ADA8-0B83A691533F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85BA17FF-F81C-4558-A3DD-A06ED76BB023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>089E6397-029E-4743-8700-45C4860B2C92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBA872DF-C511-43B9-8018-C366115A078C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E6F8450-F918-43B2-B94C-531BB5805A92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22597717-6399-48C7-8B78-551AAD86DC01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A166CD55-3AEC-45B7-9C9F-98FD649E0258</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC23B294-25E4-4CEA-841A-71546D15BD89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAE121DB-A4DB-45C3-9C13-DBB7886D8933</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D158A013-04D6-4B89-BAAC-9144298030DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B044726-677B-4792-A3E3-29ACE7900F6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F51A014F-1ABC-49D4-ADA8-0B83A691533F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Reveal in Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Move to front Finder window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2B2FCCA-99A2-437E-94C0-AA67800FAAE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Quickly access recent files, files with a specific tag, files in the current window, files in the downloads folder, or trashed files.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick File Access</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DC23B294-25E4-4CEA-841A-71546D15BD89</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9E6F8450-F918-43B2-B94C-531BB5805A92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:recent_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/file-finder.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Recently changed files in home folder and iCloud…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>046A7EDC-4CFB-42C9-B7FD-7ECB4FD32442</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>keyword_from_hotkey</key>
					<string>{var:recent_keyword}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>22597717-6399-48C7-8B78-551AAD86DC01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:frontwin_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/file-finder.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search in front Finder window…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A166CD55-3AEC-45B7-9C9F-98FD649E0258</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>510F2976-FA05-4025-B2F1-BE4C2CA9783C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>keyword_from_hotkey</key>
					<string>{var:frontwin_keyword}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6DCEA464-F1BD-49D5-9251-E455ADD73073</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:custom_folder_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/file-finder.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Files in "{var:custom_folder}"…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0AF282F1-E1F5-47C6-B70B-F25E00EA5015</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>72F3D736-ED6D-455D-9192-18799BE0E0E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>ℹ️ No Finder window open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BAE121DB-A4DB-45C3-9C13-DBB7886D8933</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/move-to-frontmost-Finder-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>keyword_from_hotkey</key>
					<string>{var:custom_folder_keyword}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2F78B362-3AF3-4AD0-BEBF-22FECBEEBB77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FBA872DF-C511-43B9-8018-C366115A078C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:tag_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/file-finder.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Files tagged with {var:tag_prefix} {var:tag_to_search}…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0194E157-0701-47CC-996A-E69B0F976319</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>682E57FD-7381-4EB8-AB57-3FF7DFD1773F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/copy-file.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>keyword_from_hotkey</key>
					<string>{var:tag_keyword}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>444EBB59-C177-4CC5-9A5C-232A6D9F7A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:trash_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/file-finder.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Files in Trash…</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F51A014F-1ABC-49D4-ADA8-0B83A691533F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Open if folder, reveal if file. 
# Needed as files in the trash cannot be opened.

if [[ -f "$1" ]] ; then
	open -R "$1"
elif [[ -d "$1" ]] ; then
	open "$1"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2B2FCCA-99A2-437E-94C0-AA67800FAAE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D158A013-04D6-4B89-BAAC-9144298030DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>keyword_from_hotkey</key>
					<string>{var:trash_keyword}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7B044726-677B-4792-A3E3-29ACE7900F6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:tag_prefix} {var:tag_to_search} removed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>089E6397-029E-4743-8700-45C4860B2C92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>new_tags</key>
					<string>{var:tag_to_search}</string>
					<key>recursive</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.tags.remove</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>85BA17FF-F81C-4558-A3DD-A06ED76BB023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
- Search for recently modified files in your home folder and iCloud documents
  with the keyword `rec`. ([Searching for recent files was always a weak
  point on
  macOS.](https://new.reddit.com/r/macapps/comments/1eiy0pa/recents_folder_on_mac_is_driving_me_crazy/))
- Access files in your Downloads-folder via `dl`.
- Search for files in the front Finder window via `win`.
- Access files you have assigned a Finder tag of your choice via `tag`.
- Look for files in your Trash with `trash`.

For all fives cases, you can change the keyword in the workflow configuration or
set a [hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/).

The following actions are available for all searches:
- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the file.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Move the file to your front Finder window.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Reveal the file in Finder.
- &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Copy the file to the clipboard.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt;: Quick Look the file.
- &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: *(only tag search)* Remove the tag from the file.

## Requirements

```bash
brew install ripgrep
```

## Howto: Ignore folder for recent files search
1. Go to the folder you want to ignore.
2. Press `cmd+shift+.`, to show hidden files.
3. In that folder, create a file named `.ignore`, the file content should just
   be `*`. This ignores every file in that folder. (If you want more
   fine-grained control, the file uses the [gitignore
   syntax](https://git-scm.com/docs/gitignore).)
4. Press `cmd+shift+.` once more, to conceal hidden files again.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0194E157-0701-47CC-996A-E69B0F976319</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>tagged</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>046A7EDC-4CFB-42C9-B7FD-7ECB4FD32442</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>recent files in Home and iCloud</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>089E6397-029E-4743-8700-45C4860B2C92</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>0AF282F1-E1F5-47C6-B70B-F25E00EA5015</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>custom folder</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>0C3BFAB7-ABFF-4D30-91C6-47855B12F496</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>22597717-6399-48C7-8B78-551AAD86DC01</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>2F78B362-3AF3-4AD0-BEBF-22FECBEEBB77</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>444EBB59-C177-4CC5-9A5C-232A6D9F7A9E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>510F2976-FA05-4025-B2F1-BE4C2CA9783C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>682E57FD-7381-4EB8-AB57-3FF7DFD1773F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>6DCEA464-F1BD-49D5-9251-E455ADD73073</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>72F3D736-ED6D-455D-9192-18799BE0E0E9</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>7B044726-677B-4792-A3E3-29ACE7900F6F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>85BA17FF-F81C-4558-A3DD-A06ED76BB023</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>89AAC152-1A79-4CBF-9BDD-DBBAF712F72C</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>copy file to clipboard</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>9E6F8450-F918-43B2-B94C-531BB5805A92</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>DOUBLE CLICK THESE
to modify the respective hotkey</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A166CD55-3AEC-45B7-9C9F-98FD649E0258</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>front Finder window</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>BAE121DB-A4DB-45C3-9C13-DBB7886D8933</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>C141CBD8-4088-42FD-9ED0-F388C8B8A0A7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>move to front window</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>D158A013-04D6-4B89-BAAC-9144298030DB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>D2B2FCCA-99A2-437E-94C0-AA67800FAAE0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>open if folder, reveal if file</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>DC23B294-25E4-4CEA-841A-71546D15BD89</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F51A014F-1ABC-49D4-ADA8-0B83A691533F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>trash</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>FBA872DF-C511-43B9-8018-C366115A078C</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rec</string>
				<key>placeholder</key>
				<string>rec</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>recently changed in user home or iCloud</string>
			<key>label</key>
			<string>Keywords</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>recent_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dl</string>
				<key>placeholder</key>
				<string>dl</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>custom folder</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>custom_folder_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>win</string>
				<key>placeholder</key>
				<string>front</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>front Finder window</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>frontwin_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tag</string>
				<key>placeholder</key>
				<string>tag</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>tagged</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>tag_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>trash</string>
				<key>placeholder</key>
				<string>trash</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Trash</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trash_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Downloads</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Custom folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>custom_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wip</string>
				<key>placeholder</key>
				<string>wip</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Tag to use for the tag search.</string>
			<key>label</key>
			<string>Finder tag</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>tag_to_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>🟠</string>
				<key>pairs</key>
				<array>
					<array>
						<string>🟠</string>
						<string>🟠</string>
					</array>
					<array>
						<string>🟡</string>
						<string>🟡</string>
					</array>
					<array>
						<string>🔵</string>
						<string>🔵</string>
					</array>
					<array>
						<string>🟢</string>
						<string>🟢</string>
					</array>
					<array>
						<string>🔴</string>
						<string>🔴</string>
					</array>
					<array>
						<string>🟣</string>
						<string>🟣</string>
					</array>
					<array>
						<string>⚪️</string>
						<string>⚪️</string>
					</array>
					<array>
						<string>⚫️</string>
						<string>⚫️</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Color of the tag. This setting is purely aesthetic so your search results match visually with the color of the tag you use.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>tag_prefix</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>1000</integer>
				<key>markercount</key>
				<integer>21</integer>
				<key>maxvalue</key>
				<integer>2000</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Maximum for the recent file search. A high value impacts performance.</string>
			<key>label</key>
			<string>Max recent files</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>max_recent_files</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>chris-grieser.de</string>
</dict>
</plist>
