<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.clipboard-utilities</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>2711B43D-EF84-4615-B980-1A7BE40403F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30C8FE7E-DDB5-48A2-B171-9D9F2268B48F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27378334-BEBE-4A15-883F-02622B25C5C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EC939C8-5B03-465C-ABFE-4D3C96256B91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30C8FE7E-DDB5-48A2-B171-9D9F2268B48F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DACA649-4226-4E0A-960A-9137D0A4F2C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EC939C8-5B03-465C-ABFE-4D3C96256B91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A45E5F2B-0D09-4D71-8522-81BB30E067CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED260D52-A0DA-4170-865A-A38C59CFBCE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80B65472-8017-41FC-8579-5D7697ED2065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3F797DE-2666-47F9-BA57-F5BCC2F38E73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A19AAD3-F0C5-4E44-92F0-A91FFAEC55E2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FF3B04E-1402-4DC8-8B8F-1EC40F3A2396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2711B43D-EF84-4615-B980-1A7BE40403F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A45E5F2B-0D09-4D71-8522-81BB30E067CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80B65472-8017-41FC-8579-5D7697ED2065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4B41BAD-8610-4C9F-99F8-B0065BB5D1A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A45E5F2B-0D09-4D71-8522-81BB30E067CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clipboard Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>us.zoom.xos</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8FF3B04E-1402-4DC8-8B8F-1EC40F3A2396</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>z</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>30C8FE7E-DDB5-48A2-B171-9D9F2268B48F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/killring.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2711B43D-EF84-4615-B980-1A7BE40403F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3DACA649-4226-4E0A-960A-9137D0A4F2C9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/sequential-paste.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A45E5F2B-0D09-4D71-8522-81BB30E067CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A3F797DE-2666-47F9-BA57-F5BCC2F38E73</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E4B41BAD-8610-4C9F-99F8-B0065BB5D1A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string>count</string>
						<key>uid</key>
						<string>8A19AAD3-F0C5-4E44-92F0-A91FFAEC55E2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>80B65472-8017-41FC-8579-5D7697ED2065</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋 Reset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ED260D52-A0DA-4170-865A-A38C59CFBCE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:reset</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reset SequentialPaste count</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27378334-BEBE-4A15-883F-02622B25C5C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reset</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3EC939C8-5B03-465C-ABFE-4D3C96256B91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>2711B43D-EF84-4615-B980-1A7BE40403F9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>27378334-BEBE-4A15-883F-02622B25C5C9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>30C8FE7E-DDB5-48A2-B171-9D9F2268B48F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>undo previous paste</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3DACA649-4226-4E0A-960A-9137D0A4F2C9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>paste nth clipboard</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3EC939C8-5B03-465C-ABFE-4D3C96256B91</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>80B65472-8017-41FC-8579-5D7697ED2065</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>is count</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8FF3B04E-1402-4DC8-8B8F-1EC40F3A2396</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Killring: cycle through clipboard history</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A3F797DE-2666-47F9-BA57-F5BCC2F38E73</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>paste nth clipboard + line break</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>A45E5F2B-0D09-4D71-8522-81BB30E067CD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>E4B41BAD-8610-4C9F-99F8-B0065BB5D1A9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>sequential paste</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>ED260D52-A0DA-4170-865A-A38C59CFBCE8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
