<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.writing-assistant</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>16C4AEFA-0A32-4B8B-8C80-7DC517AFCA22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF4EBC7E-B09A-4709-8132-D893A585F49C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>875F6925-275F-4987-8E44-E0D75F60EF4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37526382-D72A-4923-92C2-DA8502E293C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB9BFB29-2E49-4D2A-B6A7-3B98B6C2CBC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D656B72-508C-472A-89A5-17C81D76BE04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>527810E3-7675-48C8-ABF2-D21274E22579</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>569CD060-42E6-43E7-A18B-724E9B7D8357</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1DDD036-4747-47FE-B251-0E02B2734FEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76A3BBE1-A98B-4D93-A191-A6C85E4376DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76A3BBE1-A98B-4D93-A191-A6C85E4376DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>875F6925-275F-4987-8E44-E0D75F60EF4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D656B72-508C-472A-89A5-17C81D76BE04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>932AEE6C-291D-43C3-87CC-D2E54FA12721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2A06CF6-C0FD-4680-B7D3-44BB15153491</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2A06CF6-C0FD-4680-B7D3-44BB15153491</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A79508C6-9D50-47FC-8E75-B8142611461C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1BED2FD-BC8A-49F4-9F65-1C12FCF12F3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D73C316D-320A-4D1C-8966-F446AE9B64F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1DDD036-4747-47FE-B251-0E02B2734FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCE767C4-80B8-4E6D-B5B9-B733E7305B91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6A9A07ED-56CE-416D-954E-5102FB0711E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>932AEE6C-291D-43C3-87CC-D2E54FA12721</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D73C316D-320A-4D1C-8966-F446AE9B64F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16C4AEFA-0A32-4B8B-8C80-7DC517AFCA22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB9BFB29-2E49-4D2A-B6A7-3B98B6C2CBC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03BE9390-3271-4FC7-9500-527674AE7239</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6A9A07ED-56CE-416D-954E-5102FB0711E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1BED2FD-BC8A-49F4-9F65-1C12FCF12F3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Autocorrection and synonym suggestions for the word under the cursor. Rephrasing of the selected text. All with one key press.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Writing Assistant</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/fix-word-under-cursor.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>47</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>.</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A79508C6-9D50-47FC-8E75-B8142611461C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>76A3BBE1-A98B-4D93-A191-A6C85E4376DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-word.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>Ü</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>527810E3-7675-48C8-ABF2-D21274E22579</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/synonym.js</string>
				<key>subtext</key>
				<string>Synonymer</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D656B72-508C-472A-89A5-17C81D76BE04</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>875F6925-275F-4987-8E44-E0D75F60EF4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>No selection.</string>
				<key>title</key>
				<string>⚠️ Rephraser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CCE767C4-80B8-4E6D-B5B9-B733E7305B91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>569CD060-42E6-43E7-A18B-724E9B7D8357</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^\s*$</string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>6A9A07ED-56CE-416D-954E-5102FB0711E8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>text</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D1DDD036-4747-47FE-B251-0E02B2734FEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Thinking…</string>
				<key>title</key>
				<string>🤖 Rephraser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>932AEE6C-291D-43C3-87CC-D2E54FA12721</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/rephrase-selection.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2A06CF6-C0FD-4680-B7D3-44BB15153491</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ Apple Intelligence</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BF4EBC7E-B09A-4709-8132-D893A585F49C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>No selection.</string>
				<key>title</key>
				<string>⚠️ Apple Intelligence</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>03BE9390-3271-4FC7-9500-527674AE7239</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>37526382-D72A-4923-92C2-DA8502E293C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^\s*$</string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>6A9A07ED-56CE-416D-954E-5102FB0711E8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>text</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FB9BFB29-2E49-4D2A-B6A7-3B98B6C2CBC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Proofread","arg":"Proofread"},{"title":"Rewrite","arg":"Rewrite"},{"title":"Make Friendly","arg":"Make Friendly"},{"title":"Make Concise","arg":"Make Concise"},{"title":"Make Professional","arg":"Make Professional"},{"title":"Summarize","arg":"Summarize"},{"title":"Create Key Points","arg":"Create Key Points"},{"title":"Make List","arg":"Make List"},{"title":"Make Table","arg":"Make Table"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D73C316D-320A-4D1C-8966-F446AE9B64F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/trigger-apple-intelligence.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16C4AEFA-0A32-4B8B-8C80-7DC517AFCA22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1BED2FD-BC8A-49F4-9F65-1C12FCF12F3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
The workflow offers four [hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/):

1. Autocorrect the word under the cursor.
2. Suggest synonyms for the word under the cursor.
3. Rephrase the selected text via ChatGPT, improving its language
	+ Requires OpenAI API key.
	+ There are 3 formatting options: Overwrite selection, changes as
	  Markdown ==highlights== and ~~strikethroughs~~, and [Critic
	  Markup](https://github.com/CriticMarkup/CriticMarkup-toolkit).
4. Apple Intelligence Writing Tools
	+ This is just a convenience hotkey to trigger the Writing Tools selection
	  via keyboard, it works the same as if you click the item in `Edit` →
	  `Writing Tools`.
	+ Note that Apple Intelligence availability depends on your country, your
	  macOS version, and the app.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>03BE9390-3271-4FC7-9500-527674AE7239</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>16C4AEFA-0A32-4B8B-8C80-7DC517AFCA22</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>322E5C7E-0088-48C7-8510-ABB6F13FAF6B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>37526382-D72A-4923-92C2-DA8502E293C2</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Apple Intelligence 
Writing Tools

DOUBLE CLICK TO EDIT</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>3D656B72-508C-472A-89A5-17C81D76BE04</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>527810E3-7675-48C8-ABF2-D21274E22579</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Suggests synonyms for word under cursor

DOUBLE CLICK TO EDIT</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>569CD060-42E6-43E7-A18B-724E9B7D8357</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>rephrase selection

DOUBLE CLICK TO EDIT</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>76A3BBE1-A98B-4D93-A191-A6C85E4376DD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>812123A0-13FF-4E57-A76C-6EB0EDF2A55D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>875F6925-275F-4987-8E44-E0D75F60EF4F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>932AEE6C-291D-43C3-87CC-D2E54FA12721</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>A2A06CF6-C0FD-4680-B7D3-44BB15153491</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>OpenAI API Call</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>A79508C6-9D50-47FC-8E75-B8142611461C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Autocorrect word under cursor

DOUBLE CLICK TO EDIT</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>B34DBBCE-C220-4020-BDB7-DFAB47719F7A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>BF4EBC7E-B09A-4709-8132-D893A585F49C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>C1BED2FD-BC8A-49F4-9F65-1C12FCF12F3D</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>don't pass arg</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>CCE767C4-80B8-4E6D-B5B9-B733E7305B91</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>D1DDD036-4747-47FE-B251-0E02B2734FEA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>D73C316D-320A-4D1C-8966-F446AE9B64F5</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>FB9BFB29-2E49-4D2A-B6A7-3B98B6C2CBC7</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>70</integer>
				<key>markercount</key>
				<integer>21</integer>
				<key>maxvalue</key>
				<integer>250</integer>
				<key>minvalue</key>
				<integer>50</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Delay in ms. Adjust if results are not replaced correctly.</string>
			<key>label</key>
			<string>Autocorrection &amp; Synonyms</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>delay_ms</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>sk-...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>OpenAI API key. If empty, will use $OPENAI_API_KEY exported in .zshenv.</string>
			<key>label</key>
			<string>Rephrasing</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>alfred_apikey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>plain</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Overwrite selection</string>
						<string>plain</string>
					</array>
					<array>
						<string>Markdown highlight &amp; strikethrough</string>
						<string>markdown</string>
					</array>
					<array>
						<string>Critic Markup</string>
						<string>critic-markup</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Markup type of the output.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>output_type</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpt-4o-mini</string>
				<key>pairs</key>
				<array>
					<array>
						<string>o1</string>
						<string>o1</string>
					</array>
					<array>
						<string>GPT-4o</string>
						<string>gpt-4o</string>
					</array>
					<array>
						<string>o1 mini</string>
						<string>o1-mini</string>
					</array>
					<array>
						<string>GPT-4o mini</string>
						<string>gpt-4o-mini</string>
					</array>
					<array>
						<string>GPT-3.5 Turbo (deprecated)</string>
						<string>gpt-3.5-turbo</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>OpenAI model. The list is roughly sorted by price/capability, meaning the most expensive but also most capable model is at the top. For prices and more information, see https://platform.openai.com/docs/models</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>openai_model</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>0</integer>
				<key>markercount</key>
				<integer>41</integer>
				<key>maxvalue</key>
				<integer>20</integer>
				<key>minvalue</key>
				<integer>-20</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>↑ Frequency penalty. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>frequency_penalty</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>5</integer>
				<key>markercount</key>
				<integer>21</integer>
				<key>maxvalue</key>
				<integer>20</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>↑ Temperature. Higher values like 8 will make the output more random, while lower values like 2 will make it more focused and deterministic.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>temperature</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Please make suggestions how to improve readability, grammar, and language of the following text. Do not change anything about the content, and refrain from doing any changes when the writing is already sufficiently clear and concise. Output only the changed text. The text is:</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Prompt that is prefixed to the selected text.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>static_prompt</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.7.2</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
