<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delay_ms</key>
	<string>120</string>
	<key>diff_type</key>
	<string>character</string>
	<key>frequency_penalty</key>
	<integer>-3</integer>
	<key>openai_model</key>
	<string>gpt-4o</string>
	<key>output_type</key>
	<string>markdown</string>
	<key>static_prompt</key>
	<string>Please make suggestions how to improve readability, grammar, and language of the following text. Do not change anything about the content, and refrain from doing any changes when the writing is already sufficiently clear and concise. Try to make as little changes as possible. Output only the changed text and nothing else. The text is:</string>
</dict>
</plist>
