<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	VyMB4p35dJHojWwX58E7Bae96LPU/FMw0VSqco+i01owa6JGH39plsKkZTiamZ1oGXiD
	KWNL2xSdwb8Oi+7NsEr5dOSLXWwoFZzttk3+RNrJ+H4ZMwxYZ18v6jREMLEu7VJRE/Ek
	tiPgQKPt3gTlARmr4Fh86derq/cXpafb2eY=
	</data>
</dict>
</plist>
