<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.chromium-extensions-internal-pages</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>64E7E716-0427-41F0-844C-90D39ACC9152</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73794C72-64EA-441F-BE9A-67FB5F1A885C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Open local folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7B82F1A-97F8-490C-B4A4-5589FA869579</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy Chrome Web Store URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>692B8788-C546-49E7-B8EC-A569E3DD97B0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open in Chrome Webstore</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>692B8788-C546-49E7-B8EC-A569E3DD97B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Open extension settings or internal pages of Chrome, Brave, or any other Chromium-based browser.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chromium Extensions &amp; Pages</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/chromium-extensions-and-pages.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search installed Chromium extensions &amp; settings</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64E7E716-0427-41F0-844C-90D39ACC9152</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>73794C72-64EA-441F-BE9A-67FB5F1A885C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B7B82F1A-97F8-490C-B4A4-5589FA869579</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>692B8788-C546-49E7-B8EC-A569E3DD97B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage
Search for installed browser extensions and internal pages via the keyword `ch`:
- &lt;kbd&gt;⏎&lt;/kbd&gt; Open page, or the respective extension settings.
- &lt;kbd&gt;⌘⏎&lt;/kbd&gt; Open the extension at the Chrome Web Store.
- &lt;kbd&gt;⌥⏎&lt;/kbd&gt; Copy the Chrome Web Store URL of the extension.
- &lt;kbd&gt;⇧⏎&lt;/kbd&gt; Open the local file path of the extension.

## Browser support
Currently, only Chrome, Brave, Arc, and Thorium are supported. Adding support
for more browsers is easy, as long as they are Chromium-based.

Making a few additions to [this JSON
file](https://github.com/chrisgrieser/alfred-chromium-extensions/blob/main/scripts/browser-vars.json)
and adding the browser name to [this
list](https://github.com/chrisgrieser/alfred-chromium-extensions/blob/main/info.plist#L301-L304)
is all that is needed, and mostly self-explanatory. PRs are welcome.

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>3F6D1856-6639-4F2D-B0F7-35E5ED4CE866</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>64E7E716-0427-41F0-844C-90D39ACC9152</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>692B8788-C546-49E7-B8EC-A569E3DD97B0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>73794C72-64EA-441F-BE9A-67FB5F1A885C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B7B82F1A-97F8-490C-B4A4-5589FA869579</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ch</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Brave Browser</string>
						<string>Brave Browser</string>
					</array>
					<array>
						<string>Arc</string>
						<string>Arc</string>
					</array>
					<array>
						<string>Thorium</string>
						<string>Thorium</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Browser</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.4.3</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
