<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pass-client-alfred</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>09192EC9-2C76-4174-868D-22699F041C5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CD4709B-D7A9-4FFD-8FDE-D62EC9053E14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F6DB773-7447-4D7C-900E-59F3E9C69B19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>462A9DED-FC24-4D19-8ED2-C2D7162239B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E6D758F-172E-4E35-AD9C-3226C9D252C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B6DB61F-2CEA-4A7D-A907-2740E8C4FCD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DFAB981-4135-40F5-BA81-DEDA35D0F632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24B77922-B082-4744-B4A1-6EAD37FFD88C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73A29959-E695-4840-B351-8B6A1822639C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B23E7DD4-F41F-4969-83C0-A44AD034C37F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Copy other property (⚠ requires unlocked gpg)</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E28BAD26-7C03-414A-A567-4F44432F9FD7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Show in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F19DCDE8-CB71-48BC-AFD8-EB381C71E346</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Edit Entry in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B581416-D12E-4AC2-B604-895443940F98</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Delete Password</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B6DB61F-2CEA-4A7D-A907-2740E8C4FCD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CD4709B-D7A9-4FFD-8FDE-D62EC9053E14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>462A9DED-FC24-4D19-8ED2-C2D7162239B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09192EC9-2C76-4174-868D-22699F041C5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>09E3118E-E1F0-4A89-81D4-60E2B1A3F0B5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E6D758F-172E-4E35-AD9C-3226C9D252C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B749645-5CE0-489A-8EDD-18F24386AE98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEBD93EE-FAF9-4E4E-8627-84BEC380B964</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CD4709B-D7A9-4FFD-8FDE-D62EC9053E14</key>
		<array/>
		<key>6B581416-D12E-4AC2-B604-895443940F98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5733344-CBEB-486B-87D4-DE52472EB5A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73A29959-E695-4840-B351-8B6A1822639C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B749645-5CE0-489A-8EDD-18F24386AE98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F6DC865A-6D15-4B5F-8551-561238717CA0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>92E44739-4524-4ADF-8D4B-C4FCE41A4D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DFAB981-4135-40F5-BA81-DEDA35D0F632</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1151344-66AB-453F-8468-097748113645</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92E44739-4524-4ADF-8D4B-C4FCE41A4D5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6D758F-172E-4E35-AD9C-3226C9D252C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5733344-CBEB-486B-87D4-DE52472EB5A5</key>
		<array/>
		<key>A5A50E6D-235D-44F3-ACFA-B80578EA0558</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F6DB773-7447-4D7C-900E-59F3E9C69B19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B23E7DD4-F41F-4969-83C0-A44AD034C37F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6D758F-172E-4E35-AD9C-3226C9D252C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1151344-66AB-453F-8468-097748113645</key>
		<array/>
		<key>E28BAD26-7C03-414A-A567-4F44432F9FD7</key>
		<array/>
		<key>F19DCDE8-CB71-48BC-AFD8-EB381C71E346</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F46688E5-F719-4EE2-89C5-FB26A5D6977F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BCD3864F-3522-4AF9-893A-21B8EBB5B4C6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C6B7643-4B16-4307-ADA8-14D6837FEE59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEBD93EE-FAF9-4E4E-8627-84BEC380B964</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F6DB773-7447-4D7C-900E-59F3E9C69B19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5A50E6D-235D-44F3-ACFA-B80578EA0558</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘↵: Insert password from clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Client for the pass-cli</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/pw-generate.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F6DB773-7447-4D7C-900E-59F3E9C69B19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># "$PASSWORD_STORE_DIR" from zshenv can be passed to JavaScript
source ~/.zshenv
osascript -l JavaScript ./scripts/select-folder-for-new-pw.js "$PASSWORD_STORE_DIR"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/select-folder-for-new-pw.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select folder for new entry…</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FEBD93EE-FAF9-4E4E-8627-84BEC380B964</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>inserted</string>
						<key>uid</key>
						<string>09E3118E-E1F0-4A89-81D4-60E2B1A3F0B5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>generated</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>462A9DED-FC24-4D19-8ED2-C2D7162239B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>entry_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4B749645-5CE0-489A-8EDD-18F24386AE98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:createNewPassword}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>new pw</string>
						<key>uid</key>
						<string>F6DC865A-6D15-4B5F-8551-561238717CA0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy pw</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>73A29959-E695-4840-B351-8B6A1822639C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># "$PASSWORD_STORE_DIR" from zshenv can be passed to JavaScript
source ~/.zshenv
osascript -l JavaScript ./scripts/pass-cli-search.js "$PASSWORD_STORE_DIR" "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>Search Passwords in Pass</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24B77922-B082-4744-B4A1-6EAD37FFD88C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A5A50E6D-235D-44F3-ACFA-B80578EA0558</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/copy-pw.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>92E44739-4524-4ADF-8D4B-C4FCE41A4D5F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Password inserted.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09192EC9-2C76-4174-868D-22699F041C5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>******************</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B6DB61F-2CEA-4A7D-A907-2740E8C4FCD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># "$PASSWORD_STORE_DIR" from zshenv can be passed to JavaScript
source ~/.zshenv
osascript -l JavaScript ./scripts/show-properties.js "$PASSWORD_STORE_DIR"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show other entry fields…</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B23E7DD4-F41F-4969-83C0-A44AD034C37F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1E6D758F-172E-4E35-AD9C-3226C9D252C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>4CD4709B-D7A9-4FFD-8FDE-D62EC9053E14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/clear-clipboard.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DFAB981-4135-40F5-BA81-DEDA35D0F632</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋 Clipboard Cleared</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D1151344-66AB-453F-8468-097748113645</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>E28BAD26-7C03-414A-A567-4F44432F9FD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pass edit "{query}" &amp;&amp; sleep 0.5 ; pass git push</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F46688E5-F719-4EE2-89C5-FB26A5D6977F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:auto_push}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>BCD3864F-3522-4AF9-893A-21B8EBB5B4C6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F19DCDE8-CB71-48BC-AFD8-EB381C71E346</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pass edit "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>7C6B7643-4B16-4307-ADA8-14D6837FEE59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/delete-pw.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B581416-D12E-4AC2-B604-895443940F98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Deleted</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A5733344-CBEB-486B-87D4-DE52472EB5A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Client for the Pass-CLI

## Requirements
- `pass`
- `pinentry-mac`

Install them via `brew install pass pinentry-mac`. 

1. Setup `pass` with an GPG key. See the [Pass-Website](https://www.passwordstore.org/) for more information.
2. Setup `pinentry-mac` as your `pinentry-program`:

`[[ -d "$HOME/.gnupg" ]] || mkdir ~/.gnupg`
`echo "pinentry-program $HOMEBREW_PREFIX/bin/pinentry-mac" &gt; ~/.gnupg/gpg-agent.conf`
`gpgconf --kill gpg-agent`

## Configuration
This workflow is reads all your `PASSWORD_STORE_*` environment variables which have been added to your `~/.zshenv`. This means that most configuration is done by exporting respective variables in `~/.zshenv`. Example: `export PASSWORD_STORE_GENERATED_LENGTH=32`. 

For information on the available environment variables, see the [pass man page](https://git.zx2c4.com/password-store/about/).

If you are using a custom password-store directory, you **must** export your `PASSWORD_STORE_DIR` in your `~/.zshenv` for this workflow to work.

## Credits
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>09192EC9-2C76-4174-868D-22699F041C5D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>0F6DB773-7447-4D7C-900E-59F3E9C69B19</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>generate</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1E6D758F-172E-4E35-AD9C-3226C9D252C3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy as transient 
(= avoids clipboard history)</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>24B77922-B082-4744-B4A1-6EAD37FFD88C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>search passwords</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>3B6DB61F-2CEA-4A7D-A907-2740E8C4FCD6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>462A9DED-FC24-4D19-8ED2-C2D7162239B2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>pw</string>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>4B749645-5CE0-489A-8EDD-18F24386AE98</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>save entry_name</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>4CD4709B-D7A9-4FFD-8FDE-D62EC9053E14</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>6B581416-D12E-4AC2-B604-895443940F98</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>delete pw</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>73A29959-E695-4840-B351-8B6A1822639C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>7C6B7643-4B16-4307-ADA8-14D6837FEE59</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>edit</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>8DFAB981-4135-40F5-BA81-DEDA35D0F632</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>delayed clearing of the clipboard</string>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>92E44739-4524-4ADF-8D4B-C4FCE41A4D5F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>copy pw</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A5733344-CBEB-486B-87D4-DE52472EB5A5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>A5A50E6D-235D-44F3-ACFA-B80578EA0558</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>B23E7DD4-F41F-4969-83C0-A44AD034C37F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>select property</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>D1151344-66AB-453F-8468-097748113645</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>E28BAD26-7C03-414A-A567-4F44432F9FD7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>F19DCDE8-CB71-48BC-AFD8-EB381C71E346</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>auto-push</string>
			<key>xpos</key>
			<real>336</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>F46688E5-F719-4EE2-89C5-FB26A5D6977F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>edit</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>FEBD93EE-FAF9-4E4E-8627-84BEC380B964</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Run `pass git push` after any changes.</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Auto-Push</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>auto_push</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.4.0</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
