<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.andrew.deepcontactssearch</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>96C603D5-9255-4260-9C2E-9634816A7988</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE16BE81-0226-44F6-9150-5625FE5B3690</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Pepperrell</string>
	<key>description</key>
	<string>Search all fields in a Contacts card</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Deep Contacts Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>FE16BE81-0226-44F6-9150-5625FE5B3690</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>*</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Deep Contacts</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>96C603D5-9255-4260-9C2E-9634816A7988</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Deep search Contacts cards via the `dc` keyword. Search by street name, phone number, or notes. The asterisk wildcard prefix allows for partial name matching (e.g. `*dore` matches Commodore).

![Deep Contacts](deep-contacts-search.png)</string>
	<key>uidata</key>
	<dict>
		<key>96C603D5-9255-4260-9C2E-9634816A7988</key>
		<dict>
			<key>note</key>
			<string>Use the Search Keyword (default: `dc`) to deep search Contacts cards.

Customise your keyword via the "Configure Workflow" button above.</string>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>FE16BE81-0226-44F6-9150-5625FE5B3690</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2023.2</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/deep-contacts-search-workflow/</string>
</dict>
</plist>
