<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	D/eXdoAFM9xJUKX8Kq0MwWT4Xe13DNjZBYa2m5V45Xb+Hn+6TVMZKmvWQULaAmeXq88A
	ktHivDeooAnvDEY+yV5NfgGQ0XAAd3TzJejB/TAkUhAzDRGjG96IpDrMok084GQEym2y
	QpGX/gKz0MfTD2WCaFTfs6CVSrLvdVs4Tj4=
	</data>
</dict>
</plist>
