<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.amazonsuggest</string>
	<key>category</key>
	<string>⬇️</string>
	<key>connections</key>
	<dict>
		<key>221025C2-26B2-4105-B171-A62E18219FBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B28D7B8-4E25-48F3-8533-0C6E3FA1A138</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Get in-line Amazon search suggestions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Amazon Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.amazon.{var:top_level_domain}/s?k={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0B28D7B8-4E25-48F3-8533-0C6E3FA1A138</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Querying suggestions…</string>
				<key>script</key>
				<string>// Constants
marketplaceIDs = {
  "com.au": "A39IBJ37TRP1C6",
  "com.be": "AMEN7PMS3EDWL",
  "com.br": "A2Q3Y263D00KWC",
  "ca": "A2EUQ1WTGCTBG2",
  "cn": "AAHKV2X7AFYLW",
  "fr": "A13V1IB3VIYZZH",
  "de": "A1PA6795UKMFR9",
  "in": "A21TJRUUN4KGV",
  "it": "APJ6JRA9NG5V4",
  "co.jp": "A1VC38T7YXB528",
  "com.mx": "A1AM78C64UM0Y8",
  "nl": "A1805IZSGTT6HS",
  "pl": "A1C3SOZRARQ6R3",
  "sg": "A19VAU5U5O7RUS",
  "es": "A1RKKUPIHCS9HS",
  "se": "A2NODRKZP88ZB9",
  "com.tr": "A33AVAJ2PDY3EV",
  "co.uk": "A1F83G8C2ARO7P",
  "com": "ATVPDKIKX0DER"
}

// Helpers
function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function autoComplete(searchQuery, tld, marketplaceID) {
  // Construct URL
  const encodedQuery = encodeURIComponent(searchQuery)
  const rawURL = `https://completion.amazon.${tld}/api/2017/suggestions?limit=11&amp;suggestion-type=KEYWORD&amp;alias=aps&amp;mid=${marketplaceID}&amp;prefix=${encodedQuery}`
  const queryURL = $.NSURL.URLWithString(rawURL)
console.log(rawURL)
  // Send request
  const requestData = $.NSData.dataWithContentsOfURL(queryURL);
  const requestString = $.NSString.alloc.initWithDataEncoding(requestData, $.NSUTF8StringEncoding).js
console.log(requestString)
  // Results
  return JSON.parse(requestString)["suggestions"]
    .map(suggestion =&gt; suggestion["value"])
    .filter(value =&gt; value !== searchQuery)
}

// Items follow the same pattern
function makeItems(itemNames) {
  return itemNames.map(name =&gt; {
    return {
      "uid": name,
      "title": name,
      "subtitle": "Search “" + name + "” on Amazon",
      "arg": name
    }
  })
}

// Check values from previous runs this session
const oldArg = $.NSProcessInfo.processInfo.environment.objectForKey("oldArg").js
const oldResults = $.NSProcessInfo.processInfo.environment.objectForKey("oldResults").js

// Build items
function run(argv) {
  // If the user is typing, return early to guarantee the top entry is the currently typed query
  // If we waited for the API, a fast typer would search for an incomplete query
  if (argv[0] !== oldArg) {
    return JSON.stringify({
      "rerun": 0.1,
      "skipknowledge": true,
      "variables": { "oldResults": oldResults, "oldArg": argv[0] },
      "items": makeItems(argv.concat(oldResults?.split("\n").filter(line =&gt; line)))
    })
  }

  // Make the API request
  const tld = envVar("top_level_domain")
  const mid = marketplaceIDs[tld]
  const newResults = autoComplete(argv[0].normalize(), tld, mid)

  // Return final JSON
  return JSON.stringify({
    "skipknowledge": true,
    "variables": { "oldResults": newResults.join("\n"), "oldArg": argv[0] },
    "items": makeItems(argv.concat(newResults))
  })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Amazon with suggestions</string>
				<key>title</key>
				<string>Search Amazon</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>221025C2-26B2-4105-B171-A62E18219FBD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Get in-line suggestions from Amazon’s website via the `amazon` keyword. Press &lt;kbd&gt;↩&lt;/kbd&gt; to open the search results page in the default web browser.

![Amazon search for Streamdeck](images/about/amazon-suggest-streamdeck.png)

Set a specific Amazon store to search in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).</string>
	<key>uidata</key>
	<dict>
		<key>0B28D7B8-4E25-48F3-8533-0C6E3FA1A138</key>
		<dict>
			<key>note</key>
			<string>To change Amazon store, edit the Workflow’s Configuration.</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>221025C2-26B2-4105-B171-A62E18219FBD</key>
		<dict>
			<key>note</key>
			<string>Set your keyword via the "Configure workflow..." button.</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>amazon</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>com.au</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Australia</string>
						<string>com.au</string>
					</array>
					<array>
						<string>Belgium</string>
						<string>com.be</string>
					</array>
					<array>
						<string>Brazil</string>
						<string>com.br</string>
					</array>
					<array>
						<string>Canada</string>
						<string>ca</string>
					</array>
					<array>
						<string>China</string>
						<string>cn</string>
					</array>
					<array>
						<string>France</string>
						<string>fr</string>
					</array>
					<array>
						<string>Germany</string>
						<string>de</string>
					</array>
					<array>
						<string>India</string>
						<string>in</string>
					</array>
					<array>
						<string>Italy</string>
						<string>it</string>
					</array>
					<array>
						<string>Japan</string>
						<string>co.jp</string>
					</array>
					<array>
						<string>Mexico</string>
						<string>com.mx</string>
					</array>
					<array>
						<string>Netherlands</string>
						<string>nl</string>
					</array>
					<array>
						<string>Poland</string>
						<string>pl</string>
					</array>
					<array>
						<string>Singapore</string>
						<string>sg</string>
					</array>
					<array>
						<string>Spain</string>
						<string>es</string>
					</array>
					<array>
						<string>Sweden</string>
						<string>se</string>
					</array>
					<array>
						<string>Turkey</string>
						<string>com.tr</string>
					</array>
					<array>
						<string>United Kingdom</string>
						<string>co.uk</string>
					</array>
					<array>
						<string>United States of America</string>
						<string>com</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Marketplace</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>top_level_domain</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.3</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/amazon-suggest-workflow/</string>
</dict>
</plist>
