<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.googlesuggest</string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Get in-line Google search suggestions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Querying suggestions…</string>
				<key>script</key>
				<string>// Items follow the same pattern
function makeItems(itemNames) {
  return itemNames.map(name =&gt; {
    return {
      "uid": name,
      "title": name,
      "subtitle": "Search “" + name + "” on Google",
      "arg": name
    }
  })
}

// Check values from previous runs this session
const oldArg = $.NSProcessInfo.processInfo.environment.objectForKey("oldArg").js
const oldResults = $.NSProcessInfo.processInfo.environment.objectForKey("oldResults").js

// Build items
function run(argv) {
  // If the user is typing, return early to guarantee the top entry is the currently typed query
  // If we waited for the API, a fast typer would search for an incomplete query
  if (argv[0] !== oldArg) {
    return JSON.stringify({
      "rerun": 0.1,
      "skipknowledge": true,
      "variables": { "oldResults": oldResults, "oldArg": argv[0] },
      "items": makeItems(argv.concat(oldResults?.split("\n").filter(line =&gt; line)))
    })
  }

  // Make the API request
  const encodedQuery = encodeURIComponent(argv[0])
  const queryURL = $.NSURL.URLWithString("https://suggestqueries.google.com/complete/search?output=chrome&amp;ie=utf8&amp;oe=utf8&amp;q=" + encodedQuery)
  const requestData = $.NSData.dataWithContentsOfURL(queryURL);
  const requestString = $.NSString.alloc.initWithDataEncoding(requestData, $.NSUTF8StringEncoding).js
  const newResults = JSON.parse(requestString)[1].filter(result =&gt; result !== argv[0])

  // Return final JSON
  return JSON.stringify({
    "skipknowledge": true,
    "variables": { "oldResults": newResults.join("\n"), "oldArg": argv[0] },
    "items": makeItems(argv.concat(newResults))
  })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Google with suggestions</string>
				<key>title</key>
				<string>Search Google</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Get in-line suggestions from Google’s search results via the `g` keyword ([configurable](https://www.alfredapp.com/help/workflows/user-configuration/)). Press &lt;kbd&gt;↩&lt;/kbd&gt; to open the search results page in the default web browser.

![Google in-line results](images/about/google-search-results.png)</string>
	<key>uidata</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>note</key>
			<string>Set your keyword via the "Configure workflow..." button.</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>g</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/google-suggest-workflow/</string>
</dict>
</plist>
