<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.plain-text-utilities1</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>1D749935-6E08-436A-A643-FC0CDB4941FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>601A9A7F-900F-4728-B2A2-714664BC25EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95BD13CE-A1F9-45BD-8BC5-8F3F22A93231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F9F299E-A995-42F4-8E78-E22AC821B859</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B259D744-0386-43A6-9407-025B46325EF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95BD13CE-A1F9-45BD-8BC5-8F3F22A93231</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F9F299E-A995-42F4-8E78-E22AC821B859</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95BD13CE-A1F9-45BD-8BC5-8F3F22A93231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0FB7F6B-A974-406A-874E-ECE9A52C50FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>601A9A7F-900F-4728-B2A2-714664BC25EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F9F299E-A995-42F4-8E78-E22AC821B859</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B259D744-0386-43A6-9407-025B46325EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59EA681A-3183-4B9D-9A93-32C8131AC999</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3C91204-FF42-4926-8D76-24C539134442</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95BD13CE-A1F9-45BD-8BC5-8F3F22A93231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E459E2C2-C8FA-4611-AD32-56C8DE08A16B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3C91204-FF42-4926-8D76-24C539134442</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Plain Text Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>md-image-to-html.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>MD Image Link → &lt;img&gt;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1D749935-6E08-436A-A643-FC0CDB4941FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9F9F299E-A995-42F4-8E78-E22AC821B859</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:to_paste}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59EA681A-3183-4B9D-9A93-32C8131AC999</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Dedent Indentation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>23BC13BE-D621-429D-A93E-15FECE927923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$*" | 
	awk "NF {p=1} p" | 
	python3 -c "import textwrap,sys; print(textwrap.dedent(sys.stdin.read()))"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B259D744-0386-43A6-9407-025B46325EF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>to_paste</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>95BD13CE-A1F9-45BD-8BC5-8F3F22A93231</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>lowercase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>A0FB7F6B-A974-406A-874E-ECE9A52C50FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>601A9A7F-900F-4728-B2A2-714664BC25EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Capital case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E459E2C2-C8FA-4611-AD32-56C8DE08A16B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>D3C91204-FF42-4926-8D76-24C539134442</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

**Text Actions**
- Titlecase
- Lowercase
- Uppercase
- Poor Text (removes formatting)
- Transform Spaces to Tabs
- Append to Clipboard (similar to Alfred's built-in function, but with manual hotkey and with universal action)
- Calculate the sum of all numbers in the text. Negative numbers are supported, as are both "," or "." as decimal separators. (Thousand separators are not supported though, as they would create ambiguous cases.)
- Run Brett Terpstra's [SearchLink](https://brettterpstra.com/projects/searchlink/), which fetches the URL and creates a markdown link of the selected text.

**URL Actions**
- URL Encode
- URL Decode
- Create compact markdown link
- Create compact markdown link of all URLs in selecting (actually a Text Action...)
- SearchTitle: Fetch the title of the URL and create a Markdown-URL (basically the opposite of SearchLink)

**Other**
- Simple password generator (default length configurable via environment variable)
- quickly access SearchLink documentation &amp; configuration
- past the previous clipboard content (suggested hotkey: `cmd + shift + V`)

---
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>1D749935-6E08-436A-A643-FC0CDB4941FE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>59EA681A-3183-4B9D-9A93-32C8131AC999</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>601A9A7F-900F-4728-B2A2-714664BC25EA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>FIX Alfred loosing focus on when using universal actions with Compatibility mode</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>95BD13CE-A1F9-45BD-8BC5-8F3F22A93231</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>save `to_paste`</string>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>9F9F299E-A995-42F4-8E78-E22AC821B859</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>A0FB7F6B-A974-406A-874E-ECE9A52C50FB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>B259D744-0386-43A6-9407-025B46325EF5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>focus app</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>D3C91204-FF42-4926-8D76-24C539134442</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>E459E2C2-C8FA-4611-AD32-56C8DE08A16B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>default_pw_length</key>
		<string>32</string>
	</dict>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
