<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.plain-text-utilities1</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>06EAC267-0AB1-438B-8BAC-D258752286BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59EA681A-3183-4B9D-9A93-32C8131AC999</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D749935-6E08-436A-A643-FC0CDB4941FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E601445-90B1-4564-BF5E-03D2B9830210</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C0A9359-5877-4DCE-8DD9-824CB6E5E4BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3D363FE9-8085-4930-B367-E0EFC46EB62E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74FC629B-C07E-49AC-9A18-82A5844CC79F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D60A0ABA-E10A-4B8D-8363-BC2DCA228200</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74FC629B-C07E-49AC-9A18-82A5844CC79F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B259D744-0386-43A6-9407-025B46325EF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C0A9359-5877-4DCE-8DD9-824CB6E5E4BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E66CDA1E-38E6-44E4-B8F9-4ACF6D1EA1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D60A0ABA-E10A-4B8D-8363-BC2DCA228200</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D363FE9-8085-4930-B367-E0EFC46EB62E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D60A0ABA-E10A-4B8D-8363-BC2DCA228200</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>06EAC267-0AB1-438B-8BAC-D258752286BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E66CDA1E-38E6-44E4-B8F9-4ACF6D1EA1B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC9CF59F-A7DC-4FFE-A068-6B81CB115D69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D60A0ABA-E10A-4B8D-8363-BC2DCA228200</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC9CF59F-A7DC-4FFE-A068-6B81CB115D69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47760D9D-8CD4-4A91-A50B-94235D0D5A0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Plain Text Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>md-image-to-html.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>MD Image Link → &lt;img&gt;</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1D749935-6E08-436A-A643-FC0CDB4941FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B259D744-0386-43A6-9407-025B46325EF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Encode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run (argv){
	return encodeURIComponent(argv[0]);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74FC629B-C07E-49AC-9A18-82A5844CC79F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D60A0ABA-E10A-4B8D-8363-BC2DCA228200</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run (argv){
	return decodeURIComponent(argv[0]);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D363FE9-8085-4930-B367-E0EFC46EB62E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Decode URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59EA681A-3183-4B9D-9A93-32C8131AC999</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>06EAC267-0AB1-438B-8BAC-D258752286BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Dedent Indentation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>23BC13BE-D621-429D-A93E-15FECE927923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$*" | awk "NF {p=1} p" | python3 -c "import textwrap,sys; print(textwrap.dedent(sys.stdin.read()))"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC9CF59F-A7DC-4FFE-A068-6B81CB115D69</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clipboard</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Edit Clipboard Content</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E601445-90B1-4564-BF5E-03D2B9830210</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋 Updated Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>47760D9D-8CD4-4A91-A50B-94235D0D5A0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>4</integer>
				<key>footertext</key>
				<string>⏎: Save   ⇧⏎: Line Break</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>E66CDA1E-38E6-44E4-B8F9-4ACF6D1EA1B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8C0A9359-5877-4DCE-8DD9-824CB6E5E4BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

**Text Actions**
- Titlecase
- Lowercase
- Uppercase
- Poor Text (removes formatting)
- Transform Spaces to Tabs
- Append to Clipboard (similar to Alfred's built-in function, but with manual hotkey and with universal action)
- Calculate the sum of all numbers in the text. Negative numbers are supported, as are both "," or "." as decimal separators. (Thousand separators are not supported though, as they would create ambiguous cases.)
- Run Brett Terpstra's [SearchLink](https://brettterpstra.com/projects/searchlink/), which fetches the URL and creates a markdown link of the selected text.

**URL Actions**
- URL Encode
- URL Decode
- Create compact markdown link
- Create compact markdown link of all URLs in selecting (actually a Text Action...)
- SearchTitle: Fetch the title of the URL and create a Markdown-URL (basically the opposite of SearchLink)

**Other**
- Simple password generator (default length configurable via environment variable)
- quickly access SearchLink documentation &amp; configuration
- past the previous clipboard content (suggested hotkey: `cmd + shift + V`)

---
Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>06EAC267-0AB1-438B-8BAC-D258752286BB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>1D749935-6E08-436A-A643-FC0CDB4941FE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>23BC13BE-D621-429D-A93E-15FECE927923</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>2E601445-90B1-4564-BF5E-03D2B9830210</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>edit</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>3D363FE9-8085-4930-B367-E0EFC46EB62E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>47760D9D-8CD4-4A91-A50B-94235D0D5A0B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>59EA681A-3183-4B9D-9A93-32C8131AC999</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>paste</string>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>64CBE3CE-C747-46CB-8D59-78A5B788E7D5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>709E6B53-AAD2-4089-B79F-7EEDB6B6B27C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>74FC629B-C07E-49AC-9A18-82A5844CC79F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>7C373ABF-2DA6-4ABC-B9B9-88EC0F0A01E7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>FIX Alfred loosing focus on when using universal actions with Compatibility mode</string>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>8C0A9359-5877-4DCE-8DD9-824CB6E5E4BF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>get clipboard</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>A641DF13-BAC1-4A9B-8BCC-99C080BE6500</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>ACEFCAB6-39BB-471F-BAC1-324B1B72BC1C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B259D744-0386-43A6-9407-025B46325EF5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open -a</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>D60A0ABA-E10A-4B8D-8363-BC2DCA228200</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>E66CDA1E-38E6-44E4-B8F9-4ACF6D1EA1B8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>edit</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>E99A3FBF-B036-4D0F-8E6C-90DDAA444F97</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>EC9CF59F-A7DC-4FFE-A068-6B81CB115D69</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>copy</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>default_pw_length</key>
		<string>32</string>
	</dict>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
