<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.file.please</string>
	<key>connections</key>
	<dict>
		<key>01130782-84CB-4639-BDE4-5788D3343078</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFE5FAA2-F509-4ED4-A9B3-B8719CD53B05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FB0AE49-966D-4307-A6AF-ACD90C8D5DEF</key>
		<array/>
		<key>52F304A0-4E80-4668-AE67-BC49D5266C0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB0AE49-966D-4307-A6AF-ACD90C8D5DEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C63FB4D-BA3E-4119-925D-78117EAE4A67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0B7A1F6-F722-4ED1-8762-4DE141C29B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8811A84B-77A5-4165-80F1-218067A8FE33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C63FB4D-BA3E-4119-925D-78117EAE4A67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9032DB8D-F86B-45D8-BCEF-3B02D82B070F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E5C507-B8A4-4236-89AA-571E41BE2449</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93CBBEBC-074B-4984-90CB-BCB00B11F3FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED6B8FD5-6FF1-4289-94B8-415754357F6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA896B8A-8F6E-4725-94DC-07D0C330D99A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9032DB8D-F86B-45D8-BCEF-3B02D82B070F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6BB4D01-1FF6-48ED-8D5F-B4BED512CACB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36BF0313-1450-474C-ACC2-1DB367B0DA20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED6B8FD5-6FF1-4289-94B8-415754357F6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323A5DC2-6B32-4B04-AC9D-F910A5EFF8B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0B7A1F6-F722-4ED1-8762-4DE141C29B1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B50D62-A1FF-4976-B960-0B85309B2BC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F615912-7D8D-41C8-956B-00D4F52E2266</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52F304A0-4E80-4668-AE67-BC49D5266C0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BBC6ED20-4D3E-4895-8C89-6AE4BE80FBA1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E6BB4D01-1FF6-48ED-8D5F-B4BED512CACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EAB1DEEF-5E65-441A-88EA-F60E6D026D57</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA896B8A-8F6E-4725-94DC-07D0C330D99A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2058FF58-0457-4CF3-94F4-291095779692</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFE5FAA2-F509-4ED4-A9B3-B8719CD53B05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323A5DC2-6B32-4B04-AC9D-F910A5EFF8B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Go to the current document of the active application</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File, Please</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:info}</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>58B50D62-A1FF-4976-B960-0B85309B2BC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>3FB0AE49-966D-4307-A6AF-ACD90C8D5DEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>failure</string>
						<key>outputlabel</key>
						<string>failure</string>
						<key>uid</key>
						<string>1F615912-7D8D-41C8-956B-00D4F52E2266</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browser</string>
						<key>outputlabel</key>
						<string>Alfred Browser</string>
						<key>uid</key>
						<string>BBC6ED20-4D3E-4895-8C89-6AE4BE80FBA1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>finder</string>
						<key>outputlabel</key>
						<string>Reveal in Finder</string>
						<key>uid</key>
						<string>EAB1DEEF-5E65-441A-88EA-F60E6D026D57</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>Command Line</string>
						<key>uid</key>
						<string>2058FF58-0457-4CF3-94F4-291095779692</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F0B7A1F6-F722-4ED1-8762-4DE141C29B1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/main.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>this</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C63FB4D-BA3E-4119-925D-78117EAE4A67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>1</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8811A84B-77A5-4165-80F1-218067A8FE33</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>52F304A0-4E80-4668-AE67-BC49D5266C0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E6BB4D01-1FF6-48ED-8D5F-B4BED512CACB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>36BF0313-1450-474C-ACC2-1DB367B0DA20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ROOT="$alfred_preferences/workflows/$alfred_workflow_uid"

mkdir -p /tmp/file.please 2&gt;/dev/null
cp "$ROOT/src/fileinfo.sh" "/tmp/file.please/fileinfo.sh"
chmod +x "/tmp/file.please/fileinfo.sh"
echo -n "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA896B8A-8F6E-4725-94DC-07D0C330D99A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 0.5
printf "%s" "$fullpath" | pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68E5C507-B8A4-4236-89AA-571E41BE2449</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd {query} &amp;&amp; /tmp/file.please/fileinfo.sh "{var:filename}"
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9032DB8D-F86B-45D8-BCEF-3B02D82B070F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>01130782-84CB-4639-BDE4-5788D3343078</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/recent.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>323A5DC2-6B32-4B04-AC9D-F910A5EFF8B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Downloads</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>kMDItemDateAdded</key>
					<string>property</string>
				</dict>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>download</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FFE5FAA2-F509-4ED4-A9B3-B8719CD53B05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.devon-technologies.think</string>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
					<string>dev.zed.Zed</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>93CBBEBC-074B-4984-90CB-BCB00B11F3FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Desktop</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>kMDItemContentCreationDate</key>
					<string>property.alt1</string>
					<key>kMDItemContentModificationDate</key>
					<string>property.alt2</string>
					<key>kMDItemDateAdded</key>
					<string>property</string>
					<key>kMDItemLastUsedDate</key>
					<string>property.alt3</string>
				</dict>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED6B8FD5-6FF1-4289-94B8-415754357F6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](images/icon.alt.png)

# File, Please

---  
Created by [Patrick Sy](https://github.com/zeitlings) | [More Workflows](https://github.com/zeitlings/alfred-workflows) | [Alfred Forum](https://www.alfredforum.com/topic/22957-edit-clipboard/) | [Buy me a Coffee](https://ko-fi.com/zeitlings) ☕  
---  

## Usage

Quickly go to the file or document open in the frontmost application, or browse the current Finder location via the __primary__ [Hotkey Trigger](https://www.alfredapp.com/help/workflows/triggers/hotkey/) ✱  


The __secondary__ [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) in this workflow allow you to quickly reveal the most recently downloaded file in your Downloads folder, or the file most recently added to the Desktop.

---

&gt; ✱  __Browsing the Finder location__ requires either the *Alfred Browser*, or *Command Line* default strategy, and is invoked when pressing the primary Hotkey combination while Finder has focus.</string>
	<key>uidata</key>
	<dict>
		<key>01130782-84CB-4639-BDE4-5788D3343078</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>→ Double Click ←

to assign a keyboard 
shortcut (e.g. ⌥⌘L)
-------------------
Recent Download
------------------- 
Secondary Hotkey</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>323A5DC2-6B32-4B04-AC9D-F910A5EFF8B3</key>
		<dict>
			<key>note</key>
			<string>Reveal the most recently downloaded file in the Downloads folder</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>36BF0313-1450-474C-ACC2-1DB367B0DA20</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>3FB0AE49-966D-4307-A6AF-ACD90C8D5DEF</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>52F304A0-4E80-4668-AE67-BC49D5266C0E</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>58B50D62-A1FF-4976-B960-0B85309B2BC7</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>68E5C507-B8A4-4236-89AA-571E41BE2449</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>7C63FB4D-BA3E-4119-925D-78117EAE4A67</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>8811A84B-77A5-4165-80F1-218067A8FE33</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>→ Double Click ←

Assign a keyboard 
shortcut (e.g. ⌥⌘.) 
------------------- 
Go to Current File 
------------------- 
Primary Hotkey</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>9032DB8D-F86B-45D8-BCEF-3B02D82B070F</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>93CBBEBC-074B-4984-90CB-BCB00B11F3FF</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>→ Double Click ←

to assign a keyboard 
shortcut (e.g. ⇧⌘D)
-------------------
Recent Desktop File
------------------- 
Secondary Hotkey</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>DA896B8A-8F6E-4725-94DC-07D0C330D99A</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E6BB4D01-1FF6-48ED-8D5F-B4BED512CACB</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>ED6B8FD5-6FF1-4289-94B8-415754357F6E</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>F0B7A1F6-F722-4ED1-8762-4DE141C29B1C</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>FFE5FAA2-F509-4ED4-A9B3-B8719CD53B05</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>browser</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Reveal in Finder</string>
						<string>finder</string>
					</array>
					<array>
						<string>Alfred Browser</string>
						<string>browser</string>
					</array>
					<array>
						<string>Command Line</string>
						<string>terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Strategy</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>open_in</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>file</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Navigate to current file</string>
						<string>file</string>
					</array>
					<array>
						<string>Navigate to containing folder</string>
						<string>folder</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Browse Option</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser_file_or_folder</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
