<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Searches</string>
	<key>connections</key>
	<dict>
		<key>05B2913E-95E3-4E72-A4C1-93E1A7A0C889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>279C338C-5842-421C-A857-FBD9552F5A2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DEB7DC6-BC1F-4E24-8930-2D157EF66CE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>669EC31A-C9B1-4515-85BA-4809329A85F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>279C338C-5842-421C-A857-FBD9552F5A2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4610619C-F64A-42DF-B3B5-F2E14447FA42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F0F9EB21-50B8-4C2D-BCDD-AF1F38D448BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6F7AD54-C4BD-4B8F-8D32-D5680EECB192</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3911AEA8-B4EE-4AE9-840F-B3044B36E1AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7067A0A4-D9DA-4775-BECD-24C3249B29E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B285645-6D02-442F-8EAC-6DB1EBBF0AD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0951FDD8-D9E2-4DC3-8844-58CF1AABE48C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BA12A65-7280-4D1E-AE15-F609CF646399</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF9EC7AB-2DA7-4A8E-86CC-D63DF4929210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB2F50DC-81E4-4FE9-B053-EE4331CB76D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8277AD7-938D-47A3-8C3E-CA4929723C43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADC0722C-95D6-4BDE-B235-615784A424DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E00EB78-1FAB-400E-B437-E867401108F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2FE0349-860A-44F0-B49D-20C8F895F9C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3911AEA8-B4EE-4AE9-840F-B3044B36E1AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15FF9B9D-0AF2-48F4-84C0-9781E0F3766B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5FEA91E-E371-4D98-863B-604F2D5DCADA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF55CB29-2AC2-4527-BCDC-A622FBD4BAE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAA2ADF7-2FEB-4F9A-AE98-17378171B5CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05B2913E-95E3-4E72-A4C1-93E1A7A0C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>795116F8-1CC3-4379-A1AB-2A4A51D41240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C35BAC57-E3D9-4FCA-8B09-2C81C2D8D7B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF4BD673-F9B0-471E-9562-239EA93A628A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CA334D9-5DCD-4CEF-986C-3ED4283F6C55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>787AA6A6-CD07-447C-8D73-F4FCD1FEC10D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Icon Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Icon copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7067A0A4-D9DA-4775-BECD-24C3249B29E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set the clipboard to POSIX file "{query}"
return "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3911AEA8-B4EE-4AE9-840F-B3044B36E1AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://icons8.com/icons/set/{query}/color</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>795116F8-1CC3-4379-A1AB-2A4A51D41240</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?tbs=ic%3Atrans&amp;tbm=isch&amp;q={query}+icon</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CF8B97A-6865-489C-8B65-3C892683D59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>iconsearch-with-preview.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Local Icons</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2FE0349-860A-44F0-B49D-20C8F895F9C0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Several Icon Sites: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.iconfinder.com/search/?q={query}&amp;price=free</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A069BE51-DA62-4835-8048-AF3A608C97D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.flaticon.com/search?word={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C35BAC57-E3D9-4FCA-8B09-2C81C2D8D7B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>15FF9B9D-0AF2-48F4-84C0-9781E0F3766B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://thenounproject.com/search/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4CA334D9-5DCD-4CEF-986C-3ED4283F6C55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Blackwhite Icon: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF4BD673-F9B0-471E-9562-239EA93A628A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⛔️ No Custom icon defined</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4610619C-F64A-42DF-B3B5-F2E14447FA42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://icon-sets.iconify.design/?query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>787AA6A6-CD07-447C-8D73-F4FCD1FEC10D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Use Custom Icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BAA2ADF7-2FEB-4F9A-AE98-17378171B5CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>custom-icon-updater.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05B2913E-95E3-4E72-A4C1-93E1A7A0C889</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>none</string>
						<key>uid</key>
						<string>F0F9EB21-50B8-4C2D-BCDD-AF1F38D448BB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>279C338C-5842-421C-A857-FBD9552F5A2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Big Sur Icons: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1DEB7DC6-BC1F-4E24-8930-2D157EF66CE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Icon updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D6F7AD54-C4BD-4B8F-8D32-D5680EECB192</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://macosicons.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>669EC31A-C9B1-4515-85BA-4809329A85F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>custom icon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>📝 Edit Custom Icon Script</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADC0722C-95D6-4BDE-B235-615784A424DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>custom-icon-updater.sh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5E00EB78-1FAB-400E-B437-E867401108F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://fonts.google.com/icons?icon.query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E8277AD7-938D-47A3-8C3E-CA4929723C43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Material Icons: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AB2F50DC-81E4-4FE9-B053-EE4331CB76D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://lucide.dev/?search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF55CB29-2AC2-4527-BCDC-A622FBD4BAE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Lucide Icons: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5FEA91E-E371-4D98-863B-604F2D5DCADA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://unicode-table.com/en/search/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0951FDD8-D9E2-4DC3-8844-58CF1AABE48C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>uni</string>
				<key>subtext</key>
				<string>on several sites</string>
				<key>text</key>
				<string>Unicode Character: '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B285645-6D02-442F-8EAC-6DB1EBBF0AD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.amp-what.com/unicode/search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5BA12A65-7280-4D1E-AE15-F609CF646399</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://graphemica.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF9EC7AB-2DA7-4A8E-86CC-D63DF4929210</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>brew install iconsur
brew install folderify</string>
	<key>uidata</key>
	<dict>
		<key>05B2913E-95E3-4E72-A4C1-93E1A7A0C889</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>0951FDD8-D9E2-4DC3-8844-58CF1AABE48C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>15FF9B9D-0AF2-48F4-84C0-9781E0F3766B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>1DEB7DC6-BC1F-4E24-8930-2D157EF66CE1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>279C338C-5842-421C-A857-FBD9552F5A2C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>3911AEA8-B4EE-4AE9-840F-B3044B36E1AC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>copy image to clipboard</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>4610619C-F64A-42DF-B3B5-F2E14447FA42</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>4CA334D9-5DCD-4CEF-986C-3ED4283F6C55</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>5BA12A65-7280-4D1E-AE15-F609CF646399</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>5E00EB78-1FAB-400E-B437-E867401108F0</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>669EC31A-C9B1-4515-85BA-4809329A85F8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>7067A0A4-D9DA-4775-BECD-24C3249B29E2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>787AA6A6-CD07-447C-8D73-F4FCD1FEC10D</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>795116F8-1CC3-4379-A1AB-2A4A51D41240</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7CF8B97A-6865-489C-8B65-3C892683D59E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>9B285645-6D02-442F-8EAC-6DB1EBBF0AD0</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>A069BE51-DA62-4835-8048-AF3A608C97D0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>AB2F50DC-81E4-4FE9-B053-EE4331CB76D5</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>ADC0722C-95D6-4BDE-B235-615784A424DA</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>edit preferences file</string>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>AF9EC7AB-2DA7-4A8E-86CC-D63DF4929210</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1050</integer>
		</dict>
		<key>B2FE0349-860A-44F0-B49D-20C8F895F9C0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>B5FEA91E-E371-4D98-863B-604F2D5DCADA</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>BAA2ADF7-2FEB-4F9A-AE98-17378171B5CA</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>BCDE5A63-BF29-4CD2-B482-D2A56CD510A1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C35BAC57-E3D9-4FCA-8B09-2C81C2D8D7B9</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D6F7AD54-C4BD-4B8F-8D32-D5680EECB192</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>DF4BD673-F9B0-471E-9562-239EA93A628A</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>DF55CB29-2AC2-4527-BCDC-A622FBD4BAE1</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>E8277AD7-938D-47A3-8C3E-CA4929723C43</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>custom_icon_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Custom Icons</string>
		<key>icon_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dokumente/Icon Collections</string>
		<key>pwa_folder</key>
		<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Brave Browser Apps.localized/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>pwa_folder</string>
		<string>custom_icon_folder</string>
		<string>icon_folder</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
