<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	qIn77sdliIUbHsXQgVHK0zYns+r3xa8fr1Cp9jq+ATD/HCzvpI7FJ8CiFO5bKRmbfmRK
	k+0eiurqbJH9ygo9y/c3jz+ZeGZ2SP9PHlbV4VE6hLhy2l3Nmy4/tgMk8zJGqGDzVzom
	IDoEiYiTp/JrtQ7kelYcVN1W1fdZZkkSYag=
	</data>
</dict>
</plist>
