<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apptorium.SideNotes.alfredWorkflow</string>
	<key>connections</key>
	<dict>
		<key>4D0B1237-2C3B-4D68-9DB6-D3DDCAAF2752</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE48FC90-9C1D-43DB-9414-357EFAF740C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E2FA741-D865-43D1-A8CE-990544525400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37E26D36-9B03-4269-AB0C-7C495CC058E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6409DA2-6226-4733-8F2C-52F68AE36880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>99D0186D-3D4A-406B-807E-C8CC1B0F853A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86CDF557-903E-4ADA-A09F-889831A5DD09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B4840E2-EA43-4B9C-9B97-9E269076F3DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F2AB951-8EE6-4E88-9808-E89590191CFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>917957BD-4A3C-49E6-B4B7-A54F7264D718</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FE7CA6B-C461-4B66-894E-9623840838C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA9FD394-19B6-4087-8667-9EF41FC3E771</key>
		<array/>
		<key>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>491FC12D-2928-4AFE-8211-56C62A89464A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6015504-4073-4B31-A7B8-552D7BF19A38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>917957BD-4A3C-49E6-B4B7-A54F7264D718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7BCB6B5-D31F-4E75-9CF1-C99B4224FBE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AF1A048-013D-49F4-ABA0-A5764B319D57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE48FC90-9C1D-43DB-9414-357EFAF740C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC34BEDE-FAD6-4BAF-BD83-00FC24CEC7B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA9FD394-19B6-4087-8667-9EF41FC3E771</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21CCF357-8829-4487-96FA-2941AC111D2E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy &amp; Paste: {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Apptorium</string>
	<key>description</key>
	<string>SideNotes Workflow</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>SideNotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sn folder</string>
				<key>subtext</key>
				<string>Creates folder {query}</string>
				<key>text</key>
				<string>sn folder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B4840E2-EA43-4B9C-9B97-9E269076F3DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];

  let app = new Application("SideNotes");
  let n = app.make({ 
	"new": "folder",
	"withProperties": { "name": query }
  });

  return query;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F2AB951-8EE6-4E88-9808-E89590191CFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sn search</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0];
	let app = Application("SideNotes");
    let queryResults = app.search(query);

    var results = [];

    for (let res of queryResults) {
    	results.push({
    	    "uid": res.identifier,
    		"title": res.title,
    		"subtitle": res.details,
			"arg": res.identifier,
			"action": {
				"text": res.details
			}
    	});
    }

    return JSON.stringify({
    	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for {query}</string>
				<key>title</key>
				<string>sn search</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>917957BD-4A3C-49E6-B4B7-A54F7264D718</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search SideNotes for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>D6015504-4073-4B31-A7B8-552D7BF19A38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];

  let app = new Application("SideNotes");
  app.openWithId(query);

  return query;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FE7CA6B-C461-4B66-894E-9623840838C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sn theme</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading themes...</string>
				<key>script</key>
				<string>function run(argv) {
    let query = argv[0];
	let app = Application("SideNotes");
    var results = [];

    for (let theme of app.searchThemes(query)) {
    	results.push({
    	    "uid": theme.path,
    		"title": theme.name,
    		"subtitle": "Set \"" + theme.name + "\" theme",
			"arg": theme.path
    	});
    }

    return JSON.stringify({
    	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set theme</string>
				<key>title</key>
				<string>sn theme</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E2FA741-D865-43D1-A8CE-990544525400</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  Application("SideNotes").setTheme(query);

  return query;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37E26D36-9B03-4269-AB0C-7C495CC058E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>You need to open a note in SideNotes first.</string>
				<key>title</key>
				<string>Note is not open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B6409DA2-6226-4733-8F2C-52F68AE36880</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  return Application("SideNotes").currentNote().text();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sn current</string>
				<key>subtext</key>
				<string>Current Note</string>
				<key>text</key>
				<string>sn current</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D0B1237-2C3B-4D68-9DB6-D3DDCAAF2752</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>99D0186D-3D4A-406B-807E-C8CC1B0F853A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string>{query}</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>86CDF557-903E-4ADA-A09F-889831A5DD09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>491FC12D-2928-4AFE-8211-56C62A89464A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  return "sidenotes://open/" + Application("SideNotes").currentNote().id();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sn current url</string>
				<key>subtext</key>
				<string>Current note URL</string>
				<key>text</key>
				<string>sn current url</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE48FC90-9C1D-43DB-9414-357EFAF740C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sn pref</string>
				<key>subtext</key>
				<string>Show SideNotes preferences</string>
				<key>text</key>
				<string>sn pref</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7BCB6B5-D31F-4E75-9CF1-C99B4224FBE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  Application("SideNotes").showPreferences()
  return nil;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9AF1A048-013D-49F4-ABA0-A5764B319D57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>snippet</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for notes...</string>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0];
	let app = Application("SideNotes");
    let queryResults = app.searchNotes(query);

    var results = [];

    for (let res of queryResults) {
    	results.push({
    	    "uid": res.identifier,
    		"title": res.title,
    		"subtitle": res.details,
		"arg": res.details
    	});
    }

    return JSON.stringify({
        	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Quickly copy note content...</string>
				<key>title</key>
				<string>snippet</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC34BEDE-FAD6-4BAF-BD83-00FC24CEC7B8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AA9FD394-19B6-4087-8667-9EF41FC3E771</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>21CCF357-8829-4487-96FA-2941AC111D2E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>SideNotes is an app that keeps your notes on the side of the screen. Appears when you click a little bar or move your cursor to the screen side. Note down – get it out of your mind ‐ move on.

This workflow allows to take notes in SideNotes, create new folders, change theme, search any text in notes and use snippets.

More about this workflow:
https://www.apptorium.com/sidenotes/articles/alfred-workflow

SideNotes website:
https://www.apptorium.com/sidenotes</string>
	<key>uidata</key>
	<dict>
		<key>21CCF357-8829-4487-96FA-2941AC111D2E</key>
		<dict>
			<key>note</key>
			<string>Copy &amp; Paste to the active app</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>1765</real>
		</dict>
		<key>37E26D36-9B03-4269-AB0C-7C495CC058E2</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>3F2AB951-8EE6-4E88-9808-E89590191CFC</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>491FC12D-2928-4AFE-8211-56C62A89464A</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>1305</real>
		</dict>
		<key>4D0B1237-2C3B-4D68-9DB6-D3DDCAAF2752</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>5E2FA741-D865-43D1-A8CE-990544525400</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>6FE7CA6B-C461-4B66-894E-9623840838C4</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>86CDF557-903E-4ADA-A09F-889831A5DD09</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>8B4840E2-EA43-4B9C-9B97-9E269076F3DD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>917957BD-4A3C-49E6-B4B7-A54F7264D718</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>9AF1A048-013D-49F4-ABA0-A5764B319D57</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>AA9FD394-19B6-4087-8667-9EF41FC3E771</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>1635</real>
		</dict>
		<key>B6409DA2-6226-4733-8F2C-52F68AE36880</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>1305</real>
		</dict>
		<key>D6015504-4073-4B31-A7B8-552D7BF19A38</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>D7BCB6B5-D31F-4E75-9CF1-C99B4224FBE9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>DE48FC90-9C1D-43DB-9414-357EFAF740C4</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>1305</real>
		</dict>
		<key>EC34BEDE-FAD6-4BAF-BD83-00FC24CEC7B8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>1635</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.apptorium.com/sidenotes</string>
</dict>
</plist>
