<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apptorium.SideNotes.alfredWorkflow</string>
	<key>connections</key>
	<dict>
		<key>2776F54A-FABC-44C7-8453-5161A49E461B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48CCAB07-7399-4E10-A415-377568B45CAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E0649C2-8212-4FC3-99EF-B3E30E593319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39E61A92-CF0E-48DF-BED7-B51BB543C275</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AACCA9EE-492C-48B7-92BE-44C7A0255DF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48CCAB07-7399-4E10-A415-377568B45CAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D2396B8-38B6-4513-A841-D63F4EBA1E3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D0B1237-2C3B-4D68-9DB6-D3DDCAAF2752</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE48FC90-9C1D-43DB-9414-357EFAF740C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>554231DC-5B13-44A0-A34F-FB231319DE19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39E61A92-CF0E-48DF-BED7-B51BB543C275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E2FA741-D865-43D1-A8CE-990544525400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37E26D36-9B03-4269-AB0C-7C495CC058E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6409DA2-6226-4733-8F2C-52F68AE36880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>99D0186D-3D4A-406B-807E-C8CC1B0F853A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86CDF557-903E-4ADA-A09F-889831A5DD09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D2396B8-38B6-4513-A841-D63F4EBA1E3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AACCA9EE-492C-48B7-92BE-44C7A0255DF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B4840E2-EA43-4B9C-9B97-9E269076F3DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F2AB951-8EE6-4E88-9808-E89590191CFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E0649C2-8212-4FC3-99EF-B3E30E593319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D2396B8-38B6-4513-A841-D63F4EBA1E3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>917957BD-4A3C-49E6-B4B7-A54F7264D718</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FE7CA6B-C461-4B66-894E-9623840838C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CA86F84-DEEB-4664-8B6D-74BA262D165C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2776F54A-FABC-44C7-8453-5161A49E461B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA9FD394-19B6-4087-8667-9EF41FC3E771</key>
		<array/>
		<key>AACCA9EE-492C-48B7-92BE-44C7A0255DF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34E32725-ADD0-45CB-A2AD-D53F9FB44B12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9DFB077-BFEF-432B-8247-6CF2415D4992</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2776F54A-FABC-44C7-8453-5161A49E461B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>491FC12D-2928-4AFE-8211-56C62A89464A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6015504-4073-4B31-A7B8-552D7BF19A38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>917957BD-4A3C-49E6-B4B7-A54F7264D718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7BCB6B5-D31F-4E75-9CF1-C99B4224FBE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AF1A048-013D-49F4-ABA0-A5764B319D57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE48FC90-9C1D-43DB-9414-357EFAF740C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC34BEDE-FAD6-4BAF-BD83-00FC24CEC7B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA9FD394-19B6-4087-8667-9EF41FC3E771</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21CCF357-8829-4487-96FA-2941AC111D2E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy &amp; Paste: {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDB0B28D-5260-4173-90C1-DA58B6C51B8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39E61A92-CF0E-48DF-BED7-B51BB543C275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Apptorium</string>
	<key>description</key>
	<string>SideNotes Workflow</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>SideNotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sn note</string>
				<key>subtext</key>
				<string>Creates a new note: {query}</string>
				<key>text</key>
				<string>sn note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDB0B28D-5260-4173-90C1-DA58B6C51B8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');

function run(argv) {
  let folderID = argv[0];
  let text = $.getenv('text');
  let isPath = $.getenv('isPath');
  let app = Application("SideNotes");

  app.createNote({
	"folder": app.folders.whose({"id": folderID})[0](),
	"text": text,
	"ispath": isPath
  });    

  return text;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34E32725-ADD0-45CB-A2AD-D53F9FB44B12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0] == undefined ? "" : argv[0].trim();
    let app = Application("SideNotes");
    let queryResults = app.searchFolders(query);

    var results = [];

    for (let res of queryResults) {
    	results.push({
    	    "uid": res.id(),
    		"title": res.name(),
    		"subtitle": res.name() + " folder",
			"arg": res.id(),
			"action": {
				"text": res.name()
			}
    	});
    }

    return JSON.stringify({
    	  "items": results
    });
}
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AACCA9EE-492C-48B7-92BE-44C7A0255DF5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>isPath</key>
					<string>false</string>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>39E61A92-CF0E-48DF-BED7-B51BB543C275</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:</string>
				<key>subtext</key>
				<string>Creates a new note: {query}</string>
				<key>text</key>
				<string>Create note in SideNotes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>554231DC-5B13-44A0-A34F-FB231319DE19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>isPath</key>
					<string>true</string>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>48CCAB07-7399-4E10-A415-377568B45CAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C9DFB077-BFEF-432B-8247-6CF2415D4992</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  return "";
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D2396B8-38B6-4513-A841-D63F4EBA1E3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>2776F54A-FABC-44C7-8453-5161A49E461B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>isPath</key>
					<string>false</string>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E0649C2-8212-4FC3-99EF-B3E30E593319</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Save in SideNotes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9CA86F84-DEEB-4664-8B6D-74BA262D165C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sn folder</string>
				<key>subtext</key>
				<string>Creates folder {query}</string>
				<key>text</key>
				<string>sn folder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B4840E2-EA43-4B9C-9B97-9E269076F3DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];

  let app = new Application("SideNotes");
  let n = app.make({ 
	"new": "folder",
	"withProperties": { "name": query }
  });

  return query;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F2AB951-8EE6-4E88-9808-E89590191CFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sn search</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0];
	let app = Application("SideNotes");
    let queryResults = app.search(query);

    var results = [];

    for (let res of queryResults) {
    	results.push({
    	    "uid": res.identifier,
    		"title": res.title,
    		"subtitle": res.details,
			"arg": res.identifier,
			"action": {
				"text": res.details
			}
    	});
    }

    return JSON.stringify({
    	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for {query}</string>
				<key>title</key>
				<string>sn search</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>917957BD-4A3C-49E6-B4B7-A54F7264D718</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search SideNotes for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>D6015504-4073-4B31-A7B8-552D7BF19A38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];

  let app = new Application("SideNotes");
  app.openWithId(query);

  return query;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FE7CA6B-C461-4B66-894E-9623840838C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sn theme</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading themes...</string>
				<key>script</key>
				<string>function run(argv) {
    let query = argv[0];
	let app = Application("SideNotes");
    var results = [];

    for (let theme of app.searchThemes(query)) {
    	results.push({
    	    "uid": theme.path,
    		"title": theme.name,
    		"subtitle": "Set \"" + theme.name + "\" theme",
			"arg": theme.path
    	});
    }

    return JSON.stringify({
    	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set theme</string>
				<key>title</key>
				<string>sn theme</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E2FA741-D865-43D1-A8CE-990544525400</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  Application("SideNotes").setTheme(query);

  return query;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37E26D36-9B03-4269-AB0C-7C495CC058E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>You need to open a note in SideNotes first.</string>
				<key>title</key>
				<string>Note is not open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B6409DA2-6226-4733-8F2C-52F68AE36880</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  return Application("SideNotes").currentNote().text();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sn current</string>
				<key>subtext</key>
				<string>Current Note</string>
				<key>text</key>
				<string>sn current</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D0B1237-2C3B-4D68-9DB6-D3DDCAAF2752</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>99D0186D-3D4A-406B-807E-C8CC1B0F853A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string>{query}</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>86CDF557-903E-4ADA-A09F-889831A5DD09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>491FC12D-2928-4AFE-8211-56C62A89464A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  return "sidenotes://open/" + Application("SideNotes").currentNote().id();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sn current url</string>
				<key>subtext</key>
				<string>Current note URL</string>
				<key>text</key>
				<string>sn current url</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE48FC90-9C1D-43DB-9414-357EFAF740C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sn pref</string>
				<key>subtext</key>
				<string>Show SideNotes preferences</string>
				<key>text</key>
				<string>sn pref</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7BCB6B5-D31F-4E75-9CF1-C99B4224FBE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  Application("SideNotes").showPreferences()
  return nil;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9AF1A048-013D-49F4-ABA0-A5764B319D57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>snippet</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for notes...</string>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0];
	let app = Application("SideNotes");
    let queryResults = app.searchNotes(query);

    var results = [];

    for (let res of queryResults) {
    	results.push({
    	    "uid": res.identifier,
    		"title": res.title,
    		"subtitle": res.details,
		"arg": res.details
    	});
    }

    return JSON.stringify({
        	"items": results
    });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Quickly copy note content...</string>
				<key>title</key>
				<string>snippet</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC34BEDE-FAD6-4BAF-BD83-00FC24CEC7B8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AA9FD394-19B6-4087-8667-9EF41FC3E771</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>21CCF357-8829-4487-96FA-2941AC111D2E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>SideNotes is an app that keeps your notes on the side of the screen. Appears when you click a little bar or move your cursor to the screen side. Note down – get it out of your mind ‐ move on.

This workflow allows you to take notes in SideNotes, create new folders, change theme, search any text in notes and use snippets.

More about this workflow:
https://www.apptorium.com/sidenotes/articles/alfred-workflow

SideNotes website:
https://www.apptorium.com/sidenotes</string>
	<key>uidata</key>
	<dict>
		<key>21CCF357-8829-4487-96FA-2941AC111D2E</key>
		<dict>
			<key>note</key>
			<string>Copy &amp; Paste to the active app</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1765</integer>
		</dict>
		<key>2776F54A-FABC-44C7-8453-5161A49E461B</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>34E32725-ADD0-45CB-A2AD-D53F9FB44B12</key>
		<dict>
			<key>xpos</key>
			<integer>1185</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>37E26D36-9B03-4269-AB0C-7C495CC058E2</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>39E61A92-CF0E-48DF-BED7-B51BB543C275</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>3F2AB951-8EE6-4E88-9808-E89590191CFC</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>48CCAB07-7399-4E10-A415-377568B45CAB</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>491FC12D-2928-4AFE-8211-56C62A89464A</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>4D0B1237-2C3B-4D68-9DB6-D3DDCAAF2752</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>554231DC-5B13-44A0-A34F-FB231319DE19</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>5E2FA741-D865-43D1-A8CE-990544525400</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>6FE7CA6B-C461-4B66-894E-9623840838C4</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>779B6CF4-E148-49E3-8C96-DC1C1A6D8DA5</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>7D2396B8-38B6-4513-A841-D63F4EBA1E3A</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>86CDF557-903E-4ADA-A09F-889831A5DD09</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>8B4840E2-EA43-4B9C-9B97-9E269076F3DD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>8E0649C2-8212-4FC3-99EF-B3E30E593319</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>917957BD-4A3C-49E6-B4B7-A54F7264D718</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>9AF1A048-013D-49F4-ABA0-A5764B319D57</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1455</integer>
		</dict>
		<key>9CA86F84-DEEB-4664-8B6D-74BA262D165C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>A36BD54D-CB9A-48E4-ABD4-5DF730DAB328</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>AA9FD394-19B6-4087-8667-9EF41FC3E771</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>AACCA9EE-492C-48B7-92BE-44C7A0255DF5</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>B6409DA2-6226-4733-8F2C-52F68AE36880</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>C9DFB077-BFEF-432B-8247-6CF2415D4992</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>You can set a global hotkey that will create a new note</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>D0829B8F-7E45-45CC-B5F4-38493FEFE3DF</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>D6015504-4073-4B31-A7B8-552D7BF19A38</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>D7BCB6B5-D31F-4E75-9CF1-C99B4224FBE9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1455</integer>
		</dict>
		<key>DE48FC90-9C1D-43DB-9414-357EFAF740C4</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>EC34BEDE-FAD6-4BAF-BD83-00FC24CEC7B8</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>EDB0B28D-5260-4173-90C1-DA58B6C51B8B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.apptorium.com/sidenotes</string>
</dict>
</plist>
