<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.academic-searches</string>
	<key>connections</key>
	<dict>
		<key>0DEE71DF-8531-4E7F-BE3B-9D2898DBAF72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>169FF168-1AE9-4A13-8CFC-58686EC8B546</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33687FCF-858F-4613-A6B6-24920E167D9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54391CE0-C9F4-4619-B285-BD85CD4D64ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>697132AD-4043-4FD4-9553-0725ADF14E65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>885E52AE-9E54-4319-A19C-E6201F89E6D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AE5D6B0-7B2C-4AC7-9EE9-368186387D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C7A417-8882-4A2C-97DF-DAE419A24391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Scholar Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scholar.google.com/scholar?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>54391CE0-C9F4-4619-B285-BD85CD4D64ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sci-Hub: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6AE5D6B0-7B2C-4AC7-9EE9-368186387D35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sci-hub.ru/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>46C7A417-8882-4A2C-97DF-DAE419A24391</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string>Google Scholar &amp; Scite_</string>
				<key>text</key>
				<string>CItation Searches: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33687FCF-858F-4613-A6B6-24920E167D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scite.ai/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Libgen: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0DEE71DF-8531-4E7F-BE3B-9D2898DBAF72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://libgen.rs/search.php?req={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>169FF168-1AE9-4A13-8CFC-58686EC8B546</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://elicit.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>885E52AE-9E54-4319-A19C-E6201F89E6D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Elicit: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>697132AD-4043-4FD4-9553-0725ADF14E65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0DEE71DF-8531-4E7F-BE3B-9D2898DBAF72</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>169FF168-1AE9-4A13-8CFC-58686EC8B546</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>33687FCF-858F-4613-A6B6-24920E167D9B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>google scholar &amp; scite_</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>46C7A417-8882-4A2C-97DF-DAE419A24391</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>54391CE0-C9F4-4619-B285-BD85CD4D64ED</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>697132AD-4043-4FD4-9553-0725ADF14E65</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>elicit</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>6AE5D6B0-7B2C-4AC7-9EE9-368186387D35</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>885E52AE-9E54-4319-A19C-E6201F89E6D0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
