<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.academic-searches</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>05C9EB07-A13B-4FD6-99B2-4ABDC6DB35CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AF8F997-AF32-4FB5-B396-C7CF35341186</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DEE71DF-8531-4E7F-BE3B-9D2898DBAF72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82300D05-4616-4CE1-AE7C-29E5E4420AD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>169FF168-1AE9-4A13-8CFC-58686EC8B546</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>237437F9-BE71-4AAD-AA03-BCD37D82DE1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33687FCF-858F-4613-A6B6-24920E167D9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54391CE0-C9F4-4619-B285-BD85CD4D64ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3020DCCA-3C79-4963-8FA6-39F112BD5EC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>885E52AE-9E54-4319-A19C-E6201F89E6D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6442AC22-6F2F-49B6-ACBA-D5FD8F7F78E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Research Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scholar.google.com/scholar?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>54391CE0-C9F4-4619-B285-BD85CD4D64ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q={query}+site%3Aarchive.org</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>82300D05-4616-4CE1-AE7C-29E5E4420AD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scite.ai/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rs||lib</string>
				<key>subtext</key>
				<string>Anna's Archive &amp; Libgen &amp; archive.org</string>
				<key>text</key>
				<string>Book Search {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0DEE71DF-8531-4E7F-BE3B-9D2898DBAF72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://libgen.rs/search.php?req={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>169FF168-1AE9-4A13-8CFC-58686EC8B546</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rs</string>
				<key>subtext</key>
				<string>Google Scholar, Scite_, Semantic Scholar, Elicit, Inciteful</string>
				<key>text</key>
				<string>Academic Searches: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33687FCF-858F-4613-A6B6-24920E167D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.semanticscholar.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3020DCCA-3C79-4963-8FA6-39F112BD5EC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://annas-archive.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>237437F9-BE71-4AAD-AA03-BCD37D82DE1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://elicit.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>885E52AE-9E54-4319-A19C-E6201F89E6D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sci||rs</string>
				<key>subtext</key>
				<string>Current Browser Tab</string>
				<key>text</key>
				<string>Sci-Hub Paper</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05C9EB07-A13B-4FD6-99B2-4ABDC6DB35CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sci-hub.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AF8F997-AF32-4FB5-B396-C7CF35341186</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://inciteful.xyz/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6442AC22-6F2F-49B6-ACBA-D5FD8F7F78E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>05C9EB07-A13B-4FD6-99B2-4ABDC6DB35CB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>0DEE71DF-8531-4E7F-BE3B-9D2898DBAF72</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>169FF168-1AE9-4A13-8CFC-58686EC8B546</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>237437F9-BE71-4AAD-AA03-BCD37D82DE1B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3020DCCA-3C79-4963-8FA6-39F112BD5EC2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>33687FCF-858F-4613-A6B6-24920E167D9B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>google scholar &amp; scite_</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>4AF8F997-AF32-4FB5-B396-C7CF35341186</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>open current browser tab</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>54391CE0-C9F4-4619-B285-BD85CD4D64ED</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6442AC22-6F2F-49B6-ACBA-D5FD8F7F78E7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>82300D05-4616-4CE1-AE7C-29E5E4420AD4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>885E52AE-9E54-4319-A19C-E6201F89E6D0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>st</string>
				<key>placeholder</key>
				<string>st</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>e.g. "ru" for "sci-hub.ru"</string>
			<key>label</key>
			<string>Schi-Hub Domain</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>sci_hub_domain</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
