<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.academic-searches</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>05C9EB07-A13B-4FD6-99B2-4ABDC6DB35CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0905BCCC-B191-49CA-888E-9F9C0E1F7CD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0905BCCC-B191-49CA-888E-9F9C0E1F7CD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8363E3F1-26D0-4D85-81E8-78AC6F240E00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>670383ED-59F8-46BF-9A99-15DBFA401A90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E0715A2-B8BC-459F-B957-6447B0E15A13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBFE0B0E-4368-4F71-9139-7EC8268778E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33687FCF-858F-4613-A6B6-24920E167D9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54391CE0-C9F4-4619-B285-BD85CD4D64ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3020DCCA-3C79-4963-8FA6-39F112BD5EC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>885E52AE-9E54-4319-A19C-E6201F89E6D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6442AC22-6F2F-49B6-ACBA-D5FD8F7F78E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C45CBCBC-55EE-43A1-BE2A-924504328AE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Research Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scholar.google.com/scholar?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>54391CE0-C9F4-4619-B285-BD85CD4D64ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scite.ai/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rs</string>
				<key>subtext</key>
				<string>Google Scholar, Scite_, Semantic Scholar, Elicit, Inciteful, Perplexity</string>
				<key>text</key>
				<string>Academic Searches: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33687FCF-858F-4613-A6B6-24920E167D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.semanticscholar.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3020DCCA-3C79-4963-8FA6-39F112BD5EC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sci-hub.st/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8363E3F1-26D0-4D85-81E8-78AC6F240E00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sci</string>
				<key>subtext</key>
				<string>Current Browser Tab</string>
				<key>text</key>
				<string>Sci-Hub Paper  &amp; Annas Archive</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05C9EB07-A13B-4FD6-99B2-4ABDC6DB35CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0905BCCC-B191-49CA-888E-9F9C0E1F7CD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://elicit.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>885E52AE-9E54-4319-A19C-E6201F89E6D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://annas-archive.org/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>670383ED-59F8-46BF-9A99-15DBFA401A90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://inciteful.xyz/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6442AC22-6F2F-49B6-ACBA-D5FD8F7F78E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://consensus.app/results/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C45CBCBC-55EE-43A1-BE2A-924504328AE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># using bibItNow's default bindings

# HACK for some reason, needs all three keystrokes to work
tell application "System Events"
	keystroke "q" using {option down} # open popup, prepare download
	delay 0.3
	keystroke "c" using {option down} # open popup
	delay 0.3
	keystroke "c" using {option down} # open popup
end tell

# afterwards, the hammerspoon filewatcher will automatically add the file to the library</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DBFE0B0E-4368-4F71-9139-7EC8268778E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.brave.Browser</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E0715A2-B8BC-459F-B957-6447B0E15A13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>05C9EB07-A13B-4FD6-99B2-4ABDC6DB35CB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>0905BCCC-B191-49CA-888E-9F9C0E1F7CD1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>1E0715A2-B8BC-459F-B957-6447B0E15A13</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Download bibtex for Website</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>3020DCCA-3C79-4963-8FA6-39F112BD5EC2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>32FE0E4D-09C0-4DB0-81EA-F77B71C65466</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>33687FCF-858F-4613-A6B6-24920E167D9B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>google scholar &amp; scite_</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>54391CE0-C9F4-4619-B285-BD85CD4D64ED</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6442AC22-6F2F-49B6-ACBA-D5FD8F7F78E7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>670383ED-59F8-46BF-9A99-15DBFA401A90</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>8363E3F1-26D0-4D85-81E8-78AC6F240E00</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>885E52AE-9E54-4319-A19C-E6201F89E6D0</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>C45CBCBC-55EE-43A1-BE2A-924504328AE2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>DBFE0B0E-4368-4F71-9139-7EC8268778E5</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>trigger bibItNow download</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
