<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.simplediff</string>
	<key>connections</key>
	<dict>
		<key>16060929-C13B-4EAB-9EE1-0049E833CE26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCCE76F9-93E2-4BF7-9F52-A561430B0EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EF74ECB-5061-4ECB-AF17-77B8EE6F6E05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B02BC32-D93E-4E9A-B5D8-3AE26A836B2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3411EE50-018E-445C-9B34-BC5202A6B05E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFCED8F2-C6F9-4950-A3C3-C854CB7E1949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B02BC32-D93E-4E9A-B5D8-3AE26A836B2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E437E5FE-6EF0-4BCD-892E-3F01A7EE6570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46ABE863-D388-4A95-8FCF-87586482DF51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F95A116-1962-453C-BC40-6CF15A993443</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ECF1324-397B-4F51-86C5-9D064982BD70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B02BC32-D93E-4E9A-B5D8-3AE26A836B2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9317E55A-EAE8-449F-B714-7E839EC53314</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16060929-C13B-4EAB-9EE1-0049E833CE26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>CCCE76F9-93E2-4BF7-9F52-A561430B0EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB00C59F-6E9C-4BDB-B613-9E9913188086</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB00C59F-6E9C-4BDB-B613-9E9913188086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EF74ECB-5061-4ECB-AF17-77B8EE6F6E05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABCBE601-4A25-42E6-89EB-CDC7A5F77DD8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>427832B2-1F41-4492-911D-7E77D628F093</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E437E5FE-6EF0-4BCD-892E-3F01A7EE6570</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46ABE863-D388-4A95-8FCF-87586482DF51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED297CDF-12AB-4D48-9F0D-496EAF67AC3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3411EE50-018E-445C-9B34-BC5202A6B05E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>FFCED8F2-C6F9-4950-A3C3-C854CB7E1949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ECF1324-397B-4F51-86C5-9D064982BD70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>View differences in text, files, and directories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simple Diff</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:diff_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>The most recent two items are compared</string>
				<key>text</key>
				<string>Show Diff of Clipboard Items</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED297CDF-12AB-4D48-9F0D-496EAF67AC3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>clip1.txt</string>
				<key>filetext</key>
				<string>{clipboard:1}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>FFCED8F2-C6F9-4950-A3C3-C854CB7E1949</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4F95A116-1962-453C-BC40-6CF15A993443</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>clip0.txt</string>
				<key>filetext</key>
				<string>{clipboard:0}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>3411EE50-018E-445C-9B34-BC5202A6B05E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>46ABE863-D388-4A95-8FCF-87586482DF51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/diff -u "${1}" "${2}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E437E5FE-6EF0-4BCD-892E-3F01A7EE6570</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{const:alfred_workflow_cache}/clip1.txt	{const:alfred_workflow_cache}/clip0.txt</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4ECF1324-397B-4F51-86C5-9D064982BD70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>3B02BC32-D93E-4E9A-B5D8-3AE26A836B2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:files}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1EF74ECB-5061-4ECB-AF17-77B8EE6F6E05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>2</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Path Diff</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9317E55A-EAE8-449F-B714-7E839EC53314</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function fail {
  printf 'false'
  exit 1
}

[[ "${#}" -eq 2 ]] || fail # Exactly two items
[[ -f "${1}" &amp;&amp; -f "${2}" ]] || [[ -d "${1}" &amp;&amp; -d "${2}" ]] || fail # Must both be files or folders

printf 'true'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCCE76F9-93E2-4BF7-9F52-A561430B0EBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Diff</string>
						<key>uid</key>
						<string>ABCBE601-4A25-42E6-89EB-CDC7A5F77DD8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB00C59F-6E9C-4BDB-B613-9E9913188086</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>files</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>16060929-C13B-4EAB-9EE1-0049E833CE26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Quit</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Input must be exactly two files or two folders.</string>
				<key>title</key>
				<string>Unable to Compare</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>427832B2-1F41-4492-911D-7E77D628F093</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Compare the two most recent clipboard entries via the `clipdiff` keyword. Press &lt;kbd&gt;↩&lt;/kbd&gt; on the result to copy it to the clipboard.

![Keyword to compare clipboard entries](images/about/keyword.png)

![Text View showing diff](images/about/textview.png)

Compare two files or folders via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action for path diff](images/about/ua.png)</string>
	<key>uidata</key>
	<dict>
		<key>16060929-C13B-4EAB-9EE1-0049E833CE26</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>1EF74ECB-5061-4ECB-AF17-77B8EE6F6E05</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>3411EE50-018E-445C-9B34-BC5202A6B05E</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3B02BC32-D93E-4E9A-B5D8-3AE26A836B2B</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>427832B2-1F41-4492-911D-7E77D628F093</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>46ABE863-D388-4A95-8FCF-87586482DF51</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>4ECF1324-397B-4F51-86C5-9D064982BD70</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>4F95A116-1962-453C-BC40-6CF15A993443</key>
		<dict>
			<key>xpos</key>
			<real>1165</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9317E55A-EAE8-449F-B714-7E839EC53314</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>CCCE76F9-93E2-4BF7-9F52-A561430B0EBA</key>
		<dict>
			<key>note</key>
			<string>Check for corrrect arguments</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>DB00C59F-6E9C-4BDB-B613-9E9913188086</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>E437E5FE-6EF0-4BCD-892E-3F01A7EE6570</key>
		<dict>
			<key>note</key>
			<string>Perform diff</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>ED297CDF-12AB-4D48-9F0D-496EAF67AC3D</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>FFCED8F2-C6F9-4950-A3C3-C854CB7E1949</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>clipdiff</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Clipboard Diff Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>diff_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/simple-diff-workflow/</string>
</dict>
</plist>
