<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>CPU_bar_chart_frame</key>
	<false/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>4</integer>
	<key>CPU_lineChart_position</key>
	<integer>2</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>monochrome</string>
	<key>CPU_line_chart_historyCount</key>
	<integer>60</integer>
	<key>CPU_line_chart_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_notifications_totalLoad_state</key>
	<true/>
	<key>CPU_notifications_totalLoad_value</key>
	<integer>97</integer>
	<key>CPU_pieChart_position</key>
	<integer>3</integer>
	<key>CPU_processes</key>
	<integer>10</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<true/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>2</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>0</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>1</integer>
	<key>Disk_network_chart_downloadColor</key>
	<string>monochrome</string>
	<key>Disk_network_chart_historyCount</key>
	<integer>60</integer>
	<key>Disk_network_chart_label</key>
	<true/>
	<key>Disk_network_chart_uploadColor</key>
	<string>monochrome</string>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_position</key>
	<integer>6</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>network_chart,label</string>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>GPU_bar_chart_label</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>4</integer>
	<key>GPU_lineChart_position</key>
	<integer>1</integer>
	<key>GPU_line_chart_box</key>
	<false/>
	<key>GPU_line_chart_color</key>
	<string>monochrome</string>
	<key>GPU_line_chart_frame</key>
	<false/>
	<key>GPU_line_chart_label</key>
	<true/>
	<key>GPU_line_chart_value</key>
	<false/>
	<key>GPU_mini_color</key>
	<string>monochrome</string>
	<key>GPU_mini_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>3</integer>
	<key>GPU_updateInterval</key>
	<integer>5</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{1000, 671}</string>
	<key>NSStatusItem Preferred Position CPU_bar_chart</key>
	<integer>417</integer>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>258</real>
	<key>NSStatusItem Preferred Position Network_network_chart</key>
	<integer>307</integer>
	<key>NSStatusItem Restore Position CPU_line_chart</key>
	<integer>382</integer>
	<key>NSStatusItem Restore Position GPU_line_chart</key>
	<integer>361</integer>
	<key>NSStatusItem Restore Position RAM</key>
	<integer>481</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>440 149 1000 671 0 0 1680 945 </string>
	<key>Network_label_position</key>
	<integer>3</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_box</key>
	<false/>
	<key>Network_network_chart_downloadColor</key>
	<string>monochrome</string>
	<key>Network_network_chart_frame</key>
	<false/>
	<key>Network_network_chart_historyCount</key>
	<integer>60</integer>
	<key>Network_network_chart_label</key>
	<true/>
	<key>Network_network_chart_scale</key>
	<string>linear</string>
	<key>Network_network_chart_uploadColor</key>
	<string>monochrome</string>
	<key>Network_oneView</key>
	<true/>
	<key>Network_processes</key>
	<integer>5</integer>
	<key>Network_reader</key>
	<string>process</string>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>1</integer>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_valueAlignment</key>
	<string>left</string>
	<key>Network_speed_valueColor</key>
	<false/>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_widget</key>
	<string>network_chart,speed</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>99</integer>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>monochrome</string>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>1</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_color</key>
	<string>monochrome</string>
	<key>RAM_line_chart_label</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>4</integer>
	<key>RAM_notifications_total_state</key>
	<true/>
	<key>RAM_notifications_total_value</key>
	<integer>90</integer>
	<key>RAM_oneView</key>
	<true/>
	<key>RAM_pieChart_position</key>
	<integer>3</integer>
	<key>RAM_pie_chart_monochrome</key>
	<true/>
	<key>RAM_splitValue</key>
	<false/>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_updateInterval</key>
	<integer>5</integer>
	<key>RAM_updateTopInterval</key>
	<integer>5</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>SSD_network_chart_downloadColor</key>
	<string>monochrome</string>
	<key>SSD_network_chart_uploadColor</key>
	<string>monochrome</string>
	<key>Sensors_barChart_position</key>
	<integer>0</integer>
	<key>Sensors_bar_chart_box</key>
	<false/>
	<key>Sensors_bar_chart_color</key>
	<string>monochrome</string>
	<key>Sensors_bar_chart_label</key>
	<true/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_oneView</key>
	<true/>
	<key>Sensors_sensors_position</key>
	<integer>1</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>bar_chart</string>
	<key>dockIcon</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>9591BF23-A50E-4867-9ED7-00CBF1D50EF2</string>
	<key>update-interval</key>
	<string>Silent</string>
	<key>updater_check_ts</key>
	<integer>1716575807</integer>
	<key>version</key>
	<string>2.10.14</string>
</dict>
</plist>
