<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.twitter-tweaks</string>
	<key>category</key>
	<string>App-Enhance</string>
	<key>connections</key>
	<dict>
		<key>0EF4F09D-7C6A-41AA-9CC1-2736C6FBD823</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A07F7BC9-932C-4F62-9B33-A34781D66171</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13CC1BC1-8472-4BBE-BE5F-D2B8A13443D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E286DBA7-2559-48DF-800B-A66A6523BB93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>512210D7-D938-4575-B2B9-3A29F768866D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1C9406F-A7CC-4DDD-80FC-2B48DF71094A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB7458E2-0227-454E-AC96-A82B1BED8CB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFC5ED8D-4E22-43EE-8C41-538C88A3C22F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0261997-8C06-4E90-974E-92FBB6D6CA2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FD4196A-573D-43DB-A151-FB1463C91336</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D24BD568-15C4-4DDD-99AE-F3DFFDD3E0A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6151B85-7052-4FAE-A01B-8963B1B509D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E351C4BB-4D9B-40B3-8849-BC10E485473D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD86BC3E-FF13-4A44-85E1-6D70B5341C53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E93C6F35-34EC-4FD7-A64E-8348959F7117</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0390445-3124-4179-A03B-217403483ADE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA755C6D-7A61-45F9-B471-CBD2C4639D3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E351C4BB-4D9B-40B3-8849-BC10E485473D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Twitterific Tweaks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔎 Search: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0261997-8C06-4E90-974E-92FBB6D6CA2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://twitter.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5FD4196A-573D-43DB-A151-FB1463C91336</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># http://support.iconfactory.com/kb/twitterrific/advanced-settings-using-the-command-line-macos

headless=$(defaults read com.iconfactory.Twitterrific5 advancedShowDockIcon)

if [[ "$headless" == "0" ]] ; then
	defaults write com.iconfactory.Twitterrific5 advancedShowDockIcon -bool YES
    echo "Dock Icon re-enabled"
else
	defaults write com.iconfactory.Twitterrific5 advancedShowDockIcon -bool NO
    echo "Dock Icon hidden"
fi

killall "Twitterrific"
sleep 0.5
open -a "Twitterrific"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-headless-mode.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E351C4BB-4D9B-40B3-8849-BC10E485473D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DD86BC3E-FF13-4A44-85E1-6D70B5341C53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>👤 Toggle Headless Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA755C6D-7A61-45F9-B471-CBD2C4639D3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>muted</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔇 Add to Muted</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0EF4F09D-7C6A-41AA-9CC1-2736C6FBD823</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://twitter.com/settings/muted_keywords</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A07F7BC9-932C-4F62-9B33-A34781D66171</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>❓Shortcuts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>512210D7-D938-4575-B2B9-3A29F768866D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p "twitterific-shortcuts-cheatsheet.png"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1C9406F-A7CC-4DDD-80FC-2B48DF71094A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>✍️ New Tweet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E93C6F35-34EC-4FD7-A64E-8348959F7117</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>twitterrific://current/post?message={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0390445-3124-4179-A03B-217403483ADE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tw notifications</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>🔔 Notifications</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D24BD568-15C4-4DDD-99AE-F3DFFDD3E0A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://twitter.com/notifications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B6151B85-7052-4FAE-A01B-8963B1B509D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tw followers</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>👥 New Followers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13CC1BC1-8472-4BBE-BE5F-D2B8A13443D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://twitter.com/pseudo_meta/followers</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E286DBA7-2559-48DF-800B-A66A6523BB93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>twitterrific://current/profile?screen_name={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FFC5ED8D-4E22-43EE-8C41-538C88A3C22F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>@</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Profile '@{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB7458E2-0227-454E-AC96-A82B1BED8CB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0EF4F09D-7C6A-41AA-9CC1-2736C6FBD823</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Twitter Search (Web)</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>13CC1BC1-8472-4BBE-BE5F-D2B8A13443D4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>512210D7-D938-4575-B2B9-3A29F768866D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Cheatsheet of Shortcuts
(useful, since shortcuts cannot be inspected in the menubar in headless mode)</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>5FD4196A-573D-43DB-A151-FB1463C91336</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>A0390445-3124-4179-A03B-217403483ADE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>A07F7BC9-932C-4F62-9B33-A34781D66171</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B6151B85-7052-4FAE-A01B-8963B1B509D2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>BB7458E2-0227-454E-AC96-A82B1BED8CB4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Twitter user</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>C0261997-8C06-4E90-974E-92FBB6D6CA2D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Twitter Search (Web)</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>D1C9406F-A7CC-4DDD-80FC-2B48DF71094A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Quicklook</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>D24BD568-15C4-4DDD-99AE-F3DFFDD3E0A2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>DD86BC3E-FF13-4A44-85E1-6D70B5341C53</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>E286DBA7-2559-48DF-800B-A66A6523BB93</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>E351C4BB-4D9B-40B3-8849-BC10E485473D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>E93C6F35-34EC-4FD7-A64E-8348959F7117</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Tweet at Twitterrific</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>EA755C6D-7A61-45F9-B471-CBD2C4639D3C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>toggle headless mode</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>FFC5ED8D-4E22-43EE-8C41-538C88A3C22F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
