<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.neovim-utilities</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>02145BDB-6F80-437E-A4FE-880FDA77AC47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Open :help at GitHub</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9E07FDE-1870-42B0-B6D4-AA209906679E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Search issues</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy Repo Name for Plugin Managers</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy GitHub URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14ECFC26-C670-4D39-9A5C-C24B452554F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB617FEA-F94F-4A13-8327-5EC723FD66AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15317DBA-B342-4CB9-9F08-0CBA70D39C07</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15317DBA-B342-4CB9-9F08-0CBA70D39C07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22C3A292-BE41-47F8-9B47-543D7C9E4AC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A1F6028-B56D-4223-8008-F364B73183A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5BC25CE-C34C-4EF9-B428-71EDB9170948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</key>
		<array/>
		<key>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</key>
		<array/>
		<key>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F178F3ED-E855-4DC9-A178-D839E9C2C48D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>711DEF51-292E-4367-94F7-C38BEF4B6FB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Open :help at GitHub</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9E07FDE-1870-42B0-B6D4-AA209906679E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Search issues</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Copy Repo Name for Plugin Managers</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy GitHub URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Open Repo in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71D977C5-6C8A-47D2-A625-4E3E79D785D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22C3A292-BE41-47F8-9B47-543D7C9E4AC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AA41F32-E0D9-4117-8B57-8F7C942E07D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7572486D-59C9-427F-8DF0-A60B6F876F57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9AD00C3-C893-400C-ACEC-04513C20CC03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04FB2B7F-2F25-443A-98EC-3D62C8EFBF34</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F25308-2C64-400B-AC1D-C1FD5FC840DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A20C61-953A-4498-8DBA-0DDCF26A94A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A1F6028-B56D-4223-8008-F364B73183A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D7A806A-C89F-4527-87FB-F6D2B578A43A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</key>
		<array/>
		<key>D9E07FDE-1870-42B0-B6D4-AA209906679E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79F25308-2C64-400B-AC1D-C1FD5FC840DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9552C60A-4AD9-4038-BB96-EDB2C60D13C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F178F3ED-E855-4DC9-A178-D839E9C2C48D</key>
		<array/>
		<key>F5BC25CE-C34C-4EF9-B428-71EDB9170948</key>
		<array/>
		<key>F9A20C61-953A-4498-8DBA-0DDCF26A94A3</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search neovim plugins and online :help via Alfred
Search neovim plugins and online :help via Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Neovim Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/neovim-docs-index-creation.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22C3A292-BE41-47F8-9B47-543D7C9E4AC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:nvim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Re-Create Neovim :help Index</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>71D977C5-6C8A-47D2-A625-4E3E79D785D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:help_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/neovim-help-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search neovim :help</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14ECFC26-C670-4D39-9A5C-C24B452554F2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FB617FEA-F94F-4A13-8327-5EC723FD66AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>8D7A806A-C89F-4527-87FB-F6D2B578A43A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>✅ Index created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8A1F6028-B56D-4223-8008-F364B73183A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15317DBA-B342-4CB9-9F08-0CBA70D39C07</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>This may take up to a minute.</string>
				<key>title</key>
				<string>⏳Re-Creating Index</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7AA41F32-E0D9-4117-8B57-8F7C942E07D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:old_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/nvim-recent-files.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Vim Old Files</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F178F3ED-E855-4DC9-A178-D839E9C2C48D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5BC25CE-C34C-4EF9-B428-71EDB9170948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/open-help.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:neovim_subreddit_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>nvim-reddit.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Latest Posts from r/neovim</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7572486D-59C9-427F-8DF0-A60B6F876F57</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F9AD00C3-C893-400C-ACEC-04513C20CC03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F9A20C61-953A-4498-8DBA-0DDCF26A94A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/issue-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Issues on GitHub</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>79F25308-2C64-400B-AC1D-C1FD5FC840DF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:plugin_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-nvim-plugins.js</string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>Search Neovim Plugin</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>02145BDB-6F80-437E-A4FE-880FDA77AC47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repoID</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D9E07FDE-1870-42B0-B6D4-AA209906679E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://github.com/{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>04FB2B7F-2F25-443A-98EC-3D62C8EFBF34</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9552C60A-4AD9-4038-BB96-EDB2C60D13C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>"{query}",</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:installed_plugin_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-installed-plugins.js</string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>Search Installed Plugin</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>711DEF51-292E-4367-94F7-C38BEF4B6FB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://github.com/{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>repo=$(echo $* | cut -d"/" -f2)
find "$plugin_installation_path" -path "*/$repo" -type d | xargs open</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup
Run `:nvim` once to create the local cache for the `:h` search.

## Features
- `:h`: Searches the neovim [online :help](https://neovim.io/doc/). Groups synonyms together, for example, `:w` and `:write` both get one item.
	- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the respective help.
	- &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy the help URL to the clipboard.
- `vp`: Searches [neovimcraft](https://neovimcraft.com/) for neovim plugins. Mnemonic: `[v]im [p]lugins`.
	- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the GitHub repo.
	- &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: Copy repo name for plugin managers.
	- &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy the GitHub URL to the clipboard.
	- &lt;kbd&gt;⌃⏎&lt;/kbd&gt;: Open the `:help` page of the plugin at GitHub.
	- &lt;kbd&gt;⇧⏎&lt;/kbd&gt;: Search GitHub issues of the plugin.[^1]
- `ip`: Search for plugins installed locally on your device. Mnemonic: `[i]installed [p]lugins`. The modifiers (&lt;kbd&gt;⌘⌥⌃⇧&lt;/kbd&gt;) from the plugin-search also apply for this command. In addition:
	- &lt;kbd&gt;fn⏎&lt;/kbd&gt;: Open the local directory of the plugin in Finder.
- `nvr`: Shows the latest posts from the neovim subreddit. (Limited to ~10 calls per minute.)
	- &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the post in the browser.
	- &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy the URL to the clipboard.
	- &lt;kbd&gt;⇧&lt;/kbd&gt;: Show author of the post.
- `:old`: Displays and searches your `:oldfiles`. Opens them in the system's default editor for the respective filetype. (To open them directly in neovim, you need a neovim GUI with `Open With…` capability though.)
- `:nvim`: Creates the local cache for the online :help search. Run it once in a while, when there have been updates to the online docs.

## Bug reports, feature requests or just leave a star?
➡️ [GitHub Repo](https://github.com/chrisgrieser/alfred-neovim-utilities/)

---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>02145BDB-6F80-437E-A4FE-880FDA77AC47</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>online plugin search</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>04FB2B7F-2F25-443A-98EC-3D62C8EFBF34</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>copy url</string>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>14ECFC26-C670-4D39-9A5C-C24B452554F2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>neovim docs. Requires running `:vim` first</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>15317DBA-B342-4CB9-9F08-0CBA70D39C07</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>22C3A292-BE41-47F8-9B47-543D7C9E4AC1</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>open help page</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>recent files</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>711DEF51-292E-4367-94F7-C38BEF4B6FB6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>installed plugin search</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>71D977C5-6C8A-47D2-A625-4E3E79D785D2</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>(re)create index</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>7572486D-59C9-427F-8DF0-A60B6F876F57</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>reddit search</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>79F25308-2C64-400B-AC1D-C1FD5FC840DF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>issue search GitHub</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>7AA41F32-E0D9-4117-8B57-8F7C942E07D7</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>8A1F6028-B56D-4223-8008-F364B73183A5</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>8D7A806A-C89F-4527-87FB-F6D2B578A43A</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>9552C60A-4AD9-4038-BB96-EDB2C60D13C6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>no default branch</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>D6E5E105-38E3-4BC1-90E3-52BEE556349D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy url</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open local folder</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>D9E07FDE-1870-42B0-B6D4-AA209906679E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>E1D760CD-9BD9-45A0-B293-3E0E79347EC4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy repo name for plugin managers</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>F178F3ED-E855-4DC9-A178-D839E9C2C48D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>F5BC25CE-C34C-4EF9-B428-71EDB9170948</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>no default branch</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F9A20C61-953A-4498-8DBA-0DDCF26A94A3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>F9AD00C3-C893-400C-ACEC-04513C20CC03</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>FB617FEA-F94F-4A13-8327-5EC723FD66AB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:h</string>
				<key>placeholder</key>
				<string>:help</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>opens Neovim Docs</string>
			<key>label</key>
			<string>Keyword for online :help search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>help_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>using Neovimcraft</string>
			<key>label</key>
			<string>Keyword for Plugin Search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>plugin_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:old</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>:help oldfiles</string>
			<key>label</key>
			<string>Keyword for searching old files</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>old_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nvr</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for latest posts in neovim subreddit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>neovim_subreddit_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ip</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for searching installed plugins</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>installed_plugin_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.local/share/nvim/lazy</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/.local/share/nvim/lazy</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Path where the "start" and "opt" folder are located, mostly depending on the plugin manager you use. Default value is the default path for lazy.nvim. Required for searching installed plugins.</string>
			<key>label</key>
			<string>Plugin Installation Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>plugin_installation_path</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
