<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.neovim-utilities</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>02145BDB-6F80-437E-A4FE-880FDA77AC47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9BF5A96-9AC2-4AA6-A169-11DA39DAA306</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Copy install for lazy.nvim</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy GitHub URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open the :help in the browser (vimdoc converted to html)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14ECFC26-C670-4D39-9A5C-C24B452554F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB617FEA-F94F-4A13-8327-5EC723FD66AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15317DBA-B342-4CB9-9F08-0CBA70D39C07</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15317DBA-B342-4CB9-9F08-0CBA70D39C07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5BC25CE-C34C-4EF9-B428-71EDB9170948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</key>
		<array/>
		<key>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</key>
		<array/>
		<key>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F178F3ED-E855-4DC9-A178-D839E9C2C48D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>711DEF51-292E-4367-94F7-C38BEF4B6FB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Open the :help in the browser (vimdoc converted to html)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Open Repo in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C906BF1E-7CF4-4407-9B97-53532876DCC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9BF5A96-9AC2-4AA6-A169-11DA39DAA306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACDBE56D-DF34-4CC2-B97C-B13DD486D083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6E5E105-38E3-4BC1-90E3-52BEE556349D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACDBE56D-DF34-4CC2-B97C-B13DD486D083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</key>
		<array/>
		<key>F178F3ED-E855-4DC9-A178-D839E9C2C48D</key>
		<array/>
		<key>F5BC25CE-C34C-4EF9-B428-71EDB9170948</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Search neovim plugins and online :help</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Neovim Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FB617FEA-F94F-4A13-8327-5EC723FD66AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:help_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/neovim-help-search.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search neovim :help</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14ECFC26-C670-4D39-9A5C-C24B452554F2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15317DBA-B342-4CB9-9F08-0CBA70D39C07</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:old_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/nvim-recent-files.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Vim :oldfiles</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F178F3ED-E855-4DC9-A178-D839E9C2C48D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9BF5A96-9AC2-4AA6-A169-11DA39DAA306</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>📋 Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ACDBE56D-DF34-4CC2-B97C-B13DD486D083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:plugin_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-nvim-plugins.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Neovim Plugin</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>02145BDB-6F80-437E-A4FE-880FDA77AC47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6E5E105-38E3-4BC1-90E3-52BEE556349D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:mason_tool_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-mason-tools.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Mason Tools Plugin</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C906BF1E-7CF4-4407-9B97-53532876DCC0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/open-help.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:installed_plugin_search}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-installed-plugins.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Installed Plugin</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>711DEF51-292E-4367-94F7-C38BEF4B6FB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5BC25CE-C34C-4EF9-B428-71EDB9170948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Commands
- `:h`: Search the Neovim [online :help](https://neovim.io/doc/).
	+ &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the respective help.
	+ &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy the help URL to the clipboard.
- `np`: Search [store.nvim](https://github.com/alex-popov-tech/store.nvim)
  for Neovim plugins (mnemonic: `[n]vim [p]lugins`).
	+ &lt;kbd&gt;⏎&lt;/kbd&gt;: Open the GitHub repo.
	+ &lt;kbd&gt;⌘⏎&lt;/kbd&gt;: Open the `:help` page in the browser (`vimdoc` converted to
	  HTML).
	+ &lt;kbd&gt;⌥⏎&lt;/kbd&gt;: Copy the GitHub URL.
	+ &lt;kbd&gt;⌃⏎&lt;/kbd&gt;: Copy installation snippet for `lazy.nvim`, if available.
- `ip`: Search for locally installed plugins and `mason.nvim` packages
  (mnemonic: `[i]installed [p]lugins`).
	+ The modifiers (&lt;kbd&gt;⌘⌥⌃⇧&lt;/kbd&gt;) from the plugin-search also apply for this
	  command.
	+ In addition, &lt;kbd&gt;fn⏎&lt;/kbd&gt;: Open the local directory of the plugin in
	  Finder.
- `mason`: Search for tools available via
  [mason.nvim](https://github.com/williamboman/mason.nvim).
- `:old`: Displays and searches your `:oldfiles`. Opens them in the system's
  default editor for the respective filetype. (To open them directly in Neovim,
  you need a Neovim GUI with the `Open With` capability, such as
  [Neovide](http://neovide.dev).)

## Preview Pane
For the preview pane, install [mr-pennyworth/alfred-extra-pane](https://github.com/mr-pennyworth/alfred-extra-pane).

## Bug reports, feature requests or just leave a star?
➡️ [GitHub Repo](https://github.com/chrisgrieser/alfred-neovim-utilities/)

## Credits
- &lt;!-- harper: ignore --&gt;Plugin database provided by
  [awesome-neovim](https://github.com/rockerBOO/awesome-neovim), and
  [@alex-popov-tech's store.nvim](https://github.com/alex-popov-tech/store.nvim)
- `vimdoc` to HTML conversion by [@xaizek's
  vimdoc2html](https://github.com/xaizek/vimdoc2html).
- Preview pane by [@mr-pennyworth's
  alfred-extra-pane](https://github.com/mr-pennyworth/alfred-extra-pane).
- Logo by
  [@thomascannon](https://github.com/neovim/neovim/issues/43#issuecomment-35811450).

---

Workflow created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>02145BDB-6F80-437E-A4FE-880FDA77AC47</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>online plugin search</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>14ECFC26-C670-4D39-9A5C-C24B452554F2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>neovim docs</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>15317DBA-B342-4CB9-9F08-0CBA70D39C07</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>26EB4BCF-56A8-43E4-AED6-0C121B00D55E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>open help page</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>38E62E4E-8B37-483B-BBE3-257C2DD7EA30</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>6BBC3DF6-1094-4623-B790-2B5EF7C16EEE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>6EBCF2CC-4936-48C4-BCD8-42A7B39BDEDC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>recent files</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>711DEF51-292E-4367-94F7-C38BEF4B6FB6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>installed plugins and mason tools search</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>ACDBE56D-DF34-4CC2-B97C-B13DD486D083</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C906BF1E-7CF4-4407-9B97-53532876DCC0</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>installed plugins and mason tools search</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>C9BF5A96-9AC2-4AA6-A169-11DA39DAA306</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>D6E5E105-38E3-4BC1-90E3-52BEE556349D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy url</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>D818D50E-55A9-45FB-AC92-10FCF4BC8B60</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open local folder</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>F178F3ED-E855-4DC9-A178-D839E9C2C48D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>F5BC25CE-C34C-4EF9-B428-71EDB9170948</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>no default branch</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>FB617FEA-F94F-4A13-8327-5EC723FD66AB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:h</string>
				<key>placeholder</key>
				<string>:help</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>For searching the official neovim documentation (online, not inside nvim).</string>
			<key>label</key>
			<string>Keyword – online :help</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>help_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>np</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword – neovim plugin search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>plugin_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>:old</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>For searching recent files (:help oldfiles).</string>
			<key>label</key>
			<string>Keyword – oldfiles</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>old_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ip</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>For searching installed plugins &amp; mason tools.</string>
			<key>label</key>
			<string>Keyword – installed plugins</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>installed_plugin_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mason</string>
				<key>placeholder</key>
				<string>mason</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>For searching all tools available via mason.</string>
			<key>label</key>
			<string>Keyword – mason tools</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mason_tool_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.local/share/nvim/lazy</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/.local/share/nvim/lazy</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Path where the "start" and "opt" folder are located, mostly depending on the plugin manager you use. Default value is the default path for lazy.nvim. Required for searching installed plugins.</string>
			<key>label</key>
			<string>Plugin Installation Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>plugin_installation_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.local/share/nvim/mason</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/.local/share/nvim/mason</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Path where mason.nvim installs its tools. Default value is the default path for mason.nvim. Required for any mason-related feature of this plugin.</string>
			<key>label</key>
			<string>Mason Installation Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>mason_installation_path</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.6.1</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
