<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>help_search</key>
	<string>vim</string>
	<key>neovim_subreddit_search</key>
	<string>rr</string>
	<key>old_search</key>
	<string>old</string>
	<key>plugin_search</key>
	<string>nv</string>
</dict>
</plist>
