<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.terminal-dotfiles</string>
	<key>category</key>
	<string>❇️</string>
	<key>connections</key>
	<dict>
		<key>022D7D2B-3AAA-4479-88EA-37950B786C70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EC4C5E4-FD5F-4585-86AE-47B0A7AFA214</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D8928D6-5087-4D58-B121-45D4C8D4D57A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>020D9F57-BA78-4524-B525-C298807E62F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31B881AB-5CA0-469C-B9F8-E33171B4E403</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BA79A32-FAE5-4C6E-BE52-007074A12873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D3D6FCC-566C-4ECC-8D1C-AE3FE9BA3DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BA79A32-FAE5-4C6E-BE52-007074A12873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD22EA9-7218-4E8E-B508-601B4250BA47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal &amp; Dotfiles</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>022D7D2B-3AAA-4479-88EA-37950B786C70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-terminal.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9EC4C5E4-FD5F-4585-86AE-47B0A7AFA214</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9AD22EA9-7218-4E8E-B508-601B4250BA47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>source ~/.zshenv
osascript -l JavaScript "./open-dot-file.js" "$DOTFILE_FOLDER"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a dotfile</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4694D7EB-2482-44FA-881E-2597A9A90F9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open-scratch-file.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>020D9F57-BA78-4524-B525-C298807E62F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>scratch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Scratch File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D8928D6-5087-4D58-B121-45D4C8D4D57A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>curl "{query}" | fx .</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>5BA79A32-FAE5-4C6E-BE52-007074A12873</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>json||fx</string>
				<key>subtext</key>
				<string>&gt; curl "{query}" | fx .</string>
				<key>text</key>
				<string>View JSON in fx</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31B881AB-5CA0-469C-B9F8-E33171B4E403</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Preview JSON (fx)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3D3D6FCC-566C-4ECC-8D1C-AE3FE9BA3DB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>020D9F57-BA78-4524-B525-C298807E62F4</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>022D7D2B-3AAA-4479-88EA-37950B786C70</key>
		<dict>
			<key>note</key>
			<string>Open Terminal from everywhere</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>0D8928D6-5087-4D58-B121-45D4C8D4D57A</key>
		<dict>
			<key>note</key>
			<string>open scratch file</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>31B881AB-5CA0-469C-B9F8-E33171B4E403</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>3D3D6FCC-566C-4ECC-8D1C-AE3FE9BA3DB8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>4694D7EB-2482-44FA-881E-2597A9A90F9C</key>
		<dict>
			<key>note</key>
			<string>open dotfile</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>5BA79A32-FAE5-4C6E-BE52-007074A12873</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>9AD22EA9-7218-4E8E-B508-601B4250BA47</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>9EC4C5E4-FD5F-4585-86AE-47B0A7AFA214</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>open terminal at neovide / Finder location</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
