<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoreBookmarks</key>
	<false/>
	<key>ignoreMusic</key>
	<true/>
	<key>limit</key>
	<integer>1</integer>
	<key>runAppleScripts</key>
	<false/>
	<key>touchAliases</key>
	<false/>
	<key>touchFolders</key>
	<false/>
</dict>
</plist>
