<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.clipboard</string>
	<key>category</key>
	<string>⭐️</string>
	<key>connections</key>
	<dict>
		<key>0D61E9FC-A05A-4C10-B4E3-EE8FC0866575</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A00F9060-C8C1-42AA-9FB7-1104F7A40E1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10C0AD11-256B-43A0-AB25-0BFD581CE9C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BD613DE-67C3-46DE-B544-52922651AF7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1722B571-8C67-4F8E-83CC-B056C7A04CDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7EB5CA5-0498-4173-AF9E-A3B3EDD595B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94DCD17D-DA21-4C88-95B4-2E4DAE903C4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D4C472C-D8F1-4C6F-8449-C783B3793BD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7EB5CA5-0498-4173-AF9E-A3B3EDD595B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A00F9060-C8C1-42AA-9FB7-1104F7A40E1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10C0AD11-256B-43A0-AB25-0BFD581CE9C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0BC0002-BEC9-40E4-9EF5-DC5273E711B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1722B571-8C67-4F8E-83CC-B056C7A04CDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2547A67-7A21-4CA8-8416-907D54C8A89F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BDCE90E-0EB2-44EA-A552-CBE1236F8673</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A19AAD3-F0C5-4E44-92F0-A91FFAEC55E2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7EB5CA5-0498-4173-AF9E-A3B3EDD595B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2547A67-7A21-4CA8-8416-907D54C8A89F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Clipboard Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>us.zoom.xos</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0D61E9FC-A05A-4C10-B4E3-EE8FC0866575</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6BD613DE-67C3-46DE-B544-52922651AF7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>z</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>10C0AD11-256B-43A0-AB25-0BFD581CE9C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>killring.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A00F9060-C8C1-42AA-9FB7-1104F7A40E1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard:{query}}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8BDCE90E-0EB2-44EA-A552-CBE1236F8673</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8D4C472C-D8F1-4C6F-8449-C783B3793BD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sequential-paste.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7EB5CA5-0498-4173-AF9E-A3B3EDD595B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string>count</string>
						<key>uid</key>
						<string>8A19AAD3-F0C5-4E44-92F0-A91FFAEC55E2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B2547A67-7A21-4CA8-8416-907D54C8A89F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:reset</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reset SequentialPaste count</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B0BC0002-BEC9-40E4-9EF5-DC5273E711B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋 Reset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>94DCD17D-DA21-4C88-95B4-2E4DAE903C4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reset</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1722B571-8C67-4F8E-83CC-B056C7A04CDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>---

Created by [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0D61E9FC-A05A-4C10-B4E3-EE8FC0866575</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Killring: cycle through clipboard history</string>
			<key>xpos</key>
			<real>20</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>10C0AD11-256B-43A0-AB25-0BFD581CE9C4</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>undo previous paste</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>1722B571-8C67-4F8E-83CC-B056C7A04CDA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>6BD613DE-67C3-46DE-B544-52922651AF7A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>paste nth clipboard</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>8BDCE90E-0EB2-44EA-A552-CBE1236F8673</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>paste nth clipboard + line break</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>8D4C472C-D8F1-4C6F-8449-C783B3793BD6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>sequential paste</string>
			<key>xpos</key>
			<real>20</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>94DCD17D-DA21-4C88-95B4-2E4DAE903C4B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>A00F9060-C8C1-42AA-9FB7-1104F7A40E1E</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B0BC0002-BEC9-40E4-9EF5-DC5273E711B1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>20</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>B2547A67-7A21-4CA8-8416-907D54C8A89F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>is count</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F7EB5CA5-0498-4173-AF9E-A3B3EDD595B0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
