/* stylelint-disable selector-max-id, custom-property-pattern  */
/* ───────────────────────────────────────────────── */

#browser.theme-dark .UrlFragment--Highlight {
	font-weight: 600;
}

/* ───────────────────────────────────────────────── */
/* BOOKMARKS */

/* bookmark as colored adress bar */
.UrlBar-AddressField:has(.BookmarkButton .button-on) .UrlFragment-Wrapper {
	color: var(--colorHighlightBgFaded);
}

.UrlBar-AddressField:has(.BookmarkButton .button-on) .UrlFragment--Highlight {
	color: var(--colorHighlightBg);
}

.BookmarkButton {
	display: none;
}

/* ───────────────────────────────────────────────── */
/* SECURITY BUTTON */
.UrlBar-AddressField .SiteInfoButton {
	order: 1; /* move to the right */
	margin-right: 4px;
}

.SiteInfoButton-SecurityBadge:has(svg > g > path:nth-child(2)), /* briefly flashing info icon */
.toolbar-mainbar:not(:hover, :active) .SiteInfoButton:is(.secure) {
	opacity: 0;
}
