:root {
	--colorTabBar: var(--colorAccentBg);
	--colorFg: #D3D9E3;
	--colorFgAlpha: #D3D9E31A;
	--colorFgIntense: #F9FFFF;
	--colorFgFaded: #C9CED8;
	--colorFgFadedMore: #BEC3CD;
	--colorFgFadedMost: #A6ABB3;
	--colorBg: #2E2F37;
	--colorBgAlpha: #2E2F37E6;
	--colorBgAlphaHeavy: #2E2F37A6;
	--colorBgAlphaHeavier: #2E2F3740;
	--colorBgAlphaBlur: #2E2F37BF;
	--colorBgDark: #282931;
	--colorBgDarker: #23242B;
	--colorBgLight: #32333B;
	--colorBgLighter: #42434B;
	--colorBgLightIntense: #36373F;
	--colorBgIntense: #1B1C24;
	--colorBgIntenser: #14151C;
	--colorBgIntserAlpha: #101119EB;
	--colorBgInverse: #32333B;
	--colorBgInverser: #3E3F47;
	--colorBgFaded: #3A3B43;
	--backgroundBlur: blur(10px);
	--colorHighlightBg: #6590FD;
	--colorHighlightBgFaded: #9CC0FF;
	--colorHighlightBgAlpha: #6590FD1A;
	--colorHighlightBgDark: #4779E3;
	--colorHighlightFg: #FFF;
	--colorHighlightFgAlpha: #FFFFFF80;
	--colorHighlightFgAlphaHeavy: #FFFFFF40;
	--colorAccentBg: #44454D;
	--colorAccentBgAlpha: #7879828C;
	--colorAccentBgAlphaHeavy: #78798259;
	--colorAccentBgDark: #34353D;
	--colorAccentBgDarker: #1D1E25;
	--colorAccentBgFaded: #393939;
	--colorAccentBgFadedMore: #595A62;
	--colorAccentBgFadedMost: #787982;
	--colorAccentBorder: #44454D;
	--colorAccentBorderDark: #3A3B43;
	--colorAccentFg: #FFF;
	--colorAccentFgFaded: #CACACB;
	--colorAccentFgAlpha: #FFFFFF26;
	--colorAccentFgAlphaHeavy: #FFFFFF0D;
	--colorBorder: #1B1C24;
	--colorBorderDisabled: #23242B;
	--colorBorderSubtle: #212229;
	--colorBorderIntense: #0B0C15;
	--colorSuccessBg: #06A700;
	--colorSuccessBgAlpha: #06A7001A;
	--colorSuccessFg: #FFF;
	--colorWarningBg: #EFAF00;
	--colorWarningBgAlpha: #EFAF001A;
	--colorWarningFg: #000;
	--colorErrorBg: #C64539;
	--colorErrorBgAlpha: #C645391A;
	--colorErrorFg: #FFF;
	--colorWindowBg: #202127;
	--colorWindowFg: #FFF;
	--radiusRound: 100px;
	--radiusRounded: 2px;
	--radiusRoundedLess: 5px;
	--radius: 6px;
	--radiusHalf: 3px;
	--radiusCap: 6px;
	--scrollbarWidth: 12px;
}
