
/* stylelint-disable selector-max-id, custom-property-pattern  */
/* ────────────────────────────────────────────────────────────────────────── */

/* show extension button only when hovering url bar */
.toolbar-mainbar:not(:hover) .UrlBar-AddressField + .toolbar-extensions {
	display: none;
}

/* TODO this only works properly when hiding all extension buttons */
#browser #main .mainbar .toolbar-extensions {
	position: absolute;
	background: none;
	height: 30px;
	margin-left: 20px;
	right: 0;
}

.toolbar-extensions .button-toolbar:not(.ExtensionIcon) button:hover svg {
	color: var(--colorHighlightBg);
}

#browser .toolbar-extensions .button-toolbar:not(.ExtensionIcon) button {
	background: none;
}
