/* stylelint-disable selector-max-id, custom-property-pattern */
/* ────────────────────────────────────────────────────────── */

.UrlBar-PrivateWindowIndicator,
.window-buttongroup, /* macOS traffic lights */
.toolbar-extensions, /* extension button */
.button-toolbar.newtab, /* new tab button */
.toolbar-insideinput .button-toolbar:not(.BookmarkButton-Button), /* reader view button, password icon */
.UrlBar-AddressField .pageload-ticker, /* page load numbers (but not progress bar) */
.UrlBar-AddressField .drop-down-menu { /* dropdown button */
	display: none;
}

input#urlFieldInput::placeholder { opacity: 0 }

/* ────────────────────────────────────────────────────────────────────────── */

/* SECURITY BUTTON hidden when not hovered & not insecure site */
.UrlBar-AddressField .SiteInfoButton {
	order: 1; /* move to the right */
	margin-right: 4px;
}

.SiteInfoButton-SecurityBadge:has(svg > g > path:nth-child(2)), /* briefly flashing info icon */
.toolbar-mainbar:not(:hover, :active) .SiteInfoButton:is(.secure) {
	opacity: 0;
}

/* ────────────────────────────────────────────────────────────────────────── */

/* DOWNLOAD BUTTON only when download is active (`.progress`) */
.button-toolbar:has(button[name="DownloadButton"]):not(:has(.progress)) {
	display: none;
}

#header:has(+ #main .button-toolbar .progress) #tabs-container {
	padding-left: 30px;
}

#browser .button-toolbar:has(button[name="DownloadButton"]) button:hover {
	background: none;
	color: var(--colorHighlightBg);
}

/* ────────────────────────────────────────────────────────────────────────── */

/* BOOKMARKS */
.BookmarkButton {
	display: none;
}

.UrlBar-AddressField:has(.BookmarkButton .button-on)::before {
	content: "⭐";
	padding-left: 4px;
}

/* Bookmark Popup: Remove useless description and nickname fields */
.BookmarkLocationSelector-Header,
.BookmarkPopup .BookmarkInputField:is(:nth-child(3), :nth-child(4)) {
	display: none;
}

#browser .BookmarkPopup-LocationSelector {
	height: 315px;
}

/* ────────────────────────────────────────────────────────────────────────── */
/* VIMIUM NEW TAB ADAPTER */
#urlFieldInput[value="chrome-extension://cglpcedifkgalfdklahhcchnjepcckfn/newtab.html#content"] + .UrlFragment-Wrapper {
	display: none;
}
