/* stylelint-disable selector-max-id, custom-property-pattern */
/* ────────────────────────────────────────────────────────── */
.button-toolbar:has([name="Back"]),
.button-toolbar:has([name="Forward"]),
.button-toolbar:has([name="Reload"]),
.button-toolbar:has([name="Home"]),
.button-toolbar:has([name="AccountButton"]),
.UrlBar-PrivateWindowIndicator,
.window-buttongroup, /* macOS traffic lights */
.toolbar-extensions, /* extension button */
.button-toolbar.newtab, /* new tab button */
.toolbar-insideinput .button-toolbar:not(.BookmarkButton-Button), /* reader view button, password icon */
.UrlBar-AddressField .pageload-ticker, /* page load numbers (but not progress bar) */
.UrlBar-AddressField .drop-down-menu { /* dropdown button */
	display: none;
}

input#urlFieldInput::placeholder {
	opacity: 0;
}

/* ────────────────────────────────────────────────────────────────────────── */

/* SECURITY BUTTON hidden when not hovered & not insecure site */
.UrlBar-AddressField .SiteInfoButton {
	order: 1; /* move to the right */
	margin-right: 4px;
}

.SiteInfoButton-SecurityBadge:has(svg > g > path:nth-child(2)), /* briefly flashing info icon */
.toolbar-mainbar:not(:hover, :active) .SiteInfoButton:is(.secure) {
	opacity: 0;
}

/* ────────────────────────────────────────────────────────────────────────── */

/* DOWNLOAD BUTTON only when download is active (`.progress`) */
.button-toolbar:has(button[name="DownloadButton"]):not(:has(.progress)) {
	display: none;
}

#header:has(+ #main .button-toolbar .progress) #tabs-container {
	padding-left: 30px;
}

#browser .button-toolbar:has(button[name="DownloadButton"]) button:hover {
	background: none;
	color: var(--colorHighlightBg);
}

/* ────────────────────────────────────────────────────────────────────────── */

/* BOOKMARKS */
.BookmarkButton {
	display: none;
}

.UrlBar-AddressField:has(.BookmarkButton .button-on)::before {
	filter: grayscale(1) saturate(1.4);
	content: "⭐";
	padding-left: 4px;
}

/* Bookmark Popup: Remove useless description and nickname fields */
.BookmarkLocationSelector-Header,
.BookmarkPopup .BookmarkInputField:is(:nth-child(3), :nth-child(4)) {
	display: none;
}

.BookmarkPopup-Header.DialogHeader {
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
}

#browser .BookmarkPopup-LocationSelector {
	height: 315px;
}

/* ────────────────────────────────────────────────────────────────────────── */

/* Command Palette */
/* hide the "google {query}" entry, since for that I'd use vimium or Alfred
 * already and since it's the only entry that cannot be disabled in the settings */
.quick-command-container .quick-command:first-child {
	display: none;
}

.quick-command-container .quick-command:first-child ~ div {
	/* HACK since positioning of the non-first commands is hard coded as `style=top:…` */
	margin-top: -28px;
}

.quick-command-container .quick-commands .quick-command {
	padding: 0 6px;
}
