/* https://forum.vivaldi.net/topic/16684/inspecting-the-vivaldi-ui-with-devtools */
/* based on https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar/61?lang=en-US&page=4 */
/* stylelint-disable selector-max-id, declaration-no-important, custom-property-pattern  */
:root {
	--adressbar-width: 300px;
	--adressbar-focused-width: 400px;
}

/* ───────────────────────────────────────────────── */
#browser #tabs-container {
	padding-left: 12px;
}

#tabs-tabbar-container,
.UrlBar-AddressField {
	transition: 0.3s ease-in-out;
}

#tabs-tabbar-container {
	margin-left: var(--adressbar-width);
}

.UrlBar-AddressField {
	width: var(--adressbar-width);
}

/* extends the width of the url bar addressfield while it is focused */
.UrlBar-AddressField:focus-within {
	width: var(--adressbar-focused-width);
}

#header:has(+ #main .UrlBar-AddressField:focus-within) #tabs-tabbar-container {
	margin-left: var(--adressbar-focused-width);
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 30px;
	background: none;
}

.mainbar .toolbar-mainbar::before,
.mainbar .toolbar-extensions::before {
	display: none;
}

#browser:not(.is-settingspage) #main {
	position: unset;
}

.win.normal #header {
	height: 30px;
	min-height: unset !important;
}

/* ───────────────────────────────────────────────── */

/* bookmark button to the left so there is space for the extension icon */
.toolbar-insideinput:last-child {
	margin-right: 23px;
}

/* this only works properly when hiding all extension buttons */
.toolbar-extensions {
	position: absolute !important;
	background: none !important;
	height: 30px !important;
	margin-left: 20px !important;
	right: 0 !important;
}

/* ───────────────────────────────────────────────── */
/* get rid of small space to the right */
/* #header .top .tab-strip { */
/* 	position: relative; */
/* 	display: flex; */
/* } */
/**/
/* #header .top .tab-strip > span { */
/* 	display: inline-block; */
/* 	flex: 1 1 0; */
/* } */
/**/
/* #header .top .tab-strip > span > .tab-position { */
/* 	position: static; */
/* 	display: inline; */
/* } */
/**/
/* #header .top .tab-strip > span > .tab-position > .tab .tab-header { */
/* 	width: var(--Width); */
/* } */
