/* https://forum.vivaldi.net/topic/16684/inspecting-the-vivaldi-ui-with-devtools */
/* based on https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar/61?lang=en-US&page=4 */
/* stylelint-disable selector-max-id, declaration-no-important */
:root {
	--adressbar-width: 300px;
	--adressbar-focused-width: 500px;
}

/* ───────────────────────────────────────────────── */
#browser #tabs-container {
	padding-left: 12px;
}

#header:has(+ #main .UrlBar-AddressField:focus-within) #tabs-tabbar-container {
	margin-left: var(--adressbar-focused-width);
}

#tabs-tabbar-container,
.UrlBar-AddressField {
	transition: 0.15s ease-in-out !important;
}

#tabs-tabbar-container {
	margin-left: var(--adressbar-width);
}

.UrlBar-AddressField {
	width: var(--adressbar-width);
}

/* extends the width of the url bar addressfield while it is focused */
.UrlBar-AddressField:focus-within {
	width: var(--adressbar-focused-width);
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 30px;
	border-radius: 10px;
}

.mainbar .toolbar-mainbar::before,
.mainbar .toolbar-extensions::before {
	display: none;
}

.win.normal .mainbar .toolbar-mainbar {
	left: unset;
	right: unset;
}

.window-buttongroup {
	height: 35px;
}

#browser:not(.is-settingspage) #main {
	position: unset;
}

.win.normal #header {
	height: 30px;
	min-height: unset !important;
}
