/* https://forum.vivaldi.net/topic/16684/inspecting-the-vivaldi-ui-with-devtools */
/* based on https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar/61?lang=en-US&page=4 */
/* stylelint-disable selector-max-id, custom-property-pattern  */
:root {
	--adressbar-width: 300px;
	--adressbar-big-width: 450px;
}

/* ───────────────────────────────────────────────── */
#browser #tabs-container {
	padding-left: 12px;
}


#tabs-tabbar-container,
.UrlBar-AddressField {
	transition: 0.15s ease-in-out;
}

#tabs-tabbar-container {
	margin-left: var(--adressbar-width);
}

.UrlBar-AddressField {
	width: var(--adressbar-width);
}

/* extends the width of the url bar addressfield while it is focused/hovered */
#header:not(:has(.tab-strip span:nth-child(5))) + #main .UrlBar-AddressField, /* less than 5 tabs */
.UrlBar-AddressField:focus-within:not(:has(#urlFieldInput[value=""])) {
	width: var(--adressbar-big-width);
}

#tabs-tabbar-container:not(:has(.tab-strip span:nth-child(5))), /* less than 5 tabs */
#header:has(+ #main .UrlBar-AddressField:focus-within):not(:has(#urlFieldInput[value=""])) #tabs-tabbar-container {
	margin-left: var(--adressbar-big-width);
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 30px;
	background: none;
}

.mainbar .toolbar-mainbar::before,
.mainbar .toolbar-extensions::before {
	display: none;
}

#browser:not(.is-settingspage) #main {
	position: unset;
}

.win.normal #header {
	height: 30px;
	min-height: unset;
}

/* ───────────────────────────────────────────────── */
/* EXTENSION ICON */

/* show extension button only when hovering url bar */
.toolbar-mainbar:not(:hover) .UrlBar-AddressField + .toolbar-extensions {
	display: none;
}

/* TODO this only works properly when hiding all extension buttons */
#browser #main .mainbar .toolbar-extensions {
	position: absolute;
	background: none;
	height: 30px;
	margin-left: 20px;
	right: 0;
}


.toolbar-extensions .button-toolbar:not(.ExtensionIcon) button:hover svg {
	color: var(--colorHighlightBg);
}
#browser .toolbar-extensions .button-toolbar:not(.ExtensionIcon) button {
	background: none;
}
