/* https://forum.vivaldi.net/topic/16684/inspecting-the-vivaldi-ui-with-devtools */
/* based on https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar/61?lang=en-US&page=4 */
/* stylelint-disable selector-max-id, custom-property-pattern  */
/* ────────────────────────────────────────────────────────────────────────── */
:root {
	--adressbar-focussed-width: 99.5vw; /* only applied from 4+ tabs on */
	--adressbar-width-1-tab: 80vw;
	--adressbar-width-2-tab: 70vw;
	--adressbar-width-3-tab: 60vw;
	--adressbar-width-4-tab: 50vw;
	--adressbar-width-5-tab: 45vw;
	--adressbar-width-6-tab: 40vw;
	--adressbar-width-7-tab: 35vw;
	--adressbar-width-8-tab: 30vw;
	--adressbar-width-9-tab: 25vw;

	--animation: 50ms ease-in;
	--tab-height: 25px;
}

#tabs-tabbar-container {
	margin-left: var(--adressbar-width-1-tab);
}

#main .UrlBar-AddressField {
	width: var(--adressbar-width-1-tab);
}

/* less than x tabs */
#tabs-tabbar-container:has(.tab-strip > span:nth-child(2)) {
	margin-left: var(--adressbar-width-2-tab);
}

#header:has(.tab-strip > span:nth-child(2)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-2-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(3)) {
	margin-left: var(--adressbar-width-3-tab);
}

#header:has(.tab-strip > span:nth-child(3)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-3-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(4)) {
	margin-left: var(--adressbar-width-4-tab);
}

#header:has(.tab-strip > span:nth-child(4)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-4-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(5)) {
	margin-left: var(--adressbar-width-5-tab);
}

#header:has(.tab-strip > span:nth-child(5)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-5-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(6)) {
	margin-left: var(--adressbar-width-6-tab);
}

#header:has(.tab-strip > span:nth-child(6)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-6-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(7)) {
	margin-left: var(--adressbar-width-7-tab);
}

#header:has(.tab-strip > span:nth-child(7)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-7-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(8)) {
	margin-left: var(--adressbar-width-8-tab);
}

#header:has(.tab-strip > span:nth-child(8)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-8-tab);
}

#tabs-tabbar-container:has(.tab-strip > span:nth-child(9)) {
	margin-left: var(--adressbar-width-9-tab);
}

#header:has(.tab-strip > span:nth-child(9)) + #main .UrlBar-AddressField {
	width: var(--adressbar-width-9-tab);
	min-width: 250px;
}

/* ────────────────────────────────────────────────────────────────────────── */

/* extends the width of non-empty url bar while it is focused and does have at 
least 3 tabs */
#header:has(.tab-strip > span:nth-child(5)) + #main .UrlBar-AddressField:focus-within:not(:has(#urlFieldInput[value=""])) {
	width: var(--adressbar-focussed-width);
}

#header:has(+ #main .UrlBar-AddressField:focus-within):not(:has(+ #main #urlFieldInput[value=""])) #tabs-tabbar-container:has(.tab-strip > span:nth-child(5)) {
	opacity: 0;
}

/* ────────────────────────────────────────────────────────────────────────── */

#browser #tabs-container {
	padding-left: 8px;
}

/* HACK, since with one tab the negativ margin leads to buggy right sidebar */
#browser #tabs-container:has(.tab-strip > span:nth-child(2)) {
	margin-right: -35px;
}

.UrlBar-AddressField ~ .button-toolbar {
	margin-left: -6px;
}

#tabs-tabbar-container,
.UrlBar-AddressField {
	transition: var(--animation);
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 30px;
	background: none;
	border-bottom: none;
}

.mainbar .toolbar-mainbar::before,
.mainbar .toolbar-extensions::before {
	display: none;
}

#browser:not(.is-settingspage) #main {
	position: unset;
}

.win.normal #header {
	height: 30px;
	min-height: unset;
}

/* ────────────────────────────────────────────────────────────────────────── */
/* TAB LOOK */

#tabs-container .tab {
	border-radius: var(--radius);
}

#tabs-container .tab-strip div {
	height: var(--tab-height);
}

#tabs-container .tab-header {
	padding-top: 4px;
}

#tabs-container .tab-header .title {
	margin-top: -3px;
	padding-left: 4px;
}

#browser .tab.active::after,
#browser .tab.active::before {
	display: none;
}

/* unread indicator italic instead of icon */
#tabs-container .unread .title {
	font-style: italic;
}

#tabs-container .unread {
	background-image: none;
}

/* emphasize active tab when more than one, useful
 * e.g. when the tab has the same color as the website accent */
.tab-strip > span:not(:only-of-type) .tab.active {
	outline: 1px solid var(--colorAccentFgFaded);
}
