<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>hyper-seek.C950FDC3-9DD1-427D-82D5-2FC76BE7858E</string>
	</array>
	<key>showContacts</key>
	<false/>
	<key>showPreferences</key>
	<false/>
	<key>showUserDefined</key>
	<array>
		<string>com.apple.alias-file</string>
	</array>
</dict>
</plist>
