<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>duck-utils.598523D6-79B7-427B-8F31-6EB86246AFF8</string>
		<string>features.websearch.custom.4837815E-67BB-42EA-AEAB-4D0FAB8C20C1.fallback</string>
		<string>features.websearch.custom.DB17ABEC-DD58-4433-9513-C2D4D6C59B4B.fallback</string>
	</array>
	<key>showContacts</key>
	<false/>
	<key>showPreferences</key>
	<false/>
</dict>
</plist>
