<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>search-utilities.7CF3F1C2-DEBB-4A6E-A92F-9DB277F708AA</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showContacts</key>
	<false/>
	<key>showFolders</key>
	<true/>
	<key>showPreferences</key>
	<false/>
	<key>showUserDefined</key>
	<array>
		<string>com.apple.alias-file</string>
		<string>com.apple.web-internet-location</string>
	</array>
</dict>
</plist>
